Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

feat(billing): sweep master wallet AKT above fee reserve into ACT (#3561)
  apps/api/src/app/console.ts
  apps/api/src/billing/config/env.config.spec.ts
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/controllers/master-wallet-mint/master-wallet-mint.controller.spec.ts
  apps/api/src/billing/controllers/master-wallet-mint/master-wallet-mint.controller.ts
  apps/api/src/billing/services/master-wallet-mint/master-wallet-mint.service.spec.ts
  apps/api/src/billing/services/master-wallet-mint/master-wallet-mint.service.ts
Due: api

fix(billing): skip no-active-deployments guard on immediate post-deploy checks
  apps/api/src/billing/events/wallet-balance-reload-check.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.spec.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
Due: api

fix(billing): only bypass the no-active-deployments guard for deploy-triggered checks
  apps/api/src/billing/events/wallet-balance-reload-check.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.spec.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.ts
Due: api

fix(network): migrate governance proposal queries to gov v1 endpoints (#3573)
  apps/api/src/proposal/services/proposal/proposal.service.ts
  apps/api/test/functional/proposals.spec.ts
  packages/http-sdk/src/cosmos/cosmos-http.service.spec.ts
  packages/http-sdk/src/cosmos/cosmos-http.service.ts
  packages/http-sdk/src/cosmos/types.ts
Due: api

test(ci): move e2e inbox worker to standalone repository
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/e2e-inbox-worker-ci.yml
  apps/deploy-web/tests/ui/fixture/inbox-api-url.schema.ts
  apps/deploy-web/tests/ui/services/email-verification/index.ts
  apps/deploy-web/tests/ui/services/email-verification/worker-inbox.client.ts
  tools/e2e-inbox-worker/.gitignore
  tools/e2e-inbox-worker/README.md
  tools/e2e-inbox-worker/package-lock.json
  tools/e2e-inbox-worker/package.json
  tools/e2e-inbox-worker/schema.sql
  tools/e2e-inbox-worker/src/index.spec.ts
  tools/e2e-inbox-worker/src/index.ts
  tools/e2e-inbox-worker/test/env.d.ts
  tools/e2e-inbox-worker/test/raw-modules.d.ts
  tools/e2e-inbox-worker/tsconfig.json
  tools/e2e-inbox-worker/vitest.config.mts
  tools/e2e-inbox-worker/wrangler.jsonc
Due: deploy-web

feat(deployment): show a gpu interconnect indicator on deployment views (#3571)
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/shared/GpuInterconnectBadge.spec.tsx
  apps/deploy-web/src/components/shared/GpuInterconnectBadge.tsx
  apps/deploy-web/src/hooks/useDeclaredGpuInterconnect.spec.ts
  apps/deploy-web/src/hooks/useDeclaredGpuInterconnect.ts
  apps/deploy-web/src/utils/gpuInterconnect.spec.ts
  apps/deploy-web/src/utils/gpuInterconnect.ts
Due: deploy-web

refactor(billing): decommission the start-trial endpoint
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/routes/index.ts
  apps/api/src/billing/routes/start-trial/start-trial.router.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.spec.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.spec.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useEnsureTrialStarted.spec.ts
  apps/deploy-web/src/hooks/useEnsureTrialStarted.ts
  apps/deploy-web/src/hooks/useManagedWallet.spec.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/hooks/useOnboardingChrome.spec.ts
  apps/deploy-web/src/hooks/useOnboardingChrome.ts
  apps/deploy-web/src/lib/nextjs/api-routes-specs/auth-email-code-verify.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useManagedWalletQuery.spec.tsx
  apps/deploy-web/src/queries/useManagedWalletQuery.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/tests/seeders/wallet.ts
  packages/console-api-types/src/schema.d.ts
  packages/http-sdk/src/managed-wallet-http/managed-wallet-http.service.ts
Due: api, deploy-web

refactor(onboarding): remove legacy start-trial flow and endpoint (#3569)
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/routes/index.ts
  apps/api/src/billing/routes/start-trial/start-trial.router.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.spec.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.spec.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useEnsureTrialStarted.spec.ts
  apps/deploy-web/src/hooks/useEnsureTrialStarted.ts
  apps/deploy-web/src/hooks/useManagedWallet.spec.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/hooks/useOnboardingChrome.spec.ts
  apps/deploy-web/src/hooks/useOnboardingChrome.ts
  apps/deploy-web/src/lib/nextjs/api-routes-specs/auth-email-code-verify.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useManagedWalletQuery.spec.tsx
  apps/deploy-web/src/queries/useManagedWalletQuery.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/tests/seeders/wallet.ts
  packages/console-api-types/src/schema.d.ts
  packages/http-sdk/src/managed-wallet-http/managed-wallet-http.service.ts
Due: api, deploy-web

fix(alert): stop false unsaved-changes prompt when closing a deployment (#3570)
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
Due: deploy-web

fix(dx): run reload-job cleanup inside the ambient transaction (#3575)
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
Due: api

fix(indexer): serialize node status saves to prevent corrupted file
  apps/indexer/src/chain/dataStore.ts
  apps/indexer/src/chain/nodeAccessor.ts
Due: indexer

fix(indexer): handle SIGTERM/SIGINT with orderly shutdown
  apps/indexer/package.json
  apps/indexer/src/chain/dataStore.ts
  apps/indexer/src/chain/nodeAccessor.ts
  apps/indexer/src/index.ts
  apps/indexer/src/lib/server-logger/server-logger.ts
  apps/indexer/src/lib/shutdown-server/shutdown-server.spec.ts
  apps/indexer/src/lib/shutdown-server/shutdown-server.ts
  apps/indexer/src/lib/start-server/app-initializer.ts
  apps/indexer/src/lib/start-server/start-server.spec.ts
  apps/indexer/src/lib/start-server/start-server.ts
  apps/indexer/src/scheduler.ts
  apps/indexer/vitest.config.ts
  package-lock.json
Due: indexer

fix(indexer): enforce shutdown deadline and register signals earlier
  apps/indexer/package.json
  apps/indexer/src/index.ts
  apps/indexer/src/lib/server-logger/server-logger.ts
  apps/indexer/src/lib/shutdown-server/shutdown-server.spec.ts
  apps/indexer/src/lib/start-server/start-server.spec.ts
  apps/indexer/src/lib/start-server/start-server.ts
  package-lock.json
Due: indexer

fix(indexer): wait for startup to settle before shutting down
  apps/indexer/src/chain/dataStore.ts
  apps/indexer/src/index.ts
  apps/indexer/src/lib/server-logger/server-logger.ts
  apps/indexer/src/lib/shutdown-server/shutdown-server.spec.ts
  apps/indexer/src/lib/shutdown-server/shutdown-server.ts
  apps/indexer/src/lib/start-server/start-server.spec.ts
  apps/indexer/src/lib/start-server/start-server.ts
Due: indexer

refactor(deployment): remove the ui_gpu_interconnect feature flag
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

fix(indexer): handle SIGTERM/SIGINT with orderly shutdown (#3554)
  apps/indexer/package.json
  apps/indexer/src/chain/dataStore.ts
  apps/indexer/src/chain/nodeAccessor.ts
  apps/indexer/src/index.ts
  apps/indexer/src/lib/shutdown-server/shutdown-server.spec.ts
  apps/indexer/src/lib/shutdown-server/shutdown-server.ts
  apps/indexer/src/lib/start-server/app-initializer.ts
  apps/indexer/src/lib/start-server/start-server.spec.ts
  apps/indexer/src/lib/start-server/start-server.ts
  apps/indexer/src/scheduler.ts
  apps/indexer/vitest.config.ts
  package-lock.json
Due: indexer

refactor(billing): require wallet address in public wallet API responses (#3521)
  apps/api/src/billing/http-schemas/usage.schema.spec.ts
  apps/api/src/billing/http-schemas/usage.schema.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/billing/routes/usage/usage.router.ts
  apps/api/src/billing/services/refill/refill.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/billing/services/wallet-reader/wallet-reader.service.spec.ts
  apps/api/src/billing/services/wallet-reader/wallet-reader.service.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.spec.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/seeders/user-wallet.seeder.ts
  apps/deploy-web/src/hooks/useManagedWallet.spec.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

fix(billing): skip fixed-threshold auto top-up when no active deployments (#3576)
  apps/api/src/billing/events/wallet-balance-reload-check.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.spec.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.ts
Due: api

fix(auth): refresh expired access tokens and break the stale-session login loop
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.spec.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.tsx
  apps/deploy-web/src/components/user/SessionExpirySync/SessionExpirySync.spec.tsx
  apps/deploy-web/src/components/user/SessionExpirySync/SessionExpirySync.tsx
  apps/deploy-web/src/components/user/UserProviders/UserProviders.tsx
  apps/deploy-web/src/lib/auth0/getSessionWithRefresh/getSessionWithRefresh.spec.ts
  apps/deploy-web/src/lib/auth0/getSessionWithRefresh/getSessionWithRefresh.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/deploy-web/src/services/session-expiry-notifier/session-expiry-notifier.service.spec.ts
  apps/deploy-web/src/services/session-expiry-notifier/session-expiry-notifier.service.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
Due: deploy-web

refactor(deployment): remove the ui_gpu_interconnect feature flag (#3578)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

fix(indexer): address chain-indexer scaffold review findings
  apps/chain-indexer/drizzle/0000_remarkable_scourge.sql
  apps/chain-indexer/drizzle/meta/0000_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/src/config/env.config.spec.ts
  apps/chain-indexer/src/config/env.config.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/index.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.spec.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.ts
  apps/chain-indexer/src/pipeline/canonical-json.spec.ts
  apps/chain-indexer/src/pipeline/canonical-json.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.ts
  apps/chain-indexer/src/providers/db.provider.ts
  apps/chain-indexer/src/providers/type-registry.provider.ts
  apps/chain-indexer/src/rpc/rpc-types.ts
  apps/chain-indexer/src/server.ts
  apps/chain-indexer/src/services/hono-error-handler/hono-error-handler.service.ts
  apps/chain-indexer/src/services/shutdown-server/shutdown-server.ts
  apps/chain-indexer/src/services/start-server/start-server.ts
  apps/chain-indexer/test/setup-unit-tests.ts
Due: none

fix(auth): harden token refresh and session re-check paths
  apps/deploy-web/src/components/user/SessionExpirySync/SessionExpirySync.spec.tsx
  apps/deploy-web/src/components/user/SessionExpirySync/SessionExpirySync.tsx
  apps/deploy-web/src/lib/auth0/getSessionWithRefresh/getSessionWithRefresh.spec.ts
  apps/deploy-web/src/lib/auth0/getSessionWithRefresh/getSessionWithRefresh.ts
  apps/deploy-web/src/services/session-expiry-notifier/session-expiry-notifier.service.ts
Due: deploy-web

feat(indexer): add backfill range and tuning env config
  apps/chain-indexer/env/.env.sample
  apps/chain-indexer/src/config/env.config.spec.ts
  apps/chain-indexer/src/config/env.config.ts
Due: none

feat(indexer): support ordered batched commits with a parameterized checkpoint stream
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
Due: none

feat(indexer): add backfill range planner
  apps/chain-indexer/src/pipeline/backfill-planner.spec.ts
  apps/chain-indexer/src/pipeline/backfill-planner.ts
Due: none

feat(indexer): implement the backfill role for historical catch-up
  apps/chain-indexer/README.md
  apps/chain-indexer/src/index.ts
  apps/chain-indexer/src/pipeline/backfill-runner.service.spec.ts
  apps/chain-indexer/src/pipeline/backfill-runner.service.ts
Due: none

fix(auth): only clear cookies on invalid_grant and guard refresh throws
  apps/deploy-web/src/lib/auth0/getSessionWithRefresh/getSessionWithRefresh.spec.ts
  apps/deploy-web/src/lib/auth0/getSessionWithRefresh/getSessionWithRefresh.ts
Due: deploy-web

fix(indexer): address backfill review findings
  apps/chain-indexer/src/db/pg-advisory-leader-lock.ts
  apps/chain-indexer/src/pipeline/backfill-planner.spec.ts
  apps/chain-indexer/src/pipeline/backfill-planner.ts
  apps/chain-indexer/src/pipeline/backfill-runner.service.spec.ts
  apps/chain-indexer/src/pipeline/backfill-runner.service.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.ts
Due: none

fix(auth): gate login re-check on a cached user and a confirmed session
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.spec.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.tsx
  apps/deploy-web/src/hooks/useUser.ts
Due: deploy-web

refactor(indexer): share retry backoff and runner-role lifecycle across roles
  apps/chain-indexer/src/index.ts
  apps/chain-indexer/src/lib/retry-with-backoff/retry-with-backoff.spec.ts
  apps/chain-indexer/src/lib/retry-with-backoff/retry-with-backoff.ts
  apps/chain-indexer/src/pipeline/backfill-runner.service.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.ts
Due: none

refactor(auth): dedupe access-token-expiry predicate and proxy base URL
  apps/deploy-web/src/lib/auth0/getSessionWithRefresh/getSessionWithRefresh.ts
  apps/deploy-web/src/lib/auth0/isAccessTokenExpired/isAccessTokenExpired.spec.ts
  apps/deploy-web/src/lib/auth0/isAccessTokenExpired/isAccessTokenExpired.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/auth/auth/interceptors.ts
  apps/deploy-web/src/services/session-expiry-notifier/session-expiry-notifier.service.ts
Due: deploy-web

refactor(indexer): move continuity error and transient retry policy to shared modules
  apps/chain-indexer/src/pipeline/backfill-runner.service.ts
  apps/chain-indexer/src/pipeline/chain-continuity-error.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.ts
  apps/chain-indexer/src/pipeline/transient-retry.ts
Due: none

refactor(indexer): retry the continuity seed read like other transient reads
  apps/chain-indexer/src/pipeline/backfill-runner.service.ts
Due: none

fix(auth): log real re-check failures and redirect on a stale-user error
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.spec.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.tsx
  apps/deploy-web/src/components/user/SessionExpirySync/SessionExpirySync.spec.tsx
  apps/deploy-web/src/components/user/SessionExpirySync/SessionExpirySync.tsx
Due: deploy-web

refactor(indexer): drop advisory-lock leader election for concurrency-safe writes
  apps/chain-indexer/README.md
  apps/chain-indexer/src/db/pg-advisory-leader-lock.ts
  apps/chain-indexer/src/pipeline/backfill-runner.service.spec.ts
  apps/chain-indexer/src/pipeline/backfill-runner.service.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.ts
  apps/chain-indexer/src/pipeline/transient-retry.ts
Due: none

refactor(indexer): use the exported LoggerService type instead of a local alias
  apps/chain-indexer/src/index.ts
Due: none

fix(auth): scope SESSION_RECHECK_FAILED to a notifier-triggered re-check
  apps/deploy-web/src/components/user/SessionExpirySync/SessionExpirySync.spec.tsx
  apps/deploy-web/src/components/user/SessionExpirySync/SessionExpirySync.tsx
Due: deploy-web

fix(auth): clear the re-check outcome flag on every settle
  apps/deploy-web/src/components/user/SessionExpirySync/SessionExpirySync.spec.tsx
  apps/deploy-web/src/components/user/SessionExpirySync/SessionExpirySync.tsx
Due: deploy-web

fix(auth): refresh expired access tokens and break the stale-session login loop (#3581)
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.spec.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.tsx
  apps/deploy-web/src/components/user/SessionExpirySync/SessionExpirySync.spec.tsx
  apps/deploy-web/src/components/user/SessionExpirySync/SessionExpirySync.tsx
  apps/deploy-web/src/components/user/UserProviders/UserProviders.tsx
  apps/deploy-web/src/hooks/useUser.ts
  apps/deploy-web/src/lib/auth0/getSessionWithRefresh/getSessionWithRefresh.spec.ts
  apps/deploy-web/src/lib/auth0/getSessionWithRefresh/getSessionWithRefresh.ts
  apps/deploy-web/src/lib/auth0/isAccessTokenExpired/isAccessTokenExpired.spec.ts
  apps/deploy-web/src/lib/auth0/isAccessTokenExpired/isAccessTokenExpired.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/deploy-web/src/services/auth/auth/interceptors.ts
  apps/deploy-web/src/services/session-expiry-notifier/session-expiry-notifier.service.spec.ts
  apps/deploy-web/src/services/session-expiry-notifier/session-expiry-notifier.service.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
Due: deploy-web
