Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

refactor(provider): add readonly to constructor-assigned private fields
  apps/provider-inventory/src/services/chain-provider-poller/chain-provider-poller.service.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/provider-inventory-writer/provider-inventory-writer.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

test(provider): add unit tests for StreamLifecycleManagerService
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

fix(observability): tag chain-db pg connections with application_name
  apps/api/src/chain/providers/sequelize.provider.ts
  apps/indexer/src/db/dbConnection.ts
Due: api, indexer

fix(observability): tag chain-db pg connections with application_name (#3157)
  apps/api/src/chain/providers/sequelize.provider.ts
  apps/indexer/src/db/dbConnection.ts
Due: api, indexer

fix(deployment): cache cosmos REST fallback routes
  apps/api/src/deployment/routes/deployments/deployments.router.ts
Due: api

fix(deployment): memoize fallback deployment reader responses
  apps/api/src/deployment/services/fallback-deployment-reader/fallback-deployment-reader.service.ts
Due: api

chore: adds default case in reusable-build to support provider-inventory
  .github/workflows/reusable-build-image.yml
Due: none

feat(provider): implement streamer walking skeleton with end-to-end write path (#3153)
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/index.ts
  apps/provider-inventory/src/lib/compute-rollups/compute-rollups.spec.ts
  apps/provider-inventory/src/lib/compute-rollups/compute-rollups.ts
  apps/provider-inventory/src/lib/project-row/project-row.spec.ts
  apps/provider-inventory/src/lib/project-row/project-row.ts
  apps/provider-inventory/src/providers/chain-query.provider.ts
  apps/provider-inventory/src/providers/drizzle.provider.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/providers/logger-factory.provider.ts
  apps/provider-inventory/src/providers/provider-stream.provider.ts
  apps/provider-inventory/src/services/chain-provider-poller/chain-provider-poller.service.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/provider-inventory-writer/provider-inventory-writer.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/types/chain-provider.ts
  apps/provider-inventory/src/types/inventory.ts
  apps/provider-inventory/src/types/stream-status.ts
Due: none

chore: fixes provider-console build
  apps/provider-console/package.json
  apps/provider-console/src/context/CustomChainProvider/CustomChainProvider.tsx
  package-lock.json
Due: provider-console

fix: upgrade deps to resolve security alerts
  apps/api/package.json
  apps/api/src/billing/lib/signing-stargate-client-factory/signing-stargate-client.factory.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.ts
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/log-collector/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.ts
  package-lock.json
  package.json
  packages/http-sdk/package.json
  packages/logging/package.json
  packages/net/package.json
  packages/react-query-proxy/package.json
  packages/ui/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

chore: upgrades @sentry/cli and trust its install
  apps/deploy-web/package.json
  apps/stats-web/package.json
  package-lock.json
  package.json
Due: deploy-web, stats-web

fix: isolates self custody constant
  apps/deploy-web/src/hooks/useIsSelfCustodyEnabled.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.ts
Due: deploy-web

fix: upgrade deps to resolve security alerts (#3138)
  apps/api/package.json
  apps/api/src/billing/lib/signing-stargate-client-factory/signing-stargate-client.factory.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.ts
  apps/deploy-web/package.json
  apps/deploy-web/src/hooks/useIsSelfCustodyEnabled.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.ts
  apps/indexer/package.json
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/log-collector/package.json
  apps/notifications/package.json
  apps/provider-console/package.json
  apps/provider-console/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.ts
  package-lock.json
  package.json
  packages/http-sdk/package.json
  packages/logging/package.json
  packages/net/package.json
  packages/react-query-proxy/package.json
  packages/ui/package.json
Due: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

docs: update Chinese documentation labels
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  README.md
  README.zh-CN.md
Due: none

docs: add simplified chinese core docs
  BUILD.md
  BUILD.zh-CN.md
  CLAUDE.md
  CLAUDE.zh-CN.md
  CONTRIBUTING.zh-CN.md
  README.zh-CN.md
  doc/apps-configuration.md
  doc/apps-configuration.zh-CN.md
  doc/auth.md
  doc/auth.zh-CN.md
  doc/database-structure.md
  doc/database-structure.zh-CN.md
  doc/release-workflow.md
  doc/release-workflow.zh-CN.md
Due: none

docs: capitalize Simplified Chinese labels
  BUILD.md
  BUILD.zh-CN.md
  CLAUDE.md
  CLAUDE.zh-CN.md
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  README.md
  README.zh-CN.md
  doc/apps-configuration.md
  doc/apps-configuration.zh-CN.md
  doc/auth.md
  doc/auth.zh-CN.md
  doc/database-structure.md
  doc/database-structure.zh-CN.md
  doc/release-workflow.md
  doc/release-workflow.zh-CN.md
Due: none

docs: refine Chinese translation wording
  CONTRIBUTING.zh-CN.md
  README.zh-CN.md
Due: none

feat: implements retriable cosmos rpc client in tx-signer
  apps/tx-signer/src/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/tx-signer/src/lib/batch-signing-client/batch-signing-client.service.ts
  apps/tx-signer/src/lib/retrying-rpc-client/retrying-rpc-client.spec.ts
  apps/tx-signer/src/lib/retrying-rpc-client/retrying-rpc-client.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.spec.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.ts
Due: none

chore: adds default case in reusable-build to support provider-inventory (#3159)
  .github/workflows/reusable-build-image.yml
Due: none

feat: implements retriable cosmos rpc client in tx-signer (#3161)
  apps/tx-signer/src/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/tx-signer/src/lib/batch-signing-client/batch-signing-client.service.ts
  apps/tx-signer/src/lib/retrying-rpc-client/retrying-rpc-client.spec.ts
  apps/tx-signer/src/lib/retrying-rpc-client/retrying-rpc-client.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.spec.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.ts
Due: none

feat: implements logic to prevent updates when there are no changes in inventory
  apps/provider-inventory/src/lib/projected-row-equals/projected-row-equals.spec.ts
  apps/provider-inventory/src/lib/projected-row-equals/projected-row-equals.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

feat: implements logic to prevent updates when there are no changes in inventory (#3162)
  apps/provider-inventory/src/lib/projected-row-equals/projected-row-equals.spec.ts
  apps/provider-inventory/src/lib/projected-row-equals/projected-row-equals.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

chore: ensures codeql is run on main to autoclose alerts
  .github/workflows/all-ci-unsafe.yml
Due: none

feat(provider): reconnect via Cockatiel + is_online gating + startup ritual
  apps/provider-inventory/package.json
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/index.ts
  apps/provider-inventory/src/services/provider-inventory-writer/provider-inventory-writer.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/services/streamer-bootstrap/streamer-bootstrap.spec.ts
  apps/provider-inventory/src/services/streamer-bootstrap/streamer-bootstrap.ts
  apps/provider-inventory/tsconfig.json
  package-lock.json
Due: none

feat(provider): reconnect via Cockatiel + is_online gating + startup ritual (#3163)
  apps/provider-inventory/package.json
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/index.ts
  apps/provider-inventory/src/services/provider-inventory-writer/provider-inventory-writer.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/services/streamer-bootstrap/streamer-bootstrap.spec.ts
  apps/provider-inventory/src/services/streamer-bootstrap/streamer-bootstrap.ts
  apps/provider-inventory/tsconfig.json
  package-lock.json
Due: none

chore: ensures codeql is run on main to autoclose alerts (#3166)
  .github/workflows/all-ci-unsafe.yml
Due: none

refactor(api): standardize operationId naming and enforce via lint
  apps/api/src/auth/routes/api-keys/api-keys.router.ts
  apps/api/src/core/services/openapi-docs/openapi-docs.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelCreateContainer/NotificationChannelCreateContainer.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelEditContainer/NotificationChannelEditContainer.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelsListContainer/NotificationChannelsListContainer.tsx
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.ts
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.ts
  apps/notifications/swagger/swagger.json
  package-lock.json
  packages/console-api-types/package.json
  packages/console-api-types/src/notifications/operations.gen.ts
  packages/console-api-types/src/notifications/schema.d.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
  packages/dev-config/.eslintrc.base.js
  packages/dev-config/eslint-plugin-akash/index.js
  packages/dev-config/eslint-plugin-akash/rules/operation-id-format.js
  packages/openapi-sdk/package.json
Due: api, deploy-web, notifications

refactor(api): standardize operationId naming and enforce via lint (#3167)
  apps/api/src/auth/routes/api-keys/api-keys.router.ts
  apps/api/src/core/services/openapi-docs/openapi-docs.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelCreateContainer/NotificationChannelCreateContainer.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelEditContainer/NotificationChannelEditContainer.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelsListContainer/NotificationChannelsListContainer.tsx
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.ts
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.ts
  apps/notifications/swagger/swagger.json
  package-lock.json
  packages/console-api-types/package.json
  packages/console-api-types/src/notifications/operations.gen.ts
  packages/console-api-types/src/notifications/schema.d.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
  packages/dev-config/.eslintrc.base.js
  packages/dev-config/eslint-plugin-akash/index.js
  packages/dev-config/eslint-plugin-akash/rules/operation-id-format.js
  packages/openapi-sdk/package.json
Due: api, deploy-web, notifications

feat(provider): discovery reconciler and multi-provider lifecycle
  apps/provider-inventory/env/.env.functional.test
  apps/provider-inventory/package.json
  apps/provider-inventory/src/index.ts
  apps/provider-inventory/src/lib/discovery-reconciler/discovery-reconciler.spec.ts
  apps/provider-inventory/src/lib/discovery-reconciler/discovery-reconciler.ts
  apps/provider-inventory/src/lib/generators/chunkify.ts
  apps/provider-inventory/src/providers/postgres.provider.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.spec.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/services/streamer-bootstrap/streamer-bootstrap.spec.ts
  apps/provider-inventory/src/services/streamer-bootstrap/streamer-bootstrap.ts
  apps/provider-inventory/test/functional/discovery-pipeline.spec.ts
  apps/provider-inventory/test/services/test-database.service.ts
  apps/provider-inventory/test/setup-functional-env.ts
  apps/provider-inventory/test/setup-functional-tests.ts
  apps/provider-inventory/vitest.config.ts
  package-lock.json
Due: none

feat(provider): discovery reconciler and multi-provider lifecycle (#3164)
  apps/provider-inventory/env/.env.functional.test
  apps/provider-inventory/package.json
  apps/provider-inventory/src/index.ts
  apps/provider-inventory/src/lib/discovery-reconciler/discovery-reconciler.spec.ts
  apps/provider-inventory/src/lib/discovery-reconciler/discovery-reconciler.ts
  apps/provider-inventory/src/lib/generators/chunkify.ts
  apps/provider-inventory/src/providers/postgres.provider.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.spec.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/services/streamer-bootstrap/streamer-bootstrap.spec.ts
  apps/provider-inventory/src/services/streamer-bootstrap/streamer-bootstrap.ts
  apps/provider-inventory/test/functional/discovery-pipeline.spec.ts
  apps/provider-inventory/test/services/test-database.service.ts
  apps/provider-inventory/test/setup-functional-env.ts
  apps/provider-inventory/test/setup-functional-tests.ts
  apps/provider-inventory/vitest.config.ts
  package-lock.json
Due: none

feat(auth): redesign initial screen with rotating globe panel behind flag
  apps/api/src/gpu/routes/gpu.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/package.json
  apps/deploy-web/public/images/auth-panel-noise.webp
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.spec.tsx
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.tsx
  apps/deploy-web/src/components/auth/AuthLayout/__snapshots__/AuthLayout.spec.tsx.snap
  apps/deploy-web/src/components/auth/AuthLayoutV2/AuthLayoutV2.spec.tsx
  apps/deploy-web/src/components/auth/AuthLayoutV2/AuthLayoutV2.tsx
  apps/deploy-web/src/components/auth/AuthLayoutV2/markers.ts
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/globe/Globe/Globe.spec.tsx
  apps/deploy-web/src/components/globe/Globe/Globe.tsx
  apps/deploy-web/src/components/gpu/H100PriceStatus/H100PriceStatus.spec.tsx
  apps/deploy-web/src/components/gpu/H100PriceStatus/H100PriceStatus.tsx
  apps/deploy-web/src/types/feature-flags.ts
  package-lock.json
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

feat: adds dumb route for bid-screening
  apps/provider-inventory/src/controllers/bid-screening/bid-screening.controller.ts
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/index.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/providers/stream-boostrap.provider.ts
  apps/provider-inventory/src/routes/bid-screening/bid-screening.router.ts
  apps/provider-inventory/src/routes/healthz/healthz.router.ts
  apps/provider-inventory/src/routes/index.ts
  apps/provider-inventory/src/services/streamer-bootstrap/streamer-bootstrap.spec.ts
  apps/provider-inventory/src/services/streamer-bootstrap/streamer-bootstrap.ts
Due: none

feat: adds dumb route for bid-screening (#3170)
  apps/provider-inventory/src/controllers/bid-screening/bid-screening.controller.ts
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/index.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/providers/stream-boostrap.provider.ts
  apps/provider-inventory/src/routes/bid-screening/bid-screening.router.ts
  apps/provider-inventory/src/routes/healthz/healthz.router.ts
  apps/provider-inventory/src/routes/index.ts
  apps/provider-inventory/src/services/streamer-bootstrap/streamer-bootstrap.spec.ts
  apps/provider-inventory/src/services/streamer-bootstrap/streamer-bootstrap.ts
Due: none

refactor: migrates bid matching logic to provider-inventory
  apps/api/src/bid-screening/config/env.config.ts
  apps/api/src/bid-screening/controllers/bid-screening/bid-screening.controller.spec.ts
  apps/api/src/bid-screening/controllers/bid-screening/bid-screening.controller.ts
  apps/api/src/bid-screening/providers/config.provider.ts
  apps/api/src/bid-screening/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/api/src/bid-screening/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/package.json
  apps/provider-inventory/src/controllers/bid-screening/bid-screening.controller.ts
  apps/provider-inventory/src/index.ts
  apps/provider-inventory/src/lib/gpu-attribute-parser/gpu-attribute-parser.spec.ts
  apps/provider-inventory/src/lib/gpu-attribute-parser/gpu-attribute-parser.ts
  apps/provider-inventory/src/lib/groupspec-mapper/groupspec-mapper.spec.ts
  apps/provider-inventory/src/lib/groupspec-mapper/groupspec-mapper.ts
  apps/provider-inventory/src/lib/inventory-mapper/inventory-mapper.spec.ts
  apps/provider-inventory/src/lib/inventory-mapper/inventory-mapper.ts
  apps/provider-inventory/src/lib/resource-pair/resource-pair.spec.ts
  apps/provider-inventory/src/lib/resource-pair/resource-pair.ts
  apps/provider-inventory/src/lib/storage-attribute-parser/storage-attribute-parser.spec.ts
  apps/provider-inventory/src/lib/storage-attribute-parser/storage-attribute-parser.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.spec.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.spec.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.ts
  apps/provider-inventory/src/types/inventory.types.ts
  apps/provider-inventory/src/types/provider.ts
  package-lock.json
Due: api

refactor: migrates bid matching logic to provider-inventory (#3171)
  apps/api/src/bid-screening/config/env.config.ts
  apps/api/src/bid-screening/controllers/bid-screening/bid-screening.controller.spec.ts
  apps/api/src/bid-screening/controllers/bid-screening/bid-screening.controller.ts
  apps/api/src/bid-screening/providers/config.provider.ts
  apps/api/src/bid-screening/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/api/src/bid-screening/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/package.json
  apps/provider-inventory/src/controllers/bid-screening/bid-screening.controller.ts
  apps/provider-inventory/src/index.ts
  apps/provider-inventory/src/lib/gpu-attribute-parser/gpu-attribute-parser.spec.ts
  apps/provider-inventory/src/lib/gpu-attribute-parser/gpu-attribute-parser.ts
  apps/provider-inventory/src/lib/groupspec-mapper/groupspec-mapper.spec.ts
  apps/provider-inventory/src/lib/groupspec-mapper/groupspec-mapper.ts
  apps/provider-inventory/src/lib/inventory-mapper/inventory-mapper.spec.ts
  apps/provider-inventory/src/lib/inventory-mapper/inventory-mapper.ts
  apps/provider-inventory/src/lib/resource-pair/resource-pair.spec.ts
  apps/provider-inventory/src/lib/resource-pair/resource-pair.ts
  apps/provider-inventory/src/lib/storage-attribute-parser/storage-attribute-parser.spec.ts
  apps/provider-inventory/src/lib/storage-attribute-parser/storage-attribute-parser.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.spec.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.spec.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.ts
  apps/provider-inventory/src/types/inventory.types.ts
  apps/provider-inventory/src/types/provider.ts
  package-lock.json
Due: api

refactor: removes intermediate layers to speed up bid matching
  apps/provider-inventory/.eslintrc.js
  apps/provider-inventory/src/lib/compute-rollups/compute-rollups.spec.ts
  apps/provider-inventory/src/lib/compute-rollups/compute-rollups.ts
  apps/provider-inventory/src/lib/inventory-mapper/inventory-mapper.spec.ts
  apps/provider-inventory/src/lib/inventory-mapper/inventory-mapper.ts
  apps/provider-inventory/src/lib/jsonb-bigint/jsonb-bigint.column.ts
  apps/provider-inventory/src/lib/project-row/project-row.spec.ts
  apps/provider-inventory/src/lib/project-row/project-row.ts
  apps/provider-inventory/src/lib/projected-row-equals/projected-row-equals.spec.ts
  apps/provider-inventory/src/lib/projected-row-equals/projected-row-equals.ts
  apps/provider-inventory/src/lib/resource-pair/resource-pair.ts
  apps/provider-inventory/src/lib/stream-status-mapper/stream-status-mapper.spec.ts
  apps/provider-inventory/src/lib/stream-status-mapper/stream-status-mapper.ts
  apps/provider-inventory/src/model-schemas/provider-inventory/provider-inventory.schema.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/providers/provider-stream.provider.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.spec.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.spec.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/provider-stream-factory/provider-stream-factory.sevice.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/types/inventory.ts
  apps/provider-inventory/src/types/inventory.types.ts
  apps/provider-inventory/src/types/provider.ts
  apps/provider-inventory/src/types/stream-status.ts
  apps/provider-inventory/test/functional/discovery-pipeline.spec.ts
Due: none

feat(auth): redesign initial screen with rotating globe panel behind flag (#3168)
  apps/api/src/gpu/routes/gpu.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/package.json
  apps/deploy-web/public/images/auth-panel-noise.webp
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.spec.tsx
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.tsx
  apps/deploy-web/src/components/auth/AuthLayout/__snapshots__/AuthLayout.spec.tsx.snap
  apps/deploy-web/src/components/auth/AuthLayoutV2/AuthLayoutV2.spec.tsx
  apps/deploy-web/src/components/auth/AuthLayoutV2/AuthLayoutV2.tsx
  apps/deploy-web/src/components/auth/AuthLayoutV2/markers.ts
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/globe/Globe/Globe.spec.tsx
  apps/deploy-web/src/components/globe/Globe/Globe.tsx
  apps/deploy-web/src/components/gpu/H100PriceStatus/H100PriceStatus.spec.tsx
  apps/deploy-web/src/components/gpu/H100PriceStatus/H100PriceStatus.tsx
  apps/deploy-web/src/types/feature-flags.ts
  package-lock.json
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

chore(dx): add apps to console:dev script and run db detached
  package.json
Due: none

chore(dx): add apps to console:dev script and run db detached (#3173)
  package.json
Due: none

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
