Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

refactor: refactors turnstile and add tests
  apps/deploy-web/next.config.js
  apps/deploy-web/package.json
  apps/deploy-web/src/components/turnstile/Turnstile.spec.tsx
  apps/deploy-web/src/components/turnstile/Turnstile.tsx
  apps/deploy-web/tests/unit/setup.ts
  package-lock.json
Due: deploy-web

feat(billing): make the payment work
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/pages/pay.tsx
  packages/ui/components/custom/popup.tsx
Due: api, deploy-web

feat(contact-point): fetches contact point on the backend for edit
  apps/deploy-web/src/components/alerts/EditContactPointPage.tsx
  apps/deploy-web/src/pages/alerts/contact-points/[id]/index.tsx
  apps/deploy-web/src/services/server-side-notifications-api/server-side-notifications-api.service.ts
  apps/notifications/src/common/controllers/worker-healthz/worker-healthz.controller.ts
  apps/notifications/src/interfaces/rest/controllers/healthz/healthz.controller.ts
  apps/notifications/src/interfaces/rest/decorators/http-validate/http-validate.decorator.ts
  apps/notifications/swagger/swagger.json
  packages/react-query-sdk/src/notifications/schema.ts
  packages/react-query-sdk/src/notifications/services/V1Service.ts
Due: deploy-web, notifications

feat(alert): adds alerts name column
  apps/notifications/drizzle/0001_tidy_lucky_pierre.sql
  apps/notifications/drizzle/meta/0001_snapshot.json
  apps/notifications/drizzle/meta/_journal.json
  apps/notifications/src/common/controllers/worker-healthz/worker-healthz.controller.ts
  apps/notifications/src/interfaces/rest/controllers/healthz/healthz.controller.ts
  apps/notifications/src/interfaces/rest/http-schemas/alert.http-schema.ts
  apps/notifications/src/modules/alert/model-schemas/alert.schema.ts
  apps/notifications/swagger/swagger.json
  apps/notifications/test/seeders/chain-message-alert.seeder.ts
  apps/notifications/test/seeders/deployment-balance-alert.seeder.ts
  packages/react-query-sdk/src/notifications/schema.ts
Due: notifications

feat(contact-point): fetches contact point on the backend for edit
  apps/deploy-web/src/components/alerts/EditContactPointPage.tsx
  apps/deploy-web/src/pages/alerts/contact-points/[id]/index.tsx
  apps/deploy-web/src/services/server-side-notifications-api/server-side-notifications-api.service.ts
  apps/notifications/src/interfaces/rest/decorators/http-validate/http-validate.decorator.ts
  apps/notifications/swagger/swagger.json
  packages/react-query-sdk/src/notifications/schema.ts
  packages/react-query-sdk/src/notifications/services/V1Service.ts
Due: deploy-web, notifications

chore: add nodePort to deploy-k8s
  .github/workflows/reusable-deploy-k8s.yml
Due: none

chore: add helm indexer values
  .github/workflows/reusable-deploy-k8s.yml
  .helm/indexer-prod-mainnet-values.yaml
  .helm/indexer-prod-sandbox-values.yaml
Due: none

chore: add nodePort to deploy-k8s (#1426)
  .helm/indexer-prod-mainnet-values.yaml
  .helm/indexer-prod-sandbox-values.yaml
Due: none

feat(billing): add to remove a card + handle add card gracefuly
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/routes/stripe-setup/stripe-setup.router.ts
  apps/deploy-web/src/pages/pay.tsx
  packages/http-sdk/src/stripe/stripe.service.ts
Due: api, deploy-web

feat: use ssr contact point for edit view data
  apps/deploy-web/src/components/alerts/ContactPointEditContainer/ContactPointEditContainer.spec.tsx
  apps/deploy-web/src/components/alerts/ContactPointEditContainer/ContactPointEditContainer.tsx
  apps/deploy-web/src/components/alerts/ContactPointForm/ContactPointForm.spec.tsx
  apps/deploy-web/src/components/alerts/ContactPointForm/ContactPointForm.tsx
  apps/deploy-web/src/components/alerts/EditContactPointPage.tsx
Due: deploy-web

feat: remove tabs layout from edit and create pages
  apps/deploy-web/src/components/alerts/AlertsLayout.tsx
  apps/deploy-web/src/components/alerts/ContactPointForm/ContactPointForm.tsx
  apps/deploy-web/src/components/alerts/CreateContactPointPage.tsx
  apps/deploy-web/src/components/alerts/EditContactPointPage.tsx
Due: deploy-web

fix: adjust error message in contact form
  apps/deploy-web/src/components/alerts/ContactPointForm/ContactPointForm.tsx
Due: deploy-web

feat(contact-point): implements edit ui
  apps/deploy-web/src/components/alerts/AlertsLayout.tsx
  apps/deploy-web/src/components/alerts/ContactPointEditContainer/ContactPointEditContainer.spec.tsx
  apps/deploy-web/src/components/alerts/ContactPointEditContainer/ContactPointEditContainer.tsx
  apps/deploy-web/src/components/alerts/ContactPointForm/ContactPointForm.spec.tsx
  apps/deploy-web/src/components/alerts/ContactPointForm/ContactPointForm.tsx
  apps/deploy-web/src/components/alerts/CreateContactPointPage.tsx
  apps/deploy-web/src/components/alerts/EditContactPointPage.tsx
Due: deploy-web

refactor: move /v1/deployment/{owner}/{dseq} to modules
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/repositories/message/message.repository.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/message-service/message.service.ts
  apps/api/src/routes/v1/deployments/byOwnerDseq.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/services/db/deploymentService.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/types/rest/akashDeploymentInfoResponse.ts
  apps/api/test/functional/deployments.spec.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
Due: api

refactor: move /v1/deployment/{owner}/{dseq} to modules (#1428)
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/repositories/message/message.repository.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/message-service/message.service.ts
  apps/api/src/routes/v1/deployments/byOwnerDseq.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/services/db/deploymentService.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/types/rest/akashDeploymentInfoResponse.ts
  apps/api/test/functional/deployments.spec.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
Due: api

feat(billing): fetch customer discounts and apply
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/routes/stripe-setup/stripe-setup.router.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/pages/pay.tsx
  packages/http-sdk/src/stripe/stripe.service.ts
Due: api, deploy-web

feat(alert): implements list endpoint
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/src/interfaces/rest/http-schemas/alert.http-schema.ts
  apps/notifications/src/modules/alert/repositories/alert/alert-json-fields.schema.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/alert/services/chain-message-alert/chain-message-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/chain-message-alert/chain-message-alert.service.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.ts
  apps/notifications/swagger/swagger.json
  apps/notifications/test/functional/alert-crud.spec.ts
  packages/react-query-sdk/src/notifications/schema.ts
  packages/react-query-sdk/src/notifications/services/V1Service.ts
Due: notifications

feat(billing): enable 0$ transactions with coupons
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/pages/pay.tsx
Due: api, deploy-web

refactor: move /v1/market-data to modules
  apps/api/src/app.ts
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/api/src/dashboard/controllers/market-data/market-data.controller.ts
  apps/api/src/dashboard/http-schemas/market-data/market-data.schema.ts
  apps/api/src/dashboard/routes/index.ts
  apps/api/src/dashboard/routes/market-data/market-data.router.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/marketData.ts
  apps/api/src/services/external/marketDataService.ts
  apps/api/test/functional/market-data.spec.ts
  packages/http-sdk/src/coin-gecko/coin-gecko-http.service.ts
  packages/http-sdk/src/coin-gecko/index.ts
  packages/http-sdk/src/coin-gecko/types.ts
  packages/http-sdk/src/index.ts
Due: api

feat(billing): fetch discounts when payment success
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/pages/pay.tsx
Due: api, deploy-web

feat(billing): refactor components and queries
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/user/payment/AddPaymentMethodForm.tsx
  apps/deploy-web/src/components/user/payment/AddPaymentMethodPopup.tsx
  apps/deploy-web/src/components/user/payment/DeletePaymentMethodPopup.tsx
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
  apps/deploy-web/src/components/user/payment/PaymentMethodsList.tsx
  apps/deploy-web/src/components/user/payment/PaymentSuccessAnimation.tsx
  apps/deploy-web/src/components/user/payment/index.ts
  apps/deploy-web/src/pages/pay.tsx
  apps/deploy-web/src/queries/index.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  apps/deploy-web/src/types/index.ts
  apps/deploy-web/src/types/payment.ts
Due: api, deploy-web

feat(billing): hide animation on click
  apps/deploy-web/src/components/user/payment/PaymentSuccessAnimation.tsx
Due: deploy-web

feat(billing): add list transactions
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/routes/stripe-setup/stripe-setup.router.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/pages/pay.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.service.ts
Due: api, deploy-web

feat(alert): add list ui
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
  apps/deploy-web/src/components/alerts/AlertsPage.tsx
  apps/deploy-web/src/components/alerts/EditAlertPage.tsx
  apps/deploy-web/src/pages/alerts/[id]/index.tsx
  apps/deploy-web/src/utils/urlUtils.ts
  apps/deploy-web/tests/seeders/alert.ts
Due: deploy-web

refactor: move /v1/market-data to modules (#1430)
  apps/api/src/app.ts
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/api/src/dashboard/controllers/market-data/market-data.controller.ts
  apps/api/src/dashboard/http-schemas/market-data/market-data.schema.ts
  apps/api/src/dashboard/routes/index.ts
  apps/api/src/dashboard/routes/market-data/market-data.router.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/marketData.ts
  apps/api/src/services/external/marketDataService.ts
  apps/api/test/functional/market-data.spec.ts
  packages/http-sdk/src/coin-gecko/coin-gecko-http.service.ts
  packages/http-sdk/src/coin-gecko/index.ts
  packages/http-sdk/src/coin-gecko/types.ts
  packages/http-sdk/src/index.ts
Due: api

feat: paginate query correctly, update table ui
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/src/interfaces/rest/filters/http-exception/http-exception.filter.ts
Due: deploy-web, notifications

feat: pad tabs list
  apps/deploy-web/src/components/alerts/AlertsLayout.tsx
Due: deploy-web

refactor: move /v1/validators to modules
  apps/api/src/app.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/validators/byAddress.ts
  apps/api/src/routes/v1/validators/list.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/types/rest/cosmosStakingValidatorsResponse.ts
  apps/api/src/types/rest/index.ts
  apps/api/src/utils/schema.ts
  apps/api/src/validator/controllers/validator/validator.controller.ts
  apps/api/src/validator/http-schemas/validator.schema.ts
  apps/api/src/validator/index.ts
  apps/api/src/validator/repositories/validator/validator.repository.ts
  apps/api/src/validator/routes/index.ts
  apps/api/src/validator/routes/validators/validators.router.ts
  apps/api/src/validator/services/validator/validator.service.ts
  apps/api/test/functional/validators.spec.ts
  apps/api/test/seeders/auto-top-up-deployment.seeder.ts
  apps/api/test/seeders/deployment-group.seeder.ts
  apps/api/test/seeders/deployment-info.seeder.ts
  apps/api/test/seeders/deployment.seeder.ts
  apps/api/test/seeders/lease-api-response.seeder.ts
  apps/api/test/seeders/lease.seeder.ts
  apps/api/test/seeders/validator.seeder.ts
  packages/http-sdk/src/cosmos/cosmos-http.service.ts
  packages/http-sdk/src/cosmos/types.ts
Due: api

refactor: move /v1/validators to modules (#1431)
  apps/api/src/app.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/validators/byAddress.ts
  apps/api/src/routes/v1/validators/list.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/types/rest/cosmosStakingValidatorsResponse.ts
  apps/api/src/types/rest/index.ts
  apps/api/src/utils/schema.ts
  apps/api/src/validator/controllers/validator/validator.controller.ts
  apps/api/src/validator/http-schemas/validator.schema.ts
  apps/api/src/validator/index.ts
  apps/api/src/validator/repositories/validator/validator.repository.ts
  apps/api/src/validator/routes/index.ts
  apps/api/src/validator/routes/validators/validators.router.ts
  apps/api/src/validator/services/validator/validator.service.ts
  apps/api/test/functional/validators.spec.ts
  apps/api/test/seeders/auto-top-up-deployment.seeder.ts
  apps/api/test/seeders/deployment-group.seeder.ts
  apps/api/test/seeders/deployment-info.seeder.ts
  apps/api/test/seeders/deployment.seeder.ts
  apps/api/test/seeders/lease-api-response.seeder.ts
  apps/api/test/seeders/lease.seeder.ts
  apps/api/test/seeders/validator.seeder.ts
  packages/http-sdk/src/cosmos/cosmos-http.service.ts
  packages/http-sdk/src/cosmos/types.ts
Due: api

refactor: move /v1/pricing to modules
  apps/api/src/app.ts
  apps/api/src/pricing/controllers/pricing/pricing.controller.ts
  apps/api/src/pricing/http-schemas/pricing.schema.ts
  apps/api/src/pricing/index.ts
  apps/api/src/pricing/routes/index.ts
  apps/api/src/pricing/routes/pricing/pricing.router.ts
  apps/api/src/pricing/services/pricing/pricing.service.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/pricing.ts
  apps/api/src/utils/pricing.ts
  apps/api/test/functional/pricing.spec.ts
Due: api

refactor: move /v1/proposals to modules
  apps/api/src/app.ts
  apps/api/src/proposal/controllers/proposal/proposal.controller.ts
  apps/api/src/proposal/http-schemas/proposal.schema.ts
  apps/api/src/proposal/index.ts
  apps/api/src/proposal/repositories/transaction/transaction.repository.ts
  apps/api/src/proposal/routes/index.ts
  apps/api/src/proposal/routes/proposals/proposals.router.ts
  apps/api/src/proposal/services/proposal/proposal.service.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/proposals/byId.ts
  apps/api/src/routes/v1/proposals/list.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/transaction/controllers/transaction/transaction.controller.ts
  apps/api/src/transaction/services/transaction/transaction.service.ts
  apps/api/src/types/rest/cosmosGovProposalResponse.ts
  apps/api/src/types/rest/cosmosGovProposalsResponse.ts
  apps/api/src/types/rest/cosmosGovProposalsTallyResponse.ts
  apps/api/src/types/rest/index.ts
  apps/api/test/functional/proposals.spec.ts
  packages/http-sdk/src/cosmos/cosmos-http.service.ts
  packages/http-sdk/src/cosmos/types.ts
Due: api

refactor: move /v1/pricing to modules (#1433)
  apps/api/src/app.ts
  apps/api/src/pricing/controllers/pricing/pricing.controller.ts
  apps/api/src/pricing/http-schemas/pricing.schema.ts
  apps/api/src/pricing/index.ts
  apps/api/src/pricing/routes/index.ts
  apps/api/src/pricing/routes/pricing/pricing.router.ts
  apps/api/src/pricing/services/pricing/pricing.service.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/pricing.ts
  apps/api/src/utils/pricing.ts
  apps/api/test/functional/pricing.spec.ts
Due: api
