Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

refactor: finalizes strict types migration for console-api
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/console.ts
  apps/api/test/functional/api-key.spec.ts
  apps/api/test/functional/bids.spec.ts
  apps/api/test/functional/blocks.spec.ts
  apps/api/test/functional/dashboard-data.spec.ts
  apps/api/test/functional/gpu.spec.ts
  apps/api/test/functional/provider-regions.spec.ts
  apps/api/test/functional/start-trial.spec.ts
  apps/api/test/functional/stripe-webhook.spec.ts
  apps/api/test/functional/templates.spec.ts
  apps/api/test/functional/user-init.spec.ts
  apps/api/test/functional/wallets-refill.spec.ts
  apps/api/test/seeders/lease-api-response.seeder.ts
  apps/api/test/services/wallet-testing.service.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.strict.json
  package.json
Due: api

refactor: finalizes strict types migration for console-api (#1745)
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/console.ts
  apps/api/test/functional/api-key.spec.ts
  apps/api/test/functional/bids.spec.ts
  apps/api/test/functional/blocks.spec.ts
  apps/api/test/functional/dashboard-data.spec.ts
  apps/api/test/functional/gpu.spec.ts
  apps/api/test/functional/provider-regions.spec.ts
  apps/api/test/functional/start-trial.spec.ts
  apps/api/test/functional/stripe-webhook.spec.ts
  apps/api/test/functional/templates.spec.ts
  apps/api/test/functional/user-init.spec.ts
  apps/api/test/functional/wallets-refill.spec.ts
  apps/api/test/seeders/lease-api-response.seeder.ts
  apps/api/test/services/wallet-testing.service.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.strict.json
  package.json
Due: api

feat(billing): add payment method tracking
  apps/api/drizzle/0017_sloppy_morg.sql
  apps/api/drizzle/meta/0017_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/model-schemas/index.ts
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
  apps/api/src/billing/repositories/index.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

feat(billing): show start trial error
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/types/errors.ts
  apps/deploy-web/src/types/index.ts
  apps/deploy-web/src/utils/errorUtils.ts
  apps/deploy-web/src/utils/stripeErrorHandler.ts
Due: deploy-web

feat: add tests
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.test.tsx
  apps/deploy-web/src/utils/errorUtils.test.ts
Due: deploy-web

feat(billing): hide remove payment method when trial
  apps/deploy-web/src/components/user/payment/PaymentMethodsList.tsx
  apps/deploy-web/src/pages/payment.tsx
Due: deploy-web

fix(billing): prevent removing payment method when in trial
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
Due: api

fix: pr fixes
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.test.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.tsx
Due: api, deploy-web

fix: improves observability of provider websocket
  apps/provider-proxy/src/services/WebsocketServer.ts
Due: provider-proxy

fix(billing): add indexes and pr fixes
  apps/api/drizzle/0018_spooky_baron_strucker.sql
  apps/api/drizzle/meta/0018_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(billing): update error codes for wallet assertions to 400
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
Due: api

refactor(billing): integrate ServicesProvider for UrlService in PaymentMethodsDisplay
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.test.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.tsx
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
Due: deploy-web

feat(billing): validate payment methods trial (#1750)
  apps/api/drizzle/0017_sloppy_morg.sql
  apps/api/drizzle/0018_spooky_baron_strucker.sql
  apps/api/drizzle/meta/0017_snapshot.json
  apps/api/drizzle/meta/0018_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/model-schemas/index.ts
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
  apps/api/src/billing/repositories/index.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/onboarding/OnboardingPage.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.test.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentVerificationCard/PaymentVerificationCard.tsx
  apps/deploy-web/src/components/user/payment/PaymentMethodsList.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/types/errors.ts
  apps/deploy-web/src/types/index.ts
  apps/deploy-web/src/utils/errorUtils.test.ts
  apps/deploy-web/src/utils/errorUtils.ts
  apps/deploy-web/src/utils/stripeErrorHandler.ts
Due: api, deploy-web

fix: improves observability of provider websocket (#1751)
  apps/provider-proxy/src/services/WebsocketServer.ts
Due: provider-proxy

test: cover useIsRegisteredUser hook
  apps/deploy-web/src/hooks/useUser.spec.tsx
  apps/deploy-web/tests/seeders/user.ts
Due: deploy-web

feat: guard billing route
  apps/deploy-web/src/hooks/useUser.spec.tsx
  apps/deploy-web/src/pages/billing/index.tsx
Due: deploy-web

feat: address comments
  apps/deploy-web/src/components/billing-usage/TrendIndicator/TrendIndicator.tsx
Due: deploy-web

fix: add type narrowing
  apps/deploy-web/src/components/billing-usage/TrendIndicator/TrendIndicator.tsx
Due: deploy-web

feat(billing): add composable guard for usage page (#1710)
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/context/WalletProvider/index.ts
  apps/deploy-web/src/hoc/guard/guard.hoc.tsx
  apps/deploy-web/src/hooks/useUser.spec.tsx
  apps/deploy-web/src/hooks/useUser.ts
  apps/deploy-web/src/pages/billing/index.tsx
  apps/deploy-web/src/pages/usage/index.tsx
  apps/deploy-web/tests/seeders/user.ts
Due: deploy-web

chore: fixes
  apps/api/package.json
  apps/api/test/services/wallet-testing.service.ts
  packages/docker/docker-compose.prod-with-db.yml
Due: api

chore: refactor api functional tests to get rid of anonymous user
  apps/api/package.json
  apps/api/test/functional/api-key.spec.ts
  apps/api/test/functional/balances.spec.ts
  apps/api/test/functional/certificate.spec.ts
  apps/api/test/functional/deployment-setting.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
  apps/api/test/functional/user-init.spec.ts
  apps/api/test/functional/wallets-refill.spec.ts
  apps/api/test/services/wallet-testing.service.ts
Due: api

chore: refactor api functional tests to get rid of anonymous user (#1758)
  apps/api/package.json
  apps/api/test/functional/api-key.spec.ts
  apps/api/test/functional/balances.spec.ts
  apps/api/test/functional/certificate.spec.ts
  apps/api/test/functional/deployment-setting.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
  apps/api/test/functional/user-init.spec.ts
  apps/api/test/functional/wallets-refill.spec.ts
  apps/api/test/services/wallet-testing.service.ts
  packages/docker/docker-compose.prod-with-db.yml
Due: api

chore: fixes coverage calculation for deploy-web
  apps/deploy-web/jest.config.ts
  apps/deploy-web/tsconfig.spec.json
Due: deploy-web

refactor: replaces custom sleep with built-in
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
  apps/api/src/utils/delay.ts
Due: api

feat(billing): add usage trend indicator ui (#1709)
  apps/deploy-web/src/components/billing-usage/CumulativeSpendingLineChart/CumulativeSpendingLineChart.tsx
  apps/deploy-web/src/components/billing-usage/TrendIndicator/TrendIndicator.spec.tsx
  apps/deploy-web/src/components/billing-usage/TrendIndicator/TrendIndicator.tsx
  apps/deploy-web/tests/seeders/usage.ts
Due: deploy-web

feat(deployment): implement trial deployment badge
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.test.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.tsx
  apps/deploy-web/src/components/shared/index.ts
  apps/deploy-web/src/components/wallet/ManagedWalletPopup.tsx
  apps/deploy-web/src/utils/trialDeploymentUtils.ts
Due: api, deploy-web

test(deployment): fix tests
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.test.tsx
Due: deploy-web

fix(billing): trial deployment time remaining
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.spec.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.test.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentTooltip.spec.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentTooltip.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/hooks/useTrialDeploymentTimeRemaining.spec.ts
  apps/deploy-web/src/hooks/useTrialDeploymentTimeRemaining.ts
  apps/deploy-web/src/utils/trialDeploymentUtils.ts
  packages/ui/components/pagination.tsx
Due: deploy-web

fix: pr fix
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
Due: api

fix: remove comments
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.spec.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentTooltip.spec.tsx
Due: deploy-web

fix: pr fixes
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.spec.tsx
  apps/deploy-web/src/hooks/useTrialDeploymentTimeRemaining.spec.ts
Due: deploy-web

fix: revert trial amount to 10
  apps/api/env/.env
Due: api

feat(deployment): implement trial deployment badge (#1764)
  apps/api/env/.env
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.spec.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentTooltip.spec.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentTooltip.tsx
  apps/deploy-web/src/components/shared/index.ts
  apps/deploy-web/src/components/wallet/ManagedWalletPopup.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/hooks/useTrialDeploymentTimeRemaining.spec.ts
  apps/deploy-web/src/hooks/useTrialDeploymentTimeRemaining.ts
  packages/ui/components/pagination.tsx
Due: api, deploy-web
