Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

chore: skip security-scan if associated pr cannot be found
  .github/workflows/all-ci-unsafe.yml
Due: none

fix(template): bound the github archive cache by bytes instead of entry count
  apps/api/src/caching/cache-registry.ts
  apps/api/src/caching/memoryCacheEngine.ts
  apps/api/src/template/services/github-archive/github-archive.service.spec.ts
  apps/api/src/template/services/github-archive/github-archive.service.ts
Due: api

fix(deployment): expire the per-address balance memo instead of keying it for the process lifetime
  apps/api/src/deployment/services/cached-balance/cached-balance.service.spec.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.ts
Due: api

fix(sdl): stop caching an unavailable akt rate for ten minutes
  apps/api/src/chain/services/denom-exchange/denom-exchange.service.spec.ts
  apps/api/src/chain/services/denom-exchange/denom-exchange.service.ts
Due: api

chore: fix
  .github/workflows/all-ci-unsafe.yml
Due: none

chore: skip security-scan if associated pr cannot be found (#3789)
  .github/workflows/all-ci-unsafe.yml
Due: none

feat(deployment): take a deployment's own values out of the sdl it will store (#3776)
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.ts
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.ts
Due: api

feat(deployment): seal a deployment's own values when its client supplied none (#3777)
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/utils/sdl-for-storage/sdl-for-storage.spec.ts
  apps/api/src/deployment/utils/sdl-for-storage/sdl-for-storage.ts
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/mocks/sdl-secrets-kms.mock.ts
Due: api

chore: ensure check is created when PR cannot be found
  .github/workflows/all-ci-unsafe.yml
Due: none

chore: ensure check is created when PR cannot be found (#3791)
  .github/workflows/all-ci-unsafe.yml
Due: none

fix(template): keep the in-flight archive entry within the cache ceiling
  apps/api/src/template/services/github-archive/github-archive.service.spec.ts
  apps/api/src/template/services/github-archive/github-archive.service.ts
Due: api

fix(template): report an uncacheable archive once per key rather than once per lookup
  apps/api/src/template/services/github-archive/github-archive.service.spec.ts
  apps/api/src/template/services/github-archive/github-archive.service.ts
Due: api

fix(notifications): serve the new wordmark as png in both email colour schemes
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.ts
Due: notifications

feat(deployment): give an updated deployment the same stored definition a created one gets
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.spec.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(observability): cap unbounded cache key spaces on anonymous routes (#3787)
  apps/api/src/address/services/address/address.service.spec.ts
  apps/api/src/address/services/address/address.service.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/block/services/akash-block/akash-block.service.ts
  apps/api/src/dashboard/services/stats/stats.service.spec.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/deployment/services/fallback-deployment-reader/fallback-deployment-reader.service.ts
  apps/api/src/gpu/services/gpu.service.spec.ts
  apps/api/src/gpu/services/gpu.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/transaction/services/transaction/transaction.service.ts
  apps/api/src/validator/services/validator/validator.service.ts
  apps/api/test/setup-functional-tests.ts
  apps/api/test/setup-integration-tests.ts
Due: api

feat(sdl): gate proxy http_options ui behind a feature flag
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.tsx
  apps/deploy-web/src/components/sdl/HttpOptionsFormControl.spec.tsx
  apps/deploy-web/src/components/sdl/HttpOptionsFormControl.tsx
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

feat(deployment): give an updated deployment the same stored definition a created one gets (#3778)
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.spec.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(observability): bound the block and transaction list caches
  apps/api/src/block/services/akash-block/akash-block.service.ts
  apps/api/src/transaction/services/transaction/transaction.service.ts
Due: api

fix(sdl): keep imported proxy options visible when the feature flag is off
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.tsx
  apps/deploy-web/src/components/sdl/HttpOptionsFormControl.spec.tsx
  apps/deploy-web/src/components/sdl/HttpOptionsFormControl.tsx
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
Due: deploy-web

fix(ci): withhold the security-scan check from a commit no PR owns
  .github/workflows/all-ci-unsafe.yml
Due: none

feat(sdl): support proxy http_options in the deployment builder (#3773)
  .npmrc
  apps/api/package.json
  apps/deploy-web/package.json
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.tsx
  apps/deploy-web/src/components/sdl/HttpOptionsFormControl.spec.tsx
  apps/deploy-web/src/components/sdl/HttpOptionsFormControl.tsx
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.ts
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-inventory/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

fix(notifications): serve the new wordmark as png in both email colour schemes (#3792)
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.ts
Due: notifications

fix(ci): stop a same-commit duplicate run from cancelling the reporting one
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/all-ci.yml
Due: none

refactor(ci): inline the security-scan decision emitter
  .github/workflows/all-ci-unsafe.yml
Due: none

fix(ci): confine the base-update group to synchronize events
  .github/workflows/all-ci.yml
Due: none

fix(notifications): keep the email buttons padded in outlook
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.ts
Due: notifications

feat(notifications): render call-to-action buttons in transactional emails
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.spec.ts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-notifier/unreachable-provider-deployments-notifier.service.spec.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/auto-recharge-succeeded-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/auto-recharge-succeeded-notification.ts
  apps/api/src/notifications/services/notification-templates/auto-top-up-charge-failed-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/auto-top-up-charge-failed-notification.ts
  apps/api/src/notifications/services/notification-templates/auto-top-up-paused-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/auto-top-up-paused-notification.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.spec.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.ts
  apps/api/src/notifications/services/notification-templates/before-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/credits-running-low-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/credits-running-low-notification.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-closed.spec.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-closed.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-notification.ts
  apps/api/src/notifications/services/notification-templates/runtime-limit-ending-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/runtime-limit-ending-notification.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.spec.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.ts
  apps/api/src/notifications/services/notification-templates/trial-ended-notification.ts
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.ts
  apps/notifications/src/modules/notifications/dto/NotificationCommand.dto.spec.ts
  apps/notifications/src/modules/notifications/dto/NotificationCommand.dto.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.ts
  apps/notifications/src/modules/notifications/services/notification-router/notification-router.service.spec.ts
  apps/notifications/src/modules/notifications/services/notification-router/notification-router.service.ts
  apps/notifications/swagger/swagger.internal.json
  apps/notifications/swagger/swagger.json
  packages/console-api-types/src/notifications/internal/operations.gen.ts
  packages/console-api-types/src/notifications/internal/schema.d.ts
Due: api, notifications

fix(notifications): keep sending trial emails whose job predates the payment link
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.spec.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.ts
  apps/api/src/notifications/services/notification-templates/notification-actions.spec.ts
  apps/api/src/notifications/services/notification-templates/notification-actions.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.spec.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.ts
Due: api

fix(notifications): sit the email ctas side by side and give the code its own block
  apps/api/src/notifications/services/notification-templates/email-verification-code-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/email-verification-code-notification.ts
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.ts
  apps/notifications/src/modules/notifications/dto/NotificationCommand.dto.spec.ts
  apps/notifications/src/modules/notifications/dto/NotificationCommand.dto.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.ts
  apps/notifications/src/modules/notifications/services/notification-router/notification-router.service.spec.ts
  apps/notifications/src/modules/notifications/services/notification-router/notification-router.service.ts
  apps/notifications/swagger/swagger.internal.json
  packages/console-api-types/src/notifications/internal/schema.d.ts
Due: api, notifications

fix(ci): stop duplicate runs and unreported scans from blocking merges (#3795)
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/all-ci.yml
Due: none

refactor(deployment): stop sdlForStorage dropping values nothing asks it to drop
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.spec.ts
  apps/api/src/deployment/utils/sdl-for-storage/sdl-for-storage.spec.ts
  apps/api/src/deployment/utils/sdl-for-storage/sdl-for-storage.ts
Due: api

refactor(deployment): retire a field nobody reads and three comments that mislead
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.ts
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.ts
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
  apps/api/test/mocks/sdl-secrets-kms.mock.ts
Due: api

refactor(deployment): resolve an sdl reference from one flat set of secrets
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.spec.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.ts
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
Due: api

fix(deployment): assert the runtime-limit link where the email now puts it
  apps/api/src/deployment/services/expiring-deployments-notifier/expiring-deployments-notifier.service.integration.ts
Due: api

refactor(deployment): stop sdlForStorage dropping values nothing asks it to drop (#3779)
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.spec.ts
  apps/api/src/deployment/utils/sdl-for-storage/sdl-for-storage.spec.ts
  apps/api/src/deployment/utils/sdl-for-storage/sdl-for-storage.ts
Due: api

refactor(deployment): retire a field nobody reads and three comments that mislead (#3780)
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.ts
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.ts
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
  apps/api/test/mocks/sdl-secrets-kms.mock.ts
Due: api
