Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix(user): ask for fair use policy acceptance before the trial wallet exists (#3879)
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.spec.tsx
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.spec.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useManagedWallet.spec.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/tests/ui/actions/fair-use-policy.ts
  apps/deploy-web/tests/ui/fixture/base-test.ts
Due: deploy-web

fix(auth): redirect to login on callback state mismatch instead of returning a 500
  apps/deploy-web/src/lib/auth0/getStateMismatchReturnTo/getStateMismatchReturnTo.spec.ts
  apps/deploy-web/src/lib/auth0/getStateMismatchReturnTo/getStateMismatchReturnTo.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
Due: deploy-web

fix(auth): preserve the return stack on the state mismatch redirect
  apps/deploy-web/src/lib/auth0/getStateMismatchReturnTo/getStateMismatchReturnTo.spec.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
Due: deploy-web

fix(auth): cover the state mismatch guards against mutation testing
  apps/deploy-web/src/lib/auth0/getStateMismatchReturnTo/getStateMismatchReturnTo.spec.ts
  apps/deploy-web/src/lib/auth0/getStateMismatchReturnTo/getStateMismatchReturnTo.ts
Due: deploy-web

fix(deployment): run the update outcome independently of the editor
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
Due: deploy-web

test(deployment): pin the update outcome against every survivor
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
Due: deploy-web

fix(deployment): address update review findings on gating and refusal routing
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
Due: deploy-web

refactor(deployment): update a deployment through the console api
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/utils/TransactionMessageData.ts
Due: deploy-web

test(deployment): close the mutation gaps around the update outcome
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
Due: deploy-web

fix(deployment): surface an sdl refusal that lands after the editor closes
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
Due: deploy-web

fix(auth): redirect to login on callback state mismatch instead of returning a 500 (#3871)
  apps/deploy-web/src/lib/auth0/getStateMismatchReturnTo/getStateMismatchReturnTo.spec.ts
  apps/deploy-web/src/lib/auth0/getStateMismatchReturnTo/getStateMismatchReturnTo.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
Due: deploy-web

fix: adds snackbard on sdl update
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
Due: deploy-web

test(deployment): cover the update tab header and its success snackbar
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
Due: deploy-web

refactor(deployment): update a deployment through the console api (#3876)
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/utils/TransactionMessageData.ts
Due: deploy-web

fix(config): allow the first-party origins the CSP blocks today
  apps/deploy-web/src/lib/csp/csp.spec.ts
  apps/deploy-web/src/lib/csp/csp.ts
Due: deploy-web

fix(observability): stop reporting cancellations and double-reporting mutations
  apps/deploy-web/src/components/turnstile/Turnstile.spec.tsx
  apps/deploy-web/src/components/turnstile/Turnstile.tsx
  apps/deploy-web/src/hooks/useAcceptFairUsePolicy.ts
  apps/deploy-web/src/hooks/useSkipOnboarding.ts
  apps/deploy-web/src/middleware.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  apps/deploy-web/src/queries/useSaveSettings.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/error-handler/error-handler.service.spec.ts
  apps/deploy-web/src/services/error-handler/error-handler.service.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.spec.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.ts
Due: deploy-web

chore(repo): ignore the local .codex directory
  .gitignore
Due: none

test(config): assert img-src still allows 'self'
  apps/deploy-web/src/lib/csp/csp.spec.ts
Due: deploy-web

chore(repo): ignore the local .codex directory (#3884)
  .gitignore
Due: none

fix(observability): keep the CSP header on the PWA assets
  apps/deploy-web/src/middleware.spec.ts
  apps/deploy-web/src/middleware.ts
Due: deploy-web

test(observability): cover the maintenance redirect both ways
  apps/deploy-web/src/middleware.spec.ts
Due: deploy-web

fix(config): allow the first-party origins the CSP blocks today (#3881)
  apps/deploy-web/src/lib/csp/csp.spec.ts
  apps/deploy-web/src/lib/csp/csp.ts
Due: deploy-web

refactor(analytics): shorten the marketing origins comment
  apps/deploy-web/src/lib/csp/csp.ts
Due: deploy-web

fix(analytics): let the GTM marketing tags through the CSP
  apps/deploy-web/src/lib/csp/csp.spec.ts
  apps/deploy-web/src/lib/csp/csp.ts
Due: deploy-web

fix(deployment): hold the wallet row while a trial wipe or a payment runs
  apps/api/src/billing/services/refill/refill.service.spec.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.integration.ts
  apps/api/src/workload-abuse/services/trial-abuse-enforcement/trial-abuse-enforcement.service.spec.ts
  apps/api/src/workload-abuse/services/trial-abuse-enforcement/trial-abuse-enforcement.service.ts
Due: api

fix(deployment): queue stalled trial wipes again from the probe sweep
  apps/api/src/app/console.ts
  apps/api/src/workload-abuse/controllers/workload-abuse.controller.ts
  apps/api/src/workload-abuse/repositories/workload-abuse-detection/workload-abuse-detection.repository.ts
  apps/api/src/workload-abuse/services/trial-abuse-enforcement-job/trial-abuse-enforcement-job.service.integration.ts
  apps/api/src/workload-abuse/services/trial-abuse-enforcement-job/trial-abuse-enforcement-job.service.spec.ts
  apps/api/src/workload-abuse/services/trial-abuse-enforcement-job/trial-abuse-enforcement-job.service.ts
Due: api

fix(deployment): run the probe and enforcement sweeps independently
  apps/api/src/workload-abuse/controllers/workload-abuse.controller.spec.ts
  apps/api/src/workload-abuse/controllers/workload-abuse.controller.ts
Due: api

fix(observability): stop reporting cancellations and double-reporting mutations (#3883)
  apps/deploy-web/src/components/turnstile/Turnstile.spec.tsx
  apps/deploy-web/src/components/turnstile/Turnstile.tsx
  apps/deploy-web/src/hooks/useAcceptFairUsePolicy.ts
  apps/deploy-web/src/hooks/useSkipOnboarding.ts
  apps/deploy-web/src/middleware.spec.ts
  apps/deploy-web/src/middleware.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  apps/deploy-web/src/queries/useSaveSettings.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/error-handler/error-handler.service.spec.ts
  apps/deploy-web/src/services/error-handler/error-handler.service.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.spec.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.ts
Due: deploy-web

test(analytics): match CSP sources as exact tokens instead of substrings
  apps/deploy-web/src/lib/csp/csp.spec.ts
Due: deploy-web

fix(user): show the app header behind the fair use policy prompt
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.spec.tsx
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.tsx
Due: deploy-web

fix(deployment): report every failed workload abuse sweep
  apps/api/src/workload-abuse/controllers/workload-abuse.controller.spec.ts
  apps/api/src/workload-abuse/controllers/workload-abuse.controller.ts
Due: api

refactor(deployment): add the seam a redeploy needs to inherit secrets
  apps/api/src/deployment/services/sdl-secrets-inheritance/sdl-secrets-inheritance.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-inheritance/sdl-secrets-inheritance.service.ts
Due: api

refactor(deployment): share one secret merge precedence between writers
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

fix(deployment): count only kept values against the carried secrets bound
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.ts
Due: api

refactor(deployment): announce the sealed secrets a request may carry
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
Due: api

fix(deployment): document seal failure statuses on deployment create
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/swagger/openapi.json
Due: api

feat(deployment): carry secrets forward when redeploying an sdl
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.ts
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
Due: api

test(deployment): refresh the docs snapshot the sealed-secret routes left stale
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

refactor(deployment): let a stored definition serve a redeploy
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployment-patch-route.spec.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(deployment): redeploy an existing deployment over http
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-redeploy.spec.ts
Due: api
