Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix: sync email_verified from auth0 on demand
  apps/api/src/auth/controllers/auth/auth.controller.ts
  apps/api/src/auth/http-schemas/verify-email.schema.ts
  apps/api/src/auth/routes/send-verification-email/send-verification-email.router.ts
  apps/api/src/auth/routes/verify-email/verify-email.router.ts
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/auth/services/auth0/auth0.service.spec.ts
  apps/api/src/auth/services/auth0/auth0.service.ts
  apps/api/src/core/providers/auth.provider.ts
  apps/api/src/core/providers/index.ts
  apps/api/src/rest-app.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/functional/verify-email.spec.ts
  apps/api/test/seeders/auth0-user.seeder.ts
  apps/api/test/seeders/index.ts
  apps/api/test/services/wallet-testing.service.ts
  apps/deploy-web/src/pages/user/verify-email/index.tsx
  apps/deploy-web/src/queries/useVerifyEmailQuery.spec.tsx
  apps/deploy-web/src/queries/useVerifyEmailQuery.ts
  packages/http-sdk/src/auth/auth-http.service.ts
  packages/http-sdk/src/auth/auth-http.types.ts
  packages/http-sdk/src/auth/index.ts
  packages/http-sdk/src/index.ts
  packages/ui/components/auto-button.css
  packages/ui/components/auto-button.tsx
  packages/ui/components/index.tsx
Due: api, deploy-web

feat: use JWT instead of certificates
  apps/api/examples/lease-flow.ts
  apps/api/package.json
  apps/api/src/billing/lib/wallet/wallet.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/http-schemas/lease.schema.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  package-lock.json
Due: api

feat: memoize generating data for JWT Token
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
Due: api

fix: communicate straight with provider
  apps/api/src/provider/services/provider/provider.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api

fix: limit permissions in JWT token
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

test: add a missing test for better coverage of ProviderService
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

fix: wrap args in an object
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

refactor: drop unused variables
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: rename variable passed around to manifest
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api

feat: can generate a jwt token with custom TTL
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
Due: api

fix: set scoped permissions when generating jwt tokens
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: use changed types of jwt tokens
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

fix: fix runtime error for the case when providerError is a boolean
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: address Rabbit's notes
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/test/functional/lease-flow.spec.ts
Due: api

test: make sure endpoints work with or without cert
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
Due: api

feat(billing): test charge card before start trial
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/routes/start-trial/start-trial.router.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/EmptyPaymentMethods.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/ErrorAlert.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodCard.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsList.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/TermsAndConditions.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/TrialStartButton.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/ValidationWarning.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentVerificationCard/PaymentVerificationCard.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useValidatedPaymentMethods.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(billing): refactor 3d secure
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/start-trial/start-trial.router.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentVerificationCard/PaymentVerificationCard.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecureModal.tsx
  apps/deploy-web/src/hooks/use3DSecure.ts
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/managed-wallet-http/managed-wallet-http.service.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

feat(billing): implement capture charge with 3d secure handling validation
  apps/api/drizzle/0019_dusty_polaris.sql
  apps/api/drizzle/meta/0019_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/routes/start-trial/start-trial.router.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/billing/types/payment-method.type.ts
  apps/api/test/seeders/payment-method.seeder.ts
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodCard.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.test.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsList.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentVerificationCard/PaymentVerificationCard.tsx
  apps/deploy-web/src/components/onboarding/steps/ThreeDSecureAuth/ThreeDSecureAuth.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/hooks/useValidatedPaymentMethods.ts
  apps/deploy-web/src/queries/useManagedWalletQuery.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/managed-wallet-http/managed-wallet-http.service.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(billing): handlind 3d secure payments + 0 fix
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/ThreeDSecureAuth/ThreeDSecureAuth.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecureModal.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecurePopup.tsx
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
  apps/deploy-web/src/hooks/use3DSecure.ts
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

feat(billing): add database schema and core types for payment method validation
  apps/api/drizzle/0019_dusty_polaris.sql
  apps/api/drizzle/meta/0019_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/types/payment-method.type.ts
  apps/api/test/seeders/payment-method.seeder.ts
Due: api

refactor(billing): rename is_validated to isValidated
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
Due: api

fix(billing): find others by fingerprint
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(billing): rename function
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

test: cover stripe transaction stream failing in the middle (#1875)
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/seeders/stripe-transaction.seeder.ts
  apps/deploy-web/src/hoc/guard/guard.hoc.tsx
Due: api, deploy-web

fix(billing): fix types for seeder payments
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/types/payment-method.type.ts
  apps/api/test/seeders/payment-method.seeder.ts
Due: api

fix(billing): payment method seeder
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/test/seeders/database-payment-method.seeder.ts
Due: api

feat(billing): add database schema and core types for payment method validation (#1897)
  apps/api/drizzle/0019_dusty_polaris.sql
  apps/api/drizzle/meta/0019_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/seeders/database-payment-method.seeder.ts
  apps/api/test/seeders/payment-method.seeder.ts
Due: api

Update start-trial-notification.ts
  apps/api/src/notifications/services/notification-templates/start-trial-notification.ts
Due: api

Update trial-first-deployment-lease-created-notification.ts
  apps/api/src/notifications/services/notification-templates/trial-first-deployment-lease-created-notification.ts
Due: api

fix(billing): prevent 0 amount payments
  apps/api/src/billing/services/stripe-error/stripe-error.service.spec.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/pages/payment.tsx
Due: api, deploy-web

fix(billing): remove comments
  apps/deploy-web/src/pages/payment.tsx
Due: deploy-web

fix(billing): move min amount of 0$ to zod
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.spec.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(billing): update amount validation to ensure it is greater than $0
  apps/api/src/billing/http-schemas/stripe.schema.ts
Due: api

fix(billing): enhance amount validation to include exclusive minimum and minimum constraints
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(billing): update minimum payment amount validation to $20
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(billing): prevent 0 amount payments (#1904)
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/pages/payment.tsx
Due: api, deploy-web

chore(release): implements basic indexer deploy CI for the testnet
  .github/workflows/all-trigger-coverage.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/diff-package-lock.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/indexer-release-testnet.yml
  .github/workflows/local-packages-validate.yml
  .github/workflows/log-collector-validate-n-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/stats-web-docker-build.yml
  .github/workflows/workspace-ci-unsafe.yml
  .helm/indexer-staging-testnet-values.yaml
Due: none
