Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix: refactor files
  packages/jwt/src/JwtToken.spec.ts
  packages/jwt/src/JwtToken.ts
  packages/jwt/src/index.ts
  packages/jwt/src/jwt-token.spec.ts
  packages/jwt/src/jwt-token.ts
  packages/jwt/src/jwt-validator.spec.ts
  packages/jwt/src/jwt-validator.ts
  packages/jwt/src/test/test-utils.ts
  packages/jwt/src/test/utils.ts
  packages/jwt/src/types.ts
  packages/jwt/src/wallet-utils.ts
Due: none

refactor: uses logger and http sdk from local pkgs for notification service
  .gitignore
  apps/notifications/env/.env.functional.test
  apps/notifications/env/.env.test
  apps/notifications/jest.config.ts
  apps/notifications/src/common/common.module.ts
  apps/notifications/src/common/providers/logger.provider.ts
  apps/notifications/src/common/services/logger/logger.service.ts
  apps/notifications/src/config/env.config.ts
  apps/notifications/src/main.ts
  apps/notifications/src/modules/alert/alert.module.ts
  apps/notifications/src/modules/alert/providers/http-sdk.provider.ts
  apps/notifications/src/modules/alert/services/blockchain-node-http/blockchain-node-http.service.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
  apps/notifications/src/modules/chain/services/block-message-parser/block-message-parser.service.spec.ts
  apps/notifications/test/setup-env.ts
  apps/notifications/test/setup-functional-env.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  package-lock.json
  packages/env-loader/src/index.js
  packages/http-sdk/src/deployment/deployment-http.service.ts
  packages/logging/package.json
  packages/logging/src/servicies/logger/logger.service.spec.ts
  packages/logging/src/servicies/logger/logger.service.ts
  packages/logging/src/types/pino-fluentd.d.ts
Due: notifications, provider-proxy

feat(deployment): differ insufficient funds error for user and master wallet in top up job
  apps/api/package.json
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/console.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.spec.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
  apps/api/src/deployment/types/deployments-refiller.ts
  package-lock.json
Due: api

refactor: move provider endpoints to modules
  apps/api/src/app.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/api/src/provider/controllers/auditor/auditor.controller.ts
  apps/api/src/provider/controllers/provider-attributes-schema/provider-attributes-schema.controller.ts
  apps/api/src/provider/controllers/provider-regions/provider-regions.controller.ts
  apps/api/src/provider/controllers/provider/provider.controller.ts
  apps/api/src/provider/http-schemas/auditor.schema.ts
  apps/api/src/provider/http-schemas/provider-attributes-schema.schema.ts
  apps/api/src/provider/http-schemas/provider-regions.schema.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/routes/auditors/auditors.router.ts
  apps/api/src/provider/routes/index.ts
  apps/api/src/provider/routes/provider-attributes-schema/provider-attributes-schema.router.ts
  apps/api/src/provider/routes/provider-regions/provider-regions.router.ts
  apps/api/src/provider/routes/providers/providers.router.ts
  apps/api/src/provider/services/auditors/auditors.service.ts
  apps/api/src/provider/services/provider-attributes-schema/provider-attributes-schema.service.ts
  apps/api/src/provider/services/provider-regions/provider-regions.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/routes/v1/auditors.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/providerAttributesSchema.ts
  apps/api/src/routes/v1/providerRegions.ts
  apps/api/src/routes/v1/providers/byAddress.ts
  apps/api/src/services/db/providerDataService.ts
  apps/api/src/services/db/providerStatusService.ts
  apps/api/src/services/external/githubService.ts
  apps/api/src/types/provider.ts
  apps/api/src/utils/map/provider.ts
  apps/api/test/functional/auditors.spec.ts
  apps/api/test/functional/provider-attributes-schema.spec.ts
  apps/api/test/functional/provider-regions.spec.ts
  apps/api/test/functional/providers.spec.ts
  packages/http-sdk/src/git-hub/git-hub-http.service.ts
  packages/http-sdk/src/index.ts
Due: api

refactor: follow-up on CodeRabbit suggestions
  apps/api/src/provider/controllers/provider-attributes-schema/provider-attributes-schema.controller.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/routes/provider-attributes-schema/provider-attributes-schema.router.ts
  apps/api/src/provider/services/provider-regions/provider-regions.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/types/provider.ts
  apps/api/src/utils/map/provider.ts
  apps/api/test/functional/provider-regions.spec.ts
  packages/http-sdk/src/git-hub/git-hub-http.service.ts
Due: api

fix(provider): fixed auth levels
  apps/provider-console/src/components/layout/ProviderStatus.tsx
  apps/provider-console/src/components/shared/withAuth.tsx
  apps/provider-console/src/context/ControlMachineProvider/ControlMachineProvider.tsx
Due: provider-console

feat(provider): add new jwt package
  package-lock.json
  packages/jwt/jest.config.ts
  packages/jwt/package.json
  packages/jwt/scripts/generate.ts
  packages/jwt/src/JwtSchema/JwtSchema.spec.ts
  packages/jwt/src/JwtSchema/JwtSchema.ts
  packages/jwt/src/generated/jwtSchemaData.ts
  packages/jwt/src/index.ts
  packages/jwt/tsconfig.build.json
  packages/jwt/tsconfig.json
  tsconfig.json
Due: none

feat(provider): add pre commit jwt
  .husky/pre-commit
  package.json
Due: none

feat(provider): added json schema validation for jwt
  package-lock.json
  packages/jwt/jest.config.ts
  packages/jwt/package.json
  packages/jwt/scripts/generate.ts
  packages/jwt/src/JwtSchema/JwtSchema.spec.ts
  packages/jwt/src/JwtSchema/JwtSchema.ts
  packages/jwt/src/JwtToken.test.ts
  packages/jwt/src/JwtToken.ts
  packages/jwt/src/JwtValidator/JwtValidator.spec.ts
  packages/jwt/src/JwtValidator/JwtValidator.ts
  packages/jwt/src/generated/jwtTestCases.ts
  packages/jwt/src/index.ts
  packages/jwt/src/types.ts
  packages/jwt/src/wallet.ts
  packages/jwt/tsconfig.build.json
  packages/jwt/tsconfig.json
Due: none

feat(provider): jwt signing
  package-lock.json
  packages/jwt/package.json
  packages/jwt/src/JwtToken.spec.ts
  packages/jwt/src/JwtToken.ts
  packages/jwt/src/index.ts
  packages/jwt/src/types.ts
  packages/jwt/src/wallet.ts
  packages/jwt/tsconfig.build.json
  packages/jwt/tsconfig.json
Due: none

feat: fix jwt tests and validation
  packages/jwt/src/JwtToken.spec.ts
  packages/jwt/src/JwtToken.ts
  packages/jwt/src/wallet.ts
Due: none

feat: generate functionning jwt tokens
  packages/jwt/package.json
  packages/jwt/src/JwtToken.ts
  packages/jwt/src/types.ts
  packages/jwt/src/wallet.ts
Due: none

feat(jwt): generate test cases based on the test files
  .commitlintrc.json
  apps/deploy-web/package.json
  package-lock.json
  packages/jwt/package.json
  packages/jwt/scripts/generate.ts
  packages/jwt/src/__tests__/jwtClaims.spec.ts
  packages/jwt/src/__tests__/utils.ts
  packages/jwt/src/generated/jwtClaimsTestCases.ts
  packages/jwt/src/generated/jwtSigningTestCases.ts
  packages/jwt/tsconfig.json
Due: deploy-web

feat(jwt): add generated test code for jwt
  packages/jwt/scripts/generate.ts
  packages/jwt/src/JwtToken.spec.ts
  packages/jwt/src/JwtToken.ts
  packages/jwt/src/JwtValidator/JwtValidator.ts
  packages/jwt/src/__tests__/jwtClaims.spec.ts
  packages/jwt/src/generated/jwtMnemonic.ts
  packages/jwt/src/test/jwtClaims.spec.ts
  packages/jwt/src/test/seeders/akash-address.seeder.ts
  packages/jwt/src/test/utils.ts
Due: none

feat: generate tokens with custom sign arbitrary
  packages/jwt/package.json
  packages/jwt/src/JwtToken.spec.ts
  packages/jwt/src/JwtToken.ts
  packages/jwt/src/generated/jwtClaimsTestCases.ts
  packages/jwt/src/generated/jwtSigningTestCases.ts
  packages/jwt/src/test/jwtClaims.spec.ts
  packages/jwt/src/test/utils.ts
  packages/jwt/src/types.ts
Due: none

feat: update jwt token signing and validation
  packages/jwt/src/JwtToken.spec.ts
  packages/jwt/src/JwtToken.ts
  packages/jwt/src/JwtValidator/JwtValidator.spec.ts
  packages/jwt/src/JwtValidator/JwtValidator.ts
  packages/jwt/src/generated/jwtClaimsTestCases.ts
  packages/jwt/src/generated/jwtSchemaData.ts
  packages/jwt/src/generated/jwtSigningTestCases.ts
  packages/jwt/src/test/jwtClaims.spec.ts
  packages/jwt/src/types.ts
Due: none

feat: jwt signing success all tests
  package-lock.json
  packages/jwt/src/JwtToken.ts
  packages/jwt/src/test/jwtClaims.spec.ts
  packages/jwt/src/test/utils.ts
Due: none

feat: rename files
  packages/jwt/scripts/generate.ts
  packages/jwt/src/generated/jwt-claims-test-cases.ts
  packages/jwt/src/generated/jwt-mnemonic.ts
  packages/jwt/src/generated/jwt-schema-data.ts
  packages/jwt/src/generated/jwt-signing-test-cases.ts
  packages/jwt/src/generated/jwtTestCases.ts
  packages/jwt/src/jwt-token.spec.ts
  packages/jwt/src/jwt-token.ts
  packages/jwt/src/jwt-validator.ts
  packages/jwt/src/test/test-utils.ts
  packages/jwt/src/wallet-utils.ts
Due: none

feat: added example
  packages/jwt/src/jwt-token.ts
Due: none

feat: add ci tests
  .github/workflows/jwt-validate.yml
Due: none

feat: comment jwt token
  packages/jwt/src/jwt-token.ts
Due: none

feat(analytics): removes amplitude sampling
  apps/api/env/.env.production
  apps/deploy-web/env/.env.production
Due: api, deploy-web

refactor: move provider-active-leases-graph-data to modules (#1301)
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/provider/controllers/provider/provider.controller.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/routes/providers/providers.router.ts
  apps/api/src/provider/services/provider-stats/provider-stats.service.ts
  apps/api/src/routers/legacyRouter.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/providerActiveLeasesGraphData.ts
  apps/api/src/services/db/statsService.ts
  apps/api/src/utils/schema.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/functional/providers.spec.ts
  apps/api/test/seeders/day.seeder.ts
  apps/api/test/seeders/deployment-group.seeder.ts
  apps/api/test/seeders/deployment.seeder.ts
  apps/api/test/seeders/lease-api-response.seeder.ts
  apps/api/test/seeders/lease.seeder.ts
  apps/api/test/seeders/provider.seeder.ts
  apps/deploy-web/src/utils/apiUtils.ts
Due: api, deploy-web

fix(provider): online status changed and control-machine changed (#1310)
  apps/provider-console/src/components/home/HomeContainer.tsx
  apps/provider-console/src/components/layout/ProviderStatus.tsx
  apps/provider-console/src/components/layout/Sidebar.tsx
  apps/provider-console/src/components/shared/withAuth.tsx
  apps/provider-console/src/context/ControlMachineProvider/ControlMachineProvider.tsx
  apps/provider-console/src/context/ProviderContext/ProviderContext.tsx
  apps/provider-console/src/context/WalletProvider/WalletProvider.tsx
  apps/provider-console/src/pages/_app.tsx
  apps/provider-console/src/pages/dashboard/index.tsx
  apps/provider-console/src/pages/remedies/index.tsx
  apps/provider-console/src/queries/useProviderQuery.ts
Due: provider-console

chore(jwt): pr fixes
  packages/jwt/src/base64.ts
  packages/jwt/src/generated/jwt-claims-test-cases.ts
  packages/jwt/src/generated/jwt-schema-data.ts
  packages/jwt/src/jwt-token.spec.ts
  packages/jwt/src/jwt-token.ts
  packages/jwt/src/jwt-validator.ts
  packages/jwt/src/test/seeders/akash-address.seeder.ts
  packages/jwt/src/test/test-utils.ts
  packages/jwt/src/types.ts
  packages/jwt/tsconfig.json
Due: none

fix(jwt): format after generate
  packages/jwt/package.json
Due: none

chore(jwt): fix nitpicks
  packages/dev-config/package.json
  packages/jwt/package.json
  packages/jwt/scripts/generate.ts
  packages/jwt/src/jwt-token.spec.ts
  packages/jwt/src/jwt-token.ts
  packages/jwt/src/jwt-validator.ts
  packages/jwt/src/test/seeders/akash-address.seeder.ts
  packages/jwt/src/test/test-utils.ts
  packages/jwt/src/types.ts
  packages/logging/package.json
  packages/net/package.json
  packages/ui/package.json
Due: none

fix(jwt): add empty token validation
  packages/jwt/src/jwt-validator.ts
Due: none

chore(jwt): nitpicks
  packages/jwt/src/jwt-validator.ts
Due: none
