Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

docs(deployment): delay key destruction, check effective IAM, and state the backup and locked-bucket limits precisely
  apps/api/docs/runbooks/deployment-secrets.md
Due: api

refactor(deployment): let the holding method narrow the active key instead of guarding for a row that always exists
  apps/api/src/secret/services/data-key-unwrapper/data-key-unwrapper.service.spec.ts
  apps/api/src/secret/services/data-key-unwrapper/data-key-unwrapper.service.ts
  apps/api/src/secret/services/secret-cipher/secret-cipher.service.spec.ts
Due: api

docs(deployment): say the re-key rehearsal opens every value it counts
  apps/api/docs/runbooks/deployment-secrets.md
Due: api

fix(deployment): name a lone endpoint in the redesigned deployments list
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentEndpoints.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentEndpoints.tsx
Due: deploy-web

docs(deployment): check the real log-deletion permission and the policy-editing one in the audit-log verification
  apps/api/docs/runbooks/deployment-secrets.md
Due: api

fix(analytics): require an api key before initializing amplitude (#3943)
  apps/deploy-web/env/.env.staging
  apps/deploy-web/env/.env.staging-testnet
  apps/deploy-web/src/services/analytics/analytics.service.spec.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

refactor(deployment): leave the lone endpoint's gap as design settled it
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentEndpoints.tsx
Due: deploy-web

fix(deployment): name a lone endpoint in the redesigned deployments list (#3950)
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentEndpoints.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentEndpoints.tsx
Due: deploy-web

refactor(sdl): retire the sdl builder page and route users to configure (#3935)
  apps/deploy-web/next.config.js
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/deploymentIntent.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/deploymentIntent.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/new-deployment/RedirectDeployLinuxToConfigure/RedirectDeployLinuxToConfigure.spec.tsx
  apps/deploy-web/src/components/new-deployment/RedirectDeployLinuxToConfigure/RedirectDeployLinuxToConfigure.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.spec.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.tsx
  apps/deploy-web/src/components/sdl/ImportSdlModal.tsx
  apps/deploy-web/src/components/sdl/PreviewSdl.tsx
  apps/deploy-web/src/components/sdl/SaveTemplateModal.tsx
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/components/templates/UserTemplate.tsx
  apps/deploy-web/src/components/user/UserProfile.tsx
  apps/deploy-web/src/hooks/useFormPersist.spec.ts
  apps/deploy-web/src/hooks/useFormPersist.tsx
  apps/deploy-web/src/hooks/useNewDeploymentUrl/useNewDeploymentUrl.spec.ts
  apps/deploy-web/src/hooks/useNewDeploymentUrl/useNewDeploymentUrl.ts
  apps/deploy-web/src/hooks/useReturnTo/useReturnTo.ts
  apps/deploy-web/src/pages/deploy-linux/index.tsx
  apps/deploy-web/src/pages/sdl-builder/index.tsx
  apps/deploy-web/src/queries/useTemplateQuery.spec.tsx
  apps/deploy-web/src/queries/useTemplateQuery.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/store/sdlStore.ts
  apps/deploy-web/src/utils/sdl/data.spec.ts
  apps/deploy-web/src/utils/sdl/data.ts
  apps/deploy-web/src/utils/urlUtils.spec.ts
  apps/deploy-web/src/utils/urlUtils.ts
  apps/deploy-web/tests/ui/build-template.spec.ts
  apps/deploy-web/tests/ui/pages/BuildTemplatePage.tsx
  apps/deploy-web/tests/ui/sdl-builder-deployment.spec.ts
Due: deploy-web

fix(deployment): apply design review feedback to the deployments list
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/utils/reclamationUtils.spec.ts
  apps/deploy-web/src/utils/reclamationUtils.ts
Due: deploy-web

fix(deployment): offer to add credits when a refused deposit blocks quotes
  apps/deploy-web/src/components/billing-usage/AddCreditsSnackbarContent/AddCreditsSnackbarContent.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsSnackbarContent/AddCreditsSnackbarContent.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/context/WalletProvider/useSignAndBroadcast.tsx
Due: deploy-web

fix(notifications): render one email wordmark that survives gmail dark mode
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.ts
Due: notifications

fix(deployment): summarise a close reason only where the chain named one
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/utils/reclamationUtils.spec.ts
  apps/deploy-web/src/utils/reclamationUtils.ts
Due: deploy-web

refactor(deployment): keep the page size selector's note to one line
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
Due: deploy-web

fix(deployment): put the spec value on its own tooltip
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.tsx
Due: deploy-web

feat(deployment): answer the names of several deployments in one request (#3945)
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-names.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(deployment): show the api's deployment name on the list, home, alert, billing and lease surfaces
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.tsx
  apps/deploy-web/src/components/LocalNoteManager/useLocalNotes.ts
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.spec.ts
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.ts
  apps/deploy-web/src/components/deployments/DeploymentList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/components/providers/LeaseList.spec.tsx
  apps/deploy-web/src/components/providers/LeaseList.tsx
  apps/deploy-web/src/components/providers/LeaseRow.tsx
  apps/deploy-web/src/hooks/useDeploymentNames/useDeploymentNames.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentNames/useDeploymentNames.ts
Due: deploy-web

feat(dx): build query options from the react-query proxy for hooks that run several queries
  packages/react-query-proxy/src/createProxy/createProxy.spec.ts
  packages/react-query-proxy/src/createProxy/createProxy.ts
Due: none

refactor(deployment): drop the local note manager spec's unused name lookup
  apps/deploy-web/src/components/LocalNoteManager/LocalNoteManager.spec.tsx
Due: deploy-web

test(deployment): pin the name lookup's recovery, blank dseqs and unloaded surfaces
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/providers/LeaseList.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentNames/useDeploymentNames.spec.tsx
Due: deploy-web

feat(deployment): show the api's deployment name on the list, home, alert, billing and lease surfaces (#3946)
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.tsx
  apps/deploy-web/src/components/LocalNoteManager/LocalNoteManager.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/useLocalNotes.ts
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.spec.ts
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.ts
  apps/deploy-web/src/components/deployments/DeploymentList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/components/providers/LeaseList.spec.tsx
  apps/deploy-web/src/components/providers/LeaseList.tsx
  apps/deploy-web/src/components/providers/LeaseRow.tsx
  apps/deploy-web/src/hooks/useDeploymentNames/useDeploymentNames.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentNames/useDeploymentNames.ts
  packages/react-query-proxy/src/createProxy/createProxy.spec.ts
  packages/react-query-proxy/src/createProxy/createProxy.ts
Due: deploy-web

refactor(deployment): send deployment names to the api instead of localstorage
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentName/useDeploymentName.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentName/useDeploymentName.ts
Due: deploy-web

refactor(deployment): send deployment names to the api instead of localstorage (#3928)
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentName/useDeploymentName.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentName/useDeploymentName.ts
Due: deploy-web

fix(deployment): apply design review feedback to the deployments list (#3951)
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/utils/reclamationUtils.spec.ts
  apps/deploy-web/src/utils/reclamationUtils.ts
Due: deploy-web

fix(deployment): title the funds toast for the remedy rather than the cause
  apps/deploy-web/src/components/billing-usage/AddCreditsSnackbarContent/AddCreditsSnackbarContent.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
Due: deploy-web

fix(notifications): render one email wordmark that survives gmail dark mode (#3953)
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.ts
Due: notifications

refactor(deployment): collapse the payment-required note to one line
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
Due: deploy-web

feat(deployment): badge trial and gpu interconnect deployments on the redesigned list
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentBadges.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentBadges.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.tsx
Due: deploy-web

fix(deployment): seat the list's extra badges beside the status rather than under the name
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.tsx
Due: deploy-web

feat(deployment): badge trial and gpu interconnect deployments on the redesigned list (#3954)
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentBadges.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentBadges.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.tsx
Due: deploy-web

fix(deployment): bound list pages and read hasMore from the chain cursor
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(deployment): list closed deployments newest first, with their groups
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/seeders/deployment-info.seeder.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(deployment): return the console's own record with each listed deployment
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(deployment): search listed deployments by name or dseq
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(deployment): surface every list badge's extra info in a tooltip
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/ReclamationCountdown.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/ReclamationCountdown.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.tsx
  apps/deploy-web/src/components/shared/ConfidentialComputeBadge.tsx
  apps/deploy-web/src/components/shared/GpuInterconnectBadge.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.tsx
Due: deploy-web

refactor(deployment): read the deployments list through one data source
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListSource.ts
Due: deploy-web

feat(deployment): list deployments from the console api behind a flag
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useApiDeploymentsListSource.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useApiDeploymentsListSource.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListSource.ts
  apps/deploy-web/src/components/deployments/DeploymentsListPage.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsListPage.tsx
  apps/deploy-web/src/queries/useDeploymentsListQuery.spec.ts
  apps/deploy-web/src/queries/useDeploymentsListQuery.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.spec.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.ts
  apps/deploy-web/src/types/deployment.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.spec.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.ts
Due: deploy-web

fix(deployment): keep the status pill's body out of the tooltip change
  AGENTS.md
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/shared/ConfidentialComputeBadge.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.tsx
Due: deploy-web

fix(ci): stop counting the api docs snapshot toward pr size
  .github/workflows/labeler.yml
Due: none

feat(deployment): open a stored secret under a data key retired by a re-key (#3947)
  apps/api/drizzle/0055_data_key_retirement.sql
  apps/api/drizzle/meta/0055_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/core/services/execution-context/execution-context.service.ts
  apps/api/src/secret/model-schemas/data-key/data-key.schema.ts
  apps/api/src/secret/repositories/data-key/data-key.repository.integration.ts
  apps/api/src/secret/repositories/data-key/data-key.repository.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.spec.ts
  apps/api/src/secret/services/data-key-unwrapper/data-key-unwrapper.service.spec.ts
  apps/api/src/secret/services/data-key-unwrapper/data-key-unwrapper.service.ts
  apps/api/src/secret/services/data-key/data-key.service.spec.ts
  apps/api/src/secret/services/data-key/data-key.service.ts
  apps/api/src/secret/services/secret-cipher/secret-cipher.service.integration.ts
  apps/api/src/secret/services/secret-cipher/secret-cipher.service.spec.ts
  apps/api/src/secret/services/secret-cipher/secret-cipher.service.ts
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
  apps/api/test/seeders/data-key.seeder.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
