Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(provider): add shared verification policy evaluator
  package-lock.json
  packages/provider-verification/package.json
  packages/provider-verification/src/index.ts
  packages/provider-verification/src/providerTierState.spec.ts
  packages/provider-verification/src/providerTierState.ts
  packages/provider-verification/src/providerVerification.spec.ts
  packages/provider-verification/src/providerVerification.ts
  packages/provider-verification/src/providerVerificationQueryClient.spec.ts
  packages/provider-verification/src/providerVerificationQueryClient.ts
  packages/provider-verification/tsconfig.build.json
  packages/provider-verification/tsconfig.json
  packages/provider-verification/vitest.config.ts
Due: none

feat(indexer): add verification persistence schema
  package-lock.json
  packages/database/chainDefinitions.spec.ts
  packages/database/chainDefinitions.ts
  packages/database/dbSchemas/akash/index.ts
  packages/database/dbSchemas/akash/provider.ts
  packages/database/dbSchemas/akash/providerMaintenance.ts
  packages/database/dbSchemas/akash/verificationAttestation.ts
  packages/database/dbSchemas/akash/verificationAttestationCapability.ts
  packages/database/dbSchemas/akash/verificationAuditEscrow.ts
  packages/database/dbSchemas/akash/verificationAuditEscrowCapability.ts
  packages/database/dbSchemas/akash/verificationAuditor.ts
  packages/database/dbSchemas/akash/verificationBlockEvent.ts
  packages/database/dbSchemas/akash/verificationDiscrepancy.ts
  packages/database/dbSchemas/akash/verificationGrace.ts
  packages/database/dbSchemas/akash/verificationGraceDiscrepancy.ts
  packages/database/dbSchemas/akash/verificationParams.ts
  packages/database/dbSchemas/akash/verificationProviderBond.ts
  packages/database/dbSchemas/akash/verificationProviderBondUnbonding.ts
  packages/database/dbSchemas/akash/verificationProviderObservation.ts
  packages/database/dbSchemas/akash/verificationProviderSnapshot.ts
  packages/database/dbSchemas/akash/verificationProviderTierDemotion.ts
  packages/database/dbSchemas/akash/verificationProviderTierStream.ts
  packages/database/dbSchemas/akash/verificationReconcileTarget.ts
  packages/database/package.json
Due: none

build(indexer): add verification database migration
  apps/indexer/drizzle/0010_add_provider_verification.sql
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/relations.ts
  apps/indexer/drizzle/schema.ts
Due: indexer

feat(indexer): ingest provider verification state
  apps/indexer/package.json
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/index.ts
  apps/indexer/src/indexers/index.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationEvent.spec.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationEvent.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationIndexer.spec.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationIndexer.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationIndexerTables.spec.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationReconcileTarget.spec.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationReconcileTarget.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationReconciler.spec.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationReconciler.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationRepository.spec.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationRepository.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationStateMapper.spec.ts
  apps/indexer/src/indexers/providerVerification/providerVerificationStateMapper.ts
  apps/indexer/src/shared/utils/env.ts
  package-lock.json
Due: indexer

feat(provider-inventory): screen bids by verification
  apps/provider-inventory/package.json
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/controllers/bid-screening/bid-screening.controller.ts
  apps/provider-inventory/src/http-schemas/bid-screening.schema.spec.ts
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/mappers/groupspec-mapper/groupspec-mapper.ts
  apps/provider-inventory/src/mappers/provider-verification-mapper/provider-verification-mapper.spec.ts
  apps/provider-inventory/src/mappers/provider-verification-mapper/provider-verification-mapper.ts
  apps/provider-inventory/src/model-schemas/provider-inventory/provider-inventory.schema.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/providers/provider-verification-query-client.provider.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/services/chain-provider-poller/chain-provider-poller.service.spec.ts
  apps/provider-inventory/src/services/chain-provider-poller/chain-provider-poller.service.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/types/chain-provider.ts
  apps/provider-inventory/src/types/inventory.ts
  apps/provider-inventory/src/types/provider-verification.ts
  apps/provider-inventory/test/functional/discovery-pipeline.spec.ts
  package-lock.json
Due: none

build(provider-inventory): add verification migration
  apps/provider-inventory/drizzle/0005_add_provider_verification.sql
  apps/provider-inventory/drizzle/meta/0005_snapshot.json
  apps/provider-inventory/drizzle/meta/_journal.json
Due: none

build(api): regenerate provider verification schema
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  packages/console-api-types/src/schema.d.ts
Due: api

feat(api): expose provider verification views
  apps/api/package.json
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.spec.ts
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/src/bid-screening/routes/bid-screening.router.spec.ts
  apps/api/src/bid-screening/routes/bid-screening.router.ts
  apps/api/src/core/config/env.config.ts
  apps/api/src/provider/controllers/provider/provider.controller.spec.ts
  apps/api/src/provider/controllers/provider/provider.controller.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/provider-verification/provider-verification-readiness.service.spec.ts
  apps/api/src/provider/provider-verification/provider-verification-readiness.service.ts
  apps/api/src/provider/provider-verification/provider-verification-tier-demotion.repository.spec.ts
  apps/api/src/provider/provider-verification/provider-verification-tier-demotion.repository.ts
  apps/api/src/provider/provider-verification/provider-verification-tier-demotion.schema.ts
  apps/api/src/provider/provider-verification/provider-verification-tier-demotion.service.spec.ts
  apps/api/src/provider/provider-verification/provider-verification-tier-demotion.service.ts
  apps/api/src/provider/provider-verification/provider-verification.mapper.spec.ts
  apps/api/src/provider/provider-verification/provider-verification.mapper.ts
  apps/api/src/provider/provider-verification/provider-verification.repository.spec.ts
  apps/api/src/provider/provider-verification/provider-verification.repository.ts
  apps/api/src/provider/provider-verification/provider-verification.schema.ts
  apps/api/src/provider/provider-verification/provider-verification.service.spec.ts
  apps/api/src/provider/provider-verification/provider-verification.service.ts
  apps/api/src/provider/routes/providers/providers.router.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/routers/internalRouter.ts
  apps/api/src/routes/internal/index.ts
  apps/api/src/routes/internal/providerVerificationTierDemotions.ts
  apps/api/src/types/provider.ts
  apps/api/src/utils/map/provider.ts
  package-lock.json
Due: api

build(web): sync provider verification API types
  packages/console-api-types/src/schema.d.ts
Due: none

feat(notifications): alert on verification changes
  apps/notifications/src/common/config/event-key-registry.config.ts
  apps/notifications/src/infrastructure/broker/services/broker/event-map.ts
  apps/notifications/src/interfaces/alert-events/handlers/chain-events/chain-events.handler.spec.ts
  apps/notifications/src/interfaces/alert-events/handlers/chain-events/chain-events.handler.ts
  apps/notifications/src/modules/alert/alert.module.ts
  apps/notifications/src/modules/alert/config/env.config.spec.ts
  apps/notifications/src/modules/alert/config/env.config.ts
  apps/notifications/src/modules/alert/dto/event-provider-maintenance-opened.dto.ts
  apps/notifications/src/modules/alert/model-schemas/index.ts
  apps/notifications/src/modules/alert/model-schemas/provider-tier-demotion.schema.ts
  apps/notifications/src/modules/alert/repositories/alert/alert-json-fields.schema.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/alert/repositories/provider-tier-demotion/provider-tier-demotion.repository.ts
  apps/notifications/src/modules/alert/services/provider-active-leases/provider-active-leases.service.spec.ts
  apps/notifications/src/modules/alert/services/provider-active-leases/provider-active-leases.service.ts
  apps/notifications/src/modules/alert/services/provider-maintenance-alert/provider-maintenance-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/provider-maintenance-alert/provider-maintenance-alert.service.ts
  apps/notifications/src/modules/alert/services/provider-tier-demotion-alert/provider-tier-demotion-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/provider-tier-demotion-alert/provider-tier-demotion-alert.service.ts
  apps/notifications/src/modules/alert/services/provider-tier-demotion-feed/provider-tier-demotion-feed.service.spec.ts
  apps/notifications/src/modules/alert/services/provider-tier-demotion-feed/provider-tier-demotion-feed.service.ts
  apps/notifications/src/modules/alert/types/provider-lease.type.ts
  apps/notifications/src/modules/alert/types/provider-tier-demotion.type.ts
  apps/notifications/src/modules/chain/providers/registry.provider.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
  apps/notifications/test/functional/provider-maintenance-alert.spec.ts
  apps/notifications/test/functional/provider-tier-demotion-alert.spec.ts
Due: notifications

build(notifications): add verification alert migration
  apps/notifications/drizzle/0006_romantic_sasquatch.sql
  apps/notifications/drizzle/meta/0006_snapshot.json
  apps/notifications/drizzle/meta/_journal.json
Due: notifications

feat(stats): render provider verification records
  apps/stats-web/src/components/transactions/TxMessageRow.tsx
  apps/stats-web/src/components/transactions/akash/aep86/Aep86RecordView.tsx
  apps/stats-web/src/components/transactions/akash/aep86/aep86Formatting.ts
  apps/stats-web/src/components/transactions/akash/aep86/aep86Types.spec.ts
  apps/stats-web/src/components/transactions/akash/aep86/aep86Types.ts
  apps/stats-web/src/hooks/useFriendlyMessageType.spec.ts
  apps/stats-web/src/hooks/useFriendlyMessageType.ts
Due: stats-web

fix(styling): forward the progress value to the Radix root
  packages/ui/components/progress.tsx
Due: none

fix(deployment): meter the runtime limit instead of packing it into one string
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/RuntimeLimitMeter.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/RuntimeLimitMeter.tsx
  apps/deploy-web/src/utils/runtimeLimitUtils.spec.ts
  apps/deploy-web/src/utils/runtimeLimitUtils.ts
Due: deploy-web

fix(deployment): cut the runtime-limit JSDoc down to the one-line cap
  apps/deploy-web/src/components/deployments/DeploymentDetail/RuntimeLimitMeter.tsx
  apps/deploy-web/src/utils/runtimeLimitUtils.ts
Due: deploy-web

fix(dx): give background job retries a base delay so backoff is not zero
  apps/api/src/core/services/job-queue/job-queue.service.integration.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/services/delete-unbacked-deployment-setting/delete-unbacked-deployment-setting.handler.ts
Due: api

fix(dx): isolate a queue that refuses to converge from the rest
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
Due: api

feat(provider): re-verify dead providers and expose ongoing outages (#3695)
  apps/provider-inventory/CONTEXT.md
  apps/provider-inventory/drizzle/0005_add_incident_last_attempt_at.sql
  apps/provider-inventory/drizzle/meta/0005_snapshot.json
  apps/provider-inventory/drizzle/meta/_journal.json
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/controllers/provider-outages/provider-outages.controller.ts
  apps/provider-inventory/src/http-schemas/provider-outages.schema.ts
  apps/provider-inventory/src/model-schemas/provider-incident/provider-incident.schema.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.ts
  apps/provider-inventory/src/rest-app.ts
  apps/provider-inventory/src/routes/index.ts
  apps/provider-inventory/src/routes/provider-outages/provider-outages.router.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/test/functional/provider-outages.spec.ts
Due: none

feat(deployment): read which providers are dark and who is running on them (#3696)
  apps/api/env/.env.functional.test
  apps/api/env/.env.local.sample
  apps/api/env/.env.sample
  apps/api/env/.env.unit.test
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/repositories/lease/lease.repository.integration.ts
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/services/provider-outages-http/provider-outages-http.service.spec.ts
  apps/api/src/deployment/services/provider-outages-http/provider-outages-http.service.ts
Due: api

fix(deployment): escape the provider host in the unreachable-provider email
  apps/api/src/notifications/services/notification-templates/provider-unreachable-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-notification.ts
Due: api

refactor(deployment): trim outage JSDoc and type the logger mock
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-notifier/unreachable-provider-deployments-notifier.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-notifier/unreachable-provider-deployments-notifier.service.ts
Due: api

feat(deployment): warn owners when their provider goes dark
  .helm/console-api-prod-mainnet-values.yaml
  .helm/console-api-staging-sandbox-values.yaml
  apps/api/drizzle/0045_mark_provider_unreachable_notice.sql
  apps/api/drizzle/meta/0045_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/app/console.ts
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.spec.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-notifier/unreachable-provider-deployments-notifier.service.integration.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-notifier/unreachable-provider-deployments-notifier.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-notifier/unreachable-provider-deployments-notifier.service.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-notification.ts
Due: api

feat(deployment): close deployments whose provider never comes back
  .helm/console-api-prod-mainnet-values.yaml
  .helm/console-api-staging-sandbox-values.yaml
  apps/api/src/app/console.ts
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.spec.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.integration.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-notifier/unreachable-provider-deployments-notifier.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-notifier/unreachable-provider-deployments-notifier.service.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-closed.spec.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-closed.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-notification.ts
Due: api

fix(deployment): condition the closure promise on every provider staying dark
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-notifier/unreachable-provider-deployments-notifier.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-notifier/unreachable-provider-deployments-notifier.service.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-notification.ts
Due: api

fix(deployment): promise an automatic close only when it will happen
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-notifier/unreachable-provider-deployments-notifier.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-notifier/unreachable-provider-deployments-notifier.service.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/provider-unreachable-notification.ts
Due: api

fix(deployment): keep the closure email when recording the close fails
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.ts
Due: api

fix(deployment): report the named dark host's own outage age
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.ts
Due: api

fix(deployment): do not claim a close the sweep did not make
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.integration.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.ts
Due: api

fix(deployment): stop alerting when auto top-up hits a closed deployment (#3711)
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.spec.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
  apps/api/src/deployment/types/draining-deployment.ts
  apps/api/test/seeders/draining-deployment.seeder.ts
Due: api

refactor(deployment): close each dark deployment in its own job
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/close-unreachable-provider-deployment/close-unreachable-provider-deployment.handler.integration.ts
  apps/api/src/app/services/close-unreachable-provider-deployment/close-unreachable-provider-deployment.handler.spec.ts
  apps/api/src/app/services/close-unreachable-provider-deployment/close-unreachable-provider-deployment.handler.ts
  apps/api/src/deployment/commands/close-unreachable-provider-deployment.command.ts
  apps/api/src/deployment/lib/dark-deployment/dark-deployment.spec.ts
  apps/api/src/deployment/lib/dark-deployment/dark-deployment.ts
  apps/api/src/deployment/repositories/lease/lease.repository.integration.ts
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.integration.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.spec.ts
  apps/api/src/deployment/services/unreachable-provider-deployments-closer/unreachable-provider-deployments-closer.service.ts
Due: api

refactor(billing): read BME mint params from chain-sdk
  apps/api/src/billing/services/master-wallet-mint/master-wallet-mint.service.spec.ts
  apps/api/src/billing/services/master-wallet-mint/master-wallet-mint.service.ts
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/api/test/seeders/bme.seeder.ts
  apps/deploy-web/tests/seeders/index.ts
  apps/deploy-web/tests/seeders/ledgerRecord.ts
  packages/http-sdk/src/bme/bme-http.service.ts
  packages/http-sdk/src/bme/index.ts
  packages/http-sdk/src/bme/types.ts
  packages/http-sdk/src/index.ts
Due: api, deploy-web

fix(deployment): tell the owner about a close its own retry re-observed
  apps/api/src/app/services/close-unreachable-provider-deployment/close-unreachable-provider-deployment.handler.integration.ts
  apps/api/src/app/services/close-unreachable-provider-deployment/close-unreachable-provider-deployment.handler.spec.ts
  apps/api/src/app/services/close-unreachable-provider-deployment/close-unreachable-provider-deployment.handler.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
