Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

test(billing): assert the affiliate flag check and referral route matching precisely
  apps/deploy-web/src/components/referrals/ReferralsPage/ReferralsPage.spec.tsx
  apps/deploy-web/src/hooks/useSettingsNavLinks.spec.ts
Due: deploy-web

fix(billing): never fetch an affiliate profile for a signed-out visitor
  apps/deploy-web/src/hooks/useSettingsNavLinks.spec.ts
  apps/deploy-web/src/queries/useAffiliateProfileQuery.spec.tsx
  apps/deploy-web/src/queries/useAffiliateProfileQuery.ts
Due: deploy-web

fix(billing): type the approve response in the affiliates functional spec
  apps/api/src/affiliate/http-schemas/affiliate-admin.schema.ts
  apps/api/test/functional/affiliates-internal.spec.ts
Due: api

feat(billing): attribute new sign-ups to the affiliate whose link they used
  apps/api/drizzle/0074_referrals.sql
  apps/api/drizzle/meta/0074_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/affiliate/model-schemas/index.ts
  apps/api/src/affiliate/model-schemas/referral/referral.schema.ts
  apps/api/src/affiliate/repositories/referral/referral.repository.integration.ts
  apps/api/src/affiliate/repositories/referral/referral.repository.ts
  apps/api/src/affiliate/services/referral/referral.service.spec.ts
  apps/api/src/affiliate/services/referral/referral.service.ts
  apps/api/src/core/services/analytics/analytics.service.ts
  apps/api/src/user/controllers/user/user.controller.spec.ts
  apps/api/src/user/controllers/user/user.controller.ts
  apps/api/src/user/routes/register-user/register-user.router.ts
  apps/api/src/user/services/user/user.service.integration.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/register-user-referral.spec.ts
  apps/api/test/seeders/referral.seeder.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(billing): remember the referral link until sign-up
  apps/deploy-web/src/lib/nextjs/api-routes-specs/auth-auth0-callback.spec.ts
  apps/deploy-web/src/lib/nextjs/api-routes-specs/auth-email-code-verify.spec.ts
  apps/deploy-web/src/lib/nextjs/api-routes-specs/auth-password-signup.spec.ts
  apps/deploy-web/src/lib/referral/referral-cookie.spec.ts
  apps/deploy-web/src/lib/referral/referral-cookie.ts
  apps/deploy-web/src/middleware.spec.ts
  apps/deploy-web/src/middleware.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.ts
  apps/deploy-web/src/pages/api/auth/password-signup.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
Due: deploy-web

feat(billing): give referred users the referral trial
  apps/api/src/affiliate/controllers/referral/referral.controller.ts
  apps/api/src/affiliate/http-schemas/referral.schema.ts
  apps/api/src/affiliate/index.ts
  apps/api/src/affiliate/routes/referral/referral.router.ts
  apps/api/src/affiliate/services/referral/referral.service.spec.ts
  apps/api/src/affiliate/services/referral/referral.service.ts
  apps/api/src/billing/services/activate-trial/trial-activation-instrumentation.service.spec.ts
  apps/api/src/billing/services/activate-trial/trial-activation-instrumentation.service.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.spec.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/referral.spec.ts
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
  apps/deploy-web/src/queries/useReferralQuery.spec.tsx
  apps/deploy-web/src/queries/useReferralQuery.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

test(billing): harden mutation coverage for the referral trial grant
  apps/api/src/affiliate/services/referral/referral.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
Due: api

fix(billing): record the referral trial before activating the wallet
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
Due: api

feat(billing): record affiliate commission in billing history
  apps/api/drizzle/0075_affiliate_commission.sql
  apps/api/drizzle/meta/0075_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/app/services/credits-added-slack-alert/credits-added-slack-message.spec.ts
  apps/api/src/app/services/credits-added-slack-alert/credits-added-slack-message.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/model-schemas/stripe-transaction/stripe-transaction.schema.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.integration.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.spec.ts
  apps/api/swagger/openapi.json
  apps/api/test/seeders/database-stripe-transaction.seeder.ts
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
  packages/console-api-types/src/schema.d.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(billing): sever the commission's source payment on delete instead of blocking it
  apps/api/drizzle/0075_affiliate_commission.sql
  apps/api/drizzle/meta/0075_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/model-schemas/stripe-transaction/stripe-transaction.schema.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.integration.ts
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
Due: api, deploy-web

feat(billing): credit affiliates 5% of their referred users' card payments
  apps/api/src/affiliate/services/affiliate-commission/affiliate-commission.service.integration.ts
  apps/api/src/affiliate/services/affiliate-commission/affiliate-commission.service.spec.ts
  apps/api/src/affiliate/services/affiliate-commission/affiliate-commission.service.ts
  apps/api/src/affiliate/services/affiliate-commission/sync-affiliate-commission.handler.integration.ts
  apps/api/src/affiliate/services/affiliate-commission/sync-affiliate-commission.handler.spec.ts
  apps/api/src/affiliate/services/affiliate-commission/sync-affiliate-commission.handler.ts
  apps/api/src/affiliate/services/affiliate-commission/sync-affiliate-commission.job.ts
  apps/api/src/app/providers/jobs.provider.spec.ts
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.integration.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/services/refill/refill.service.spec.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.integration.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.spec.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.ts
  apps/api/src/core/services/analytics/analytics.service.ts
  apps/api/test/functional/stripe-webhook.spec.ts
Due: api

feat(billing): take back affiliate commission when a referred payment is refunded
  apps/api/drizzle/0076_dispute_lost_at.sql
  apps/api/drizzle/meta/0076_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/affiliate/services/affiliate-commission/affiliate-commission.service.spec.ts
  apps/api/src/affiliate/services/affiliate-commission/affiliate-commission.service.ts
  apps/api/src/affiliate/services/affiliate-commission/sync-affiliate-commission.handler.integration.ts
  apps/api/src/billing/model-schemas/stripe-transaction/stripe-transaction.schema.ts
  apps/api/src/billing/services/refill/refill.service.spec.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.integration.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.spec.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.spec.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/core/services/analytics/analytics.service.ts
  apps/api/test/functional/stripe-webhook.spec.ts
  apps/api/test/seeders/database-stripe-transaction.seeder.ts
Due: api

fix(billing): grant affiliate commission net of earlier refunds in one top-up
  apps/api/src/affiliate/services/affiliate-commission/affiliate-commission.service.integration.ts
  apps/api/src/affiliate/services/affiliate-commission/affiliate-commission.service.spec.ts
  apps/api/src/affiliate/services/affiliate-commission/affiliate-commission.service.ts
  apps/api/src/affiliate/services/affiliate-commission/sync-affiliate-commission.handler.integration.ts
  apps/api/src/affiliate/services/affiliate-commission/sync-affiliate-commission.handler.spec.ts
  apps/api/src/affiliate/services/affiliate-commission/sync-affiliate-commission.handler.ts
  apps/api/src/affiliate/services/affiliate-commission/sync-affiliate-commission.job.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.integration.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/services/refill/refill.service.spec.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.integration.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.ts
  apps/api/test/functional/stripe-webhook.spec.ts
Due: api

feat(billing): show affiliates their referrals and earnings
  apps/api/src/affiliate/http-schemas/affiliate-profile.schema.ts
  apps/api/src/affiliate/repositories/referral/referral.repository.integration.ts
  apps/api/src/affiliate/repositories/referral/referral.repository.ts
  apps/api/src/affiliate/services/affiliate/affiliate.service.spec.ts
  apps/api/src/affiliate/services/affiliate/affiliate.service.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.integration.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/affiliate-profile.spec.ts
  apps/deploy-web/src/components/referrals/ReferralsPage/ReferralsPage.spec.tsx
  apps/deploy-web/src/components/referrals/ReferralsPage/ReferralsPage.tsx
  apps/deploy-web/src/hooks/useSettingsNavLinks.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

test(billing): cover the commission table's deduction and header rendering
  apps/deploy-web/src/components/referrals/ReferralsPage/ReferralsPage.spec.tsx
Due: deploy-web

fix(billing): check the affiliate program flag for the referring affiliate
  apps/api/src/affiliate/services/referral/referral.service.spec.ts
  apps/api/src/affiliate/services/referral/referral.service.ts
  apps/api/test/functional/register-user-referral.spec.ts
Due: api

fix(billing): wait for the referral lookup before showing trial credits
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
Due: deploy-web

fix(billing): label a fully reversed affiliate commission as reversed
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
Due: deploy-web

refactor(billing): trim the affiliate commission comments to one-line docs
  apps/api/src/billing/model-schemas/stripe-transaction/stripe-transaction.schema.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
Due: api

feat(deployment): read the spend rate from the console api
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.spec.ts
  apps/deploy-web/src/components/billing-usage/useBillingBackgroundLoading.spec.ts
  apps/deploy-web/src/components/billing-usage/useBillingBackgroundLoading.ts
  apps/deploy-web/src/components/billing-usage/useCurrentSpendRate.spec.ts
  apps/deploy-web/src/components/billing-usage/useCurrentSpendRate.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/hooks/useWalletBalance.spec.ts
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/queries/useSpendRateQuery.spec.ts
  apps/deploy-web/src/queries/useSpendRateQuery.ts
Due: deploy-web

refactor(billing): keep setup last in the affiliate service spec
  apps/api/src/affiliate/services/affiliate/affiliate.service.spec.ts
Due: api

feat(deployment): answer the deployments archive from the console's chain index
  apps/api/drizzle/0073_deployment_settings_user_id_named_index.sql
  apps/api/drizzle/meta/0073_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/core/lib/like-pattern/like-pattern.spec.ts
  apps/api/src/core/lib/like-pattern/like-pattern.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/lib/deployment-list-item/deployment-list-item.spec.ts
  apps/api/src/deployment/lib/deployment-list-item/deployment-list-item.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.integration.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/repositories/lease/lease.repository.integration.ts
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-archive-reader/deployment-archive-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-archive-reader/deployment-archive-reader.service.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/fallback-deployment-reader/fallback-deployment-reader.service.spec.ts
  apps/api/src/deployment/services/fallback-deployment-reader/fallback-deployment-reader.service.ts
  apps/api/src/deployment/services/fallback-lease-reader/fallback-lease-reader.service.spec.ts
  apps/api/src/deployment/services/fallback-lease-reader/fallback-lease-reader.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(deployment): list the archive from the chain when the index is unreachable
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
Due: api

fix(deployment): document the archive's chain fallback in the list docs
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  packages/console-api-types/src/schema.d.ts
Due: api

feat(deployment): read the spend rate from the console api (#4269)
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.spec.ts
  apps/deploy-web/src/components/billing-usage/useBillingBackgroundLoading.spec.ts
  apps/deploy-web/src/components/billing-usage/useBillingBackgroundLoading.ts
  apps/deploy-web/src/components/billing-usage/useCurrentSpendRate.spec.ts
  apps/deploy-web/src/components/billing-usage/useCurrentSpendRate.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/hooks/useWalletBalance.spec.ts
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/queries/useSpendRateQuery.spec.ts
  apps/deploy-web/src/queries/useSpendRateQuery.ts
Due: deploy-web

feat(deployment): answer the deployments archive from the console's chain index (#4270)
  apps/api/drizzle/0073_deployment_settings_user_id_named_index.sql
  apps/api/drizzle/meta/0073_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/core/lib/like-pattern/like-pattern.spec.ts
  apps/api/src/core/lib/like-pattern/like-pattern.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/lib/deployment-list-item/deployment-list-item.spec.ts
  apps/api/src/deployment/lib/deployment-list-item/deployment-list-item.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.integration.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/repositories/lease/lease.repository.integration.ts
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-archive-reader/deployment-archive-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-archive-reader/deployment-archive-reader.service.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/fallback-deployment-reader/fallback-deployment-reader.service.spec.ts
  apps/api/src/deployment/services/fallback-deployment-reader/fallback-deployment-reader.service.ts
  apps/api/src/deployment/services/fallback-lease-reader/fallback-lease-reader.service.spec.ts
  apps/api/src/deployment/services/fallback-lease-reader/fallback-lease-reader.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(dx): regenerate the console api types from the current api
  apps/api/swagger/openapi.json
  packages/console-api-types/src/notifications/schema.d.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(styling): scroll every page as one page on phones
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AutoDeployFlow/AutoDeployFlow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ResumeDeploymentGuard/ResumeDeploymentGuard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/fair-use-policy/FairUsePolicyStep/FairUsePolicyStep.tsx
  apps/deploy-web/src/components/layout/Layout.spec.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/SettingsLayout/SettingsLayout.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.tsx
  apps/deploy-web/src/styles/index.css
  apps/deploy-web/tailwind.config.ts
Due: deploy-web

fix(deployment): fit the deployment detail page on phone screens
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/UpdateNetworkingSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/shared/ViewPanel.spec.tsx
  apps/deploy-web/src/components/shared/ViewPanel.tsx
Due: deploy-web

fix(dx): regenerate the console api types from the current api (#4282)
  apps/api/swagger/openapi.json
  packages/console-api-types/src/notifications/schema.d.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(user): redesign the profile page
  apps/deploy-web/src/components/layout/SettingsCard/SettingsCard.spec.tsx
  apps/deploy-web/src/components/layout/SettingsCard/SettingsCard.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountSection.spec.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountSection.tsx
  apps/deploy-web/src/components/user/ProductUpdatesSetting/ProductUpdatesSetting.spec.tsx
  apps/deploy-web/src/components/user/ProductUpdatesSetting/ProductUpdatesSetting.tsx
  apps/deploy-web/src/components/user/ProfilePage/ProfilePage.spec.tsx
  apps/deploy-web/src/components/user/ProfilePage/ProfilePage.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.spec.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/components/user/UsernameSetting/UsernameSetting.spec.tsx
  apps/deploy-web/src/components/user/UsernameSetting/UsernameSetting.tsx
  apps/deploy-web/src/components/user/UsernameSetting/useUsernameAvailability.spec.ts
  apps/deploy-web/src/components/user/UsernameSetting/useUsernameAvailability.ts
  apps/deploy-web/src/pages/user/settings/index.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useSaveSettings.spec.tsx
  apps/deploy-web/src/queries/useSaveSettings.ts
Due: deploy-web

fix(deployment): close an abandoned create through the tracked close
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

fix(deployment): stack the configure page panels on phones and tablets
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AutoDeployFlow/AutoDeployFlow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ConfigureEditor.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspaceHeader/ConfigureWorkspaceHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LeaveConfigureButton/LeaveConfigureButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LeaveConfigureButton/LeaveConfigureButton.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LockedDeploymentRail/LockedDeploymentRail.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeployProgressOverlay/DeployProgressOverlay.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/InvalidSpecReasons/InvalidSpecReasons.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/InvalidSpecReasons/InvalidSpecReasons.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplaceProvidersTable/MarketplaceProvidersTable.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/ProviderSearchInput/ProviderSearchInput.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ResumeDeploymentGuard/ResumeDeploymentGuard.tsx
  packages/ui/components/collapsible-card.tsx
Due: deploy-web

refactor(user): remove the unused LabelValue component
  apps/deploy-web/src/components/shared/LabelValue.tsx
Due: deploy-web

fix(styling): scroll every page as one page on phones (#4283)
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AutoDeployFlow/AutoDeployFlow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ResumeDeploymentGuard/ResumeDeploymentGuard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/fair-use-policy/FairUsePolicyStep/FairUsePolicyStep.tsx
  apps/deploy-web/src/components/layout/Layout.spec.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/SettingsLayout/SettingsLayout.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.tsx
  apps/deploy-web/src/styles/index.css
  apps/deploy-web/tailwind.config.ts
Due: deploy-web

fix(deployment): close an abandoned create through the tracked close (#4285)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

feat(user): redesign the profile page (#4286)
  apps/deploy-web/src/components/layout/SettingsCard/SettingsCard.spec.tsx
  apps/deploy-web/src/components/layout/SettingsCard/SettingsCard.tsx
  apps/deploy-web/src/components/shared/LabelValue.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountSection.spec.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountSection.tsx
  apps/deploy-web/src/components/user/ProductUpdatesSetting/ProductUpdatesSetting.spec.tsx
  apps/deploy-web/src/components/user/ProductUpdatesSetting/ProductUpdatesSetting.tsx
  apps/deploy-web/src/components/user/ProfilePage/ProfilePage.spec.tsx
  apps/deploy-web/src/components/user/ProfilePage/ProfilePage.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.spec.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/components/user/UsernameSetting/UsernameSetting.spec.tsx
  apps/deploy-web/src/components/user/UsernameSetting/UsernameSetting.tsx
  apps/deploy-web/src/components/user/UsernameSetting/useUsernameAvailability.spec.ts
  apps/deploy-web/src/components/user/UsernameSetting/useUsernameAvailability.ts
  apps/deploy-web/src/pages/user/settings/index.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useSaveSettings.spec.tsx
  apps/deploy-web/src/queries/useSaveSettings.ts
Due: deploy-web

fix(deployment): fit the deployment detail page on phone screens (#4284)
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/UpdateNetworkingSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/shared/ViewPanel.spec.tsx
  apps/deploy-web/src/components/shared/ViewPanel.tsx
Due: deploy-web

fix(deployment): stack the configure page panels on phones and tablets (#4287)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AutoDeployFlow/AutoDeployFlow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ConfigureEditor.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspaceHeader/ConfigureWorkspaceHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LeaveConfigureButton/LeaveConfigureButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LeaveConfigureButton/LeaveConfigureButton.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LockedDeploymentRail/LockedDeploymentRail.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeployProgressOverlay/DeployProgressOverlay.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/InvalidSpecReasons/InvalidSpecReasons.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/InvalidSpecReasons/InvalidSpecReasons.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplaceProvidersTable/MarketplaceProvidersTable.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/ProviderSearchInput/ProviderSearchInput.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ResumeDeploymentGuard/ResumeDeploymentGuard.tsx
  packages/ui/components/collapsible-card.tsx
Due: deploy-web

feat(deployment): record running deployments kept only in this browser
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/DeploymentCopyCleanup.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/DeploymentCopyCleanup.tsx
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/deploymentCopyFate.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/deploymentCopyFate.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/DeploymentUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/ProtectedVariablesNotice.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/useDefinitionImport.tsx
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.ts
  apps/deploy-web/src/hooks/useDeploymentNameBackfill/useDeploymentNameBackfill.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentNameBackfill/useDeploymentNameBackfill.ts
  apps/deploy-web/src/services/deployment-name-backfill/deployment-name-backfill.service.spec.ts
  apps/deploy-web/src/services/deployment-name-backfill/deployment-name-backfill.service.ts
  apps/deploy-web/src/utils/sdl/browserRestoreDeadline.spec.ts
  apps/deploy-web/src/utils/sdl/browserRestoreDeadline.ts
  apps/deploy-web/src/utils/sdl/sendSealedDefinition.spec.ts
  apps/deploy-web/src/utils/sdl/sendSealedDefinition.ts
Due: deploy-web
