Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix: replace DepositAuthorization
  apps/api/src/billing/services/rpc-message-service/rpc-message.service.ts
Due: api

fix: update http sdk + functional test envs
  apps/api/env/.env.functional.test
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/test/seeders/deployment-info.seeder.ts
  packages/http-sdk/src/authz/authz-http.service.ts
  packages/http-sdk/src/bid/bid-http.service.ts
  packages/http-sdk/src/certificates/certificates.service.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
  packages/http-sdk/src/lease/lease-http.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api

fix: stripe webhook tests
  apps/api/src/billing/services/rpc-message-service/rpc-message.service.ts
  apps/api/test/functional/stripe-webhook.spec.ts
Due: api

fix: tests
  apps/api/test/functional/create-deployment.spec.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
Due: api

fix: fallback deployment tests
  apps/api/test/functional/deployment-fallback.spec.ts
  apps/api/test/functional/deployment-info-fallback.spec.ts
Due: api

fix: tests
  apps/api/test/functional/addresses.spec.ts
  apps/api/test/functional/create-deployment.spec.ts
Due: api

fix: balance calculation
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
Due: api

fix: api structure for leases + tests
  apps/api/src/billing/services/rpc-message-service/rpc-message.service.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/http-schemas/lease-rpc.schema.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/fallback-lease-reader/fallback-lease-reader.service.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
  apps/api/src/types/rest/akashLeaseListResponse.ts
  apps/api/test/functional/addresses.spec.ts
  apps/api/test/functional/create-deployment.spec.ts
  apps/api/test/functional/lease-fallback.spec.ts
  apps/api/test/functional/managed-api-deployment-flow.spec.ts
  apps/api/test/mocks/hello-world-sdl-update.yml
  apps/api/test/mocks/hello-world-sdl.yml
  apps/api/test/seeders/lease-api-response.seeder.ts
  packages/http-sdk/src/bid/bid-http.service.ts
  packages/http-sdk/src/block/block-http.service.ts
  packages/http-sdk/src/lease/lease-http.service.ts
Due: api

fix: lease fallback tests
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/lease-fallback.spec.ts
Due: api

fix: pr fixes
  apps/api/env/.env.functional.test
  apps/api/src/billing/providers/type-registry.provider.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-fallback.spec.ts
  apps/api/test/functional/managed-api-deployment-flow.spec.ts
  apps/api/test/functional/start-trial.spec.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  packages/database/chainDefinitions.ts
  packages/net/src/generated/netConfigData.ts
Due: api, deploy-web

fix: undo frontend code changes
  apps/deploy-web/src/utils/deploymentDetailUtils.ts
  apps/indexer/src/monitors/deploymentBalanceMonitor.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
  apps/provider-console/src/components/deployments/DeploymentDetails.tsx
Due: deploy-web, indexer, notifications, provider-console

fix: gpu prices test
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/test/functional/deployment-fallback.spec.ts
  apps/api/test/functional/deployment-info-fallback.spec.ts
  apps/api/test/functional/gpu.spec.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
Due: api

fix: balances test
  apps/api/test/functional/balances.spec.ts
Due: api

fix: build fix
  apps/api/src/types/rest/index.ts
  packages/database/chainDefinitions.ts
  packages/net/src/generated/netConfigData.ts
Due: api

fix: faucet json
  apps/api/test/services/test-wallet.service.ts
Due: api

refactor: gets rid of akashjs and akash-api
  apps/api/src/billing/providers/type-registry.provider.ts
  apps/api/src/certificate/services/certificate.service.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/provider/repositories/provider/provider.repository.ts
  apps/api/test/functional/certificate.spec.ts
  apps/api/test/functional/create-deployment.spec.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
Due: api

test: remove csp bypassing and extra permissions from persistent context
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
Due: deploy-web

test: finalize scripts for updating leap fixture and storage
  apps/deploy-web/CLAUDE.md
  apps/deploy-web/env/.env.test
  apps/deploy-web/package.json
  apps/deploy-web/script/close-deployments.ts
  apps/deploy-web/script/extract-leap-local-storage.ts
  apps/deploy-web/script/update-leap-extension-fixture.ts
  apps/deploy-web/tests/ui/fixture/extract-leap-storage.js
  apps/deploy-web/tests/ui/fixture/leap-extension-local-storage.json
  apps/deploy-web/tests/ui/fixture/update-leap-extension.sh
  apps/deploy-web/tests/ui/fixture/update-leap-storage.sh
Due: deploy-web

test: remove .env.test
  apps/deploy-web/env/.env.test
Due: deploy-web

chore: add .nvmrc; add .env.test to .gitignore
  .nvmrc
  apps/deploy-web/.gitignore
Due: deploy-web

fix: add language tag to project structure fence
  apps/deploy-web/CLAUDE.md
Due: deploy-web

fix: delete CLAUDE.md file; filter out non-dir in script; remove console.log calls
  apps/deploy-web/CLAUDE.md
  apps/deploy-web/script/update-leap-extension-fixture.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
Due: deploy-web

fix: pr fixes for tests
  apps/api/package.json
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/services/rpc-message-service/rpc-message.service.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/provider/services/provider-graph-data/provider-graph-data.service.ts
  apps/api/test/functional/certificate.spec.ts
  apps/api/test/functional/create-deployment.spec.ts
  apps/api/test/functional/managed-api-deployment-flow.spec.ts
  apps/api/test/functional/provider-graph-data.spec.ts
  apps/api/test/functional/wallets-refill.spec.ts
  apps/api/test/seeders/bid.seeder.ts
  package-lock.json
Due: api

chore: set EOL to auto in prettierrc
  packages/dev-config/.prettierrc.js
Due: none

fix: build
  apps/api/src/deployment/services/sdl/sdl.service.ts
Due: api

fix: sdl
  apps/api/src/deployment/services/sdl/sdl.service.ts
Due: api

feat(notifications): integrates sdk53 into the service
  apps/notifications/package.json
  apps/notifications/src/modules/alert/services/deployment/deployment.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
  apps/notifications/src/modules/chain/chain.module.ts
  apps/notifications/src/modules/chain/providers/comet-client/comet-client.provider.ts
  apps/notifications/src/modules/chain/providers/registry.provider.ts
  apps/notifications/src/modules/chain/providers/tendermint-client/tendermint-client.provider.ts
  apps/notifications/src/modules/chain/services/block-message-parser/block-message-parser.service.spec.ts
  apps/notifications/src/modules/chain/services/block-message-parser/block-message-parser.service.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/modules/chain/services/message-decoder/message-decoder.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
  apps/notifications/test/functional/balance-alert.spec.ts
  apps/notifications/test/functional/deployment-alert-crud.spec.ts
  apps/notifications/test/seeders/deployment-balance-response.seeder.ts
  apps/notifications/test/seeders/message.seeder.ts
  apps/notifications/tsconfig.json
  package-lock.json
Due: notifications

refactor: migrate provider-proxy to next chain sdk (#1980)
  apps/deploy-web/src/queries/queryKeys.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
Due: deploy-web, provider-proxy

feat(billing): searches existing payment methods only if provided fingerprints
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

feat(provider): ensures compatibility with both versions of sdk
  apps/deploy-web/src/queries/queryKeys.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
Due: deploy-web, provider-proxy

feat(provider): ensures compatibility with both versions of sdk
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
Due: provider-proxy

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
