Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

refactor(stats): extract SQL queries from StatsService into StatsRepository
  apps/api/src/dashboard/repositories/stats/index.ts
  apps/api/src/dashboard/repositories/stats/stats.repository.ts
  apps/api/src/dashboard/services/stats/stats.service.spec.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
Due: api

test(stats): update docs functional test snapshot
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(auth): handle OAuth access_denied error on callback (#2933)
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
Due: deploy-web

refactor: removes chainNetwork parameter from provider-proxy requests from console-api
  apps/api/src/provider/services/provider/provider-proxy.service.spec.ts
  apps/api/src/provider/services/provider/provider-proxy.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

refactor: removes chainNetwork parameter from provider-proxy requests from console-api (#2934)
  apps/api/src/provider/services/provider/provider-proxy.service.spec.ts
  apps/api/src/provider/services/provider/provider-proxy.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: strips "v" prefix from rpc application version
  apps/deploy-web/src/hooks/useSupportsACT/useSupportsACT.spec.ts
  apps/deploy-web/src/hooks/useSupportsACT/useSupportsACT.ts
  packages/net/src/generated/netConfigData.ts
Due: deploy-web

refactor(dx): replace deprecated loadWithPagination with getAllItems
  apps/deploy-web/src/queries/useDeploymentQuery.ts
  apps/deploy-web/src/queries/useGrantsQuery.spec.tsx
  apps/deploy-web/src/queries/useGrantsQuery.ts
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/queries/useLeaseQuery.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.ts
  apps/deploy-web/src/utils/apiUtils.ts
  apps/indexer/src/shared/utils/query.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
  packages/http-sdk/src/utils/pagination.utils.ts
  packages/net/src/generated/netConfigData.ts
Due: deploy-web, indexer

fix: strips "v" prefix from rpc application version (#2939)
  apps/deploy-web/src/hooks/useSupportsACT/useSupportsACT.spec.ts
  apps/deploy-web/src/hooks/useSupportsACT/useSupportsACT.ts
  packages/net/src/generated/netConfigData.ts
Due: deploy-web

fix(deployment): use correct denom for managed wallet deposit modal
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
Due: deploy-web

fix(deployment): revert yaml.template change, keep only denom fix
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
Due: deploy-web

feat(stats): add BME circuit breaker status history endpoint
  apps/api/src/dashboard/controllers/bme-status-history/bme-status-history.controller.ts
  apps/api/src/dashboard/http-schemas/bme-status-history/bme-status-history.schema.ts
  apps/api/src/dashboard/repositories/stats/stats.repository.ts
  apps/api/src/dashboard/routes/bme-status-history/bme-status-history.router.ts
  apps/api/src/dashboard/routes/index.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/rest-app.ts
Due: api

feat(stats): add single BME dashboard data endpoint
  apps/api/src/dashboard/controllers/bme-dashboard-data/bme-dashboard-data.controller.ts
  apps/api/src/dashboard/http-schemas/bme-dashboard-data/bme-dashboard-data.schema.ts
  apps/api/src/dashboard/repositories/stats/stats.repository.ts
  apps/api/src/dashboard/routes/bme-dashboard-data/bme-dashboard-data.router.ts
  apps/api/src/dashboard/routes/index.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/rest-app.ts
Due: api

fix(stats): use last-of-day blocks and latest aktPrice for BME dashboard query
  apps/api/src/dashboard/repositories/stats/stats.repository.ts
Due: api

refactor: consolidate blockchain network configuration
  apps/deploy-web/src/chains/akash-sandbox.ts
  apps/deploy-web/src/chains/akash-testnet.ts
  packages/database/chainDefinitions.ts
  packages/net/src/NetConfig/NetConfig.ts
Due: deploy-web

fix: switch to test-bme network for testnet
  packages/database/chainDefinitions.ts
  packages/net/scripts/generate.ts
  packages/net/src/NetConfig/NetConfig.ts
  packages/net/src/generated/netConfigData.ts
Due: none

chore: updates .env.testnet
  apps/api/env/.env.testnet
  apps/provider-proxy/env/.env.testnet
  apps/tx-signer/env/.env.testnet
Due: api, provider-proxy

refactor: consolidate blockchain network configuration (#2941)
  apps/api/env/.env.testnet
  apps/deploy-web/src/chains/akash-sandbox.ts
  apps/deploy-web/src/chains/akash-testnet.ts
  apps/provider-proxy/env/.env.testnet
  apps/tx-signer/env/.env.testnet
  packages/database/chainDefinitions.ts
  packages/net/scripts/generate.ts
  packages/net/src/NetConfig/NetConfig.ts
  packages/net/src/generated/netConfigData.ts
Due: api, deploy-web, provider-proxy

fix: ensure that tsup bundles even nested internal packages into app bundle
  packages/dev-config/tsup-plugins.ts
Due: none

fix: updates chain-sdk to latest version across the apps
  apps/api/package.json
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

refactor: makes recursive calls to determine bundled/external deps
  packages/dev-config/tsup-plugins.ts
Due: none

fix: ensure that tsup bundles even nested internal packages into app bundle (#2945)
  packages/dev-config/tsup-plugins.ts
Due: none

fix: updates chain-sdk to latest version across the apps (#2940)
  apps/api/package.json
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

refactor: akt amount and label components to be denom independent
  apps/deploy-web/src/components/authorizations/AllowanceGrantedRow.tsx
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.spec.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow.tsx
  apps/deploy-web/src/components/deployments/GranteeDepositMenuItem.tsx
  apps/deploy-web/src/components/shared/AKTLabel.tsx
  apps/deploy-web/src/components/shared/DenomAmount/DenomAmount.spec.tsx
  apps/deploy-web/src/components/shared/DenomAmount/DenomAmount.tsx
  apps/deploy-web/src/components/shared/DenomLabel/DenomLabel.tsx
Due: deploy-web

fix: allow to specify sdl yaml with vars in envs
  apps/api/package.json
  apps/deploy-web/package.json
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

refactor: akt amount and label components to be denom independent (#2947)
  apps/deploy-web/src/components/authorizations/AllowanceGrantedRow.tsx
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.spec.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow.tsx
  apps/deploy-web/src/components/deployments/GranteeDepositMenuItem.tsx
  apps/deploy-web/src/components/shared/AKTLabel.tsx
  apps/deploy-web/src/components/shared/DenomAmount/DenomAmount.spec.tsx
  apps/deploy-web/src/components/shared/DenomAmount/DenomAmount.tsx
  apps/deploy-web/src/components/shared/DenomLabel/DenomLabel.tsx
Due: deploy-web

fix: allow to specify sdl yaml with vars in envs (#2948)
  apps/api/package.json
  apps/deploy-web/package.json
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

chore: fixes path to local-packages-ci in gha
  .github/workflows/local-packages-ci.yml
Due: none

chore: fixes path to local-packages-ci in gha (#2949)
  .github/workflows/local-packages-ci.yml
Due: none

ci: all-ci on akash runners
  .github/workflows/all-ci.yml
Due: none

ci: add actionlint.yaml
  .github/actionlint.yaml
Due: none

ci: all-ci on akash runners
  .github/workflows/reusable-validate-app.yml
Due: none

ci: all-ci on akash runners
  .github/workflows/akash-templates-publisher.yml
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/all-ci.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/diff-package-lock.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/local-packages-ci.yml
  .github/workflows/reusable-validate-app.yml
Due: none

test: ensure e2e tests pass for new DenomAmount component
  apps/deploy-web/tests/ui/authorize-spending.spec.ts
Due: deploy-web

ci: migrate some actions to akash self-hosted runners (#2946)
  .github/actionlint.yaml
  .github/workflows/akash-templates-publisher.yml
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/diff-package-lock.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/local-packages-ci.yml
Due: none

fix: replaces another yaml.template wih yaml.raw
  apps/deploy-web/src/utils/deploymentData/helpers.ts
Due: deploy-web

fix(indexer): handle bare IP addresses in provider geolocation lookup
  apps/indexer/src/providers/ipLocationProvider.ts
Due: indexer

test: ensure e2e tests pass for new DenomAmount component (#2950)
  apps/deploy-web/tests/ui/authorize-spending.spec.ts
Due: deploy-web

fix: replaces another yaml.template wih yaml.raw (#2951)
  apps/deploy-web/src/utils/deploymentData/helpers.ts
Due: deploy-web

fix: updates chain-sdk to latest version across the apps (#2940)
  apps/deploy-web/src/components/deployments/DeploymentDepositModal/DeploymentDepositModal.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDepositModal/DeploymentDepositModal.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/remote-deploy/update/RemoteDeployUpdate.tsx
  apps/deploy-web/src/components/sdl/DeploymentMinimumEscrowAlertText.spec.tsx
  apps/deploy-web/src/components/sdl/DeploymentMinimumEscrowAlertText.tsx
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/hooks/useChainParam/useChainParam.tsx
  apps/deploy-web/src/hooks/useDenom.spec.ts
  apps/deploy-web/src/hooks/useDenom.ts
  apps/deploy-web/src/hooks/useManagedWalletDenom.ts
  apps/deploy-web/src/hooks/useManagedWalletDenom/useManagedWalletDenom.spec.ts
  apps/deploy-web/src/hooks/useManagedWalletDenom/useManagedWalletDenom.ts
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.spec.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.ts
  apps/deploy-web/src/utils/sdl/data.ts
Due: deploy-web

refactor(managed-wallet): rely on API-provided denom instead of client-side derivation
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.spec.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useManagedWalletDenom/useManagedWalletDenom.spec.ts
  apps/deploy-web/src/hooks/useManagedWalletDenom/useManagedWalletDenom.ts
  packages/http-sdk/src/managed-wallet-http/managed-wallet-http.service.ts
Due: deploy-web
