Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

test(dx): let the mutation gate ignore log calls on a private #logger field
  script/stryker-observability-ignorer.mjs
Due: none

fix(deployment): explain a provider that has not applied an update yet (#4015)
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
Due: api, deploy-web

feat(deployment): let a deployment patch move an exposed port (#4016)
  apps/api/src/deployment/http-schemas/deployment.schema.spec.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl-patch/sdl-patch.service.spec.ts
  apps/api/src/deployment/services/sdl-patch/sdl-patch.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/e2e/managed-api-deployment-flow.spec.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-patch.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(billing): answer unrecognized signer failures without the signer's text
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
Due: api

fix(deployment): answer an unreadable deployment without the upstream text
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
Due: api

fix(deployment): read the gpus of every pod a lease service runs (#4018)
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/lib/gpu-probe-output/gpu-probe-output.spec.ts
  apps/api/src/deployment/lib/gpu-probe-output/gpu-probe-output.ts
  apps/api/src/deployment/services/detect-lease-gpus/detect-lease-gpus.handler.integration.ts
  apps/api/src/deployment/services/lease-gpu-detection/lease-gpu-detection.service.spec.ts
  apps/api/src/deployment/services/lease-gpu-detection/lease-gpu-detection.service.ts
  apps/api/src/deployment/services/lease-gpu-probe/lease-gpu-probe.service.spec.ts
  apps/api/src/deployment/services/lease-gpu-probe/lease-gpu-probe.service.ts
Due: api

feat(analytics): record bulk deployment closes from the list (#4020)
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
Due: deploy-web

fix(deployment): let a keyboard reach the whole gpu label
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/GpuLabel.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/GpuLabel.tsx
Due: deploy-web

fix(deployment): stop the update tab resealing an update its provider has yet to apply
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/useDeploymentUpdateSubmit.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/useDeploymentUpdateSubmit.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/utils/updateDeploymentFailure.spec.ts
  apps/deploy-web/src/utils/updateDeploymentFailure.ts
Due: deploy-web

fix(deployment): show a patched SDL that is too large in the update tab's inline alert
  apps/deploy-web/src/utils/updateDeploymentFailure.spec.ts
  apps/deploy-web/src/utils/updateDeploymentFailure.ts
Due: deploy-web

fix(auth): require the private token on internal and dashboard routes
  apps/api/src/middlewares/privateMiddleware.spec.ts
  apps/api/src/middlewares/privateMiddleware.ts
  apps/api/src/routers/dashboardRouter.ts
  apps/api/src/routers/internalRouter.ts
  apps/api/test/functional/private-token-routes.spec.ts
Due: api

fix(deployment): refuse an update that changes a deployment's resources
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/utils/changed-group-resources/changed-group-resources.spec.ts
  apps/api/src/deployment/utils/changed-group-resources/changed-group-resources.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-patch-route.spec.ts
  apps/api/test/functional/deployment-patch.spec.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/seeders/deployment-info.seeder.ts
Due: api

fix(deployment): show how many gpus a deployment runs beside the model (#4019)
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/GpuLabel.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/GpuLabel.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.spec.tsx
  apps/deploy-web/src/hooks/useDetectedLeaseGpus/useDetectedLeaseGpus.spec.tsx
  apps/deploy-web/src/hooks/useDetectedLeaseGpus/useDetectedLeaseGpus.ts
Due: deploy-web

feat(provider): count the providers behind each placement option
  apps/api/src/placement-options/http-schemas/placement-options.schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/placement-options.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.spec.tsx
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/provider-inventory/src/controllers/placement-options/placement-options.controller.spec.ts
  apps/provider-inventory/src/controllers/placement-options/placement-options.controller.ts
  apps/provider-inventory/src/http-schemas/placement-options.schema.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.spec.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.ts
  apps/provider-inventory/src/repositories/placement-options/placement-options.repository.integration.ts
  apps/provider-inventory/src/repositories/placement-options/placement-options.repository.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

fix(deployment): label the update tab's gpu stat the way the details tab does
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementStats.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementStats.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/DeploymentUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/DeploymentUpdate.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/UpdatePlacementCard.tsx
Due: deploy-web

fix(deployment): reload the update tab after an update its provider has yet to apply
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/useDeploymentUpdateSubmit.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/useDeploymentUpdateSubmit.tsx
Due: deploy-web

fix(auth): require the private token on internal and dashboard routes (#4027)
  apps/api/src/middlewares/privateMiddleware.spec.ts
  apps/api/src/middlewares/privateMiddleware.ts
  apps/api/src/routers/dashboardRouter.ts
  apps/api/src/routers/internalRouter.ts
  apps/api/test/functional/private-token-routes.spec.ts
Due: api

fix(deployment): show a variable renamed onto a secret's name as the clash
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/DeploymentUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdateFormSchema.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdateFormSchema.ts
Due: deploy-web

fix(deployment): refuse an update that changes a deployment's resources (#4021)
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/utils/changed-group-resources/changed-group-resources.spec.ts
  apps/api/src/deployment/utils/changed-group-resources/changed-group-resources.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-patch-route.spec.ts
  apps/api/test/functional/deployment-patch.spec.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/seeders/deployment-info.seeder.ts
Due: api

test(deployment): describe the replay fixtures as carrying nothing large on disk
  apps/api/src/workload-abuse/services/behavioural-signal-replay/behavioural-signal-replay.service.spec.ts
Due: api

fix(deployment): look up a few deployments directly instead of paging the owner's history (#4023)
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.spec.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
Due: api

fix(managed-wallet): resend a broadcast the node never answered (#4024)
  apps/tx-signer/src/lib/signing-client/signing-client.service.spec.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.ts
  script/stryker-observability-ignorer.mjs
Due: none

feat(provider): count the providers behind each placement option (#4028)
  apps/api/src/placement-options/http-schemas/placement-options.schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/placement-options.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.spec.tsx
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/provider-inventory/src/controllers/placement-options/placement-options.controller.spec.ts
  apps/provider-inventory/src/controllers/placement-options/placement-options.controller.ts
  apps/provider-inventory/src/http-schemas/placement-options.schema.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.spec.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.ts
  apps/provider-inventory/src/repositories/placement-options/placement-options.repository.integration.ts
  apps/provider-inventory/src/repositories/placement-options/placement-options.repository.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

feat(deployment): edit a running deployment from the update tab behind a flag (#4017)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementStats.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementStats.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/DeploymentUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/DeploymentUpdate.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/UpdateImageSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/UpdateNetworkingSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/UpdatePlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/UpdateSectionRule.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/UpdateServiceSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/UpdateVariablesPanel.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdateFormSchema.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdateFormSchema.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdatePatch.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdatePatch.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/useDeploymentUpdateSubmit.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/useDeploymentUpdateSubmit.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/updateDeploymentFailure.spec.ts
  apps/deploy-web/src/utils/updateDeploymentFailure.ts
Due: deploy-web

fix(billing): stop forwarding raw upstream error text to callers (#4026)
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
Due: api

fix(deployment): align the network shape signal with its specification (#4022)
  apps/api/src/workload-abuse/lib/behavioural-signals/network-isolation.spec.ts
  apps/api/src/workload-abuse/lib/behavioural-signals/network-isolation.ts
  apps/api/src/workload-abuse/services/behavioural-signal-replay/behavioural-signal-replay.service.spec.ts
  apps/api/src/workload-abuse/services/behavioural-signal-replay/fixtures/accelerator-bound-single-upstream.json
  apps/api/src/workload-abuse/services/behavioural-signal-replay/fixtures/index.ts
Due: api

refactor(deployment): build the region select spec's placement options on a mock
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.spec.tsx
Due: deploy-web

feat(deployment): list unavailable regions below the ones providers serve
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.spec.tsx
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.spec.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.tsx
  apps/deploy-web/src/utils/providerUtils.spec.ts
  apps/deploy-web/src/utils/providerUtils.ts
Due: deploy-web

feat(deployment): list unavailable regions below the ones providers serve (#4029)
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.spec.tsx
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.spec.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.tsx
  apps/deploy-web/src/utils/providerUtils.spec.ts
  apps/deploy-web/src/utils/providerUtils.ts
Due: deploy-web

fix(alert): describe what the alerts type filter actually matches
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/swagger/swagger.json
Due: notifications

fix(deployment): describe port moves without blockchain wording
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(billing): word four caller-facing errors without blockchain terms
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/billing/services/external-signer-http-sdk/tx-outcome.error.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
Due: api, deploy-web

docs(deployment): add a glossary for the console api
  CONTEXT-MAP.md
  apps/api/CONTEXT.md
Due: api

test(deployment): fail the docs suite when blockchain wording returns
  apps/api/test/functional/docs.spec.ts
Due: api

fix(deployment): describe deployments and leases without blockchain wording
  apps/api/src/chain/routes/blockchain-status/blockchain-status.router.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/routes/leases/leases.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(deployment): describe a refused resource change without blockchain wording
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

feat(deployment): list unavailable gpu models below the ones providers can fill
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/types/gpu.ts
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/deploy-web/src/utils/akash/gpu.ts
Due: deploy-web

fix(deployment): keep the provider count on a gpu model once it is picked
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/deploy-web/src/utils/akash/gpu.ts
Due: deploy-web

fix(billing): size a lease-start auto recharge to the escrow runway instead of a week
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
Due: api

refactor(deployment): cover the gpu model picker's vendor switch and empty states
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/utils/akash/gpu.spec.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
