Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

feat(deployment): validate confidential compute attestation evidence against hardware vendors
  apps/api/src/confidential-compute/config/env.config.ts
  apps/api/src/confidential-compute/controllers/attestation.controller.ts
  apps/api/src/confidential-compute/http-schemas/attestation.schema.ts
  apps/api/src/confidential-compute/index.ts
  apps/api/src/confidential-compute/providers/config.provider.ts
  apps/api/src/confidential-compute/providers/vendor-clients.provider.ts
  apps/api/src/confidential-compute/routes/attestation.router.ts
  apps/api/src/confidential-compute/routes/index.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-kds.client.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-snp.service.spec.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-snp.service.ts
  apps/api/src/confidential-compute/services/amd-snp/snp-report.parser.spec.ts
  apps/api/src/confidential-compute/services/amd-snp/snp-report.parser.ts
  apps/api/src/confidential-compute/services/attestation.service.spec.ts
  apps/api/src/confidential-compute/services/attestation.service.ts
  apps/api/src/confidential-compute/services/intel-tdx/intel-tdx.service.spec.ts
  apps/api/src/confidential-compute/services/intel-tdx/intel-tdx.service.ts
  apps/api/src/confidential-compute/services/jwt-verify.ts
  apps/api/src/confidential-compute/services/nvidia-gpu/nvidia-gpu.service.spec.ts
  apps/api/src/confidential-compute/services/nvidia-gpu/nvidia-gpu.service.ts
  apps/api/src/routers/open-api-handlers.ts
Due: api

feat(deployment): validate attestation evidence from the deployment view
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.spec.tsx
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.tsx
  apps/deploy-web/src/queries/useAttestationValidationMutation.spec.ts
  apps/deploy-web/src/queries/useAttestationValidationMutation.ts
Due: deploy-web

fix(deployment): read device_index for GPU attestation report label (#3364)
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.spec.tsx
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.tsx
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

feat(deployment): add GPU, presets, commands and env vars configure cards
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/CommandsCard/CommandsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/CommandsCard/CommandsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/EnvironmentVariablesCard/EnvironmentVariablesCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/EnvironmentVariablesCard/EnvironmentVariablesCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/PresetsCard/PresetsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/PresetsCard/PresetsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/PresetsCard/hardwarePresets.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/PresetsCard/hardwarePresets.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  packages/ui/components/dialog-v2.tsx
  packages/ui/components/index.tsx
Due: deploy-web

feat(deployment): add GPU, presets, commands and env vars configure cards (#3366)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/CommandsCard/CommandsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/CommandsCard/CommandsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/EnvironmentVariablesCard/EnvironmentVariablesCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/EnvironmentVariablesCard/EnvironmentVariablesCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/PresetsCard/PresetsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/PresetsCard/PresetsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/PresetsCard/hardwarePresets.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/PresetsCard/hardwarePresets.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  packages/ui/components/dialog-v2.tsx
  packages/ui/components/index.tsx
Due: deploy-web

feat(sdl): add reclamation window control to configure deployment pane
  apps/api/swagger/openapi.json
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ReclamationSection/ReclamationSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ReclamationSection/ReclamationSection.tsx
  apps/deploy-web/src/queries/useScreenedProviders.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.ts
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

feat(sdl): add reclamation window control to deployment pane (#3368)
  apps/api/swagger/openapi.json
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ReclamationSection/ReclamationSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ReclamationSection/ReclamationSection.tsx
  apps/deploy-web/src/queries/useScreenedProviders.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.ts
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

feat: adds tee control to new sdl configuration
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/components/sdl/SDLEditor/getMonacoErrorMarkers.ts
  apps/deploy-web/src/utils/sdl/data.ts
  apps/deploy-web/src/utils/sdl/validateGeneratedSdl.spec.ts
  apps/deploy-web/src/utils/sdl/validateGeneratedSdl.ts
  packages/docker/.env.sandbox.docker-compose-dev
Due: deploy-web

feat: adds tee control to new sdl configuration (#3367)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/components/sdl/SDLEditor/getMonacoErrorMarkers.ts
  apps/deploy-web/src/utils/sdl/data.ts
  apps/deploy-web/src/utils/sdl/validateGeneratedSdl.spec.ts
  apps/deploy-web/src/utils/sdl/validateGeneratedSdl.ts
  packages/docker/.env.sandbox.docker-compose-dev
Due: deploy-web

refactor(deployment): simplify confidential-compute attestation verifiers
  apps/api/src/confidential-compute/services/amd-snp/amd-kds.client.ts
  apps/api/src/confidential-compute/services/intel-tdx/intel-tdx.service.ts
  apps/api/src/confidential-compute/services/nvidia-gpu/nvidia-gpu.service.ts
Due: api

fix(deployment): anchor confidential-compute verdicts to vendor root and request nonce
  apps/api/src/confidential-compute/services/amd-snp/amd-snp.service.spec.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-snp.service.ts
  apps/api/src/confidential-compute/services/intel-tdx/intel-tdx.service.spec.ts
  apps/api/src/confidential-compute/services/intel-tdx/intel-tdx.service.ts
  apps/api/src/confidential-compute/services/jwt-verify.ts
  apps/api/src/confidential-compute/services/nvidia-gpu/nvidia-gpu.service.spec.ts
  apps/api/src/confidential-compute/services/nvidia-gpu/nvidia-gpu.service.ts
Due: api

fix(deployment): harden confidential-compute request validation and vendor calls
  apps/api/src/confidential-compute/config/env.config.ts
  apps/api/src/confidential-compute/http-schemas/attestation.schema.ts
  apps/api/src/confidential-compute/providers/vendor-clients.provider.ts
  apps/api/src/confidential-compute/services/attestation.service.spec.ts
  apps/api/src/confidential-compute/services/attestation.service.ts
Due: api

refactor(deployment): validate attestation via the generated console API client
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.spec.tsx
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.tsx
  apps/deploy-web/src/queries/useAttestationValidationMutation.spec.ts
  apps/deploy-web/src/queries/useAttestationValidationMutation.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: deploy-web

test(deployment): update API docs snapshot for the attestation validate route
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(deployment): treat unconfirmed attestation freshness as unverifiable
  apps/api/src/confidential-compute/services/amd-snp/amd-snp.service.spec.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-snp.service.ts
  apps/api/src/confidential-compute/services/intel-tdx/intel-tdx.service.spec.ts
  apps/api/src/confidential-compute/services/intel-tdx/intel-tdx.service.ts
  apps/api/src/confidential-compute/services/nvidia-gpu/nvidia-gpu.service.spec.ts
  apps/api/src/confidential-compute/services/nvidia-gpu/nvidia-gpu.service.ts
Due: api

feat(deployment): add expose ports and logs configure cards
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/LogsCard/LogsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/LogsCard/LogsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/utils/sdl/formArrayHelpers.spec.ts
  packages/ui/components/collapsible-card.spec.tsx
  packages/ui/components/collapsible-card.tsx
Due: deploy-web

feat(deployment): support pasting env vars in dotenv format
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/EnvironmentVariablesCard/EnvironmentVariablesCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/EnvironmentVariablesCard/EnvironmentVariablesCard.tsx
Due: deploy-web

refactor(deployment): collapse attestation evidence reports by default
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.spec.tsx
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.tsx
Due: deploy-web

feat(deployment): support pasting env vars in dotenv format (#3370)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/EnvironmentVariablesCard/EnvironmentVariablesCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/EnvironmentVariablesCard/EnvironmentVariablesCard.tsx
Due: deploy-web

feat(deployment): add expose ports and logs configure cards (#3369)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/LogsCard/LogsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/LogsCard/LogsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/utils/sdl/formArrayHelpers.spec.ts
  packages/ui/components/collapsible-card.spec.tsx
  packages/ui/components/collapsible-card.tsx
Due: deploy-web

fix(deployment): compare the ITA base64 nonce case-sensitively
  apps/api/src/confidential-compute/services/intel-tdx/intel-tdx.service.spec.ts
  apps/api/src/confidential-compute/services/intel-tdx/intel-tdx.service.ts
Due: api

fix(deployment): skip lease creation when a lease already exists
  apps/api/src/deployment/services/lease/lease.service.spec.ts
  apps/api/src/deployment/services/lease/lease.service.ts
Due: api

feat(deployment): validate confidential compute attestation evidence against hardware vendors (#3365)
  apps/api/src/confidential-compute/config/env.config.ts
  apps/api/src/confidential-compute/controllers/attestation.controller.ts
  apps/api/src/confidential-compute/http-schemas/attestation.schema.ts
  apps/api/src/confidential-compute/index.ts
  apps/api/src/confidential-compute/providers/config.provider.ts
  apps/api/src/confidential-compute/providers/vendor-clients.provider.ts
  apps/api/src/confidential-compute/routes/attestation.router.ts
  apps/api/src/confidential-compute/routes/index.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-kds.client.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-snp.service.spec.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-snp.service.ts
  apps/api/src/confidential-compute/services/amd-snp/snp-report.parser.spec.ts
  apps/api/src/confidential-compute/services/amd-snp/snp-report.parser.ts
  apps/api/src/confidential-compute/services/attestation.service.spec.ts
  apps/api/src/confidential-compute/services/attestation.service.ts
  apps/api/src/confidential-compute/services/intel-tdx/intel-tdx.service.spec.ts
  apps/api/src/confidential-compute/services/intel-tdx/intel-tdx.service.ts
  apps/api/src/confidential-compute/services/jwt-verify.ts
  apps/api/src/confidential-compute/services/nvidia-gpu/nvidia-gpu.service.spec.ts
  apps/api/src/confidential-compute/services/nvidia-gpu/nvidia-gpu.service.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.spec.tsx
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.tsx
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.tsx
  apps/deploy-web/src/utils/confidentialCompute.ts
  apps/deploy-web/src/utils/urlUtils.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

chore(repo): ignore .claude/worktrees directory
  .gitignore
Due: none

chore(repo): ignore .claude/worktrees directory (#3373)
  .gitignore
Due: none

fix(deployment): skip lease creation when a lease already exists (#3372)
  apps/api/src/deployment/services/lease/lease.service.spec.ts
  apps/api/src/deployment/services/lease/lease.service.ts
Due: api

fix: triggers auto charge job right after auto top up
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.spec.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

fix: triggers auto charge job right after auto top up (#3375)
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.spec.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

feat: adds tee resources description
  apps/deploy-web/src/components/deployments/ConfidentialComputeResources.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

feat: adds tee resources description (#3377)
  apps/deploy-web/src/components/deployments/ConfidentialComputeResources.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

feat(deployment): show deployment cost in the configure header
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentCost/useDeploymentCost.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentCost/useDeploymentCost.ts
  apps/deploy-web/src/components/shared/PricePerTimeUnit.tsx
  apps/deploy-web/src/utils/priceUtils.spec.ts
  apps/deploy-web/src/utils/priceUtils.ts
Due: deploy-web

feat(deployment): show deployment cost in the configure header (#3378)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentCost/useDeploymentCost.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentCost/useDeploymentCost.ts
  apps/deploy-web/src/components/shared/PricePerTimeUnit.tsx
  apps/deploy-web/src/utils/priceUtils.spec.ts
  apps/deploy-web/src/utils/priceUtils.ts
Due: deploy-web

feat(deployment): check AMD CRL revocation in attestation validation
  apps/api/src/confidential-compute/services/amd-snp/amd-crl.parser.spec.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-crl.parser.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-kds.client.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-snp.service.spec.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-snp.service.ts
Due: api
