Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(deployment): qualify the patch retry promise for a seal bound to the sdl
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test(deployment): scan the default doc surface for blockchain wording
  apps/api/test/functional/docs.spec.ts
Due: api

feat(deployment): list unavailable gpu models below the ones providers can fill (#4030)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/types/gpu.ts
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/deploy-web/src/utils/akash/gpu.ts
Due: deploy-web

fix(billing): size a lease-start auto recharge to the escrow runway instead of a week (#4031)
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
Due: api

fix(deployment): keep blockchain wording out of the public api (#4025)
  CONTEXT-MAP.md
  apps/api/CONTEXT.md
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/billing/services/external-signer-http-sdk/tx-outcome.error.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/chain/routes/blockchain-status/blockchain-status.router.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/routes/leases/leases.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-patch.spec.ts
  apps/api/test/functional/docs.spec.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/swagger/swagger.json
Due: api, deploy-web, notifications

fix(provider): serve placement option gpu interfaces the way an sdl spells them
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.spec.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.ts
Due: none

fix(provider): document placement option gpu interfaces with the sdl spelling
  apps/api/src/placement-options/http-schemas/placement-options.schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-inventory/src/http-schemas/placement-options.schema.ts
  apps/provider-inventory/src/mappers/gpu-attribute-parser/gpu-attribute-parser.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(sdl): report a memory or storage size without a unit as invalid input
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/deployment/utils/sdl-sizes/sdl-sizes.spec.ts
  apps/api/src/deployment/utils/sdl-sizes/sdl-sizes.ts
Due: api

fix(dx): retry a chain db query when its connection drops mid-flight
  apps/api/src/chain/providers/sequelize.provider.ts
  apps/api/src/core/config/env.config.ts
Due: api

test(sdl): cover a memory size without a unit through the deployments endpoint
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(deployment): settle behavioural detections once their wallet is enforced
  apps/api/src/workload-abuse/repositories/workload-abuse-detection/workload-abuse-detection.repository.integration.ts
  apps/api/src/workload-abuse/repositories/workload-abuse-detection/workload-abuse-detection.repository.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.integration.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.spec.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.ts
  apps/api/src/workload-abuse/services/trial-abuse-enforcement-job/trial-abuse-enforcement-job.service.integration.ts
Due: api

fix(deployment): base the follow-up of a wipe on every detection of the wallet
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.integration.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.spec.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.ts
Due: api

fix(provider): serve placement option gpu interfaces the way an sdl spells them (#4032)
  apps/api/src/placement-options/http-schemas/placement-options.schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-inventory/src/http-schemas/placement-options.schema.ts
  apps/provider-inventory/src/mappers/gpu-attribute-parser/gpu-attribute-parser.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.spec.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(sdl): report a memory or storage size without a unit as invalid input (#4033)
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/deployment/utils/sdl-sizes/sdl-sizes.spec.ts
  apps/api/src/deployment/utils/sdl-sizes/sdl-sizes.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(dx): retry a chain db query when its connection drops mid-flight (#4034)
  apps/api/src/chain/providers/sequelize.provider.ts
  apps/api/src/core/config/env.config.ts
Due: api

fix(deployment): settle behavioural detections once their wallet is enforced (#4035)
  apps/api/src/workload-abuse/repositories/workload-abuse-detection/workload-abuse-detection.repository.integration.ts
  apps/api/src/workload-abuse/repositories/workload-abuse-detection/workload-abuse-detection.repository.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.integration.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.spec.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.ts
  apps/api/src/workload-abuse/services/trial-abuse-enforcement-job/trial-abuse-enforcement-job.service.integration.ts
Due: api

fix(observability): log pg-boss worker errors under their own event with the queue name
  apps/api/src/core/services/job-queue/job-queue.service.integration.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
Due: api

fix(deployment): leave gpu memory and interface unpinned on a model pick
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
Due: deploy-web

fix(bid): screen out providers that do not advertise the requested gpu key
  apps/provider-inventory/CONTEXT.md
  apps/provider-inventory/src/mappers/groupspec-mapper/groupspec-mapper.spec.ts
  apps/provider-inventory/src/mappers/groupspec-mapper/groupspec-mapper.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.spec.ts
  apps/provider-inventory/src/types/inventory.ts
Due: none

refactor(observability): recognise a pg-boss worker error by its queue field alone
  apps/api/src/core/services/job-queue/job-queue.service.ts
Due: api

fix(deployment): show the gpu each provider bid with in the compute marketplace
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplaceProvidersTable/MarketplaceProvidersTable.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplaceProvidersTable/MarketplaceProvidersTable.tsx
  apps/deploy-web/src/queries/usePlacementOffers.spec.ts
  apps/deploy-web/src/queries/usePlacementOffers.ts
Due: deploy-web

refactor(deployment): reset gpu memory and interface through their own controllers
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
Due: deploy-web

fix(observability): log pg-boss worker errors under their own event with the queue name (#4036)
  apps/api/src/core/services/job-queue/job-queue.service.integration.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
Due: api

fix(deployment): keep the marketplace column widths when no gpu column shows
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplaceProvidersTable/MarketplaceProvidersTable.tsx
Due: deploy-web

fix(provider): count only providers that would bid in the placement options
  apps/api/src/placement-options/http-schemas/placement-options.schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/placement-options.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/provider-inventory/src/controllers/placement-options/placement-options.controller.spec.ts
  apps/provider-inventory/src/http-schemas/placement-options.schema.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.spec.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.ts
  apps/provider-inventory/src/repositories/placement-options/placement-options.repository.integration.ts
  apps/provider-inventory/src/repositories/placement-options/placement-options.repository.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

fix(deployment): keep a pinned gpu memory and interface when the model is picked again
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
Due: deploy-web

refactor(deployment): keep lease gpu readings on the deployment setting
  apps/api/drizzle/0061_deployment_settings_detected_gpus.sql
  apps/api/drizzle/meta/0061_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/app/console.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/deployment/lib/lease-gpu-readings/lease-gpu-readings.spec.ts
  apps/api/src/deployment/lib/lease-gpu-readings/lease-gpu-readings.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/model-schemas/lease-gpu/lease-gpu.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/repositories/lease-gpu/lease-gpu.repository.integration.ts
  apps/api/src/deployment/repositories/lease-gpu/lease-gpu.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/detect-lease-gpus/detect-lease-gpus.handler.integration.ts
  apps/api/src/deployment/services/detect-lease-gpus/detect-lease-gpus.handler.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/lease-gpu-detection-job/lease-gpu-detection-job.service.spec.ts
  apps/api/src/deployment/services/lease-gpu-detection-job/lease-gpu-detection-job.service.ts
  apps/api/src/deployment/services/lease-gpu-detection/lease-gpu-detection.service.spec.ts
  apps/api/src/deployment/services/lease-gpu-detection/lease-gpu-detection.service.ts
  apps/api/src/deployment/services/lease-gpu/lease-gpu.service.spec.ts
  apps/api/src/deployment/services/lease-gpu/lease-gpu.service.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/seeders/db/lease-gpu.seeder.ts
  apps/api/test/seeders/lease-gpu-reading.seeder.ts
Due: api

fix(deployment): skip bid gpu attributes that name no model
  apps/deploy-web/src/queries/usePlacementOffers.spec.ts
  apps/deploy-web/src/queries/usePlacementOffers.ts
Due: deploy-web

fix(deployment): leave gpu memory and interface unpinned on a model pick (#4037)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
Due: deploy-web

fix(deployment): show the gpu each provider bid with in the compute marketplace (#4039)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplaceProvidersTable/MarketplaceProvidersTable.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplaceProvidersTable/MarketplaceProvidersTable.tsx
  apps/deploy-web/src/queries/usePlacementOffers.spec.ts
  apps/deploy-web/src/queries/usePlacementOffers.ts
Due: deploy-web

feat(deployment): record a definition for a deployment the console holds none for
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-definition.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(deployment): replace, add and remove secrets from the update tab
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/DeploymentUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/DeploymentUpdate.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/UpdateImageSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/UpdateVariablesPanel.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdateFormSchema.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdateFormSchema.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdatePatch.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdatePatch.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/useDeploymentUpdateSubmit.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/useDeploymentUpdateSubmit.tsx
  apps/deploy-web/src/utils/sdl/sdlSecrets.ts
Due: deploy-web

fix(bid): screen out providers that do not advertise the requested gpu key (#4038)
  apps/provider-inventory/CONTEXT.md
  apps/provider-inventory/src/mappers/groupspec-mapper/groupspec-mapper.spec.ts
  apps/provider-inventory/src/mappers/groupspec-mapper/groupspec-mapper.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.spec.ts
  apps/provider-inventory/src/types/inventory.ts
Due: none

fix(deployment): read the deployment before opening a definition's seal
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

fix(bid): screen out providers whose storage or auditor signature the bid engine rejects
  apps/provider-inventory/CONTEXT.md
  apps/provider-inventory/src/mappers/groupspec-mapper/groupspec-mapper.spec.ts
  apps/provider-inventory/src/mappers/groupspec-mapper/groupspec-mapper.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.spec.ts
  apps/provider-inventory/src/types/inventory.ts
Due: none

fix(provider): count only providers that would bid in the placement options (#4042)
  apps/api/src/placement-options/http-schemas/placement-options.schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/placement-options.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/provider-inventory/src/controllers/placement-options/placement-options.controller.spec.ts
  apps/provider-inventory/src/http-schemas/placement-options.schema.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.spec.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.ts
  apps/provider-inventory/src/repositories/placement-options/placement-options.repository.integration.ts
  apps/provider-inventory/src/repositories/placement-options/placement-options.repository.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

fix(bid): cap signedBy auditors and placement attributes on the screening request
  apps/provider-inventory/src/http-schemas/bid-screening.schema.spec.ts
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
Due: none

fix(bid): screen out providers whose storage or auditor signature the bid engine rejects (#4040)
  apps/provider-inventory/CONTEXT.md
  apps/provider-inventory/src/http-schemas/bid-screening.schema.spec.ts
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/mappers/groupspec-mapper/groupspec-mapper.spec.ts
  apps/provider-inventory/src/mappers/groupspec-mapper/groupspec-mapper.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.spec.ts
  apps/provider-inventory/src/types/inventory.ts
Due: none

fix(provider): run two provider-proxy replicas in prod mainnet
  .helm/provider-proxy-prod-mainnet-values.yaml
Due: none

refactor(bid): state why the gpu reservation copies the provider's
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.ts
Due: none

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
