Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

refactor: removes dead code related to user endpoints
  apps/api/package.json
  apps/api/src/auth/services/user-auth-token/user-auth-token.service.ts
  apps/api/src/core/lib/create-route/create-route.spec.ts
  apps/api/src/core/lib/create-route/create-route.ts
  apps/api/src/middlewares/cacheControlMiddleware.ts
  apps/api/src/middlewares/cacheControlMiddleware/cacheControlMiddleware.ts
  apps/api/src/middlewares/userMiddleware.ts
  apps/api/src/rest-app.ts
  apps/api/src/user/services/current-user/current-user.interceptor.ts
  apps/api/src/verify-rsa-jwt-cloudflare-worker-main/hono-middleware.ts
  apps/api/src/verify-rsa-jwt-cloudflare-worker-main/index.ts
  apps/api/tsup.config.ts
Due: api

fix: hides deployment stepper on the first step and fixes wallet btn spacing
  apps/deploy-web/src/components/layout/WalletStatus.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentContainer.tsx
Due: deploy-web

chore(analytics): updates staging proxy url for amplitude
  apps/deploy-web/env/.env
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.staging
Due: deploy-web

refactor: removes dead code related to user endpoints (#2650)
  apps/api/package.json
  apps/api/src/auth/services/user-auth-token/user-auth-token.service.ts
  apps/api/src/core/lib/create-route/create-route.spec.ts
  apps/api/src/core/lib/create-route/create-route.ts
  apps/api/src/middlewares/cacheControlMiddleware.ts
  apps/api/src/middlewares/cacheControlMiddleware/cacheControlMiddleware.ts
  apps/api/src/middlewares/userMiddleware.ts
  apps/api/src/rest-app.ts
  apps/api/src/user/services/current-user/current-user.interceptor.ts
  apps/api/src/verify-rsa-jwt-cloudflare-worker-main/hono-middleware.ts
  apps/api/src/verify-rsa-jwt-cloudflare-worker-main/index.ts
  apps/api/tsup.config.ts
Due: api

fix: adds E2E_TESTING_CLIENT_TOKEN to userAgent to disable rate limiting
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/tests/ui/fixture/base-test.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/globalSetup/setup-wallet.ts
Due: deploy-web

fix: adds E2E_TESTING_CLIENT_TOKEN to userAgent to disable rate limiting (#2660)
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/tests/ui/fixture/base-test.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/globalSetup/setup-wallet.ts
Due: deploy-web

chore: fixes cr comments
  apps/api/src/user/controllers/user/user.controller.ts
  apps/api/src/user/routes/user-settings/user-settings.router.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix: prepends /v1 to all user/template urls and added proxies
  apps/api/src/routers/legacyRouter.ts
  apps/api/src/user/controllers/user/user.controller.ts
  apps/api/src/user/routes/user-settings/user-settings.router.ts
  apps/api/src/user/routes/user-templates/user-templates.router.ts
  apps/deploy-web/src/components/sdl/EditDescriptionForm.tsx
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/queries/useSaveSettings.spec.tsx
  apps/deploy-web/src/queries/useSaveSettings.ts
  apps/deploy-web/src/queries/useTemplateQuery.spec.tsx
  apps/deploy-web/src/queries/useTemplateQuery.tsx
  package-lock.json
Due: api, deploy-web

fix: prepends /v1 to all user/template urls and added proxies (#2659)
  apps/api/src/routers/legacyRouter.ts
  apps/api/src/user/controllers/user/user.controller.ts
  apps/api/src/user/routes/user-settings/user-settings.router.ts
  apps/api/src/user/routes/user-templates/user-templates.router.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/sdl/EditDescriptionForm.tsx
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/queries/useSaveSettings.spec.tsx
  apps/deploy-web/src/queries/useSaveSettings.ts
  apps/deploy-web/src/queries/useTemplateQuery.spec.tsx
  apps/deploy-web/src/queries/useTemplateQuery.tsx
  package-lock.json
Due: api, deploy-web

fix: adds execution context to http handling in bg jobs server
  apps/api/src/background-jobs-app.ts
Due: api

fix: adds execution context to http handling in bg jobs server (#2662)
  apps/api/src/background-jobs-app.ts
Due: api

refactor: rename admin apps and migrate from webpack to tsup for build process
  apps/admin-api/env/.env
  apps/admin-api/env/.env.functional.test
  apps/admin-api/env/.env.functional.test.local.sample
  apps/admin-api/env/.env.mainnet
  apps/admin-api/env/.env.production
  apps/admin-api/env/.env.sample
  apps/admin-api/env/.env.sandbox
  apps/admin-api/env/.env.staging
  apps/admin-api/env/.env.testnet
  apps/admin-api/env/.env.unit.test
  apps/admin-api/package.json
  apps/admin-api/src/app/index.ts
  apps/admin-api/src/core/providers/logging.provider.ts
  apps/admin-api/tsup.config.ts
  apps/admin-api/webpack.dev.js
  apps/admin-api/webpack.prod.js
  apps/admin-web/env/.env
  apps/admin-web/env/.env.production
  apps/admin-web/env/.env.sample
  apps/admin-web/env/.env.staging
  apps/admin-web/next-env.d.ts
  apps/admin-web/package.json
  apps/admin-web/src/pages/login/index.tsx
  package-lock.json
Due: none

feat: add auto-switching logic for custodial wallet selection in useManagedWallet hook
  apps/deploy-web/src/hooks/useManagedWallet.ts
Due: deploy-web

refactor: remove wallet-related logic from OnboardingPage component
  apps/deploy-web/src/components/onboarding/OnboardingPage.tsx
Due: deploy-web

feat: implement onboarding guard and enhance authentication flow
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/OnboardingGuard/OnboardingGuard.tsx
  apps/deploy-web/src/components/onboarding/OnboardingPage.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/pages/login/index.tsx
Due: deploy-web

fix: remove redundant query parameter from signup URL in OnboardingContainer
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
Due: deploy-web

refactor: simplify tab switching logic in AuthPage component
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
Due: deploy-web

feat: implement logout functionality in OnboardingPage and update related services
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/OnboardingGuard/OnboardingGuard.tsx
  apps/deploy-web/src/components/onboarding/OnboardingPage.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

refactor: improve auto-switching logic in useManagedWallet hook to check wallet type conditionally
  apps/deploy-web/src/hooks/useManagedWallet.ts
Due: deploy-web

refactor: replace OnboardingGuard with OnboardingRedirectEffect
  apps/deploy-web/src/components/onboarding/OnboardingGuard/OnboardingGuard.tsx
  apps/deploy-web/src/components/onboarding/OnboardingPage.tsx
  apps/deploy-web/src/components/onboarding/OnboardingRedirect/OnboardingRedirect.tsx
  apps/deploy-web/src/components/onboarding/OnboardingRedirectEffect/OnboardingRedirectEffect.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/PaymentMethodForm.tsx
  apps/deploy-web/src/hooks/useIsOnboarded.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/pages/deployments/[dseq]/index.tsx
  apps/deploy-web/src/pages/deployments/index.tsx
  apps/deploy-web/src/pages/new-deployment/index.tsx
  apps/deploy-web/src/pages/payment.tsx
Due: deploy-web

refactor: consolidate wallet connection logic into WalletConnectionButtons
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/layout/WalletStatus.tsx
  apps/deploy-web/src/components/onboarding/OnboardingPage.tsx
  apps/deploy-web/src/components/shared/ConnectWallet.tsx
  apps/deploy-web/src/components/wallet/ConnectWalletButton.tsx
  apps/deploy-web/src/components/wallet/WalletConnectionButtons.tsx
Due: deploy-web

refactor: update onReady prop type in PaymentMethodForm to match PaymentElement interface
  apps/deploy-web/src/components/shared/PaymentMethodForm/PaymentMethodForm.tsx
Due: deploy-web

fix: remove redundant query parameter from login URL in OnboardingContainer tests
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
Due: deploy-web

refactor: streamline onboarding components
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/onboarding/OnboardingPage.tsx
  apps/deploy-web/src/components/onboarding/OnboardingView/OnboardingView.tsx
  apps/deploy-web/src/components/onboarding/steps/WelcomeStep/TrialStatusBar.tsx
  apps/deploy-web/src/components/onboarding/steps/WelcomeStep/WelcomeStep.tsx
Due: deploy-web

refactor: enhance useManagedWallet
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/storage/keys.ts
  apps/deploy-web/src/store/walletStore.ts
Due: deploy-web

refactor: adjust auto-switching logic in useManagedWallet to conditionally set wallet type
  apps/deploy-web/src/hooks/useManagedWallet.ts
Due: deploy-web

Revert "refactor: enhance useManagedWallet"
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/storage/keys.ts
  apps/deploy-web/src/store/walletStore.ts
Due: deploy-web

fix: force user onboarding (#2639)
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/layout/WalletStatus.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/OnboardingPage.tsx
  apps/deploy-web/src/components/onboarding/OnboardingRedirect/OnboardingRedirect.tsx
  apps/deploy-web/src/components/onboarding/OnboardingRedirectEffect/OnboardingRedirectEffect.tsx
  apps/deploy-web/src/components/onboarding/OnboardingView/OnboardingView.tsx
  apps/deploy-web/src/components/onboarding/steps/WelcomeStep/TrialStatusBar.tsx
  apps/deploy-web/src/components/onboarding/steps/WelcomeStep/WelcomeStep.tsx
  apps/deploy-web/src/components/shared/ConnectWallet.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/PaymentMethodForm.tsx
  apps/deploy-web/src/components/wallet/ConnectWalletButton.tsx
  apps/deploy-web/src/components/wallet/WalletConnectionButtons.tsx
  apps/deploy-web/src/hooks/useIsOnboarded.ts
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/pages/deployments/[dseq]/index.tsx
  apps/deploy-web/src/pages/deployments/index.tsx
  apps/deploy-web/src/pages/login/index.tsx
  apps/deploy-web/src/pages/new-deployment/index.tsx
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

refactor: update template retrieval and response handling
  apps/api/src/routers/legacyRouter.ts
  apps/api/src/template/controllers/template/template.controller.ts
  apps/api/src/template/http-schemas/template.schema.ts
  apps/deploy-web/src/pages/templates/[templateId]/index.tsx
Due: api, deploy-web

fix: include query string in template redirection for improved URL handling
  apps/api/src/routers/legacyRouter.ts
Due: api

refactor: update template response structure to include data wrapper
  apps/api/src/template/controllers/template/template.controller.ts
  apps/api/src/template/http-schemas/template.schema.ts
  apps/api/src/template/services/template-gallery/template-gallery.service.spec.ts
  apps/api/src/template/services/template-gallery/template-gallery.service.ts
  packages/http-sdk/src/template/template-http.service.ts
Due: api

chore: update environment configuration and enhance user statistics handling
  apps/admin-api/.env.sample
  apps/admin-api/env/.env.sample
  apps/admin-api/src/user/repositories/admin-user.repository.ts
  apps/admin-web/env/.env.sample
  apps/admin-web/package.json
  apps/admin-web/src/components/layout/Sidebar.tsx
  apps/admin-web/src/components/users/UserTable.tsx
  apps/admin-web/src/config/browser-env.config.ts
  apps/admin-web/src/config/env-config.schema.ts
  apps/admin-web/src/pages/analytics/index.tsx
  apps/admin-web/src/pages/api/auth/[...auth0].ts
  apps/admin-web/src/pages/api/proxy/[...path].ts
  apps/admin-web/src/pages/users/index.tsx
  apps/admin-web/src/services/admin-api.service.ts
Due: none

feat: add GitHub workflows for admin API and admin web releases
  .github/workflows/admin-api-release.yml
  .github/workflows/admin-web-release.yml
  .github/workflows/reusable-build-image.yml
  .github/workflows/reusable-deploy-k8s.yml
  .helm/admin-api-prod-values.yaml
  .helm/admin-api-staging-values.yaml
  .helm/admin-web-prod-values.yaml
  .helm/admin-web-staging-values.yaml
  apps/admin-api/package.json
  apps/admin-web/package.json
  packages/docker/docker-compose.build.yml
Due: none

feat: enhance user access control and improve UI components in admin web
  apps/admin-api/src/user/repositories/admin-user.repository.ts
  apps/admin-web/.eslintignore
  apps/admin-web/.gitignore
  apps/admin-web/package.json
  apps/admin-web/public/apple-touch-icon.png
  apps/admin-web/public/favicon-16x16.png
  apps/admin-web/public/favicon-32x32.png
  apps/admin-web/public/favicon.ico
  apps/admin-web/src/components/layout/AdminLayout.tsx
  apps/admin-web/src/components/layout/Sidebar.tsx
  apps/admin-web/src/components/users/UserSearch.tsx
  apps/admin-web/src/components/users/UserTable.tsx
  apps/admin-web/src/pages/_app.tsx
  apps/admin-web/src/pages/_document.tsx
  apps/admin-web/src/pages/api/auth/[...auth0].ts
  apps/admin-web/src/pages/unauthorized.tsx
  apps/admin-web/src/pages/users/index.tsx
Due: none

chore: refactor release flow to have separate release and deployment stage
  .github/workflows/all-release.yml
  .github/workflows/console-api-release.yml
  .github/workflows/console-web-release.yml
  .github/workflows/indexer-release.yml
  .github/workflows/notifications-release.yml
  .github/workflows/provider-console-release.yml
  .github/workflows/provider-proxy-release.yml
  .github/workflows/reusable-deploy-setup.yml
  .github/workflows/reusable-release-app.yml
  .github/workflows/reusable-release-nextjs-app.yml
  .github/workflows/stats-web-release.yml
  .github/workflows/tx-signer-release.yml
Due: none

chore: refactor release flow to have separate release and deployment stage (#2648)
  .github/workflows/all-release.yml
  .github/workflows/console-api-release.yml
  .github/workflows/console-web-release.yml
  .github/workflows/indexer-release.yml
  .github/workflows/notifications-release.yml
  .github/workflows/provider-console-release.yml
  .github/workflows/provider-proxy-release.yml
  .github/workflows/reusable-deploy-setup.yml
  .github/workflows/reusable-release-app.yml
  .github/workflows/reusable-release-nextjs-app.yml
  .github/workflows/stats-web-release.yml
  .github/workflows/tx-signer-release.yml
Due: none

fix: update chain-sdk to alpha.21
  apps/api/package.json
  apps/api/test/functional/gpu.spec.ts
  apps/deploy-web/next.config.js
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

fix: update chain-sdk to alpha.21 (#2666)
  apps/api/package.json
  apps/api/test/functional/gpu.spec.ts
  apps/deploy-web/next.config.js
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
