Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(billing): re-check active deployments when a deployment-triggered reload check is deferred
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.spec.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
Due: api

fix(billing): decline auto-recharge charges that need authentication instead of stalling them (#3809)
  apps/api/src/billing/lib/auto-reload/charge-cooldown.ts
  apps/api/src/billing/lib/card-decline/card-decline.spec.ts
  apps/api/src/billing/lib/card-decline/card-decline.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.spec.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.spec.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.spec.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/notifications/services/notification-templates/auto-top-up-authentication-required-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/auto-top-up-authentication-required-notification.ts
Due: api

feat(indexer): record the cpu architecture each provider node reports
  apps/indexer/drizzle/0010_add_arch_to_provider_snapshot_node_cpu.sql
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  apps/indexer/src/providers/providerStatusProvider.ts
  apps/indexer/src/providers/statusEndpointHandlers/grpc.spec.ts
  apps/indexer/src/providers/statusEndpointHandlers/grpc.ts
  apps/indexer/src/providers/statusEndpointHandlers/types.ts
  packages/database/dbSchemas/akash/providerSnapshotNodeCPU.ts
Due: indexer

feat(provider): expose reported cpu architectures on the provider detail
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/types/provider.ts
  apps/api/src/utils/cpu-arch/cpu-arch.spec.ts
  apps/api/src/utils/cpu-arch/cpu-arch.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/providers.spec.ts
  apps/api/test/seeders/index.ts
  apps/api/test/seeders/provider-snapshot-node-cpu.seeder.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(provider): show reported vs declared cpu architecture on the provider page
  apps/deploy-web/src/components/providers/ProviderSpecs.spec.tsx
  apps/deploy-web/src/components/providers/ProviderSpecs.tsx
  apps/deploy-web/src/types/provider.ts
  apps/deploy-web/tests/seeders/provider.ts
Due: deploy-web

fix(stats): bound the gpu breakdown to a date range and drop the per-row gpu count subqueries
  apps/api/src/gpu/http-schemas/gpu.schema.spec.ts
  apps/api/src/gpu/http-schemas/gpu.schema.ts
  apps/api/src/gpu/repositories/gpu.repository.ts
  apps/api/src/gpu/routes/gpu.router.ts
  apps/api/src/gpu/services/gpu.service.spec.ts
  apps/api/src/gpu/services/gpu.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/gpu.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

refactor(deployment): log the owner's account state on unfunded deployment events
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

fix(billing): bound the refusal loop from zero-balance clients retrying deployment creates
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/deployment-deposit-refusal-cache/deployment-deposit-refusal-cache.service.spec.ts
  apps/api/src/billing/services/deployment-deposit-refusal-cache/deployment-deposit-refusal-cache.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.spec.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
Due: api

fix(stats): count the gpu breakdown window in inclusive days and declare its 400
  apps/api/src/gpu/http-schemas/gpu.schema.spec.ts
  apps/api/src/gpu/http-schemas/gpu.schema.ts
  apps/api/src/gpu/routes/gpu.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/gpu.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(billing): attribute automatic charges to their trigger
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
Due: api

fix(auth): redirect to login on identity provider callback errors instead of returning a 500
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/lib/auth0/getIdentityProviderError/getIdentityProviderError.spec.ts
  apps/deploy-web/src/lib/auth0/getIdentityProviderError/getIdentityProviderError.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
Due: deploy-web

fix(stats): bound the gpu breakdown to a date range and drop the per-row gpu count subqueries (#3811)
  apps/api/src/gpu/http-schemas/gpu.schema.spec.ts
  apps/api/src/gpu/http-schemas/gpu.schema.ts
  apps/api/src/gpu/repositories/gpu.repository.ts
  apps/api/src/gpu/routes/gpu.router.ts
  apps/api/src/gpu/services/gpu.service.spec.ts
  apps/api/src/gpu/services/gpu.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/gpu.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

refactor(billing): make Console the only source of truth for the default payment method
  apps/api/src/billing/services/payment-method/payment-method.service.integration.ts
  apps/api/src/billing/services/payment-method/payment-method.service.spec.ts
  apps/api/src/billing/services/payment-method/payment-method.service.ts
Due: api

fix(auth): keep access_denied callback errors at info level
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
Due: deploy-web

fix(provider): treat an unrecognised declared cpu architecture as no declaration
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/utils/cpu-arch/cpu-arch.spec.ts
  apps/api/src/utils/cpu-arch/cpu-arch.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/providers/ProviderSpecs.spec.tsx
  apps/deploy-web/src/components/providers/ProviderSpecs.tsx
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

fix(deployment): make a managed transaction's outcome knowable when the signer outlives the caller (#3804)
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/billing/services/external-signer-http-sdk/external-signer-http-sdk.service.spec.ts
  apps/api/src/billing/services/external-signer-http-sdk/external-signer-http-sdk.service.ts
  apps/api/src/billing/services/external-signer-http-sdk/tx-outcome.error.ts
  apps/api/src/chain/services/tx-presence/tx-presence.service.spec.ts
  apps/api/src/chain/services/tx-presence/tx-presence.service.ts
  apps/api/src/deployment/lib/top-up-summarizer/top-up-summarizer.spec.ts
  apps/api/src/deployment/lib/top-up-summarizer/top-up-summarizer.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding-instrumentation.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.ts
  apps/api/src/deployment/services/reconcile-managed-tx/reconcile-managed-tx-instrumentation.service.ts
  apps/api/src/deployment/services/reconcile-managed-tx/reconcile-managed-tx-job.service.ts
  apps/api/src/deployment/services/reconcile-managed-tx/reconcile-managed-tx.handler.spec.ts
  apps/api/src/deployment/services/reconcile-managed-tx/reconcile-managed-tx.handler.ts
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
  apps/tx-signer/README.md
  apps/tx-signer/env/.env.sample
  apps/tx-signer/src/config/env.config.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.spec.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.ts
  apps/tx-signer/src/lib/signing-client/tx-outcome.error.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.spec.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.ts
  apps/tx-signer/src/services/hono-error-handler/hono-error-handler.service.spec.ts
  apps/tx-signer/src/services/hono-error-handler/hono-error-handler.service.ts
  apps/tx-signer/src/services/tx-manager/tx-manager.service.ts
Due: api

fix(managed-wallet): stop replaying a gas simulation past the tx window it carries
  apps/tx-signer/README.md
  apps/tx-signer/src/config/env.config.spec.ts
  apps/tx-signer/src/config/env.config.ts
  apps/tx-signer/src/lib/retriable-transport-error/retriable-transport-error.spec.ts
  apps/tx-signer/src/lib/retriable-transport-error/retriable-transport-error.ts
  apps/tx-signer/src/lib/retrying-rpc-client/retrying-rpc-client.spec.ts
  apps/tx-signer/src/lib/retrying-rpc-client/retrying-rpc-client.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.spec.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.spec.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/simulation-expired.error.ts
  apps/tx-signer/test/functional/sign-and-broadcast-tx.spec.ts
Due: none

fix(managed-wallet): bound tx polling by the clock and poll a broadcast the node never answered
  apps/tx-signer/src/lib/signing-client/signing-client.service.spec.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.ts
Due: none

fix(managed-wallet): stop logging a duplicate broadcast as an rpc failure
  apps/tx-signer/src/lib/retrying-rpc-client/retrying-rpc-client.ts
Due: none

feat(user): require accepting the fair use policy before a trial deploys
  apps/api/drizzle/0050_fair_use_policy_accepted_at.sql
  apps/api/drizzle/meta/0050_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/app/console.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/user/controllers/user/user.controller.ts
  apps/api/src/user/model-schemas/user/user.schema.ts
  apps/api/src/user/routes/user-settings/user-settings.router.ts
  apps/api/src/user/schemas/user.schema.ts
  apps/api/src/user/services/user/user.service.integration.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/user-fair-use-policy.spec.ts
  apps/api/test/seeders/user.seeder.ts
  apps/api/test/services/wallet-testing.service.ts
  apps/deploy-web/src/components/fair-use-policy/FairUsePolicyModal/FairUsePolicyModal.spec.tsx
  apps/deploy-web/src/components/fair-use-policy/FairUsePolicyModal/FairUsePolicyModal.tsx
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.spec.tsx
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.tsx
  apps/deploy-web/src/hooks/useAcceptFairUsePolicy.spec.ts
  apps/deploy-web/src/hooks/useAcceptFairUsePolicy.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/pages/terms-of-service/index.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/types/user.ts
  apps/deploy-web/src/utils/urlUtils.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

fix(managed-wallet): stop replaying a gas simulation past the tx window it carries (#3805)
  apps/tx-signer/README.md
  apps/tx-signer/src/config/env.config.spec.ts
  apps/tx-signer/src/config/env.config.ts
  apps/tx-signer/src/lib/retriable-transport-error/retriable-transport-error.spec.ts
  apps/tx-signer/src/lib/retriable-transport-error/retriable-transport-error.ts
  apps/tx-signer/src/lib/retrying-rpc-client/retrying-rpc-client.spec.ts
  apps/tx-signer/src/lib/retrying-rpc-client/retrying-rpc-client.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.spec.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.spec.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/simulation-expired.error.ts
  apps/tx-signer/test/functional/sign-and-broadcast-tx.spec.ts
Due: none

fix(deployment): record a deployment close from the landed transaction (#3806)
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
Due: api

fix(deployment): reconcile deployment records against chain state
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.spec.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.integration.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.integration.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.spec.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.ts
Due: api

refactor(deployment): bound a chain-database outage and collapse the new JSDoc blocks
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.spec.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.ts
Due: api

fix(user): track fair use policy acceptance only after the api persists it
  apps/api/test/functional/user-fair-use-policy.spec.ts
  apps/deploy-web/src/hooks/useAcceptFairUsePolicy.spec.ts
  apps/deploy-web/src/hooks/useAcceptFairUsePolicy.ts
Due: api, deploy-web

fix(deployment): reconcile deployment records against chain state (#3807)
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.spec.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.integration.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.integration.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.spec.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.ts
Due: api

fix(deployment): close deployment records the sweep cannot see a lease for
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.spec.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/types/draining-deployment.ts
Due: api

fix(deployment): stop counting a bid-less deployment as missing chain state
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.spec.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.ts
  apps/api/test/seeders/draining-deployment.seeder.ts
Due: api

fix(deployment): skip initial funding for a closed deployment before retrying for its lease
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.ts
Due: api

fix(deployment): close deployment records the sweep cannot see a lease for (#3808)
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.spec.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/types/draining-deployment.ts
  apps/api/test/seeders/draining-deployment.seeder.ts
Due: api

fix(auth): redirect to login on identity provider callback errors instead of returning a 500 (#3815)
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/lib/auth0/getIdentityProviderError/getIdentityProviderError.spec.ts
  apps/deploy-web/src/lib/auth0/getIdentityProviderError/getIdentityProviderError.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
Due: deploy-web

feat(provider): show the cpu architecture a provider's nodes actually report (#3810)
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/types/provider.ts
  apps/api/src/utils/cpu-arch/cpu-arch.spec.ts
  apps/api/src/utils/cpu-arch/cpu-arch.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/providers.spec.ts
  apps/api/test/seeders/index.ts
  apps/api/test/seeders/provider-snapshot-node-cpu.seeder.ts
  apps/deploy-web/src/components/providers/ProviderSpecs.spec.tsx
  apps/deploy-web/src/components/providers/ProviderSpecs.tsx
  apps/deploy-web/src/types/provider.ts
  apps/deploy-web/tests/seeders/provider.ts
  apps/indexer/drizzle/0010_add_arch_to_provider_snapshot_node_cpu.sql
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  apps/indexer/src/providers/providerStatusProvider.ts
  apps/indexer/src/providers/statusEndpointHandlers/grpc.spec.ts
  apps/indexer/src/providers/statusEndpointHandlers/grpc.ts
  apps/indexer/src/providers/statusEndpointHandlers/types.ts
  packages/console-api-types/src/schema.d.ts
  packages/database/dbSchemas/akash/providerSnapshotNodeCPU.ts
Due: api, deploy-web, indexer

fix(billing): re-read auto recharge on every cached deposit refusal
  apps/api/src/billing/services/deployment-deposit-refusal-cache/deployment-deposit-refusal-cache.service.spec.ts
  apps/api/src/billing/services/deployment-deposit-refusal-cache/deployment-deposit-refusal-cache.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
Due: api

refactor(deployment): resolve an sdl reference from one flat set of secrets
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.spec.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.ts
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
Due: api

feat(deployment): open the token a deployment's definition was stored with
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.ts
Due: api

fix(deployment): import a lease request as the type it is so the bundle builds
  apps/api/src/deployment/services/lease/lease.service.ts
Due: api

refactor(deployment): leave a lease one source of identity and one meaning per event
  apps/api/src/deployment/controllers/lease/lease.controller.ts
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.spec.ts
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.ts
  apps/api/src/deployment/services/lease/lease.service.spec.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

test(deployment): await the manifest the sdl service now returns as a promise
  apps/api/test/functional/deployments.spec.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
