Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

test(log-collector): covers several components
  apps/deploy-web/src/components/sdl/DatadogEnvConfig/DatadogEnvConfig.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.spec.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.tsx
  apps/deploy-web/src/types/sdlBuilder.ts
  apps/deploy-web/src/utils/keyValue/keyValue.spec.ts
  apps/deploy-web/src/utils/keyValue/keyValue.ts
  apps/deploy-web/tests/seeders/sdlService.ts
Due: deploy-web

fix(billing): fix cached balance
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/services/balances/balances.service.ts
Due: api

test: cover stripe transaction stream failing in the middle
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/seeders/stripe-transaction.seeder.ts
  apps/deploy-web/src/hoc/guard/guard.hoc.tsx
Due: api, deploy-web

chore(config): add rpc proxy to mainnet nodes
  config/mainnet-nodes.json
Due: none

chore: spacing
  config/mainnet-nodes.json
Due: none

chore(config): add rpc proxy to mainnet nodes (#1876)
  config/mainnet-nodes.json
Due: none

fix: anonymous user reassignment
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.spec.tsx
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.tsx
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/components/layout/MobileSidebarUser.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/shared/MustConnect.tsx
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/hooks/useFlag.tsx
  apps/deploy-web/src/hooks/useLoginRequiredEventHandler.tsx
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/pages/api/auth/signup.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/auth/auth.service.ts
  apps/deploy-web/src/services/feature-flag/feature-flag.service.spec.ts
  apps/deploy-web/src/services/feature-flag/feature-flag.service.ts
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

chore: more tests
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/auth/auth/auth.service.spec.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/auth/auth/interceptors.spec.ts
  apps/deploy-web/src/services/auth/auth/interceptors.ts
Due: deploy-web

fix(billing): fix cached balance (#1874)
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/services/balances/balances.service.ts
Due: api

fix(billing): fetch account info before batch signing
  apps/api/env/.env.functional.test
  apps/api/env/.env.unit.test
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
Due: api

fix(billing): optional rest api node
  apps/api/src/billing/config/env.config.ts
Due: api

chore: fixes cookie injection
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/pages/api/auth/signup.ts
Due: deploy-web

fix: anonymous user reassignment (#1877)
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.spec.tsx
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.tsx
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/components/layout/MobileSidebarUser.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/shared/MustConnect.tsx
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/hooks/useFlag.tsx
  apps/deploy-web/src/hooks/useLoginRequiredEventHandler.tsx
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/pages/api/auth/signup.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/auth/auth.service.ts
  apps/deploy-web/src/services/auth/auth/auth.service.spec.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/auth/auth/interceptors.spec.ts
  apps/deploy-web/src/services/auth/auth/interceptors.ts
  apps/deploy-web/src/services/feature-flag/feature-flag.service.spec.ts
  apps/deploy-web/src/services/feature-flag/feature-flag.service.ts
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

fix(network): sandbox for managed wallets staging
  apps/api/env/.env.sandbox
  apps/deploy-web/env/.env.staging
Due: api, deploy-web

feat(log-collector): adds log collector configuration to sdl
  apps/deploy-web/src/components/sdl/DatadogEnvConfig/DatadogEnvConfig.tsx
  apps/deploy-web/src/components/sdl/EphemeralStorageFormControl.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.tsx
  apps/deploy-web/src/types/sdlBuilder.ts
  apps/deploy-web/src/utils/keyValue.ts
Due: deploy-web

test(log-collector): covers several components
  apps/deploy-web/src/components/sdl/DatadogEnvConfig/DatadogEnvConfig.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.spec.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.spec.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.tsx
  apps/deploy-web/src/types/sdlBuilder.ts
  apps/deploy-web/src/utils/keyValue/keyValue.spec.ts
  apps/deploy-web/src/utils/keyValue/keyValue.ts
  apps/deploy-web/tests/seeders/sdlService.ts
Due: deploy-web

feat(log-collector): adds pod selector label tracking to sdl builder
  apps/deploy-web/src/components/sdl/DatadogEnvConfig/DatadogEnvConfig.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.spec.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
Due: deploy-web

fix(network): update staging addresses
  apps/deploy-web/env/.env.staging
Due: deploy-web

fix(network): sandbox for managed wallets staging (#1879)
  apps/api/env/.env.sandbox
  apps/deploy-web/env/.env.staging
Due: api, deploy-web

fix(network): api proxy correct network url
  apps/deploy-web/src/pages/api/proxy/[...path].ts
Due: deploy-web

fix(network): pass managed network id
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/pages/profile/[username]/index.tsx
  apps/deploy-web/src/pages/template/[id]/index.tsx
Due: deploy-web

feat(log-collector): adds log collector configuration to sdl
  apps/deploy-web/src/components/sdl/DatadogEnvConfig/DatadogEnvConfig.tsx
  apps/deploy-web/src/components/sdl/EphemeralStorageFormControl.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.spec.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.spec.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.tsx
  apps/deploy-web/src/types/sdlBuilder.ts
  apps/deploy-web/src/utils/keyValue/keyValue.spec.ts
  apps/deploy-web/src/utils/keyValue/keyValue.ts
  apps/deploy-web/tests/seeders/sdlService.ts
Due: deploy-web

fix(network): api proxy correct network url (#1881)
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/pages/api/proxy/[...path].ts
  apps/deploy-web/src/pages/profile/[username]/index.tsx
  apps/deploy-web/src/pages/template/[id]/index.tsx
Due: deploy-web

feat(log-collector): integrate LogCollectorControl with SimpleSdlBuilderForm
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
  apps/deploy-web/src/components/sdl/DatadogEnvConfig/DatadogEnvConfig.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.spec.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.spec.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.spec.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.ts
  apps/deploy-web/src/hooks/useThrottledEffect/useThrottledEffect.spec.tsx
  apps/deploy-web/src/hooks/useThrottledEffect/useThrottledEffect.ts
  apps/deploy-web/src/utils/keyValue/keyValue.ts
  apps/deploy-web/tests/seeders/sdlService.ts
Due: deploy-web

feat(log-collector): integrate LogCollectorControl with SimpleSdlBuiderForm
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
  apps/deploy-web/src/components/sdl/DatadogEnvConfig/DatadogEnvConfig.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.spec.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.spec.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.spec.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.ts
  apps/deploy-web/src/hooks/useThrottledEffect/useThrottledEffect.spec.tsx
  apps/deploy-web/src/hooks/useThrottledEffect/useThrottledEffect.ts
  apps/deploy-web/src/utils/keyValue/keyValue.ts
  apps/deploy-web/tests/seeders/sdlService.ts
Due: deploy-web

fix(log-collector): ensures latest state updates in sdl env hook
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.spec.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.spec.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.ts
  apps/deploy-web/src/hooks/useThrottledEffect/useThrottledEffect.spec.tsx
  apps/deploy-web/src/hooks/useThrottledEffect/useThrottledEffect.ts
Due: deploy-web

refactor: handles close/notification for trial deployments via background job
  .helm/console-api-staging-mainnet-values.yaml
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.spec.ts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.ts
  apps/api/src/app/services/trial-deployment-created/trial-deployment-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-created/trial-deployment-created.handler.ts
  apps/api/src/app/services/trial-started/trial-started.handler.spec.ts
  apps/api/src/app/services/trial-started/trial-started.handler.ts
  apps/api/src/billing/events/trial-deployment-created.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/console.ts
  apps/api/src/core/index.ts
  apps/api/src/core/services/domain-events/domain-events.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/controllers/deployment/trial.controller.spec.ts
  apps/api/src/deployment/controllers/deployment/trial.controller.ts
  apps/api/src/deployment/services/trial-deployments-cleaner/trial-deployments-cleaner.service.spec.ts
  apps/api/src/deployment/services/trial-deployments-cleaner/trial-deployments-cleaner.service.ts
  apps/api/src/deployment/types/trial-deployments.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.spec.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.ts
Due: api

chore: properly format date in startTrialNotification
  apps/api/src/notifications/services/notification-templates/start-trial-notification.ts
Due: api

refactor: publish event on MsgCreateLease
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.ts
  apps/api/src/billing/events/trial-deployment-lease-created.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
