Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix(indexer): fall back to legacy dashboard stats when chain-indexer fails
  apps/api/src/dashboard/controllers/dashboard-data/dashboard-data.controller.spec.ts
  apps/api/src/dashboard/controllers/dashboard-data/dashboard-data.controller.ts
  apps/api/test/functional/chain-indexer-delegation.spec.ts
Due: api

fix(billing): show why a payment method change failed on the billing page (#4069)
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
Due: deploy-web

fix(provider): look every unlisted marketplace bidder up instead of capping at 20
  apps/deploy-web/src/queries/usePlacementOffers.spec.ts
  apps/deploy-web/src/queries/usePlacementOffers.ts
  apps/deploy-web/src/queries/useProvidersQuery.spec.tsx
  apps/deploy-web/src/queries/useProvidersQuery.ts
Due: deploy-web

feat(indexer): serve cumulative USD spend on network stats for the dashboard
  apps/api/src/chain-indexer/services/dashboard-stats/chain-indexer-dashboard-stats.service.spec.ts
  apps/api/src/chain-indexer/services/dashboard-stats/chain-indexer-dashboard-stats.service.ts
  apps/api/test/functional/chain-indexer-delegation.spec.ts
  apps/chain-indexer/README.md
  apps/chain-indexer/src/akash/dec.spec.ts
  apps/chain-indexer/src/akash/dec.ts
  apps/chain-indexer/src/http-schemas/network-stats.schema.ts
  apps/chain-indexer/src/parity/checks/http-normalizers.spec.ts
  apps/chain-indexer/src/parity/checks/http-normalizers.ts
  apps/chain-indexer/src/parity/checks/http.check.spec.ts
  apps/chain-indexer/src/routes/network-stats/network-stats.router.spec.ts
  apps/chain-indexer/src/services/network-stats/network-stats.service.integration.ts
  apps/chain-indexer/src/services/network-stats/network-stats.service.ts
  apps/chain-indexer/swagger/openapi.json
  packages/console-api-types/src/chain-indexer/schema.d.ts
Due: api

feat(indexer): export sync lag gauges for alerting
  apps/chain-indexer/README.md
  apps/chain-indexer/docs/mainnet-backfill-runbook.md
  apps/chain-indexer/src/pipeline/sync-lag-metrics.spec.ts
  apps/chain-indexer/src/pipeline/sync-lag-metrics.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.spec.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.ts
Due: none

fix(indexer): ship migrations in the chain-indexer image and build it in CI
  apps/chain-indexer/docs/mainnet-backfill-runbook.md
  apps/chain-indexer/package.json
  apps/chain-indexer/tsup.config.ts
  packages/docker/docker-compose.build.yml
Due: none

fix(provider): wait for the provider list before looking bidders up by address
  apps/deploy-web/src/queries/usePlacementOffers.spec.ts
  apps/deploy-web/src/queries/usePlacementOffers.ts
Due: deploy-web

feat(observability): record how each api request authenticated
  apps/api/src/auth/services/auth.interceptor.spec.ts
  apps/api/src/auth/services/auth.interceptor.ts
  packages/logging/src/services/http-logger/http-logger.service.spec.ts
  packages/logging/src/services/http-logger/http-logger.service.ts
Due: api

refactor(deployment): look up only the providers of the listed leases
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/test/functional/addresses.spec.ts
Due: api

refactor(deployment): look up lease providers by address instead of the full list
  apps/deploy-web/package.json
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useProvidersQuery.spec.tsx
  apps/deploy-web/src/queries/useProvidersQuery.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/provider-lookup/provider-lookup.service.spec.ts
  apps/deploy-web/src/services/provider-lookup/provider-lookup.service.ts
  package-lock.json
Due: deploy-web

feat(provider): search providers a page at a time and serve their locations
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/provider/controllers/provider/provider.controller.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/routes/providers/providers.router.ts
  apps/api/src/provider/services/provider-search/provider-search.service.spec.ts
  apps/api/src/provider/services/provider-search/provider-search.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/providers.spec.ts
Due: api

fix(observability): tag requests refused for sending both credentials
  apps/api/src/auth/services/auth.interceptor.spec.ts
  apps/api/src/auth/services/auth.interceptor.ts
Due: api

test(deployment): cover lease provider lookups that change after the first render
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.tsx
Due: deploy-web

test(deployment): read the detail spec lease mock through typed handles
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
Due: deploy-web

test(provider): give the wallet sort functional test no tied providers
  apps/api/test/functional/providers.spec.ts
Due: api

refactor(bid): look up bidders and leased providers by address
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/useReviewRows.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/useReviewRows.ts
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.spec.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.ts
  apps/deploy-web/src/queries/usePlacementOffers.spec.ts
  apps/deploy-web/src/queries/usePlacementOffers.ts
Due: deploy-web

refactor(bid): cover bidders and leases that arrive after the first render
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/useReviewRows.spec.ts
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.spec.ts
  apps/deploy-web/src/queries/usePlacementOffers.spec.ts
Due: deploy-web

refactor(provider): page the provider explorer on the server
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeployProgressOverlay/ProvidersGlobe.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeployProgressOverlay/ProvidersGlobe.tsx
  apps/deploy-web/src/components/providers/ProviderList.tsx
  apps/deploy-web/src/components/providers/ProviderMap.tsx
  apps/deploy-web/src/components/providers/ProviderSummary.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.spec.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useProvidersQuery.spec.tsx
  apps/deploy-web/src/queries/useProvidersQuery.ts
  apps/deploy-web/src/types/provider.ts
  apps/deploy-web/src/utils/apiUtils.ts
Due: deploy-web

fix(observability): redact bound parameters in query logs
  apps/notifications/src/infrastructure/db/db.module.ts
  packages/logging/src/index.ts
  packages/logging/src/services/postgres-logger/postgres-logger.service.spec.ts
  packages/logging/src/services/postgres-logger/postgres-logger.service.ts
  packages/logging/src/utils/redact-query-params/redact-query-params.spec.ts
  packages/logging/src/utils/redact-query-params/redact-query-params.ts
Due: notifications

fix(stats): serve the akt logo from the console cdn
  apps/api/src/address/services/address/address.service.ts
  apps/api/test/functional/addresses.spec.ts
Due: api

fix(stats): allow ga4 hits and console cdn images in the csp
  apps/stats-web/src/lib/csp/csp.spec.ts
  apps/stats-web/src/lib/csp/csp.ts
Due: stats-web

fix(stats): allow chain registry asset logos in the csp
  apps/stats-web/src/lib/csp/csp.spec.ts
  apps/stats-web/src/lib/csp/csp.ts
Due: stats-web

fix(stats): allow ga4 hits and console cdn images in the csp (#4082)
  apps/api/src/address/services/address/address.service.ts
  apps/api/test/functional/addresses.spec.ts
  apps/stats-web/src/lib/csp/csp.spec.ts
  apps/stats-web/src/lib/csp/csp.ts
Due: api, stats-web

fix(observability): redact bound parameters in query logs (#4081)
  apps/notifications/src/infrastructure/db/db.module.ts
  packages/logging/src/index.ts
  packages/logging/src/services/postgres-logger/postgres-logger.service.spec.ts
  packages/logging/src/services/postgres-logger/postgres-logger.service.ts
  packages/logging/src/utils/redact-query-params/redact-query-params.spec.ts
  packages/logging/src/utils/redact-query-params/redact-query-params.ts
Due: notifications

test(provider): clear memoized provider jwts before each spec
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.spec.ts
Due: api

test(provider): clear memoized provider jwts before each spec (#4083)
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.spec.ts
Due: api

feat(provider): serve the nvidia drivers read on a provider's gpu leases
  apps/api/drizzle/0064_deployment_settings_detected_gpus_index.sql
  apps/api/drizzle/meta/0064_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/gpu/lib/cuda-version/cuda-version.spec.ts
  apps/api/src/gpu/lib/cuda-version/cuda-version.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/services/provider-gpu-driver/provider-gpu-driver.service.spec.ts
  apps/api/src/provider/services/provider-gpu-driver/provider-gpu-driver.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/types/provider.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/providers.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(provider): show the gpu drivers observed on the provider page
  apps/deploy-web/src/components/providers/ProviderSpecs.spec.tsx
  apps/deploy-web/src/components/providers/ProviderSpecs.tsx
  apps/deploy-web/src/types/provider.ts
  apps/deploy-web/tests/seeders/provider.ts
Due: deploy-web

fix(observability): redact failed queries in error logs, traces and job output
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/notifications/src/infrastructure/broker/services/pg-boss-handler/pg-boss-handler.service.spec.ts
  apps/notifications/src/infrastructure/broker/services/pg-boss-handler/pg-boss-handler.service.ts
  package-lock.json
  packages/instrumentation/package.json
  packages/instrumentation/src/util/tracing/tracing.util.spec.ts
  packages/instrumentation/src/util/tracing/tracing.util.ts
  packages/instrumentation/vitest.config.ts
  packages/logging/package.json
  packages/logging/src/index.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.spec.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.ts
  packages/logging/src/utils/redact-query-error/redact-query-error.spec.ts
  packages/logging/src/utils/redact-query-error/redact-query-error.ts
Due: api, notifications

fix(provider): list only driver-shaped versions from the last 30 days, filtered in sql
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/gpu/lib/cuda-version/cuda-version.spec.ts
  apps/api/src/gpu/lib/cuda-version/cuda-version.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/services/provider-gpu-driver/provider-gpu-driver.service.spec.ts
  apps/api/src/provider/services/provider-gpu-driver/provider-gpu-driver.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  packages/console-api-types/src/schema.d.ts
Due: api

chore(ci): start the security scan when ci starts instead of after it
  .github/actions/associated-pr/action.yml
  .github/actions/poll-check-status/action.yml
  .github/workflows/all-ci-unsafe.yml
Due: none

chore(ci): run the security scan on this pull request to time it
  .github/workflows/all-ci-unsafe.yml
Due: none

chore(ci): run the security scans while ci runs instead of after it
  .github/actions/poll-check-status/action.yml
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/security-analysis.yml
Due: none

chore(ci): run both security workflows on this pull request to time them
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/security-analysis.yml
Due: none

chore(ci): run static analysis, tests and mutation testing as parallel jobs
  .github/workflows/reusable-validate-app.yml
Due: none

chore(ci): keep the scan jobs in all-ci-unsafe and move the ci gate out
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/security-analysis.yml
  .github/workflows/security-scan-result.yml
Due: none

chore(ci): run both security workflows on this pull request to time them
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/security-scan-result.yml
Due: none

chore(ci): drop the temporary pull_request triggers
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/security-scan-result.yml
Due: none

chore(ci): stop booting a second buildx builder for the test environment
  .github/workflows/reusable-validate-app.yml
Due: none

test(dx): stop transpiling api, notifications and log-collector test files twice
  apps/api/vitest.config.ts
  apps/log-collector/vitest.config.ts
  apps/log-collector/vitest.e2e.config.ts
  apps/notifications/vitest.config.ts
Due: api, notifications
