Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(billing): refactor components and queries
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/user/payment/AddPaymentMethodForm.tsx
  apps/deploy-web/src/components/user/payment/AddPaymentMethodPopup.tsx
  apps/deploy-web/src/components/user/payment/DeletePaymentMethodPopup.tsx
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
  apps/deploy-web/src/components/user/payment/PaymentMethodsList.tsx
  apps/deploy-web/src/components/user/payment/PaymentSuccessAnimation.tsx
  apps/deploy-web/src/components/user/payment/index.ts
  apps/deploy-web/src/pages/pay.tsx
  apps/deploy-web/src/queries/index.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  apps/deploy-web/src/types/index.ts
  apps/deploy-web/src/types/payment.ts
Due: api, deploy-web

feat(billing): hide animation on click
  apps/deploy-web/src/components/user/payment/PaymentSuccessAnimation.tsx
Due: deploy-web

feat(billing): add list transactions
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/routes/stripe-setup/stripe-setup.router.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/pages/pay.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.service.ts
Due: api, deploy-web

feat(billing): remove checkout and stripe prices
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/routes/stripe-setup/stripe-setup.router.ts
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
  apps/deploy-web/src/components/top-up-amount-picker/TopUpAmountPicker.tsx
  apps/deploy-web/src/components/wallet/ManagedWalletPopup.tsx
  apps/deploy-web/src/pages/coupon.tsx
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/utils/urlUtils.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/ui/components/loading-button.tsx
Due: api, deploy-web

feat(billing): refactor into multiple router
  apps/api/src/app.ts
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/coupons/coupons.router.ts
  apps/api/src/billing/routes/index.ts
  apps/api/src/billing/routes/payment-methods/payment-methods.router.ts
  apps/api/src/billing/routes/stripe-setup/stripe-setup.router.ts
  apps/api/src/billing/routes/transactions/transactions.router.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(billing): pr fixes
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/components/icons/AkashConsoleLogo.tsx
  apps/deploy-web/src/components/layout/AkashLogo.tsx
  apps/deploy-web/src/components/layout/WalletStatus.tsx
  apps/deploy-web/src/components/user/payment/AddPaymentMethodPopup.tsx
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
  apps/deploy-web/src/components/user/payment/PaymentSuccessAnimation.tsx
  apps/deploy-web/src/components/wallet/ManagedWalletPopup.tsx
  apps/deploy-web/src/pages/payment.tsx
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(auth): authz pagination bug
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable.tsx
Due: deploy-web

fix(billing): pr fixes
  apps/api/src/app.ts
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/index.ts
  apps/api/src/billing/routes/stripe-coupons/stripe-coupons.router.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/routes/stripe-prices/stripe-prices.router.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/checkout/checkout.service.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/user/payment/AddPaymentMethodPopup.tsx
  apps/deploy-web/src/components/user/payment/DeletePaymentMethodPopup.tsx
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
  apps/deploy-web/src/components/user/payment/PaymentMethodsList.tsx
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  apps/deploy-web/src/queries/useStripePricesQuery.ts
  apps/deploy-web/src/types/index.ts
  apps/deploy-web/src/types/payment.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(billing): pass userId to confirm payment for semaphore
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

feat(billing): add tests for stripe service
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/test/seeders/stripe.seeder.ts
  apps/deploy-web/src/pages/payment.tsx
Due: api, deploy-web

feat(billing): pr fixes
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/pages/payment.tsx
Due: api, deploy-web

fix(billing): stripe service unit tests
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/test/functional/stripe-webhook.spec.ts
Due: api

fix(billing): stripe prices query
  apps/deploy-web/src/queries/useStripePricesQuery.spec.tsx
Due: deploy-web

fix(billing): tests
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/deploy-web/src/queries/useStripePricesQuery.spec.tsx
Due: api, deploy-web

fix(billing): tests
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/test/functional/stripe-webhook.spec.ts
  apps/deploy-web/src/queries/useStripePricesQuery.spec.tsx
Due: api, deploy-web

fix(billing): stripe price query test
  apps/deploy-web/src/queries/useStripePricesQuery.spec.tsx
Due: deploy-web

fix(billing): stripe tests
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
Due: api

chore(billing): stripe payment queries test
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
  apps/deploy-web/tests/seeders/payment.ts
Due: api, deploy-web

fix(billing): display currency payment form
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
Due: deploy-web

fix(billing): pr fixes
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/seeders/stripe.seeder.ts
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
Due: api, deploy-web

fix(billing): fix tests
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
Due: api, deploy-web

fix(billing): payment method validation
  apps/deploy-web/src/pages/payment.tsx
Due: deploy-web

fix(billing): ownership check for remove payment
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
Due: api

feat(alert): authorizes deployment alerts by dseq+owner
  apps/api/src/notifications/routes/proxy/proxy.route.spec.ts
  apps/api/src/notifications/routes/proxy/proxy.route.ts
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/notifications/env/.env.production
  apps/notifications/env/.env.staging
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.ts
  apps/notifications/src/lib/bootstrap/swagger-setup/swagger-setup.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
  apps/notifications/swagger/swagger.json
  apps/notifications/test/functional/deployment-alert-crud.spec.ts
  apps/notifications/test/functional/deployment-alert.spec.ts
  packages/react-query-sdk/src/notifications/schema.ts
  packages/react-query-sdk/src/notifications/services/V1Service.ts
Due: api, deploy-web, notifications

fix(billing): payment method remove check
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
Due: api

fix(billing): verify ownership for stripe payment
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/deploy-web/src/components/user/payment/DeletePaymentMethodPopup.tsx
Due: api, deploy-web

refactor: move /v1/nodes and /v1/version to a module
  apps/api/src/app.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/api/src/network/controllers/network/network.controller.ts
  apps/api/src/network/http-schemas/network.schema.ts
  apps/api/src/network/index.ts
  apps/api/src/network/routes/index.ts
  apps/api/src/network/routes/network/network.router.ts
  apps/api/src/network/services/network/network.service.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/nodes/mainnet.ts
  apps/api/src/routes/v1/nodes/nodeClient.ts
  apps/api/src/routes/v1/nodes/sandbox.ts
  apps/api/src/routes/v1/nodes/testnet.ts
  apps/api/src/routes/v1/version/mainnet.ts
  apps/api/src/routes/v1/version/sandbox.ts
  apps/api/src/routes/v1/version/testnet.ts
  apps/api/src/utils/constants.ts
  apps/api/test/functional/nodes-v1.spec.ts
  apps/api/test/seeders/node.seeder.ts
  apps/api/tsconfig.strict.json
  packages/http-sdk/src/index.ts
  packages/http-sdk/src/node/index.ts
  packages/http-sdk/src/node/node-http.service.ts
  packages/http-sdk/src/node/types.ts
Due: api

fix(billing): get stripe customer id
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(billing): concurrent
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(billing): get stripe customer id (#1466)
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(billing): updating customer id
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/core/repositories/base.repository.ts
Due: api

fix(billing): filter undefined keys
  apps/api/src/core/repositories/base.repository.ts
Due: api

chore: adds cursor rules related to using setup function instead of beforeEach
  .cursor/rules/query-by-in-tests.mdc
  .cursor/rules/setup-instead-of-before-each.mdc
Due: none

chore: adds cursor rules related to using setup function instead of beforeEach (#1463)
  .cursor/rules/query-by-in-tests.mdc
  .cursor/rules/setup-instead-of-before-each.mdc
Due: none

fix(billing): tests
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
Due: api

fix(billing): updating customer id (#1469)
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/core/repositories/base.repository.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
