Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

refactor: improves email templates texts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.spec.ts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.ts
  apps/api/src/app/services/trial-deployment-created/trial-deployment-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-created/trial-deployment-created.handler.ts
  apps/api/src/app/services/trial-started/trial-started.handler.spec.ts
  apps/api/src/app/services/trial-started/trial-started.handler.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.spec.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.ts
  apps/api/src/notifications/services/notification-templates/before-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/start-trial-notification.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.ts
  apps/api/src/notifications/services/notification-templates/trial-ended-notification.ts
Due: api

chore: fix comments
  apps/api/src/billing/events/trial-deployment-created.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.ts
Due: api

fix: ensure toAppError mock fn returns something
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
Due: api

refactor: handles close/notification for trial deployments via background job (#1868)
  .helm/console-api-staging-mainnet-values.yaml
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.spec.ts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.ts
  apps/api/src/app/services/trial-started/trial-started.handler.spec.ts
  apps/api/src/app/services/trial-started/trial-started.handler.ts
  apps/api/src/billing/events/trial-deployment-lease-created.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/console.ts
  apps/api/src/core/index.ts
  apps/api/src/core/services/domain-events/domain-events.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/controllers/deployment/trial.controller.spec.ts
  apps/api/src/deployment/controllers/deployment/trial.controller.ts
  apps/api/src/deployment/services/trial-deployments-cleaner/trial-deployments-cleaner.service.spec.ts
  apps/api/src/deployment/services/trial-deployments-cleaner/trial-deployments-cleaner.service.ts
  apps/api/src/deployment/types/trial-deployments.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.spec.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.ts
  apps/api/src/notifications/services/notification-templates/before-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/start-trial-notification.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.ts
  apps/api/src/notifications/services/notification-templates/trial-ended-notification.ts
Due: api

fix: keep order of services when switching from yaml to editor
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
  apps/deploy-web/tests/mocks/two-services-sdl.yml
Due: deploy-web

feat(billing): test charge card before start trial
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/routes/start-trial/start-trial.router.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/EmptyPaymentMethods.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/ErrorAlert.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodCard.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsList.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/TermsAndConditions.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/TrialStartButton.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/ValidationWarning.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentVerificationCard/PaymentVerificationCard.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useValidatedPaymentMethods.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(config): remove duplicate version from swagger docs
  apps/api/src/core/services/openapi-docs/openapi-docs.service.ts
Due: api

fix(config): lease flow test + swagger docs
  apps/api/package.json
  apps/api/src/core/services/openapi-docs/openapi-docs.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/lease-flow.spec.ts
Due: api

fix(billing): lease flow test (#1890)
  apps/api/package.json
  apps/api/src/core/services/openapi-docs/openapi-docs.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/lease-flow.spec.ts
Due: api

refactor: changes LeaseHttpService to accept http client
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/notifications/src/modules/alert/providers/http-sdk.provider.ts
  packages/http-sdk/src/lease/lease-http.service.ts
Due: api, notifications

refactor: changes LeaseHttpService to accept http client (#1888)
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/notifications/src/modules/alert/providers/http-sdk.provider.ts
  packages/http-sdk/src/lease/lease-http.service.ts
Due: api, notifications

feat: adds notification on first trial deployment
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.ts
  apps/api/src/billing/events/trial-deployment-lease-created.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/core/services/domain-events/domain-events.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.ts
  apps/api/src/notifications/services/notification-templates/trial-first-deployment-lease-created-notification.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
  packages/http-sdk/src/lease/lease-http.service.ts
Due: api

fix: sync email_verified from auth0 on demand
  apps/api/src/auth/controllers/auth/auth.controller.ts
  apps/api/src/auth/http-schemas/verify-email.schema.ts
  apps/api/src/auth/routes/send-verification-email/send-verification-email.router.ts
  apps/api/src/auth/routes/verify-email/verify-email.router.ts
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/auth/services/auth0/auth0.service.spec.ts
  apps/api/src/auth/services/auth0/auth0.service.ts
  apps/api/src/rest-app.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/functional/verify-email.spec.ts
  apps/api/test/services/wallet-testing.service.ts
  apps/deploy-web/src/pages/user/verify-email/index.tsx
  apps/deploy-web/src/queries/useVerifyEmailQuery.ts
  packages/http-sdk/src/auth/auth-http.service.ts
  packages/http-sdk/src/auth/auth-http.types.ts
  packages/http-sdk/src/auth/index.ts
  packages/http-sdk/src/index.ts
Due: api, deploy-web

feat: adds notification on first trial deployment (#1872)
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.ts
  apps/api/src/billing/events/trial-deployment-lease-created.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/core/services/domain-events/domain-events.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.ts
  apps/api/src/notifications/services/notification-templates/trial-first-deployment-lease-created-notification.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
  packages/http-sdk/src/lease/lease-http.service.ts
Due: api

feat(billing): implement capture charge with 3d secure handling validation
  apps/api/drizzle/0019_dusty_polaris.sql
  apps/api/drizzle/meta/0019_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/routes/start-trial/start-trial.router.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/billing/types/payment-method.type.ts
  apps/api/test/seeders/payment-method.seeder.ts
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodCard.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.test.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsList.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentVerificationCard/PaymentVerificationCard.tsx
  apps/deploy-web/src/components/onboarding/steps/ThreeDSecureAuth/ThreeDSecureAuth.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/hooks/useValidatedPaymentMethods.ts
  apps/deploy-web/src/queries/useManagedWalletQuery.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/managed-wallet-http/managed-wallet-http.service.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(billing): handlind 3d secure payments + 0 fix
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/ThreeDSecureAuth/ThreeDSecureAuth.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecureModal.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecurePopup.tsx
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
  apps/deploy-web/src/hooks/use3DSecure.ts
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

chore: add link to deepwiki
  README.md
Due: none

chore: add link to deepwiki (#1894)
  README.md
Due: none

fix: make schema available in a single place
  apps/api/src/auth/http-schemas/verify-email.schema.ts
  apps/api/src/auth/routes/verify-email/verify-email.router.ts
Due: api

refactor: add seeder generating Auth0 users
  apps/api/src/auth/services/auth0/auth0.service.spec.ts
  apps/api/test/seeders/auth0-user.seeder.ts
  apps/api/test/seeders/index.ts
Due: api

refactor: mock auth0 instead of its users
  apps/api/src/auth/services/auth0/auth0.service.ts
  apps/api/src/core/providers/auth.provider.ts
  apps/api/test/functional/verify-email.spec.ts
Due: api

refactor: add a provider for Auth0 ManagementClient
  apps/api/src/auth/services/auth0/auth0.service.spec.ts
  apps/api/src/auth/services/auth0/auth0.service.ts
  apps/api/src/core/providers/auth.provider.ts
  apps/api/src/core/providers/index.ts
Due: api

feat: auto-navigate to front page after a timeout
  apps/deploy-web/src/pages/user/verify-email/index.tsx
  packages/ui/components/auto-button.css
  packages/ui/components/auto-button.tsx
  packages/ui/components/index.tsx
Due: deploy-web

refactor: stop testing non-handling of errors
  apps/api/src/auth/services/auth0/auth0.service.spec.ts
Due: api

fix: ensure that error is not thrown on undefined block
  apps/deploy-web/src/components/new-deployment/BidCountdownTimer.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/queries/useBlocksQuery.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/tests/seeders/block.ts
Due: deploy-web

chore: code review
  apps/deploy-web/src/components/new-deployment/BidCountdownTimer.tsx
Due: deploy-web

refactor: simplify singleton instance of ManagementClient injected
  apps/api/src/core/providers/auth.provider.ts
Due: api

test: add unit test for useVerifyEmailQuery mutation
  apps/deploy-web/src/queries/useVerifyEmailQuery.spec.tsx
Due: deploy-web

fix: ensure that error is not thrown on undefined block (#1892)
  apps/deploy-web/src/components/new-deployment/BidCountdownTimer.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/queries/useBlocksQuery.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/tests/seeders/block.ts
Due: deploy-web

fix: set allowUrls for sentry on deploy-web
  apps/deploy-web/sentry.client.config.ts
Due: deploy-web

fix: sync email_verified from auth0 on demand
  apps/api/src/auth/controllers/auth/auth.controller.ts
  apps/api/src/auth/http-schemas/verify-email.schema.ts
  apps/api/src/auth/routes/send-verification-email/send-verification-email.router.ts
  apps/api/src/auth/routes/verify-email/verify-email.router.ts
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/auth/services/auth0/auth0.service.spec.ts
  apps/api/src/auth/services/auth0/auth0.service.ts
  apps/api/src/core/providers/auth.provider.ts
  apps/api/src/core/providers/index.ts
  apps/api/src/rest-app.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/functional/verify-email.spec.ts
  apps/api/test/seeders/auth0-user.seeder.ts
  apps/api/test/seeders/index.ts
  apps/api/test/services/wallet-testing.service.ts
  apps/deploy-web/src/pages/user/verify-email/index.tsx
  apps/deploy-web/src/queries/useVerifyEmailQuery.spec.tsx
  apps/deploy-web/src/queries/useVerifyEmailQuery.ts
  packages/http-sdk/src/auth/auth-http.service.ts
  packages/http-sdk/src/auth/auth-http.types.ts
  packages/http-sdk/src/auth/index.ts
  packages/http-sdk/src/index.ts
  packages/ui/components/auto-button.css
  packages/ui/components/auto-button.tsx
  packages/ui/components/index.tsx
Due: api, deploy-web
