Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix(deployment): reject non-finite offsets on the fallback list route
  apps/api/src/deployment/http-schemas/deployment-rpc.schema.spec.ts
  apps/api/src/deployment/http-schemas/deployment-rpc.schema.ts
Due: api

fix(billing): rate-limit prediction-mode auto top-up charges (#3756)
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.integration.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.tsx
Due: api, deploy-web

fix(deployment): clamp the fallback list page size to 100 (#3754)
  apps/api/src/deployment/http-schemas/deployment-rpc.schema.spec.ts
  apps/api/src/deployment/http-schemas/deployment-rpc.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(observability): bound the response caches by bytes, not entry count
  apps/api/src/caching/memoryCacheEngine.spec.ts
  apps/api/src/caching/memoryCacheEngine.ts
Due: api

fix(observability): size cache entries by utf-8 bytes and raw buffer length
  apps/api/src/caching/memoryCacheEngine.spec.ts
  apps/api/src/caching/memoryCacheEngine.ts
Due: api

fix(observability): bound the response caches by bytes, not entry count (#3758)
  apps/api/src/caching/memoryCacheEngine.spec.ts
  apps/api/src/caching/memoryCacheEngine.ts
Due: api

feat(notifications): brand the transactional email layout
  apps/notifications/env/.env
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.ts
Due: notifications

feat(notifications): brand the transactional email layout (#3759)
  apps/notifications/env/.env
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-layout.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.ts
Due: notifications

fix(deployment): point funding API text and docs link at automatic funding (#3751)
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.spec.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

fix(deployment): label the runtime limit as optional
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/RuntimeLimitReviewSection.tsx
Due: deploy-web

fix(billing): offer a card and auto top-up instead of credits
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/FundingImpactReviewSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/FundingImpactReviewSection.tsx
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

refactor(billing): hand the card flow a one-shot success callback
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.tsx
  apps/deploy-web/src/components/billing-usage/BillingActionsProvider/BillingActionsProvider.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingActionsProvider/BillingActionsProvider.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
Due: deploy-web

feat(deployment): resolve an sdl reference from its own service's namespace
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.spec.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(deployment): resolve an sdl reference from its own service's namespace (#3757)
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.spec.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(deployment): give a deployment record a column for its sealed secrets
  apps/api/drizzle/0048_deployment_sealed_secrets.sql
  apps/api/drizzle/meta/0048_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/test/functional/deployment-setting.spec.ts
Due: api

feat(deployment): give a deployment record a column for its sealed secrets (#3763)
  apps/api/drizzle/0048_deployment_sealed_secrets.sql
  apps/api/drizzle/meta/0048_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/test/functional/deployment-setting.spec.ts
Due: api

feat(deployment): bind a stored secret to the deployment it was stored for
  apps/api/src/secret/services/secret-cipher/secret-cipher.service.integration.ts
  apps/api/src/secret/services/secret-cipher/secret-cipher.service.spec.ts
  apps/api/src/secret/services/secret-cipher/secret-cipher.service.ts
Due: api

fix(billing): offer a card and auto top-up instead of credits (#3762)
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.tsx
  apps/deploy-web/src/components/billing-usage/BillingActionsProvider/BillingActionsProvider.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingActionsProvider/BillingActionsProvider.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/FundingImpactReviewSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/FundingImpactReviewSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/RuntimeLimitReviewSection.tsx
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

fix(billing): pause auto top-up after repeated card declines
  apps/api/drizzle/0049_auto_top_up_decline_pause.sql
  apps/api/drizzle/meta/0049_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/lib/auto-reload/auto-reload.ts
  apps/api/src/billing/lib/card-decline/card-decline.spec.ts
  apps/api/src/billing/lib/card-decline/card-decline.ts
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.integration.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.spec.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.ts
  apps/api/src/billing/services/payment-method/payment-method.service.integration.ts
  apps/api/src/billing/services/payment-method/payment-method.service.spec.ts
  apps/api/src/billing/services/payment-method/payment-method.service.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-credits-low-check/wallet-credits-low-check.handler.spec.ts
  apps/api/src/billing/services/wallet-credits-low-check/wallet-credits-low-check.handler.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.spec.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/notifications/services/notification-templates/auto-top-up-paused-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/auto-top-up-paused-notification.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/seeders/wallet-setting.seeder.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(billing): keep a failed job cancel from swallowing the pause email
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.spec.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.ts
Due: api

fix(billing): keep a lifted auto top-up pause from muting credits-low emails
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.spec.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.ts
  apps/api/src/billing/services/payment-method/payment-method.service.integration.ts
  apps/api/src/billing/services/payment-method/payment-method.service.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
Due: api

fix(billing): pause auto top-up after repeated card declines (#3760)
  apps/api/drizzle/0049_auto_top_up_decline_pause.sql
  apps/api/drizzle/meta/0049_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/lib/auto-reload/auto-reload.ts
  apps/api/src/billing/lib/card-decline/card-decline.spec.ts
  apps/api/src/billing/lib/card-decline/card-decline.ts
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.integration.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.spec.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.ts
  apps/api/src/billing/services/payment-method/payment-method.service.integration.ts
  apps/api/src/billing/services/payment-method/payment-method.service.spec.ts
  apps/api/src/billing/services/payment-method/payment-method.service.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-credits-low-check/wallet-credits-low-check.handler.spec.ts
  apps/api/src/billing/services/wallet-credits-low-check/wallet-credits-low-check.handler.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.spec.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/notifications/services/notification-templates/auto-top-up-paused-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/auto-top-up-paused-notification.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/seeders/wallet-setting.seeder.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(billing): email the user on the first declined auto top-up charge
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.spec.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/notifications/services/notification-templates/auto-top-up-charge-failed-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/auto-top-up-charge-failed-notification.ts
Due: api

fix(billing): clear the paused banner once the new card lifts the pause
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
Due: deploy-web

fix(billing): show when auto top-up is paused by card declines
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.spec.ts
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.ts
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.tsx
Due: deploy-web

fix(billing): stop the paused banner passing its click event as top-up options
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.tsx
Due: deploy-web

fix(billing): log a failed auto top-up email as itself, not as a lost decline
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.spec.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.ts
Due: api

fix(billing): stop the auto top-up header claiming it tops up while paused
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.tsx
Due: deploy-web

fix(billing): send the auto top-up pause email before the work that can throw
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.spec.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.ts
Due: api

fix(billing): show when auto top-up is paused by card declines (#3761)
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.spec.ts
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.ts
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.tsx
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
Due: deploy-web

fix(billing): email the user on the first declined auto top-up charge (#3769)
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.spec.ts
  apps/api/src/billing/services/auto-reload-pause/auto-reload-pause.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/notifications/services/notification-templates/auto-top-up-charge-failed-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/auto-top-up-charge-failed-notification.ts
Due: api

refactor(deployment): forbid a binding from naming the claims that describe its own encryption
  apps/api/src/secret/services/secret-cipher/secret-cipher.service.integration.ts
  apps/api/src/secret/services/secret-cipher/secret-cipher.service.spec.ts
  apps/api/src/secret/services/secret-cipher/secret-cipher.service.ts
Due: api

feat(deployment): let a stored sdl keep the references it was written with
  apps/api/src/core/config/body-limit.config.ts
  apps/api/src/core/lib/create-route/create-route.ts
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/config/sdl-secrets.config.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.spec.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.ts
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.spec.ts
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.ts
Due: api

refactor(deployment): measure base64url without the padding it does not spend
  apps/api/src/core/config/body-limit.config.ts
  apps/api/src/deployment/config/sdl-secrets.config.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.ts
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.ts
Due: api

feat(deployment): turn a transport seal and an sdl into the values a deployment needs
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.ts
Due: api

refactor(deployment): state the secrets intake's constraints in one line each
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.ts
Due: api

feat(deployment): accept sealed secrets when a deployment is created
  apps/api/src/deployment/config/sdl.config.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
Due: api

refactor(deployment): refuse a missing deposit before the seal spends a key-service call
  apps/api/src/deployment/config/sdl.config.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
Due: api

refactor(deployment): withhold sealed secrets from the published api document
  apps/api/src/core/lib/create-route/create-route.ts
  apps/api/src/core/services/openapi-docs/openapi-docs.service.spec.ts
  apps/api/src/core/services/openapi-docs/openapi-docs.service.ts
  apps/api/src/deployment/config/sdl-secrets.config.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
Due: api

feat(billing): cap trial deployment cpu and memory at creation
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/deployment/utils/group-resources/group-resources.spec.ts
  apps/api/src/deployment/utils/group-resources/group-resources.ts
Due: api
