Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(managed-wallet): env-drive trial GPU blocklist + relax fallback
  apps/api/src/billing/config/env.config.ts
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.spec.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
Due: api, deploy-web

fix(managed-wallet): align trial-blocked GPU defaults with chain model names
  apps/api/src/billing/config/env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
Due: api, deploy-web

refactor(managed-wallet): promote blocked-gpu utils to a tsyringe service
  apps/api/src/bid/services/bid/bid.service.spec.ts
  apps/api/src/bid/services/bid/bid.service.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/blocked-gpu/blocked-gpu.service.spec.ts
  apps/api/src/deployment/services/blocked-gpu/blocked-gpu.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
Due: api

feat: adds general migrator script to run migrations during deployment
  apps/provider-inventory/package.json
  apps/provider-inventory/src/controllers/healthz/healthz.controller.spec.ts
  apps/provider-inventory/src/controllers/healthz/healthz.controller.ts
  apps/provider-inventory/src/routes/healthz/healthz.router.ts
  apps/provider-inventory/tsup.config.ts
  script/db-migrate.ts
Due: none

feat: adds general migrator script to run migrations during deployment (#3206)
  apps/provider-inventory/package.json
  apps/provider-inventory/src/controllers/healthz/healthz.controller.spec.ts
  apps/provider-inventory/src/controllers/healthz/healthz.controller.ts
  apps/provider-inventory/src/routes/healthz/healthz.router.ts
  apps/provider-inventory/tsup.config.ts
  script/db-migrate.ts
Due: none

feat(managed-wallet): block high-end GPUs for trial accounts (#3198)
  apps/api/src/bid/services/bid/bid.service.spec.ts
  apps/api/src/bid/services/bid/bid.service.ts
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/blocked-gpu/blocked-gpu.service.spec.ts
  apps/api/src/deployment/services/blocked-gpu/blocked-gpu.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/deployment/utils/blocked-gpu/blocked-gpu.spec.ts
  apps/api/src/deployment/utils/blocked-gpu/blocked-gpu.ts
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/utils/deploymentData/v1beta3.spec.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
Due: api, deploy-web

docs(repo): add Console Air pointer to README
  README.md
Due: none

docs(repo): add Console Air pointer to README (#3207)
  README.md
Due: none

fix(wallet): remove Leap wallet integration from codebase
  .gitignore
  .npmrc
  apps/deploy-web/package.json
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/liquidity-modal/index.tsx
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.spec.tsx
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/deploy-web/src/pages/get-started/index.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/styles/index.css
  apps/deploy-web/src/types/global.ts
  apps/provider-console/package.json
  apps/provider-console/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/provider-console/src/pages/get-started/index.tsx
  apps/provider-console/src/styles/index.css
  doc/e2e-manual-qa-checklist.md
  package-lock.json
  packages/dev-config/.eslintrc.base.js
Due: deploy-web, provider-console

docs(wallet): add MetaMask to wallet modal checklist
  doc/e2e-manual-qa-checklist.md
Due: none

test(wallet): fix balance mock gate to check all denom fields
  apps/deploy-web/src/components/get-started/GetStartedStepper.spec.tsx
Due: deploy-web

test(wallet): add GetStartedStepper spec to fix codecov patch coverage
  apps/deploy-web/src/components/get-started/GetStartedStepper.spec.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
Due: deploy-web

fix(wallet): display ACT instead of USDC for custodial balance
  apps/deploy-web/src/components/get-started/GetStartedStepper.spec.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
Due: deploy-web

fix(wallet): drop now-unused global.ts and @keplr-wallet/types
  apps/deploy-web/package.json
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/types/global.ts
  package-lock.json
Due: deploy-web

feat(onboarding): add /onboarding template picker with phased deploy
  apps/deploy-web/next-env.d.ts
  apps/deploy-web/public/images/onboarding/hello-world.png
  apps/deploy-web/public/images/onboarding/llm-chatbot.png
  apps/deploy-web/public/images/onboarding/stable-diffusion.png
  apps/deploy-web/src/components/deployments/DeploymentTemplatePickerCard/DeploymentTemplatePickerCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentTemplatePickerCard/DeploymentTemplatePickerCard.tsx
  apps/deploy-web/src/components/deployments/PhasedDeploymentContainer/PhasedDeploymentContainer.spec.tsx
  apps/deploy-web/src/components/deployments/PhasedDeploymentContainer/PhasedDeploymentContainer.tsx
  apps/deploy-web/src/components/deployments/PhasedDeploymentProgress/PhasedDeploymentProgress.spec.tsx
  apps/deploy-web/src/components/deployments/PhasedDeploymentProgress/PhasedDeploymentProgress.tsx
  apps/deploy-web/src/components/globe/Globe/Globe.spec.tsx
  apps/deploy-web/src/components/globe/Globe/Globe.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
  apps/deploy-web/src/hooks/useGradualProgress/useGradualProgress.spec.ts
  apps/deploy-web/src/hooks/useGradualProgress/usePhasedProgressBar.ts
  apps/deploy-web/src/hooks/usePhasedDeploymentFlow/usePhasedDeploymentFlow.spec.ts
  apps/deploy-web/src/hooks/usePhasedDeploymentFlow/usePhasedDeploymentFlow.ts
  apps/deploy-web/src/pages/onboarding/index.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useProvidersQuery.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/tests/ui/onboarding-quick-deploy.spec.ts
  apps/deploy-web/tests/ui/pages/OnboardingPickerPage.ts
Due: deploy-web

feat(onboarding): add /onboarding template picker with phased deploy (#3204)
  apps/deploy-web/next-env.d.ts
  apps/deploy-web/public/images/onboarding/hello-world.png
  apps/deploy-web/public/images/onboarding/llm-chatbot.png
  apps/deploy-web/public/images/onboarding/stable-diffusion.png
  apps/deploy-web/src/components/deployments/DeploymentTemplatePickerCard/DeploymentTemplatePickerCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentTemplatePickerCard/DeploymentTemplatePickerCard.tsx
  apps/deploy-web/src/components/deployments/PhasedDeploymentContainer/PhasedDeploymentContainer.spec.tsx
  apps/deploy-web/src/components/deployments/PhasedDeploymentContainer/PhasedDeploymentContainer.tsx
  apps/deploy-web/src/components/deployments/PhasedDeploymentProgress/PhasedDeploymentProgress.spec.tsx
  apps/deploy-web/src/components/deployments/PhasedDeploymentProgress/PhasedDeploymentProgress.tsx
  apps/deploy-web/src/components/globe/Globe/Globe.spec.tsx
  apps/deploy-web/src/components/globe/Globe/Globe.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
  apps/deploy-web/src/hooks/useGradualProgress/useGradualProgress.spec.ts
  apps/deploy-web/src/hooks/useGradualProgress/usePhasedProgressBar.ts
  apps/deploy-web/src/hooks/usePhasedDeploymentFlow/usePhasedDeploymentFlow.spec.ts
  apps/deploy-web/src/hooks/usePhasedDeploymentFlow/usePhasedDeploymentFlow.ts
  apps/deploy-web/src/pages/onboarding/index.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useProvidersQuery.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/tests/ui/onboarding-quick-deploy.spec.ts
  apps/deploy-web/tests/ui/pages/OnboardingPickerPage.ts
Due: deploy-web

fix: copy db migrator to docker
  apps/provider-inventory/package.json
  apps/provider-inventory/script/db-migrate.ts
  apps/provider-inventory/tsup.config.ts
  script/db-migrate.ts
Due: none

fix: copy db migrator to docker (#3208)
  apps/provider-inventory/package.json
  apps/provider-inventory/script/db-migrate.ts
  apps/provider-inventory/tsup.config.ts
  script/db-migrate.ts
Due: none

fix: health error logging
  apps/provider-inventory/src/controllers/healthz/healthz.controller.spec.ts
  apps/provider-inventory/src/controllers/healthz/healthz.controller.ts
  apps/provider-inventory/src/providers/logger-factory.provider.ts
Due: none

fix: health error logging (#3209)
  apps/provider-inventory/src/controllers/healthz/healthz.controller.spec.ts
  apps/provider-inventory/src/controllers/healthz/healthz.controller.ts
  apps/provider-inventory/src/providers/logger-factory.provider.ts
Due: none

fix: adds @swc/core to emit decorator metadata
  apps/provider-inventory/package.json
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  package-lock.json
  packages/docker/.env.sandbox.docker-compose-dev
Due: none

fix: adds @swc/core to emit decorator metadata (#3210)
  apps/provider-inventory/package.json
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  package-lock.json
  packages/docker/.env.sandbox.docker-compose-dev
Due: none

feat(billing): require $100 top-up minimum for trial users
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  packages/http-sdk/src/managed-wallet-http/managed-wallet-http.service.ts
Due: api, deploy-web

fix(billing): guard trial min env + validate non-trial top-ups
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

feat(billing): require $100 top-up minimum for trial users (#3211)
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  packages/http-sdk/src/managed-wallet-http/managed-wallet-http.service.ts
Due: api, deploy-web

feat(wallet): remove AKT/ACT mint & burn UI from deploy-web
  apps/deploy-web/src/components/MintBurnPage/LedgerRecordsTable/LedgerRecordsTable.spec.tsx
  apps/deploy-web/src/components/MintBurnPage/LedgerRecordsTable/LedgerRecordsTable.tsx
  apps/deploy-web/src/components/MintBurnPage/MintBurnPage.spec.tsx
  apps/deploy-web/src/components/MintBurnPage/MintBurnPage.tsx
  apps/deploy-web/src/components/deployments/DeploymentDepositModal/DeploymentDepositModal.spec.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletPopup/CustodialWalletPopup.spec.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletPopup/CustodialWalletPopup.tsx
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.ts
  apps/deploy-web/src/pages/mint-burn/index.tsx
  apps/deploy-web/src/queries/useLedgerRecords.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

fix(managed-wallet): persist derived wallet sequence and surface on-chain failures
  apps/tx-signer/src/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/tx-signer/src/lib/batch-signing-client/batch-signing-client.service.ts
  apps/tx-signer/src/services/tx-manager/tx-manager.service.spec.ts
  apps/tx-signer/src/services/tx-manager/tx-manager.service.ts
Due: none

feat(wallet): remove AKT/ACT mint & burn UI from deploy-web (#3212)
  apps/deploy-web/src/components/MintBurnPage/LedgerRecordsTable/LedgerRecordsTable.spec.tsx
  apps/deploy-web/src/components/MintBurnPage/LedgerRecordsTable/LedgerRecordsTable.tsx
  apps/deploy-web/src/components/MintBurnPage/MintBurnPage.spec.tsx
  apps/deploy-web/src/components/MintBurnPage/MintBurnPage.tsx
  apps/deploy-web/src/components/deployments/DeploymentDepositModal/DeploymentDepositModal.spec.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletPopup/CustodialWalletPopup.spec.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletPopup/CustodialWalletPopup.tsx
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.ts
  apps/deploy-web/src/pages/mint-burn/index.tsx
  apps/deploy-web/src/queries/useLedgerRecords.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

fix(ci): remove self-custody test-wallet leftovers from Console Web e2e
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
  apps/deploy-web/script/closeDeployments.ts
Due: deploy-web

fix(wallet): remove Leap wallet integration (#3064)
  .gitignore
  .npmrc
  apps/deploy-web/package.json
  apps/deploy-web/src/components/get-started/GetStartedStepper.spec.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/liquidity-modal/index.tsx
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.spec.tsx
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/deploy-web/src/pages/get-started/index.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/styles/index.css
  apps/deploy-web/src/types/global.ts
  apps/provider-console/package.json
  apps/provider-console/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/provider-console/src/pages/get-started/index.tsx
  apps/provider-console/src/styles/index.css
  doc/e2e-manual-qa-checklist.md
  package-lock.json
  packages/dev-config/.eslintrc.base.js
Due: deploy-web, provider-console

refactor(wallet): remove unused address util
  apps/deploy-web/src/utils/address.ts
Due: deploy-web

test(wallet): add SettingsLayout render spec
  apps/deploy-web/src/components/settings/SettingsLayout.spec.tsx
Due: deploy-web

refactor(wallet): remove self-custodial fee-grant and allowance UI
  apps/deploy-web/src/components/authorizations/AllowanceGrantedRow.tsx
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow/AllowanceIssuedRow.spec.tsx
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow/AllowanceIssuedRow.tsx
  apps/deploy-web/src/components/authorizations/AllowanceModal.tsx
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.spec.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.tsx
  apps/deploy-web/src/components/authorizations/FeeGrantTable.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.spec.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/SpendLimitRow.spec.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/SpendLimitRow.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow/GranteeRow.spec.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow/GranteeRow.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/settings/AutoTopUpSetting/AutoTopUpSetting.tsx
  apps/deploy-web/src/components/settings/AutoTopUpSetting/AutoTopUpSettingContainer.tsx
  apps/deploy-web/src/components/settings/SettingsContainer.tsx
  apps/deploy-web/src/components/settings/SettingsLayout.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useAllowance.tsx
  apps/deploy-web/src/hooks/useAutoTopUpLimits.tsx
  apps/deploy-web/src/hooks/useAutoTopUpService.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.ts
  apps/deploy-web/src/pages/settings/authorizations/index.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useExactDeploymentGrantsQuery.ts
  apps/deploy-web/src/queries/useExactFeeAllowanceQuery.ts
  apps/deploy-web/src/queries/useGrantsQuery.spec.tsx
  apps/deploy-web/src/queries/useGrantsQuery.ts
  apps/deploy-web/src/services/auto-top-up-message/auto-top-up-message.service.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/types/grant.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/grants.ts
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

refactor(wallet): remove self-custodial fee-grant and allowance UI (#3213)
  apps/deploy-web/src/components/authorizations/AllowanceGrantedRow.tsx
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow/AllowanceIssuedRow.spec.tsx
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow/AllowanceIssuedRow.tsx
  apps/deploy-web/src/components/authorizations/AllowanceModal.tsx
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.spec.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.tsx
  apps/deploy-web/src/components/authorizations/FeeGrantTable.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.spec.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/SpendLimitRow.spec.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/SpendLimitRow.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow/GranteeRow.spec.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow/GranteeRow.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/settings/AutoTopUpSetting/AutoTopUpSetting.tsx
  apps/deploy-web/src/components/settings/AutoTopUpSetting/AutoTopUpSettingContainer.tsx
  apps/deploy-web/src/components/settings/SettingsContainer.tsx
  apps/deploy-web/src/components/settings/SettingsLayout.spec.tsx
  apps/deploy-web/src/components/settings/SettingsLayout.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useAllowance.tsx
  apps/deploy-web/src/hooks/useAutoTopUpLimits.tsx
  apps/deploy-web/src/hooks/useAutoTopUpService.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.ts
  apps/deploy-web/src/pages/settings/authorizations/index.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useExactDeploymentGrantsQuery.ts
  apps/deploy-web/src/queries/useExactFeeAllowanceQuery.ts
  apps/deploy-web/src/queries/useGrantsQuery.spec.tsx
  apps/deploy-web/src/queries/useGrantsQuery.ts
  apps/deploy-web/src/services/auto-top-up-message/auto-top-up-message.service.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/types/grant.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/address.ts
  apps/deploy-web/src/utils/grants.ts
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

refactor(wallet): remove self-custodial /settings page tree
  apps/deploy-web/src/components/layout/NodeStatusBar.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/components/settings/CertificateDisplay.tsx
  apps/deploy-web/src/components/settings/CertificateList.tsx
  apps/deploy-web/src/components/settings/ColorModeSelect.tsx
  apps/deploy-web/src/components/settings/ExportCertificate.tsx
  apps/deploy-web/src/components/settings/LocalDataManager/LocalDataManager.component.tsx
  apps/deploy-web/src/components/settings/LocalDataManager/LocalDataManager.container.tsx
  apps/deploy-web/src/components/settings/LocalDataManager/index.ts
  apps/deploy-web/src/components/settings/SelectNetworkModal.tsx
  apps/deploy-web/src/components/settings/SettingsContainer.tsx
  apps/deploy-web/src/components/settings/SettingsForm.tsx
  apps/deploy-web/src/components/settings/SettingsLayout.spec.tsx
  apps/deploy-web/src/components/settings/SettingsLayout.tsx
  apps/deploy-web/src/components/shared/NodeStatus.tsx
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.ts
  apps/deploy-web/src/pages/settings/index.tsx
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

refactor(wallet): remove self-custodial /settings page tree (#3216)
  apps/deploy-web/src/components/layout/NodeStatusBar.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/components/settings/CertificateDisplay.tsx
  apps/deploy-web/src/components/settings/CertificateList.tsx
  apps/deploy-web/src/components/settings/ColorModeSelect.tsx
  apps/deploy-web/src/components/settings/ExportCertificate.tsx
  apps/deploy-web/src/components/settings/LocalDataManager/LocalDataManager.component.tsx
  apps/deploy-web/src/components/settings/LocalDataManager/LocalDataManager.container.tsx
  apps/deploy-web/src/components/settings/LocalDataManager/index.ts
  apps/deploy-web/src/components/settings/SelectNetworkModal.tsx
  apps/deploy-web/src/components/settings/SettingsContainer.tsx
  apps/deploy-web/src/components/settings/SettingsForm.tsx
  apps/deploy-web/src/components/settings/SettingsLayout.spec.tsx
  apps/deploy-web/src/components/settings/SettingsLayout.tsx
  apps/deploy-web/src/components/shared/NodeStatus.tsx
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.ts
  apps/deploy-web/src/pages/settings/index.tsx
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

refactor(wallet): remove Keplr wallet onboarding page from deploy-web
  apps/deploy-web/src/components/get-started/CreateWalletSection.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/get-started/NoKeplrSection.tsx
  apps/deploy-web/src/components/get-started/NoWalletSection.tsx
  apps/deploy-web/src/components/get-started/WithKeplrSection.tsx
  apps/deploy-web/src/hoc/guard/useIsSelfCustodyAccessible.spec.tsx
  apps/deploy-web/src/hoc/guard/useIsSelfCustodyAccessible.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/selfCustody.ts
  apps/deploy-web/src/pages/get-started/wallet.tsx
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

fix(ci): remove self-custody test-wallet leftovers from Console Web e2e (#3218)
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
  apps/deploy-web/script/closeDeployments.ts
Due: deploy-web

refactor(wallet): remove certificate flows from managed deploy-web
  apps/deploy-web/src/components/deployments/CreateCredentialsButton/CreateCredentialsButton.spec.tsx
  apps/deploy-web/src/components/deployments/CreateCredentialsButton/CreateCredentialsButton.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.spec.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/shared/ManifestErrorSnackbar/ManifestErrorSnackbar.spec.tsx
  apps/deploy-web/src/components/shared/ManifestErrorSnackbar/ManifestErrorSnackbar.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/hooks/useCertificate/useCertificate.spec.tsx
  apps/deploy-web/src/hooks/useCertificate/useCertificate.tsx
  apps/deploy-web/src/hooks/useProviderCredentials/useProviderCredentials.spec.ts
  apps/deploy-web/src/hooks/useProviderCredentials/useProviderCredentials.ts
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.spec.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/deploy-web/src/store/certificateStore.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/walletUtils.spec.ts
  apps/deploy-web/src/utils/walletUtils.ts
  apps/deploy-web/tests/seeders/localWallet.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
