Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

test(billing): cover zero boundary for master wallet mint config
  apps/api/src/billing/config/env.config.spec.ts
Due: api

fix(billing): sync default payment method so the first card becomes default (#3559)
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/services/payment-method/payment-method.service.integration.ts
  apps/api/src/billing/services/payment-method/payment-method.service.spec.ts
  apps/api/src/billing/services/payment-method/payment-method.service.ts
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
Due: api, deploy-web

feat(billing): disable auto top-up when the default payment method is removed
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/services/payment-method/payment-method.service.integration.ts
  apps/api/src/billing/services/payment-method/payment-method.service.spec.ts
  apps/api/src/billing/services/payment-method/payment-method.service.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.integration.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
Due: api

refactor(billing): build usePopup test double with mock<T>()
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.spec.tsx
Due: deploy-web

feat(billing): always allow removing payment methods behind a confirmation
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
Due: deploy-web

fix(billing): keep default card removal successful when auto reload disable fails
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
Due: api

feat(deployment): add a gpu interconnect toggle to the deployment configuration (#3557)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectCard/GpuInterconnectCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectCard/GpuInterconnectCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/sdl/gpuInterconnect.spec.ts
  apps/deploy-web/src/utils/sdl/gpuInterconnect.ts
Due: deploy-web

feat(billing): disable auto top-up when the default payment method is removed (#3560)
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/services/payment-method/payment-method.service.integration.ts
  apps/api/src/billing/services/payment-method/payment-method.service.spec.ts
  apps/api/src/billing/services/payment-method/payment-method.service.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.integration.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
Due: api, deploy-web

refactor(wallet): remove stale isSignedInWithTrial flag
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/wallet/WalletConnectionButtons.spec.tsx
  apps/deploy-web/src/components/wallet/WalletConnectionButtons.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/store/walletStore.ts
Due: deploy-web

refactor(wallet): remove obsolete Start Trial wallet connection buttons
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/layout/WalletStatus.spec.tsx
  apps/deploy-web/src/components/layout/WalletStatus.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.spec.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  apps/deploy-web/src/components/wallet/WalletConnectionButtons.spec.tsx
  apps/deploy-web/src/components/wallet/WalletConnectionButtons.tsx
Due: deploy-web

refactor(styling): remove legacy sidebar and nav shell
  apps/deploy-web/public/images/akash-logo.svg
  apps/deploy-web/src/components/layout/Layout.spec.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/MobileSidebarUser.tsx
  apps/deploy-web/src/components/layout/ModeToggle.tsx
  apps/deploy-web/src/components/layout/Nav.spec.tsx
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/components/layout/SidebarGroupMenu.tsx
  apps/deploy-web/src/components/layout/SidebarGroupMenuPopover.tsx
  apps/deploy-web/src/components/layout/SidebarHoveredGroupMenu.tsx
  apps/deploy-web/src/components/layout/SidebarRouteButton.tsx
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/types/index.ts
  apps/deploy-web/tests/ui/pages/AppNav.ts
  apps/deploy-web/tests/ui/pages/HomePage.ts
Due: deploy-web

feat(deployment): restrict gpu interconnect for trial wallets
  apps/api/env/.env.sample
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/deployment/utils/gpu-interconnect/gpu-interconnect.spec.ts
  apps/api/src/deployment/utils/gpu-interconnect/gpu-interconnect.ts
  apps/deploy-web/env/.env.sample
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectCard/GpuInterconnectCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectCard/GpuInterconnectCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/UnlockGpusButton/UnlockGpusButton.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.spec.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
Due: api, deploy-web

fix(indexer): handle SIGTERM/SIGINT with orderly shutdown
  apps/indexer/package.json
  apps/indexer/src/chain/dataStore.ts
  apps/indexer/src/chain/nodeAccessor.ts
  apps/indexer/src/index.ts
  apps/indexer/src/lib/server-logger/server-logger.ts
  apps/indexer/src/lib/shutdown-server/shutdown-server.spec.ts
  apps/indexer/src/lib/shutdown-server/shutdown-server.ts
  apps/indexer/src/lib/start-server/app-initializer.ts
  apps/indexer/src/lib/start-server/start-server.spec.ts
  apps/indexer/src/lib/start-server/start-server.ts
  apps/indexer/src/scheduler.ts
  apps/indexer/vitest.config.ts
  package-lock.json
Due: indexer

refactor(styling): drop unused clsx dependency from deploy-web
  apps/deploy-web/package.json
  package-lock.json
Due: deploy-web

refactor(deployment): gate the trial interconnect block on the existing gpu restriction
  apps/api/env/.env.sample
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/deploy-web/env/.env.sample
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.spec.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
Due: api, deploy-web

feat(deployment): add explicit group and fabric controls to gpu interconnect
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectCard/GpuInterconnectCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectCard/GpuInterconnectCard.tsx
  apps/deploy-web/src/utils/sdl/gpuInterconnect.spec.ts
  apps/deploy-web/src/utils/sdl/gpuInterconnect.ts
Due: deploy-web

refactor(wallet): drop get-started copy referencing removed trial buttons
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
Due: deploy-web

fix(indexer): serialize node status saves to prevent corrupted file
  apps/indexer/src/chain/dataStore.ts
  apps/indexer/src/chain/nodeAccessor.ts
Due: indexer

refactor(billing): correct auto top-up max-bound comment for integer cents
  apps/api/src/billing/http-schemas/wallet.schema.ts
Due: api

fix(indexer): enforce shutdown deadline and register signals earlier
  apps/indexer/package.json
  apps/indexer/src/index.ts
  apps/indexer/src/lib/server-logger/server-logger.ts
  apps/indexer/src/lib/shutdown-server/shutdown-server.spec.ts
  apps/indexer/src/lib/start-server/start-server.spec.ts
  apps/indexer/src/lib/start-server/start-server.ts
  package-lock.json
Due: indexer

feat(billing): add fixed-threshold auto top-up API behind a feature flag (#3533)
  apps/api/drizzle/0035_cheerful_electro.sql
  apps/api/drizzle/meta/0035_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/config/index.ts
  apps/api/src/billing/config/top-up.config.ts
  apps/api/src/billing/controllers/wallet-settings/wallet-settings.controller.spec.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/lib/currency/currency.spec.ts
  apps/api/src/billing/lib/currency/currency.ts
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.integration.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/wallet-settings.spec.ts
  apps/api/test/seeders/wallet-setting.seeder.ts
  packages/console-api-types/src/schema.d.ts
Due: api

refactor(styling): remove legacy sidebar and nav shell (#3564)
  apps/deploy-web/package.json
  apps/deploy-web/public/images/akash-logo.svg
  apps/deploy-web/src/components/layout/Layout.spec.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/MobileSidebarUser.tsx
  apps/deploy-web/src/components/layout/ModeToggle.tsx
  apps/deploy-web/src/components/layout/Nav.spec.tsx
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/components/layout/SidebarGroupMenu.tsx
  apps/deploy-web/src/components/layout/SidebarGroupMenuPopover.tsx
  apps/deploy-web/src/components/layout/SidebarHoveredGroupMenu.tsx
  apps/deploy-web/src/components/layout/SidebarRouteButton.tsx
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/types/index.ts
  apps/deploy-web/tests/ui/pages/AppNav.ts
  apps/deploy-web/tests/ui/pages/HomePage.ts
  package-lock.json
Due: deploy-web

feat(deployment): add explicit group and fabric controls to gpu interconnect (#3566)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectCard/GpuInterconnectCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectCard/GpuInterconnectCard.tsx
  apps/deploy-web/src/utils/sdl/gpuInterconnect.spec.ts
  apps/deploy-web/src/utils/sdl/gpuInterconnect.ts
Due: deploy-web

feat(deployment): restrict gpu interconnect for trial wallets (#3565)
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/deployment/utils/gpu-interconnect/gpu-interconnect.spec.ts
  apps/api/src/deployment/utils/gpu-interconnect/gpu-interconnect.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectCard/GpuInterconnectCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectCard/GpuInterconnectCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/UnlockGpusButton/UnlockGpusButton.tsx
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
  apps/deploy-web/src/utils/sdl/gpuInterconnect.spec.ts
  apps/deploy-web/src/utils/sdl/gpuInterconnect.ts
Due: api, deploy-web

fix(billing): gate auto top-up edit button and add client max bounds
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.tsx
Due: deploy-web

feat(billing): add fixed-threshold auto top-up UI behind a feature flag
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.tsx
  apps/deploy-web/src/queries/useWalletSettingsQueries.spec.tsx
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

fix(billing): clean up pending reload job when auto top-up values change
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.integration.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
Due: api

fix(billing): align auto top-up amount minimum with the backend floor
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.tsx
Due: deploy-web

fix(billing): move auto top-up edit button beside the summary and hide when unavailable
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
Due: deploy-web

fix(billing): align auto top-up threshold label with inclusive wording
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.tsx
Due: deploy-web

fix(billing): clean up pending reload job on immediate schedule too
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.spec.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
Due: api

refactor(billing): drop zodResolver from auto top-up DEPENDENCIES map
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.tsx
Due: deploy-web

fix(billing): keep auto top-up edit button next to the summary text
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
Due: deploy-web

feat(billing): add fixed-threshold auto top-up UI behind a feature flag (#3535)
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.spec.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.integration.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.tsx
  apps/deploy-web/src/queries/useWalletSettingsQueries.spec.tsx
  apps/deploy-web/src/types/feature-flags.ts
Due: api, deploy-web

fix(alert): stop false unsaved-changes prompt when closing a deployment
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
Due: deploy-web

refactor(wallet): remove stale isSignedInWithTrial flag (#3563)
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/layout/WalletStatus.spec.tsx
  apps/deploy-web/src/components/layout/WalletStatus.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.spec.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  apps/deploy-web/src/components/wallet/WalletConnectionButtons.spec.tsx
  apps/deploy-web/src/components/wallet/WalletConnectionButtons.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/store/walletStore.ts
Due: deploy-web

refactor(wallet): delete dead custodial-era code
  apps/deploy-web/src/components/api-keys/ApiKeyList.tsx
  apps/deploy-web/src/components/deployments/DeploymentDepositModal/DeploymentDepositModal.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDepositModal/DeploymentDepositModal.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.spec.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/home/AccountHeader.tsx
  apps/deploy-web/src/components/home/AccountStatsCards/AccountStatsCards.spec.tsx
  apps/deploy-web/src/components/home/AccountStatsCards/AccountStatsCards.tsx
  apps/deploy-web/src/components/home/YourAccount/YourAccount.spec.tsx
  apps/deploy-web/src/components/home/YourAccount/YourAccount.tsx
  apps/deploy-web/src/components/layout/TransactionModal.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
  apps/deploy-web/src/components/sdl/DeploymentMinimumEscrowAlertText.spec.tsx
  apps/deploy-web/src/components/sdl/DeploymentMinimumEscrowAlertText.tsx
  apps/deploy-web/src/hoc/guard/guard.hoc.tsx
  apps/deploy-web/src/hooks/useManagedDeploymentConfirm.tsx
  apps/deploy-web/src/hooks/useMintACT/useMintACT.spec.ts
  apps/deploy-web/src/hooks/useMintACT/useMintACT.ts
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/pages/billing/index.tsx
  apps/deploy-web/src/pages/payment-methods/index.tsx
  apps/deploy-web/src/pages/usage/index.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/store/walletStore.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/apiUtils.ts
  apps/deploy-web/src/utils/walletUtils.spec.ts
  apps/deploy-web/src/utils/walletUtils.ts
  apps/deploy-web/tests/seeders/localWallet.ts
Due: deploy-web

refactor(wallet): gate app boot on wallet lookup
  apps/deploy-web/src/context/WalletProvider/WalletProvider.spec.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
Due: deploy-web

fix(deployment): render single dollar sign in minimum escrow alert
  apps/deploy-web/src/components/sdl/DeploymentMinimumEscrowAlertText.spec.tsx
  apps/deploy-web/src/components/sdl/DeploymentMinimumEscrowAlertText.tsx
Due: deploy-web
