Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

chore: another workflow indexer change (#2066)
  .github/workflows/all-deploy-testnet.yml
Due: none

chore: another workflow indexer change
  .github/workflows/reusable-deploy-k8s.yml
Due: none

chore: another workflow indexer change (#2068)
  .github/workflows/reusable-deploy-k8s.yml
Due: none

chore(release): exposes release name to env for restart
  .github/workflows/reusable-deploy-k8s.yml
Due: none

fix: chain api fallback to indexer
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/routes/leases/leases.router.ts
Due: api

fix: api fallback version
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/routes/leases/leases.router.ts
Due: api

fix: chain api fallback to indexer (#2070)
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/routes/leases/leases.router.ts
Due: api

fix: adjusts maintenance message based on app
  apps/deploy-web/src/components/layout/TopBanner.tsx
  apps/deploy-web/src/context/FlagProvider/FlagProvider.tsx
  apps/deploy-web/src/hooks/useTopBanner.tsx
  apps/deploy-web/src/hooks/useVariant.tsx
  apps/stats-web/src/components/layout/TopBanner.tsx
  apps/stats-web/src/config/browser-env.config.ts
  apps/stats-web/src/context/FlagProvider/FlagProvider.tsx
  apps/stats-web/src/hooks/useTopBanner.tsx
Due: deploy-web, stats-web

fix: adjusts maintenance message based on app (#2072)
  apps/deploy-web/src/components/layout/TopBanner.tsx
  apps/deploy-web/src/context/FlagProvider/FlagProvider.tsx
  apps/deploy-web/src/hooks/useTopBanner.tsx
  apps/deploy-web/src/hooks/useVariant.tsx
  apps/stats-web/src/components/layout/TopBanner.tsx
  apps/stats-web/src/config/browser-env.config.ts
  apps/stats-web/src/context/FlagProvider/FlagProvider.tsx
  apps/stats-web/src/hooks/useTopBanner.tsx
Due: deploy-web, stats-web

fix: don't render aria-label when there is no label
  packages/ui/components/custom/popup.tsx
Due: none

test: can change wallet or disconnect
  apps/deploy-web/src/components/wallet/CustodialWalletPopup.tsx
  apps/deploy-web/tests/ui/actions/selectChainNetwork.ts
  apps/deploy-web/tests/ui/change-wallets.spec.ts
  apps/deploy-web/tests/ui/disconnect-wallet.spec.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/testing-helpers.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/pages/FrontPage.tsx
  apps/provider-console/src/components/layout/WalletStatus.tsx
  packages/ui/components/custom/popup.tsx
Due: deploy-web, provider-console

fix: remove dead code
  apps/deploy-web/tests/ui/fixture/testing-helpers.ts
Due: deploy-web

test: followup on PR feedback
  apps/deploy-web/src/components/wallet/CustodialWalletPopup.tsx
  apps/deploy-web/tests/ui/change-wallets.spec.ts
  apps/deploy-web/tests/ui/disconnect-wallet.spec.ts
  apps/deploy-web/tests/ui/fixture/testing-helpers.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/pages/LeapExt.tsx
  apps/provider-console/src/components/layout/WalletStatus.tsx
Due: deploy-web, provider-console

feat(analytics): chain sdk next indexer (#1983)
  apps/indexer/package.json
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/indexer/src/indexers/validatorIndexer.ts
  apps/indexer/src/shared/utils/protobuf.ts
  apps/indexer/tsconfig.json
  packages/database/chainDefinitions.ts
  packages/database/package.json
Due: indexer

feat: indexer bseq (#2055)
  apps/indexer/drizzle.config.ts
  apps/indexer/drizzle/0001_add_bseq_to_bid_and_lease.sql
  apps/indexer/drizzle/meta/0001_snapshot.json
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  packages/database/dbSchemas/akash/bid.ts
  packages/database/dbSchemas/akash/lease.ts
Due: indexer

fix: decode tx attribute events only when base64
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/shared/utils/base64.ts
  package-lock.json
  packages/database/chainDefinitions.ts
Due: indexer

fix: update deps
  apps/indexer/package.json
  package-lock.json
Due: indexer

fix: udpate typescript version
  apps/indexer/src/chain/genesisImporter.ts
  package-lock.json
Due: indexer

chore: syncs chain-sdk
  apps/indexer/package.json
  apps/stats-web/package.json
  package-lock.json
Due: indexer, stats-web

chore: test gha issue
  .github/workflows/reusable-validate-app.yml
Due: none

chore: uses volta to setup nodejs and npm
  .github/actions/setup-app-deps/action.yml
Due: none

chore: downgrade eslint-import-x
  package-lock.json
  packages/dev-config/package.json
Due: none

fix: update import-x deps
  package-lock.json
  packages/dev-config/package.json
Due: none

fix: test import-x 4.9.0
  package-lock.json
  package.json
  packages/dev-config/package.json
Due: none

chore: update import-x
  package-lock.json
  package.json
  packages/dev-config/package.json
Due: none

chore: udpate lock file
  package-lock.json
Due: none

fix: update test snapshot
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

chore(release): implements basic indexer deploy CI for the testnet
  .github/workflows/all-trigger-coverage.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/diff-package-lock.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/indexer-release-testnet.yml
  .github/workflows/local-packages-validate.yml
  .github/workflows/log-collector-validate-n-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/reusable-build-image.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/stats-web-docker-build.yml
  .github/workflows/workspace-ci-unsafe.yml
  .helm/indexer-staging-testnet-values.yaml
  apps/indexer/README.md
  packages/docker/script/build.sh
Due: indexer

feat(release): adds api testnet release
  .github/workflows/console-api-deploy-testnet.yml
  .github/workflows/indexer-deploy-testnet.yml
Due: none

refactor: migrate provider-proxy to next chain sdk (#1980)
  apps/deploy-web/src/queries/queryKeys.ts
Due: deploy-web

fix: removes duplicate query key def
  apps/deploy-web/src/queries/queryKeys.ts
Due: deploy-web

fix(release): adds api testnet env
  apps/api/env/.env.testnet
Due: api

feat(release): implements console-web staging testnet deploy
  .github/workflows/console-web-deploy-testnet.yml
  .helm/console-web-testnet-staging-values.yaml
  apps/deploy-web/env/.env.staging-testnet
Due: deploy-web
