Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(observability): flush OTEL on clean process exit
  packages/instrumentation/src/register.ts
Due: none

fix(observability): flush OTEL on clean process exit (#3119)
  packages/instrumentation/src/register.ts
Due: none

feat(log-collector): export image tag constant
  apps/deploy-web/src/config/log-collector.config.ts
Due: deploy-web

feat(log-collector): export image tag constant (#3120)
  apps/deploy-web/src/config/log-collector.config.ts
Due: deploy-web

fix(ci): find associated PR for fork commits via search API
  .github/actions/associated-pr/action.yml
Due: none

feat(template): mark Razer AIKit as recommended (#3116)
  apps/api/src/template/services/template-gallery/template-gallery.service.spec.ts
  apps/api/src/template/services/template-gallery/template-gallery.service.ts
Due: api

fix(ci): find associated PR for fork commits via search API (#3123)
  .github/actions/associated-pr/action.yml
Due: none

fix(styling): restore inline display for images in markdown prose
  apps/deploy-web/src/components/shared/Markdown.tsx
Due: deploy-web

fix(template): strip linked badge images from summary to prevent stray [ characters
  apps/api/src/template/services/template-processor/template-processor.service.spec.ts
  apps/api/src/template/services/template-processor/template-processor.service.ts
Due: api

fix(stats): show today's in-progress value on graphs (#3117)
  apps/stats-web/src/app/bme-graph/[snapshot]/GraphContainer.tsx
  apps/stats-web/src/app/graph/[snapshot]/GraphContainer.tsx
  apps/stats-web/src/app/provider-graph/[snapshot]/GraphContainer.tsx
  apps/stats-web/src/components/graph/Graph.tsx
  apps/stats-web/src/components/graph/computeInProgressBand.spec.ts
  apps/stats-web/src/components/graph/computeInProgressBand.ts
  apps/stats-web/src/hooks/useCompletedSnapshots.ts
  apps/stats-web/src/hooks/useSplitSnapshots.ts
Due: stats-web

fix: Markdown image regex and horizontal badge styling (#3122)
  apps/api/src/template/services/template-processor/template-processor.service.spec.ts
  apps/api/src/template/services/template-processor/template-processor.service.ts
  apps/deploy-web/src/components/shared/Markdown.tsx
Due: api, deploy-web

fix(template): promote Razer AIKit on deploy-web frontend
  apps/deploy-web/src/components/new-deployment/TemplateList.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.spec.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.tsx
Due: deploy-web

fix(template): promote Razer AIKit on deploy-web frontend (#3124)
  apps/deploy-web/src/components/new-deployment/TemplateList.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.spec.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.tsx
Due: deploy-web

refactor: updates cosmjs dependencies and chain-sdk
  apps/api/package.json
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/http-sdk/package.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

chore: fixes apps
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/lib/wallet/wallet.ts
  apps/api/src/billing/services/external-signer-http-sdk/external-signer-http-sdk.service.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/utils/protobuf.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/sdl/SDLEditor/SDLEditor.spec.tsx
  apps/deploy-web/src/components/sdl/SDLEditor/SDLEditor.tsx
  apps/deploy-web/src/utils/deploymentData/helpers.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
  apps/notifications/src/modules/chain/services/message-decoder/message-decoder.service.ts
Due: api, deploy-web, notifications

chore: fixes type collision in notifications
  apps/api/src/billing/config/env.config.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/utils/protobuf.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
Due: api, notifications

refactor: get rid of long lib (#3118)
  apps/deploy-web/package.json
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/notifications/package.json
  apps/notifications/src/modules/chain/services/message-decoder/message-decoder.service.spec.ts
  package-lock.json
Due: deploy-web, notifications

refactor: updates cosmjs dependencies and chain-sdk (#3121)
  apps/api/package.json
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/lib/wallet/wallet.ts
  apps/api/src/billing/services/external-signer-http-sdk/external-signer-http-sdk.service.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/utils/protobuf.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
  apps/deploy-web/package.json
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/sdl/SDLEditor/SDLEditor.spec.tsx
  apps/deploy-web/src/components/sdl/SDLEditor/SDLEditor.tsx
  apps/deploy-web/src/utils/deploymentData/helpers.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
  apps/indexer/package.json
  apps/notifications/package.json
  apps/notifications/src/modules/chain/services/message-decoder/message-decoder.service.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/http-sdk/package.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

chore(ci): add nodejs permissions model to api
  apps/api/package.json
  apps/api/tsup.config.ts
Due: api

fix(ci): add --allow-worker for api dev mode via NODE_OPTIONS
  apps/api/tsup.config.ts
Due: api

fix(billing): widen master-wallet mint slippage buffer to 5%
  apps/api/src/billing/services/master-wallet-mint/master-wallet-mint.service.spec.ts
  apps/api/src/billing/services/master-wallet-mint/master-wallet-mint.service.ts
Due: api

fix: ensure indexer checks types during the build
  apps/indexer/package.json
  apps/indexer/src/shared/utils/protobuf.ts
Due: indexer

fix(billing): widen master-wallet mint slippage buffer to 5% (#3125)
  apps/api/src/billing/services/master-wallet-mint/master-wallet-mint.service.spec.ts
  apps/api/src/billing/services/master-wallet-mint/master-wallet-mint.service.ts
Due: api

fix: ensure indexer checks types during the build (#3126)
  apps/indexer/package.json
  apps/indexer/src/shared/utils/protobuf.ts
Due: indexer

feat: add nodejs permissions model to api (#3088)
  apps/api/package.json
  apps/api/tsup.config.ts
Due: api

fix: use in-memory storage for Unleash client in api
  apps/api/src/core/services/feature-flags/feature-flags.service.ts
Due: api

fix(dx): use in-memory storage for Unleash client (#3127)
  apps/api/src/core/services/feature-flags/feature-flags.service.ts
Due: api

chore: moves more jobs to be executed on self-hosted runner
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/all-ci.yml
  .github/workflows/all-release.yml
  .github/workflows/auto-approval.yml
  .github/workflows/console-web-release.yml
  .github/workflows/notifications-release.yml
  .github/workflows/provider-proxy-release.yml
  .github/workflows/reusable-create-github-release.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/reusable-deploy-setup.yml
  .github/workflows/reusable-release-app.yml
  .github/workflows/reusable-release-nextjs-app.yml
  .github/workflows/reusable-should-validate.yml
  .github/workflows/reusable-validate-app.yml
Due: none

feat: improve console-tests skill score 89% → 94%
  .claude/skills/console-tests/SKILL.md
  pr_description.md
Due: none

fix(deployment): refresh SDL builder when re-selecting a template
  apps/deploy-web/src/components/new-deployment/NewDeploymentContainer/NewDeploymentContainer.spec.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentContainer/NewDeploymentContainer.tsx
Due: deploy-web

fix(onboarding): prevent signup flash on refresh for authenticated users
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
Due: deploy-web

test(onboarding): cover wallet isLoading derivation
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/context/WalletProvider/deriveWalletIsLoading.spec.ts
  apps/deploy-web/src/context/WalletProvider/deriveWalletIsLoading.ts
Due: deploy-web

refactor(onboarding): rename wallet-loading helper to use* convention
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/context/WalletProvider/useIsWalletLoading.spec.ts
  apps/deploy-web/src/context/WalletProvider/useIsWalletLoading.ts
Due: deploy-web

refactor(onboarding): simplify wallet-loading derivation
  apps/deploy-web/src/context/WalletProvider/useIsWalletLoading.spec.ts
  apps/deploy-web/src/context/WalletProvider/useIsWalletLoading.ts
  apps/deploy-web/src/store/walletStore.ts
Due: deploy-web

refactor(deployment): simplify template-reload guard and spec helpers
  apps/deploy-web/src/components/new-deployment/NewDeploymentContainer/NewDeploymentContainer.spec.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentContainer/NewDeploymentContainer.tsx
Due: deploy-web

fix(deployment): re-import SDL builder form on external sdlString change
  apps/deploy-web/src/components/new-deployment/SdlBuilder.spec.tsx
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
Due: deploy-web

feat(wallet): support links and persistent dismiss in generic banner
  apps/deploy-web/src/components/layout/TopBanner.tsx
  apps/deploy-web/src/hooks/useTopBanner.spec.tsx
  apps/deploy-web/src/hooks/useTopBanner.tsx
Due: deploy-web

refactor(wallet): memoize generic banner details and reset visibility on flag change
  apps/deploy-web/src/components/layout/TopBanner.tsx
  apps/deploy-web/src/hooks/useTopBanner.tsx
Due: deploy-web

fix(deployment): prefer bash with sh fallback in lease shell
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/pages/faq/index.tsx
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
Due: deploy-web

fix(deployment): drop double ampersand in shell URL query
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
