Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

refactor: extracts logs/events/shell logic to service layer (#2177)
  apps/deploy-web/package.json
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/deployments/ShellDownloadModal.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.spec.tsx
  apps/deploy-web/src/components/shared/SelectCheckbox.tsx
  apps/deploy-web/src/hooks/useProviderApiActions.tsx
  apps/deploy-web/src/hooks/useProviderCredentials/useProviderCredentials.ts
  apps/deploy-web/src/hooks/useProviderWebsocket.ts
  apps/deploy-web/src/hooks/useScopedFetchProviderUrl.ts
  apps/deploy-web/src/lib/XTerm/XTerm.tsx
  apps/deploy-web/src/lib/websocket/WebsocketSession.spec.ts
  apps/deploy-web/src/lib/websocket/WebsocketSession.ts
  apps/deploy-web/src/lib/websocket/createWebsocket.spec.ts
  apps/deploy-web/src/lib/websocket/createWebsocket.ts
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/services/provider-proxy/logFormatters.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/deploy-web/src/utils/array.ts
  apps/deploy-web/src/utils/timer.ts
  apps/deploy-web/tests/unit/setup.ts
  apps/deploy-web/tests/unit/websocketMock.ts
  package-lock.json
Due: deploy-web

chore: adds cursor rule for tests description
  .cursor/rules/test-descriptions.mdc
Due: none

fix: return 400 for invalid deployment hash errors from RPC (#2192)
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
Due: api

fix(provider): added a balance load check to prevent slow node response on balance
  apps/provider-console/src/components/become-provider/ServerAccess.tsx
Due: provider-console

fix(provider): added loading text for users if balance is loading
  apps/provider-console/src/components/become-provider/ServerAccess.tsx
Due: provider-console

feat(provider): changed AKT dropdown popup design change
  apps/provider-console/src/components/layout/WalletStatus.tsx
  apps/provider-console/src/components/wallet/WalletPopup.tsx
  apps/provider-console/src/queries/useMarketData.ts
Due: provider-console

feat(analytics): add email analytics
  apps/api/src/user/services/user/user.service.ts
Due: api

fix: remove old tokenInfo endpoint
  apps/api/src/routers/userRouter.ts
  apps/api/src/services/db/userDataService.ts
  apps/api/test/functional/user-init.spec.ts
Due: api

feat(onboarding): add org on customer endpoint
  apps/api/package.json
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/index.ts
  apps/api/src/billing/routes/stripe-customers/stripe-customers.router.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/rest-app.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/test/seeders/payment-method.seeder.ts
  apps/api/test/seeders/stripe-test-data.seeder.ts
  apps/api/test/seeders/stripe.seeder.ts
Due: api

feat(onboarding): add org in payment form
  apps/deploy-web/package.json
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentVerificationCard/PaymentVerificationCard.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/PaymentMethodForm.tsx
  apps/deploy-web/src/components/shared/StripeInput/StripeInput.tsx
  apps/deploy-web/src/components/shared/StripeInput/index.ts
  apps/deploy-web/src/components/shared/index.ts
  apps/deploy-web/src/components/wallet/ManagedWalletPopup.tsx
  apps/deploy-web/src/hooks/useManagedEscrowFaqModal.tsx
  apps/deploy-web/src/queries/useManagedWalletQuery.spec.tsx
  apps/deploy-web/src/queries/useManagedWalletQuery.ts
  package-lock.json
  packages/http-sdk/src/stripe/stripe.service.ts
Due: deploy-web

feat(analytics): add new bid received event
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

feat(analytics): log for both
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
Due: deploy-web

fix: console web build
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/queries/useManagedWalletQuery.spec.tsx
  apps/deploy-web/src/queries/useManagedWalletQuery.ts
Due: deploy-web

fix: update api snapshot
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix: remove comments
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

chore: adds cursor rule for tests description (#2197)
  .cursor/rules/test-descriptions.mdc
Due: none

fix: validate bech32 address format in balances endpoint (#2195)
  apps/api/src/billing/http-schemas/balance.schema.ts
  apps/api/test/functional/balances.spec.ts
Due: api

chore: fix types issue
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.spec.ts
Due: api

chore: ignores ECONNRESET error on client abort
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
Due: provider-proxy

test: an attempt to fix provider-proxy flaky tests
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
Due: provider-proxy

fix: return 400 instead of 500 for malformed JSON in request body (#2196)
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.spec.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.ts
Due: api

test: an attempt to fix provider-proxy flaky tests (#2187)
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
Due: provider-proxy

feat: can accept base64 payload while proxying to provider
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/schema.ts
Due: deploy-web, provider-proxy

fix: can handle rather large payloads as Rabbit suggested
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
Due: deploy-web

fix: use shared function to encode to base64
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
Due: deploy-web

feat: can accept base64 payload while proxying to provider (#2201)
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/schema.ts
Due: deploy-web, provider-proxy

fix: pr fixes
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/stripe-customers/stripe-customers.router.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  packages/http-sdk/src/stripe/stripe.service.ts
Due: api, deploy-web

fix: stripe tests
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/test/seeders/stripe-test-data.seeder.ts
  apps/api/test/seeders/stripe.seeder.ts
Due: api

fix: tsconfig for api tests
  apps/api/test/tsconfig.json
Due: api

Apply suggestion from @stalniy
  apps/api/src/address/services/address/address.service.ts
Due: api

feat(billing): improve payment page layout
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
  apps/deploy-web/src/pages/payment.tsx
Due: deploy-web

fix: handle validator commission fetch when GET validator request fails (#2208)
  apps/api/src/address/services/address/address.service.spec.ts
  apps/api/src/address/services/address/address.service.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
