Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(billing): count the usage history window in inclusive days and declare its 400
  apps/api/src/billing/http-schemas/usage.schema.spec.ts
  apps/api/src/billing/http-schemas/usage.schema.ts
  apps/api/src/billing/routes/usage/usage.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/usage.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(user): ask only trialing users to accept the fair use policy, behind the gate flag
  apps/api/src/user/routes/user-settings/user-settings.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.spec.tsx
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.tsx
  apps/deploy-web/src/hooks/useAcceptFairUsePolicy.spec.ts
  apps/deploy-web/src/hooks/useAcceptFairUsePolicy.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/types/feature-flags.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
  packages/dev-config/eslint/base.mjs
Due: api, deploy-web

fix(indexer): give the planner real distinct counts for provider snapshot join keys
  apps/indexer/drizzle/0011_fix_provider_snapshot_join_key_statistics.sql
  apps/indexer/drizzle/meta/_journal.json
Due: indexer

fix(user): close the fair use policy gate on the api's confirmation, not the refreshed profile
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.spec.tsx
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.tsx
  apps/deploy-web/src/hooks/useAcceptFairUsePolicy.spec.ts
  apps/deploy-web/src/hooks/useAcceptFairUsePolicy.ts
Due: deploy-web

feat(user): require accepting the fair use policy before a trial deploys (#3818)
  apps/api/drizzle/0050_fair_use_policy_accepted_at.sql
  apps/api/drizzle/meta/0050_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/app/console.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/user/controllers/user/user.controller.ts
  apps/api/src/user/model-schemas/user/user.schema.ts
  apps/api/src/user/routes/user-settings/user-settings.router.ts
  apps/api/src/user/schemas/user.schema.ts
  apps/api/src/user/services/user/user.service.integration.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/user-fair-use-policy.spec.ts
  apps/api/test/seeders/user.seeder.ts
  apps/api/test/services/wallet-testing.service.ts
  apps/deploy-web/src/components/fair-use-policy/FairUsePolicyModal/FairUsePolicyModal.spec.tsx
  apps/deploy-web/src/components/fair-use-policy/FairUsePolicyModal/FairUsePolicyModal.tsx
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.spec.tsx
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.tsx
  apps/deploy-web/src/hooks/useAcceptFairUsePolicy.spec.ts
  apps/deploy-web/src/hooks/useAcceptFairUsePolicy.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/pages/terms-of-service/index.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/types/user.ts
  apps/deploy-web/src/utils/urlUtils.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
  packages/dev-config/eslint/base.mjs
Due: api, deploy-web

fix(deployment): stop re-probing flagged trial deployments and cap services per probe
  apps/api/drizzle/0051_workload_abuse_detections.sql
  apps/api/drizzle/meta/0051_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/workload-abuse/lib/provider-frame/provider-frame.ts
  apps/api/src/workload-abuse/model-schemas/workload-abuse-detection/workload-abuse-detection.schema.ts
  apps/api/src/workload-abuse/repositories/workload-abuse-detection/workload-abuse-detection.repository.integration.ts
  apps/api/src/workload-abuse/repositories/workload-abuse-detection/workload-abuse-detection.repository.ts
  apps/api/src/workload-abuse/services/probe-trial-deployment/probe-trial-deployment.handler.spec.ts
  apps/api/src/workload-abuse/services/probe-trial-deployment/probe-trial-deployment.handler.ts
  apps/api/src/workload-abuse/services/provider-stream/provider-stream.service.ts
  apps/api/src/workload-abuse/services/trial-workload-probe-job/trial-workload-probe-job.service.spec.ts
  apps/api/src/workload-abuse/services/trial-workload-probe-job/trial-workload-probe-job.service.ts
  apps/api/src/workload-abuse/services/trial-workload-probe/trial-workload-probe.service.spec.ts
  apps/api/src/workload-abuse/services/trial-workload-probe/trial-workload-probe.service.ts
Due: api

feat(deployment): monitor trial deployments for fair use policy violations
  .helm/console-api-prod-mainnet-values.yaml
  apps/api/drizzle.config.ts
  apps/api/drizzle/0051_workload_abuse_detections.sql
  apps/api/drizzle/meta/0051_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/env/.env.sample
  apps/api/src/app/console.ts
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/workload-abuse/config/config.provider.ts
  apps/api/src/workload-abuse/config/env.config.spec.ts
  apps/api/src/workload-abuse/config/env.config.ts
  apps/api/src/workload-abuse/controllers/workload-abuse.controller.ts
  apps/api/src/workload-abuse/lib/evidence-scanner/evidence-scanner.spec.ts
  apps/api/src/workload-abuse/lib/evidence-scanner/evidence-scanner.ts
  apps/api/src/workload-abuse/lib/provider-frame/provider-frame.spec.ts
  apps/api/src/workload-abuse/lib/provider-frame/provider-frame.ts
  apps/api/src/workload-abuse/model-schemas/index.ts
  apps/api/src/workload-abuse/model-schemas/workload-abuse-detection/workload-abuse-detection.schema.ts
  apps/api/src/workload-abuse/providers/provider-proxy-socket.provider.ts
  apps/api/src/workload-abuse/repositories/workload-abuse-detection/workload-abuse-detection.repository.ts
  apps/api/src/workload-abuse/services/probe-trial-deployment/probe-trial-deployment.handler.spec.ts
  apps/api/src/workload-abuse/services/probe-trial-deployment/probe-trial-deployment.handler.ts
  apps/api/src/workload-abuse/services/provider-log-tail/provider-log-tail.service.spec.ts
  apps/api/src/workload-abuse/services/provider-log-tail/provider-log-tail.service.ts
  apps/api/src/workload-abuse/services/provider-shell-probe/provider-shell-probe.service.spec.ts
  apps/api/src/workload-abuse/services/provider-shell-probe/provider-shell-probe.service.ts
  apps/api/src/workload-abuse/services/provider-stream/provider-stream.service.spec.ts
  apps/api/src/workload-abuse/services/provider-stream/provider-stream.service.ts
  apps/api/src/workload-abuse/services/trial-workload-probe-job/trial-workload-probe-job.service.spec.ts
  apps/api/src/workload-abuse/services/trial-workload-probe-job/trial-workload-probe-job.service.ts
  apps/api/src/workload-abuse/services/trial-workload-probe/trial-workload-probe.service.spec.ts
  apps/api/src/workload-abuse/services/trial-workload-probe/trial-workload-probe.service.ts
  apps/api/src/workload-abuse/services/workload-abuse-config/workload-abuse-config.service.ts
  apps/api/src/workload-abuse/services/workload-abuse-instrumentation/workload-abuse-instrumentation.service.ts
Due: api

test(billing): pin the clock in the usage window default tests
  apps/api/src/billing/http-schemas/usage.schema.spec.ts
  apps/api/test/functional/usage.spec.ts
Due: api

fix(deployment): cap the leases probed per trial deployment
  apps/api/src/workload-abuse/services/trial-workload-probe/trial-workload-probe.service.spec.ts
  apps/api/src/workload-abuse/services/trial-workload-probe/trial-workload-probe.service.ts
Due: api

refactor(deployment): keep the live trial deployment lookup's doc block to one line
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
Due: api

fix(billing): count the deployments that were active during the usage window
  apps/api/src/billing/services/usage/usage.service.spec.ts
  apps/api/src/billing/services/usage/usage.service.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.integration.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/test/functional/usage.spec.ts
Due: api

test(deployment): cover the verdict and probe cap edges the mutation run left open
  apps/api/src/workload-abuse/lib/evidence-scanner/evidence-scanner.spec.ts
  apps/api/src/workload-abuse/services/trial-workload-probe/trial-workload-probe.service.spec.ts
Due: api

fix(billing): count the usage history window in inclusive days and declare its 400 (#3835)
  apps/api/src/billing/http-schemas/usage.schema.spec.ts
  apps/api/src/billing/http-schemas/usage.schema.ts
  apps/api/src/billing/routes/usage/usage.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/usage.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(billing): count the deployments that were active during the usage window (#3837)
  apps/api/src/billing/services/usage/usage.service.spec.ts
  apps/api/src/billing/services/usage/usage.service.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.integration.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/test/functional/usage.spec.ts
Due: api

test(dx): share the job worker bootstrap across integration suites
  apps/api/src/deployment/services/delete-unbacked-deployment-setting/delete-unbacked-deployment-setting.handler.integration.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.integration.ts
  apps/api/test/seeders/db/deployment-setting.seeder.ts
  apps/api/test/seeders/db/user-with-wallet.seeder.ts
  apps/api/test/seeders/index.ts
  apps/api/test/services/job-queue-harness.ts
Due: api

test(dx): report on one job rather than the earliest with a matching name
  apps/api/src/deployment/services/delete-unbacked-deployment-setting/delete-unbacked-deployment-setting.handler.integration.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.integration.ts
  apps/api/test/services/job-queue-harness.ts
Due: api

test(dx): start the workers once however many tests ask for them
  apps/api/test/services/job-queue-harness.ts
Due: api

test(dx): share the job worker bootstrap across integration suites (#3839)
  apps/api/src/deployment/services/delete-unbacked-deployment-setting/delete-unbacked-deployment-setting.handler.integration.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.integration.ts
  apps/api/test/seeders/db/deployment-setting.seeder.ts
  apps/api/test/seeders/db/user-with-wallet.seeder.ts
  apps/api/test/seeders/index.ts
  apps/api/test/services/job-queue-harness.ts
Due: api

test(deployment): cover recording a deployment setting through a worker
  apps/api/src/deployment/services/record-deployment-setting/record-deployment-setting.handler.integration.ts
  apps/api/test/seeders/db/deployment-setting.seeder.ts
Due: api

docs(dx): require integration coverage for job handlers
  .claude/skills/console-tests/SKILL.md
Due: none

test(deployment): cover releasing funding claims for a reverted tx
  apps/api/src/deployment/services/reconcile-managed-tx/reconcile-managed-tx.handler.integration.ts
Due: api

docs(dx): require integration coverage for job handlers (#3842)
  .claude/skills/console-tests/SKILL.md
Due: none

test(notifications): cover the notification queue end to end
  apps/api/src/notifications/services/notification-handler/notification.handler.integration.ts
  apps/api/test/seeders/db/user-with-wallet.seeder.ts
Due: api

test(deployment): cover recording a deployment setting through a worker (#3840)
  apps/api/src/deployment/services/record-deployment-setting/record-deployment-setting.handler.integration.ts
  apps/api/test/seeders/db/deployment-setting.seeder.ts
Due: api

test(deployment): cover releasing funding claims for a reverted tx (#3841)
  apps/api/src/deployment/services/reconcile-managed-tx/reconcile-managed-tx.handler.integration.ts
Due: api

test(dx): stop the mutation gate scoring log call arguments
  script/mutation-report.mjs
  script/stryker-observability-ignorer.mjs
  stryker.config.mjs
Due: none

test(notifications): cover the notification queue end to end (#3843)
  apps/api/src/notifications/services/notification-handler/notification.handler.integration.ts
  apps/api/test/seeders/db/user-with-wallet.seeder.ts
Due: api

test(dx): stop the mutation gate scoring log call arguments (#3844)
  script/mutation-report.mjs
  script/stryker-observability-ignorer.mjs
  stryker.config.mjs
Due: none

test(billing): cover the jobs a started trial schedules
  apps/api/src/app/services/trial-started/trial-started.handler.integration.ts
  apps/api/test/services/job-queue-harness.ts
Due: api

test(billing): cover the jobs a started trial schedules (#3845)
  apps/api/src/app/services/trial-started/trial-started.handler.integration.ts
  apps/api/test/services/job-queue-harness.ts
Due: api

test(deployment): drop the owners a top-up sweep test leaves behind
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
Due: api

test(dx): refuse outbound http from integration tests
  apps/api/test/setup-integration-tests.ts
Due: api

test(deployment): stop the top-up sweep tests re-reading each other's rows (#3847)
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/test/setup-integration-tests.ts
Due: api

test(dx): stop the mutation gate scoring the removal of a log call
  script/stryker-observability-ignorer.mjs
Due: none

test(dx): type the parsed response bodies in the billing functional specs
  apps/api/test/functional/get-wallet-list.spec.ts
  apps/api/test/functional/stripe-transactions-confirm.spec.ts
Due: api

test(dx): make the apps/api test surface type-check clean
  apps/api/package.json
  apps/api/src/address/services/address/address.service.spec.ts
  apps/api/src/auth/services/email-verification-code/email-verification-code.service.spec.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/services/tx-manager/tx-manager.service.spec.ts
  apps/api/src/confidential-compute/services/amd-snp/amd-kds.client.spec.ts
  apps/api/src/core/lib/create-route/create-route.spec.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/middlewares/contentTypeMiddleware/contentTypeMiddleware.spec.ts
  apps/api/src/middlewares/privateMiddleware.spec.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.spec.ts
  apps/api/test/services/wallet-testing.service.ts
  apps/api/test/types/tar.d.ts
  apps/api/tsconfig.test.json
Due: api

test(dx): type-check apps/api through its own tsconfig
  apps/api/package.json
  apps/api/tsconfig.json
  apps/api/tsconfig.test.json
Due: api

chore(ci): pass the app name to the type-check step through env
  .github/workflows/reusable-validate-app.yml
Due: none

test(ci): fail app validation on type errors
  .github/workflows/reusable-validate-app.yml
Due: none

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
