Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

chore: fixes cr
  apps/api/src/deployment/services/sdl-secrets-context/sdl-secrets-context.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-context/sdl-secrets-context.service.ts
Due: api

fix(deployment): bound how far in the future a secrets seal may expire
  apps/api/src/deployment/config/sdl-secrets.config.ts
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.ts
Due: api

fix(dx): align kms emulator seeder env with the api config
  packages/docker/docker-compose.dev.yml
Due: none

chore: fixes cr
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/vitest.config.ts
Due: api

chore: adds disposable logic to kms client
  apps/api/src/deployment/providers/kms.provider.ts
Due: api

feat: adds public jwk route for secrets encryption (#3624)
  apps/api/env/.env.functional.test
  apps/api/env/.env.local.sample
  apps/api/env/.env.sample
  apps/api/env/.env.unit.test
  apps/api/package.json
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/config/sdl-secrets.config.ts
  apps/api/src/deployment/providers/kms.provider.ts
  apps/api/src/deployment/routes/get-sdl-secrets-context/get-sdl-secrets-context.router.ts
  apps/api/src/deployment/services/sdl-secrets-context/sdl-secrets-context.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-context/sdl-secrets-context.service.ts
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/vitest.config.ts
  package-lock.json
Due: api

feat(deployment): verify a secrets seal is bound to the SDL it was sealed against
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.ts
Due: api

feat(deployment): verify a secrets seal is bound to the SDL it was sealed against (#3627)
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.ts
Due: api

test(deployment): prove the secrets seal decoder agrees with jose in both directions
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.spec.ts
Due: api

feat(deployment): refuse sealed secrets before any KMS call when intake is off or oversized
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/deployment/config/sdl-secrets.config.ts
  apps/api/src/deployment/routes/echo-sdl-secrets/echo-sdl-secrets.router.ts
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.ts
Due: api

test(deployment): prove the secrets seal decoder agrees with jose in both directions (#3628)
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.spec.ts
Due: api

refactor(deployment): decide the auto top-up default at read time
  apps/api/drizzle/0038_lonely_yellow_claw.sql
  apps/api/drizzle/meta/0038_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/test/functional/deployment-setting.spec.ts
Due: api

refactor(deployment): extract the secrets sealing key into its own service
  apps/api/src/deployment/config/sdl-secrets.config.ts
  apps/api/src/deployment/index.ts
  apps/api/src/deployment/providers/sdl-secrets-sealing-key.provider.ts
  apps/api/src/deployment/services/sdl-secrets-context/sdl-secrets-context.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-context/sdl-secrets-context.service.ts
  apps/api/src/deployment/services/sdl-secrets-sealing-key/sdl-secrets-sealing-key.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-sealing-key/sdl-secrets-sealing-key.service.ts
Due: api

feat(deployment): store one wrapped data key per user
  apps/api/drizzle.config.ts
  apps/api/drizzle/0038_smooth_justice.sql
  apps/api/drizzle/meta/0038_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/src/secret/model-schemas/data-key/data-key.schema.ts
  apps/api/src/secret/model-schemas/index.ts
  apps/api/src/secret/repositories/data-key/data-key.repository.integration.ts
  apps/api/src/secret/repositories/data-key/data-key.repository.ts
  apps/api/src/secret/repositories/index.ts
Due: api

feat(deployment): wrap a data encryption key per user
  apps/api/package.json
  apps/api/src/secret/services/data-key/data-key.service.integration.ts
  apps/api/src/secret/services/data-key/data-key.service.spec.ts
  apps/api/src/secret/services/data-key/data-key.service.ts
  package-lock.json
Due: api

feat(user): create a data key when a user registers
  apps/api/src/user/services/user/user.service.integration.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/seeders/data-key.seeder.ts
Due: api

feat(deployment): show the gpu model in the detail header
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
Due: deploy-web

feat(deployment): link providers and drop empty closed-row expand
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
Due: deploy-web

fix(deployment): require a wallet address for the auto top-up default
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
Due: api

refactor(deployment): unify tab header title and spacing
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentSettings.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentTabHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentTabHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
Due: deploy-web

refactor(deployment): make tab titles smaller and lighter
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentTabHeader.tsx
Due: deploy-web

feat(deployment): restore running-service expand without env or command
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
Due: deploy-web

feat(deployment): move the service url below the image row
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.tsx
Due: deploy-web

fix(deployment): drop wildcard gpu stars and align service row type
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
Due: deploy-web

refactor(deployment): put header stats in ops then resources rows
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
Due: deploy-web

fix(deployment): show loading until lease status arrives
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
Due: deploy-web

fix(deployment): hide dead expand and stale replica counts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
Due: deploy-web

fix(deployment): skip expand when a service row has no details
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
Due: deploy-web

refactor(deployment): pad tab section titles instead of min-height
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentTabHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailLegacy.tsx
Due: deploy-web

feat(deployment): visit and copy URLs from every live placement
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/DeploymentVisitControl.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/DeploymentVisitControl.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/visitEndpoints.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/visitEndpoints.ts
  apps/deploy-web/src/components/shared/CopyTextToClipboardButton.tsx
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/queries/useLeaseQuery.ts
Due: deploy-web

feat(deployment): show a spinner on the loading service badge
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
Due: deploy-web

fix(deployment): skip http links for non-tcp leased ips
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/visitEndpoints.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/visitEndpoints.ts
Due: deploy-web

feat(deployment): match placement service cards to the design (#3632)
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementStats.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentSettings.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentTabHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentTabHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/DeploymentVisitControl.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/DeploymentVisitControl.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/visitEndpoints.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/visitEndpoints.ts
  apps/deploy-web/src/components/deployments/DeploymentDetailLegacy.tsx
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/components/shared/CopyTextToClipboardButton.tsx
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/queries/useLeaseQuery.ts
  apps/deploy-web/tests/ui/deployment-detail-preview.spec.ts
Due: deploy-web

feat(deployment): cap automatic funding with an optional runtime limit
  apps/api/drizzle/0038_icy_william_stryker.sql
  apps/api/drizzle/meta/0038_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/deployment/controllers/deployment-setting/deployment-setting.controller.spec.ts
  apps/api/src/deployment/http-schemas/deployment-setting.schema.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding-instrumentation.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-setting.spec.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/seeders/auto-top-up-deployment.seeder.ts
  packages/console-api-types/src/schema.d.ts
  packages/http-sdk/src/deployment-setting/deployment-setting-http.service.ts
Due: api

fix(deployment): anchor runtime limits at lease start and skip dry-run writes
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

fix(deployment): tick the runtime-limit countdown on the detail page
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
Due: deploy-web

refactor(deployment): extract useTickingNow into the shared hooks module
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/hooks/useTickingNow.spec.ts
  apps/deploy-web/src/hooks/useTickingNow.ts
Due: deploy-web

docs(deployment): explain the ticking-clock contract in depth
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/hooks/useTickingNow.ts
Due: deploy-web

fix(deployment): route runtime-limit input sizing through inputClassName
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/RuntimeLimitSection/RuntimeLimitSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/RuntimeLimitSection/RuntimeLimitSection.tsx
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
