Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix: unit tests
  apps/deploy-web/src/components/user/UserProviders/UserProviders.spec.tsx
  apps/deploy-web/src/hoc/guard/guard.hoc.tsx
  apps/deploy-web/src/hooks/useUser.spec.tsx
  apps/deploy-web/src/hooks/useUser.ts
  apps/deploy-web/src/types/user.ts
  apps/deploy-web/tests/seeders/user.ts
Due: deploy-web

fix: types
  apps/deploy-web/src/hooks/useUser.ts
Due: deploy-web

fix: refactor http-sdk services to accept httpClient
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/notifications/src/modules/alert/providers/http-sdk.provider.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
  packages/http-sdk/src/coin-gecko/coin-gecko-http.service.ts
  packages/http-sdk/src/cosmos/cosmos-http.service.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
  packages/http-sdk/src/http/http.service.ts
  packages/http-sdk/src/index.ts
  packages/http-sdk/src/node/node-http.service.ts
  packages/http-sdk/src/utils/httpClient.ts
Due: api, notifications

fix: refactor http-sdk services to accept httpClient (#1829)
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/notifications/src/modules/alert/providers/http-sdk.provider.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
  packages/http-sdk/src/coin-gecko/coin-gecko-http.service.ts
  packages/http-sdk/src/cosmos/cosmos-http.service.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
  packages/http-sdk/src/http/http.service.ts
  packages/http-sdk/src/index.ts
  packages/http-sdk/src/node/node-http.service.ts
  packages/http-sdk/src/utils/httpClient.ts
Due: api, notifications

chore: code review
  apps/api/src/console.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
Due: api

feat: adds more notifications on start trial event
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/trial-started/trial-started.handler.spec.ts
  apps/api/src/app/services/trial-started/trial-started.handler.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/events/trial-started.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/console.ts
  apps/api/src/core/providers/app-initializer.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/src/core/services/domain-events/domain-events.service.ts
  apps/api/src/core/services/feature-flags/feature-flags.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.spec.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/before-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/trial-ended-notification.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/api/test/seeders/user.seeder.ts
  apps/api/test/services/wallet-testing.service.ts
  package-lock.json
Due: api

fix(deployment): handle empty data in deployment info
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
Due: api

fix(network): tests with proxy url
  apps/api/env/.env.functional.test
  apps/api/env/.env.mainnet
  apps/api/env/.env.sample
  apps/api/env/.env.sandbox
  apps/api/env/.env.unit.test
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/core/services/chain-config/chain-config.service.ts
  apps/api/src/core/services/index.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
  apps/api/src/proposal/services/proposal/proposal.service.ts
  apps/api/src/utils/constants.ts
  apps/api/src/validator/services/validator/validator.service.ts
  apps/api/test/functional/addresses.spec.ts
  apps/api/test/functional/balances.spec.ts
  apps/api/test/functional/bids.spec.ts
  apps/api/test/functional/create-deployment.spec.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
  apps/api/test/functional/proposals.spec.ts
  apps/api/test/functional/stale-anonymous-users-cleanup.spec.ts
  apps/api/test/functional/start-trial.spec.ts
  apps/api/test/functional/validators.spec.ts
Due: api

feat(network): add rpc proxy feature flag
  apps/api/src/address/services/address/address.service.ts
  apps/api/src/bid/controllers/bid/bid.controller.ts
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/providers/signing-client.provider.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/billing/services/dedupe-signing-client/dedupe-signing-client.service.ts
  apps/api/src/billing/services/financial-stats/financial-stats.service.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.ts
  apps/api/src/chain/services/block-http/block-http.service.spec.ts
  apps/api/src/chain/services/block-http/block-http.service.ts
  apps/api/src/core/services/chain-config/chain-config.service.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/core/services/http-service-wrapper/http-service-wrapper.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/utils/constants.ts
  apps/api/src/utils/env.ts
  apps/notifications/src/modules/chain/chain.module.ts
  apps/notifications/src/modules/chain/config/env.config.ts
  apps/notifications/src/modules/chain/providers/stargate-client/stargate-client.provider.ts
  apps/notifications/src/modules/chain/providers/tendermint-client/tendermint-client.provider.ts
  apps/notifications/src/modules/chain/services/feature-flags/feature-flags.service.ts
  apps/notifications/src/modules/chain/services/feature-flags/feature-flags.ts
  apps/notifications/src/modules/chain/services/rpc-url-resolver/rpc-url-resolver.service.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/services/feature-flags/feature-flags.service.ts
  apps/provider-proxy/src/services/feature-flags/feature-flags.ts
  apps/stats-web/src/config/env-config.schema.ts
  apps/stats-web/src/services/api-url/api-url.service.ts
  packages/database/chainDefinitions.ts
  packages/net/scripts/generate.ts
  packages/net/src/NetConfig/NetConfig.ts
  packages/net/src/index.ts
Due: api, notifications, provider-proxy, stats-web

fix(network): pr fixes
  apps/api/src/chain/services/block-http/block-http.service.spec.ts
  apps/notifications/src/modules/chain/services/rpc-url-resolver/rpc-url-resolver.service.ts
  apps/provider-proxy/src/container.ts
Due: api, notifications, provider-proxy

fix(network): pr fixes
  apps/notifications/src/modules/chain/providers/stargate-client/stargate-client.provider.spec.ts
  apps/provider-proxy/src/container.ts
  apps/stats-web/src/config/browser-env.config.ts
  apps/stats-web/src/config/env-config.schema.ts
  apps/stats-web/src/services/api-url/api-url.service.ts
Due: notifications, provider-proxy, stats-web

fix(network): rabbit comments
  apps/api/src/chain/services/block-http/block-http.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/validator/services/validator/validator.service.ts
Due: api

fix(network): http sdk imports
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/financial-stats/financial-stats.service.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/provider/controllers/provider-attributes-schema/provider-attributes-schema.controller.ts
  apps/api/src/validator/services/validator/validator.service.ts
  apps/provider-proxy/src/services/feature-flags/feature-flags.service.ts
Due: api, provider-proxy

fix(network): refactor http services
  apps/api/src/address/services/address/address.service.ts
  apps/api/src/bid/controllers/bid/bid.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/providers/signing-client.provider.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/billing/services/dedupe-signing-client/dedupe-signing-client.service.ts
  apps/api/src/billing/services/financial-stats/financial-stats.service.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.ts
  apps/api/src/chain/services/block-http/block-http.service.spec.ts
  apps/api/src/chain/services/block-http/block-http.service.ts
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/api/src/core/services/chain-network-config/chain-network-config.service.ts
  apps/api/src/core/services/http-service-wrapper/http-service-wrapper.ts
  apps/api/src/core/services/index.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
  apps/api/src/proposal/services/proposal/proposal.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/validator/services/validator/validator.service.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
  apps/api/test/functional/stale-anonymous-users-cleanup.spec.ts
  apps/api/test/functional/start-trial.spec.ts
Due: api

fix(network): remove feature flag async provider proxy
  apps/provider-proxy/src/services/feature-flags/feature-flags.service.ts
Due: provider-proxy

feat: adds more notifications on start trial event (#1827)
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/trial-started/trial-started.handler.spec.ts
  apps/api/src/app/services/trial-started/trial-started.handler.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/events/trial-started.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/console.ts
  apps/api/src/core/providers/app-initializer.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/src/core/services/domain-events/domain-events.service.ts
  apps/api/src/core/services/feature-flags/feature-flags.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.spec.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/before-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/trial-ended-notification.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/api/test/seeders/user.seeder.ts
  apps/api/test/services/wallet-testing.service.ts
  package-lock.json
Due: api

feat: endpoint requires timezone and ui provides it
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/billing-usage/BillingContainer/BillingContainer.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix: make timezone endpoint query param non-optional; harden the stream
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(network): use env var instead of feature flag
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/providers/signing-client.provider.ts
  apps/api/src/billing/services/dedupe-signing-client/dedupe-signing-client.service.ts
  apps/api/src/billing/services/financial-stats/financial-stats.service.ts
  apps/api/src/chain/services/chain-config/chain-config.service.spec.ts
  apps/api/src/chain/services/chain-config/chain-config.service.ts
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/api/src/core/services/chain-network-config/chain-network-config.service.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
  apps/api/src/utils/env.ts
Due: api

feat: refine timezone query param
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

feat(log-collector): uses tini process manager
  apps/log-collector/Dockerfile
  apps/log-collector/README.md
Due: none

fix(log-collector): fixes timestamp parsing, error handling params, readme
  apps/log-collector/README.md
  apps/log-collector/fluent-bit/parsers.conf
  apps/log-collector/src/services/error-handler/error-handler.service.spec.ts
  apps/log-collector/src/services/error-handler/error-handler.service.ts
  apps/log-collector/src/services/k8s-log-collector/k8s-log-collector.service.spec.ts
  apps/log-collector/src/services/k8s-log-collector/k8s-log-collector.service.ts
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.ts
Due: none

test(log-collector): improves file destination spec
  apps/log-collector/src/services/file-destination/file-destination.service.spec.ts
Due: none

refactor: simplify log collection architecture and improve error handling
  apps/log-collector/package.json
  apps/log-collector/src/services/file-destination/file-destination.service.spec.ts
  apps/log-collector/src/services/file-destination/file-destination.service.ts
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.spec.ts
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.ts
  package-lock.json
Due: none

refactor: replace data event rotation with periodic file size checking
  apps/log-collector/Dockerfile
  apps/log-collector/fluent-bit/scripts/extract_service.lua
  apps/log-collector/package.json
  apps/log-collector/src/services/config/config.service.ts
  apps/log-collector/src/services/file-destination/file-destination.service.ts
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.ts
  apps/log-collector/src/types/factory.interface.ts
  apps/log-collector/test/seeders/config.seeder.ts
  package-lock.json
Due: none

feat(log-collector): enhance container security, process management, and log forwarding
  apps/log-collector/Dockerfile
  apps/log-collector/fluent-bit/fluent-bit.conf
  apps/log-collector/fluent-bit/scripts/extract_metadata.lua
  apps/log-collector/fluent-bit/scripts/extract_service.lua
  apps/log-collector/script/entrypoint.sh
Due: none

refactor(log-collector): improve type safety and remove dead code
  apps/log-collector/README.md
  apps/log-collector/src/services/config/config.service.ts
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.ts
  apps/log-collector/test/seeders/config.seeder.ts
Due: none

refactor: enhance log deduplication with timestamp-based grouping
  apps/log-collector/src/services/config/config.service.spec.ts
  apps/log-collector/src/services/file-destination/file-destination.service.spec.ts
  apps/log-collector/src/services/file-destination/file-destination.service.ts
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.spec.ts
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.ts
  apps/log-collector/test/seeders/config.seeder.ts
Due: none

fix(log-collector): eliminate race condition in log file rotation
  apps/log-collector/src/services/file-destination/file-destination.service.ts
Due: none

refactor: uses once promisified helper
  apps/log-collector/src/services/file-destination/file-destination.service.ts
Due: none

fix: code review
  apps/log-collector/src/services/file-destination/file-destination.service.spec.ts
  apps/log-collector/src/services/pod-discovery/pod-discovery.service.ts
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.ts
Due: none

fix: unit test
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
Due: api

fix: ensures rotation isn't stuck if wright stream fails to close
  apps/log-collector/src/services/file-destination/file-destination.service.ts
Due: none

feat: improves first chunk handling
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.ts
Due: none

fix: remove redundant console logs
  apps/log-collector/src/services/file-destination/file-destination.service.ts
Due: none

fix(network): pr fixes
  apps/api/src/chain/services/chain-config/chain-config.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
Due: api

fix(network): rename use proxy url api
  apps/api/src/chain/services/chain-config/chain-config.service.ts
  apps/api/src/utils/env.ts
Due: api
