Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(deployment): pace marketplace screening while editing
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.tsx
  apps/deploy-web/src/hooks/usePacedValue/usePacedValue.spec.ts
  apps/deploy-web/src/hooks/usePacedValue/usePacedValue.ts
  apps/deploy-web/src/queries/useScreenedProviders.spec.tsx
  apps/deploy-web/src/queries/useScreenedProviders.ts
Due: deploy-web

feat(deployment): pace marketplace screening while editing (#3335)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.tsx
  apps/deploy-web/src/hooks/usePacedValue/usePacedValue.spec.ts
  apps/deploy-web/src/hooks/usePacedValue/usePacedValue.ts
  apps/deploy-web/src/queries/useScreenedProviders.spec.tsx
  apps/deploy-web/src/queries/useScreenedProviders.ts
Due: deploy-web

chore: update apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.ts
Due: none

feat: adds automatic provider incidents cleanup (#3336)
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
Due: none

refactor: uses provider incidents to detect dead providers
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-inventory/docs/adr/0001-streamer-fed-provider-inventory.md
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/providers-sync-app.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/types/chain-provider.ts
Due: api

fix(analytics): emit server-side account_created event on signup (#3333)
  apps/api/src/core/services/analytics/analytics.service.ts
  apps/api/src/user/repositories/user/user.repository.integration.ts
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
Due: api

refactor: uses provider incidents to detect dead providers (#3337)
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-inventory/docs/adr/0001-streamer-fed-provider-inventory.md
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/providers-sync-app.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/types/chain-provider.ts
Due: api

fix: ensure reclamation window is taken into account durin cache comparison
  apps/provider-inventory/src/domain/is-equal-cluster-state/is-equal-cluster-state.spec.ts
  apps/provider-inventory/src/domain/is-equal-cluster-state/is-equal-cluster-state.ts
Due: none

fix: ensure reclamation window is taken into account durin cache comparison (#3338)
  apps/provider-inventory/src/domain/is-equal-cluster-state/is-equal-cluster-state.spec.ts
  apps/provider-inventory/src/domain/is-equal-cluster-state/is-equal-cluster-state.ts
Due: none

refactor(network): drive deploy-web chain-down state from /v1/blockchain-status (#3325)
  apps/deploy-web/src/components/home/YourAccount/YourAccount.spec.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.spec.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.spec.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.spec.tsx
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.tsx
  apps/deploy-web/src/hooks/useLocalStorage.ts
  apps/deploy-web/src/types/node.ts
  apps/deploy-web/src/utils/apiUtils.ts
Due: deploy-web

fix: ensure dead providers are not processed as deleted
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
Due: none

fix: ensure dead providers are not processed as deleted (#3339)
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
Due: none

refactor(dx): include public-doc-hidden routes in the internal typed SDK (#3331)
  apps/api/src/billing/routes/stripe-coupons/stripe-coupons.router.ts
  apps/api/src/billing/routes/stripe-customers/stripe-customers.router.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/routes/stripe-prices/stripe-prices.router.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/routes/stripe-webhook/stripe-webhook.router.ts
  apps/api/src/core/lib/create-route/create-route.spec.ts
  apps/api/src/core/services/openapi-docs/openapi-docs.service.spec.ts
  apps/api/src/core/services/openapi-docs/openapi-docs.service.ts
  apps/api/src/swagger-gen-app.ts
  apps/api/swagger/openapi.json
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
  packages/dev-config/.eslintrc.base.js
Due: api

fix(onboarding): read trial credit amount from config
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
  apps/deploy-web/src/components/onboarding/steps/FreeTrialLandingStep/FreeTrialLandingStep.tsx
Due: deploy-web

fix(managed-wallet): block lease creation on absurdly-overpriced bids
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/lib/lease-messages/lease-messages.ts
  apps/api/src/billing/services/lease-bid-price-guard/lease-bid-price-guard.service.spec.ts
  apps/api/src/billing/services/lease-bid-price-guard/lease-bid-price-guard.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
Due: api

fix(managed-wallet): enforce warn<=block config and match bid owner
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/lib/lease-messages/lease-messages.ts
  apps/api/src/billing/services/lease-bid-price-guard/lease-bid-price-guard.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
Due: api

refactor(managed-wallet): drop dead uakt bid-price ceiling, uact only
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/lease-bid-price-guard/lease-bid-price-guard.service.spec.ts
  apps/api/src/billing/services/lease-bid-price-guard/lease-bid-price-guard.service.ts
Due: api

fix(deployment): enforce max page size on GET /v1/deployments
  apps/api/src/deployment/http-schemas/deployment.schema.ts
Due: api

test(deployment): update OpenAPI docs snapshot for enforced max page size
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

chore(onboarding): set production trial credits amount
  apps/deploy-web/env/.env.production
Due: deploy-web

docs(onboarding): add NEXT_PUBLIC_TRIAL_CREDITS_AMOUNT to env sample
  apps/deploy-web/env/.env.sample
Due: deploy-web

fix(onboarding): read trial credit amount from config (#3342)
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
  apps/deploy-web/src/components/onboarding/steps/FreeTrialLandingStep/FreeTrialLandingStep.tsx
Due: deploy-web

fix: return back msg execute contract blockchain type
  apps/api/package.json
  apps/api/src/billing/providers/type-registry.provider.ts
  apps/api/src/deployment/repositories/message/message.repository.integration.ts
  apps/api/src/deployment/repositories/message/message.repository.ts
  apps/api/src/gpu/services/gpu-price/gpu-price.service.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/api/src/transaction/repositories/transaction/transaction.repository.ts
  apps/api/src/utils/protobuf.ts
  package-lock.json
Due: api

feat(deployment): support confidential compute in managed-wallet deployments
  apps/api/package.json
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-inventory/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

fix: return back msg execute contract blockchain type (#3343)
  apps/api/package.json
  apps/api/src/billing/providers/type-registry.provider.ts
  apps/api/src/deployment/repositories/message/message.repository.integration.ts
  apps/api/src/deployment/repositories/message/message.repository.ts
  apps/api/src/gpu/services/gpu-price/gpu-price.service.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/api/src/transaction/repositories/transaction/transaction.repository.ts
  apps/api/src/utils/protobuf.ts
  package-lock.json
Due: api

feat(deployment): support confidential compute in managed-wallet deployments (#3344)
  apps/api/package.json
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-inventory/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

fix(deployment): block nvidia rtx5090m for trial deployments
  apps/deploy-web/env/.env.production
Due: deploy-web

feat: improve console-tests skill score 89% → 94%
  .claude/skills/console-tests/SKILL.md
  pr_description.md
Due: none

Removed unwanted artifacts
  pr_description.md
Due: none

fix: clears postgres connections on provider-inventory shutdown
  apps/provider-inventory/src/providers/drizzle.provider.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/repositories/db-driver/db-driver.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/provider-stream-factory/provider-stream-factory.sevice.ts
  apps/provider-inventory/src/services/start-server/app-initializer.ts
  apps/provider-inventory/src/services/start-server/start-server.spec.ts
  apps/provider-inventory/src/services/start-server/start-server.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

fix: clears postgres connections on provider-inventory shutdown (#3347)
  apps/provider-inventory/src/providers/drizzle.provider.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/repositories/db-driver/db-driver.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/provider-stream-factory/provider-stream-factory.sevice.ts
  apps/provider-inventory/src/services/start-server/app-initializer.ts
  apps/provider-inventory/src/services/start-server/start-server.spec.ts
  apps/provider-inventory/src/services/start-server/start-server.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

refactor: speeds up unit tests in provider-inventory
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/services/timer/timer.service.ts
Due: none

refactor: speeds up unit tests in provider-inventory (#3348)
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/services/timer/timer.service.ts
Due: none

refactor: removes provider attribute from provider_inventory_stream_messages_total
  apps/provider-inventory/src/metrics/metrics.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

fix: uprades chain-sdk
  apps/api/package.json
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-inventory/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

refactor: removes provider attribute from provider_inventory_stream_messages_total (#3349)
  apps/provider-inventory/src/metrics/metrics.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

fix: uprades chain-sdk (#3350)
  apps/api/package.json
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-inventory/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

fix: unref retry policies to unblock process shutdown without waiting for them
  apps/provider-inventory/package.json
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
