Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

refactor: migrates ManifestUpdate to testable form and adds unit tests
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
Due: deploy-web

refactor(sdl): migrate deploy-web from deprecated SDL class to generateManifest
  apps/deploy-web/src/components/deployments/ManifestUpdate.tsx
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/deploy-web/src/utils/deploymentData/helpers.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
Due: deploy-web

refactor(sdl): migrate deploy-web from deprecated SDL class to generateManifest (#2873)
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/deploy-web/src/utils/deploymentData/helpers.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
Due: deploy-web

fix(managed-wallet): propagate 503 when upstream RPC returns 5xx (#2898)
  apps/tx-signer/src/services/chain-error/chain-error.service.spec.ts
  apps/tx-signer/src/services/chain-error/chain-error.service.ts
Due: none

feat(notifications): skips alerting on balances in case of multiple denom in escrow (#2897)
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
Due: notifications

chore(billing): removes amounts reporting
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
Due: api

chore(config): removes some redundant env vars
  apps/api/env/.env.functional.test
  apps/api/env/.env.local.sample
  apps/api/env/.env.production
  apps/api/env/.env.sample
  apps/api/env/.env.staging
  apps/api/env/.env.unit.test
  apps/api/src/auth/config/env.config.ts
  apps/api/src/billing/config/env.config.ts
Due: api

chore(config): removes some redundant env vars (#2903)
  apps/api/env/.env.functional.test
  apps/api/env/.env.local.sample
  apps/api/env/.env.production
  apps/api/env/.env.sample
  apps/api/env/.env.staging
  apps/api/env/.env.unit.test
  apps/api/src/auth/config/env.config.ts
  apps/api/src/billing/config/env.config.ts
Due: api

feat: adds mint-burn page for custodial wallets (#2877)
  apps/deploy-web/src/components/MintBurnPage/MintBurnPage.spec.tsx
  apps/deploy-web/src/components/MintBurnPage/MintBurnPage.tsx
  apps/deploy-web/src/pages/mint-burn/index.tsx
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

fix: reduces nodejs runtime monitoring value
  packages/instrumentation/src/instrumentation.ts
Due: none

fix: reduces nodejs runtime monitoring value (#2905)
  packages/instrumentation/src/instrumentation.ts
Due: none

docs: use cp -n to avoid overwriting existing env.local
  README.md
Due: none

refactor: migrates api keys to sha256
  .github/workflows/reusable-validate-app.yml
  apps/api/src/auth/repositories/api-key/api-key.repository.integration.ts
  apps/api/src/auth/repositories/api-key/api-key.repository.ts
  apps/api/src/auth/services/api-key/api-key-auth.service.spec.ts
  apps/api/src/auth/services/api-key/api-key-auth.service.ts
  apps/api/src/auth/services/api-key/api-key-generator.service.spec.ts
  apps/api/src/auth/services/api-key/api-key-generator.service.ts
  apps/api/src/auth/services/api-key/api-key.service.ts
  apps/api/test/functional/balances.spec.ts
Due: api

refactor: migrates api keys to sha256 (#2907)
  .github/workflows/reusable-validate-app.yml
  apps/api/src/auth/repositories/api-key/api-key.repository.integration.ts
  apps/api/src/auth/repositories/api-key/api-key.repository.ts
  apps/api/src/auth/services/api-key/api-key-auth.service.spec.ts
  apps/api/src/auth/services/api-key/api-key-auth.service.ts
  apps/api/src/auth/services/api-key/api-key-generator.service.spec.ts
  apps/api/src/auth/services/api-key/api-key-generator.service.ts
  apps/api/src/auth/services/api-key/api-key.service.ts
  apps/api/test/functional/balances.spec.ts
Due: api

feat: adds possibility to track what blocks eventloop for more than 100ms
  apps/api/package.json
  apps/api/src/app/index.ts
  apps/api/src/core/config/env.config.ts
  apps/api/src/core/providers/eventloop-monitoring.provider.ts
  apps/api/src/core/providers/index.ts
  package-lock.json
Due: api

chore: exclude eventloop-monitoring.provider from coverage
  apps/api/src/core/providers/eventloop-monitoring.provider.ts
Due: api

feat: adds possibility to track what blocks eventloop for more than 100ms (#2906)
  apps/api/package.json
  apps/api/src/app/index.ts
  apps/api/src/core/config/env.config.ts
  apps/api/src/core/providers/eventloop-monitoring.provider.ts
  apps/api/src/core/providers/index.ts
  package-lock.json
Due: api

fix(auth): redirect unauthenticated users to login on /api-keys page
  apps/deploy-web/src/pages/user/api-keys/index.tsx
Due: deploy-web

refactor: extracts ApiKeysPage into components folder and adds tests
  apps/deploy-web/src/components/api-keys/ApiKeysPage/ApiKeysPage.spec.tsx
  apps/deploy-web/src/components/api-keys/ApiKeysPage/ApiKeysPage.tsx
  apps/deploy-web/src/pages/user/api-keys/index.tsx
Due: deploy-web

fix(repo): remove legacy API route redirects (#2900)
  apps/api/src/routers/legacyRouter.ts
Due: api

feat(config): switches from testnet-8 to testnet-oracle
  apps/api/env/.env.testnet
  apps/deploy-web/src/chains/akash-testnet.ts
  apps/deploy-web/src/hooks/useSupportsACT/useSupportsACT.spec.ts
  apps/deploy-web/src/hooks/useSupportsACT/useSupportsACT.ts
  apps/indexer/.gitignore
  apps/provider-proxy/env/.env.testnet
  apps/tx-signer/env/.env.testnet
  config/testnet-oracle-nodes.json
  packages/database/chainDefinitions.ts
  packages/net/scripts/generate.ts
  packages/net/src/NetConfig/NetConfig.ts
  packages/net/src/generated/netConfigData.ts
Due: api, deploy-web, indexer, provider-proxy

feat(config): switches from testnet-8 to testnet-oracle (#2904)
  apps/api/env/.env.testnet
  apps/deploy-web/src/chains/akash-testnet.ts
  apps/deploy-web/src/hooks/useSupportsACT/useSupportsACT.spec.ts
  apps/deploy-web/src/hooks/useSupportsACT/useSupportsACT.ts
  apps/indexer/.gitignore
  apps/provider-proxy/env/.env.testnet
  apps/tx-signer/env/.env.testnet
  config/testnet-oracle-nodes.json
  packages/database/chainDefinitions.ts
  packages/net/scripts/generate.ts
  packages/net/src/NetConfig/NetConfig.ts
  packages/net/src/generated/netConfigData.ts
Due: api, deploy-web, indexer, provider-proxy

feat(indexer): add uact denom spend tracking
  apps/indexer/drizzle/0006_add_total_uact_spent_to_block.sql
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/indexer/src/tasks/usdSpendingTracker.ts
  packages/database/dbSchemas/akash/akashBlock.ts
Due: indexer

feat(indexer): add uact denom spend tracking (#2911)
  apps/indexer/drizzle/0006_add_total_uact_spent_to_block.sql
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/indexer/src/tasks/usdSpendingTracker.ts
  packages/database/dbSchemas/akash/akashBlock.ts
Due: indexer

chore(dx): replace cursor test rules with claude testing skill
  .claude/skills/console-tests/SKILL.md
  .claude/skills/console-tests/references/api-patterns.md
  .claude/skills/console-tests/references/frontend-patterns.md
  .cursor/rules/no-jest-mock.mdc
  .cursor/rules/query-by-in-tests.mdc
  .cursor/rules/setup-instead-of-before-each.mdc
  .cursor/rules/test-descriptions.mdc
Due: none

fix(config): update sandbox USDC IBC denom and migrate test files from jest to vitest
  apps/api/src/billing/config/network.config.ts
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/core/lib/create-route/create-route.spec.ts
  apps/api/src/core/services/shutdown-server/shutdown-server.spec.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.spec.ts
  apps/api/src/middlewares/contentTypeMiddleware/contentTypeMiddleware.spec.ts
  apps/api/src/notifications/services/notification-data-resolver/notification-data-resolver.service.spec.ts
  apps/api/test/functional/proposals.spec.ts
  apps/deploy-web/src/config/denom.config.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/provider-console/src/utils/constants.ts
  apps/stats-web/src/config/denom.config.ts
  packages/http-sdk/src/types/denom.type.ts
Due: api, deploy-web, indexer, provider-console, stats-web

feat(indexer): add BME database models and migration
  apps/indexer/drizzle/0007_add_bme_tables.sql
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  packages/database/chainDefinitions.ts
  packages/database/dbSchemas/akash/akashBlock.ts
  packages/database/dbSchemas/akash/bmeLedgerRecord.ts
  packages/database/dbSchemas/akash/bmeRawEvent.ts
  packages/database/dbSchemas/akash/bmeStatusChange.ts
  packages/database/dbSchemas/akash/index.ts
Due: indexer

docs: add env setup step to quick start guide (#2899)
  README.md
Due: none

fix(auth): redirect unauthenticated users to login on /api-keys page (#2910)
  apps/deploy-web/src/components/api-keys/ApiKeysPage/ApiKeysPage.spec.tsx
  apps/deploy-web/src/components/api-keys/ApiKeysPage/ApiKeysPage.tsx
  apps/deploy-web/src/pages/user/api-keys/index.tsx
Due: deploy-web

fix: handles MissingStateCookieError error during auth
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
Due: deploy-web

refactor(indexer): use local instrumentation package in indexer
  apps/indexer/package.json
  apps/indexer/tsup.config.ts
Due: indexer

fix: handles MissingStateCookieError error during auth (#2843)
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
Due: deploy-web

chore: cleanup deps
  apps/indexer/package.json
  package-lock.json
Due: indexer

refactor(indexer): use local instrumentation package in indexer (#2887)
  apps/indexer/package.json
  apps/indexer/tsup.config.ts
  package-lock.json
Due: indexer

refactor(observability): use local instrumentation package in tx-signer
  apps/tx-signer/package.json
  apps/tx-signer/tsup.config.ts
  package-lock.json
Due: none

refactor: extracts bootstrap side effect into server.ts file
  apps/tx-signer/package.json
  apps/tx-signer/src/index.ts
  apps/tx-signer/src/server.ts
  apps/tx-signer/test/functional/sign-and-broadcast-tx.spec.ts
Due: none

chore(ci): separate skip labels for security scan and apps deps scan
  .github/workflows/all-ci-unsafe.yml
Due: none

chore: refactors and makes it more clear what happens
  .github/workflows/all-ci-unsafe.yml
Due: none

Update apps/tx-signer/src/server.ts
  apps/tx-signer/src/server.ts
Due: none

refactor(observability): use local instrumentation package in tx-signer (#2888)
  apps/tx-signer/package.json
  apps/tx-signer/src/index.ts
  apps/tx-signer/src/server.ts
  apps/tx-signer/test/functional/sign-and-broadcast-tx.spec.ts
  apps/tx-signer/tsup.config.ts
  package-lock.json
Due: none

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
