Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(deployment): hide the alert types block when no alert type is enabled
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
Due: deploy-web

refactor(deployment): remove the Fieldset component the close alert no longer uses
  apps/deploy-web/src/components/shared/Fieldset.tsx
Due: deploy-web

fix(provider): fit the providers globe to the provider panel height
  apps/deploy-web/src/components/providers/ProvidersExplorer/ProvidersExplorer.spec.tsx
  apps/deploy-web/src/components/providers/ProvidersExplorer/ProvidersExplorer.tsx
Due: deploy-web

fix(deployment): show what the providers report in the deployment header status
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
Due: deploy-web

fix(template): show the GPU icon on template cards
  apps/deploy-web/src/components/templates/TemplateCard/TemplateCard.spec.tsx
  apps/deploy-web/src/components/templates/TemplateCard/TemplateCard.tsx
Due: deploy-web

feat(deployment): group the closes of a bulk close under one batch id (#4257)
  apps/api/src/activity/http-schemas/activity.schema.ts
  apps/api/src/activity/model-schemas/activity/activity.schema.ts
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.handler.integration.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.handler.spec.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.handler.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.job.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/utils/close-activity/close-activity.spec.ts
  apps/api/src/deployment/utils/close-activity/close-activity.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(deployment): list gpu models no provider can host among the unavailable ones (#4258)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/useScreenedGpuModelCount/useScreenedGpuModelCount.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/useScreenedGpuModelCounts/useScreenedGpuModelCounts.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/useScreenedGpuModelCounts/useScreenedGpuModelCounts.ts
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.spec.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.tsx
Due: deploy-web

fix(styling): keep the configure page actions in view under the top banner (#4259)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AutoDeployFlow/AutoDeployFlow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ResumeDeploymentGuard/ResumeDeploymentGuard.tsx
Due: deploy-web

fix(provider): fit the providers globe to the provider panel height (#4261)
  apps/deploy-web/src/components/providers/ProvidersExplorer/ProvidersExplorer.spec.tsx
  apps/deploy-web/src/components/providers/ProvidersExplorer/ProvidersExplorer.tsx
Due: deploy-web

feat(deployment): restyle the settings tab notifications to the redesign (#4256)
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.spec.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelSelectForm/NotificationChannelSelect.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelSelectForm/NotificationChannelSelect.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelsGuard/NotificationChannelsGuard.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelsGuard/NotificationChannelsGuard.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
  apps/deploy-web/src/components/deployments/DeploymentCloseAlert/DeploymentCloseAlert.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentCloseAlert/DeploymentCloseAlert.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentDangerZone.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentNotificationsSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentSettings.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentSettings.tsx
  apps/deploy-web/src/components/layout/SettingsSection/SettingsSection.spec.tsx
  apps/deploy-web/src/components/layout/SettingsSection/SettingsSection.tsx
  apps/deploy-web/src/components/shared/Fieldset.tsx
  apps/deploy-web/tests/ui/pages/DeploymentAlertsForm.ts
  apps/deploy-web/tests/ui/pages/DeploymentDetailPage.ts
Due: deploy-web

feat(deployment): close the selected deployments in the background
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/hooks/useCloseBatches/useCloseBatches.spec.tsx
  apps/deploy-web/src/hooks/useCloseBatches/useCloseBatches.ts
  apps/deploy-web/src/hooks/useCloseDeployments/useCloseDeployments.spec.tsx
  apps/deploy-web/src/hooks/useCloseDeployments/useCloseDeployments.tsx
Due: deploy-web

fix(deployment): keep a full page's bulk close inside the activity feed window
  apps/deploy-web/src/queries/useLatestActivitiesQuery.spec.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.ts
Due: deploy-web

fix(template): show the GPU icon on template cards (#4262)
  apps/deploy-web/src/components/templates/TemplateCard/TemplateCard.spec.tsx
  apps/deploy-web/src/components/templates/TemplateCard/TemplateCard.tsx
Due: deploy-web

feat(deployment): close the selected deployments in the background (#4260)
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/hooks/useCloseBatches/useCloseBatches.spec.tsx
  apps/deploy-web/src/hooks/useCloseBatches/useCloseBatches.ts
  apps/deploy-web/src/hooks/useCloseDeployments/useCloseDeployments.spec.tsx
  apps/deploy-web/src/hooks/useCloseDeployments/useCloseDeployments.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.spec.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.ts
Due: deploy-web

feat(alert): email users when a lease closes for a reason other than their own
  apps/notifications/src/common/config/event-key-registry.config.ts
  apps/notifications/src/infrastructure/broker/services/broker/event-map.ts
  apps/notifications/src/interfaces/alert-events/handlers/chain-events/chain-events.handler.spec.ts
  apps/notifications/src/interfaces/alert-events/handlers/chain-events/chain-events.handler.ts
  apps/notifications/src/modules/alert/alert.module.ts
  apps/notifications/src/modules/alert/dto/event-lease-closed.dto.ts
  apps/notifications/src/modules/alert/repositories/alert/alert-json-fields.schema.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/alert/services/lease-closed-alert/lease-closed-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/lease-closed-alert/lease-closed-alert.service.ts
  apps/notifications/src/modules/alert/services/reclaim-alert/reclaim-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/reclaim-alert/reclaim-alert.service.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
  apps/notifications/test/functional/lease-closed-alert.spec.ts
Due: notifications

fix(deployment): keep the header status loading until every provider has reported
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
Due: deploy-web

feat(deployment): settle a background close whose job was lost
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/core/services/job-queue/job-queue.service.integration.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.integration.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.spec.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.job.ts
  apps/api/src/deployment/utils/close-activity/close-activity.spec.ts
  apps/api/src/deployment/utils/close-activity/close-activity.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

test(deployment): cover the job lookup the close check reads
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
Due: api

fix(deployment): keep one waiting close check per activity
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.integration.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.spec.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.job.ts
Due: api

fix(deployment): show what the providers report in the deployment header status (#4263)
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
Due: deploy-web

feat(deployment): settle a background close whose job was lost (#4264)
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/core/services/job-queue/job-queue.service.integration.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.integration.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.spec.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.job.ts
  apps/api/src/deployment/utils/close-activity/close-activity.spec.ts
  apps/api/src/deployment/utils/close-activity/close-activity.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(deployment): settle a close the request left undecided
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.spec.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.job.ts
  apps/api/src/deployment/utils/close-activity/close-activity.spec.ts
  apps/api/src/deployment/utils/close-activity/close-activity.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(deployment): settle a close the request left undecided (#4265)
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.spec.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.handler.ts
  apps/api/src/deployment/services/reconcile-deployment-close/reconcile-deployment-close.job.ts
  apps/api/src/deployment/utils/close-activity/close-activity.spec.ts
  apps/api/src/deployment/utils/close-activity/close-activity.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(alert): send at most one of the reclaim and lease-closed emails
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/alert/services/lease-closed-alert/lease-closed-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/lease-closed-alert/lease-closed-alert.service.ts
  apps/notifications/test/functional/lease-closed-alert.spec.ts
Due: notifications

feat(deployment): show code previews on the start from scratch cards
  apps/deploy-web/public/images/new-deployment/byo-container.webp
  apps/deploy-web/public/images/new-deployment/linux-machine.webp
  apps/deploy-web/src/components/new-deployment/NewDeploymentPage/NewDeploymentPage.spec.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentPage/NewDeploymentPage.tsx
  apps/deploy-web/src/components/new-deployment/StartFromScratchCard/StartFromScratchCard.spec.tsx
  apps/deploy-web/src/components/new-deployment/StartFromScratchCard/StartFromScratchCard.tsx
  apps/deploy-web/src/components/new-deployment/StartFromScratchSnippets/StartFromScratchSnippets.spec.tsx
  apps/deploy-web/src/components/new-deployment/StartFromScratchSnippets/StartFromScratchSnippets.tsx
  apps/deploy-web/tailwind.config.ts
Due: deploy-web

feat(deployment): answer an account's spend rate from the console's chain index
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/repositories/lease/lease.repository.integration.ts
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/spend-rate/spend-rate.service.spec.ts
  apps/api/src/deployment/services/spend-rate/spend-rate.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/spend-rate.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(alert): email users when a lease closes for a reason other than their own (#4266)
  apps/notifications/src/common/config/event-key-registry.config.ts
  apps/notifications/src/infrastructure/broker/services/broker/event-map.ts
  apps/notifications/src/interfaces/alert-events/handlers/chain-events/chain-events.handler.spec.ts
  apps/notifications/src/interfaces/alert-events/handlers/chain-events/chain-events.handler.ts
  apps/notifications/src/modules/alert/alert.module.ts
  apps/notifications/src/modules/alert/dto/event-lease-closed.dto.ts
  apps/notifications/src/modules/alert/repositories/alert/alert-json-fields.schema.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/alert/services/lease-closed-alert/lease-closed-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/lease-closed-alert/lease-closed-alert.service.ts
  apps/notifications/src/modules/alert/services/reclaim-alert/reclaim-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/reclaim-alert/reclaim-alert.service.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
  apps/notifications/test/functional/lease-closed-alert.spec.ts
Due: notifications

feat(deployment): show code previews on the start from scratch cards (#4267)
  apps/deploy-web/public/images/new-deployment/byo-container.webp
  apps/deploy-web/public/images/new-deployment/linux-machine.webp
  apps/deploy-web/src/components/new-deployment/NewDeploymentPage/NewDeploymentPage.spec.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentPage/NewDeploymentPage.tsx
  apps/deploy-web/src/components/new-deployment/StartFromScratchCard/StartFromScratchCard.spec.tsx
  apps/deploy-web/src/components/new-deployment/StartFromScratchCard/StartFromScratchCard.tsx
  apps/deploy-web/src/components/new-deployment/StartFromScratchSnippets/StartFromScratchSnippets.spec.tsx
  apps/deploy-web/src/components/new-deployment/StartFromScratchSnippets/StartFromScratchSnippets.tsx
  apps/deploy-web/tailwind.config.ts
Due: deploy-web

feat(deployment): give a close that overlaps a background close one entry
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(billing): let the team approve and revoke affiliates
  apps/api/drizzle.config.ts
  apps/api/drizzle/0073_affiliates.sql
  apps/api/drizzle/meta/0073_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/affiliate/http-schemas/affiliate-admin.schema.ts
  apps/api/src/affiliate/index.ts
  apps/api/src/affiliate/lib/affiliate-code/affiliate-code.spec.ts
  apps/api/src/affiliate/lib/affiliate-code/affiliate-code.ts
  apps/api/src/affiliate/model-schemas/affiliate/affiliate.schema.ts
  apps/api/src/affiliate/model-schemas/index.ts
  apps/api/src/affiliate/repositories/affiliate/affiliate.repository.ts
  apps/api/src/affiliate/routes/internal/approve-affiliate.router.ts
  apps/api/src/affiliate/routes/internal/revoke-affiliate.router.ts
  apps/api/src/affiliate/services/affiliate/affiliate.service.spec.ts
  apps/api/src/affiliate/services/affiliate/affiliate.service.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/src/routes/internal/index.ts
  apps/api/test/functional/affiliates-internal.spec.ts
  apps/api/test/seeders/affiliate.seeder.ts
  packages/dev-config/eslint/base.mjs
Due: api

test(billing): assert error messages and edge cases in the affiliate service
  apps/api/src/affiliate/services/affiliate/affiliate.service.spec.ts
Due: api

feat(deployment): finish the configure page's closes in the background
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
Due: deploy-web

feat(deployment): answer an account's spend rate from the console's chain index (#4268)
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/repositories/lease/lease.repository.integration.ts
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/spend-rate/spend-rate.service.spec.ts
  apps/api/src/deployment/services/spend-rate/spend-rate.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/spend-rate.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(deployment): settle a given-up background close as closed when the request closes it
  apps/api/src/activity/repositories/activity/activity.repository.integration.ts
  apps/api/src/activity/repositories/activity/activity.repository.ts
  apps/api/src/activity/services/activity/activity.service.spec.ts
  apps/api/src/activity/services/activity/activity.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(deployment): report a background close the feed settles as failed
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
Due: deploy-web

fix(billing): handle concurrent affiliate approvals and an unknown userId
  apps/api/src/affiliate/services/affiliate/affiliate.service.spec.ts
  apps/api/src/affiliate/services/affiliate/affiliate.service.ts
  apps/api/test/functional/affiliates-internal.spec.ts
Due: api

feat(deployment): give a close that overlaps a background close one entry (#4271)
  apps/api/src/activity/repositories/activity/activity.repository.integration.ts
  apps/api/src/activity/repositories/activity/activity.repository.ts
  apps/api/src/activity/services/activity/activity.service.spec.ts
  apps/api/src/activity/services/activity/activity.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

test(billing): cover the non-unique-violation rethrow paths added for concurrent approvals
  apps/api/src/affiliate/services/affiliate/affiliate.service.spec.ts
Due: api

feat(deployment): finish the configure page's closes in the background (#4272)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
Due: deploy-web

feat(billing): show approved affiliates their referral link
  apps/api/src/affiliate/controllers/affiliate/affiliate.controller.ts
  apps/api/src/affiliate/http-schemas/affiliate-profile.schema.ts
  apps/api/src/affiliate/index.ts
  apps/api/src/affiliate/lib/affiliate-terms/affiliate-terms.ts
  apps/api/src/affiliate/routes/affiliate-profile/affiliate-profile.router.ts
  apps/api/src/affiliate/services/affiliate/affiliate.service.spec.ts
  apps/api/src/affiliate/services/affiliate/affiliate.service.ts
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/config/env.config.spec.ts
  apps/api/src/billing/config/env.config.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/affiliate-profile.spec.ts
  apps/deploy-web/src/components/layout/TopNav/TopNav.spec.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNav.tsx
  apps/deploy-web/src/components/referrals/ReferralsPage/ReferralsPage.spec.tsx
  apps/deploy-web/src/components/referrals/ReferralsPage/ReferralsPage.tsx
  apps/deploy-web/src/hooks/useSettingsNavLinks.spec.ts
  apps/deploy-web/src/hooks/useSettingsNavLinks.ts
  apps/deploy-web/src/pages/referrals/index.tsx
  apps/deploy-web/src/queries/index.ts
  apps/deploy-web/src/queries/useAffiliateProfileQuery.spec.tsx
  apps/deploy-web/src/queries/useAffiliateProfileQuery.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/urlUtils.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
