Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(log-collector): prevent stale-resourceVersion reconnect loop
  apps/log-collector/src/services/k8s-events-collector/k8s-events-collector.service.spec.ts
  apps/log-collector/src/services/k8s-events-collector/k8s-events-collector.service.ts
  apps/log-collector/src/services/pod-discovery/pod-discovery.service.spec.ts
  apps/log-collector/src/services/pod-discovery/pod-discovery.service.ts
Due: none

fix(log-collector): prevent stale-resourceVersion reconnect loop (#3058)
  apps/log-collector/src/services/k8s-events-collector/k8s-events-collector.service.spec.ts
  apps/log-collector/src/services/k8s-events-collector/k8s-events-collector.service.ts
  apps/log-collector/src/services/pod-discovery/pod-discovery.service.spec.ts
  apps/log-collector/src/services/pod-discovery/pod-discovery.service.ts
Due: none

chore: sets permissions on gh workflows
  .github/workflows/akash-templates-publisher.yml
  .github/workflows/all-deploy-testnet.yml
  .github/workflows/auto-approval.yml
  .github/workflows/console-api-deploy-testnet.yml
  .github/workflows/console-api-release.yml
  .github/workflows/console-web-deploy-testnet.yml
  .github/workflows/console-web-release.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/indexer-deploy-testnet.yml
  .github/workflows/indexer-release.yml
  .github/workflows/labeler.yml
  .github/workflows/log-collector-release.yml
  .github/workflows/notifications-deploy-testnet.yml
  .github/workflows/notifications-release.yml
  .github/workflows/provider-proxy-release.yml
  .github/workflows/reusable-build-image.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/reusable-release-app.yml
  .github/workflows/reusable-release-nextjs-app.yml
  .github/workflows/reusable-should-validate.yml
  .github/workflows/reusable-validate-app-unsafe.yml
  .github/workflows/reusable-validate-app.yml
  .github/workflows/stats-web-release.yml
  .github/workflows/tx-signer-release.yml
Due: none

fix(wallet): remove Leap wallet integration from codebase
  .gitignore
  .npmrc
  apps/deploy-web/package.json
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/liquidity-modal/index.tsx
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/deploy-web/src/pages/get-started/index.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/styles/index.css
  apps/deploy-web/src/types/global.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/fixture/web-wallet/initKeplrWebWalletMock.ts
  apps/deploy-web/tests/ui/fixture/web-wallet/injectWebWallet.ts
  apps/provider-console/package.json
  apps/provider-console/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/provider-console/src/pages/get-started/index.tsx
  apps/provider-console/src/styles/index.css
  doc/e2e-manual-qa-checklist.md
  package-lock.json
  packages/dev-config/.eslintrc.base.js
Due: deploy-web, provider-console

test(wallet): add GetStartedStepper spec to fix codecov patch coverage
  apps/deploy-web/src/components/get-started/GetStartedStepper.spec.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
Due: deploy-web

docs(wallet): add MetaMask to wallet modal checklist
  doc/e2e-manual-qa-checklist.md
Due: none

fix(analytics): add dseq property to create_deployment, create_lease, and send_manifest events
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
Due: deploy-web

test(wallet): fix balance mock gate to check all denom fields
  apps/deploy-web/src/components/get-started/GetStartedStepper.spec.tsx
Due: deploy-web

fix(billing): treat partial ACT mint as success when AKT caps the burn
  apps/api/src/billing/services/master-wallet-mint/master-wallet-mint.service.spec.ts
  apps/api/src/billing/services/master-wallet-mint/master-wallet-mint.service.ts
Due: api

fix(billing): treat partial ACT mint as success when AKT caps the burn (#3063)
  apps/api/src/billing/services/master-wallet-mint/master-wallet-mint.service.spec.ts
  apps/api/src/billing/services/master-wallet-mint/master-wallet-mint.service.ts
Due: api

chore: sets permissions on gh workflows (#3060)
  .github/workflows/akash-templates-publisher.yml
  .github/workflows/all-deploy-testnet.yml
  .github/workflows/auto-approval.yml
  .github/workflows/console-api-deploy-testnet.yml
  .github/workflows/console-api-release.yml
  .github/workflows/console-web-deploy-testnet.yml
  .github/workflows/console-web-release.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/indexer-deploy-testnet.yml
  .github/workflows/indexer-release.yml
  .github/workflows/labeler.yml
  .github/workflows/log-collector-release.yml
  .github/workflows/notifications-deploy-testnet.yml
  .github/workflows/notifications-release.yml
  .github/workflows/provider-proxy-release.yml
  .github/workflows/reusable-build-image.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/reusable-release-app.yml
  .github/workflows/reusable-release-nextjs-app.yml
  .github/workflows/reusable-should-validate.yml
  .github/workflows/reusable-validate-app-unsafe.yml
  .github/workflows/reusable-validate-app.yml
  .github/workflows/stats-web-release.yml
  .github/workflows/tx-signer-release.yml
Due: none

fix: removes protobufjs dep since it is part of akash-api package
  apps/api/package.json
  apps/indexer/package.json
  apps/tx-signer/package.json
  knip.json
  package-lock.json
Due: api, indexer

feat: exposes get providers by attributes and signatures
  apps/api/src/provider/controllers/provider/provider.controller.ts
  apps/api/src/provider/repositories/provider/provider.repository.ts
  apps/api/src/provider/routes/providers/providers.router.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix(log-collector): reconnect the pod log stream when it disconnects
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.ts
Due: none

fix(analytics): add dseq property to deployment lifecycle events (#3065)
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
Due: deploy-web

fix(deployment): ignore websocket close on abort and simplify error handling
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/lib/websocket/createWebsocket.spec.ts
  apps/deploy-web/src/lib/websocket/createWebsocket.ts
Due: deploy-web

fix(log-collector): reconnect the pod log stream when it disconnects (#3068)
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.ts
Due: none

feat(billing): add Stripe free trial abuse prevention metadata
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(billing): default isFreeTrial to true and add controller tests
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
Due: api

fix(billing): replace `as any` casts with typed mocks in controller tests
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
Due: api

refactor(auth): use unique userId constraint with upsert for verification codes
  apps/api/drizzle/0029_fluffy_drax.sql
  apps/api/drizzle/meta/0029_snapshot.json
  apps/api/src/auth/model-schemas/email-verification-code/email-verification-code.schema.ts
  apps/api/src/auth/repositories/email-verification-code/email-verification-code.repository.ts
  apps/api/src/auth/services/email-verification-code/email-verification-code.service.spec.ts
  apps/api/src/auth/services/email-verification-code/email-verification-code.service.ts
Due: api

feat(billing): add Stripe free trial abuse prevention metadata (#3069)
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix: removes protobufjs dep since it is part of akash-api package (#3066)
  apps/api/package.json
  apps/indexer/package.json
  apps/tx-signer/package.json
  knip.json
  package-lock.json
Due: api, indexer

fix(deployment): reduce noisy websocket errors in Sentry (#3050)
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/lib/websocket/createWebsocket.spec.ts
  apps/deploy-web/src/lib/websocket/createWebsocket.ts
Due: deploy-web

fix: ensure last_used_at is set in db for api-key and for user
  apps/api/src/auth/repositories/api-key/api-key.repository.integration.ts
  apps/api/src/auth/repositories/api-key/api-key.repository.ts
  apps/api/src/user/repositories/user/user.repository.integration.ts
  apps/api/src/user/repositories/user/user.repository.ts
Due: api

feat(log-collector): add Akash deployment metadata to forwarded logs
  apps/log-collector/fluent-bit/script/extract_metadata.lua
Due: none

feat(log-collector): add Akash deployment metadata to forwarded logs (#3072)
  apps/log-collector/fluent-bit/script/extract_metadata.lua
Due: none

refactor: fixes edge cases
  apps/deploy-web/src/components/layout/WalletStatus.tsx
  apps/deploy-web/src/components/wallet/ConnectWalletButton.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletLayer/CustodialWalletLayer.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletLayer/index.ts
  apps/deploy-web/src/components/wallet/ManagedWalletPopup/ManagedWalletPopup.tsx
  apps/deploy-web/src/components/wallet/WalletModal/index.ts
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/store/chainStore/chainStore.ts
  apps/deploy-web/src/store/chainStore/constants.ts
  apps/deploy-web/src/store/chainStore/hooks.ts
  apps/deploy-web/src/store/chainStore/walletManagerFactory.ts
  apps/deploy-web/src/store/chainStore/walletRegistry.ts
Due: deploy-web

refactor(wallet): replace ChainProvider context with Jotai store layer
  apps/deploy-web/src/components/liquidity-modal/index.tsx
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/store/chainStore/chainStore.ts
  apps/deploy-web/src/store/chainStore/index.ts
  apps/deploy-web/src/store/chainStore/utils.ts
  apps/deploy-web/src/store/chainStore/walletManagerFactory.ts
  apps/deploy-web/src/store/chainStore/walletRegistry.ts
Due: deploy-web

fix: ensure flow for custodial wallet works
  apps/deploy-web/src/components/wallet/ConnectWalletButton.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletLayer/CustodialWalletLayer.tsx
  apps/deploy-web/src/components/wallet/WalletModal/WalletListView.tsx
  apps/deploy-web/src/components/wallet/WalletModal/WalletModal.tsx
  apps/deploy-web/src/components/wallet/WalletModal/index.ts
  apps/deploy-web/src/store/chainStore/chainStore.ts
  apps/deploy-web/src/store/chainStore/walletManagerFactory.ts
  apps/deploy-web/src/store/chainStore/walletRegistry.ts
Due: deploy-web

chore: another update
  apps/deploy-web/src/components/wallet/CustodialWalletLayer/CustodialWalletLayer.tsx
  apps/deploy-web/src/components/wallet/WalletModal/WalletListView.tsx
  apps/deploy-web/src/components/wallet/WalletModal/WalletModal.tsx
  apps/deploy-web/src/components/wallet/WalletModal/index.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/store/chainStore/chainStore.ts
  apps/deploy-web/src/store/chainStore/hooks.ts
  apps/deploy-web/src/store/chainStore/index.ts
  apps/deploy-web/src/store/chainStore/utils.ts
  apps/deploy-web/src/store/chainStore/walletManagerFactory.ts
Due: deploy-web

refactor(wallet): lazy-init chain store only for custodial wallet users
  apps/deploy-web/src/components/wallet/ConnectWalletButton.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletLayer/CustodialWalletLayer.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletLayer/index.ts
  apps/deploy-web/src/components/wallet/ManagedWalletPopup/ManagedWalletPopup.tsx
  apps/deploy-web/src/context/CustomChainProvider/index.ts
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.spec.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/store/chainStore/index.ts
Due: deploy-web

refactor: extracts cosmos-kit jotai into a separate lib folder
  apps/deploy-web/src/components/wallet/ConnectWalletButton.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletLayer/CustodialWalletLayer.tsx
  apps/deploy-web/src/components/wallet/ManagedWalletPopup/ManagedWalletPopup.spec.tsx
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.ts
  apps/deploy-web/src/hooks/useSelectedChain/useSelectedChain.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/ChainStoreInitializer/ChainStoreInitializer.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/ModalWrapper/ModalWrapper.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/WalletModal/WalletListView.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/WalletModal/WalletModal.spec.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/WalletModal/WalletModal.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/context/ChainStoreProvider.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/hooks/useChain/useChain.spec.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/hooks/useChain/useChain.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/hooks/useManager/useManager.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/index.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/store/chainStore.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/store/constants.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/store/utils.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/store/walletManagerFactory.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/store/chainStore/hooks.ts
  apps/deploy-web/src/store/chainStore/index.ts
  apps/deploy-web/src/store/chainStore/walletManagerFactory.ts
  apps/deploy-web/src/store/chainStore/walletRegistry.ts
Due: deploy-web

fix(auth): rollback verification code on notification failure
  apps/api/src/auth/repositories/email-verification-code/email-verification-code.repository.ts
  apps/api/src/auth/services/email-verification-code/email-verification-code.service.spec.ts
  apps/api/src/auth/services/email-verification-code/email-verification-code.service.ts
Due: api

chore: code review and UI fixes
  apps/deploy-web/src/components/layout/WalletStatus.tsx
  apps/deploy-web/src/components/liquidity-modal/index.tsx
  apps/deploy-web/src/components/wallet/ConnectWalletButton.tsx
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.spec.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/ModalWrapper/ModalWrapper.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/WalletModal/WalletListView.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/WalletModal/WalletModal.spec.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/context/ChainStoreProvider.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/hooks/useChain/useChain.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/index.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/store/ChainStore.ts
Due: deploy-web

chore: update apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
Due: deploy-web

fix: ensure last_used_at is set in db for api-key and for user (#3070)
  apps/api/src/auth/repositories/api-key/api-key.repository.integration.ts
  apps/api/src/auth/repositories/api-key/api-key.repository.ts
  apps/api/src/user/repositories/user/user.repository.integration.ts
  apps/api/src/user/repositories/user/user.repository.ts
Due: api

test(onboarding): add E2E test for managed wallet onboarding flow
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
  apps/deploy-web/package.json
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/tests/ui/actions/auth.ts
  apps/deploy-web/tests/ui/fixture/managed-wallet-test.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/managed-wallet-onboarding.spec.ts
  apps/deploy-web/tests/ui/pages/HomePage.ts
  apps/deploy-web/tests/ui/pages/OnboardingPage.ts
  apps/deploy-web/tests/ui/services/auth0-management.service.ts
  package-lock.json
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
