Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

feat(deployment): record deployment closes in a feed users can read (#4206)
  apps/api/drizzle.config.ts
  apps/api/drizzle/0068_activities.sql
  apps/api/drizzle/meta/0068_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/activity/controllers/activity/activity.controller.ts
  apps/api/src/activity/http-schemas/activity.schema.ts
  apps/api/src/activity/index.ts
  apps/api/src/activity/lib/activity-cursor/activity-cursor.spec.ts
  apps/api/src/activity/lib/activity-cursor/activity-cursor.ts
  apps/api/src/activity/model-schemas/activity/activity.schema.ts
  apps/api/src/activity/model-schemas/index.ts
  apps/api/src/activity/repositories/activity/activity.repository.integration.ts
  apps/api/src/activity/repositories/activity/activity.repository.ts
  apps/api/src/activity/routes/activity.router.ts
  apps/api/src/activity/services/activity/activity.service.spec.ts
  apps/api/src/activity/services/activity/activity.service.ts
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/utils/close-activity/close-activity.spec.ts
  apps/api/src/deployment/utils/close-activity/close-activity.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/activities.spec.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/seeders/activity.seeder.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
  packages/dev-config/eslint/base.mjs
Due: api

feat(user): keep the deletion link token out of server logs
  apps/api/src/notifications/services/notification-templates/account-deletion-confirmation-notification.spec.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.spec.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.ts
  apps/api/test/functional/account-deletion.spec.ts
Due: api

feat(user): let users delete their account behind the account_deletion flag
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/auth/services/auth.interceptor.ts
  apps/api/src/auth/services/auth0/auth0.service.spec.ts
  apps/api/src/auth/services/auth0/auth0.service.ts
  apps/api/src/billing/services/customer/customer.service.spec.ts
  apps/api/src/billing/services/customer/customer.service.ts
  apps/api/src/core/services/analytics/analytics.service.ts
  apps/api/src/core/services/feature-flags/feature-flags.service.spec.ts
  apps/api/src/core/services/feature-flags/feature-flags.service.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/core/types/app-context.ts
  apps/api/src/notifications/services/notification-templates/account-deletion-confirmation-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/account-deletion-confirmation-notification.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/src/user/controllers/account-deletion/account-deletion.controller.spec.ts
  apps/api/src/user/controllers/account-deletion/account-deletion.controller.ts
  apps/api/src/user/http-schemas/account-deletion.schema.ts
  apps/api/src/user/model-schemas/account-deletion-token/account-deletion-token.schema.ts
  apps/api/src/user/model-schemas/index.ts
  apps/api/src/user/repositories/account-deletion-token/account-deletion-token.repository.integration.ts
  apps/api/src/user/repositories/account-deletion-token/account-deletion-token.repository.ts
  apps/api/src/user/repositories/user-template/user-template.repository.ts
  apps/api/src/user/routes/account-deletion/account-deletion.router.ts
  apps/api/src/user/routes/index.ts
  apps/api/src/user/services/account-deletion-eligibility/account-deletion-eligibility.service.spec.ts
  apps/api/src/user/services/account-deletion-eligibility/account-deletion-eligibility.service.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.integration.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.spec.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.ts
  apps/api/src/user/services/purge-deleted-account/purge-deleted-account.handler.spec.ts
  apps/api/src/user/services/purge-deleted-account/purge-deleted-account.handler.ts
  apps/api/src/workload-abuse/repositories/workload-probe-evidence/workload-probe-evidence.repository.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/account-deletion.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(user): bind the forfeit to the acknowledged amount
  apps/api/src/user/model-schemas/account-deletion-token/account-deletion-token.schema.ts
  apps/api/src/user/repositories/account-deletion-token/account-deletion-token.repository.integration.ts
  apps/api/src/user/repositories/account-deletion-token/account-deletion-token.repository.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.integration.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.spec.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.ts
  apps/api/src/user/services/purge-deleted-account/purge-deleted-account.handler.spec.ts
  apps/api/src/user/services/purge-deleted-account/purge-deleted-account.handler.ts
  apps/api/test/functional/account-deletion.spec.ts
Due: api

chore(user): renumber the account deletion migration to 0069
  apps/api/drizzle/0069_account_deletion_tokens.sql
  apps/api/drizzle/meta/0069_snapshot.json
  apps/api/drizzle/meta/_journal.json
Due: api

feat(deployment): redesign the new deployment page (#4209)
  apps/deploy-web/public/images/centos.png
  apps/deploy-web/public/images/debian.png
  apps/deploy-web/public/images/docker-logo.png
  apps/deploy-web/public/images/new-deployment/byo-container.webp
  apps/deploy-web/public/images/new-deployment/linux-machine.webp
  apps/deploy-web/public/images/suse.png
  apps/deploy-web/public/images/ubuntu.png
  apps/deploy-web/public/images/vm.png
  apps/deploy-web/src/components/new-deployment/AgentModePanel/AgentModePanel.spec.tsx
  apps/deploy-web/src/components/new-deployment/AgentModePanel/AgentModePanel.tsx
  apps/deploy-web/src/components/new-deployment/DeployOptionBox.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentPage/NewDeploymentPage.spec.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentPage/NewDeploymentPage.tsx
  apps/deploy-web/src/components/new-deployment/StartFromScratchCard/StartFromScratchCard.spec.tsx
  apps/deploy-web/src/components/new-deployment/StartFromScratchCard/StartFromScratchCard.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.spec.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.tsx
  apps/deploy-web/src/components/new-deployment/UploadSdlButton/UploadSdlButton.spec.tsx
  apps/deploy-web/src/components/new-deployment/UploadSdlButton/UploadSdlButton.tsx
  apps/deploy-web/src/components/templates/TemplateBox.spec.tsx
  apps/deploy-web/src/components/templates/TemplateBox.tsx
  apps/deploy-web/src/components/templates/templateGalleryModel.spec.ts
  apps/deploy-web/src/components/templates/templateGalleryModel.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/tests/ui/deploy-from-a-template.spec.ts
  apps/deploy-web/tests/ui/onboarding-gate.spec.ts
  apps/deploy-web/tests/ui/pages/ConfigureDeploymentPage.ts
  apps/deploy-web/tests/ui/pages/DeployPage.tsx
Due: deploy-web

fix(styling): size the deployments header bar like the other pages
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
Due: deploy-web

fix(provider): show the page loading bar while providers load
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.spec.tsx
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.tsx
  apps/deploy-web/src/queries/queryKeys.ts
Due: deploy-web

fix(provider): link "Become a provider" to the provider playbook (#4215)
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.spec.tsx
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.tsx
Due: deploy-web

fix(template): drop the summary repeated above the template readme (#4216)
  apps/deploy-web/src/components/templates/TemplateDetail.spec.tsx
  apps/deploy-web/src/components/templates/TemplateDetail.tsx
Due: deploy-web

fix(template): list a gpu model once whatever its case
  apps/api/src/template/utils/template-hardware/template-hardware.spec.ts
  apps/api/src/template/utils/template-hardware/template-hardware.ts
Due: api

test(deployment): match the template page title, not the readme heading
  apps/deploy-web/tests/ui/deploy-from-a-template.spec.ts
  apps/deploy-web/tests/ui/pages/TemplateDetailPage.ts
Due: deploy-web

test(deployment): match the template page title, not the readme heading (#4218)
  apps/deploy-web/tests/ui/deploy-from-a-template.spec.ts
  apps/deploy-web/tests/ui/pages/TemplateDetailPage.ts
Due: deploy-web

feat(styling): cap settings content width and add a system theme option (#4210)
  apps/deploy-web/src/components/layout/SettingsLayout/SettingsLayout.tsx
  apps/deploy-web/src/components/layout/TopNav/ThemeToggle.spec.tsx
  apps/deploy-web/src/components/layout/TopNav/ThemeToggle.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNavAccountMenu.tsx
Due: deploy-web

feat(template): serve each template's hardware profile in the gallery list (#4211)
  apps/api/src/template/http-schemas/template.schema.ts
  apps/api/src/template/services/template-gallery/template-gallery.service.spec.ts
  apps/api/src/template/services/template-gallery/template-gallery.service.ts
  apps/api/src/template/types/template.ts
  apps/api/src/template/utils/template-hardware/template-hardware.spec.ts
  apps/api/src/template/utils/template-hardware/template-hardware.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  packages/http-sdk/src/template/template-http.service.ts
Due: api

fix(user): guard the delete dialog against a missing email or message
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountDialog.spec.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountDialog.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountSection.spec.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountSection.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
Due: deploy-web

feat(user): let users delete their account from settings
  apps/deploy-web/src/components/user/AccountDeletedNotice/AccountDeletedNotice.spec.tsx
  apps/deploy-web/src/components/user/AccountDeletedNotice/AccountDeletedNotice.tsx
  apps/deploy-web/src/components/user/ConfirmAccountDeletion/ConfirmAccountDeletion.spec.tsx
  apps/deploy-web/src/components/user/ConfirmAccountDeletion/ConfirmAccountDeletion.tsx
  apps/deploy-web/src/components/user/ConfirmAccountDeletion/useDeletionLinkToken.spec.ts
  apps/deploy-web/src/components/user/ConfirmAccountDeletion/useDeletionLinkToken.ts
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountDialog.spec.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountDialog.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountSection.spec.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountSection.tsx
  apps/deploy-web/src/components/user/DeleteAccount/useAccountDeletionEligibility.spec.ts
  apps/deploy-web/src/components/user/DeleteAccount/useAccountDeletionEligibility.ts
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/pages/user/confirm-delete/index.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

feat(deployment): hold the provider choice while no provider can host the configuration
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.tsx
  apps/deploy-web/src/queries/useScreenedProviders.spec.tsx
  apps/deploy-web/src/queries/useScreenedProviders.ts
Due: deploy-web

feat(deployment): let a deployment close finish in the background
  apps/api/src/activity/controllers/activity/activity.controller.ts
  apps/api/src/activity/http-schemas/activity.schema.ts
  apps/api/src/activity/repositories/activity/activity.repository.ts
  apps/api/src/activity/routes/activity.router.ts
  apps/api/src/activity/services/activity/activity.service.spec.ts
  apps/api/src/activity/services/activity/activity.service.ts
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.handler.integration.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.handler.spec.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.handler.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.job.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/activities.spec.ts
  apps/api/test/functional/deployments.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(user): let users delete their account from settings (#4208)
  apps/deploy-web/src/components/user/AccountDeletedNotice/AccountDeletedNotice.spec.tsx
  apps/deploy-web/src/components/user/AccountDeletedNotice/AccountDeletedNotice.tsx
  apps/deploy-web/src/components/user/ConfirmAccountDeletion/ConfirmAccountDeletion.spec.tsx
  apps/deploy-web/src/components/user/ConfirmAccountDeletion/ConfirmAccountDeletion.tsx
  apps/deploy-web/src/components/user/ConfirmAccountDeletion/useDeletionLinkToken.spec.ts
  apps/deploy-web/src/components/user/ConfirmAccountDeletion/useDeletionLinkToken.ts
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountDialog.spec.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountDialog.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountSection.spec.tsx
  apps/deploy-web/src/components/user/DeleteAccount/DeleteAccountSection.tsx
  apps/deploy-web/src/components/user/DeleteAccount/useAccountDeletionEligibility.spec.ts
  apps/deploy-web/src/components/user/DeleteAccount/useAccountDeletionEligibility.ts
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/pages/user/confirm-delete/index.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

fix(styling): align the providers and deployments header bars (#4217)
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.spec.tsx
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.tsx
  apps/deploy-web/src/queries/queryKeys.ts
Due: deploy-web

feat(template): show each template's hardware on its gallery card
  apps/deploy-web/src/components/templates/TemplateCard/TemplateCard.spec.tsx
  apps/deploy-web/src/components/templates/TemplateCard/TemplateCard.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.tsx
Due: deploy-web

feat(template): show each template's hardware on its gallery card (#4212)
  apps/deploy-web/src/components/templates/TemplateCard/TemplateCard.spec.tsx
  apps/deploy-web/src/components/templates/TemplateCard/TemplateCard.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.tsx
Due: deploy-web

feat(user): add one-click unsubscribe from product update emails
  apps/api/drizzle/0070_user_product_updates_unsubscribed_at.sql
  apps/api/drizzle/meta/0070_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/app/console.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/src/user/config/env.config.ts
  apps/api/src/user/controllers/product-update-unsubscription/product-update-unsubscription.controller.ts
  apps/api/src/user/lib/product-update-unsubscribe-token/product-update-unsubscribe-token.spec.ts
  apps/api/src/user/lib/product-update-unsubscribe-token/product-update-unsubscribe-token.ts
  apps/api/src/user/model-schemas/user/user.schema.ts
  apps/api/src/user/providers/config.provider.ts
  apps/api/src/user/routes/index.ts
  apps/api/src/user/routes/product-update-unsubscriptions/product-update-unsubscriptions.router.ts
  apps/api/src/user/schemas/product-update-unsubscription.schema.ts
  apps/api/src/user/services/product-update-unsubscription/product-update-unsubscription.service.spec.ts
  apps/api/src/user/services/product-update-unsubscription/product-update-unsubscription.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/product-update-unsubscriptions.spec.ts
  apps/api/test/seeders/user.seeder.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(user): add one-click unsubscribe from product update emails (#4213)
  apps/api/drizzle/0070_user_product_updates_unsubscribed_at.sql
  apps/api/drizzle/meta/0070_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/app/console.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/src/user/config/env.config.ts
  apps/api/src/user/controllers/product-update-unsubscription/product-update-unsubscription.controller.ts
  apps/api/src/user/lib/product-update-unsubscribe-token/product-update-unsubscribe-token.spec.ts
  apps/api/src/user/lib/product-update-unsubscribe-token/product-update-unsubscribe-token.ts
  apps/api/src/user/model-schemas/user/user.schema.ts
  apps/api/src/user/providers/config.provider.ts
  apps/api/src/user/routes/index.ts
  apps/api/src/user/routes/product-update-unsubscriptions/product-update-unsubscriptions.router.ts
  apps/api/src/user/schemas/product-update-unsubscription.schema.ts
  apps/api/src/user/services/product-update-unsubscription/product-update-unsubscription.service.spec.ts
  apps/api/src/user/services/product-update-unsubscription/product-update-unsubscription.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/product-update-unsubscriptions.spec.ts
  apps/api/test/seeders/user.seeder.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(deployment): hold the provider choice while no provider can host the configuration (#4219)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.tsx
  apps/deploy-web/src/queries/useScreenedProviders.spec.tsx
  apps/deploy-web/src/queries/useScreenedProviders.ts
Due: deploy-web

feat(user): add a page to unsubscribe from product update emails
  apps/deploy-web/src/components/user/ProductUpdatesUnsubscribe/ProductUpdatesUnsubscribe.spec.tsx
  apps/deploy-web/src/components/user/ProductUpdatesUnsubscribe/ProductUpdatesUnsubscribe.tsx
  apps/deploy-web/src/pages/unsubscribe/index.tsx
Due: deploy-web

feat(provider): report each screened provider's free gpus for the requested spec
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/queries/usePlacementOffers.ts
  apps/deploy-web/tests/seeders/screenedProvider.ts
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.spec.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.ts
  apps/provider-inventory/src/types/inventory.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

feat(provider): report each screened provider's free gpus for the requested spec (#4220)
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/queries/usePlacementOffers.ts
  apps/deploy-web/tests/seeders/screenedProvider.ts
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.spec.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.ts
  apps/provider-inventory/src/types/inventory.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

feat(user): add a page to unsubscribe from product update emails (#4214)
  apps/deploy-web/src/components/user/ProductUpdatesUnsubscribe/ProductUpdatesUnsubscribe.spec.tsx
  apps/deploy-web/src/components/user/ProductUpdatesUnsubscribe/ProductUpdatesUnsubscribe.tsx
  apps/deploy-web/src/pages/unsubscribe/index.tsx
Due: deploy-web

feat(deployment): show free gpus next to providers in the availability pane
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuAvailability/gpuAvailability.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuAvailability/gpuAvailability.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/useGpuAvailability/useGpuAvailability.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/useGpuAvailability/useGpuAvailability.ts
  apps/deploy-web/src/queries/useScreenedProviders.spec.tsx
  apps/deploy-web/src/queries/useScreenedProviders.ts
  apps/deploy-web/src/utils/providerUtils.spec.ts
  apps/deploy-web/src/utils/providerUtils.ts
Due: deploy-web

feat(deployment): show free gpus next to providers in the availability pane (#4221)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuAvailability/gpuAvailability.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuAvailability/gpuAvailability.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/useGpuAvailability/useGpuAvailability.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/useGpuAvailability/useGpuAvailability.ts
  apps/deploy-web/src/queries/useScreenedProviders.spec.tsx
  apps/deploy-web/src/queries/useScreenedProviders.ts
  apps/deploy-web/src/utils/providerUtils.spec.ts
  apps/deploy-web/src/utils/providerUtils.ts
Due: deploy-web

fix(deployment): count gpu picker providers the way the availability pane does
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuVariants/gpuVariants.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuVariants/gpuVariants.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/useScreenedGpuModelCount/useScreenedGpuModelCount.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/useScreenedGpuModelCount/useScreenedGpuModelCount.ts
Due: deploy-web

fix(deployment): count gpu picker providers the way the availability pane does (#4222)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuVariants/gpuVariants.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuVariants/gpuVariants.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/useScreenedGpuModelCount/useScreenedGpuModelCount.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/useScreenedGpuModelCount/useScreenedGpuModelCount.ts
Due: deploy-web

feat(deployment): label the configure page's back control "Back to deployments"
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspaceHeader/ConfigureWorkspaceHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspaceHeader/ConfigureWorkspaceHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LeaveConfigureButton/LeaveConfigureButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LeaveConfigureButton/LeaveConfigureButton.tsx
Due: deploy-web

feat(deployment): label the configure page's back control "Back to deployments" (#4224)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspaceHeader/ConfigureWorkspaceHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspaceHeader/ConfigureWorkspaceHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LeaveConfigureButton/LeaveConfigureButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LeaveConfigureButton/LeaveConfigureButton.tsx
Due: deploy-web

fix(deployment): fund a new lease to a short initial runway instead of 48h
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.ts
Due: api

fix(styling): align page headers with the page content width
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/layout/SettingsLayout/SettingsLayout.tsx
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.tsx
Due: deploy-web

fix(deployment): answer a joined background close with its queued job's activity
  apps/api/src/activity/repositories/activity/activity.repository.ts
  apps/api/src/activity/services/activity/activity.service.spec.ts
  apps/api/src/activity/services/activity/activity.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.integration.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api
