Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix: update tailscale timeout (#1262)
  .github/workflows/reusable-deploy-k8s.yml
Due: none

chore: update tailscale download with cache
  .github/workflows/reusable-deploy-k8s.yml
Due: none

chore: update tailscale download with cache (#1263)
  .github/workflows/reusable-deploy-k8s.yml
Due: none

feat(config): specifies backend urls as relative paths
  apps/deploy-web/env/.env
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.staging
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/config/ws.config.ts
  apps/deploy-web/src/context/BackgroundTaskProvider/BackgroundTaskProvider.tsx
  apps/deploy-web/src/hooks/useProviderWebsocket.ts
Due: deploy-web

fix: recreate GRPC channel when creating client
  apps/indexer/src/providers/statusEndpointHandlers/grpc.ts
Due: indexer

feat(notifications): improves chain polling reliability
  apps/notifications/drizzle/0002_tiresome_power_man.sql
  apps/notifications/drizzle/meta/0002_snapshot.json
  apps/notifications/drizzle/meta/_journal.json
  apps/notifications/package.json
  apps/notifications/src/chain-events/chain-events.module.ts
  apps/notifications/src/chain-events/config/env.config.ts
  apps/notifications/src/chain-events/model-schemas/block-cursor.schema.ts
  apps/notifications/src/chain-events/model-schemas/index.ts
  apps/notifications/src/chain-events/providers/stargate-client/stargate-client.provider.ts
  apps/notifications/src/chain-events/repositories/block-cursor/block-cursor.repository.ts
  apps/notifications/src/chain-events/services/blockchain-client/blockchain-client.service.ts
  apps/notifications/src/chain-events/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/chain-events/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/chain-events/services/chain-events/chain-events.service.ts
  apps/notifications/src/main.ts
  package-lock.json
Due: notifications

feat(notifications): adds a value polling function
  apps/notifications/src/chain-events/repositories/block-cursor/block-cursor.repository.ts
  apps/notifications/src/chain-events/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/lib/value-backoff/value-backoff.spec.ts
  apps/notifications/src/lib/value-backoff/value-backoff.ts
Due: notifications

feat(notifications): improves app shutdown
  apps/notifications/src/chain-events/config/env.config.ts
  apps/notifications/src/chain-events/repositories/block-cursor/block-cursor.repository.ts
  apps/notifications/src/chain-events/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/common/common.module.ts
  apps/notifications/src/common/services/shutdown/shutdown.service.ts
  apps/notifications/src/lib/value-backoff/value-backoff.ts
  apps/notifications/src/main.ts
Due: notifications

fix(deployment): forward pagination params to rpc
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/services/deployment/deployment.service.ts
  apps/api/test/functional/deployments.spec.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
Due: api

chore(provider): mock testing and scripts added
  apps/provider-console/TESTING.md
  apps/provider-console/__mocks__/browser-env-config-mock.js
  apps/provider-console/__mocks__/fileMock.js
  apps/provider-console/__mocks__/styleMock.js
  apps/provider-console/__mocks__/ui-components-mock.js
  apps/provider-console/__mocks__/ui-mock.js
  apps/provider-console/babel.config.js
  apps/provider-console/jest.config.js
  apps/provider-console/jest.setup.js
  apps/provider-console/package.json
  apps/provider-console/scripts/check-tests.js
  apps/provider-console/setup-test-env.d.ts
  apps/provider-console/src/components/shared/__tests__/ActivityLogDetails.test.tsx
  apps/provider-console/src/components/shared/__tests__/LinearLoadingSkeleton.test.tsx
  apps/provider-console/src/components/shared/__tests__/Title.test.tsx
  apps/provider-console/src/hooks/__tests__/useWhen.test.tsx
  package-lock.json
Due: provider-console

feat(notifications): covers chain poller
  apps/notifications/src/chain-events/chain-events.module.ts
  apps/notifications/src/chain-events/config/env.config.ts
  apps/notifications/src/chain-events/config/index.ts
  apps/notifications/src/chain-events/config/polling.config.ts
  apps/notifications/src/chain-events/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/chain-events/services/chain-events-poller/chain-events-poller.service.ts
Due: notifications

chore(notifications): removes redundant deps
  apps/notifications/package.json
  package-lock.json
Due: notifications

test(notifications): covers shutdown service
  apps/notifications/src/common/services/shutdown/shutdown.service.spec.ts
Due: notifications

refactor(notifications): simplifies shutdown sub
  apps/notifications/src/main.ts
Due: notifications

fix(notifications): sets updatedAt on updates
  apps/notifications/src/alert/repositories/deployment-balance-alert/deployment-balance-alert.repository.ts
  apps/notifications/src/chain-events/repositories/block-cursor/block-cursor.repository.ts
Due: notifications

fix(deployment): fix deployment list endpoint with pagination
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/services/deployment/deployment.service.ts
  apps/api/test/functional/deployments.spec.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
Due: api

fix(deployment): add promise pool to lease query
  apps/api/src/deployment/services/deployment/deployment.service.ts
Due: api

feat(notifications): improves chain polling reliability
  apps/notifications/drizzle/0002_tiresome_power_man.sql
  apps/notifications/drizzle/meta/0002_snapshot.json
  apps/notifications/drizzle/meta/_journal.json
  apps/notifications/package.json
  apps/notifications/src/alert/repositories/deployment-balance-alert/deployment-balance-alert.repository.ts
  apps/notifications/src/chain-events/chain-events.module.ts
  apps/notifications/src/chain-events/config/env.config.ts
  apps/notifications/src/chain-events/config/index.ts
  apps/notifications/src/chain-events/config/polling.config.ts
  apps/notifications/src/chain-events/model-schemas/block-cursor.schema.ts
  apps/notifications/src/chain-events/model-schemas/index.ts
  apps/notifications/src/chain-events/providers/stargate-client/stargate-client.provider.ts
  apps/notifications/src/chain-events/repositories/block-cursor/block-cursor.repository.ts
  apps/notifications/src/chain-events/services/blockchain-client/blockchain-client.service.ts
  apps/notifications/src/chain-events/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/chain-events/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/chain-events/services/chain-events/chain-events.service.spec.ts
  apps/notifications/src/chain-events/services/chain-events/chain-events.service.ts
  apps/notifications/src/common/common.module.ts
  apps/notifications/src/common/services/shutdown/shutdown.service.spec.ts
  apps/notifications/src/common/services/shutdown/shutdown.service.ts
  apps/notifications/src/lib/value-backoff/value-backoff.spec.ts
  apps/notifications/src/lib/value-backoff/value-backoff.ts
  apps/notifications/src/main.ts
  package-lock.json
Due: notifications

refactor: update react-query
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/remote-deploy/RemoteRepositoryDeployManager.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/queries/useBitBucketQuery.ts
  apps/deploy-web/src/queries/useGithubQuery.ts
  apps/deploy-web/src/queries/useGitlabQuery.ts
  apps/deploy-web/src/queries/useGrantsQuery.ts
  apps/deploy-web/src/queries/useLeaseQuery.ts
  apps/deploy-web/src/queries/useManagedWalletQuery.ts
  apps/deploy-web/src/queries/useMarketData.ts
  apps/deploy-web/src/queries/useSettings.ts
  apps/deploy-web/src/queries/useStripePricesQuery.ts
Due: deploy-web

refactor: drop react-query 3
  apps/deploy-web/package.json
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/components/providers/ProviderRawData/ProviderRawData.spec.tsx
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/queries/queryClient.ts
  apps/deploy-web/src/queries/useBitBucketQuery.spec.tsx
  apps/deploy-web/src/queries/useBitBucketQuery.ts
  apps/deploy-web/src/queries/useGithubQuery.spec.tsx
  apps/deploy-web/src/queries/useGitlabQuery.spec.tsx
  apps/deploy-web/src/queries/useGitlabQuery.ts
  apps/deploy-web/src/queries/useGrantsQuery.spec.tsx
  apps/deploy-web/src/queries/useGrantsQuery.ts
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/queries/useLeaseQuery.ts
  apps/deploy-web/src/queries/useManagedWalletQuery.spec.tsx
  apps/deploy-web/src/queries/useMarketData.spec.tsx
  apps/deploy-web/src/queries/useSettings.spec.tsx
  apps/deploy-web/src/queries/useStripePricesQuery.spec.tsx
  apps/deploy-web/src/utils/deploymentDetailUtils.spec.ts
  apps/deploy-web/tests/unit/query-client.tsx
  apps/deploy-web/tests/unit/token.tsx
  package-lock.json
Due: deploy-web

fix(deployment): pr fixes
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/services/deployment/deployment.service.ts
  apps/api/test/functional/deployments.spec.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
Due: api

refactor: drop react-query 3 (#1244)
  apps/deploy-web/package.json
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/providers/ProviderRawData/ProviderRawData.spec.tsx
  apps/deploy-web/src/components/remote-deploy/RemoteRepositoryDeployManager.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/queries/queryClient.ts
  apps/deploy-web/src/queries/useBitBucketQuery.spec.tsx
  apps/deploy-web/src/queries/useBitBucketQuery.ts
  apps/deploy-web/src/queries/useGithubQuery.spec.tsx
  apps/deploy-web/src/queries/useGithubQuery.ts
  apps/deploy-web/src/queries/useGitlabQuery.spec.tsx
  apps/deploy-web/src/queries/useGitlabQuery.ts
  apps/deploy-web/src/queries/useGrantsQuery.spec.tsx
  apps/deploy-web/src/queries/useGrantsQuery.ts
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/queries/useLeaseQuery.ts
  apps/deploy-web/src/queries/useManagedWalletQuery.spec.tsx
  apps/deploy-web/src/queries/useManagedWalletQuery.ts
  apps/deploy-web/src/queries/useMarketData.spec.tsx
  apps/deploy-web/src/queries/useMarketData.ts
  apps/deploy-web/src/queries/useSettings.spec.tsx
  apps/deploy-web/src/queries/useSettings.ts
  apps/deploy-web/src/queries/useStripePricesQuery.spec.tsx
  apps/deploy-web/src/queries/useStripePricesQuery.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.spec.ts
  apps/deploy-web/tests/unit/query-client.tsx
  apps/deploy-web/tests/unit/token.tsx
  package-lock.json
Due: deploy-web

fix: recreate GRPC channel when creating client (#1264)
  apps/indexer/src/providers/statusEndpointHandlers/grpc.ts
Due: indexer

fix(deployment): fix deployment list endpoint
  apps/api/env/.env
  apps/api/src/deployment/services/deployment/deployment.service.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
Due: api

test: add functional test for /v1/trial-providers
  apps/api/test/functional/trial-providers.spec.ts
  apps/api/test/services/test-database.service.ts
  apps/api/test/setup-functional-tests.ts
Due: api

feat: load trial providers with resource info, can filter for trial-registered
  apps/api/env/.env.functional.test
  apps/api/src/deployment/controllers/provider/provider.controller.ts
  apps/api/src/deployment/repositories/provider/provider.repository.ts
  apps/api/src/deployment/services/trial-providers/trial-providers.service.ts
  apps/api/src/routes/v1/trialProviders.ts
  apps/api/src/types/provider.ts
  apps/api/test/functional/trial-providers.spec.ts
  apps/api/test/seeders/provider-snapshot.seeder.ts
  apps/api/test/seeders/provider.seeder.ts
  apps/api/test/services/test-database.service.ts
  apps/api/test/setup-functional-tests.ts
Due: api

fix(deployment): remove parse
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
Due: api

feat(deployment): managed api all deployments (#1243)
  apps/api/env/.env
  apps/api/examples/lease-flow.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment/deployment.service.ts
  apps/api/test/functional/deployments.spec.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
Due: api

refactor(auth): use react-table for deployment grants
  apps/deploy-web/package.json
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable.tsx
  apps/deploy-web/src/components/authorizations/GranterRow.tsx
  package-lock.json
  packages/ui/components/custom-pagination.tsx
Due: deploy-web

fix(deployment): dark logos template list
  apps/deploy-web/public/images/astrojs-dark.svg
  apps/deploy-web/public/images/github-dark.svg
  apps/deploy-web/public/images/nextjs-dark.svg
  apps/deploy-web/src/components/new-deployment/DeployOptionBox.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.tsx
Due: deploy-web

fix(billing): fix react query console error return undefined
  apps/deploy-web/src/queries/useManagedWalletQuery.ts
  apps/deploy-web/src/services/managed-wallet-http/managed-wallet-http.service.ts
  packages/http-sdk/src/managed-wallet-http/managed-wallet-http.service.ts
Due: deploy-web

fix(billing): handle insufficient funds error and improve error handling
  apps/api/src/billing/config/index.ts
  apps/api/src/billing/services/billing-config/billing-config.service.ts
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  packages/net/src/generated/netConfigData.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
