Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

chore(ci): report setup failures in the e2e slack alert and job summary
  .github/actions/console-web-ui-testing/action.yml
Due: none

fix(deployment): make the janitor's never-throws promise structural
  apps/deploy-web/tests/ui/actions/deployment-janitor.ts
  apps/deploy-web/tests/ui/actions/deployment-janitor.unit.spec.ts
Due: deploy-web

chore(ci): match the slack alert body to whether the e2e tests ran
  .github/actions/console-web-ui-testing/action.yml
  .github/actions/slack-tests-failed-notification/action.yml
Due: none

chore(ci): bound the deploy test job and its apt install (#3613)
  .github/actions/console-web-ui-testing/action.yml
  .github/actions/slack-tests-failed-notification/action.yml
  .github/workflows/reusable-deploy-test.yml
Due: none

fix(deployment): coerce the provider's null lease-status arrays at the query boundary
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.tsx
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/queries/useLeaseQuery.ts
Due: deploy-web

fix(network): bound the blockchain status request with a timeout
  apps/deploy-web/package.json
  apps/deploy-web/src/context/BlockchainStatusProvider/BlockchainStatusProvider.spec.tsx
  apps/deploy-web/src/context/BlockchainStatusProvider/BlockchainStatusProvider.tsx
  package-lock.json
Due: deploy-web

fix(deployment): coerce the provider's null lease-status arrays at the query boundary (#3616)
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.tsx
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/queries/useLeaseQuery.ts
Due: deploy-web

fix(deployment): keep back controls in app when there is no in-app history
  apps/deploy-web/src/hooks/useHasInAppHistory.spec.ts
  apps/deploy-web/src/hooks/useHasInAppHistory.ts
  apps/deploy-web/src/store/routeStore.ts
Due: deploy-web

test(network): assert the blockchain status timeout is finite
  apps/deploy-web/src/context/BlockchainStatusProvider/BlockchainStatusProvider.spec.tsx
Due: deploy-web

refactor(deployment): apply designer feedback to the redesigned detail page
  apps/deploy-web/src/components/alerts/NotificationChannelSelectForm/NotificationChannelSelect.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentDangerZone.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  packages/ui/components/button.tsx
Due: deploy-web

fix(deployment): disable Redeploy while a manifest update is in flight
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
Due: deploy-web

fix(deployment): disable Redeploy while a manifest update is sending
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
Due: deploy-web

refactor(deployment): apply designer feedback to the redesigned detail page (#3617)
  apps/deploy-web/src/components/alerts/NotificationChannelSelectForm/NotificationChannelSelect.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentDangerZone.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  packages/ui/components/button.tsx
Due: deploy-web

fix(deployment): close deployments the e2e run leaves behind (#3612)
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/tests/ui/actions/deploy.ts
  apps/deploy-web/tests/ui/actions/deployment-janitor.ts
  apps/deploy-web/tests/ui/actions/deployment-janitor.unit.spec.ts
  apps/deploy-web/tests/ui/configure-deployment-flow.spec.ts
  apps/deploy-web/tests/ui/deployment-detail-preview.spec.ts
  apps/deploy-web/tests/ui/fixture/base-test.ts
  apps/deploy-web/tests/ui/fixture/global-teardown.ts
  apps/deploy-web/tests/ui/managed-wallet-alerts.spec.ts
  apps/deploy-web/tests/ui/onboarding-journey.spec.ts
Due: deploy-web

feat(deployment): show a reclaiming badge on detail placements and leases
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/deployments/ReclaimingBadge/ReclaimingBadge.spec.tsx
  apps/deploy-web/src/components/deployments/ReclaimingBadge/ReclaimingBadge.tsx
Due: deploy-web

refactor(deployment): move the reclamation banner below the detail header
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailLegacy.tsx
  apps/deploy-web/src/components/deployments/ReclamationBanner/ReclamationBanner.tsx
Due: deploy-web

test(deployment): assert the reclaiming badge stays hidden once a lease is reclaimed
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
Due: deploy-web

feat(deployment): move the reclamation banner and show reclaiming badges (#3618)
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailLegacy.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/deployments/ReclaimingBadge/ReclaimingBadge.spec.tsx
  apps/deploy-web/src/components/deployments/ReclaimingBadge/ReclaimingBadge.tsx
  apps/deploy-web/src/components/deployments/ReclamationBanner/ReclamationBanner.tsx
Due: deploy-web

refactor(billing): rename the auto top-up success naming to auto recharge
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/auto-recharge-succeeded/auto-recharge-succeeded.handler.spec.ts
  apps/api/src/app/services/auto-recharge-succeeded/auto-recharge-succeeded.handler.ts
  apps/api/src/billing/events/auto-recharge-succeeded.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.integration.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.spec.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/notifications/services/notification-templates/auto-recharge-succeeded-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/auto-recharge-succeeded-notification.ts
Due: api

fix(billing): refuse to re-settle refunded transactions on webhook redelivery
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.integration.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.ts
Due: api

feat(billing): notify user when an auto recharge succeeds (#3577)
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/auto-recharge-succeeded/auto-recharge-succeeded.handler.spec.ts
  apps/api/src/app/services/auto-recharge-succeeded/auto-recharge-succeeded.handler.ts
  apps/api/src/billing/events/auto-recharge-succeeded.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.integration.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.spec.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/notifications/services/notification-templates/auto-recharge-succeeded-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/auto-recharge-succeeded-notification.ts
Due: api

fix(deployment): prevent duplicate auto-funding of draining deployments under concurrency (#3611)
  apps/api/drizzle/0036_mushy_malcolm_colcord.sql
  apps/api/drizzle/meta/0036_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

refactor(deployment): align detail page width with the deployment list
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
Due: deploy-web

feat(billing): store the auto reload mode on the wallet setting
  apps/api/drizzle/0037_adorable_quasar.sql
  apps/api/drizzle/meta/0037_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.integration.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/wallet-settings.spec.ts
  apps/api/test/seeders/wallet-setting.seeder.ts
  packages/console-api-types/src/schema.d.ts
Due: api

refactor(deployment): align detail page width with the deployment list (#3621)
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
Due: deploy-web

fix(billing): record the reload mode on auto top-up failures
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/swagger/openapi.json
Due: api

fix(config): make the openapi spec regeneration reproducible
  .prettierignore
  apps/api/.prettierignore
  apps/api/package.json
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/swagger-gen-app.ts
  apps/api/swagger/openapi.json
Due: api

fix(billing): describe the auto reload mode default on the create path
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  packages/console-api-types/src/schema.d.ts
Due: api

docs(billing): state why the fixed-threshold flag stays registered in the api
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
Due: api

feat(billing): let users pick the auto top-up mode in billing settings
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/AccountBalanceOverview.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/AccountBalanceOverview.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.spec.ts
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.ts
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.tsx
  apps/deploy-web/src/components/billing-usage/useAutoReloadMode.spec.ts
  apps/deploy-web/src/components/billing-usage/useAutoReloadMode.ts
  apps/deploy-web/src/queries/useWalletSettingsQueries.tsx
Due: deploy-web

fix(deployment): restore sandbox server url in openapi spec
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/swagger/openapi.json
Due: api

fix(deployment): validate deposit before trial reclaim and guard default deposit
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

feat(deployment): use a default deposit behind the auto-recharge flag
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(deployment): label deposit-deployment amount as whole tokens
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(deployment): document deposit amounts in dollars, not tokens
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(deployment): restore trailing newline in openapi spec
  apps/api/swagger/openapi.json
Due: api

chore: adds local mock server for gcp kms
  packages/docker/.env.sandbox.docker-compose-dev
  packages/docker/docker-compose.dev.yml
  packages/docker/script/seed-gcp-kms-mock.sh
Due: none

chore: adds local mock server for gcp kms (#3625)
  packages/docker/.env.sandbox.docker-compose-dev
  packages/docker/docker-compose.dev.yml
  packages/docker/script/seed-gcp-kms-mock.sh
Due: none
