Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix: replace @injectable() with @singleton() in multiple controllers and services
  apps/api/src/gpu/controllers/gpu.controller.ts
  apps/api/src/gpu/services/gpu.service.ts
  apps/api/src/healthz/controllers/healthz/healthz.controller.ts
  apps/api/src/healthz/services/healthz/healthz.service.ts
  apps/api/src/template/controllers/template/template.controller.ts
Due: api

fix: tests
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
Due: deploy-web

fix(deployment): deployment deposit onboarding (#2499)
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
Due: deploy-web

fix: add proper logging for ssr
  apps/stats-web/src/app/addresses/[address]/page.tsx
  apps/stats-web/src/app/blocks/[height]/page.tsx
  apps/stats-web/src/app/transactions/[hash]/page.tsx
  apps/stats-web/src/context/FlagProvider/FlagProvider.tsx
  apps/stats-web/src/instrumentation.ts
Due: stats-web

fix: add otel stats web
  apps/stats-web/package.json
  package-lock.json
Due: stats-web

chore: adds adapter option to createHttpClient
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/notifications/src/modules/alert/providers/http-sdk.provider.ts
  packages/http-sdk/src/utils/httpClient.ts
Due: api, deploy-web, notifications

chore: renames variable
  packages/http-sdk/src/utils/createFetchAdapter/createFetchAdapter.ts
Due: none

refactor: adds support for automatic cancellation of unauthorized requests
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.tsx
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/createFallbackableHttpClient/createFallbackableHttpClient.ts
  apps/deploy-web/src/services/createFetchAdapter/createFetchAdapter.ts
  apps/deploy-web/src/services/error-handler/error-handler.service.ts
  package-lock.json
  packages/http-sdk/package.json
  packages/http-sdk/src/index.ts
  packages/http-sdk/src/utils/createFetchAdapter/createFetchAdapter.spec.ts
  packages/http-sdk/src/utils/createFetchAdapter/createFetchAdapter.ts
  packages/http-sdk/src/utils/httpClient.ts
Due: deploy-web

chore: adjusts retry backoff to have dynamic retry delay
  packages/http-sdk/src/utils/createFetchAdapter/createFetchAdapter.ts
Due: none

chore: fixes ??
  packages/http-sdk/src/utils/createFetchAdapter/createFetchAdapter.ts
Due: none

chore: ensure Retry-After is a positive value
  packages/http-sdk/src/utils/createFetchAdapter/createFetchAdapter.ts
Due: none

refactor: adds support for automatic cancellation of unauthorized requests (#2491)
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.tsx
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/createFallbackableHttpClient/createFallbackableHttpClient.ts
  apps/deploy-web/src/services/createFetchAdapter/createFetchAdapter.ts
  apps/deploy-web/src/services/error-handler/error-handler.service.ts
  apps/notifications/src/modules/alert/providers/http-sdk.provider.ts
  package-lock.json
  packages/http-sdk/package.json
  packages/http-sdk/src/index.ts
  packages/http-sdk/src/utils/createFetchAdapter/createFetchAdapter.spec.ts
  packages/http-sdk/src/utils/createFetchAdapter/createFetchAdapter.ts
  packages/http-sdk/src/utils/httpClient.ts
Due: api, deploy-web, notifications

chore: adds default project description to CLAUDE.md
  .claude/instructions/general-projects-description.manual.md
  .helm/console-api-staging-sandbox-values.yaml
  CLAUDE.md
  script/generate-claude-md.ts
Due: none

refactor: migrates some parts of indexer to strict types
  apps/indexer/package.json
  apps/indexer/src/chain/nodeAccessor.ts
  apps/indexer/src/chain/nodeInfo.ts
  apps/indexer/src/db/dbConnection.ts
  apps/indexer/src/index.ts
  apps/indexer/src/providers/ipLocationProvider.ts
  apps/indexer/src/providers/providerStatusProvider.ts
  apps/indexer/src/providers/statusEndpointHandlers/rest.ts
  apps/indexer/src/scheduler.ts
  apps/indexer/src/shared/utils/akashPaymentSettle.ts
  apps/indexer/src/shared/utils/benchmark.ts
  apps/indexer/src/shared/utils/delay.ts
  apps/indexer/src/shared/utils/download.ts
  apps/indexer/tsconfig.build.json
  apps/indexer/tsconfig.strict.json
  package.json
Due: indexer

chore: remove strict after testing
  apps/indexer/tsconfig.build.json
Due: indexer

refactor: migrates some parts of indexer to strict types (#2504)
  apps/indexer/package.json
  apps/indexer/src/chain/nodeAccessor.ts
  apps/indexer/src/chain/nodeInfo.ts
  apps/indexer/src/db/dbConnection.ts
  apps/indexer/src/index.ts
  apps/indexer/src/providers/ipLocationProvider.ts
  apps/indexer/src/providers/providerStatusProvider.ts
  apps/indexer/src/providers/statusEndpointHandlers/rest.ts
  apps/indexer/src/scheduler.ts
  apps/indexer/src/shared/utils/akashPaymentSettle.ts
  apps/indexer/src/shared/utils/benchmark.ts
  apps/indexer/src/shared/utils/delay.ts
  apps/indexer/src/shared/utils/download.ts
  apps/indexer/tsconfig.strict.json
  package.json
Due: indexer

chore: adds default project description to CLAUDE.md (#2503)
  .claude/instructions/general-projects-description.manual.md
  .helm/console-api-staging-sandbox-values.yaml
  CLAUDE.md
  script/generate-claude-md.ts
Due: none

fix: install autoinstrumentation otel for notifications
  apps/notifications/package.json
  package-lock.json
Due: notifications

fix: install autoinstrumentation otel for notifications (#2505)
  apps/notifications/package.json
  package-lock.json
Due: notifications

chore: fixes double notification for required approvals
  .github/workflows/reusable-deploy-k8s.yml
Due: none

chore: fixes env suffix detection
  .github/actions/slack-pending-deployment-approval/action.yml
  .github/workflows/reusable-deploy-k8s.yml
Due: none

chore: fixes double notification for required approvals (#2507)
  .github/actions/slack-pending-deployment-approval/action.yml
  .github/workflows/reusable-deploy-k8s.yml
Due: none

fix: replace @injectable() with @singleton() for templates and others (#2501)
  apps/api/src/gpu/controllers/gpu.controller.ts
  apps/api/src/gpu/services/gpu.service.ts
  apps/api/src/healthz/controllers/healthz/healthz.controller.ts
  apps/api/src/healthz/services/healthz/healthz.service.ts
  apps/api/src/template/controllers/template/template.controller.ts
Due: api

fix: no store server fetch
  apps/stats-web/src/lib/serverFetch.ts
Due: stats-web

feat: adds react-query automatic proxy package
  package-lock.json
  packages/react-query-proxy/README.md
  packages/react-query-proxy/package.json
  packages/react-query-proxy/src/createProxy/createProxy.spec.ts
  packages/react-query-proxy/src/createProxy/createProxy.ts
Due: none

chore: fix bugs
  packages/react-query-proxy/src/createProxy/createProxy.spec.ts
  packages/react-query-proxy/src/createProxy/createProxy.ts
Due: none

chore: fixes checks
  package-lock.json
  packages/react-query-proxy/package.json
  packages/react-query-sdk/.eslintrc.js
Due: none

feat: adds possibility to proxy class instance
  packages/react-query-proxy/src/createProxy/createProxy.spec.ts
  packages/react-query-proxy/src/createProxy/createProxy.ts
Due: none

fix: handle connect timeout error
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
Due: deploy-web

chore: adds toolset configs
  packages/react-query-proxy/.eslintrc.js
  packages/react-query-proxy/jest.config.ts
  packages/react-query-proxy/tsconfig.build.json
  packages/react-query-proxy/tsconfig.json
Due: none

fix: ignore chrome extension errors sentry (#2485)
  apps/deploy-web/sentry.client.config.ts
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
Due: deploy-web

fix: upgrades chain-sdk dependency
  apps/api/package.json
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/rpc-message-service/rpc-message.service.ts
  apps/api/test/functional/deployment-fallback.spec.ts
  apps/api/test/functional/deployment-info-fallback.spec.ts
  apps/api/test/functional/gpu.spec.ts
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  package-lock.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

chore: fixes deploy-k8s workflow
  .github/workflows/reusable-deploy-k8s.yml
Due: none

chore: fixes deploy-k8s workflow (#2513)
  .github/workflows/reusable-deploy-k8s.yml
Due: none

chore: fixes release workflows failures
  .github/workflows/create-pre-release-pr.yml
  .github/workflows/reusable-create-github-release.yml
Due: none

chore: fixes release workflows failures (#2514)
  .github/workflows/create-pre-release-pr.yml
  .github/workflows/reusable-create-github-release.yml
Due: none

fix(deployment): scope GitHub repo list to app installations
  apps/deploy-web/src/components/new-deployment/NewDeploymentPage/createServerSideProps.ts
  apps/deploy-web/src/components/remote-deploy/Repos.tsx
  apps/deploy-web/src/components/remote-deploy/github/GithubManager.tsx
  apps/deploy-web/src/config/remote-deploy.config.ts
  apps/deploy-web/src/hooks/useRemoteDeployFramework.tsx
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/remote-deploy/github-http.service.ts
Due: deploy-web

fix: upgrades chain-sdk dependency (#2508)
  apps/api/package.json
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/rpc-message-service/rpc-message.service.ts
  apps/api/test/functional/deployment-fallback.spec.ts
  apps/api/test/functional/deployment-info-fallback.spec.ts
  apps/api/test/functional/gpu.spec.ts
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  package-lock.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

chore: adds permission to stats-web release workflow
  .github/workflows/stats-web-release.yml
Due: none
