Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

feat: adds validation for client cert on provider-proxy
  apps/provider-proxy/package.json
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/CertificateValidator.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/isValidBech32.ts
  apps/provider-proxy/src/utils/validateCertificateAttrs.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
  package-lock.json
Due: provider-proxy

feat: adds validation for client cert on provider-proxy (#1731)
  apps/provider-proxy/package.json
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/CertificateValidator.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/isValidBech32.ts
  apps/provider-proxy/src/utils/validateCertificateAttrs.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
  package-lock.json
Due: provider-proxy

refactor: improves certificate validation on provider-proxy
  apps/provider-proxy/jest.config.js
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/src/utils/validateCertificateAttrs.ts
  apps/provider-proxy/src/utils/validateClientCertificateAttrs.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  apps/provider-proxy/test/setup/providerServer.ts
Due: provider-proxy

refactor: improves certificate validation on provider-proxy (#1739)
  apps/provider-proxy/jest.config.js
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/src/utils/validateCertificateAttrs.ts
  apps/provider-proxy/src/utils/validateClientCertificateAttrs.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  apps/provider-proxy/test/setup/providerServer.ts
Due: provider-proxy

feat: adds handling of expired certificate in lease flow
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentContainer.tsx
  apps/deploy-web/src/components/shared/ManifestErrorSnackbar.tsx
  apps/deploy-web/src/context/CertificateProvider/CertificateProviderContext.tsx
  apps/deploy-web/src/queries/useBidQuery.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/deploy-web/tests/seeders/bid.ts
  apps/deploy-web/tests/seeders/block.ts
  apps/deploy-web/tests/seeders/manifest.ts
Due: deploy-web

refactor: re-use pagination components and csv utils
  apps/deploy-web/src/components/billing-usage/BillingContainer/BillingContainer.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
  apps/deploy-web/src/components/billing-usage/UsagePage.tsx
  apps/deploy-web/src/components/billing-usage/UsageView/UsageView.tsx
  apps/deploy-web/src/utils/domUtils.ts
  apps/deploy-web/src/utils/stringUtils.ts
  packages/ui/components/custom-pagination.tsx
  packages/ui/components/pagination.tsx
Due: deploy-web

test: fix billing view failing unit tests
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
Due: deploy-web

feat: adds handling of expired certificate in lease flow (#1738)
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentContainer.tsx
  apps/deploy-web/src/components/shared/ManifestErrorSnackbar.tsx
  apps/deploy-web/src/context/CertificateProvider/CertificateProviderContext.tsx
  apps/deploy-web/src/queries/useBidQuery.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/deploy-web/tests/seeders/bid.ts
  apps/deploy-web/tests/seeders/block.ts
  apps/deploy-web/tests/seeders/manifest.ts
Due: deploy-web

fix: handle "tx already in cache" gracefully
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
Due: api

fix: make changes as per PR suggestions
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/providers/signing-client.provider.ts
  apps/api/src/billing/services/dedupe-signing-client/dedupe-signing-client.service.ts
Due: api

feat(log-collector): uses tini process manager
  apps/log-collector/Dockerfile
  apps/log-collector/README.md
Due: none

fix(log-collector): fixes timestamp parsing, error handling params, readme
  apps/log-collector/README.md
  apps/log-collector/fluent-bit/parsers.conf
  apps/log-collector/src/services/error-handler/error-handler.service.spec.ts
  apps/log-collector/src/services/error-handler/error-handler.service.ts
  apps/log-collector/src/services/k8s-log-collector/k8s-log-collector.service.spec.ts
  apps/log-collector/src/services/k8s-log-collector/k8s-log-collector.service.ts
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.ts
Due: none

test(log-collector): improves file destination spec
  apps/log-collector/src/services/file-destination/file-destination.service.spec.ts
Due: none

feat: adds logging to retry logic in provider-proxy
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/src/utils/retry.ts
Due: provider-proxy

feat: adds logging to retry logic in provider-proxy (#1741)
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/src/utils/retry.ts
Due: provider-proxy

feat: implement day-o-day comparison and move date extraction logic to seeders
  apps/deploy-web/src/components/billing-usage/TrendIndicator/TrendIndicator.spec.tsx
  apps/deploy-web/src/components/billing-usage/TrendIndicator/TrendIndicator.tsx
  apps/deploy-web/tests/seeders/usage.ts
Due: deploy-web

refactor: speed up startup and fixes concurrency in shutdown
  apps/api/src/app.ts
  apps/api/src/core/services/shutdown-server/shutdown-server.spec.ts
  apps/api/src/core/services/shutdown-server/shutdown-server.ts
Due: api

feat(deployment): close trial deployments after 24h (#1725)
  .helm/console-api-staging-mainnet-values.yaml
  apps/api/src/billing/config/env.config.ts
  apps/api/src/chain/repositories/block.repository.ts
  apps/api/src/console.ts
  apps/api/src/deployment/controllers/deployment/trial.controller.spec.ts
  apps/api/src/deployment/controllers/deployment/trial.controller.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/trial-deployments-cleaner/trial-deployments-cleaner.service.spec.ts
  apps/api/src/deployment/services/trial-deployments-cleaner/trial-deployments-cleaner.service.ts
  apps/api/src/deployment/types/trial-deployments.ts
  apps/api/src/utils/constants.ts
  apps/api/test/functional/gpu.spec.ts
  apps/api/test/seeders/index.ts
  apps/api/test/seeders/stale-deployment.seeder.ts
Due: api

fix(auth): fetching api keys
  packages/http-sdk/src/api-key/api-key-http.service.ts
Due: none

fix(auth): fetching api keys (#1743)
  packages/http-sdk/src/api-key/api-key-http.service.ts
Due: none

feat: adds feature flags support to console-api's notifications proxy
  apps/api/src/app.ts
Due: api

refactor: removes old implementation of feature flags based on env variables
  apps/api/env/.env
  apps/api/src/app.ts
  apps/api/src/auth/config/env.config.ts
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/features/controllers/features.controller.ts
  apps/api/src/features/routes/features/features.router.ts
  apps/api/src/features/services/features/features.services.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/env/.env
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
  apps/deploy-web/env/.env.staging
  apps/deploy-web/src/components/layout/WelcomeToTrialModal.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  apps/deploy-web/src/hooks/useFlag.tsx
  apps/deploy-web/src/queries/featureFlags.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
Due: api, deploy-web

refactor: removes old implementation of feature flags based on env variables (#1480)
  apps/api/env/.env
  apps/api/src/app.ts
  apps/api/src/auth/config/env.config.ts
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/features/controllers/features.controller.ts
  apps/api/src/features/routes/features/features.router.ts
  apps/api/src/features/services/features/features.services.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/env/.env
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
  apps/deploy-web/env/.env.staging
  apps/deploy-web/src/components/layout/WelcomeToTrialModal.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  apps/deploy-web/src/hooks/useFlag.tsx
  apps/deploy-web/src/queries/featureFlags.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
Due: api, deploy-web

fix(billing): p tag child warning
  apps/deploy-web/src/components/onboarding/steps/PaymentVerificationCard/PaymentVerificationCard.tsx
Due: deploy-web

feat(billing): add back to console button in onboarding
  apps/deploy-web/src/components/onboarding/OnboardingPage.tsx
Due: deploy-web

feat(billing): add date filtering to usage ui
  apps/deploy-web/src/components/billing-usage/UsageContainer/UsageContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/UsageContainer/UsageContainer.tsx
  apps/deploy-web/src/components/billing-usage/UsageView/UsageView.spec.tsx
  apps/deploy-web/src/components/billing-usage/UsageView/UsageView.tsx
  apps/deploy-web/src/utils/dateUtils.ts
Due: deploy-web

feat(billing): add stripe charges table list to usage ui
  apps/deploy-web/src/components/billing-usage/BillingContainer/BillingContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingContainer/BillingContainer.tsx
  apps/deploy-web/src/components/billing-usage/BillingPage.tsx
  apps/deploy-web/src/components/billing-usage/BillingUsageLayout.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
  apps/deploy-web/src/components/billing-usage/UsagePage.tsx
  apps/deploy-web/src/components/billing-usage/UsageView/UsageView.tsx
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/pages/billing/index.tsx
  apps/deploy-web/src/utils/domUtils.ts
  apps/deploy-web/src/utils/stringUtils.ts
  apps/deploy-web/src/utils/urlUtils.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/ui/components/custom-pagination.tsx
  packages/ui/components/pagination.tsx
Due: deploy-web

refactor: speed up startup and fixes concurrency in shutdown (#1742)
  apps/api/src/app.ts
  apps/api/src/core/services/shutdown-server/shutdown-server.spec.ts
  apps/api/src/core/services/shutdown-server/shutdown-server.ts
Due: api
