Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(alert): improves deployment alerts UI
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.spec.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelSelectForm/NotificationChannelSelect.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelSelectForm/NotificationChannelSelect.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelsGuard/NotificationChannelsGuard.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
  apps/deploy-web/src/components/deployments/DeploymentBalanceAlert/DeploymentBalanceAlert.tsx
  apps/deploy-web/src/components/deployments/DeploymentBalanceContainer/DeploymentBalanceContainer.tsx
  apps/deploy-web/src/components/deployments/DeploymentCloseAlert/DeploymentCloseAlert.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/tests/seeders/deploymentAlert.ts
Due: deploy-web

test(alert): improves deployment alerts UI tests
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelSelectForm/NotificationChannelSelect.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelSelectForm/NotificationChannelSelect.tsx
Due: deploy-web

feat(alert): improves deployment alerts list UI
  apps/api/src/core/services/feature-flags/feature-flags.service.spec.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/notifications/routes/proxy/proxy.route.ts
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
  apps/deploy-web/src/components/alerts/AlertsPage.tsx
  apps/notifications/src/interfaces/rest/interceptors/auth/auth.interceptor.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.ts
  apps/notifications/test/functional/alert-crud.spec.ts
Due: api, deploy-web, notifications

fix: adds suppressBySystem flag to alerts params
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.ts
  apps/notifications/src/modules/alert/repositories/alert/alert-json-fields.schema.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/alert/services/chain-message-alert/chain-message-alert.service.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.ts
  apps/notifications/test/functional/deployment-alert-crud.spec.ts
Due: notifications

fix: adds suppressBySystem flag to alerts params
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
Due: notifications

feat(alert): disables form if deployment is closed
  apps/deploy-web/src/components/alerts/NotificationChannelSelectForm/NotificationChannelSelect.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelSelectForm/NotificationChannelSelect.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
Due: deploy-web

fix: adds suppressBySystem flag to alerts params (#1521)
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.ts
  apps/notifications/src/modules/alert/repositories/alert/alert-json-fields.schema.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/alert/services/chain-message-alert/chain-message-alert.service.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.ts
  apps/notifications/test/functional/deployment-alert-crud.spec.ts
Due: notifications

fix: skips init phase for feature flags service if FEATURES_ENABlED_ALL=true
  apps/api/src/core/services/feature-flags/feature-flags.service.spec.ts
  apps/api/src/core/services/feature-flags/feature-flags.service.ts
Due: api

fix: skips init phase for feature flags service if FEATURES_ENABlED_ALL=true (#1523)
  apps/api/src/core/services/feature-flags/feature-flags.service.spec.ts
  apps/api/src/core/services/feature-flags/feature-flags.service.ts
Due: api

feat(billing): add usage ui
  apps/api/src/billing/http-schemas/usage.schema.ts
  apps/api/src/billing/repositories/usage/usage.repository.spec.ts
  apps/api/src/billing/repositories/usage/usage.repository.ts
  apps/api/src/billing/services/usage/mock-history-data.ts
  apps/api/src/billing/services/usage/usage.service.spec.ts
  apps/api/src/billing/services/usage/usage.service.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/test/functional/usage.spec.ts
  apps/api/test/seeders/billing-usage.seeder.ts
  apps/deploy-web/package.json
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/components/usage/UsageLayout.tsx
  apps/deploy-web/src/components/usage/UsagePage.tsx
  apps/deploy-web/src/components/usage/billing-tab/BillingPage.tsx
  apps/deploy-web/src/components/usage/usage-tab/UsageContainer.tsx
  apps/deploy-web/src/components/usage/usage-tab/UsageView.tsx
  apps/deploy-web/src/components/usage/usage-tab/charts/CreditsUsageAreaChart.tsx
  apps/deploy-web/src/components/usage/usage-tab/charts/CumulativeSpendingLineChart.tsx
  apps/deploy-web/src/components/usage/usage-tab/charts/DailyUsageBarChart.tsx
  apps/deploy-web/src/components/usage/usage-tab/charts/MonthlySpendingBarChart.tsx
  apps/deploy-web/src/components/usage/usage-tab/mock-credits-usage-data.ts
  apps/deploy-web/src/pages/billing/index.tsx
  apps/deploy-web/src/pages/usage/index.tsx
  apps/deploy-web/src/queries/index.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useUsage.ts
  apps/deploy-web/src/types/billing.ts
  apps/deploy-web/src/utils/apiUtils.ts
  apps/deploy-web/src/utils/dateUtils.ts
  apps/deploy-web/src/utils/urlUtils.ts
  package-lock.json
Due: api, deploy-web

test: add functional tests for /v1/templates endpoints
  apps/api/src/services/external/templatesCollector.ts
  apps/api/test/functional/templates.spec.ts
  apps/api/test/mocks/templates/akash-network/awesome-akash/alpaca-cpp/index.json
  apps/api/test/mocks/templates/akash-network/awesome-akash/lunie-lite/index.json
  apps/api/test/mocks/templates/akash-network/awesome-akash/readme.md
  apps/api/test/mocks/templates/akash-network/awesome-akash/ssh-ubuntu/index.json
  apps/api/test/mocks/templates/akash-network/cosmos-omnibus/akash/index.json
  apps/api/test/mocks/templates/akash-network/cosmos-omnibus/archway/index.json
  apps/api/test/mocks/templates/akash-network/cosmos-omnibus/index.json
  apps/api/test/mocks/templates/cryptoandcoffee/akash-linuxserver/adguardhome-sync/index.json
  apps/api/test/mocks/templates/cryptoandcoffee/akash-linuxserver/airsonic-advanced/index.json
  apps/api/test/mocks/templates/cryptoandcoffee/akash-linuxserver/airsonic/index.json
  apps/api/test/mocks/templates/cryptoandcoffee/akash-linuxserver/readme.md
Due: api

refactor: move /templates endpoints to a module
  apps/api/scripts/buildAkashTemplatesCache.ts
  apps/api/src/app.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/templates/byId.ts
  apps/api/src/routes/v1/templates/list-full.ts
  apps/api/src/routes/v1/templates/list.ts
  apps/api/src/services/external/templateReposService.ts
  apps/api/src/services/external/templates-collector.ts
  apps/api/src/services/external/templatesCollector.ts
  apps/api/src/template/controllers/template/template.controller.ts
  apps/api/src/template/http-schemas/template.schema.ts
  apps/api/src/template/index.ts
  apps/api/src/template/routes/index.ts
  apps/api/src/template/routes/templates/templates.router.ts
  apps/api/src/template/services/template-fetcher/template-fetcher.service.ts
  apps/api/src/template/services/template-gallery/template-gallery.service.ts
  apps/api/src/template/services/template-processor/template-processor.service.ts
  apps/api/src/template/types/template.ts
  apps/api/src/utils/json.ts
  apps/api/test/functional/templates.spec.ts
  apps/api/tsconfig.strict.json
Due: api

chore: adds snyk test for PRs
  .github/workflows/security-check-ci.yml
Due: none

fix(alert): convert akt denom to udenom when saving balance alert threshold
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.spec.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/tests/seeders/deployment.ts
Due: deploy-web

chore: sets higher coverage requirements
  .codecov.yml
Due: none

chore: sets higher coverage requirements (#1530)
  .codecov.yml
Due: none

feat(alert): implements notification channel safe delete
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelsListContainer/NotificationChannelsListContainer.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentBalanceAlert/DeploymentBalanceAlert.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/notifications/drizzle/0002_bumpy_cargill.sql
  apps/notifications/drizzle/meta/0002_snapshot.json
  apps/notifications/drizzle/meta/_journal.json
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.ts
  apps/notifications/src/modules/notifications/model-schemas/notification-channel.schema.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.ts
Due: deploy-web, notifications

fix(alert): extracts permitted alert fields correctly
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
Due: notifications

fix: handles connection error in provider proxy to return 503
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/ProviderProxy.ts
  apps/provider-proxy/src/utils/retry.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
  apps/provider-proxy/test/setup/providerServer.ts
Due: provider-proxy

fix: handles connection error in provider proxy to return 503 (#1525)
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/ProviderProxy.ts
  apps/provider-proxy/src/utils/retry.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
  apps/provider-proxy/test/setup/providerServer.ts
Due: provider-proxy

refactor: run npm audit fix to fix security issues
  .github/workflows/diff-package-lock.yml
  .github/workflows/reusable-should-validate.yml
  apps/api/package.json
  apps/api/src/auth/routes/send-verification-email/send-verification-email.router.ts
  apps/indexer/package.json
  package-lock.json
Due: api, indexer

fix: enable sourcemaps for deploy-web
  apps/deploy-web/next.config.js
Due: deploy-web

feat(alert): uses back nav blocker having unsaved changes
  apps/deploy-web/jest.config.ts
  apps/deploy-web/package.json
  apps/deploy-web/src/components/alerts/CreateNotificationChannelPage.tsx
  apps/deploy-web/src/components/alerts/EditNotificationChannelPage.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelForm/NotificationChannelForm.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/hooks/useNavigationGuard/useNavigationGuard.spec.ts
  apps/deploy-web/src/hooks/useNavigationGuard/useNavigationGuard.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/types/changeable-component-props.type.ts
  package-lock.json
Due: deploy-web

refactor: run npm audit fix to fix security issues (#1529)
  .github/workflows/diff-package-lock.yml
  .github/workflows/reusable-should-validate.yml
  apps/api/package.json
  apps/api/src/auth/routes/send-verification-email/send-verification-email.router.ts
  apps/indexer/package.json
  package-lock.json
Due: api, indexer

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
