Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

test(deployment): stop the reclamation countdown and log stream specs from flaking
  apps/deploy-web/src/components/deployments/DeploymentDetail/ReclamationCountdown.spec.tsx
  apps/deploy-web/src/hooks/useLogStream/useLogStream.spec.ts
Due: deploy-web

test(notifications): seed alert names the alert api accepts
  apps/notifications/test/seeders/deployment-balance-alert.seeder.ts
  apps/notifications/test/seeders/general-alert.seeder.ts
  apps/notifications/test/seeders/wallet-balance-alert.seeder.ts
Due: notifications

fix(ci): stop the codeql job from running actions out of the scanned commit
  .github/workflows/all-ci-unsafe.yml
Due: none

chore(ci): run the security scan on this pull request to time it
  .github/workflows/all-ci-unsafe.yml
Due: none

refactor(deployment): stop keeping a deployment's sdl in this browser behind the secrets flag (#4062)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
Due: deploy-web

fix(provider): look up marketplace bidders the provider list leaves out (#4070)
  apps/api/src/provider/routes/providers/providers.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/queries/usePlacementOffers.spec.ts
  apps/deploy-web/src/queries/usePlacementOffers.ts
  apps/deploy-web/src/queries/useProvidersQuery.spec.tsx
  apps/deploy-web/src/queries/useProvidersQuery.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

refactor(deployment): look up only the providers of the listed leases (#4076)
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/test/functional/addresses.spec.ts
Due: api

chore(ci): give each security scan result job only the permissions it uses
  .github/workflows/security-scan-result.yml
Due: none

chore(ci): drop the temporary pull_request triggers
  .github/workflows/all-ci-unsafe.yml
Due: none

feat(provider): search providers a page at a time and serve their locations (#4079)
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/provider/controllers/provider/provider.controller.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/routes/providers/providers.router.ts
  apps/api/src/provider/services/provider-search/provider-search.service.spec.ts
  apps/api/src/provider/services/provider-search/provider-search.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/providers.spec.ts
Due: api

fix(provider): list a gpu driver only once independent deployments confirm it
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/services/provider-gpu-driver/provider-gpu-driver.service.spec.ts
  apps/api/src/provider/services/provider-gpu-driver/provider-gpu-driver.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/providers.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

chore(ci): report a failed test environment setup instead of timing out
  .github/workflows/reusable-validate-app.yml
Due: none

docs(dx): document the mutation testing gate in CLAUDE.md
  CLAUDE.md
Due: none

chore(ci): name the result workflow in the security scan comments
  .github/workflows/all-ci-unsafe.yml
Due: none

refactor(deployment): look up lease providers by address instead of the full list (#4077)
  apps/deploy-web/package.json
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useProvidersQuery.spec.tsx
  apps/deploy-web/src/queries/useProvidersQuery.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/provider-lookup/provider-lookup.service.spec.ts
  apps/deploy-web/src/services/provider-lookup/provider-lookup.service.ts
  package-lock.json
Due: deploy-web

test(deployment): stop the reclamation countdown and log stream specs from flaking (#4092)
  apps/deploy-web/src/components/deployments/DeploymentDetail/ReclamationCountdown.spec.tsx
  apps/deploy-web/src/hooks/useLogStream/useLogStream.spec.ts
Due: deploy-web

test(notifications): seed alert names the alert api accepts (#4093)
  apps/notifications/test/seeders/deployment-balance-alert.seeder.ts
  apps/notifications/test/seeders/general-alert.seeder.ts
  apps/notifications/test/seeders/wallet-balance-alert.seeder.ts
Due: notifications

test(dx): stop transpiling api, notifications and log-collector test files twice (#4091)
  apps/api/vitest.config.ts
  apps/log-collector/vitest.config.ts
  apps/log-collector/vitest.e2e.config.ts
  apps/notifications/vitest.config.ts
Due: api, notifications

fix(ci): stop the codeql job from running actions out of the scanned commit (#4094)
  .github/workflows/all-ci-unsafe.yml
Due: none

refactor(bid): look up bidders and leased providers by address
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/useReviewRows.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/useReviewRows.ts
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.spec.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.ts
  apps/deploy-web/src/queries/usePlacementOffers.spec.ts
  apps/deploy-web/src/queries/usePlacementOffers.ts
Due: deploy-web

refactor(provider): drop the per-address provider hook the bidder lookup replaced
  apps/deploy-web/src/queries/usePlacementOffers.ts
  apps/deploy-web/src/queries/useProvidersQuery.spec.tsx
  apps/deploy-web/src/queries/useProvidersQuery.ts
Due: deploy-web

refactor(bid): cover bidders and leases that arrive after the first render
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/useReviewRows.spec.ts
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.spec.ts
  apps/deploy-web/src/queries/usePlacementOffers.spec.ts
Due: deploy-web

fix(observability): log the redacted copy of a failed query in notifications
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/notifications/src/infrastructure/broker/services/pg-boss-handler/pg-boss-handler.service.spec.ts
  apps/notifications/src/infrastructure/broker/services/pg-boss-handler/pg-boss-handler.service.ts
  packages/logging/src/utils/redact-query-error/redact-query-error.spec.ts
  packages/logging/src/utils/redact-query-error/redact-query-error.ts
Due: api, notifications

chore(ci): run static analysis, tests and mutation testing as parallel jobs (#4087)
  .github/workflows/reusable-validate-app.yml
Due: none

chore(ci): give the deps scan time to see snyk and socket report
  .github/workflows/all-ci-unsafe.yml
Due: none

chore(ci): send failing api shards' test results to codecov
  .github/workflows/reusable-validate-app.yml
Due: none

chore(ci): run the api test suite in three shards
  .github/workflows/all-ci.yml
  .github/workflows/reusable-validate-app.yml
Due: none

chore(ci): reuse mutation results across pushes and use all four vcpus
  .github/workflows/reusable-validate-app.yml
Due: none

refactor(bid): look up bidders and leased providers by address (#4078)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/useReviewRows.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/useReviewRows.ts
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.spec.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.ts
  apps/deploy-web/src/queries/usePlacementOffers.spec.ts
  apps/deploy-web/src/queries/usePlacementOffers.ts
  apps/deploy-web/src/queries/useProvidersQuery.spec.tsx
  apps/deploy-web/src/queries/useProvidersQuery.ts
Due: deploy-web

chore(ci): run the api test suite in three shards (#4088)
  .github/workflows/all-ci.yml
  .github/workflows/reusable-validate-app.yml
Due: none

chore(ci): reuse mutation results across pushes and use all four vcpus (#4090)
  .github/workflows/reusable-validate-app.yml
Due: none

docs(dx): document the mutation testing gate in CLAUDE.md (#4096)
  CLAUDE.md
Due: none

chore(ci): build next.js apps on the runner when their image inputs are unchanged
  .github/workflows/reusable-should-validate.yml
  .github/workflows/reusable-validate-app.yml
  apps/deploy-web/package.json
  apps/deploy-web/tsconfig.build.json
  apps/provider-console/package.json
  apps/stats-web/package.json
Due: deploy-web, provider-console, stats-web

chore(ci): keep building provider-console as an image
  .github/workflows/all-ci.yml
  .github/workflows/reusable-validate-app.yml
Due: none

chore(ci): build the image when an app's package.json changes
  .github/workflows/reusable-should-validate.yml
Due: none

refactor(provider): page the provider explorer on the server
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeployProgressOverlay/ProvidersGlobe.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeployProgressOverlay/ProvidersGlobe.tsx
  apps/deploy-web/src/components/providers/ProviderList.tsx
  apps/deploy-web/src/components/providers/ProviderMap.tsx
  apps/deploy-web/src/components/providers/ProviderSummary.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.spec.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useProvidersQuery.spec.tsx
  apps/deploy-web/src/queries/useProvidersQuery.ts
  apps/deploy-web/src/types/provider.ts
  apps/deploy-web/src/utils/apiUtils.ts
Due: deploy-web

fix(provider): keep the globe on a matched provider and refresh no empty favorites search
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeployProgressOverlay/ProvidersGlobe.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeployProgressOverlay/ProvidersGlobe.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.spec.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.ts
Due: deploy-web

fix(observability): redact failed queries in error logs, traces and job output (#4085)
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/notifications/src/infrastructure/broker/services/pg-boss-handler/pg-boss-handler.service.spec.ts
  apps/notifications/src/infrastructure/broker/services/pg-boss-handler/pg-boss-handler.service.ts
  package-lock.json
  packages/instrumentation/package.json
  packages/instrumentation/src/util/tracing/tracing.util.spec.ts
  packages/instrumentation/src/util/tracing/tracing.util.ts
  packages/instrumentation/vitest.config.ts
  packages/logging/package.json
  packages/logging/src/index.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.spec.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.ts
  packages/logging/src/utils/redact-query-error/redact-query-error.spec.ts
  packages/logging/src/utils/redact-query-error/redact-query-error.ts
Due: api, notifications

feat(provider): show the nvidia driver and cuda version observed on a provider (#4084)
  apps/api/drizzle/0064_deployment_settings_detected_gpus_index.sql
  apps/api/drizzle/meta/0064_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/gpu/lib/cuda-version/cuda-version.spec.ts
  apps/api/src/gpu/lib/cuda-version/cuda-version.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/services/provider-gpu-driver/provider-gpu-driver.service.spec.ts
  apps/api/src/provider/services/provider-gpu-driver/provider-gpu-driver.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/types/provider.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/providers.spec.ts
  apps/deploy-web/src/components/providers/ProviderSpecs.spec.tsx
  apps/deploy-web/src/components/providers/ProviderSpecs.tsx
  apps/deploy-web/src/types/provider.ts
  apps/deploy-web/tests/seeders/provider.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

chore(ci): run the security scans while ci runs instead of after it (#4086)
  .github/actions/associated-pr/action.yml
  .github/actions/poll-check-status/action.yml
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/security-scan-result.yml
Due: none

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
