Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

refactor(deployment): keep the funding claim doc comment with its type
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
Due: api

fix(jwt): stop polling providers with a provider token that already expired (#3969)
  apps/deploy-web/src/hooks/useProviderCredentials/useProviderCredentials.spec.ts
  apps/deploy-web/src/hooks/useProviderCredentials/useProviderCredentials.ts
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/queries/useLeaseQuery.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.spec.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.ts
Due: deploy-web

refactor(deployment): drop the auto top-up flag from the listed settings
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(deployment): return the console's own record with each listed deployment (#3957)
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

feat(deployment): search listed deployments by name or dseq
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(provider): back off dials to an unreachable provider (#3967)
  apps/provider-proxy/src/config/env.config.spec.ts
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/ProviderConnectionTracker/ProviderConnectionTracker.spec.ts
  apps/provider-proxy/src/services/ProviderConnectionTracker/ProviderConnectionTracker.ts
  apps/provider-proxy/src/services/ProviderProxy.spec.ts
  apps/provider-proxy/src/services/ProviderProxy.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
Due: provider-proxy

fix(deployment): pin one source for a search sweep and bound its settings read
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/test/seeders/deployment-info.seeder.ts
Due: api

test(deployment): serve each swept page off the cursor the sweep sent
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(deployment): let a database-backed search sweep past its first page
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
Due: api

feat(deployment): search listed deployments by name or dseq (#3958)
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/seeders/deployment-info.seeder.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(ci): stop counting the api docs snapshot toward pr size (#3962)
  .github/workflows/labeler.yml
Due: none

refactor(deployment): trim the list source's doc blocks to one sentence
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListSource.ts
Due: deploy-web

refactor(deployment): read the deployments list through one data source
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListSource.ts
Due: deploy-web

refactor(deployment): read the deployments list through one data source (#3960)
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListSource.ts
Due: deploy-web

fix(observability): answer healthz without the session lookup or maintenance redirect (#3964)
  apps/deploy-web/src/middleware.spec.ts
  apps/deploy-web/src/middleware.ts
  apps/deploy-web/src/pages/api/healthz.ts
Due: deploy-web

feat(deployment): list deployments from the console api behind a flag
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useApiDeploymentsListSource.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useApiDeploymentsListSource.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListSource.ts
  apps/deploy-web/src/components/deployments/DeploymentsListPage.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsListPage.tsx
  apps/deploy-web/src/queries/useDeploymentsListQuery.spec.ts
  apps/deploy-web/src/queries/useDeploymentsListQuery.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.spec.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.ts
  apps/deploy-web/src/types/deployment.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.spec.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.ts
Due: deploy-web

fix(deployment): show the archive without a count when the api cannot count it
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListSource.ts
  apps/deploy-web/src/queries/useDeploymentsListQuery.ts
Due: deploy-web

fix(deployment): say when the api refuses a search as too broad
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
  apps/deploy-web/src/queries/useDeploymentsListQuery.spec.ts
  apps/deploy-web/src/queries/useDeploymentsListQuery.ts
Due: deploy-web

fix(deployment): read the list's search state from the rows it reflects
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useApiDeploymentsListSource.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useApiDeploymentsListSource.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListSource.ts
Due: deploy-web

refactor(deployment): trim this branch's new doc blocks to one sentence
  apps/deploy-web/src/services/query-error-policy/query-error-policy.ts
  apps/deploy-web/src/types/deployment.ts
Due: deploy-web

fix(deployment): keep the search box within the length the api accepts
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/utils/deploymentDetailUtils.spec.ts
Due: deploy-web

feat(deployment): list deployments from the console api behind a flag (#3961)
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useApiDeploymentsListSource.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useApiDeploymentsListSource.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListSource.ts
  apps/deploy-web/src/components/deployments/DeploymentsListPage.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsListPage.tsx
  apps/deploy-web/src/queries/useDeploymentsListQuery.spec.ts
  apps/deploy-web/src/queries/useDeploymentsListQuery.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.spec.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.ts
  apps/deploy-web/src/types/deployment.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.spec.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.ts
Due: deploy-web

fix(deployment): give the auto-deploy autopilot a way out when no provider matches
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.spec.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.ts
  apps/deploy-web/src/queries/findFirstReachableProvider.spec.ts
  apps/deploy-web/src/queries/findFirstReachableProvider.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useProvidersQuery.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

fix(deployment): log the failed provider match once instead of every probe pass
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.spec.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.ts
  apps/deploy-web/src/queries/useProvidersQuery.ts
Due: deploy-web

fix(deployment): drop the trial and interconnect badges from closed deployments
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentBadges.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentBadges.tsx
Due: deploy-web

fix(deployment): keep the matching deadline from closing a leased deployment
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.spec.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.ts
  apps/deploy-web/src/queries/findFirstReachableProvider.ts
  apps/deploy-web/src/queries/useProvidersQuery.ts
Due: deploy-web

docs(deployment): record the end-to-end alert proofs and how to repeat them
  apps/api/docs/runbooks/deployment-secrets.md
Due: api

fix(deployment): stop a retry from broadcasting a second close for the same dseq
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
Due: deploy-web

fix(deployment): drop the trial and interconnect badges from closed deployments (#3972)
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentBadges.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentBadges.tsx
Due: deploy-web

docs(deployment): record the end-to-end alert proofs and how to repeat them (#3973)
  apps/api/docs/runbooks/deployment-secrets.md
Due: api

fix(deployment): scope a resumed lease to its own dseq and hold the close guard through verification
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.spec.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.ts
Due: deploy-web

fix(deployment): let a retry wait for the abandoned close to settle instead of assuming it closed
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
Due: deploy-web

fix(deployment): give the auto-deploy autopilot a way out when no provider matches (#3970)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.spec.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.ts
  apps/deploy-web/src/queries/findFirstReachableProvider.spec.ts
  apps/deploy-web/src/queries/findFirstReachableProvider.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useProvidersQuery.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

feat(deployment): let editing start before the cancelled deployment closes
  apps/deploy-web/src/components/deployments/ConfigureDeployment/BackgroundCloseBanner/BackgroundCloseBanner.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/BackgroundCloseBanner/BackgroundCloseBanner.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/PaneLockBanner/PaneLockBanner.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/PaneLockBanner/PaneLockBanner.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.spec.ts
  apps/deploy-web/src/hooks/useAutoDeploymentFlow/useAutoDeploymentFlow.ts
  apps/deploy-web/src/queries/usePlacementOffers.ts
Due: deploy-web

test(deployment): assert the configure pane unlocks on cancel without a cancelling state
  apps/deploy-web/tests/ui/configure-deployment-flow.spec.ts
  apps/deploy-web/tests/ui/pages/ConfigureDeploymentPage.ts
Due: deploy-web

refactor(deployment): trim the close machinery's doc blocks
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
Due: deploy-web

test(deployment): cover the cancel reset's error clearing and its analytics guard
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
Due: deploy-web

fix(deployment): keep a settling close visible and stop miscounting queued creates
  apps/deploy-web/src/components/deployments/ConfigureDeployment/BackgroundCloseBanner/BackgroundCloseBanner.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/BackgroundCloseBanner/BackgroundCloseBanner.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
Due: deploy-web

test(deployment): carry the abandon-attempt specs onto the background close
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
Due: deploy-web

feat(deployment): record a name only this browser holds in the api
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useApiDeploymentsListSource.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useApiDeploymentsListSource.ts
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentNameBackfill/useDeploymentNameBackfill.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentNameBackfill/useDeploymentNameBackfill.ts
  apps/deploy-web/src/hooks/useDeploymentNames/useDeploymentNames.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentNames/useDeploymentNames.ts
  apps/deploy-web/src/hooks/useResolvedDeploymentName/useResolvedDeploymentName.spec.tsx
  apps/deploy-web/src/hooks/useResolvedDeploymentName/useResolvedDeploymentName.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/deployment-name-backfill/deployment-name-backfill.service.spec.ts
  apps/deploy-web/src/services/deployment-name-backfill/deployment-name-backfill.service.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.spec.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
