Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

refactor(dx): inject chain api http client into balance and provider http services (#3471)
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/notifications/src/modules/alert/providers/http-sdk.provider.ts
  packages/http-sdk/src/balance/balance-http.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api, notifications

refactor: final batch of indexer migration to strict types (#3472)
  apps/indexer/package.json
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/chain/dataStore.ts
  apps/indexer/src/chain/statsProcessor.ts
  apps/indexer/src/index.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/indexer/src/indexers/bmeIndexer.ts
  apps/indexer/src/indexers/indexer.ts
  apps/indexer/src/indexers/messageAddressesIndexer.ts
  apps/indexer/src/providers/statusEndpointHandlers/rest.ts
  apps/indexer/src/scheduler.ts
  apps/indexer/src/shared/utils/akashPaymentSettle.ts
  apps/indexer/src/shared/utils/date.ts
  apps/indexer/src/shared/utils/files.ts
  apps/indexer/tsconfig.build.json
  apps/indexer/tsconfig.strict.json
  package.json
Due: indexer

refactor(dx): adopt no-empty-object-type (allow single-extends interfaces)
  apps/provider-console/src/components/layout/Footer.tsx
  packages/dev-config/eslint/typescript.mjs
Due: provider-console

refactor(dx): adopt no-require-imports and convert requires to ESM imports
  apps/api/src/app/console.ts
  apps/deploy-web/src/hooks/useTailwind.ts
  apps/deploy-web/tailwind.config.ts
  apps/notifications/src/main.ts
  apps/provider-console/tailwind.config.ts
  apps/stats-web/tailwind.config.ts
  packages/dev-config/eslint/typescript.mjs
  packages/logging/src/services/logger/logger.service.ts
  packages/ui/tailwind.config.ts
Due: api, deploy-web, notifications, provider-console, stats-web

refactor(dx): adopt preserve-caught-error and preserve error causes
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/verify-rsa-jwt-cloudflare-worker-main/get-jwks.ts
  apps/deploy-web/src/utils/deploymentData/helpers.ts
  apps/indexer/src/shared/utils/files.ts
  apps/log-collector/src/services/pod-discovery/pod-discovery.service.ts
  apps/provider-console/src/context/WalletProvider/WalletProvider.tsx
  apps/provider-console/src/utils/nodeVerification.ts
  packages/dev-config/eslint/base.mjs
Due: api, deploy-web, indexer, provider-console

refactor(dx): adopt no-useless-assignment and remove dead assignments
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/gpu/services/gpu-price/gpu-price.service.ts
  apps/api/src/template/services/template-processor/template-processor.service.ts
  apps/api/src/utils/map/provider.ts
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.tsx
  apps/deploy-web/src/lib/nextjs/defineServerSideProps/defineServerSideProps.spec.ts
  apps/deploy-web/src/utils/priceUtils.ts
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/chain/nodeAccessor.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
  apps/provider-console/src/utils/authClient.ts
  apps/provider-console/src/utils/consoleClient.ts
  apps/provider-console/src/utils/nodeDistribution.ts
  apps/provider-console/src/utils/priceUtils.ts
  apps/provider-inventory/src/lib/generators/chunkify.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  packages/dev-config/eslint/base.mjs
Due: api, deploy-web, indexer, notifications, provider-console, provider-proxy

refactor(dx): tighten no-unused-vars caught errors and drop type-only disables
  apps/api/src/utils/json.ts
  apps/api/src/verify-rsa-jwt-cloudflare-worker-main/verify.ts
  apps/api/test/setup-functional-tests.ts
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelForm/NotificationChannelForm.tsx
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/remote-deploy/update/RemoteDeployUpdate.tsx
  apps/deploy-web/src/components/sdl/SDLEditor/SDLEditor.tsx
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/PaymentMethodForm.tsx
  apps/deploy-web/src/components/shared/ViewPanel.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/pages/api/blockchain-config.ts
  apps/deploy-web/src/utils/stringUtils.ts
  apps/log-collector/src/services/file-destination/file-destination.service.ts
  apps/notifications/src/lib/value-backoff/value-backoff.ts
  apps/notifications/test/functional/account-purge.spec.ts
  apps/notifications/test/functional/alert-crud.spec.ts
  apps/notifications/test/functional/deployment-alert-crud.spec.ts
  apps/provider-console/src/components/nodes/NodeListTable.tsx
  apps/provider-console/src/components/shared/ActivityLogDetails.tsx
  apps/provider-console/src/context/WalletProvider/WalletProvider.tsx
  apps/provider-console/src/hooks/useLocalStorage.ts
  apps/provider-console/src/pages/nodes/index.tsx
  apps/provider-console/src/pages/settings/index.tsx
  apps/provider-console/src/utils/walletScopedStorage.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/stats-web/src/hooks/useTopBanner.tsx
  apps/stats-web/src/lib/urlUtils.ts
  apps/tx-signer/src/services/config/config.service.spec.ts
  packages/dev-config/eslint/typescript.mjs
  packages/react-query-proxy/src/createProxy/createProxy.spec.ts
  packages/ui/hooks/use-toast.tsx
Due: api, deploy-web, notifications, provider-console, provider-proxy, stats-web

refactor(dx): adopt no-unused-expressions and make statement intent explicit
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/shared/UserFavoriteButton.tsx
  apps/deploy-web/src/context/SdlBuilderProvider/SdlBuilderProvider.tsx
  apps/deploy-web/src/hooks/useFormPersist.tsx
  apps/provider-console/src/components/become-provider/ProviderAttributes.tsx
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  packages/dev-config/eslint/typescript.mjs
  packages/ui/components/custom/popup.tsx
  packages/ui/components/data-table/data-table.tsx
  packages/ui/components/input.tsx
  packages/ui/components/multiple-selector.tsx
Due: deploy-web, provider-console, provider-proxy

refactor(dx): tighten no-unused-vars caught errors and drop type-only disables (#3485)
  apps/api/src/utils/json.ts
  apps/api/src/verify-rsa-jwt-cloudflare-worker-main/verify.ts
  apps/api/test/setup-functional-tests.ts
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelForm/NotificationChannelForm.tsx
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/remote-deploy/update/RemoteDeployUpdate.tsx
  apps/deploy-web/src/components/sdl/SDLEditor/SDLEditor.tsx
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/PaymentMethodForm.tsx
  apps/deploy-web/src/components/shared/ViewPanel.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/pages/api/blockchain-config.ts
  apps/deploy-web/src/utils/stringUtils.ts
  apps/log-collector/src/services/file-destination/file-destination.service.ts
  apps/notifications/src/lib/value-backoff/value-backoff.ts
  apps/notifications/test/functional/account-purge.spec.ts
  apps/notifications/test/functional/alert-crud.spec.ts
  apps/notifications/test/functional/deployment-alert-crud.spec.ts
  apps/provider-console/src/components/nodes/NodeListTable.tsx
  apps/provider-console/src/components/shared/ActivityLogDetails.tsx
  apps/provider-console/src/context/WalletProvider/WalletProvider.tsx
  apps/provider-console/src/hooks/useLocalStorage.ts
  apps/provider-console/src/pages/nodes/index.tsx
  apps/provider-console/src/pages/settings/index.tsx
  apps/provider-console/src/utils/walletScopedStorage.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/stats-web/src/hooks/useTopBanner.tsx
  apps/stats-web/src/lib/urlUtils.ts
  apps/tx-signer/src/services/config/config.service.spec.ts
  packages/dev-config/eslint/typescript.mjs
  packages/react-query-proxy/src/createProxy/createProxy.spec.ts
  packages/ui/hooks/use-toast.tsx
Due: api, deploy-web, notifications, provider-console, provider-proxy, stats-web

chore: fixes eslint errors
  apps/api/src/billing/model-schemas/user-wallet/user-wallet.schema.ts
  apps/api/src/core/lib/create-route/create-route.ts
  apps/api/src/user/model-schemas/index.ts
  apps/api/src/user/model-schemas/template/template.schema.ts
  apps/api/src/user/model-schemas/user/user.schema.ts
  apps/deploy-web/src/lib/auth0/index.ts
  apps/deploy-web/src/lib/auth0/setSession/setSession.ts
  package-lock.json
Due: api, deploy-web

fix(styling): reserve page loading-bar height on all pages (#3468)
  apps/deploy-web/src/components/layout/Layout.spec.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
Due: deploy-web

fix(billing): make top-up charges idempotent across client retries
  apps/api/drizzle/0032_massive_wolverine.sql
  apps/api/drizzle/meta/0032_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/model-schemas/stripe-transaction/stripe-transaction.schema.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.integration.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.spec.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.integration.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/functional/stripe-transactions-confirm.spec.ts
  apps/api/test/seeders/database-stripe-transaction.seeder.ts
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
  apps/deploy-web/src/utils/stripeErrorHandler.spec.ts
  apps/deploy-web/src/utils/stripeErrorHandler.ts
  apps/deploy-web/tests/unit/setup.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(billing): frame top-up polling timeout as pending, not failed
  apps/deploy-web/src/context/PaymentPollingProvider/PaymentPollingProvider.spec.tsx
  apps/deploy-web/src/context/PaymentPollingProvider/PaymentPollingProvider.tsx
Due: deploy-web

fix(billing): harden top-up idempotency per review
  apps/api/src/billing/services/stripe-error/stripe-error.service.spec.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/functional/stripe-transactions-confirm.spec.ts
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.tsx
  apps/deploy-web/src/context/PaymentPollingProvider/PaymentPollingProvider.spec.tsx
  apps/deploy-web/src/context/PaymentPollingProvider/PaymentPollingProvider.tsx
  apps/deploy-web/src/utils/stripeErrorHandler.spec.ts
  apps/deploy-web/src/utils/stripeErrorHandler.ts
Due: api, deploy-web

fix(billing): serialize HttpError errorCode so distinct payment codes reach clients
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.spec.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.ts
  apps/api/test/functional/stripe-transactions-confirm.spec.ts
Due: api

chore: reverts loggers require
  packages/logging/src/services/logger/logger.service.ts
Due: none

chore: fixes eslint errors again
  apps/api/src/user/model-schemas/index.ts
  packages/logging/src/services/logger/logger.service.ts
Due: api

chore: fixes console import
  apps/api/src/app/console.ts
Due: api

fix(styling): remove render-blocking external Google Fonts link
  apps/deploy-web/src/pages/_document.tsx
Due: deploy-web

fix(styling): remove render-blocking external Google Fonts link (#3486)
  apps/deploy-web/src/pages/_document.tsx
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
