Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix: log when calculated top-up-amount is not a positive value (#1861)
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

feat(billing): add stripe transactions
  apps/api/drizzle/0019_robust_lady_ursula.sql
  apps/api/drizzle/meta/0019_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/model-schemas/index.ts
  apps/api/src/billing/model-schemas/stripe-coupon/stripe-coupon.schema.ts
  apps/api/src/billing/model-schemas/stripe-transaction/stripe-transaction.schema.ts
  apps/api/src/billing/repositories/index.ts
  apps/api/src/billing/repositories/stripe-coupon/stripe-coupon.repository.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.spec.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/test/seeders/index.ts
  apps/api/test/seeders/stripe-webhook-events.seeder.ts
Due: api

fix(billing): refacto seeder
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/test/seeders/stripe.seeder.ts
Due: api

fix(billing): move rest api env var close to rpc
  apps/api/src/billing/config/env.config.ts
  apps/api/src/utils/constants.ts
  apps/api/src/utils/env.ts
Due: api

feat(network): add rpc proxy to indexer
  packages/database/chainDefinitions.ts
Due: none

feat(log-collector): adds optional pod label filtering
  apps/log-collector/README.md
  apps/log-collector/src/services/config/config.service.ts
  apps/log-collector/src/services/pod-discovery/pod-discovery.service.spec.ts
  apps/log-collector/src/services/pod-discovery/pod-discovery.service.ts
Due: none

feat(log-collector): implements basic log collector control in the sdl builder
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.spec.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/components/sdl/SimpleServiceFormControl.tsx
  apps/deploy-web/src/hooks/useFlag.tsx
  apps/deploy-web/tests/seeders/index.ts
  apps/deploy-web/tests/seeders/sdlService.ts
Due: deploy-web

fix(sdl): adds review fixes
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.spec.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
Due: deploy-web

fix(sdl): ensures there's no services with name duplicates in the builder
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
Due: deploy-web

fix(billing): pr fixes
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.spec.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/test/seeders/stripe-webhook-events.seeder.ts
Due: api

fix(billing): pr fixes
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.spec.ts
Due: api

fix: upgrade hono/node-server in provider-proxy to fix crash
  apps/provider-proxy/package.json
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/ProviderProxy.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/tsconfig.build.json
  package-lock.json
Due: provider-proxy

fix: upgrade hono/node-server in provider-proxy to fix crash (#1853)
  apps/provider-proxy/package.json
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/ProviderProxy.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/tsconfig.build.json
  package-lock.json
Due: provider-proxy

refactor: handles close/notification for trial deployments via background job
  .helm/console-api-staging-mainnet-values.yaml
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.spec.ts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.ts
  apps/api/src/app/services/trial-deployment-created/trial-deployment-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-created/trial-deployment-created.handler.ts
  apps/api/src/app/services/trial-started/trial-started.handler.spec.ts
  apps/api/src/app/services/trial-started/trial-started.handler.ts
  apps/api/src/billing/events/trial-deployment-created.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/console.ts
  apps/api/src/core/index.ts
  apps/api/src/core/services/domain-events/domain-events.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/controllers/deployment/trial.controller.spec.ts
  apps/api/src/deployment/controllers/deployment/trial.controller.ts
  apps/api/src/deployment/services/trial-deployments-cleaner/trial-deployments-cleaner.service.spec.ts
  apps/api/src/deployment/services/trial-deployments-cleaner/trial-deployments-cleaner.service.ts
  apps/api/src/deployment/types/trial-deployments.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.spec.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.ts
Due: api

refactor: improves email templates texts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.spec.ts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.ts
  apps/api/src/app/services/trial-deployment-created/trial-deployment-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-created/trial-deployment-created.handler.ts
  apps/api/src/app/services/trial-started/trial-started.handler.spec.ts
  apps/api/src/app/services/trial-started/trial-started.handler.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.spec.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.ts
  apps/api/src/notifications/services/notification-templates/before-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/start-trial-notification.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.ts
  apps/api/src/notifications/services/notification-templates/trial-ended-notification.ts
Due: api

chore: adds fallback for user claims generation in oauth mock server
  packages/docker/oauth/login.html
Due: none

chore: fix comments
  apps/api/src/billing/events/trial-deployment-created.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.ts
Due: api

chore: properly format date in startTrialNotification
  apps/api/src/notifications/services/notification-templates/start-trial-notification.ts
Due: api

feat: use JWT instead of certificates
  apps/api/examples/lease-flow.ts
  apps/api/package.json
  apps/api/src/billing/lib/wallet/wallet.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/http-schemas/lease.schema.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  package-lock.json
Due: api

feat: memoize generating data for JWT Token
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
Due: api

fix: wrap args in an object
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: limit permissions in JWT token
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: communicate straight with provider
  apps/api/src/provider/services/provider/provider.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api

test: add a missing test for better coverage of ProviderService
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

fix: set scoped permissions when generating jwt tokens
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: rename variable passed around to manifest
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api

refactor: drop unused variables
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: use changed types of jwt tokens
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

test: make sure endpoints work with or without cert
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
Due: api

feat: can generate a jwt token with custom TTL
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
Due: api

fix: address Rabbit's notes
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/test/functional/lease-flow.spec.ts
Due: api

fix: fix runtime error for the case when providerError is a boolean
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

feat: adds notification on first trial deployment
  apps/api/src/app/services/trial-deployment-created/trial-deployment-created.handler.ts
  apps/api/src/billing/events/trial-deployment-created.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/core/services/domain-events/domain-events.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  packages/http-sdk/src/deployment/deployment-http.service.ts
Due: api

chore: adds fallback for user claims generation in oauth mock server (#1869)
  packages/docker/oauth/login.html
Due: none

feat(log-collector): adds log collector configuration to sdl
  apps/deploy-web/src/components/sdl/DatadogEnvConfig/DatadogEnvConfig.tsx
  apps/deploy-web/src/components/sdl/EphemeralStorageFormControl.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.tsx
  apps/deploy-web/src/types/sdlBuilder.ts
  apps/deploy-web/src/utils/keyValue.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
