Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(config): handles absent nodes/versions files
  apps/api/src/network/controllers/network/network.controller.ts
  apps/api/src/network/routes/network/network.router.ts
  apps/api/src/network/services/network/network.service.ts
  apps/api/test/functional/nodes-v1.spec.ts
  packages/net/src/generated/netConfigData.ts
Due: api

fix: name and right button link to deployment page, not the whole line
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  packages/ui/components/checkbox.tsx
Due: deploy-web

fix: only ids present may be also selected
  apps/deploy-web/src/hooks/useListSelection/useListSelection.ts
Due: deploy-web

fix: onboarding redirects
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  packages/net/src/generated/netConfigData.ts
Due: deploy-web

fix(deployment): get all deployment grants
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.spec.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.ts
  apps/deploy-web/src/types/address.ts
Due: deploy-web

fix: remove log
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
Due: deploy-web

fix: functional tests with sandbox
  apps/api/env/.env.functional.test
  apps/api/test/functional/managed-api-deployment-flow.spec.ts
  apps/api/test/seeders/lease.seeder.ts
Due: api

fix: env var
  apps/api/env/.env.functional.test
Due: api

fix: remove log
  apps/api/test/functional/managed-api-deployment-flow.spec.ts
Due: api

fix: undo faucet changes
  apps/api/test/services/test-wallet.service.ts
Due: api

fix: faucet url
  apps/api/env/.env.functional.test
Due: api

style: delete comments and console logs
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/uiState/isWalletConnected.ts
Due: deploy-web

fix: name and right button link to deployment page, not the whole line
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/hooks/useListSelection/useListSelection.ts
  packages/ui/components/checkbox.tsx
Due: deploy-web

test(deployment): add e2e tests for SDL builder
  apps/deploy-web/tests/ui/pages/BuildTemplatePage.tsx
  apps/deploy-web/tests/ui/sdl-builder-deployment.spec.ts
Due: deploy-web

chore: improves notification channels qa checklist
  doc/e2e-manual-qa-checklist.md
Due: none

fix: tests
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
Due: deploy-web

fix: remove testnet providers test
  apps/api/test/functional/managed-api-deployment-flow.spec.ts
Due: api

chore: improves alerts & notifications qa checklist
  doc/e2e-manual-qa-checklist.md
Due: none

fix: window not defined
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
Due: deploy-web

fix: removes duplicate query key def
  apps/deploy-web/src/queries/queryKeys.ts
Due: deploy-web

fix(release): adds api testnet env
  apps/api/env/.env.testnet
Due: api

feat(release): adds notifications testnet temporal ci
  .github/workflows/console-api-deploy-testnet.yml
  .github/workflows/notifications-deploy-testnet.yml
  apps/notifications/env/.env.staging-testnet
Due: notifications

feat(notifications): integrates sdk53 into the service
  apps/notifications/package.json
  apps/notifications/src/modules/alert/services/deployment/deployment.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
  apps/notifications/src/modules/chain/chain.module.ts
  apps/notifications/src/modules/chain/providers/comet-client/comet-client.provider.ts
  apps/notifications/src/modules/chain/providers/registry.provider.ts
  apps/notifications/src/modules/chain/providers/tendermint-client/tendermint-client.provider.ts
  apps/notifications/src/modules/chain/services/block-message-parser/block-message-parser.service.spec.ts
  apps/notifications/src/modules/chain/services/block-message-parser/block-message-parser.service.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/modules/chain/services/message-decoder/message-decoder.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
  apps/notifications/test/functional/balance-alert.spec.ts
  apps/notifications/test/functional/deployment-alert-crud.spec.ts
  apps/notifications/test/seeders/deployment-balance-response.seeder.ts
  apps/notifications/test/seeders/message.seeder.ts
  apps/notifications/tsconfig.json
  package-lock.json
Due: notifications

feat(release): implements console-web staging testnet deploy
  .github/workflows/console-web-deploy-testnet.yml
  apps/deploy-web/env/.env.staging-testnet
Due: deploy-web

refactor: migrate provider-proxy to next chain sdk (#1980)
  apps/deploy-web/src/queries/queryKeys.ts
Due: deploy-web

chore(release): implements basic indexer deploy CI for the testnet
  .github/workflows/all-trigger-coverage.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/diff-package-lock.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/indexer-release-testnet.yml
  .github/workflows/local-packages-validate.yml
  .github/workflows/log-collector-validate-n-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/reusable-build-image.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/stats-web-docker-build.yml
  .github/workflows/workspace-ci-unsafe.yml
  .helm/indexer-staging-testnet-values.yaml
  apps/indexer/README.md
  packages/docker/script/build.sh
Due: indexer

feat(analytics): chain sdk next indexer (#1983)
  packages/database/chainDefinitions.ts
Due: none

fix(release): adds api testnet values
  .helm/console-api-staging-testnet-values.yaml
Due: none

feat(release): adds api testnet release
  .github/workflows/console-api-deploy-testnet.yml
  .github/workflows/indexer-deploy-testnet.yml
Due: none

feat(release): adds utility workflow to swap sdk on beta sandbox
  .github/workflows/console-web-deploy-testnet.yml
Due: none

fix: fixes proto types of deployment authorization (#2080)
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/services/auto-top-up-message/auto-top-up-message.service.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/customRegistry.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
