Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

refactor(notifications): removes tmp file
  apps/notifications/test.js
Due: notifications

fix(billing): handle deployment config errors (#1236)
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/types/provider.ts
Due: api

test(notifications): adds basic functional test for raw alerts
  .github/workflows/notifications-validate-n-build.yml
  apps/notifications/env/.env.functional.test
  apps/notifications/jest.config.ts
  apps/notifications/package.json
  apps/notifications/src/alert/alert.module.ts
  apps/notifications/src/alert/repositories/deployment-balance-alert/deployment-balance-alert.repository.ts
  apps/notifications/src/alert/repositories/raw-alert/raw-alert.repository.ts
  apps/notifications/src/broker/broker.module.ts
  apps/notifications/src/config/db.config.ts
  apps/notifications/test/functional/raw-alert.spec.ts
  apps/notifications/test/jest-e2e.json
  apps/notifications/test/seeders/contact-point.seeder.ts
  apps/notifications/test/services/test-database.service.ts
  apps/notifications/test/setup-functional-env.ts
  apps/notifications/test/setup-functional-tests.ts
  package-lock.json
Due: notifications

feat(deployment): add deployment list endpoint
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment/deployment.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(deployment): fix delpoyments routes
  apps/api/examples/lease-flow.ts
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(deployment): add tests and fix them
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

chore: adjusts codecov coverage to existing metrics
  .codecov.yml
Due: none

chore: adjusts codecov coverage to existing metrics (#1246)
  .codecov.yml
Due: none

feat(deployment): add swagger doc for managed api
  apps/api/src/app.ts
  apps/api/src/routers/deploymentApiRouter.ts
  apps/api/src/routes/deployment/index.ts
Due: api

feat(provider): add new jwt package
  package-lock.json
  packages/jwt/jest.config.ts
  packages/jwt/package.json
  packages/jwt/scripts/generate.ts
  packages/jwt/src/JwtSchema/JwtSchema.spec.ts
  packages/jwt/src/JwtSchema/JwtSchema.ts
  packages/jwt/src/generated/jwtSchemaData.ts
  packages/jwt/src/index.ts
  packages/jwt/tsconfig.build.json
  packages/jwt/tsconfig.json
  tsconfig.json
Due: none

feat(provider): add pre commit jwt
  .husky/pre-commit
  package.json
Due: none

test(alert): adds more functional tests
  apps/notifications/package.json
  apps/notifications/src/alert/services/blockchain-node-http/blockchain-node-http.service.ts
  apps/notifications/src/alert/services/deployment/deployment.service.ts
  apps/notifications/test/functional/balance-alert.spec.ts
  apps/notifications/test/functional/raw-alert.spec.ts
  apps/notifications/test/seeders/deployment-balance-alert.seeder.ts
  apps/notifications/test/seeders/deployment-balance-response.seeder.ts
  package-lock.json
  package.json
Due: notifications

feat(deployment): add swagger doc for managed api (#1247)
  apps/api/src/app.ts
  apps/api/src/routers/deploymentApiRouter.ts
  apps/api/src/routes/deployment/index.ts
Due: api

fix: removes mistakenly added deps
  package-lock.json
  package.json
Due: none

feat(provider): added json schema validation for jwt
  package-lock.json
  packages/jwt/jest.config.ts
  packages/jwt/package.json
  packages/jwt/scripts/generate.ts
  packages/jwt/src/JwtSchema/JwtSchema.spec.ts
  packages/jwt/src/JwtSchema/JwtSchema.ts
  packages/jwt/src/JwtToken.test.ts
  packages/jwt/src/JwtToken.ts
  packages/jwt/src/JwtValidator/JwtValidator.spec.ts
  packages/jwt/src/JwtValidator/JwtValidator.ts
  packages/jwt/src/generated/jwtTestCases.ts
  packages/jwt/src/index.ts
  packages/jwt/src/types.ts
  packages/jwt/src/wallet.ts
  packages/jwt/tsconfig.build.json
  packages/jwt/tsconfig.json
Due: none

fix(styling): sidebar collapsed styling
  apps/deploy-web/src/components/layout/SidebarRouteButton.tsx
Due: deploy-web

fix(styling): sidebar collapsed styling (#1254)
  apps/deploy-web/src/components/layout/SidebarRouteButton.tsx
Due: deploy-web

feat(analytics): add linkedin script
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
  apps/deploy-web/env/.env.staging
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/TrackingScripts.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/pages/_document.tsx
  apps/deploy-web/src/utils/domUtils.ts
Due: deploy-web

chore: adds indexer migrations for testing api
  apps/api/test/seeders/provider.seeder.ts
  apps/api/test/services/test-database.service.ts
  apps/indexer/README.md
  apps/indexer/drizzle.config.ts
  apps/indexer/drizzle/0000_chunky_rattler.sql
  apps/indexer/drizzle/meta/0000_snapshot.json
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/relations.ts
  apps/indexer/drizzle/schema.ts
  apps/indexer/package.json
  package-lock.json
Due: api, indexer

fix(analytics): only add script tag once
  apps/deploy-web/src/components/layout/TrackingScripts.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease.tsx
  apps/deploy-web/src/utils/domUtils.ts
Due: deploy-web

feat(analytics): add linkedin script (#1255)
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
  apps/deploy-web/env/.env.staging
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/TrackingScripts.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/pages/_document.tsx
  apps/deploy-web/src/utils/domUtils.ts
Due: deploy-web

fix(billing): fixes some of the managed wallet error codes
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/verify-rsa-jwt-cloudflare-worker-main/verify.ts
Due: api

fix: update tailscale timeout
  .github/workflows/reusable-deploy-k8s.yml
Due: none

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
