Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix(deployment): resume an in-progress deployment from the definition the console recorded
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ResumeDeploymentGuard/ResumeDeploymentGuard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ResumeDeploymentGuard/ResumeDeploymentGuard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
Due: deploy-web

fix(deployment): keep the page from being left while a deployment is being created
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentBackButton/ConfigureDeploymentBackButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentBackButton/ConfigureDeploymentBackButton.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentFlowProvider/DeploymentFlowProvider.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentFlowProvider/DeploymentFlowProvider.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/onboarding-picker/SkipOnboardingButton/SkipOnboardingButton.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/SkipOnboardingButton/SkipOnboardingButton.tsx
  apps/deploy-web/src/hooks/useWarnBeforeUnload/useWarnBeforeUnload.spec.ts
  apps/deploy-web/src/hooks/useWarnBeforeUnload/useWarnBeforeUnload.ts
Due: deploy-web

fix(deployment): center the configure page column content
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ConfigureEditor.tsx
Due: deploy-web

fix(deployment): word the outage banner and deploy hints without blockchain terms
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/components/layout/TopBanner.spec.tsx
  apps/deploy-web/src/components/layout/TopBanner.tsx
Due: deploy-web

fix(alert): name every alert type in the alerts list
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
  apps/deploy-web/tests/seeders/alert.ts
Due: deploy-web

fix(deployment): remove blockchain wording from console ui copy (#4139)
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/components/layout/TopBanner.spec.tsx
  apps/deploy-web/src/components/layout/TopBanner.tsx
  apps/deploy-web/tests/seeders/alert.ts
Due: deploy-web

fix(deployment): center the configure page column content (#4138)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ConfigureEditor.tsx
Due: deploy-web

fix(styling): mute the card header icons on the configure page
  packages/ui/components/collapsible-card.tsx
Due: none

fix(styling): show a pointer cursor over the service name on the configure page
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ServiceCard/ServiceCard.tsx
Due: deploy-web

feat(provider): count free gpus per model and per node in placement options
  apps/api/src/placement-options/http-schemas/placement-options.schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/placement-options.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuAvailability/gpuAvailability.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/useGpuAvailability/useGpuAvailability.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/provider-inventory/src/controllers/placement-options/placement-options.controller.spec.ts
  apps/provider-inventory/src/http-schemas/placement-options.schema.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.spec.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.ts
  apps/provider-inventory/src/repositories/placement-options/placement-options.repository.integration.ts
  apps/provider-inventory/src/repositories/placement-options/placement-options.repository.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

fix(styling): mute the card header icons on the configure page (#4142)
  packages/ui/components/collapsible-card.tsx
Due: none

fix(deployment): mark private registry credentials as required
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdateFormSchema.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/sdlSecrets.spec.ts
Due: deploy-web

fix(styling): show a pointer cursor over the service name on the configure page (#4143)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ServiceCard/ServiceCard.tsx
Due: deploy-web

fix(deployment): resume an in-progress deployment from the definition the console recorded (#4140)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ResumeDeploymentGuard/ResumeDeploymentGuard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ResumeDeploymentGuard/ResumeDeploymentGuard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
Due: deploy-web

fix(deployment): keep the page from being left while a deployment is being created (#4141)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentBackButton/ConfigureDeploymentBackButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentBackButton/ConfigureDeploymentBackButton.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentFlowProvider/DeploymentFlowProvider.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentFlowProvider/DeploymentFlowProvider.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/onboarding-picker/SkipOnboardingButton/SkipOnboardingButton.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/SkipOnboardingButton/SkipOnboardingButton.tsx
  apps/deploy-web/src/hooks/useWarnBeforeUnload/useWarnBeforeUnload.spec.ts
  apps/deploy-web/src/hooks/useWarnBeforeUnload/useWarnBeforeUnload.ts
Due: deploy-web

fix(deployment): name what keeps providers from showing on the configure page
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/InvalidSpecReasons/InvalidSpecReasons.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/InvalidSpecReasons/InvalidSpecReasons.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useRequestQuotes/invalidFieldMessages.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useRequestQuotes/invalidFieldMessages.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdateFormSchema.spec.ts
  apps/deploy-web/src/queries/useScreenedProviders.spec.tsx
  apps/deploy-web/src/queries/useScreenedProviders.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
Due: deploy-web

fix(provider): answer 400 for an unreadable mtls private key
  apps/provider-proxy/src/utils/schema.spec.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
Due: provider-proxy

feat(provider): count free gpus per model and per node in placement options (#4144)
  apps/api/src/placement-options/http-schemas/placement-options.schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/placement-options.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuAvailability/gpuAvailability.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/useGpuAvailability/useGpuAvailability.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/provider-inventory/src/controllers/placement-options/placement-options.controller.spec.ts
  apps/provider-inventory/src/http-schemas/placement-options.schema.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.spec.ts
  apps/provider-inventory/src/mappers/gpu-options-mapper/gpu-options-mapper.ts
  apps/provider-inventory/src/repositories/placement-options/placement-options.repository.integration.ts
  apps/provider-inventory/src/repositories/placement-options/placement-options.repository.ts
  packages/console-api-types/src/schema.d.ts
Due: api, deploy-web

feat(deployment): show free gpus per model in the gpu model picker
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.tsx
  apps/deploy-web/src/types/gpu.ts
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/deploy-web/src/utils/akash/gpu.ts
Due: deploy-web

fix(deployment): explain what blocks providers when private registry is checked (#4147)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/InvalidSpecReasons/InvalidSpecReasons.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/InvalidSpecReasons/InvalidSpecReasons.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useRequestQuotes/invalidFieldMessages.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useRequestQuotes/invalidFieldMessages.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdateFormSchema.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/deploymentUpdateFormSchema.ts
  apps/deploy-web/src/queries/useScreenedProviders.spec.tsx
  apps/deploy-web/src/queries/useScreenedProviders.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/sdlSecrets.spec.ts
Due: deploy-web

feat(deployment): show free gpus per model in the gpu model picker (#4145)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.tsx
  apps/deploy-web/src/types/gpu.ts
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/deploy-web/src/utils/akash/gpu.ts
Due: deploy-web

feat(deployment): warn when a replica asks for more gpus than one node has free
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/types/gpu.ts
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/deploy-web/src/utils/akash/gpu.ts
Due: deploy-web

feat(deployment): warn when a replica asks for more gpus than one node has free (#4146)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/types/gpu.ts
  apps/deploy-web/src/utils/akash/gpu.spec.ts
  apps/deploy-web/src/utils/akash/gpu.ts
Due: deploy-web

fix(provider): answer 400 for an unreadable mtls private key (#4148)
  apps/provider-proxy/src/utils/schema.spec.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
Due: provider-proxy

fix(provider): answer 400 for an mtls key that does not match its certificate
  apps/provider-proxy/src/utils/schema.spec.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
Due: provider-proxy

fix(deployment): open the update tab for env values left empty on purpose
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.ts
  apps/deploy-web/src/utils/sdl/storedDefinition.spec.ts
  apps/deploy-web/src/utils/sdl/storedDefinition.ts
Due: deploy-web

feat(deployment): restore the starting sdl when the configuration is reset
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ResetConfigurationButton/ResetConfigurationButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ResetConfigurationButton/ResetConfigurationButton.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigureDraft/useConfigureDraft.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigureDraft/useConfigureDraft.ts
Due: deploy-web

feat(deployment): turn the runtime card into a replicas card
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposeSshField/ExposeSshField.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposeSshField/ExposeSshField.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ReplicasCard/ReplicasCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ReplicasCard/ReplicasCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
Due: deploy-web

fix(observability): stop tracing sentry uploads and middleware to cut span volume
  apps/deploy-web/src/instrumentation.ts
  apps/deploy-web/src/lib/sentry/isSentryEnvelopeUpload/isSentryEnvelopeUpload.spec.ts
  apps/deploy-web/src/lib/sentry/isSentryEnvelopeUpload/isSentryEnvelopeUpload.ts
  apps/stats-web/src/instrumentation.ts
  apps/stats-web/src/lib/sentry/isSentryEnvelopeUpload/isSentryEnvelopeUpload.spec.ts
  apps/stats-web/src/lib/sentry/isSentryEnvelopeUpload/isSentryEnvelopeUpload.ts
Due: deploy-web, stats-web

fix(observability): send csp violation reports from a sample of page loads
  apps/deploy-web/src/lib/csp/csp.spec.ts
  apps/deploy-web/src/lib/csp/csp.ts
  apps/deploy-web/src/middleware.spec.ts
  apps/deploy-web/src/middleware.ts
  apps/stats-web/src/lib/csp/csp.spec.ts
  apps/stats-web/src/lib/csp/csp.ts
  apps/stats-web/src/middleware.spec.ts
  apps/stats-web/src/middleware.ts
Due: deploy-web, stats-web

fix(observability): stop reporting request failures the ui already handles
  apps/deploy-web/src/services/query-error-policy/query-error-policy.spec.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.ts
Due: deploy-web

fix(observability): tag browser sentry events with the deployment environment
  apps/deploy-web/next.config.js
  apps/deploy-web/sentry.client.config.ts
  apps/stats-web/next.config.js
  apps/stats-web/sentry.client.config.ts
Due: deploy-web, stats-web

refactor(observability): move the deploy-web server sentry init into a tested module
  apps/deploy-web/src/instrumentation.ts
  apps/deploy-web/src/lib/sentry/initServerSentry/initServerSentry.spec.ts
  apps/deploy-web/src/lib/sentry/initServerSentry/initServerSentry.ts
Due: deploy-web

fix(provider): answer 400 for an mtls key that does not match its certificate (#4149)
  apps/provider-proxy/src/utils/schema.spec.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
Due: provider-proxy

feat(deployment): reset to the starting sdl and turn the runtime card into replicas (#4150)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposeSshField/ExposeSshField.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposeSshField/ExposeSshField.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ReplicasCard/ReplicasCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ReplicasCard/ReplicasCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ResetConfigurationButton/ResetConfigurationButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ResetConfigurationButton/ResetConfigurationButton.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigureDraft/useConfigureDraft.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigureDraft/useConfigureDraft.ts
Due: deploy-web

fix(observability): stop tracing sentry uploads and middleware to cut span volume (#4153)
  apps/deploy-web/src/instrumentation.ts
  apps/deploy-web/src/lib/sentry/initServerSentry/initServerSentry.spec.ts
  apps/deploy-web/src/lib/sentry/initServerSentry/initServerSentry.ts
  apps/deploy-web/src/lib/sentry/isSentryEnvelopeUpload/isSentryEnvelopeUpload.spec.ts
  apps/deploy-web/src/lib/sentry/isSentryEnvelopeUpload/isSentryEnvelopeUpload.ts
  apps/stats-web/src/instrumentation.ts
  apps/stats-web/src/lib/sentry/isSentryEnvelopeUpload/isSentryEnvelopeUpload.spec.ts
  apps/stats-web/src/lib/sentry/isSentryEnvelopeUpload/isSentryEnvelopeUpload.ts
Due: deploy-web, stats-web

fix(observability): send csp violation reports from a sample of page loads (#4154)
  apps/deploy-web/src/lib/csp/csp.spec.ts
  apps/deploy-web/src/lib/csp/csp.ts
  apps/deploy-web/src/middleware.spec.ts
  apps/deploy-web/src/middleware.ts
  apps/stats-web/src/lib/csp/csp.spec.ts
  apps/stats-web/src/lib/csp/csp.ts
  apps/stats-web/src/middleware.spec.ts
  apps/stats-web/src/middleware.ts
Due: deploy-web, stats-web

fix(observability): stop reporting request failures the ui already handles (#4155)
  apps/deploy-web/src/services/query-error-policy/query-error-policy.spec.ts
  apps/deploy-web/src/services/query-error-policy/query-error-policy.ts
Due: deploy-web

fix(observability): tag browser sentry events with the deployment environment (#4156)
  apps/deploy-web/next.config.js
  apps/deploy-web/sentry.client.config.ts
  apps/stats-web/next.config.js
  apps/stats-web/sentry.client.config.ts
Due: deploy-web, stats-web

fix(stats): run the sentry build step for stats-web images
  apps/stats-web/sentry.client.config.ts
  packages/docker/docker-compose.build.yml
Due: stats-web
