Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      indexer:
        target: 0%
        flags:
          - indexer
      notifications:
        target: 80%
        flags:
          - notifications
      provider-console:
        target: 0%
        flags:
          - provider-console
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
      stats-web:
        target: 0%
        flags:
          - stats-web

flags:
  api:
    paths:
      - apps/api/
  deploy-web:
    paths:
      - apps/deploy-web/
  indexer:
    paths:
      - apps/indexer/
  notifications:
    paths:
      - apps/notifications/
  provider-console:
    paths:
      - apps/provider-console/
  provider-proxy:
    paths:
      - apps/provider-proxy/
  stats-web:
    paths:
      - apps/stats-web/

chore: renames workflows to have shorter name (#1224)
  .codecov.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
Due: none

chore: tryies to enable coverage checks
  .codecov.yml
Due: none

chore: tries to enable coverage checks (#1225)
  .codecov.yml
Due: none

chore: fixes ci workflow for provider-proxy
  .github/workflows/provider-proxy-docker-build.yml
Due: none

chore: fixes ci workflow for provider-proxy (#1226)
  .github/workflows/provider-proxy-docker-build.yml
Due: none

fix(billing): logs auto top up error data
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

feat(analytics): track user action on the backend
  apps/api/env/.env.functional.test
  apps/api/env/.env.local.sample
  apps/api/env/.env.production
  apps/api/env/.env.sample
  apps/api/env/.env.staging
  apps/api/env/.env.unit.test
  apps/api/package.json
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/core/config/env.config.ts
  apps/api/src/core/providers/amplitude.provider.ts
  apps/api/src/core/providers/hash.provider.ts
  apps/api/src/core/services/analytics/analytics.service.spec.ts
  apps/api/src/core/services/analytics/analytics.service.ts
  apps/api/src/services/db/userDataService.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/services/user/user-http.service.ts
  apps/deploy-web/src/types/user.ts
  package-lock.json
Due: api, deploy-web

fix(deployment): provider name might be null (#1209)
  apps/api/src/types/provider.ts
  apps/api/src/utils/map/provider.ts
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/deployments/LeaseChip.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/new-deployment/BidRow.tsx
  apps/deploy-web/src/components/providers/ProviderSummary.tsx
  apps/deploy-web/src/components/providers/ProviderTableRow.tsx
  apps/deploy-web/src/components/shared/CopyTextToClipboardButton.tsx
  apps/deploy-web/src/components/shared/ProviderName.tsx
  apps/deploy-web/src/components/shared/ShortenedValue.tsx
  apps/deploy-web/src/types/provider.ts
Due: api, deploy-web

chore: added a new badge release (#1223)
  README.md
Due: none

fix(provider): do not cache bad connections (#1195)
  apps/indexer/src/providers/statusEndpointHandlers/grpc.ts
Due: indexer

fix(billing): handle deployment config errors
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/types/provider.ts
Due: api

chore: notify if UI tests fail on beta
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
Due: none

chore: notify if UI tests fail on beta (#1228)
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
Due: none

chore: adds flags to codecov default
  .codecov.yml
  .github/workflows/all-trigger-coverage.yml
Due: none

chore: adds flags to codecov default (#1227)
  .codecov.yml
  .github/workflows/all-trigger-coverage.yml
Due: none

refactor: removes sentry from console-api
  .github/workflows/all-trigger-coverage.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/stats-web-docker-build.yml
  apps/api/deploy.yaml
  apps/api/env/.env.local.sample
  apps/api/env/.env.production
  apps/api/env/.env.sample
  apps/api/env/.env.staging
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/core/config/env.config.ts
  apps/api/src/core/providers/sentry.provider.ts
  apps/api/src/core/services/error/error.service.spec.ts
  apps/api/src/core/services/error/error.service.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.ts
  apps/api/src/core/services/sentry-event/sentry-event.service.ts
  apps/api/src/middlewares/clientInfoMiddleware.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/user/services/stale-anonymous-users-cleaner/stale-anonymous-users-cleaner.service.ts
  apps/api/src/utils/logging.ts
  apps/api/src/verify-rsa-jwt-cloudflare-worker-main/get-jwks.ts
  apps/api/src/verify-rsa-jwt-cloudflare-worker-main/verify.ts
  apps/deploy-web/package.json
  apps/indexer/src/shared/utils/query.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/ProviderProxy.ts
  apps/provider-proxy/tsconfig.build.json
  apps/stats-web/package.json
  package-lock.json
  packages/dev-config/tsconfig.base-node.json
  packages/logging/src/servicies/logger/logger.service.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.spec.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.ts
Due: api, deploy-web, indexer, provider-proxy, stats-web

refactor: removes sentry from console-api (#1220)
  .github/workflows/all-trigger-coverage.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/stats-web-docker-build.yml
  apps/api/deploy.yaml
  apps/api/env/.env.local.sample
  apps/api/env/.env.production
  apps/api/env/.env.sample
  apps/api/env/.env.staging
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/core/config/env.config.ts
  apps/api/src/core/providers/sentry.provider.ts
  apps/api/src/core/services/error/error.service.spec.ts
  apps/api/src/core/services/error/error.service.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.ts
  apps/api/src/core/services/sentry-event/sentry-event.service.ts
  apps/api/src/middlewares/clientInfoMiddleware.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/user/services/stale-anonymous-users-cleaner/stale-anonymous-users-cleaner.service.ts
  apps/api/src/utils/logging.ts
  apps/api/src/verify-rsa-jwt-cloudflare-worker-main/get-jwks.ts
  apps/api/src/verify-rsa-jwt-cloudflare-worker-main/verify.ts
  apps/deploy-web/package.json
  apps/indexer/src/shared/utils/query.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/ProviderProxy.ts
  apps/provider-proxy/tsconfig.build.json
  apps/stats-web/package.json
  package-lock.json
  packages/dev-config/tsconfig.base-node.json
  packages/logging/src/servicies/logger/logger.service.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.spec.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.ts
Due: api, deploy-web, indexer, provider-proxy, stats-web

chore: adds additional check for release workflows
  .github/workflows/console-api-release.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/console-web-release.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-console-release.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/provider-proxy-release.yml
  .github/workflows/reusable-create-github-release.yml
  .github/workflows/stats-web-docker-build.yml
  .github/workflows/stats-web-release.yml
Due: none

chore: adds additional check for release workflows (#1237)
  .github/workflows/console-api-release.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/console-web-release.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-console-release.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/provider-proxy-release.yml
  .github/workflows/reusable-create-github-release.yml
  .github/workflows/stats-web-docker-build.yml
  .github/workflows/stats-web-release.yml
Due: none

refactor(alert): uses own simpler and safer template interpolation
  .commitlintrc.json
  apps/notifications/package.json
  apps/notifications/src/alert/alert.module.ts
  apps/notifications/src/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.spec.ts
  apps/notifications/src/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.ts
  apps/notifications/src/alert/services/raw-alerts/raw-alerts.service.spec.ts
  apps/notifications/src/alert/services/raw-alerts/raw-alerts.service.ts
  apps/notifications/src/alert/services/template/template.service.spec.ts
  apps/notifications/src/alert/services/template/template.service.ts
  package-lock.json
Due: notifications

feat(notifications): implements broker utilities
  apps/notifications/package.json
  apps/notifications/src/alert/alert.module.ts
  apps/notifications/src/alert/controllers/chain-events/chain-events.controller.spec.ts
  apps/notifications/src/alert/controllers/chain-events/chain-events.controller.ts
  apps/notifications/src/alert/handlers/chain-events/chain-events.handler.spec.ts
  apps/notifications/src/alert/handlers/chain-events/chain-events.handler.ts
  apps/notifications/src/alert/services/conditions-matcher/conditions-matcher.service.ts
  apps/notifications/src/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.spec.ts
  apps/notifications/src/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.ts
  apps/notifications/src/alert/services/raw-alerts/raw-alerts.service.spec.ts
  apps/notifications/src/alert/services/raw-alerts/raw-alerts.service.ts
  apps/notifications/src/app.module.ts
  apps/notifications/src/broker/broker.module.ts
  apps/notifications/src/broker/decorators/handler.decorator.ts
  apps/notifications/src/broker/index.ts
  apps/notifications/src/broker/services/broker/broker.service.ts
  apps/notifications/src/broker/services/pg-boss-handler/pg-boss-handler.service.spec.ts
  apps/notifications/src/broker/services/pg-boss-handler/pg-boss-handler.service.ts
  apps/notifications/src/chain-events/chain-events.module.ts
  apps/notifications/src/chain-events/services/chain-events/chain-events.service.spec.ts
  apps/notifications/src/chain-events/services/chain-events/chain-events.service.ts
  apps/notifications/src/config/env.config.ts
  apps/notifications/src/notifications/controllers/notification/notification.controller.ts
  apps/notifications/src/notifications/handlers/notification-command/notification-command.handler.spec.ts
  apps/notifications/src/notifications/handlers/notification-command/notification-command.handler.ts
  apps/notifications/src/notifications/notifications.module.ts
  apps/notifications/test/app.e2e-spec.ts
  package-lock.json
Due: notifications

refactor(alert): renames balance response var for more clarity
  apps/notifications/src/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.ts
Due: notifications

fix(alert): adds radix to parseInt
  apps/notifications/src/alert/services/deployment/deployment.service.ts
Due: notifications

refactor(alert): extracts axios into a dedicated service
  apps/notifications/src/alert/services/blockchain-node-http/blockchain-node-http.service.ts
  apps/notifications/src/alert/services/deployment/deployment.service.spec.ts
  apps/notifications/src/alert/services/deployment/deployment.service.ts
Due: notifications

refactor(notifications): renames message broker handler decorator
  apps/notifications/src/alert/controllers/chain-events/chain-events.controller.ts
  apps/notifications/src/broker/decorators/handler.decorator.ts
  apps/notifications/src/notifications/controllers/notification/notification.controller.ts
Due: notifications
