Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(indexer): akash deployment and market handlers with escrow settlement
  apps/chain-indexer/drizzle/0006_tired_turbo.sql
  apps/chain-indexer/drizzle/meta/0006_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/src/akash/akash-changes.ts
  apps/chain-indexer/src/akash/akash-deriver.spec.ts
  apps/chain-indexer/src/akash/akash-deriver.ts
  apps/chain-indexer/src/akash/akash-writer.service.spec.ts
  apps/chain-indexer/src/akash/akash-writer.service.ts
  apps/chain-indexer/src/akash/dec.spec.ts
  apps/chain-indexer/src/akash/dec.ts
  apps/chain-indexer/src/akash/denom.ts
  apps/chain-indexer/src/akash/deployment-reducer.spec.ts
  apps/chain-indexer/src/akash/deployment-reducer.ts
  apps/chain-indexer/src/akash/json.ts
  apps/chain-indexer/src/akash/normalize-deployment.spec.ts
  apps/chain-indexer/src/akash/normalize-deployment.ts
  apps/chain-indexer/src/akash/normalize-market.spec.ts
  apps/chain-indexer/src/akash/normalize-market.ts
  apps/chain-indexer/src/akash/resources.spec.ts
  apps/chain-indexer/src/akash/resources.ts
  apps/chain-indexer/src/akash/settlement.spec.ts
  apps/chain-indexer/src/akash/settlement.ts
  apps/chain-indexer/src/akash/uint64.spec.ts
  apps/chain-indexer/src/akash/uint64.ts
  apps/chain-indexer/src/db/schema.spec.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.spec.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.ts
Due: none

fix(indexer): harden akash settlement and identity parsing from review
  apps/chain-indexer/drizzle/0006_next_earthquake.sql
  apps/chain-indexer/drizzle/meta/0006_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/src/akash/akash-writer.service.spec.ts
  apps/chain-indexer/src/akash/akash-writer.service.ts
  apps/chain-indexer/src/akash/dec.spec.ts
  apps/chain-indexer/src/akash/denom.ts
  apps/chain-indexer/src/akash/deployment-reducer.spec.ts
  apps/chain-indexer/src/akash/json.spec.ts
  apps/chain-indexer/src/akash/json.ts
  apps/chain-indexer/src/akash/normalize-deployment.spec.ts
  apps/chain-indexer/src/akash/settlement.spec.ts
  apps/chain-indexer/src/akash/settlement.ts
  apps/chain-indexer/src/akash/uint64.spec.ts
  apps/chain-indexer/src/akash/uint64.ts
  apps/chain-indexer/src/db/schema.ts
Due: none

fix(indexer): close losing bids on lease creation and tidy akash handlers
  apps/chain-indexer/src/akash/akash-changes.ts
  apps/chain-indexer/src/akash/akash-deriver.ts
  apps/chain-indexer/src/akash/akash-writer.service.ts
  apps/chain-indexer/src/akash/deployment-reducer.spec.ts
  apps/chain-indexer/src/akash/deployment-reducer.ts
  apps/chain-indexer/src/akash/normalize-deployment.ts
  apps/chain-indexer/src/akash/normalize-market.ts
  apps/chain-indexer/src/akash/settlement.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.ts
  apps/chain-indexer/src/pipeline/msg-exec.ts
Due: none

fix(deployment): load deployment list one page at a time (#3596)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/deployments/DeploymentList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useDeploymentQuery.spec.tsx
  apps/deploy-web/src/queries/useDeploymentQuery.ts
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/queries/useLeaseQuery.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.ts
  apps/deploy-web/src/types/deployment.ts
  apps/deploy-web/src/utils/apiUtils.ts
Due: deploy-web

fix(indexer): decode legacy DecCoin amounts exactly instead of via float64
  apps/chain-indexer/package.json
  apps/chain-indexer/src/proto/legacy-dec-coin-precision.spec.ts
  apps/chain-indexer/src/proto/legacy-dec-coin-precision.ts
  apps/chain-indexer/src/proto/type-catalog.ts
  package-lock.json
Due: none

feat(indexer): akash deployment and market handlers with escrow settlement (#3600)
  apps/chain-indexer/drizzle/0006_next_earthquake.sql
  apps/chain-indexer/drizzle/meta/0006_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/package.json
  apps/chain-indexer/src/akash/akash-changes.ts
  apps/chain-indexer/src/akash/akash-deriver.spec.ts
  apps/chain-indexer/src/akash/akash-deriver.ts
  apps/chain-indexer/src/akash/akash-writer.service.spec.ts
  apps/chain-indexer/src/akash/akash-writer.service.ts
  apps/chain-indexer/src/akash/dec.spec.ts
  apps/chain-indexer/src/akash/dec.ts
  apps/chain-indexer/src/akash/denom.ts
  apps/chain-indexer/src/akash/deployment-reducer.spec.ts
  apps/chain-indexer/src/akash/deployment-reducer.ts
  apps/chain-indexer/src/akash/json.spec.ts
  apps/chain-indexer/src/akash/json.ts
  apps/chain-indexer/src/akash/normalize-deployment.spec.ts
  apps/chain-indexer/src/akash/normalize-deployment.ts
  apps/chain-indexer/src/akash/normalize-market.spec.ts
  apps/chain-indexer/src/akash/normalize-market.ts
  apps/chain-indexer/src/akash/resources.spec.ts
  apps/chain-indexer/src/akash/resources.ts
  apps/chain-indexer/src/akash/settlement.spec.ts
  apps/chain-indexer/src/akash/settlement.ts
  apps/chain-indexer/src/akash/uint64.spec.ts
  apps/chain-indexer/src/akash/uint64.ts
  apps/chain-indexer/src/db/schema.spec.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.spec.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.ts
  apps/chain-indexer/src/pipeline/msg-exec.ts
  apps/chain-indexer/src/proto/legacy-dec-coin-precision.spec.ts
  apps/chain-indexer/src/proto/legacy-dec-coin-precision.ts
  apps/chain-indexer/src/proto/type-catalog.ts
  package-lock.json
Due: none

fix(deployment): fetch only live leases on the homepage
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
Due: deploy-web

refactor(deployment): simplify home container dependencies and spec
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
Due: deploy-web

fix(deployment): fetch only live leases on the homepage (#3601)
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
Due: deploy-web

feat(indexer): akash provider and audit attribute handlers
  apps/chain-indexer/drizzle/0007_secret_overlord.sql
  apps/chain-indexer/drizzle/meta/0007_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/src/akash/akash-changes.spec.ts
  apps/chain-indexer/src/akash/akash-changes.ts
  apps/chain-indexer/src/akash/akash-deriver.spec.ts
  apps/chain-indexer/src/akash/akash-deriver.ts
  apps/chain-indexer/src/akash/akash-writer.service.spec.ts
  apps/chain-indexer/src/akash/akash-writer.service.ts
  apps/chain-indexer/src/akash/deployment-reducer.spec.ts
  apps/chain-indexer/src/akash/deployment-reducer.ts
  apps/chain-indexer/src/akash/normalize-audit.spec.ts
  apps/chain-indexer/src/akash/normalize-audit.ts
  apps/chain-indexer/src/akash/normalize-provider.spec.ts
  apps/chain-indexer/src/akash/normalize-provider.ts
  apps/chain-indexer/src/akash/provider-writer.service.spec.ts
  apps/chain-indexer/src/akash/provider-writer.service.ts
  apps/chain-indexer/src/akash/resources.ts
  apps/chain-indexer/src/db/schema.spec.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
Due: none

refactor(indexer): dedupe ProviderAttribute type and tidy provider change guards
  apps/chain-indexer/src/akash/akash-changes.ts
  apps/chain-indexer/src/akash/normalize-provider.ts
  apps/chain-indexer/src/akash/provider-writer.service.ts
  apps/chain-indexer/src/akash/resources.ts
  apps/chain-indexer/src/db/schema.ts
Due: none

fix(indexer): serialize provider audit-signature writes to avoid deadlock
  apps/chain-indexer/src/akash/provider-writer.service.spec.ts
  apps/chain-indexer/src/akash/provider-writer.service.ts
Due: none

feat(indexer): akash provider and audit attribute handlers (#3602)
  apps/chain-indexer/drizzle/0007_secret_overlord.sql
  apps/chain-indexer/drizzle/meta/0007_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/src/akash/akash-changes.spec.ts
  apps/chain-indexer/src/akash/akash-changes.ts
  apps/chain-indexer/src/akash/akash-deriver.spec.ts
  apps/chain-indexer/src/akash/akash-deriver.ts
  apps/chain-indexer/src/akash/akash-writer.service.spec.ts
  apps/chain-indexer/src/akash/akash-writer.service.ts
  apps/chain-indexer/src/akash/deployment-reducer.spec.ts
  apps/chain-indexer/src/akash/deployment-reducer.ts
  apps/chain-indexer/src/akash/normalize-audit.spec.ts
  apps/chain-indexer/src/akash/normalize-audit.ts
  apps/chain-indexer/src/akash/normalize-provider.spec.ts
  apps/chain-indexer/src/akash/normalize-provider.ts
  apps/chain-indexer/src/akash/provider-writer.service.spec.ts
  apps/chain-indexer/src/akash/provider-writer.service.ts
  apps/chain-indexer/src/akash/resources.ts
  apps/chain-indexer/src/db/schema.spec.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
Due: none

feat(indexer): akash bme event handlers with exact ledger records
  apps/chain-indexer/drizzle/0008_good_galactus.sql
  apps/chain-indexer/drizzle/meta/0008_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/src/bme/bme-deriver.spec.ts
  apps/chain-indexer/src/bme/bme-deriver.ts
  apps/chain-indexer/src/bme/bme-writer.service.spec.ts
  apps/chain-indexer/src/bme/bme-writer.service.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.spec.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.ts
Due: none

refactor(indexer): dedupe json-record and account-id helpers in bme handlers
  apps/chain-indexer/src/akash/akash-deriver.ts
  apps/chain-indexer/src/akash/akash-writer.service.ts
  apps/chain-indexer/src/akash/json.ts
  apps/chain-indexer/src/akash/provider-writer.service.ts
  apps/chain-indexer/src/bme/bme-deriver.ts
  apps/chain-indexer/src/bme/bme-writer.service.ts
  apps/chain-indexer/src/pipeline/balance/account-interner.service.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
Due: none

fix(billing): publish draining-deployment funding after the payment commits
  apps/api/src/billing/services/refill/refill.service.spec.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.integration.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.spec.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.ts
  apps/api/test/functional/stripe-webhook.spec.ts
Due: api

fix(billing): serialize same-wallet funding with the singleton queue policy
  apps/api/src/app/services/fund-draining-deployments/fund-draining-deployments.handler.spec.ts
  apps/api/src/app/services/fund-draining-deployments/fund-draining-deployments.handler.ts
Due: api

feat(indexer): akash bme event handlers with exact ledger records (#3603)
  apps/chain-indexer/drizzle/0008_good_galactus.sql
  apps/chain-indexer/drizzle/meta/0008_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/src/akash/akash-deriver.ts
  apps/chain-indexer/src/akash/akash-writer.service.ts
  apps/chain-indexer/src/akash/json.ts
  apps/chain-indexer/src/akash/provider-writer.service.ts
  apps/chain-indexer/src/bme/bme-deriver.spec.ts
  apps/chain-indexer/src/bme/bme-deriver.ts
  apps/chain-indexer/src/bme/bme-writer.service.spec.ts
  apps/chain-indexer/src/bme/bme-writer.service.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/pipeline/balance/account-interner.service.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.spec.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.ts
Due: none

feat(indexer): incremental network state and daily rollup aggregates
  apps/chain-indexer/drizzle/0009_loud_blue_marvel.sql
  apps/chain-indexer/drizzle/meta/0009_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/package.json
  apps/chain-indexer/src/akash/akash-writer.service.spec.ts
  apps/chain-indexer/src/akash/akash-writer.service.ts
  apps/chain-indexer/src/akash/network-delta.spec.ts
  apps/chain-indexer/src/akash/network-delta.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/network/day-close-usd.service.spec.ts
  apps/chain-indexer/src/network/day-close-usd.service.ts
  apps/chain-indexer/src/network/network-stats-writer.service.spec.ts
  apps/chain-indexer/src/network/network-stats-writer.service.ts
  apps/chain-indexer/src/network/recompute-usd.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/reconcile/network-stats-reconciler.spec.ts
  apps/chain-indexer/src/reconcile/network-stats-reconciler.ts
  apps/chain-indexer/src/reconcile/reconcile.ts
  apps/chain-indexer/tsup.config.ts
Due: none

feat(indexer): incremental network state and daily rollup aggregates (#3604)
  apps/chain-indexer/drizzle/0009_loud_blue_marvel.sql
  apps/chain-indexer/drizzle/meta/0009_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/package.json
  apps/chain-indexer/src/akash/akash-writer.service.spec.ts
  apps/chain-indexer/src/akash/akash-writer.service.ts
  apps/chain-indexer/src/akash/network-delta.spec.ts
  apps/chain-indexer/src/akash/network-delta.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/network/day-close-usd.service.spec.ts
  apps/chain-indexer/src/network/day-close-usd.service.ts
  apps/chain-indexer/src/network/network-stats-writer.service.spec.ts
  apps/chain-indexer/src/network/network-stats-writer.service.ts
  apps/chain-indexer/src/network/recompute-usd.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/reconcile/network-stats-reconciler.spec.ts
  apps/chain-indexer/src/reconcile/network-stats-reconciler.ts
  apps/chain-indexer/src/reconcile/reconcile.ts
  apps/chain-indexer/tsup.config.ts
Due: none

fix(indexer): validate bme price attribute as dec string
  apps/chain-indexer/src/bme/bme-deriver.spec.ts
  apps/chain-indexer/src/bme/bme-deriver.ts
Due: none

fix(indexer): validate bme price attribute as dec string (#3605)
  apps/chain-indexer/src/bme/bme-deriver.spec.ts
  apps/chain-indexer/src/bme/bme-deriver.ts
Due: none

feat(billing): fund draining deployments as soon as credits are added (#3590)
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/fund-draining-deployments/fund-draining-deployments.handler.spec.ts
  apps/api/src/app/services/fund-draining-deployments/fund-draining-deployments.handler.ts
  apps/api/src/billing/commands/fund-draining-deployments.command.ts
  apps/api/src/billing/services/refill/refill.service.spec.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.integration.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.spec.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.spec.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
  apps/api/test/functional/stripe-webhook.spec.ts
Due: api

fix(indexer): replay bme upgrade escrow denom migration exactly
  apps/chain-indexer/README.md
  apps/chain-indexer/drizzle/0010_dark_violations.sql
  apps/chain-indexer/drizzle/meta/0010_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/src/bme/act-migration-convert.spec.ts
  apps/chain-indexer/src/bme/act-migration-convert.ts
  apps/chain-indexer/src/bme/act-migration-deriver.spec.ts
  apps/chain-indexer/src/bme/act-migration-deriver.ts
  apps/chain-indexer/src/bme/act-migration.service.spec.ts
  apps/chain-indexer/src/bme/act-migration.service.ts
  apps/chain-indexer/src/bme/bme-deriver.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.spec.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.ts
Due: none

fix(indexer): order act drain queue by decoded address bytes
  apps/chain-indexer/src/bme/act-migration-convert.ts
  apps/chain-indexer/src/bme/act-migration-deriver.spec.ts
  apps/chain-indexer/src/bme/act-migration-deriver.ts
  apps/chain-indexer/src/bme/act-migration.service.spec.ts
  apps/chain-indexer/src/bme/act-migration.service.ts
Due: none

refactor(observability): isolate immediate funding instrumentation from cron
  apps/api/src/app/services/fund-draining-deployments/fund-draining-deployments.handler.spec.ts
  apps/api/src/app/services/fund-draining-deployments/fund-draining-deployments.handler.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

feat(alert): add UI to edit wallet balance alerts
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
  apps/deploy-web/src/components/alerts/EditAlertContainer/EditAlertContainer.spec.tsx
  apps/deploy-web/src/components/alerts/EditAlertContainer/EditAlertContainer.tsx
  apps/deploy-web/src/components/alerts/EditAlertPage/EditAlertPage.spec.ts
  apps/deploy-web/src/components/alerts/EditAlertPage/EditAlertPage.tsx
  apps/deploy-web/src/components/alerts/WalletBalanceAlertForm/WalletBalanceAlertForm.spec.tsx
  apps/deploy-web/src/components/alerts/WalletBalanceAlertForm/WalletBalanceAlertForm.tsx
  apps/deploy-web/src/pages/alerts/[id]/index.tsx
  apps/deploy-web/src/utils/denomLabel.spec.ts
  apps/deploy-web/src/utils/denomLabel.ts
  apps/deploy-web/tests/seeders/alert.ts
Due: deploy-web

refactor(indexer): derive act migration usdc denoms from mapping
  apps/chain-indexer/README.md
  apps/chain-indexer/src/akash/denom.ts
  apps/chain-indexer/src/bme/act-migration-deriver.ts
Due: none

fix(observability): record nothing-to-fund skip when owner has no draining deployments
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

refactor(observability): extract serializeDeposits helper to dedupe deposit log projection
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
Due: api

docs(indexer): record mainnet act migration heights and drain verification
  apps/chain-indexer/README.md
Due: none

refactor(indexer): use Buffer.compare for drain owner byte order
  apps/chain-indexer/src/bme/act-migration.service.ts
Due: none

fix(alert): block editing wallet balance alerts with compound conditions
  apps/deploy-web/src/components/alerts/EditAlertPage/EditAlertPage.spec.ts
  apps/deploy-web/src/components/alerts/EditAlertPage/EditAlertPage.spec.tsx
  apps/deploy-web/src/components/alerts/EditAlertPage/EditAlertPage.tsx
Due: deploy-web

fix(alert): scope removal spinner to a dedicated removingIds set
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
Due: deploy-web

fix(indexer): replay bme upgrade escrow denom migration exactly (#3606)
  apps/chain-indexer/README.md
  apps/chain-indexer/drizzle/0010_dark_violations.sql
  apps/chain-indexer/drizzle/meta/0010_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/src/akash/denom.ts
  apps/chain-indexer/src/bme/act-migration-convert.spec.ts
  apps/chain-indexer/src/bme/act-migration-convert.ts
  apps/chain-indexer/src/bme/act-migration-deriver.spec.ts
  apps/chain-indexer/src/bme/act-migration-deriver.ts
  apps/chain-indexer/src/bme/act-migration.service.spec.ts
  apps/chain-indexer/src/bme/act-migration.service.ts
  apps/chain-indexer/src/bme/bme-deriver.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.spec.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.ts
Due: none

fix(observability): skip non-positive funding amounts before reserving balance
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

fix(alert): disable enabled checkbox while an alert removal is in flight
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
Due: deploy-web

refactor(observability): isolate immediate funding instrumentation from cron (#3607)
  apps/api/src/app/services/fund-draining-deployments/fund-draining-deployments.handler.spec.ts
  apps/api/src/app/services/fund-draining-deployments/fund-draining-deployments.handler.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

feat(alert): add UI to edit wallet balance alerts (#3608)
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
  apps/deploy-web/src/components/alerts/EditAlertContainer/EditAlertContainer.spec.tsx
  apps/deploy-web/src/components/alerts/EditAlertContainer/EditAlertContainer.tsx
  apps/deploy-web/src/components/alerts/EditAlertPage/EditAlertPage.spec.tsx
  apps/deploy-web/src/components/alerts/EditAlertPage/EditAlertPage.tsx
  apps/deploy-web/src/components/alerts/WalletBalanceAlertForm/WalletBalanceAlertForm.spec.tsx
  apps/deploy-web/src/components/alerts/WalletBalanceAlertForm/WalletBalanceAlertForm.tsx
  apps/deploy-web/src/pages/alerts/[id]/index.tsx
  apps/deploy-web/src/utils/denomLabel.spec.ts
  apps/deploy-web/src/utils/denomLabel.ts
  apps/deploy-web/tests/seeders/alert.ts
Due: deploy-web

feat(deployment): show placements and services on the redesigned Details tab
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementStats.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
  apps/deploy-web/tests/ui/deployment-detail-preview.spec.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
