Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix: pr fixes
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

chore: removes extra header addition to all requests in e2e tests
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
Due: deploy-web

feat: adds react-query automatic proxy package
  package-lock.json
  packages/react-query-proxy/README.md
  packages/react-query-proxy/package.json
  packages/react-query-proxy/src/createProxy/createProxy.spec.ts
  packages/react-query-proxy/src/createProxy/createProxy.ts
Due: none

feat(analytics): proxies amplitude requests to avoid failed requests due to blockers
  apps/deploy-web/env/.env
  apps/deploy-web/next.config.js
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
Due: deploy-web

fix(billing): only refund when transaction exists
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.spec.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
Due: api

feat(billing): stripe transactions (#2438)
  apps/api/drizzle/0025_overrated_saracen.sql
  apps/api/drizzle/meta/0025_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/controllers/checkout/checkout.controller.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/model-schemas/checkout-session/checkout-session.schema.ts
  apps/api/src/billing/model-schemas/index.ts
  apps/api/src/billing/model-schemas/stripe-transaction/stripe-transaction.schema.ts
  apps/api/src/billing/repositories/checkout-session/checkout-session.repository.ts
  apps/api/src/billing/repositories/index.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/routes/checkout/checkout.router.ts
  apps/api/src/billing/routes/index.ts
  apps/api/src/billing/routes/stripe-webhook/stripe-webhook.router.ts
  apps/api/src/billing/services/checkout/checkout.service.ts
  apps/api/src/billing/services/refill/refill.service.spec.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.spec.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-reader/wallet-reader.service.ts
  apps/api/src/core/services/analytics/analytics.service.ts
  apps/api/src/rest-app.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/stripe-webhook.spec.ts
  apps/deploy-web/src/components/providers/ProviderDetail.tsx
Due: api, deploy-web

chore: removes extra header addition to all requests in e2e tests (#2439)
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
Due: deploy-web

chore: cr changes
  apps/deploy-web/src/utils/localStorage.ts
Due: deploy-web

refactor: gets rid of semver dependency in localStorage migrations
  apps/deploy-web/package.json
  apps/deploy-web/src/utils/localStorage.ts
  package-lock.json
Due: deploy-web

refactor: gets rid of semver dependency in localStorage migrations (#2419)
  apps/deploy-web/package.json
  apps/deploy-web/src/utils/localStorage.ts
  package-lock.json
Due: deploy-web

refactor(billing): migrate wallet reload jobs to singleton policy with bulk cleanup
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.spec.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/test/seeders/wallet-setting.seeder.ts
Due: api

fix(managed-wallet): ensure fee authorization sync with blockchain and auto-refill for trial wallets
  apps/api/drizzle/0026_chief_mysterio.sql
  apps/api/drizzle/meta/0026_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/model-schemas/user-wallet/user-wallet.schema.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.ts
  apps/api/src/billing/services/provider-cleanup/provider-cleanup.service.ts
  apps/api/src/billing/services/refill/refill.service.spec.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/deployment/services/stale-managed-deployments-cleaner/stale-managed-deployments-cleaner.service.ts
  apps/api/test/functional/wallets-refill.spec.ts
Due: api

chore: add stats app values
  .github/workflows/reusable-deploy-k8s.yml
  .helm/stats-web-prod-values.yaml
  .helm/stats-web-staging-values.yaml
Due: none

chore: fix eslint and tests
  apps/api/src/auth/services/auth.interceptor.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/start-trial.spec.ts
  apps/deploy-web/src/components/user/UserProviders/UserProviders.spec.tsx
  apps/deploy-web/src/components/user/UserProviders/UserProviders.tsx
  apps/deploy-web/src/hooks/useUser.spec.tsx
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/auth/auth/auth.service.spec.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  packages/http-sdk/src/index.ts
  packages/http-sdk/src/user-http/user-http.service.ts
Due: api, deploy-web

chore: further cleanup of anonymous_free_trial_flag
  apps/api/test/functional/create-deployment.spec.ts
  apps/deploy-web/next.config.js
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/WelcomeToTrialModal.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
Due: api, deploy-web

chore: add stats app values (#2446)
  .github/workflows/reusable-deploy-k8s.yml
  .helm/stats-web-prod-values.yaml
  .helm/stats-web-staging-values.yaml
Due: none

fix: sets lower values for template fetching runtime concurrency
  apps/api/scripts/buildAkashTemplatesCache.ts
  apps/api/src/services/external/templates/template-fetcher.service.ts
  apps/api/src/services/external/templates/template-gallery.service.ts
Due: api

fix: add healthz endpoint for stats
  .github/workflows/stats-web-release.yml
  apps/stats-web/src/app/api/healthz/route.ts
Due: stats-web

fix: sets lower values for template fetching runtime concurrency (#2449)
  apps/api/scripts/buildAkashTemplatesCache.ts
  apps/api/src/services/external/templates/template-fetcher.service.ts
  apps/api/src/services/external/templates/template-gallery.service.ts
Due: api

test: move verify-email test from functional to unit test
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/functional/verify-email.spec.ts
Due: api

fix: add healthz endpoint for stats (#2450)
  .github/workflows/stats-web-release.yml
  apps/stats-web/src/app/api/healthz/route.ts
Due: stats-web

test: move verify-email test from functional to unit test (#2452)
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/functional/verify-email.spec.ts
Due: api

fix: stats web styling + instrumentation
  apps/stats-web/src/app/(home)/StatsCard.tsx
  apps/stats-web/src/components/graph/TimeRange.tsx
  apps/stats-web/src/components/layout/TopBanner.tsx
  apps/stats-web/src/instrumentation.ts
Due: stats-web

fix: createOtelLogger
  apps/stats-web/src/config/env-config.schema.ts
  apps/stats-web/src/lib/copyClipboard.ts
  apps/stats-web/src/middleware.ts
Due: stats-web

fix: build
  apps/stats-web/src/config/env-config.schema.ts
Due: stats-web

fix: fix opentelemetry
  apps/stats-web/src/instrumentation.ts
  apps/stats-web/src/middleware.ts
Due: stats-web

fix: stats web styling + instrumentation (#2454)
  apps/stats-web/src/app/(home)/StatsCard.tsx
  apps/stats-web/src/components/graph/TimeRange.tsx
  apps/stats-web/src/components/layout/TopBanner.tsx
  apps/stats-web/src/config/env-config.schema.ts
  apps/stats-web/src/instrumentation.ts
  apps/stats-web/src/lib/copyClipboard.ts
Due: stats-web

fix: add global-error handling
  apps/stats-web/src/app/blocks/[height]/error.tsx
  apps/stats-web/src/app/error.tsx
  apps/stats-web/src/app/global-error.tsx
  apps/stats-web/src/app/transactions/[hash]/error.tsx
Due: stats-web

fix: add global-error handling (#2456)
  apps/stats-web/src/app/blocks/[height]/error.tsx
  apps/stats-web/src/app/error.tsx
  apps/stats-web/src/app/global-error.tsx
  apps/stats-web/src/app/transactions/[hash]/error.tsx
Due: stats-web

feat(observability): forward client IP headers in stats-web to API requests
  apps/api/src/core/providers/logging.provider.ts
  apps/api/src/rest-app.ts
  apps/provider-proxy/src/container.ts
  apps/stats-web/.env.local.sample
  apps/stats-web/src/app/addresses/[address]/deployments/[dseq]/page.tsx
  apps/stats-web/src/app/addresses/[address]/page.tsx
  apps/stats-web/src/app/blocks/[height]/page.tsx
  apps/stats-web/src/app/transactions/[hash]/page.tsx
  apps/stats-web/src/app/validators/[address]/page.tsx
  apps/stats-web/src/lib/serverFetch.ts
  packages/logging/src/hono/http-logger/http-logger.service.ts
  packages/logging/src/hono/index.ts
Due: api, provider-proxy, stats-web

fix(sdl): safely processes attribute value
  apps/deploy-web/src/components/sdl/PlacementFormModal.tsx
Due: deploy-web

feat: improve stats app styling similar to console
  apps/stats-web/src/app/(home)/Dashboard.tsx
  apps/stats-web/src/app/(home)/DashboardContainer.tsx
  apps/stats-web/src/app/(home)/StatsCard.tsx
  apps/stats-web/src/app/graph/[snapshot]/page.tsx
  apps/stats-web/src/components/PageContainer.tsx
  apps/stats-web/src/components/Title.tsx
  apps/stats-web/src/components/layout/Nav.tsx
Due: stats-web

fix(deployment): improve shell error message
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
Due: deploy-web

feat: improve stats app styling similar to console (#2461)
  apps/stats-web/src/app/(home)/Dashboard.tsx
  apps/stats-web/src/app/(home)/DashboardContainer.tsx
  apps/stats-web/src/app/(home)/StatsCard.tsx
  apps/stats-web/src/app/graph/[snapshot]/page.tsx
  apps/stats-web/src/components/PageContainer.tsx
  apps/stats-web/src/components/Title.tsx
  apps/stats-web/src/components/layout/Nav.tsx
Due: stats-web
