Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix: update template endpoint to include .json suffix and streamline redirection logic
  apps/api/src/routers/legacyRouter.ts
Due: api

fix: update template endpoint to correctly handle .json suffix in redirection
  apps/api/src/routers/legacyRouter.ts
Due: api

feat: add unit tests for BalancesService and enhance wallet limit refresh logic
  apps/api/src/billing/services/balances/balances.service.spec.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
Due: api

fix: migrates another part of indexer to strict types
  apps/indexer/src/db/keybaseProvider.ts
  apps/indexer/src/providers/statusEndpointHandlers/grpc.ts
  apps/indexer/src/shared/utils/files.ts
  apps/indexer/tsconfig.strict.json
Due: indexer

fix: migrates another part of indexer to strict types (#2686)
  apps/indexer/src/db/keybaseProvider.ts
  apps/indexer/src/providers/statusEndpointHandlers/grpc.ts
  apps/indexer/src/shared/utils/files.ts
  apps/indexer/tsconfig.strict.json
Due: indexer

chore: refactor gh env approval to manual workflow run
  .github/actions/slack-pending-deployment-approval/action.yml
  .github/workflows/reusable-deploy-k8s.yml
Due: none

chore: fixes version detection for latest keyword and fixes env creation
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/reusable-deploy-setup.yml
Due: none

chore: dont send notification if deployment was triggered with approval
  .github/workflows/reusable-deploy-k8s.yml
Due: none

chore: refactor gh env approval to manual workflow run (#2683)
  .github/actions/slack-pending-deployment-approval/action.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/reusable-deploy-setup.yml
Due: none

feat(deployment): implements log forwarding permissions params
  .gitignore
  apps/deploy-web/package.json
  apps/deploy-web/src/types/sdlBuilder/index.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
  package-lock.json
Due: deploy-web

chore: fixes backslash in approval command
  .github/actions/slack-pending-deployment-approval/action.yml
Due: none

chore: fixes backslash in approval command (#2694)
  .github/actions/slack-pending-deployment-approval/action.yml
Due: none

test: separates api integration tests into their own Jest project
  apps/api/src/billing/repositories/usage/usage.repository.integration.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.integration.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.integration.ts
  apps/api/src/provider/repositories/provider/provider.repository.integration.ts
  apps/api/src/provider/services/provider-dashboard/provider-dashboard.service.integration.ts
  apps/api/src/provider/services/provider-regions/provider-regions.service.integration.ts
  apps/api/src/provider/services/provider-versions/provider-versions.service.integration.ts
  apps/api/src/transaction/repositories/transaction/transaction.repository.integration.ts
  apps/api/src/user/services/user/user.service.integration.ts
  apps/api/test/types/jest.d.ts
Due: api

test: moves api to vtest
  apps/api/package.json
  apps/api/src/billing/repositories/usage/usage.repository.integration.ts
  apps/api/src/core/lib/pg-semaphore/pg-semaphore.integration.ts
  apps/api/src/provider/repositories/provider/provider.repository.integration.ts
  apps/api/src/provider/services/provider-dashboard/provider-dashboard.service.integration.ts
  apps/api/src/provider/services/provider-regions/provider-regions.service.integration.ts
  apps/api/src/provider/services/provider-versions/provider-versions.service.integration.ts
  apps/api/src/transaction/repositories/transaction/transaction.repository.integration.ts
  apps/api/src/user/services/user/user.service.integration.ts
  apps/api/test/setup-integration-env.ts
  apps/api/test/setup-integration-tests.ts
  apps/api/vitest.config.ts
  package-lock.json
Due: api

test: separates api integration tests into their own Jest project
  apps/api/package.json
  apps/api/src/billing/repositories/usage/usage.repository.integration.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.integration.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.integration.ts
  apps/api/src/core/lib/pg-semaphore/pg-semaphore.integration.ts
  apps/api/src/provider/repositories/provider/provider.repository.integration.ts
  apps/api/src/provider/services/provider-dashboard/provider-dashboard.service.integration.ts
  apps/api/src/provider/services/provider-regions/provider-regions.service.integration.ts
  apps/api/src/provider/services/provider-versions/provider-versions.service.integration.ts
  apps/api/src/transaction/repositories/transaction/transaction.repository.integration.ts
  apps/api/src/user/services/user/user.service.integration.ts
  apps/api/test/setup-integration-env.ts
  apps/api/test/setup-integration-tests.ts
  apps/api/test/types/jest.d.ts
  apps/api/vitest.config.ts
  package-lock.json
Due: api

chore: removes leading slashes to ensure slack does not break cmd
  .codecov.yml
  .github/actions/slack-pending-deployment-approval/action.yml
  .github/workflows/all-ci.yml
  apps/api/src/rest-app.ts
Due: api

chore: removes leading slashes to ensure slack does not break cmd (#2696)
  .codecov.yml
  .github/actions/slack-pending-deployment-approval/action.yml
  .github/workflows/all-ci.yml
  apps/api/src/rest-app.ts
Due: api

fix: ignores monaco editor worker errors
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentContainer/NewDeploymentContainer.tsx
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
  apps/deploy-web/src/components/sdl/SDLEditor/SDLEditor.tsx
  apps/deploy-web/src/components/shared/DynamicMonacoEditor/DynamicMonacoEditor.tsx
Due: deploy-web

feat: upgrades chain sdk to latest
  apps/api/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, indexer, notifications, provider-proxy, stats-web

test: adds tests for ManifestEdit
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.spec.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
  apps/deploy-web/src/components/shared/DynamicMonacoEditor/DynamicMonacoEditor.tsx
  apps/deploy-web/src/hooks/useImportSimpleSdl.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
  apps/deploy-web/tests/unit/mocks.tsx
Due: deploy-web

fix: sets default monaco lang to plaintext (#2700)
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.spec.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentContainer/NewDeploymentContainer.tsx
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
  apps/deploy-web/src/components/sdl/SDLEditor/SDLEditor.tsx
  apps/deploy-web/src/components/shared/DynamicMonacoEditor/DynamicMonacoEditor.tsx
  apps/deploy-web/src/hooks/useImportSimpleSdl.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
  apps/deploy-web/tests/unit/mocks.tsx
Due: deploy-web

fix: increases timeout on provider-proxy requests
  apps/api/src/provider/providers/provider-proxy.provider.ts
  apps/api/src/provider/services/provider/provider-proxy.service.spec.ts
  apps/api/src/provider/services/provider/provider-proxy.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
Due: api, provider-proxy

chore: fixes tests
  apps/api/src/provider/services/provider/provider-proxy.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

fix: increases timeout on provider-proxy requests (#2699)
  apps/api/src/provider/providers/provider-proxy.provider.ts
  apps/api/src/provider/services/provider/provider-proxy.service.spec.ts
  apps/api/src/provider/services/provider/provider-proxy.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
Due: api, provider-proxy

fix: increase HTTP request timeout from 10s to 30s (#2635)
  packages/http-sdk/src/deployment/deployment-http.service.ts
  packages/http-sdk/src/lease/lease-http.service.ts
Due: none

fix: update template retrieval and response handling (#2663)
  apps/api/src/routers/legacyRouter.ts
  apps/api/src/template/http-schemas/template.schema.ts
  apps/api/src/template/services/template-gallery/template-gallery.service.spec.ts
  apps/api/src/template/services/template-gallery/template-gallery.service.ts
  apps/deploy-web/src/pages/templates/[templateId]/index.tsx
  packages/http-sdk/src/template/template-http.service.ts
Due: api, deploy-web

feat(observability): adds detailed tracing for the lease endpoint
  apps/api/src/auth/services/auth.interceptor.ts
  apps/api/src/auth/services/user-auth-token/user-auth-token.service.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/billing/services/wallet-reader/wallet-reader.service.ts
  apps/api/src/core/services/tracing/tracing.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
Due: api

fix: replace Snackbar with Notificator for error handling across onboarding components
  apps/deploy-web/src/components/deployments/CreateCredentialsButton/CreateCredentialsButton.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentVerificationCard/PaymentVerificationCard.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useNotificator.tsx
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/pages/user/verify-email/index.tsx
Due: deploy-web

fix: tests
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.spec.tsx
Due: deploy-web

fix: enhance error notifications in payment process with custom titles and support contact
  apps/deploy-web/src/hooks/useNotificator.tsx
  apps/deploy-web/src/pages/payment.tsx
Due: deploy-web

chore: connects security scan workflow to PR checks
  .github/workflows/all-ci-unsafe.yml
Due: none

chore: connects security scan workflow to PR checks (#2698)
  .github/workflows/all-ci-unsafe.yml
Due: none

fix(sdl): ensures proper validation and upgrades chain sdk
  apps/api/package.json
  apps/deploy-web/package.json
  apps/deploy-web/src/components/new-deployment/ManifestEdit/ManifestEdit.tsx
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

chore(release): improves slack message command to release to prod
  .github/actions/slack-pending-deployment-approval/action.yml
Due: none
