Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix: proper handling of useFactory instances in console-api
  apps/api/src/billing/providers/wallet.provider.ts
  apps/api/src/core/providers/amplitude.provider.ts
  apps/api/src/core/providers/auth.provider.ts
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/api/src/core/providers/job-queue-healthcheck.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/src/db/dbConnection.ts
  apps/api/src/notifications/providers/notification-data-resolvers.provider.ts
  apps/api/src/notifications/providers/notifications-api.provider.ts
  apps/api/src/notifications/providers/notifications-config.provider.ts
  apps/api/test/functional/stale-anonymous-users-cleanup.spec.ts
  apps/api/test/functional/start-trial.spec.ts
  apps/api/test/services/test-wallet.service.ts
Due: api

feat(onboarding): improve onboarding analytics (#2203)
  apps/api/package.json
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/index.ts
  apps/api/src/billing/routes/stripe-customers/stripe-customers.router.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/rest-app.ts
  apps/api/src/routers/userRouter.ts
  apps/api/src/services/db/userDataService.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/user-init.spec.ts
  apps/api/test/seeders/payment-method.seeder.ts
  apps/api/test/seeders/stripe-test-data.seeder.ts
  apps/api/test/seeders/stripe.seeder.ts
  apps/api/test/tsconfig.json
  apps/deploy-web/package.json
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentVerificationCard/PaymentVerificationCard.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/PaymentMethodForm.tsx
  apps/deploy-web/src/components/shared/StripeInput/StripeInput.tsx
  apps/deploy-web/src/components/shared/StripeInput/index.ts
  apps/deploy-web/src/components/shared/index.ts
  apps/deploy-web/src/components/wallet/ManagedWalletPopup.tsx
  apps/deploy-web/src/hooks/useManagedEscrowFaqModal.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  package-lock.json
  packages/http-sdk/src/stripe/stripe.service.ts
Due: api, deploy-web

feat(billing): improve payment page layout (#2214)
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
  apps/deploy-web/src/pages/payment.tsx
Due: deploy-web

fix(user): add UUID validation to anonymous user ID parameter (#2205)
  apps/api/src/user/routes/get-anonymous-user/get-anonymous-user.router.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/anonymous-user.spec.ts
Due: api

fix: proper handling of useFactory instances in console-api (#2215)
  apps/api/src/billing/providers/wallet.provider.ts
  apps/api/src/core/providers/amplitude.provider.ts
  apps/api/src/core/providers/auth.provider.ts
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/api/src/core/providers/job-queue-healthcheck.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/src/db/dbConnection.ts
  apps/api/src/notifications/providers/notification-data-resolvers.provider.ts
  apps/api/src/notifications/providers/notifications-api.provider.ts
  apps/api/src/notifications/providers/notifications-config.provider.ts
  apps/api/test/functional/stale-anonymous-users-cleanup.spec.ts
  apps/api/test/functional/start-trial.spec.ts
  apps/api/test/services/test-wallet.service.ts
Due: api

fix(billing): convert to usdc
  apps/api/src/billing/services/remaining-credits/remaining-credits.service.spec.ts
  apps/api/src/billing/services/remaining-credits/remaining-credits.service.ts
Due: api

fix: correct typos and formatting issues
  apps/api/src/deployment/services/gpu-bids-creator/sdl-templates.ts
  apps/deploy-web/src/components/shared/UserFavoriteButton.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/pages/500.tsx
  apps/deploy-web/src/pages/_error.tsx
  apps/indexer/src/index.ts
  apps/provider-console/src/context/WalletProvider/WalletProvider.tsx
Due: api, deploy-web, indexer, provider-console

fix: correct typos and formatting issues (#2221)
  apps/api/src/deployment/services/gpu-bids-creator/sdl-templates.ts
  apps/deploy-web/src/components/shared/UserFavoriteButton.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/pages/500.tsx
  apps/deploy-web/src/pages/_error.tsx
  apps/indexer/src/index.ts
  apps/provider-console/src/context/WalletProvider/WalletProvider.tsx
Due: api, deploy-web, indexer, provider-console

fix(billing): convert to usdc (#2220)
  apps/api/src/billing/services/remaining-credits/remaining-credits.service.spec.ts
  apps/api/src/billing/services/remaining-credits/remaining-credits.service.ts
Due: api

refactor: adds dseq schema to different requests/response schemas
  apps/api/src/bid/http-schemas/bid.schema.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.spec.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.ts
  apps/api/src/dashboard/http-schemas/leases-duration/leases-duration.schema.ts
  apps/api/src/deployment/http-schemas/deployment-rpc.schema.ts
  apps/api/src/deployment/http-schemas/deployment-setting.schema.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/http-schemas/lease-rpc.schema.ts
  apps/api/src/deployment/http-schemas/lease.schema.ts
  apps/api/src/provider/http-schemas/provider-deployments.schema.ts
  apps/api/src/utils/schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-setting.spec.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

chore: upgrades dc.sh to use buildkit to store cache on gha
  .github/workflows/reusable-validate-app.yml
  apps/api/package.json
  apps/notifications/package.json
  packages/docker/Dockerfile.nextjs
  packages/docker/Dockerfile.node
  packages/docker/script/dc.sh
Due: api, notifications

chore: added missed dependencies
  apps/api/package.json
  apps/provider-console/package.json
  package-lock.json
Due: api, provider-console

fix: validate dseq as uint64 to prevent parsing errors (#2213)
  apps/api/src/bid/http-schemas/bid.schema.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.spec.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.ts
  apps/api/src/dashboard/http-schemas/leases-duration/leases-duration.schema.ts
  apps/api/src/deployment/http-schemas/deployment-rpc.schema.ts
  apps/api/src/deployment/http-schemas/deployment-setting.schema.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/http-schemas/lease-rpc.schema.ts
  apps/api/src/deployment/http-schemas/lease.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/provider/http-schemas/provider-deployments.schema.ts
  apps/api/src/utils/schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-setting.spec.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(wallet): implements wallet setting to allow user to configure wallet
  apps/api/drizzle/0020_absent_timeslip.sql
  apps/api/drizzle/meta/0020_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/controllers/wallet-settings/wallet-settings.controller.spec.ts
  apps/api/src/billing/controllers/wallet-settings/wallet-settings.controller.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/model-schemas/index.ts
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/repositories/index.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/routes/index.ts
  apps/api/src/billing/routes/wallet-settings/wallet-settings.router.ts
  apps/api/src/billing/services/index.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/src/rest-app.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/wallet-settings.spec.ts
  apps/api/test/seeders/wallet-setting.seeder.ts
Due: api

refactor(wallet): addresses code review comments
  apps/api/src/billing/controllers/wallet-settings/wallet-settings.controller.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/test/functional/wallet-settings.spec.ts
  apps/api/test/seeders/wallet-setting.seeder.ts
Due: api

feat(wallet): implements wallet setting to allow user to configure wallet (#2218)
  apps/api/drizzle/0020_absent_timeslip.sql
  apps/api/drizzle/meta/0020_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/controllers/wallet-settings/wallet-settings.controller.spec.ts
  apps/api/src/billing/controllers/wallet-settings/wallet-settings.controller.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/model-schemas/index.ts
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/repositories/index.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/routes/index.ts
  apps/api/src/billing/routes/wallet-settings/wallet-settings.router.ts
  apps/api/src/billing/services/index.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/src/rest-app.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/wallet-settings.spec.ts
  apps/api/test/seeders/wallet-setting.seeder.ts
Due: api

fix: change name as it is a mainnet deployment
  .github/workflows/console-api-release.yml
Due: none

feat: provider-proxy accepts REST_API_NODE_URL
  apps/deploy-web/env/.env
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
  apps/deploy-web/env/.env.staging
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/config/ws.config.ts
  apps/deploy-web/src/services/api-url/api-url.service.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/provider-proxy/env/.env.functional.test
  apps/provider-proxy/env/.env.sample
  apps/provider-proxy/jest.config.js
  apps/provider-proxy/package.json
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/server.ts
  apps/provider-proxy/src/services/CertificateValidator/CertificateValidator.spec.ts
  apps/provider-proxy/src/services/CertificateValidator/CertificateValidator.ts
  apps/provider-proxy/src/services/ProviderProxy.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  apps/provider-proxy/test/setup-functional-env.ts
  package-lock.json
Due: deploy-web, provider-proxy

refactor: use webcrypto instead of jsrsasign
  apps/deploy-web/package.json
  apps/deploy-web/src/components/sdl/SSHKeyFromControl.tsx
  apps/deploy-web/src/utils/sshKeyUtils.spec.ts
  apps/deploy-web/src/utils/sshKeyUtils.ts
  apps/deploy-web/tests/unit/setup.ts
  package-lock.json
Due: deploy-web

refactor(deployment): replace node-forge with webcrypto for SSH key generation (#2209)
  apps/deploy-web/.gitignore
  apps/deploy-web/package.json
  apps/deploy-web/src/components/sdl/SSHKeyFromControl.tsx
  apps/deploy-web/src/utils/sshKeyUtils.spec.ts
  apps/deploy-web/src/utils/sshKeyUtils.ts
  apps/deploy-web/tests/unit/setup.ts
  package-lock.json
Due: deploy-web

feat: upgrade Node.js to 24.11.1 LTS (#2223)
  .github/workflows/create-pre-release-pr.yml
  apps/api/package.json
  apps/log-collector/Dockerfile
  apps/provider-console/package.json
  package-lock.json
  package.json
  packages/docker/Dockerfile.nextjs
  packages/docker/Dockerfile.node
Due: api, provider-console

chore: fixes test and unifies error extraction during logging
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.ts
  packages/logging/src/services/logger/logger.service.spec.ts
  packages/logging/src/services/logger/logger.service.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.ts
Due: api

fix: convert provider AxiosError to HTTP errors in provider service (#2207)
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  packages/logging/src/services/logger/logger.service.spec.ts
  packages/logging/src/services/logger/logger.service.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.ts
Due: api

chore: gets rid of hostNames for provider-proxy
  .helm/provider-proxy-prod-mainnet-values.yaml
  .helm/provider-proxy-prod-sandbox-values.yaml
  .helm/provider-proxy-staging-sandbox-values.yaml
  .helm/provider-proxy-staging-testnet-values.yaml
Due: none

chore: updates staging-mainnet urls
  .helm/provider-proxy-staging-mainnet-values.yaml
Due: none

feat: adjusts deploy-web to use per network provider-proxy url
  apps/deploy-web/env/.env
  apps/deploy-web/src/config/ws.config.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
Due: deploy-web

fix: drop deprecated prop so no JS error is shown
  apps/deploy-web/src/components/shared/SelectCheckbox.tsx
Due: deploy-web
