Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(analytics): chain sdk next indexer (#1983)
  packages/database/chainDefinitions.ts
Due: none

feat(release): implements console-web staging testnet deploy
  .github/workflows/console-web-deploy-testnet.yml
  apps/deploy-web/env/.env.staging-testnet
Due: deploy-web

chore(release): implements basic indexer deploy CI for the testnet
  .github/workflows/all-trigger-coverage.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/diff-package-lock.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/indexer-release-testnet.yml
  .github/workflows/local-packages-validate.yml
  .github/workflows/log-collector-validate-n-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/reusable-build-image.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/stats-web-docker-build.yml
  .github/workflows/workspace-ci-unsafe.yml
  .helm/indexer-staging-testnet-values.yaml
  apps/indexer/README.md
  packages/docker/script/build.sh
Due: indexer

feat(release): adds notifications testnet temporal ci
  .github/workflows/console-api-deploy-testnet.yml
  .github/workflows/notifications-deploy-testnet.yml
  apps/notifications/env/.env.staging-testnet
Due: notifications

refactor: converts deployment local storage utils into a service (#2106)
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/sdl/RentGpusForm.tsx
  apps/deploy-web/src/context/LocalNoteProvider/DeploymentNameModal.tsx
  apps/deploy-web/src/context/LocalNoteProvider/LocalNoteContext.tsx
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/deployment-storage/deployment-storage.service.spec.ts
  apps/deploy-web/src/services/deployment-storage/deployment-storage.service.ts
  apps/deploy-web/src/utils/deploymentLocalDataUtils.ts
  apps/deploy-web/src/utils/encoding.ts
Due: deploy-web

fix: network store mapping (#2057)
  apps/deploy-web/src/components/new-deployment/BidGroup.tsx
  apps/deploy-web/src/components/settings/SelectNetworkModal.tsx
  apps/deploy-web/src/config/denom.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.tsx
  apps/deploy-web/src/pages/providers/[owner]/index.tsx
  apps/deploy-web/src/services/api-url/api-url.service.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/utils/deploymentData/index.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
  apps/deploy-web/src/utils/walletUtils.ts
  apps/stats-web/src/config/denom.config.ts
  apps/stats-web/src/services/api-url/api-url.service.ts
  package-lock.json
  packages/network-store/package.json
  packages/network-store/src/network.config.ts
  packages/network-store/src/network.type.ts
  packages/network-store/tsconfig.json
Due: deploy-web, stats-web

feat(release): adds api testnet release
  .github/workflows/console-api-deploy-testnet.yml
  .github/workflows/indexer-deploy-testnet.yml
Due: none

feat(release): adds utility workflow to swap sdk on beta sandbox
  .github/workflows/console-web-deploy-testnet.yml
Due: none

feat!: adds breaking change notice for the services targeting sdk53
  apps/api/README.md
  apps/deploy-web/README.md
  apps/notifications/README.md
Due: api, deploy-web, notifications

fix: freetrial account check (#2094)
  apps/api/env/.env.functional.test
  apps/api/test/functional/managed-api-deployment-flow.spec.ts
  apps/api/test/seeders/lease.seeder.ts
  apps/api/test/services/test-wallet.service.ts
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.spec.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.ts
  apps/deploy-web/src/types/address.ts
Due: api, deploy-web

feat(notifications): integrates sdk53 into the service
  apps/notifications/package.json
  apps/notifications/src/modules/alert/services/deployment/deployment.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
  apps/notifications/src/modules/chain/chain.module.ts
  apps/notifications/src/modules/chain/providers/comet-client/comet-client.provider.ts
  apps/notifications/src/modules/chain/providers/registry.provider.ts
  apps/notifications/src/modules/chain/providers/tendermint-client/tendermint-client.provider.ts
  apps/notifications/src/modules/chain/services/block-message-parser/block-message-parser.service.spec.ts
  apps/notifications/src/modules/chain/services/block-message-parser/block-message-parser.service.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/modules/chain/services/message-decoder/message-decoder.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
  apps/notifications/test/functional/balance-alert.spec.ts
  apps/notifications/test/functional/deployment-alert-crud.spec.ts
  apps/notifications/test/seeders/deployment-balance-response.seeder.ts
  apps/notifications/test/seeders/message.seeder.ts
  apps/notifications/tsconfig.json
  package-lock.json
Due: notifications

fix: fixes proto types of deployment authorization (#2080)
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/services/auto-top-up-message/auto-top-up-message.service.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/customRegistry.ts
Due: deploy-web

fix: removes duplicate query key def
  apps/deploy-web/src/queries/queryKeys.ts
Due: deploy-web

fix: upgrade chain-sdk to latest version and adds its transport options in indexer (#2103)
  apps/api/package.json
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/indexer/src/providers/statusEndpointHandlers/grpc.ts
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

fix: upgrades cosmjs dependencies and removes unused ones (#2082)
  apps/api/package.json
  apps/api/src/billing/lib/sync-signing-stargate-client/sync-signing-stargate-client.ts
  apps/api/src/billing/lib/wallet/wallet.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
  apps/api/src/utils/protobuf.ts
  apps/deploy-web/package.json
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/indexer/package.json
  apps/indexer/src/chain/genesisTypes.ts
  apps/indexer/src/indexers/messageAddressesIndexer.ts
  apps/indexer/src/indexers/validatorIndexer.ts
  apps/indexer/src/providers/statusEndpointHandlers/fake-insecure-credentials.ts
  apps/indexer/src/providers/statusEndpointHandlers/grpc.ts
  apps/indexer/src/shared/utils/coin.ts
  apps/indexer/src/shared/utils/protobuf.ts
  apps/notifications/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  package-lock.json
  packages/http-sdk/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

refactor: migrate provider-proxy to next chain sdk (#1980)
  apps/deploy-web/src/queries/queryKeys.ts
Due: deploy-web

fix(release): adds api testnet env
  apps/api/env/.env.testnet
Due: api

fix(release): passes correct options to an image builder script
  .github/workflows/reusable-build-image.yml
Due: none

fix(release): triggers release
  packages/docker/README.md
  packages/net/src/generated/netConfigData.ts
Due: none

feat(provider): sdk 53 upgrade and cleanup dead code (#1989)
  apps/provider-console/env/.env
  apps/provider-console/env/.env.production
  apps/provider-console/env/.env.sandbox
  apps/provider-console/env/.env.staging
  apps/provider-console/package.json
  apps/provider-console/src/config/browser-env.config.ts
  apps/provider-console/src/config/env-config.schema.ts
  apps/provider-console/src/config/network.config.ts
  apps/provider-console/src/types/network.ts
  apps/provider-console/src/utils/constants.ts
  apps/provider-console/src/utils/init.ts
  apps/provider-console/src/utils/proto/grant.ts
  apps/provider-console/src/utils/proto/index.ts
  package-lock.json
Due: provider-console

fix: stores partial deployment data in local storage
  apps/deploy-web/src/context/LocalNoteProvider/LocalNoteContext.tsx
  apps/deploy-web/src/services/deployment-storage/deployment-storage.service.spec.ts
  apps/deploy-web/src/services/deployment-storage/deployment-storage.service.ts
Due: deploy-web

feat(provider): added auth0 setup
  apps/provider-console/AUTH0_SETUP.md
  apps/provider-console/src/components/auth/ModeSelector.tsx
  apps/provider-console/src/context/Auth0Provider/Auth0Provider.tsx
  apps/provider-console/src/pages/auth/callback.tsx
  packages/net/src/generated/netConfigData.ts
Due: provider-console

fix: stores partial deployment data in local storage (#2119)
  apps/deploy-web/src/context/LocalNoteProvider/LocalNoteContext.tsx
  apps/deploy-web/src/services/deployment-storage/deployment-storage.service.spec.ts
  apps/deploy-web/src/services/deployment-storage/deployment-storage.service.ts
Due: deploy-web

fix(deployment): map denom
  apps/api/src/deployment/services/fallback-deployment-reader/fallback-deployment-reader.service.ts
  packages/net/src/generated/netConfigData.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
