Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat: adds CF-Ray to our application logging
  apps/api/nginx.conf
  apps/deploy-web/nginx.conf
  apps/provider-proxy/nginx.conf
  packages/logging/src/hono/http-logger/http-logger.service.ts
Due: api, deploy-web, provider-proxy

Revert "feat: load certificate from gRPC (#2256)"
  apps/provider-proxy/env/.env.mainnet
  apps/provider-proxy/env/.env.sample
  apps/provider-proxy/env/.env.sandbox
  apps/provider-proxy/package.json
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
  package-lock.json
Due: provider-proxy

revert: load certificate from gRPC (#2256) (#2289)
  apps/provider-proxy/env/.env.mainnet
  apps/provider-proxy/env/.env.sample
  apps/provider-proxy/env/.env.sandbox
  apps/provider-proxy/package.json
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
  package-lock.json
Due: provider-proxy

feat: adds CF-Ray to our application logging (#2288)
  apps/api/nginx.conf
  apps/deploy-web/nginx.conf
  apps/provider-proxy/nginx.conf
  packages/logging/src/hono/http-logger/http-logger.service.ts
Due: api, deploy-web, provider-proxy

fix: update chain definitions
  packages/database/chainDefinitions.ts
Due: none

feat(indexer): add Cosmos authz message handling to AkashStatsIndexer
  .commitlintrc.json
  apps/indexer/src/indexers/akashStatsIndexer.ts
  package-lock.json
Due: indexer

feat(indexer): add Cosmos authz message handling to AkashStatsIndexer (#2287)
  .commitlintrc.json
  apps/indexer/src/indexers/akashStatsIndexer.ts
  package-lock.json
  packages/database/chainDefinitions.ts
Due: indexer

fix: fixing e2e test for authorizations
  apps/deploy-web/tests/ui/authorize-spending.spec.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
Due: deploy-web

test: fixes e2e tests
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable.tsx
  apps/deploy-web/src/components/authorizations/FeeGrantTable.tsx
  apps/deploy-web/src/components/settings/SettingsLayout.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletPopup.tsx
  apps/deploy-web/tests/ui/actions/selectChainNetwork.ts
  apps/deploy-web/tests/ui/authorize-spending.spec.ts
  apps/deploy-web/tests/ui/change-wallets.spec.ts
  apps/deploy-web/tests/ui/disconnect-wallet.spec.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/leapExtensionLocalStorage.json
  apps/deploy-web/tests/ui/fixture/testing-helpers.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/pages/AuthorizationsPage.tsx
  apps/deploy-web/tests/ui/pages/LeapExt.tsx
Due: deploy-web

fix: fixing e2e test for authorizations (#2176)
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable.tsx
  apps/deploy-web/src/components/authorizations/FeeGrantTable.tsx
  apps/deploy-web/src/components/settings/SettingsLayout.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletPopup.tsx
  apps/deploy-web/tests/ui/actions/selectChainNetwork.ts
  apps/deploy-web/tests/ui/authorize-spending.spec.ts
  apps/deploy-web/tests/ui/change-wallets.spec.ts
  apps/deploy-web/tests/ui/disconnect-wallet.spec.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/leapExtensionLocalStorage.json
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/fixture/testing-helpers.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/pages/AuthorizationsPage.tsx
  apps/deploy-web/tests/ui/pages/LeapExt.tsx
Due: deploy-web

fix: removes AUTHORIZING_WALLET_MNEMONIC env var from UI tests
  .github/actions/console-web-ui-testing/action.yml
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
Due: deploy-web

fix: removes AUTHORIZING_WALLET_MNEMONIC env var from UI tests (#2292)
  .github/actions/console-web-ui-testing/action.yml
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
Due: deploy-web

feat: adds gpu bot script to k8s
  .helm/console-api-prod-mainnet-values.yaml
Due: none

chore: adds gpu bot script to k8s (#2306)
  .helm/console-api-prod-mainnet-values.yaml
Due: none

fix(wallet): local storage managed wallet bug + support multiple
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/utils/walletUtils.spec.ts
  apps/deploy-web/src/utils/walletUtils.ts
  package-lock.json
Due: deploy-web

fix(wallet): extract managed wallet key function
  apps/deploy-web/src/utils/walletUtils.ts
Due: deploy-web

fix(wallet): refactor tests with seeders
  apps/deploy-web/src/utils/walletUtils.spec.ts
  apps/deploy-web/tests/seeders/index.ts
  apps/deploy-web/tests/seeders/localWallet.ts
Due: deploy-web

fix: uses proper msg typeUrl in GpuBidScript
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
Due: api

fix: uses proper msg typeUrl in GpuBidScript (#2308)
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
Due: api

fix: uses non-cached getCurrentHeight
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
Due: api

fix: uses non-cached getCurrentHeight (#2310)
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
Due: api

fix: pr fixes
  apps/deploy-web/src/utils/walletUtils.ts
Due: deploy-web

fix: pr fix
  apps/deploy-web/src/utils/walletUtils.ts
Due: deploy-web

fix: show usdc for managed deposit
  apps/deploy-web/src/components/sdl/DeploymentMinimumEscrowAlertText.tsx
  package-lock.json
Due: deploy-web

fix: show usdc for managed deposit (#2312)
  apps/deploy-web/src/components/sdl/DeploymentMinimumEscrowAlertText.tsx
  package-lock.json
Due: deploy-web

feat(billing): adds balance check job handler
  apps/api/drizzle/0023_sad_adam_warlock.sql
  apps/api/drizzle/0024_thankful_stick.sql
  apps/api/drizzle/meta/0023_snapshot.json
  apps/api/drizzle/meta/0024_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/auth/services/auth.service.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
  apps/api/src/billing/model-schemas/user-wallet/user-wallet.schema.ts
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/paying-user/paying-user.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/src/core/repositories/base.repository.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/core/services/tx/tx.service.ts
  apps/api/src/core/types/require.type.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/seeders/balance.seeder.ts
  apps/api/test/seeders/database-payment-method.seeder.ts
  apps/api/test/seeders/payment-method.seeder.ts
  packages/http-sdk/src/stripe/stripe.service.ts
Due: api

fix(billing): address code review comments
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
Due: api

feat(billing): address payment method isDefault unique index per user
  apps/api/drizzle.config.ts
  apps/api/drizzle/0023_sad_adam_warlock.sql
  apps/api/drizzle/0023_steady_leech.sql
  apps/api/drizzle/0024_thankful_stick.sql
  apps/api/drizzle/meta/0023_snapshot.json
  apps/api/drizzle/meta/0024_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
Due: api

feat(billing): adds default payment method get endpoint
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/routes/stripe-webhook/stripe-webhook.router.ts
Due: api

feat(billing): add automatic wallet balance reload for auto top-up
  apps/api/drizzle/0023_clumsy_vertigo.sql
  apps/api/drizzle/0023_steady_leech.sql
  apps/api/drizzle/meta/0023_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(billing): uses non-memoized balance for auto-reload
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

feat(billing): logs payment method out of sync error
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(billing): fixes query joins
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
Due: api

refactor(billing): converts startAfter date to iso string
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
Due: api

fix: log errors to sentry
  apps/deploy-web/src/utils/walletUtils.ts
Due: deploy-web

fix: deselect other wallets
  apps/deploy-web/src/utils/walletUtils.ts
Due: deploy-web

refactor(billing): adds default flag to payment methods
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/seeders/payment-method.seeder.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api

fix: error handling
  apps/deploy-web/src/utils/walletUtils.ts
Due: deploy-web

fix(wallet): local storage managed wallet bug + support multiple managed (#2307)
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/utils/walletUtils.spec.ts
  apps/deploy-web/src/utils/walletUtils.ts
  apps/deploy-web/tests/seeders/index.ts
  apps/deploy-web/tests/seeders/localWallet.ts
  package-lock.json
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
