Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

test(template): update docs snapshot for tags field
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

refactor(template): remove unleash feature flag wiring for template tags config
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/template/providers/template-gallery.provider.ts
  apps/api/src/template/services/template-gallery/template-gallery.service.ts
Due: api

refactor(template): remove dead getVariant method from FeatureFlagsService
  apps/api/src/core/services/feature-flags/feature-flags.service.ts
Due: api

test(stats): move setup cleanup to finally to ensure it runs on errors
  apps/stats-web/src/lib/serverFetch.spec.ts
Due: stats-web

test(template): add unit tests for TemplateBox and TemplateGallery components
  apps/deploy-web/src/components/templates/TemplateBox.spec.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.spec.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.tsx
Due: deploy-web

fix(deployment): optimizes provider deployment query
  apps/api/src/provider/services/provider-deployments/provider-deployments.service.integration.ts
  apps/api/src/provider/services/provider-deployments/provider-deployments.service.ts
Due: api

chore: removes metricts exporter to fallback to default logic
  .github/workflows/reusable-validate-app.yml
  apps/api/env/.env.functional.test
  apps/api/src/provider/services/provider/provider.service.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  package-lock.json
  package.json
  packages/instrumentation/package.json
  packages/instrumentation/src/index.ts
  packages/instrumentation/src/instrumentation.ts
Due: api, provider-proxy

refactor: uses local instrumentation package for provider-proxy
  .helm/provider-proxy-prod-mainnet-values.yaml
  .helm/provider-proxy-prod-sandbox-values.yaml
  .helm/provider-proxy-staging-mainnet-values.yaml
  .helm/provider-proxy-staging-sandbox-values.yaml
  .helm/provider-proxy-staging-testnet-values.yaml
  apps/provider-proxy/package.json
  apps/provider-proxy/src/routes/getAppStatus.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/telemetry.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/tsup.config.ts
  package-lock.json
  packages/dev-config/tsup-plugins.ts
  packages/instrumentation/package.json
  packages/instrumentation/src/index.ts
  packages/instrumentation/src/instrumentation.ts
  packages/instrumentation/src/register.ts
  packages/instrumentation/tsconfig.build.json
  packages/instrumentation/tsconfig.json
  packages/instrumentation/vitest.config.ts
Due: provider-proxy

fix(deployment): optimizes provider deployment query (#2815)
  apps/api/src/provider/services/provider-deployments/provider-deployments.service.integration.ts
  apps/api/src/provider/services/provider-deployments/provider-deployments.service.ts
Due: api

chore: test
  .github/workflows/reusable-validate-app.yml
  apps/api/env/.env.functional.test
  apps/api/src/provider/services/provider/provider.service.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  packages/docker/docker-compose.dev.yml
Due: api, provider-proxy

refactor: uses local instrumentation package for provider-proxy (#2800)
  .github/workflows/reusable-validate-app.yml
  .helm/provider-proxy-prod-mainnet-values.yaml
  .helm/provider-proxy-prod-sandbox-values.yaml
  .helm/provider-proxy-staging-mainnet-values.yaml
  .helm/provider-proxy-staging-sandbox-values.yaml
  .helm/provider-proxy-staging-testnet-values.yaml
  apps/provider-proxy/package.json
  apps/provider-proxy/src/routes/getAppStatus.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/telemetry.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/tsup.config.ts
  package-lock.json
  package.json
  packages/dev-config/tsup-plugins.ts
  packages/docker/docker-compose.dev.yml
  packages/instrumentation/package.json
  packages/instrumentation/src/index.ts
  packages/instrumentation/src/instrumentation.ts
  packages/instrumentation/src/register.ts
  packages/instrumentation/tsconfig.build.json
  packages/instrumentation/tsconfig.json
  packages/instrumentation/vitest.config.ts
Due: provider-proxy

fix(stats): prevent SSR crash loop caused by Sentry consoleIntegration (#2792)
  apps/stats-web/package.json
  apps/stats-web/src/app/addresses/[address]/deployments/[dseq]/page.tsx
  apps/stats-web/src/app/addresses/[address]/page.tsx
  apps/stats-web/src/instrumentation.ts
  apps/stats-web/src/lib/serverFetch.spec.ts
  apps/stats-web/src/lib/serverFetch.ts
  apps/stats-web/vitest.config.ts
  package-lock.json
Due: stats-web

refactor: adds identification comments to raw db queries
  apps/api/src/billing/repositories/usage/usage.repository.ts
  apps/api/src/billing/services/financial-stats/financial-stats.service.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/gpu/repositories/gpu.repository.ts
  apps/api/src/services/db/statsService.ts
  apps/api/src/transaction/repositories/transaction/transaction.repository.ts
Due: api

refactor: adds identification comments to raw db queries (#2816)
  apps/api/src/billing/repositories/usage/usage.repository.ts
  apps/api/src/billing/services/financial-stats/financial-stats.service.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/gpu/repositories/gpu.repository.ts
  apps/api/src/services/db/statsService.ts
  apps/api/src/transaction/repositories/transaction/transaction.repository.ts
Due: api

fix(config): remove dead cacheEngine import and fix test grammar
  apps/api/src/healthz/services/healthz/healthz.service.spec.ts
Due: api

chore: fixes releases flow failure mode and handles non-existing deployment flow
  .github/workflows/all-release.yml
  .github/workflows/reusable-release-app.yml
  .github/workflows/reusable-release-nextjs-app.yml
Due: none

fix: api memory improvement (#2762)
  apps/api/package.json
  apps/api/src/auth/services/user-auth-token/user-auth-token.service.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/caching/memoryCacheEngine.spec.ts
  apps/api/src/caching/memoryCacheEngine.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.ts
  apps/api/src/healthz/services/healthz/healthz.service.spec.ts
  apps/api/src/healthz/services/healthz/healthz.service.ts
  apps/api/test/functional/provider-deployments.spec.ts
  apps/api/test/functional/provider-earnings.spec.ts
  apps/api/test/functional/providers.spec.ts
  package-lock.json
Due: api

chore: fixes releases flow failure mode and handles non-existing deployment flow (#2817)
  .github/workflows/all-release.yml
  .github/workflows/reusable-release-app.yml
  .github/workflows/reusable-release-nextjs-app.yml
Due: none

feat(observability): adds tracing withing POST /v1/certificates endpoint
  apps/api/src/auth/services/api-key/api-key-auth.service.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/certificate/services/certificate/certificate.service.ts
  apps/api/src/user/repositories/user/user.repository.ts
Due: api

feat: improve template list (#2688)
  apps/api/package.json
  apps/api/src/template/http-schemas/template.schema.ts
  apps/api/src/template/services/github-archive/github-archive.service.spec.ts
  apps/api/src/template/services/github-archive/github-archive.service.ts
  apps/api/src/template/services/template-gallery/template-gallery.service.spec.ts
  apps/api/src/template/services/template-gallery/template-gallery.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/new-deployment/TemplateList.tsx
  apps/deploy-web/src/components/templates/TemplateBox.spec.tsx
  apps/deploy-web/src/components/templates/TemplateBox.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.spec.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.tsx
  package-lock.json
  packages/http-sdk/src/template/template-http.service.ts
Due: api, deploy-web

chore: ensures that associate-pr action fetches it from proper ref
  .github/actions/associated-pr/action.yml
  .github/actions/console-web-ui-testing/action.yml
  .github/actions/run-e2e-tests/action.yml
  .github/actions/slack-pending-deployment-approval/action.yml
  .github/actions/slack-tests-failed-notification/action.yml
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/auto-approval.yml
  .github/workflows/console-api-release.yml
  .github/workflows/console-web-release.yml
  .github/workflows/provider-proxy-release.yml
Due: none

fix: fixes timeout for communication with provider-proxy
  apps/api/src/provider/services/provider/provider-proxy.service.spec.ts
  apps/api/src/provider/services/provider/provider-proxy.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

feat: adds more db configuration options in api
  apps/api/src/chain/providers/sequelize.provider.ts
  apps/api/src/core/config/env.config.ts
Due: api

feat: adds more db configuration options in api (#2821)
  apps/api/src/chain/providers/sequelize.provider.ts
  apps/api/src/core/config/env.config.ts
Due: api

feat: bme
  config/testnet-8-nodes.json
  packages/net/src/generated/netConfigData.ts
Due: none

feat(observability): adds tracing withing POST /v1/certificates endpoint (#2818)
  apps/api/src/auth/services/api-key/api-key-auth.service.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/certificate/services/certificate/certificate.service.ts
  apps/api/src/user/repositories/user/user.repository.ts
Due: api

feat: adds support for uact in wallet balance
  apps/deploy-web/src/chains/akash-testnet.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/hooks/useChainParam/useChainParam.tsx
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.ts
  apps/deploy-web/src/types/address.ts
  config/testnet-8-nodes.json
  packages/net/scripts/generate.ts
  packages/net/src/NetConfig/NetConfig.ts
  packages/net/src/generated/netConfigData.ts
  packages/network-store/src/network.config.ts
Due: deploy-web

fix(config): make pg-boss pool size configurable to prevent connection starvation
  apps/api/src/core/config/env.config.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
Due: api

feat(auth): add email verification code flow with cooldown enforcement
  apps/api/drizzle/0029_fluffy_drax.sql
  apps/api/drizzle/meta/0029_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/auth/controllers/auth/auth.controller.ts
  apps/api/src/auth/model-schemas/email-verification-code/email-verification-code.schema.ts
  apps/api/src/auth/model-schemas/index.ts
  apps/api/src/auth/repositories/email-verification-code/email-verification-code.repository.ts
  apps/api/src/auth/routes/index.ts
  apps/api/src/auth/routes/send-verification-code/send-verification-code.router.ts
  apps/api/src/auth/routes/verify-email-code/verify-email-code.router.ts
  apps/api/src/auth/services/auth0/auth0.service.ts
  apps/api/src/auth/services/email-verification-code/email-verification-code.service.spec.ts
  apps/api/src/auth/services/email-verification-code/email-verification-code.service.ts
  apps/api/src/notifications/services/notification-templates/email-verification-code-notification.ts
  apps/api/src/rest-app.ts
  apps/deploy-web/src/components/onboarding/VerifyEmailPage/VerifyEmailPage.spec.tsx
  apps/deploy-web/src/components/onboarding/VerifyEmailPage/VerifyEmailPage.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.tsx
  apps/deploy-web/src/hooks/useEmailVerificationRequiredEventHandler.tsx
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.ts
  packages/http-sdk/src/auth/auth-http.service.ts
  packages/http-sdk/src/auth/auth-http.types.ts
Due: api, deploy-web, notifications

fix(auth): address CodeRabbit review findings for email verification
  apps/api/src/auth/controllers/auth/auth.controller.ts
  apps/api/src/auth/routes/send-verification-code/send-verification-code.router.ts
  apps/api/src/auth/routes/verify-email-code/verify-email-code.router.ts
  apps/api/src/auth/services/email-verification-code/email-verification-code.service.spec.ts
  apps/api/src/auth/services/email-verification-code/email-verification-code.service.ts
  apps/api/src/notifications/services/notification-templates/email-verification-code-notification.ts
  apps/deploy-web/src/components/onboarding/VerifyEmailPage/VerifyEmailPage.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.tsx
  apps/deploy-web/src/hooks/useEmailVerificationRequiredEventHandler.tsx
  packages/http-sdk/src/auth/auth-http.service.ts
Due: api, deploy-web

fix(auth): address PR review feedback for email verification
  apps/api/src/auth/services/email-verification-code/email-verification-code.service.spec.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/onboarding/VerifyEmailPage/VerifyEmailPage.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.tsx
  apps/deploy-web/src/hooks/useEmailVerificationRequiredEventHandler.tsx
  packages/http-sdk/src/auth/auth-http.service.ts
Due: api, deploy-web

test(auth): add tests for notification template and EmailVerificationStep
  apps/api/src/notifications/services/notification-templates/email-verification-code-notification.spec.ts
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.spec.tsx
Due: api, deploy-web

fix(auth): address remaining PR review comments for email verification
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.tsx
Due: deploy-web

fix(auth): handle OTP autofill and improve API test coverage
  apps/api/src/auth/controllers/auth/auth.controller.spec.ts
  apps/api/src/auth/services/auth0/auth0.service.spec.ts
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.tsx
Due: api, deploy-web

test: refactor balances functional test to not depend on blockchain
  apps/api/test/functional/balances.spec.ts
Due: api

test: refactor balances functional test to not depend on blockchain (#2828)
  apps/api/test/functional/balances.spec.ts
Due: api

fix(auth): auto-advance after email verification and fix cooldown timer
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.tsx
Due: deploy-web

fix(onboarding): prevent setState during render in email verification step
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.tsx
Due: deploy-web

test: refactors api keys functional tests to not rely on networking
  apps/api/test/functional/api-key.spec.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
