Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix: ensure balances are not fetched before chain node API is selected (#1365)
  apps/deploy-web/src/components/new-deployment/BidGroup.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.spec.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.tsx
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/queries/useBalancesQuery.ts
  apps/deploy-web/tests/deploy-hello-world.spec.ts
  apps/deploy-web/tests/fixture/context-with-extension.ts
  apps/deploy-web/tests/fixture/wallet-setup.ts
  apps/deploy-web/tests/pages/DeployBasePage.tsx
  apps/deploy-web/tests/seeders/deployment.ts
  apps/deploy-web/tests/seeders/deploymentBid.ts
  apps/deploy-web/tests/seeders/provider.ts
  apps/deploy-web/tests/seeders/wallet.ts
  apps/deploy-web/tests/uiState/isWalletConnected.ts
Due: deploy-web

feat(release): adds notifications release ci configs
  .github/workflows/create-pre-release-pr.yml
  .github/workflows/notifications-release.yml
  .github/workflows/reusable-build-image.yml
  .github/workflows/reusable-create-github-release.yml
  .github/workflows/reusable-deploy-k8s.yml
  apps/notifications/.gitignore
  apps/notifications/.release-it.js
  apps/notifications/env/.env
  apps/notifications/package.json
  package-lock.json
Due: notifications

fix(release): adds notifications to docker setup
  apps/notifications/package.json
  package-lock.json
  package.json
  packages/docker/.env.sandbox.docker-compose-dev
  packages/docker/docker-compose.build.yml
  packages/docker/docker-compose.dev.yml
  packages/docker/docker-compose.prod-with-db.yml
  packages/docker/docker-compose.prod.yml
Due: notifications

refactor: move /v1/provider-graph-data to modules (#1324)
  apps/api/src/app.ts
  apps/api/src/provider/controllers/provider-graph-data/provider-graph-data.controller.ts
  apps/api/src/provider/http-schemas/provider-graph-data.schema.ts
  apps/api/src/provider/routes/index.ts
  apps/api/src/provider/routes/provider-graph-data/provider-graph-data.router.ts
  apps/api/src/provider/services/provider-graph-data/provider-graph-data.service.ts
  apps/api/src/provider/services/provider-stats/provider-stats.service.ts
  apps/api/src/routes/v1/dashboardData.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/providerGraphData.ts
  apps/api/src/services/db/statsService.ts
  apps/api/test/functional/dashboard-data.spec.ts
  apps/api/test/functional/provider-graph-data.spec.ts
  apps/api/test/functional/provider-versions.spec.ts
  apps/api/test/functional/providers.spec.ts
  apps/api/test/seeders/block.seeder.ts
  apps/api/test/seeders/day.seeder.ts
  apps/api/test/seeders/provider-snapshot.seeder.ts
  apps/api/test/seeders/provider.seeder.ts
Due: api

refactor: migrates another part of console-api to strict types
  apps/api/src/auth/services/auth-config/auth-config.service.ts
  apps/api/src/billing/repositories/checkout-session/checkout-session.repository.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/chain/services/chain-config/chain-config.service.ts
  apps/api/src/core/repositories/base.repository.ts
  apps/api/src/core/services/config/config.service.ts
  apps/api/src/core/services/core-config/core-config.service.ts
  apps/api/src/core/services/error/error.service.ts
  apps/api/src/core/services/open-api-hono-handler/open-api-hono-handler.ts
  apps/api/src/core/services/tracing/tracing.service.ts
  apps/api/src/healthz/services/healthz/healthz.service.ts
  apps/api/src/lib/drizzle-ability/drizzle-ability.ts
  apps/api/src/services/db/blocksService.ts
  apps/api/src/services/db/deploymentService.ts
  apps/api/src/services/db/networkRevenueService.ts
  apps/api/src/services/db/providerStatusService.ts
  apps/api/src/services/db/statsService.ts
  apps/api/src/services/db/transactionsService.ts
  apps/api/src/services/db/userDataService.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/services/external/templateReposService.ts
  apps/api/src/services/external/templatesCollector.ts
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.strict.json
Due: api

refactor: migrates another part of console-api to strict types (#1362)
  apps/api/src/auth/services/auth-config/auth-config.service.ts
  apps/api/src/billing/repositories/checkout-session/checkout-session.repository.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/chain/services/chain-config/chain-config.service.ts
  apps/api/src/core/repositories/base.repository.ts
  apps/api/src/core/services/config/config.service.ts
  apps/api/src/core/services/core-config/core-config.service.ts
  apps/api/src/core/services/error/error.service.ts
  apps/api/src/core/services/open-api-hono-handler/open-api-hono-handler.ts
  apps/api/src/core/services/tracing/tracing.service.ts
  apps/api/src/healthz/services/healthz/healthz.service.ts
  apps/api/src/lib/drizzle-ability/drizzle-ability.ts
  apps/api/src/services/db/blocksService.ts
  apps/api/src/services/db/deploymentService.ts
  apps/api/src/services/db/networkRevenueService.ts
  apps/api/src/services/db/providerStatusService.ts
  apps/api/src/services/db/statsService.ts
  apps/api/src/services/db/transactionsService.ts
  apps/api/src/services/db/userDataService.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/services/external/templateReposService.ts
  apps/api/src/services/external/templatesCollector.ts
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.strict.json
Due: api

chore: sets es2022 compilation target for console-api
  apps/api/tsconfig.json
  apps/api/webpack.prod.js
Due: api

chore: sets es2022 compilation target for console-api (#1363)
  apps/api/tsconfig.json
  apps/api/webpack.prod.js
Due: api

test: cover ContactPointsListContainer
  apps/deploy-web/jest.config.ts
  apps/deploy-web/src/components/alerts/ContactPointsListContainer/ContactPointsListContainer.spec.tsx
  apps/deploy-web/src/components/alerts/ContactPointsListContainer/ContactPointsListContainer.tsx
  apps/deploy-web/src/components/alerts/ContactPointsListView/ContactPointsListView.tsx
Due: deploy-web

fix: undo changes to jest config
  apps/deploy-web/jest.config.ts
Due: deploy-web

chore: higher coverage for deploy-web
  .codecov.yml
Due: none

chore: sets higher coverage for deploy-web (#1371)
  .codecov.yml
Due: none

test: cover ContactPointsListView.tsx
  apps/deploy-web/src/components/alerts/ContactPointsListContainer/ContactPointsListContainer.spec.tsx
  apps/deploy-web/src/components/alerts/ContactPointsListContainer/ContactPointsListContainer.tsx
  apps/deploy-web/src/components/alerts/ContactPointsListView/ContactPointsListView.spec.tsx
Due: deploy-web

fix: remove console.log call
  apps/deploy-web/src/components/alerts/ContactPointsListContainer/ContactPointsListContainer.spec.tsx
Due: deploy-web

refactor: move /v1/providers/{address}/deployments to modules
  apps/api/src/app.ts
  apps/api/src/provider/controllers/provider-deployments/provider-deployments.controller.ts
  apps/api/src/provider/http-schemas/provider-deployments.schema.ts
  apps/api/src/provider/routes/index.ts
  apps/api/src/provider/routes/provider-deployments/provider-deployments.router.ts
  apps/api/src/provider/services/provider-deployments/provider-deployments.service.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/providers/deployments.ts
  apps/api/src/services/db/deploymentService.ts
  apps/api/test/functional/provider-deployments.spec.ts
Due: api

fix(release): builds notifications image w/o nginx
  packages/docker/docker-compose.build.yml
Due: none

fix(release): separates db init from migrations
  apps/notifications/package.json
Due: notifications

fix(release): adds db migrator to the prod deps
  apps/notifications/package.json
  package-lock.json
Due: notifications

fix(release): adds migrations to the build
  apps/notifications/drizzle.config.js
  apps/notifications/drizzle.config.ts
  apps/notifications/package.json
  apps/notifications/webpack.config.js
Due: notifications

fix(release): points migrator to the proper migrations dir
  apps/notifications/drizzle.config.js
  apps/notifications/package.json
Due: notifications

fix: update auth0 audience and issuer
  apps/api/env/.env.production
  apps/api/env/.env.staging
  apps/deploy-web/env/.env
  apps/deploy-web/env/.env.production
  apps/deploy-web/src/chains/akash.ts
  apps/deploy-web/src/components/settings/CloudmosImportPanel.tsx
  apps/deploy-web/src/components/settings/SettingsContainer.tsx
  apps/provider-console/src/chains/akash.ts
  apps/provider-proxy/src/app.ts
Due: api, deploy-web, provider-console, provider-proxy
