Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

feat(alert): only sends diff for deployment alerts upsert
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
Due: deploy-web

fix(alert): properly submits existing deployment alert form
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.ts
Due: deploy-web, notifications

refactor: move /v1/addresses/* to modules
  apps/api/src/address/controllers/address/address.controller.ts
  apps/api/src/address/http-schemas/address.schema.ts
  apps/api/src/address/index.ts
  apps/api/src/address/routes/address/address.router.ts
  apps/api/src/address/services/address/address.service.ts
  apps/api/src/app.ts
  apps/api/src/billing/services/financial-stats/financial-stats.service.ts
  apps/api/src/routes/v1/addresses/address.ts
  apps/api/src/routes/v1/addresses/transactions.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/services/db/transactionsService.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/transaction/repositories/transaction/transaction.repository.ts
  apps/api/src/transaction/services/transaction/transaction.service.ts
  apps/api/src/types/rest/cosmosBankBalancesResponse.ts
  apps/api/src/types/rest/cosmosDistributionDelegatorsRewardsResponse.ts
  apps/api/src/types/rest/cosmosDistributionValidatorsCommissionResponse.ts
  apps/api/src/types/rest/cosmosStakingDelegationsResponse.ts
  apps/api/src/types/rest/cosmosStakingDelegatorsRedelegationsResponse.ts
  apps/api/src/types/rest/index.ts
  apps/api/src/utils/coin.ts
  apps/api/test/functional/addresses.spec.ts
  apps/api/test/seeders/address-refererence.seeder.ts
  apps/api/test/seeders/lease.seeder.ts
  apps/api/test/seeders/transaction.seeder.ts
  apps/api/tsconfig.strict.json
  packages/http-sdk/src/cosmos/cosmos-http.service.ts
  packages/http-sdk/src/cosmos/types.ts
Due: api

refactor: followup on PR suggestions
  apps/api/src/address/services/address/address.service.ts
  apps/api/src/validator/repositories/validator/validator.repository.ts
  apps/api/src/validator/services/validator/validator.service.ts
  apps/api/test/functional/addresses.spec.ts
  apps/api/test/seeders/address-reference.seeder.ts
  apps/api/test/seeders/address-refererence.seeder.ts
  apps/api/test/seeders/akash-message.seeder.ts
Due: api

test: fix test after rebasing to main
  apps/api/test/functional/addresses.spec.ts
Due: api

test: fix tests according to Rabbit reviews
  apps/api/src/address/http-schemas/address.schema.ts
  apps/api/src/address/routes/address/address.router.ts
  apps/api/test/functional/addresses.spec.ts
  apps/api/test/functional/gpu.spec.ts
Due: api

feat(billing): handles card declined error
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/pages/payment.tsx
Due: api, deploy-web

fix(auth): recude cookie size for auth0
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/provider-proxy/nginx.conf
Due: deploy-web, provider-proxy

fix(config): replace proxy url
  apps/deploy-web/env/.env
Due: deploy-web

fix(auth): provider proxy url
  apps/deploy-web/env/.env
  apps/deploy-web/env/.env.production
Due: deploy-web

fix(auth): staging provider proxy urls
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.staging
Due: deploy-web

fix(auth): remove values from the .env file
  apps/deploy-web/env/.env
Due: deploy-web

fix(config): replace proxy url (#1604)
  apps/deploy-web/env/.env
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.staging
Due: deploy-web

refactor: move /v1/addresses/* to modules (#1468)
  apps/api/src/address/controllers/address/address.controller.ts
  apps/api/src/address/http-schemas/address.schema.ts
  apps/api/src/address/index.ts
  apps/api/src/address/routes/address/address.router.ts
  apps/api/src/address/services/address/address.service.ts
  apps/api/src/app.ts
  apps/api/src/billing/services/financial-stats/financial-stats.service.ts
  apps/api/src/routes/v1/addresses/address.ts
  apps/api/src/routes/v1/addresses/transactions.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/services/db/transactionsService.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/transaction/repositories/transaction/transaction.repository.ts
  apps/api/src/transaction/services/transaction/transaction.service.ts
  apps/api/src/types/rest/cosmosBankBalancesResponse.ts
  apps/api/src/types/rest/cosmosDistributionDelegatorsRewardsResponse.ts
  apps/api/src/types/rest/cosmosDistributionValidatorsCommissionResponse.ts
  apps/api/src/types/rest/cosmosStakingDelegationsResponse.ts
  apps/api/src/types/rest/cosmosStakingDelegatorsRedelegationsResponse.ts
  apps/api/src/types/rest/index.ts
  apps/api/src/utils/coin.ts
  apps/api/src/validator/repositories/validator/validator.repository.ts
  apps/api/src/validator/services/validator/validator.service.ts
  apps/api/test/functional/addresses.spec.ts
  apps/api/test/functional/gpu.spec.ts
  apps/api/test/seeders/address-reference.seeder.ts
  apps/api/test/seeders/akash-message.seeder.ts
  apps/api/test/seeders/lease.seeder.ts
  apps/api/test/seeders/transaction.seeder.ts
  apps/api/tsconfig.strict.json
  packages/http-sdk/src/cosmos/cosmos-http.service.ts
  packages/http-sdk/src/cosmos/types.ts
Due: api

fix(billing): improve stripe error handling (#1569)
  apps/api/src/auth/http-schemas/api-key.schema.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.spec.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.ts
  apps/api/test/functional/api-key.spec.ts
  apps/api/test/functional/deployment-setting.spec.ts
  apps/api/test/functional/deployments.spec.ts
  apps/deploy-web/src/components/wallet/ManagedWalletPopup.tsx
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
  apps/deploy-web/src/utils/stripeErrorHandler.ts
  apps/deploy-web/tests/seeders/payment.ts
  apps/deploy-web/tests/unit/stripeErrorHandler.test.ts
  apps/provider-proxy/src/services/HonoErrorHandlerService/HonoErrorHandlerService.spec.ts
  apps/provider-proxy/src/services/HonoErrorHandlerService/HonoErrorHandlerService.ts
  package-lock.json
  packages/http-sdk/src/stripe/stripe.types.ts
  packages/jwt/package.json
Due: api, deploy-web, provider-proxy

feat(deployment): added local setup md guide and a shell script for local setup of the console repo
  AKASH_CONSOLE_LOCAL_SETUP_GUIDE.md
  setup-akash-console.sh
Due: none

fix(deployment): edited setup script and md file to comply with coderabbit suggestions
  setup-akash-console.sh
Due: none

Update setup-akash-console.sh
  setup-akash-console.sh
Due: none

test: add functional test for /v1/proposals endpoints
  apps/api/test/functional/proposals.spec.ts
Due: api

refactor: move /v1/proposals to modules
  apps/api/src/app.ts
  apps/api/src/proposal/controllers/proposal/proposal.controller.ts
  apps/api/src/proposal/http-schemas/proposal.schema.ts
  apps/api/src/proposal/index.ts
  apps/api/src/proposal/routes/index.ts
  apps/api/src/proposal/routes/proposals/proposals.router.ts
  apps/api/src/proposal/services/proposal/proposal.service.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/proposals/byId.ts
  apps/api/src/routes/v1/proposals/list.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/types/rest/cosmosGovProposalResponse.ts
  apps/api/src/types/rest/cosmosGovProposalsResponse.ts
  apps/api/src/types/rest/cosmosGovProposalsTallyResponse.ts
  apps/api/src/types/rest/index.ts
  apps/api/test/functional/proposals.spec.ts
  apps/api/tsconfig.strict.json
  packages/http-sdk/src/cosmos/cosmos-http.service.ts
  packages/http-sdk/src/cosmos/types.ts
Due: api

refactor: move /v1/proposals to modules (#1434)
  apps/api/src/app.ts
  apps/api/src/proposal/controllers/proposal/proposal.controller.ts
  apps/api/src/proposal/http-schemas/proposal.schema.ts
  apps/api/src/proposal/index.ts
  apps/api/src/proposal/routes/index.ts
  apps/api/src/proposal/routes/proposals/proposals.router.ts
  apps/api/src/proposal/services/proposal/proposal.service.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/proposals/byId.ts
  apps/api/src/routes/v1/proposals/list.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/types/rest/cosmosGovProposalResponse.ts
  apps/api/src/types/rest/cosmosGovProposalsResponse.ts
  apps/api/src/types/rest/cosmosGovProposalsTallyResponse.ts
  apps/api/src/types/rest/index.ts
  apps/api/test/functional/proposals.spec.ts
  apps/api/tsconfig.strict.json
  packages/http-sdk/src/cosmos/cosmos-http.service.ts
  packages/http-sdk/src/cosmos/types.ts
Due: api

feat(billing): filter payment methods
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/user/payment/PaymentMethodsList.tsx
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(billing): replace all _
  apps/deploy-web/src/components/user/payment/PaymentMethodsList.tsx
Due: deploy-web

fix(billing): stripe tests
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
Due: api

fix(auth): recude cookie size for auth0 (#1606)
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/provider-proxy/nginx.conf
Due: deploy-web, provider-proxy

feat(billing): filter payment methods (#1610)
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/user/payment/PaymentMethodsList.tsx
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(auth): revert absolute path to proxy
  apps/deploy-web/env/.env
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.staging
Due: deploy-web

fix(auth): revert absolute path to proxy (#1611)
  apps/deploy-web/env/.env
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.staging
Due: deploy-web
