Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix: logging
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.ts
Due: notifications

feat(analytics): add amplitude to notifications for emails (#1991)
  apps/api/src/core/services/analytics/analytics.service.spec.ts
  apps/notifications/env/.env.test
  apps/notifications/package.json
  apps/notifications/src/modules/notifications/config/env.config.ts
  apps/notifications/src/modules/notifications/notifications.module.ts
  apps/notifications/src/modules/notifications/providers/amplitude.provider.ts
  apps/notifications/src/modules/notifications/providers/hash.provider.ts
  apps/notifications/src/modules/notifications/services/analytics/analytics.service.spec.ts
  apps/notifications/src/modules/notifications/services/analytics/analytics.service.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.ts
  package-lock.json
Due: api, notifications

feat(deployment): add lease list fallback (#1992)
  apps/api/src/deployment/controllers/lease/lease.controller.ts
  apps/api/src/deployment/http-schemas/deployment-rpc.schema.ts
  apps/api/src/deployment/http-schemas/lease-rpc.schema.ts
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/routes/leases/leases.router.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/lease-fallback.spec.ts
  apps/api/test/seeders/lease.seeder.ts
Due: api

feat(analytics): implement new handlers for indexing
  apps/indexer/src/indexers/akashStatsIndexer.ts
Due: indexer

feat(analytics): add protobuf types from chain sdk for indexer
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/indexer/src/indexers/validatorIndexer.ts
  apps/indexer/src/shared/utils/protobuf.ts
Due: indexer

feat(network): testnet deposit implementation
  apps/indexer/package.json
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/indexer/src/indexers/validatorIndexer.ts
  apps/indexer/tsconfig.json
  package-lock.json
  packages/database/chainDefinitions.ts
Due: indexer

feat: update chain-sdk indexer
  apps/indexer/package.json
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/indexer/src/shared/utils/protobuf.ts
  package-lock.json
Due: indexer

fix(analytics): remove test throw
  apps/indexer/src/indexers/akashStatsIndexer.ts
Due: indexer

feat: update net package
  package-lock.json
  packages/database/chainDefinitions.ts
  packages/database/package.json
  packages/net/scripts/generate.ts
  packages/net/src/generated/netConfigData.ts
Due: none

feat(analytics): chain sdk next indexer (#1983)
  apps/indexer/package.json
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/indexer/src/indexers/validatorIndexer.ts
  apps/indexer/src/shared/utils/protobuf.ts
  apps/indexer/tsconfig.json
  package-lock.json
  packages/database/chainDefinitions.ts
  packages/database/package.json
  packages/net/scripts/generate.ts
  packages/net/src/generated/netConfigData.ts
Due: indexer

fix: remove unused function
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(billing): cleanup discount payments (#1969)
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/stripe-coupons/stripe-coupons.router.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
Due: api, deploy-web

feat: use JWT instead of certificates
  apps/api/examples/lease-flow.ts
  apps/api/package.json
  apps/api/src/billing/lib/wallet/wallet.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/http-schemas/lease.schema.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  package-lock.json
Due: api

fix: wrap args in an object
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

feat: memoize generating data for JWT Token
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
Due: api

fix: limit permissions in JWT token
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

test: add a missing test for better coverage of ProviderService
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

fix: communicate straight with provider
  packages/http-sdk/src/provider/provider-http.service.ts
Due: none

fix: rename variable passed around to manifest
  apps/api/src/provider/services/provider/provider.service.spec.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api

fix: set scoped permissions when generating jwt tokens
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

refactor: drop unused variables
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

feat: can generate a jwt token with custom TTL
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
Due: api

test: make sure endpoints work with or without cert
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
Due: api

fix: use changed types of jwt tokens
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

fix: fix runtime error for the case when providerError is a boolean
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

refactor: use PromisePool when loading lease results
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
Due: api

refactor: rename JwtTokenService to ProviderJwtTokenService
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.spec.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: address Rabbit's notes
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/test/functional/lease-flow.spec.ts
Due: api

refactor: use Akash address seeder instead of static address
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.spec.ts
Due: api

feat: can use numbers for memoize cache key
  apps/api/src/caching/helpers.spec.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.ts
Due: api

refactor: better naming for access rules
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.spec.ts
Due: api

refactor: evaluate typeof once only
  apps/api/src/caching/helpers.ts
Due: api

refactor: do not do a deep import
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.spec.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.ts
Due: api

refactor(jwt): uses DI in provider jwt token service
  apps/api/src/app/index.ts
  apps/api/src/billing/lib/wallet/wallet.ts
  apps/api/src/provider/index.ts
  apps/api/src/provider/providers/jwt.provider.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.spec.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix(release): updates node version in dockerfiles
  packages/docker/Dockerfile.nextjs
  packages/docker/Dockerfile.node
Due: none
