Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

refactor(billing): adds default flag to payment methods
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/seeders/payment-method.seeder.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api

test: improves stability and speed of e2e tests
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/tests/ui/actions/selectChainNetwork.ts
  apps/deploy-web/tests/ui/authorize-spending.spec.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/fixture/testing-helpers.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/globalSetup/setup-wallet.ts
  apps/deploy-web/tests/ui/pages/AuthorizationsPage.tsx
  apps/deploy-web/tests/ui/pages/DeployBasePage.tsx
  apps/deploy-web/tests/ui/pages/DeployHelloWorldPage.tsx
  apps/deploy-web/tests/ui/pages/LeapExt.tsx
Due: deploy-web

fix: uses Decimal to convert denom to udenom value
  apps/deploy-web/package.json
  apps/deploy-web/src/utils/mathHelpers.ts
  apps/deploy-web/src/utils/priceUtils.ts
  package-lock.json
Due: deploy-web

refactor(billing): removes autoReloadThreshold and autoReloadAmount from wallet settings
  apps/api/src/billing/controllers/wallet-settings/wallet-settings.controller.spec.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix: uses Decimal to convert denom to udenom value (#2318)
  apps/deploy-web/package.json
  apps/deploy-web/src/utils/mathHelpers.ts
  apps/deploy-web/src/utils/priceUtils.ts
  package-lock.json
Due: deploy-web

feat(observability): wraps jobs handlers into otel context and logs jobId
  apps/api/src/core/services/job-queue/job-queue.service.ts
  packages/logging/src/utils/create-otel-logger/create-otel-logger.ts
Due: api

test: improves stability and speed of e2e tests (#2317)
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/tests/ui/actions/selectChainNetwork.ts
  apps/deploy-web/tests/ui/authorize-spending.spec.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/fixture/testing-helpers.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/globalSetup/setup-wallet.ts
  apps/deploy-web/tests/ui/pages/AuthorizationsPage.tsx
  apps/deploy-web/tests/ui/pages/DeployBasePage.tsx
  apps/deploy-web/tests/ui/pages/DeployHelloWorldPage.tsx
  apps/deploy-web/tests/ui/pages/LeapExt.tsx
Due: deploy-web

feat(deployment): show price per hour for gpu workloads
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentName/DeploymentName.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.spec.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.tsx
  apps/deploy-web/src/components/providers/LeaseRow.tsx
  apps/deploy-web/src/components/shared/PriceEstimateTooltip.tsx
  apps/deploy-web/src/components/shared/PricePerTimeUnit.tsx
  package-lock.json
Due: deploy-web

chore(observability): adds OpenTelemetry metrics for wallet balance reload check job
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/core/services/index.ts
  apps/api/src/core/services/metrics/metrics.service.ts
Due: api

feat: update color theme layout
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/components/layout/WalletStatus.tsx
  package-lock.json
  packages/ui/styles/global.css
Due: deploy-web

feat: improve home page layout and styling
  apps/deploy-web/src/components/home/AccountHeader.tsx
  apps/deploy-web/src/components/home/AccountStatsCards.tsx
  apps/deploy-web/src/components/home/CurrentProviders.tsx
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/home/ResourceCard.tsx
  apps/deploy-web/src/components/home/ResourceStatsGrid.tsx
  apps/deploy-web/src/components/home/WelcomePanel.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
  apps/deploy-web/src/components/home/index.ts
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/pages/_app.tsx
Due: deploy-web

fix: ignore multi send tx events
  apps/indexer/src/chain/chainSync.ts
  package-lock.json
  packages/database/chainDefinitions.ts
Due: indexer

fix: ignore multi send tx events (#2326)
  apps/indexer/src/chain/chainSync.ts
  package-lock.json
  packages/database/chainDefinitions.ts
Due: indexer

fix: increase size for node
  apps/indexer/package.json
Due: indexer

fix: indexer memory (#2327)
  apps/indexer/package.json
  package-lock.json
Due: indexer

refactor: converts PricingProvider into a hook
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.spec.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/authorizations/GrantModal.tsx
  apps/deploy-web/src/components/deployments/DeploymentDepositModal.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
  apps/deploy-web/src/components/shared/AKTAmount.tsx
  apps/deploy-web/src/components/shared/PriceValue.tsx
  apps/deploy-web/src/config/denom.config.ts
  apps/deploy-web/src/context/PricingProvider/index.ts
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/hooks/useDenom.ts
  apps/deploy-web/src/hooks/usePricing/usePricing.spec.ts
  apps/deploy-web/src/hooks/usePricing/usePricing.ts
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.spec.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.ts
  apps/deploy-web/src/utils/priceUtils.ts
  apps/deploy-web/tests/ui/globalSetup/setup-wallet.ts
  apps/deploy-web/tsconfig.build.json
Due: deploy-web

feat: account overview, auto reload, and separate payment method page
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/components/billing-usage/BillingPage.tsx
  apps/deploy-web/src/components/billing-usage/BillingUsageLayout.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsPage.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.tsx
  apps/deploy-web/src/pages/payment-methods/index.tsx
  apps/deploy-web/src/queries/index.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  apps/deploy-web/src/queries/useWalletSettingsQueries.spec.tsx
  apps/deploy-web/src/queries/useWalletSettingsQueries.tsx
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/urlUtils.ts
  apps/deploy-web/tests/seeders/payment.ts
  packages/http-sdk/src/index.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
  packages/http-sdk/src/wallet-settings/wallet-settings-http.service.ts
  packages/http-sdk/src/wallet-settings/wallet-settings.types.ts
  packages/ui/components/badge.tsx
Due: api, deploy-web

fix: follow-up on Rabbit's PR feedback
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.tsx
  packages/http-sdk/src/stripe/stripe.types.ts
  packages/ui/components/badge.tsx
Due: deploy-web

fix: report errors instead of a console.error call
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.tsx
Due: deploy-web

fix: follow-up on Yaro's PR feedback
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.service.ts
Due: deploy-web

fix: remove copy about limiting number of cards
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
Due: deploy-web

fix: footer of payment method list a notch darker
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
Due: deploy-web

fix: inject and mock button component too
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
Due: deploy-web

fix: add a progress indicator for payments methods
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
Due: deploy-web

feat(deployment): show price per hour for gpu workloads (#2322)
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentName/DeploymentName.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.spec.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.tsx
  apps/deploy-web/src/components/providers/LeaseRow.tsx
  apps/deploy-web/src/components/shared/PriceEstimateTooltip.tsx
  apps/deploy-web/src/components/shared/PricePerTimeUnit.tsx
  package-lock.json
Due: deploy-web

refactor: converts PricingProvider into a hook (#2325)
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.spec.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/authorizations/GrantModal.tsx
  apps/deploy-web/src/components/deployments/DeploymentDepositModal.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
  apps/deploy-web/src/components/shared/AKTAmount.tsx
  apps/deploy-web/src/components/shared/PriceValue.tsx
  apps/deploy-web/src/config/denom.config.ts
  apps/deploy-web/src/context/PricingProvider/index.ts
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/hooks/useDenom.ts
  apps/deploy-web/src/hooks/usePricing/usePricing.spec.ts
  apps/deploy-web/src/hooks/usePricing/usePricing.ts
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.spec.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.ts
  apps/deploy-web/src/utils/priceUtils.ts
  apps/deploy-web/tests/ui/globalSetup/setup-wallet.ts
  apps/deploy-web/tsconfig.build.json
Due: deploy-web

fix(deployment): filter audited bids for managed wallets
  apps/api/src/bid/services/bid/bid.service.spec.ts
  apps/api/src/bid/services/bid/bid.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/test/seeders/provider.seeder.ts
Due: api

fix: nitpicks
  apps/api/src/bid/services/bid/bid.service.spec.ts
  apps/api/src/bid/services/bid/bid.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
Due: api

feat: account overview, auto reload, and separate payment method page
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/components/billing-usage/BillingPage.tsx
  apps/deploy-web/src/components/billing-usage/BillingUsageLayout.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsPage.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.tsx
  apps/deploy-web/src/pages/payment-methods/index.tsx
  apps/deploy-web/src/queries/index.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
  apps/deploy-web/src/queries/useWalletSettingsQueries.spec.tsx
  apps/deploy-web/src/queries/useWalletSettingsQueries.tsx
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/urlUtils.ts
  apps/deploy-web/tests/seeders/payment.ts
  packages/http-sdk/src/index.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
  packages/http-sdk/src/wallet-settings/wallet-settings-http.service.ts
  packages/http-sdk/src/wallet-settings/wallet-settings.types.ts
  packages/ui/components/badge.tsx
Due: api, deploy-web
