Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

chore(dx): address PR feedback on console-tests skill
  .claude/skills/console-tests/SKILL.md
  .claude/skills/console-tests/references/api-patterns.md
  .claude/skills/console-tests/references/frontend-patterns.md
Due: none

fix(dx): address PR review comments on testing skill docs
  .claude/skills/console-tests/SKILL.md
  .claude/skills/console-tests/references/api-patterns.md
  .claude/skills/console-tests/references/frontend-patterns.md
Due: none

chore(dx): remove transitional globals:true note from testing skill
  .claude/skills/console-tests/SKILL.md
Due: none

fix(dx): align example with getBy* presence rule
  .claude/skills/console-tests/references/frontend-patterns.md
Due: none

fix(dx): use plain HTTP client and whitebox seeding in functional test docs
  .claude/skills/console-tests/SKILL.md
  .claude/skills/console-tests/references/api-patterns.md
Due: none

chore(dx): replace cursor test rules with claude testing skill (#2912)
  .claude/skills/console-tests/SKILL.md
  .claude/skills/console-tests/references/api-patterns.md
  .claude/skills/console-tests/references/frontend-patterns.md
  .cursor/rules/no-jest-mock.mdc
  .cursor/rules/query-by-in-tests.mdc
  .cursor/rules/setup-instead-of-before-each.mdc
  .cursor/rules/test-descriptions.mdc
Due: none

refactor(indexer): extract BME vault address as a shared constant
  apps/indexer/src/chain/chainSync.ts
  packages/database/chainDefinitions.ts
Due: indexer

refactor: adds support for multiple deposit authorization spend_limits
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/rpc-message-service/rpc-message.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.spec.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.spec.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow.tsx
  apps/deploy-web/src/components/deployments/GranteeDepositMenuItem.tsx
  apps/deploy-web/src/hooks/useAutoTopUpLimits.tsx
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/queries/useBalancesQuery.ts
  apps/deploy-web/src/services/auto-top-up-message/auto-top-up-message.service.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.ts
  apps/deploy-web/src/types/balances.ts
  apps/deploy-web/src/types/grant.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  packages/http-sdk/src/authz/authz-http.service.ts
Due: api, deploy-web

chore: code review fixes
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow/GranteeRow.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.spec.tsx
Due: deploy-web

refactor: supports multiple spendLimits in single grant message
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.spec.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow/GranteeRow.tsx
  apps/deploy-web/src/components/deployments/GranteeDepositMenuItem.tsx
  apps/deploy-web/src/components/sdl/PlacementFormModal.tsx
  apps/deploy-web/src/components/sdl/TokenFormControl.tsx
  apps/deploy-web/src/components/shared/DenomAmount/DenomAmount.tsx
  apps/deploy-web/src/hooks/useDenom.spec.ts
  apps/deploy-web/src/hooks/useDenom.ts
  packages/http-sdk/src/authz/authz-http.service.ts
  packages/http-sdk/src/types/denom.type.ts
Due: deploy-web

test: adds more unit tests
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow.tsx
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow/AllowanceIssuedRow.spec.tsx
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow/AllowanceIssuedRow.tsx
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/components/authorizations/FeeGrantTable.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow/GranteeRow.spec.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow/GranteeRow.tsx
Due: deploy-web

chore: cr changes
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.spec.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/SpendLimitRow.spec.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/SpendLimitRow.tsx
Due: deploy-web

refactor: adds support for multiple deposit authorization spend_limits (#2952)
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/rpc-message-service/rpc-message.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow.tsx
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow/AllowanceIssuedRow.spec.tsx
  apps/deploy-web/src/components/authorizations/AllowanceIssuedRow/AllowanceIssuedRow.tsx
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.spec.tsx
  apps/deploy-web/src/components/authorizations/DeploymentGrantTable/DeploymentGrantTable.tsx
  apps/deploy-web/src/components/authorizations/FeeGrantTable.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.spec.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/GrantModal.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/SpendLimitRow.spec.tsx
  apps/deploy-web/src/components/authorizations/GrantModal/SpendLimitRow.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow/GranteeRow.spec.tsx
  apps/deploy-web/src/components/authorizations/GranteeRow/GranteeRow.tsx
  apps/deploy-web/src/components/deployments/GranteeDepositMenuItem.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.spec.tsx
  apps/deploy-web/src/components/sdl/PlacementFormModal.tsx
  apps/deploy-web/src/components/sdl/TokenFormControl.tsx
  apps/deploy-web/src/components/shared/DenomAmount/DenomAmount.tsx
  apps/deploy-web/src/hooks/useAutoTopUpLimits.tsx
  apps/deploy-web/src/hooks/useDenom.spec.ts
  apps/deploy-web/src/hooks/useDenom.ts
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/queries/useBalancesQuery.ts
  apps/deploy-web/src/services/auto-top-up-message/auto-top-up-message.service.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.ts
  apps/deploy-web/src/types/balances.ts
  apps/deploy-web/src/types/grant.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  packages/http-sdk/src/authz/authz-http.service.ts
  packages/http-sdk/src/types/denom.type.ts
Due: api, deploy-web

refactor: migrates dev mode bootstrap to worker_threads to prepare for node permission model (#2961)
  apps/api/src/server.ts
Due: api

feat: adds support for fetching prices from oracle when it is supported
  apps/api/src/caching/helpers.ts
  apps/api/src/chain/config/env.config.ts
  apps/api/src/chain/providers/chain-sdk.provider.ts
  apps/api/src/chain/services/blockchain-capabilities/blockchain-capabilities.service.spec.ts
  apps/api/src/chain/services/blockchain-capabilities/blockchain-capabilities.service.ts
  apps/api/src/chain/services/denom-exchange/denom-exchange.service.spec.ts
  apps/api/src/chain/services/denom-exchange/denom-exchange.service.ts
  apps/api/src/dashboard/http-schemas/market-data/market-data.schema.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
Due: api

fix(billing): use 1:1 rate for ACT denom fiat conversion
  apps/api/src/billing/services/balances/balances.service.spec.ts
  apps/api/src/billing/services/balances/balances.service.ts
Due: api

feat(wallet): add mint/burn ledger history table with BME LCD endpoint
  apps/deploy-web/src/components/MintBurnPage/LedgerRecordsTable/LedgerRecordsTable.spec.tsx
  apps/deploy-web/src/components/MintBurnPage/LedgerRecordsTable/LedgerRecordsTable.tsx
  apps/deploy-web/src/components/MintBurnPage/LedgerRecordsTable/index.ts
  apps/deploy-web/src/components/MintBurnPage/MintBurnPage.spec.tsx
  apps/deploy-web/src/components/MintBurnPage/MintBurnPage.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useLedgerRecords.ts
  apps/deploy-web/tests/seeders/index.ts
  apps/deploy-web/tests/seeders/ledgerRecord.ts
  packages/http-sdk/src/bme/bme-http.service.ts
  packages/http-sdk/src/bme/index.ts
  packages/http-sdk/src/bme/types.ts
  packages/http-sdk/src/index.ts
Due: deploy-web

feat(stats): add BME time series graph data endpoints (#2938)
  apps/api/src/dashboard/controllers/bme-status-history/bme-status-history.controller.ts
  apps/api/src/dashboard/controllers/graph-data/graph-data.controller.ts
  apps/api/src/dashboard/http-schemas/bme-status-history/bme-status-history.schema.ts
  apps/api/src/dashboard/http-schemas/graph-data/graph-data.schema.ts
  apps/api/src/dashboard/repositories/stats/index.ts
  apps/api/src/dashboard/repositories/stats/stats.repository.ts
  apps/api/src/dashboard/routes/bme-status-history/bme-status-history.router.ts
  apps/api/src/dashboard/routes/graph-data/graph-data.router.ts
  apps/api/src/dashboard/routes/index.ts
  apps/api/src/dashboard/services/stats/stats.service.spec.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/dashboard/services/stats/stats.types.ts
  apps/api/src/provider/services/provider-dashboard/provider-dashboard.service.integration.ts
  apps/api/src/provider/services/provider-dashboard/provider-dashboard.service.ts
  apps/api/src/provider/services/provider-earnings/provider-earnings.service.ts
  apps/api/src/rest-app.ts
  apps/api/src/services/db/statsService.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/graph-data.spec.ts
  apps/api/test/seeders/akash-block.seeder.ts
Due: api

feat(stats): add single BME dashboard data endpoint
  apps/api/src/dashboard/controllers/bme-dashboard-data/bme-dashboard-data.controller.ts
  apps/api/src/dashboard/http-schemas/bme-dashboard-data/bme-dashboard-data.schema.ts
  apps/api/src/dashboard/repositories/stats/stats.repository.ts
  apps/api/src/dashboard/routes/bme-dashboard-data/bme-dashboard-data.router.ts
  apps/api/src/dashboard/routes/index.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/rest-app.ts
Due: api

fix(stats): use last-of-day blocks and latest aktPrice for BME dashboard query
  apps/api/src/dashboard/repositories/stats/stats.repository.ts
Due: api

refactor(stats): use single BME dashboard endpoint instead of per-metric calls
  apps/stats-web/src/app/bme/BmeDashboard.tsx
  apps/stats-web/src/app/bme/BmeDashboardContainer.tsx
  apps/stats-web/src/lib/apiUtils.ts
  apps/stats-web/src/queries/index.ts
  apps/stats-web/src/queries/queryKeys.ts
  apps/stats-web/src/queries/useBmeDashboardData.ts
  apps/stats-web/src/types/snapshots.ts
Due: stats-web

fix(stats): align BME graph data with dashboard and add CoinGecko price fallback
  apps/api/src/dashboard/repositories/stats/stats.repository.ts
  apps/api/src/dashboard/services/stats/stats.service.spec.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
Due: api

feat(stats): add real-time BME data, percentage changes, and prettier status badge
  apps/api/src/dashboard/http-schemas/bme-dashboard-data/bme-dashboard-data.schema.ts
  apps/api/src/dashboard/repositories/stats/stats.repository.ts
  apps/api/src/dashboard/services/stats/stats.service.spec.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/stats-web/src/app/bme/BmeDashboard.tsx
  apps/stats-web/src/app/bme/BmeStatusBadge.tsx
  apps/stats-web/src/types/snapshots.ts
Due: api, stats-web

feat(stats): add BME dashboard page with graph cards and status timeline
  apps/stats-web/src/app/bme-graph/[snapshot]/GraphContainer.tsx
  apps/stats-web/src/app/bme-graph/[snapshot]/page.tsx
  apps/stats-web/src/app/bme/BmeDashboard.tsx
  apps/stats-web/src/app/bme/BmeDashboardContainer.tsx
  apps/stats-web/src/app/bme/BmeStatusBadge.tsx
  apps/stats-web/src/app/bme/BmeStatusTimeline.tsx
  apps/stats-web/src/app/bme/page.tsx
  apps/stats-web/src/components/layout/MobileNav.tsx
  apps/stats-web/src/components/layout/Nav.tsx
  apps/stats-web/src/lib/apiUtils.ts
  apps/stats-web/src/lib/snapshotsUrlHelpers.ts
  apps/stats-web/src/lib/urlUtils.ts
  apps/stats-web/src/queries/index.ts
  apps/stats-web/src/queries/queryKeys.ts
  apps/stats-web/src/queries/useBmeStatusHistory.ts
  apps/stats-web/src/types/snapshots.ts
Due: stats-web

feat(stats): swap collateral/circuit breaker with net burn in BME summary
  apps/stats-web/src/app/bme/BmeDashboard.tsx
Due: stats-web

feat(stats): add last updated timestamp to BME dashboard
  apps/api/src/dashboard/http-schemas/bme-dashboard-data/bme-dashboard-data.schema.ts
  apps/api/src/dashboard/repositories/stats/stats.repository.ts
  apps/api/src/dashboard/services/stats/stats.service.spec.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/stats-web/src/app/bme/BmeDashboardContainer.tsx
  apps/stats-web/src/components/graph/Graph.tsx
  apps/stats-web/src/types/snapshots.ts
Due: api, stats-web

feat(stats): remove circuit breaker history from BME dashboard
  apps/stats-web/src/app/bme/BmeDashboard.tsx
  apps/stats-web/src/app/bme/BmeStatusTimeline.tsx
Due: stats-web

fix(stats): guard BME dashboard render until data is fully loaded
  apps/stats-web/src/app/bme/BmeDashboardContainer.tsx
Due: stats-web

feat(stats): add USD values to BME dashboard and 24h labels
  apps/stats-web/src/app/(home)/StatsCard.tsx
  apps/stats-web/src/app/bme/BmeDashboard.tsx
Due: stats-web

test(stats): update docs snapshot for BME dashboard endpoint
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(indexer): capture BME vault funding from governance/upgrade transfers (#2964)
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/indexers/bmeIndexer.ts
  packages/database/chainDefinitions.ts
Due: indexer

fix(deployment): use yaml.raw instead of yaml.template for SDL parsing
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
Due: api

test(stats): cover BME dashboard service and AKT price fallback branches
  apps/api/src/dashboard/services/stats/stats.service.spec.ts
Due: api

fix(stats): narrow BmePeriodData key type to exclude date string field
  apps/api/src/dashboard/services/stats/stats.service.ts
Due: api

test(stats): add BME dashboard controller unit test for patch coverage
  apps/api/src/dashboard/controllers/bme-dashboard-data/bme-dashboard-data.controller.spec.ts
Due: api

fix(stats): handle error and not-found states in BME graph container
  apps/stats-web/src/app/bme-graph/[snapshot]/GraphContainer.tsx
Due: stats-web

feat(stats): add BME dashboard page (#2955)
  apps/api/src/dashboard/controllers/bme-dashboard-data/bme-dashboard-data.controller.spec.ts
  apps/api/src/dashboard/controllers/bme-dashboard-data/bme-dashboard-data.controller.ts
  apps/api/src/dashboard/http-schemas/bme-dashboard-data/bme-dashboard-data.schema.ts
  apps/api/src/dashboard/repositories/stats/stats.repository.ts
  apps/api/src/dashboard/routes/bme-dashboard-data/bme-dashboard-data.router.ts
  apps/api/src/dashboard/routes/index.ts
  apps/api/src/dashboard/services/stats/stats.service.spec.ts
  apps/api/src/dashboard/services/stats/stats.service.ts
  apps/api/src/rest-app.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/stats-web/src/app/(home)/StatsCard.tsx
  apps/stats-web/src/app/bme-graph/[snapshot]/GraphContainer.tsx
  apps/stats-web/src/app/bme-graph/[snapshot]/page.tsx
  apps/stats-web/src/app/bme/BmeDashboard.tsx
  apps/stats-web/src/app/bme/BmeDashboardContainer.tsx
  apps/stats-web/src/app/bme/BmeStatusBadge.tsx
  apps/stats-web/src/app/bme/page.tsx
  apps/stats-web/src/components/graph/Graph.tsx
  apps/stats-web/src/components/layout/MobileNav.tsx
  apps/stats-web/src/components/layout/Nav.tsx
  apps/stats-web/src/lib/apiUtils.ts
  apps/stats-web/src/lib/snapshotsUrlHelpers.ts
  apps/stats-web/src/lib/urlUtils.ts
  apps/stats-web/src/queries/index.ts
  apps/stats-web/src/queries/queryKeys.ts
  apps/stats-web/src/queries/useBmeDashboardData.ts
  apps/stats-web/src/queries/useBmeStatusHistory.ts
  apps/stats-web/src/types/snapshots.ts
Due: api, stats-web

fix(indexer): add DB migration for BME upgrade lease denom conversion
  apps/indexer/drizzle/0008_migrate_deployments_to_act.sql
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/src/scripts/reconcileAktToAct.ts
Due: indexer

feat(indexer): auto-migrate deployment/lease denoms to ACT at BME upgrade
  apps/indexer/drizzle/0008_migrate_deployments_to_act.sql
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/indexers/bmeIndexer.helpers.ts
  apps/indexer/src/indexers/bmeIndexer.ts
  apps/indexer/src/indexers/bmeIndexer.types.ts
  apps/indexer/src/scripts/reconcileAktToAct.ts
  apps/indexer/src/shared/constants.ts
Due: indexer

fix: correct lastBlockToSync value to match expected block number
  apps/indexer/src/shared/constants.ts
Due: indexer
