Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

chore(release): implements basic indexer deploy CI for the testnet
  .github/workflows/all-trigger-coverage.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/diff-package-lock.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/indexer-release-testnet.yml
  .github/workflows/local-packages-validate.yml
  .github/workflows/log-collector-validate-n-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/reusable-build-image.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/stats-web-docker-build.yml
  .github/workflows/workspace-ci-unsafe.yml
  .helm/indexer-staging-testnet-values.yaml
  apps/indexer/README.md
  packages/docker/script/build.sh
Due: indexer

refactor: migrate provider-proxy to next chain sdk (#1980)
  apps/deploy-web/src/queries/queryKeys.ts
Due: deploy-web

feat(analytics): chain sdk next indexer (#1983)
  apps/indexer/package.json
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/indexer/src/indexers/validatorIndexer.ts
  apps/indexer/src/shared/utils/protobuf.ts
  apps/indexer/tsconfig.json
  packages/database/chainDefinitions.ts
  packages/database/package.json
Due: indexer

feat(release): adds api testnet release
  .github/workflows/console-api-deploy-testnet.yml
  .github/workflows/indexer-deploy-testnet.yml
Due: none

fix: removes duplicate query key def
  apps/deploy-web/src/queries/queryKeys.ts
Due: deploy-web

fix(release): adds api testnet env
  apps/api/env/.env.testnet
Due: api

fix(release): adds api testnet values
  .helm/console-api-staging-testnet-values.yaml
Due: none

feat(release): adds notifications testnet temporal ci
  .github/workflows/console-api-deploy-testnet.yml
  .github/workflows/notifications-deploy-testnet.yml
  apps/notifications/env/.env.staging-testnet
Due: notifications

chore: syncs package-lock.json
  package-lock.json
Due: none

feat(release): implements console-web staging testnet deploy
  .github/workflows/console-web-deploy-testnet.yml
  .github/workflows/reusable-deploy-k8s.yml
  .helm/console-web-testnet-staging-values.yaml
  apps/deploy-web/env/.env.staging-testnet
Due: deploy-web

feat(notifications): integrates sdk53 into the service
  apps/notifications/package.json
  apps/notifications/src/modules/alert/services/deployment/deployment.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
  apps/notifications/src/modules/chain/chain.module.ts
  apps/notifications/src/modules/chain/providers/comet-client/comet-client.provider.ts
  apps/notifications/src/modules/chain/providers/registry.provider.ts
  apps/notifications/src/modules/chain/providers/tendermint-client/tendermint-client.provider.ts
  apps/notifications/src/modules/chain/services/block-message-parser/block-message-parser.service.spec.ts
  apps/notifications/src/modules/chain/services/block-message-parser/block-message-parser.service.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/modules/chain/services/message-decoder/message-decoder.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
  apps/notifications/test/functional/balance-alert.spec.ts
  apps/notifications/test/functional/deployment-alert-crud.spec.ts
  apps/notifications/test/seeders/deployment-balance-response.seeder.ts
  apps/notifications/test/seeders/message.seeder.ts
  apps/notifications/tsconfig.json
  package-lock.json
Due: notifications

feat: update proto types to chain-sdk
  apps/deploy-web/script/closeDeployments.ts
  apps/deploy-web/src/chains/akash-testnet.ts
  apps/deploy-web/src/components/deployments/DeploymentDepositModal.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/queries/useGrantsQuery.spec.tsx
  apps/deploy-web/src/services/auto-top-up-message/auto-top-up-message.service.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/apiUtils.ts
  apps/deploy-web/src/utils/customRegistry.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
  apps/deploy-web/src/utils/grants.ts
  apps/deploy-web/src/utils/init.ts
  apps/deploy-web/src/utils/proto/grant.ts
  apps/deploy-web/src/utils/proto/index.ts
  apps/deploy-web/tests/seeders/alert.ts
  packages/network-store/src/network.config.ts
  packages/network-store/src/network.store.ts
  packages/network-store/src/network.type.ts
Due: deploy-web

feat: implement testnet console-web
  apps/deploy-web/src/components/deployments/DeploymentDepositModal.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate.tsx
  apps/deploy-web/src/components/new-deployment/BidGroup.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/sdl/RentGpusForm.tsx
  apps/deploy-web/src/components/shared/PrerequisiteList.tsx
  apps/deploy-web/src/context/ChainParamProvider/ChainParamProvider.tsx
  apps/deploy-web/src/hooks/useDeploymentMetrics.tsx
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/queries/useBidQuery.ts
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.spec.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.ts
  apps/deploy-web/src/types/deployment.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/apiUtils.ts
  apps/deploy-web/src/utils/deploymentData/helpers.ts
  apps/deploy-web/src/utils/deploymentData/v1beta2.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.spec.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.ts
  apps/deploy-web/src/utils/zod/deploymentRow.ts
  apps/deploy-web/tests/seeders/bid.ts
  apps/deploy-web/tests/seeders/deployment.ts
  apps/deploy-web/tests/seeders/deploymentBid.ts
  apps/deploy-web/tsconfig.json
Due: deploy-web

feat: chain-sdk deployments + remove akashjs
  apps/deploy-web/package.json
  apps/deploy-web/src/components/deployments/DeploymentDepositModal.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.spec.tsx
  apps/deploy-web/src/components/sdl/RentGpusForm.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  apps/deploy-web/src/config/denom.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/context/CertificateProvider/CertificateProviderContext.tsx
  apps/deploy-web/src/hooks/useDenom.ts
  apps/deploy-web/src/hooks/useProviderWebsocket.ts
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/pages/providers/[owner]/index.tsx
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/services/api-url/api-url.service.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/types/deployment.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/deploymentData/index.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.spec.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.ts
  apps/deploy-web/src/utils/init.ts
  apps/deploy-web/src/utils/walletUtils.ts
  apps/indexer/package.json
  apps/provider-console/src/types/deployment.ts
  apps/provider-proxy/package.json
  apps/stats-web/src/config/denom.config.ts
  apps/stats-web/src/types/deployment.ts
  package-lock.json
  packages/http-sdk/src/lease/lease-http.service.ts
  packages/network-store/src/network.config.ts
  packages/network-store/src/network.type.ts
Due: deploy-web, indexer, provider-console, provider-proxy, stats-web

fix: pr fixes
  apps/api/src/billing/http-schemas/tx.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/package.json
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/context/ChainParamProvider/ChainParamProvider.tsx
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useAutoTopUpService.ts
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/customRegistry.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
  package-lock.json
  packages/net/src/NetConfig/NetConfig.ts
Due: api, deploy-web

fix: pr fixes
  apps/deploy-web/script/closeDeployments.ts
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.tsx
Due: deploy-web

feat: add bseq to indexer
  apps/indexer/drizzle.config.ts
  apps/indexer/drizzle/0001_add_bseq_to_bid_and_lease.sql
  apps/indexer/drizzle/meta/0001_snapshot.json
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  packages/database/dbSchemas/akash/bid.ts
  packages/database/dbSchemas/akash/lease.ts
Due: indexer

fix: update mgiration to set default then not null
  apps/indexer/drizzle/0001_add_bseq_to_bid_and_lease.sql
Due: indexer

refactor: migrates jwt signing in accordance to chain-sdk
  apps/api/src/billing/lib/wallet/wallet.ts
  apps/api/src/provider/providers/jwt.provider.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.spec.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.ts
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
Due: api, deploy-web, provider-proxy

feat: indexer bseq (#2055)
  apps/indexer/drizzle.config.ts
  apps/indexer/drizzle/0001_add_bseq_to_bid_and_lease.sql
  apps/indexer/drizzle/meta/0001_snapshot.json
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  packages/database/dbSchemas/akash/bid.ts
  packages/database/dbSchemas/akash/lease.ts
Due: indexer

fix: network id mapping
  apps/deploy-web/src/components/new-deployment/BidGroup.tsx
  apps/deploy-web/src/components/settings/SelectNetworkModal.tsx
  apps/deploy-web/src/config/denom.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.tsx
  apps/deploy-web/src/pages/providers/[owner]/index.tsx
  apps/deploy-web/src/services/api-url/api-url.service.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/utils/deploymentData/index.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
  apps/deploy-web/src/utils/walletUtils.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  package-lock.json
  packages/net/src/NetConfig/NetConfig.ts
  packages/network-store/package.json
  packages/network-store/src/network.config.ts
  packages/network-store/src/network.type.ts
  packages/network-store/tsconfig.json
Due: deploy-web

chore: to test latest version of ES256ADR36 jwt signature verification
  apps/api/package.json
  apps/deploy-web/package.json
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/provider-proxy/package.json
  package-lock.json
  script/safe-deps-install.sh
Due: api, deploy-web, provider-proxy

refactor: migrates jwt signing in accordance to chain-sdk (#2049)
  apps/api/package.json
  apps/api/src/billing/lib/wallet/wallet.ts
  apps/api/src/provider/providers/jwt.provider.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.spec.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.ts
  apps/deploy-web/package.json
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.ts
  apps/provider-proxy/package.json
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  package-lock.json
  script/safe-deps-install.sh
Due: api, deploy-web, provider-proxy

chore: fix ci errors
  apps/stats-web/src/config/denom.config.ts
  apps/stats-web/src/services/api-url/api-url.service.ts
Due: stats-web
