Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

chore: upgrades dc.sh to use buildkit to store cache on gha
  .github/workflows/reusable-validate-app.yml
  apps/api/package.json
  apps/notifications/package.json
  packages/docker/Dockerfile.nextjs
  packages/docker/Dockerfile.node
  packages/docker/script/dc.sh
Due: api, notifications

chore: removes mentions of up:db, up:dev and up:prod
  README.md
  package.json
  packages/docker/README.md
Due: none

fix: separate deployments for each provider proxy env/network (#2211)
  .github/workflows/console-api-release.yml
  .github/workflows/provider-proxy-release.yml
  .helm/provider-proxy-prod-mainnet-values.yaml
  .helm/provider-proxy-prod-sandbox-values.yaml
  .helm/provider-proxy-prod-values.yaml
  .helm/provider-proxy-staging-mainnet-values.yaml
  .helm/provider-proxy-staging-sandbox-values.yaml
  .helm/provider-proxy-staging-testnet-values.yaml
  .helm/provider-proxy-staging-values.yaml
  apps/deploy-web/env/.env
  apps/deploy-web/src/config/ws.config.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
Due: deploy-web

fix: surface 402 on insufficient balance error
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
Due: api

chore: fixes package-lock
  package-lock.json
Due: none

fix: surface 402 on insufficient balance error (#2227)
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
  package-lock.json
Due: api

fix: drop deprecated prop so no JS error is shown (#2228)
  apps/deploy-web/src/components/shared/SelectCheckbox.tsx
Due: deploy-web

fix: hide free trial + new banner
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/layout/TopBanner.tsx
  apps/deploy-web/src/components/onboarding/steps/FreeTrialLandingStep/FreeTrialLandingStep.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  apps/deploy-web/src/hooks/useHasCreditCardBanner.ts
  apps/deploy-web/src/hooks/useTopBanner.tsx
Due: deploy-web

fix: disable (#2234)
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/layout/TopBanner.tsx
  apps/deploy-web/src/components/onboarding/steps/FreeTrialLandingStep/FreeTrialLandingStep.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  apps/deploy-web/src/hooks/useHasCreditCardBanner.ts
  apps/deploy-web/src/hooks/useTopBanner.tsx
Due: deploy-web

fix(billing): keep connect managed button
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  package-lock.json
Due: deploy-web

fix(billing): keep connect managed button (#2235)
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  package-lock.json
Due: deploy-web

fix: tests
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.spec.tsx
Due: deploy-web

fix: tests (#2237)
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.spec.tsx
Due: deploy-web

fix(billing): disable payments
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
Due: api, deploy-web

fix(billing): disable payments (#2239)
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
Due: api, deploy-web

fix: create-pre-release
  .github/workflows/create-pre-release-pr.yml
  package-lock.json
Due: none

fix: create-pre-release (#2241)
  .github/workflows/create-pre-release-pr.yml
  package-lock.json
Due: none

chore: adds logging diff of package-lock.json
  .github/workflows/create-pre-release-pr.yml
Due: none

chore: adds logging diff of package-lock.json (#2243)
  .github/workflows/create-pre-release-pr.yml
Due: none

chore: adds logging diff of package-lock.json (#2244)
  .github/workflows/create-pre-release-pr.yml
Due: none

chore: adds logging diff of package-lock.json (#2245)
  .github/workflows/create-pre-release-pr.yml
Due: none

refactor(billing): cleans up top up master wallets
  apps/api/env/.env.functional.test
  apps/api/env/.env.local.sample
  apps/api/env/.env.unit.test
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/providers/signing-client.provider.ts
  apps/api/src/billing/providers/wallet.provider.ts
  apps/api/src/billing/types/wallet.type.ts
  apps/api/src/deployment/services/top-up-custodial-balance/top-up-custodial-balance.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
  apps/api/src/deployment/services/top-up-tools/top-up-tools.service.ts
Due: api

feat: provider-proxy accepts REST_API_NODE_URL
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
  apps/deploy-web/env/.env.staging
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/services/api-url/api-url.service.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/provider-proxy/env/.env.functional.test
  apps/provider-proxy/env/.env.sample
  apps/provider-proxy/jest.config.js
  apps/provider-proxy/package.json
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/server.ts
  apps/provider-proxy/src/services/CertificateValidator/CertificateValidator.spec.ts
  apps/provider-proxy/src/services/CertificateValidator/CertificateValidator.ts
  apps/provider-proxy/src/services/ProviderProxy.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  apps/provider-proxy/test/setup-functional-env.ts
  package-lock.json
Due: deploy-web, provider-proxy

fix: revert changes in deploy-web
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
  apps/deploy-web/env/.env.staging
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/config/ws.config.ts
  apps/deploy-web/src/services/api-url/api-url.service.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
Due: deploy-web

refactor: extracts app config into a single place
  apps/provider-proxy/src/app.ts
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/server.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
  apps/provider-proxy/test/setup/proxyServer.ts
Due: provider-proxy

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
