Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

chore: properly register postgres dispose in container
  apps/api/src/core/lib/disposable-registry/disposable-registry.ts
  apps/api/src/core/providers/postgres.provider.ts
Due: api

test: provides correct config for provider-proxy for different networks
  apps/provider-proxy/env/.env
  apps/provider-proxy/env/.env.mainnet
  apps/provider-proxy/env/.env.sandbox
  packages/docker/.env.sandbox.docker-compose-dev
  packages/docker/docker-compose.prod.yml
Due: provider-proxy

test: provides correct config for provider-proxy for different networks (#2253)
  apps/provider-proxy/env/.env
  apps/provider-proxy/env/.env.mainnet
  apps/provider-proxy/env/.env.sandbox
  packages/docker/.env.sandbox.docker-compose-dev
  packages/docker/docker-compose.prod.yml
Due: provider-proxy

fix: remove pending from active in provider page
  apps/deploy-web/src/components/providers/NetworkCapacity.tsx
Due: deploy-web

feat(billing): adds balance check job managing
  apps/api/drizzle/0022_lazy_kabuki.sql
  apps/api/drizzle/meta/0022_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/billing/events/wallet-balance-reload-check.ts
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/src/core/services/domain-events/domain-events.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/core/services/tx/tx.service.ts
  apps/api/test/functional/wallet-settings.spec.ts
  apps/api/test/seeders/wallet-setting.seeder.ts
  apps/api/test/services/wallet-testing.service.ts
Due: api

fix: make StripeInput work on light theme
  apps/deploy-web/src/components/shared/StripeInput/StripeInput.tsx
Due: deploy-web

fix: make StripeInput work on light theme (#2280)
  apps/deploy-web/src/components/shared/StripeInput/StripeInput.tsx
Due: deploy-web

fix: remove pending from active in provider page (#2278)
  apps/deploy-web/src/components/providers/NetworkCapacity.tsx
Due: deploy-web

fix: onboarding fix amplitude tracking user
  apps/api/src/core/providers/amplitude.provider.ts
  apps/api/src/core/services/analytics/analytics.service.ts
  apps/api/src/user/services/user/user.service.ts
Due: api

fix: Update apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
Due: deploy-web

fix(onboarding): fix new deployment in onboarding
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
Due: deploy-web

fix: user service tests
  apps/api/src/user/services/user/user.service.spec.ts
Due: api

fix(onboarding): replace uakt to managed denom
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
Due: deploy-web

fix: pr fixes
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
Due: deploy-web

fix: onboarding create deployment (#2279)
  apps/api/src/core/providers/amplitude.provider.ts
  apps/api/src/core/services/analytics/analytics.service.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
Due: api, deploy-web

feat: payment page with auto-top-up settings
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/deploy-web/src/components/shared/PaymentMethodsList/PaymentMethodsList.tsx
  apps/deploy-web/src/components/user/payment/AutoReloadSettingsPopup.tsx
  apps/deploy-web/src/components/user/payment/PaymentPopup.tsx
  apps/deploy-web/src/components/user/payment/index.ts
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/queries/index.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useWalletSettingsQueries.spec.tsx
  apps/deploy-web/src/queries/useWalletSettingsQueries.tsx
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/types/feature-flags.ts
  packages/http-sdk/src/index.ts
  packages/http-sdk/src/wallet-settings/wallet-settings-http.service.ts
  packages/http-sdk/src/wallet-settings/wallet-settings.types.ts
Due: api, deploy-web

fix: follow-up on Rabbit's feedback
  apps/deploy-web/src/components/user/payment/AutoReloadSettingsPopup.tsx
  apps/deploy-web/src/components/user/payment/PaymentPopup.tsx
  apps/deploy-web/src/pages/payment.tsx
  packages/http-sdk/src/wallet-settings/wallet-settings-http.service.ts
Due: deploy-web

feat(billing): adds balance check job handler
  apps/api/drizzle/0023_sad_adam_warlock.sql
  apps/api/drizzle/0024_thankful_stick.sql
  apps/api/drizzle/meta/0023_snapshot.json
  apps/api/drizzle/meta/0024_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/auth/services/auth.service.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
  apps/api/src/billing/model-schemas/user-wallet/user-wallet.schema.ts
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/paying-user/paying-user.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.spec.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
  apps/api/src/core/repositories/base.repository.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/core/services/tx/tx.service.ts
  apps/api/src/core/types/require.type.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/seeders/balance.seeder.ts
  apps/api/test/seeders/database-payment-method.seeder.ts
  apps/api/test/seeders/payment-method.seeder.ts
  packages/http-sdk/src/stripe/stripe.service.ts
Due: api

fix(billing): address code review comments
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
Due: api

feat(billing): address payment method isDefault unique index per user
  apps/api/drizzle.config.ts
  apps/api/drizzle/0023_sad_adam_warlock.sql
  apps/api/drizzle/0023_steady_leech.sql
  apps/api/drizzle/0024_thankful_stick.sql
  apps/api/drizzle/meta/0023_snapshot.json
  apps/api/drizzle/meta/0024_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
Due: api

refactor: removes legacy format for auth in provider-proxy
  apps/provider-proxy/src/app.ts
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/proxyServer.ts
Due: provider-proxy

feat(billing): adds default payment method get endpoint
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/routes/stripe-webhook/stripe-webhook.router.ts
Due: api

refactor: removes legacy format for auth in provider-proxy (#2283)
  apps/provider-proxy/src/app.ts
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/proxyServer.ts
Due: provider-proxy

chore: fix typo
  packages/dev-config/eslint-plugin-akash/rules/no-mnemonic.js
Due: none

chore: adds local eslint plugin and rule that can detect mnemonics
  package-lock.json
  packages/dev-config/.eslintrc.base.js
  packages/dev-config/eslint-plugin-akash/index.js
  packages/dev-config/eslint-plugin-akash/package.json
  packages/dev-config/eslint-plugin-akash/rules/no-mnemonic.js
  packages/dev-config/package.json
Due: none

chore: adds local eslint plugin and rule that can detect mnemonics (#2281)
  package-lock.json
  packages/dev-config/.eslintrc.base.js
  packages/dev-config/eslint-plugin-akash/index.js
  packages/dev-config/eslint-plugin-akash/package.json
  packages/dev-config/eslint-plugin-akash/rules/no-mnemonic.js
  packages/dev-config/package.json
Due: none

feat: load certificate from gRPC
  apps/provider-proxy/env/.env.mainnet
  apps/provider-proxy/env/.env.sample
  apps/provider-proxy/env/.env.sandbox
  apps/provider-proxy/package.json
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
  apps/provider-proxy/test/setup/grpcServer.ts
  apps/provider-proxy/test/setup/providerServer.ts
  package-lock.json
Due: provider-proxy

fix: follow-up on PR feedback
  apps/provider-proxy/package.json
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
  apps/provider-proxy/test/setup/providerServer.ts
  package-lock.json
Due: provider-proxy

fix: decode message instead of regex magic
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
Due: provider-proxy

fix: change sandbox URL as it's exposed over plain http
  apps/provider-proxy/env/.env.sample
  apps/provider-proxy/env/.env.sandbox
Due: provider-proxy

fix: destroy sessions with the same function both places, avoid any
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
Due: provider-proxy

fix: encode certificate response instead of manually building it
  apps/provider-proxy/test/setup/chainApiServer.ts
Due: provider-proxy

chore: uses SDKErrorCode enum instead of hardcoded integers
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
Due: provider-proxy

feat: load certificate from gRPC (#2256)
  apps/provider-proxy/env/.env.mainnet
  apps/provider-proxy/env/.env.sample
  apps/provider-proxy/env/.env.sandbox
  apps/provider-proxy/package.json
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
  package-lock.json
Due: provider-proxy
