Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

feat: add unit tests for BalancesService and enhance wallet limit refresh logic
  apps/api/src/billing/services/balances/balances.service.spec.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
Due: api

refactor: remove job queue service dependency from BalancesService and related tests
  apps/api/src/billing/services/balances/balances.service.spec.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
Due: api

fix: tests
  apps/api/src/billing/services/balances/balances.service.spec.ts
Due: api

chore: update test framework documentation to reflect migration from Jest to Vitest
  .claude/instructions/general-projects-description.manual.md
Due: none

chore: update documentation to clarify use of Vitest for unit testing
  .claude/instructions/general-projects-description.manual.md
Due: none

fix: Apply suggestion from @coderabbitai[bot]
  .claude/instructions/general-projects-description.manual.md
Due: none

feat: enhance deployment reader service
  .claude/instructions/general-projects-description.manual.md
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
Due: api

feat(deployment): introduce DeploymentLeaseSchema and refactor deployment response structurex
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

chore: fixes ci comments
  apps/provider-proxy/package.json
  apps/provider-proxy/src/services/WebsocketStats.ts
Due: provider-proxy

refactor: migrates provider-proxy build to tsup
  apps/provider-proxy/package.json
  apps/provider-proxy/src/services/WebsocketStats.ts
  apps/provider-proxy/tsup.config.ts
  package-lock.json
  package.json
Due: provider-proxy

chore: add weekly Slack digest powered by AkashML
  .github/workflows/weekly-digest.yml
  script/weekly-digest.mjs
Due: none

chore: adds esbuild to trusted deps
  package.json
Due: none

chore: adds optional rollup dep for linux platform
  package-lock.json
  package.json
Due: none

chore: adds link to security scan workflow
  .github/workflows/all-ci-unsafe.yml
Due: none

refactor: migrates provider-proxy build to tsup (#2735)
  apps/provider-proxy/package.json
  apps/provider-proxy/src/services/WebsocketStats.ts
  apps/provider-proxy/tsup.config.ts
  package-lock.json
Due: provider-proxy

feat(log-collector): uses the latest log-collector image
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/config/log-collector.config.ts
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.spec.tsx
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
Due: deploy-web

chore(log-collector): move from webpack to tsup
  apps/log-collector/package.json
  apps/log-collector/tsconfig.build.json
  apps/log-collector/tsconfig.json
  apps/log-collector/tsup.config.ts
  apps/log-collector/webpack.config.js
  package-lock.json
Due: none

chore: adds link to security scan workflow (#2767)
  .github/workflows/all-ci-unsafe.yml
Due: none

feat(log-collector): uses the latest log-collector image (#2766)
  apps/deploy-web/src/components/sdl/LogCollectorControl/LogCollectorControl.tsx
  apps/deploy-web/src/config/log-collector.config.ts
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.spec.tsx
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
Due: deploy-web

chore: runs auto-approval after CI success
  .github/workflows/auto-approval.yml
Due: none

chore: runs auto-approval after CI success (#2769)
  .github/workflows/auto-approval.yml
Due: none

chore(log-collector): move from webpack to tsup (#2765)
  apps/log-collector/package.json
  apps/log-collector/tsconfig.build.json
  apps/log-collector/tsconfig.json
  apps/log-collector/tsup.config.ts
  apps/log-collector/webpack.config.js
  package-lock.json
Due: none

test: fixes flaky addresses in functional tests
  apps/api/test/functional/addresses.spec.ts
Due: api

test: fixes flaky addresses functional test (#2768)
  apps/api/test/functional/addresses.spec.ts
Due: api

chore: fixes cache key for node deps
  .github/actions/setup-app-deps/action.yml
Due: none

chore: fixes cache key for node deps (#2770)
  .github/actions/setup-app-deps/action.yml
Due: none

feat: separates logs and k8s events syntax highlighting (#2733)
  apps/deploy-web/jest.config.ts
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/shared/Editor/Editor.spec.tsx
  apps/deploy-web/src/components/shared/Editor/Editor.tsx
  apps/deploy-web/src/components/shared/Editor/__snapshots__/Editor.spec.tsx.snap
  apps/deploy-web/src/components/shared/Editor/monaco-editor.ts
  apps/deploy-web/src/components/shared/Editor/monaco-k8s-events-definitions.ts
  apps/deploy-web/src/components/shared/Editor/monaco-log-definitions.ts
  apps/deploy-web/src/components/shared/Editor/monaco-theme.ts
Due: deploy-web

fix(billing): delegate coupon wallet top-up to Stripe webhook for reliable payment processing (#2730)
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.integration.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

chore: resolve package-lock crossplatform compatibility
  apps/provider-proxy/package.json
  package-lock.json
  package.json
Due: provider-proxy

chore: fixes package-lock
  package-lock.json
  package.json
Due: none

chore: fixes package-lock (#2773)
  package-lock.json
  package.json
Due: none

chore: fixes locfile for deploy-web
  apps/deploy-web/package.json
  package-lock.json
Due: deploy-web

chore: fixes lockfile for deploy-web (#2774)
  apps/deploy-web/package.json
  package-lock.json
Due: deploy-web

feat: add ManagedDeploymentLeaseCreated event and handler
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/managed-deployment-lease-created/managed-deployment-lease-created.handler.spec.ts
  apps/api/src/app/services/managed-deployment-lease-created/managed-deployment-lease-created.handler.ts
  apps/api/src/billing/events/managed-deployment-lease-created.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
Due: api

fix: enhance autoEnableDeploymentAlert logic to handle existing channels and improve error handling
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
Due: api

fix: ensure escrow balance is calculated with precision
  apps/api/src/notifications/services/notification/notification.service.ts
Due: api

fix: tests
  apps/api/src/app/services/managed-deployment-lease-created/managed-deployment-lease-created.handler.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
Due: api

fix: extract alert threshold ratio into a constant
  apps/api/src/notifications/services/notification/notification.service.ts
Due: api

fix: refactor notification logic
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/enable-deployment-alert/enable-deployment-alert.handler.spec.ts
  apps/api/src/app/services/enable-deployment-alert/enable-deployment-alert.handler.ts
  apps/api/src/app/services/managed-deployment-lease-created/managed-deployment-lease-created.handler.spec.ts
  apps/api/src/app/services/managed-deployment-lease-created/managed-deployment-lease-created.handler.ts
  apps/api/src/billing/commands/enable-deployment-alert.command.ts
  apps/api/src/billing/events/managed-deployment-lease-created.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
Due: api

chore: update package-lock.json
  package-lock.json
Due: none
