Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

chore: increase coverage requirements (#1816)
  .codecov.yml
Due: none

refactor: api types
  apps/api/src/auth/repositories/api-key/api-key.repository.ts
  apps/api/src/billing/controllers/checkout/checkout.controller.ts
  apps/api/src/billing/repositories/checkout-session/checkout-session.repository.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/financial-stats/financial-stats.service.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.ts
  apps/api/src/billing/services/provider-cleanup/provider-cleanup.service.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/core/services/analytics/analytics.service.ts
  apps/api/src/core/services/tx/tx.service.ts
  apps/api/src/deployment/controllers/deployment-setting/deployment-setting.controller.ts
  apps/api/src/deployment/controllers/lease/lease.controller.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/gpu/services/gpu.service.ts
  apps/api/src/healthz/services/healthz/healthz.service.ts
  apps/api/src/provider/services/provider-graph-data/provider-graph-data.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/user/repositories/user/user.repository.ts
Due: api

fix: changes notifications to use pg pool
  apps/notifications/src/infrastructure/db/db.module.ts
Due: notifications

feat: use JWT instead of certificates
  apps/api/examples/lease-flow.ts
  apps/api/package.json
  apps/api/src/billing/lib/wallet/wallet.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/http-schemas/lease.schema.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  package-lock.json
Due: api

fix: wrap args in an object
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: communicate straight with provider
  apps/api/src/provider/services/provider/provider.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api

fix: limit permissions in JWT token
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

feat: memoize generating data for JWT Token
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
Due: api

fix: rename variable passed around to manifest
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api

feat: can generate a jwt token with custom TTL
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
Due: api

test: add a missing test for better coverage of ProviderService
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

fix: set scoped permissions when generating jwt tokens
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

refactor: drop unused variables
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: use changed types of jwt tokens
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

test: make sure endpoints work with or without cert
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
Due: api

feat: adds notification on start trial
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/notifications/providers/notifications-api.provider.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.ts
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.ts
  apps/notifications/src/interfaces/rest/filters/http-exception/http-exception.filter.ts
  apps/notifications/src/interfaces/rest/rest.module.ts
  apps/notifications/swagger/swagger.json
  apps/notifications/test/mocks/provider.mock.ts
  packages/react-query-sdk/src/notifications/schema.ts
  packages/react-query-sdk/src/notifications/services/V1Service.ts
Due: api, notifications

fix: widens sentry sourcemaps
  apps/deploy-web/next.config.js
Due: deploy-web

fix: changes notifications to use pg pool (#1817)
  apps/notifications/src/infrastructure/db/db.module.ts
Due: notifications

refactor: api types (#1810)
  apps/api/src/auth/repositories/api-key/api-key.repository.ts
  apps/api/src/billing/controllers/checkout/checkout.controller.ts
  apps/api/src/billing/repositories/checkout-session/checkout-session.repository.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/financial-stats/financial-stats.service.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.ts
  apps/api/src/billing/services/provider-cleanup/provider-cleanup.service.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/core/services/analytics/analytics.service.ts
  apps/api/src/core/services/tx/tx.service.ts
  apps/api/src/deployment/controllers/deployment-setting/deployment-setting.controller.ts
  apps/api/src/deployment/controllers/lease/lease.controller.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/gpu/services/gpu.service.ts
  apps/api/src/healthz/services/healthz/healthz.service.ts
  apps/api/src/provider/services/provider-graph-data/provider-graph-data.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/user/repositories/user/user.repository.ts
Due: api

fix(billing): add date filtering to deployment count by owner
  apps/api/src/billing/services/usage/usage.service.spec.ts
  apps/api/src/billing/services/usage/usage.service.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
Due: api

fix: make date range picker scrollable if it overflows container
  packages/ui/components/custom/date-range-picker.tsx
Due: none

feat(billing): call transactions csv endpoing in transactions ui
  apps/deploy-web/src/components/billing-usage/BillingContainer/BillingContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingContainer/BillingContainer.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: deploy-web

fix: widens sentry sourcemaps (#1819)
  apps/deploy-web/next.config.js
Due: deploy-web

fix(billing): add date filtering to deployment count by owner (#1820)
  apps/api/src/billing/services/usage/usage.service.spec.ts
  apps/api/src/billing/services/usage/usage.service.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
Due: api

feat: adds notification on start trial
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/notifications/providers/notifications-api.provider.ts
  apps/api/src/notifications/services/notification-templates/start-trial-notification.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/services/stub.ts
  apps/api/test/services/wallet-testing.service.ts
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.ts
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.ts
  apps/notifications/src/interfaces/rest/filters/http-exception/http-exception.filter.ts
  apps/notifications/src/interfaces/rest/rest.module.ts
  apps/notifications/swagger/swagger.json
  apps/notifications/test/mocks/provider.mock.ts
  packages/react-query-sdk/src/notifications/schema.ts
  packages/react-query-sdk/src/notifications/services/V1Service.ts
Due: api, notifications

feat: adds notification on start trial (#1818)
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/notifications/providers/notifications-api.provider.ts
  apps/api/src/notifications/services/notification-templates/start-trial-notification.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/services/stub.ts
  apps/api/test/services/wallet-testing.service.ts
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.ts
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.ts
  apps/notifications/src/interfaces/rest/filters/http-exception/http-exception.filter.ts
  apps/notifications/src/interfaces/rest/rest.module.ts
  apps/notifications/swagger/swagger.json
  apps/notifications/test/mocks/provider.mock.ts
  packages/react-query-sdk/src/notifications/schema.ts
  packages/react-query-sdk/src/notifications/services/V1Service.ts
Due: api, notifications

feat: address review comments
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/tsconfig.json
  apps/deploy-web/src/components/billing-usage/BillingContainer/BillingContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingContainer/BillingContainer.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/ui/components/custom/date-range-picker.tsx
Due: api, deploy-web

feat(deployment): hide custodial auto top up with feature flag
  apps/deploy-web/src/components/settings/SettingsContainer.tsx
  apps/deploy-web/src/hooks/useFlag.tsx
Due: deploy-web

feat(deployment): hide custodial auto top up with feature flag (#1825)
  apps/deploy-web/src/components/settings/SettingsContainer.tsx
  apps/deploy-web/src/hooks/useFlag.tsx
Due: deploy-web

ci: fix type errors
  apps/deploy-web/src/components/billing-usage/UsageContainer/UsageContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/UsageContainer/UsageContainer.tsx
  apps/deploy-web/src/components/billing-usage/UsageView/UsageView.spec.tsx
  apps/deploy-web/src/components/billing-usage/UsageView/UsageView.tsx
Due: deploy-web

fix: typo
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
Due: deploy-web

fix: billing usage page guard flicker
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hoc/guard/guard.hoc.tsx
  apps/deploy-web/src/hooks/useUser.ts
Due: deploy-web
