Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

chore(dx): adds agentic instructions regarding clean code over comments
  .claude/instructions/clean-code-over-comments.md
  CLAUDE.md
Due: none

chore(dx): adds agentic instructions regarding clean code over comments (#3439)
  .claude/instructions/clean-code-over-comments.md
  CLAUDE.md
Due: none

refactor(billing): drop eager customer provisioning on registration
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/providers/customer-provisioner.provider.ts
  apps/api/src/billing/providers/index.ts
  apps/api/src/billing/services/customer-provisioner/stripe-customer-provisioner.service.spec.ts
  apps/api/src/billing/services/customer-provisioner/stripe-customer-provisioner.service.ts
  apps/api/src/user/services/customer-provisioner/customer-provisioner.ts
  apps/api/src/user/services/user/user.service.integration.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
Due: api

fix(deployment): tighten trial confidential-compute GPU warning
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/UnlockGpusButton/UnlockGpusButton.tsx
Due: deploy-web

fix(billing): stop double-submit and show the spinner on add-credits buttons
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.tsx
  apps/deploy-web/src/components/billing-usage/RedeemCouponForm/RedeemCouponForm.tsx
  packages/ui/components/loading-button.spec.tsx
  packages/ui/components/loading-button.tsx
Due: deploy-web

fix(billing): make the redeem-coupon loading spinner visible
  apps/deploy-web/src/components/billing-usage/RedeemCouponForm/RedeemCouponForm.tsx
Due: deploy-web

fix(deployment): lock GPU and CC-GPU for trials on the configure page
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.spec.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.tsx
  apps/deploy-web/src/utils/deploymentData/v1beta3.spec.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
Due: deploy-web

refactor(deployment): block trial CC-GPU on its own merit
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/utils/deploymentData/v1beta3.spec.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
Due: deploy-web

refactor: makes bid-http-service to retry on network errors
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.spec.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
  packages/http-sdk/src/bid/bid-http.service.ts
Due: api

refactor: makes bid-http-service to retry on network errors (#3440)
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.spec.ts
  apps/api/src/deployment/services/gpu-bids-creator/gpu-bids-creator.service.ts
  packages/http-sdk/src/bid/bid-http.service.ts
Due: api

fix(billing): ensure Stripe customer exists before coupon redemption (#3437)
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(deployment): route redeploy and in-progress deployments to the configure flow (#3436)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigureDraft/useConfigureDraft.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigureDraft/useConfigureDraft.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/ReclamationBanner/ReclamationBanner.spec.tsx
  apps/deploy-web/src/components/deployments/ReclamationBanner/ReclamationBanner.tsx
  apps/deploy-web/src/components/deployments/ReclamationCard/ReclamationCard.spec.tsx
  apps/deploy-web/src/components/deployments/ReclamationCard/ReclamationCard.tsx
  apps/deploy-web/src/hooks/useRedeploy/useRedeploy.spec.ts
  apps/deploy-web/src/hooks/useRedeploy/useRedeploy.ts
Due: deploy-web

fix(deployment): lock GPU and CC-GPU for trials on the configure page (#3435)
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeCard/ConfidentialComputeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/UnlockGpusButton/UnlockGpusButton.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.spec.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.tsx
  apps/deploy-web/src/utils/deploymentData/v1beta3.spec.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
  packages/ui/components/loading-button.spec.tsx
  packages/ui/components/loading-button.tsx
Due: deploy-web

fix: height of name and reclamation inputs on deployment page
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentNameField/DeploymentNameField.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ReclamationSection/ReclamationSection.tsx
Due: deploy-web

feat(deployment): bring container-vm ssh deployments to the configure page
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentFlowProvider/DeploymentFlowProvider.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ResumeDeploymentGuard/ResumeDeploymentGuard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigureDraft/useConfigureDraft.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/deploymentIntent.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/deploymentIntent.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/new-deployment/RedirectDeployLinuxToConfigure/RedirectDeployLinuxToConfigure.spec.tsx
  apps/deploy-web/src/components/new-deployment/RedirectDeployLinuxToConfigure/RedirectDeployLinuxToConfigure.tsx
  apps/deploy-web/src/hooks/useNewDeploymentUrl/useNewDeploymentUrl.spec.ts
  apps/deploy-web/src/hooks/useNewDeploymentUrl/useNewDeploymentUrl.ts
  apps/deploy-web/src/pages/deploy-linux/index.tsx
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/data.ts
  apps/deploy-web/src/utils/sdl/vmImages.ts
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

fix(deployment): harden the vm configure entry after code review
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
Due: deploy-web

fix(sdl): heal stale sdl-builder drafts missing pricing on restore
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/hooks/useFormPersist.spec.ts
  apps/deploy-web/src/hooks/useFormPersist.tsx
  apps/deploy-web/src/utils/sdl/data.spec.ts
  apps/deploy-web/src/utils/sdl/data.ts
Due: deploy-web

fix(sdl): remove SDL Builder sidebar entry
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/tests/ui/pages/BuildTemplatePage.tsx
Due: deploy-web

feat(billing): add persistent funding banner with reusable banner variants
  apps/deploy-web/src/components/layout/FundingBanner/FundingBanner.spec.tsx
  apps/deploy-web/src/components/layout/FundingBanner/FundingBanner.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/components/layout/TopBanner.spec.tsx
  apps/deploy-web/src/components/layout/TopBanner.tsx
  apps/deploy-web/src/hooks/useHasCreditCardBanner.ts
  apps/deploy-web/src/hooks/useHasFundingBanner.spec.ts
  apps/deploy-web/src/hooks/useHasFundingBanner.ts
  apps/deploy-web/src/hooks/useTopBanner.tsx
  packages/ui/components/banner/banner.spec.tsx
  packages/ui/components/banner/banner.tsx
  packages/ui/components/index.tsx
Due: deploy-web

fix(sdl): heal pre-uact sdl-builder drafts and remove sidebar entry (#3444)
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/hooks/useFormPersist.spec.ts
  apps/deploy-web/src/hooks/useFormPersist.tsx
  apps/deploy-web/src/utils/sdl/data.spec.ts
  apps/deploy-web/src/utils/sdl/data.ts
  apps/deploy-web/tests/ui/pages/BuildTemplatePage.tsx
Due: deploy-web

feat(billing): add persistent funding banner with reusable banner variants (#3442)
  apps/deploy-web/src/components/layout/FundingBanner/FundingBanner.spec.tsx
  apps/deploy-web/src/components/layout/FundingBanner/FundingBanner.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/components/layout/TopBanner.spec.tsx
  apps/deploy-web/src/components/layout/TopBanner.tsx
  apps/deploy-web/src/hooks/useHasCreditCardBanner.ts
  apps/deploy-web/src/hooks/useHasFundingBanner.spec.ts
  apps/deploy-web/src/hooks/useHasFundingBanner.ts
  apps/deploy-web/src/hooks/useTopBanner.tsx
  packages/ui/components/banner/banner.spec.tsx
  packages/ui/components/banner/banner.tsx
  packages/ui/components/index.tsx
Due: deploy-web

fix(styling): apply tracking-tight to all headings globally
  packages/ui/styles/global.css
Due: none

fix(deployment): reject whitespace-only ssh keys and fix vm tooltip copy
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
Due: deploy-web

fix(styling): make headings font-bold by default
  packages/ui/styles/global.css
Due: none

refactor(styling): keep font-medium on label-style headings
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsAmountFields/AddCreditsAmountFields.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsNewPaymentMethodFields/AddCreditsNewPaymentMethodFields.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/SdlPreviewPane/SdlPreviewPane.tsx
  apps/deploy-web/src/components/home/AccountStatsCards/AccountStatsCards.tsx
  apps/deploy-web/src/components/home/ResourceStatsGrid.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/ErrorAlert.tsx
  apps/provider-console/src/components/api-keys/ApiKeyList.tsx
  apps/provider-console/src/components/machine/MachineAccessForm.tsx
  apps/provider-console/src/components/shared/ProgressSidebar.tsx
  apps/provider-console/src/pages/settings/index.tsx
  packages/ui/components/alert/alert.tsx
Due: deploy-web, provider-console

fix: makes bid screening endpoints schema more strict
  apps/provider-inventory/src/controllers/bid-screening/bid-screening.controller.ts
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
Due: none

feat(deployment): add "Deploy with Agent mode" panel to new deployment page
  apps/deploy-web/src/components/new-deployment/AgentModePanel/AgentModePanel.spec.tsx
  apps/deploy-web/src/components/new-deployment/AgentModePanel/AgentModePanel.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.spec.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

feat(deployment): add copy button to the agent skill install command
  apps/deploy-web/src/components/new-deployment/AgentModePanel/AgentModePanel.spec.tsx
  apps/deploy-web/src/components/new-deployment/AgentModePanel/AgentModePanel.tsx
Due: deploy-web

refactor(deployment): polish Agent mode panel layout and copy button
  apps/deploy-web/src/components/new-deployment/AgentModePanel/AgentModePanel.tsx
Due: deploy-web

feat(styling): add flag-gated top navigation replacing sidebar
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/layout/TopNav/ThemeToggle.spec.tsx
  apps/deploy-web/src/components/layout/TopNav/ThemeToggle.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNav.spec.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNav.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNavAccountMenu.spec.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNavAccountMenu.tsx
  apps/deploy-web/src/components/layout/usePublishHeaderHeight.ts
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

refactor(deployment): align agent mode step CTAs to a common baseline
  apps/deploy-web/src/components/new-deployment/AgentModePanel/AgentModePanel.tsx
Due: deploy-web

refactor(deployment): size agent mode CTA links to match step text (text-sm)
  apps/deploy-web/src/components/new-deployment/AgentModePanel/AgentModePanel.tsx
Due: deploy-web

refactor(deployment): reword agent panel copy from 'Agent mode' to 'your agent'
  apps/deploy-web/src/components/new-deployment/AgentModePanel/AgentModePanel.spec.tsx
  apps/deploy-web/src/components/new-deployment/AgentModePanel/AgentModePanel.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.spec.tsx
Due: deploy-web

fix(styling): align theme icon with other account menu items
  apps/deploy-web/src/components/layout/TopNav/TopNavAccountMenu.tsx
Due: deploy-web

feat(deployment): bring container-vm ssh deployments to the configure page (#3443)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ExposePortsCard/ExposePortsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentFlowProvider/DeploymentFlowProvider.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ResumeDeploymentGuard/ResumeDeploymentGuard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigureDraft/useConfigureDraft.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/deploymentIntent.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/deploymentIntent.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/new-deployment/RedirectDeployLinuxToConfigure/RedirectDeployLinuxToConfigure.spec.tsx
  apps/deploy-web/src/components/new-deployment/RedirectDeployLinuxToConfigure/RedirectDeployLinuxToConfigure.tsx
  apps/deploy-web/src/hooks/useNewDeploymentUrl/useNewDeploymentUrl.spec.ts
  apps/deploy-web/src/hooks/useNewDeploymentUrl/useNewDeploymentUrl.ts
  apps/deploy-web/src/pages/deploy-linux/index.tsx
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/data.ts
  apps/deploy-web/src/utils/sdl/vmImages.ts
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

fix(styling): persist theme cookie and match full route segments in top nav
  apps/deploy-web/src/components/layout/TopNav/ThemeToggle.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNav.spec.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNav.tsx
Due: deploy-web

fix(styling): match account menu icons to design
  apps/deploy-web/src/components/layout/TopNav/TopNavAccountMenu.tsx
Due: deploy-web

fix(styling): consolidate mobile top nav into one menu with icons and refine spacing
  apps/deploy-web/src/components/layout/TopNav/TopNav.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNavAccountMenu.spec.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNavAccountMenu.tsx
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
