Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat: adds support for client abort signal (#3301)
  apps/api/src/bid-screening/controllers/bid-screening/bid-screening.controller.ts
  apps/api/src/bid-screening/routes/bid-screening.router.ts
  apps/provider-inventory/src/controllers/bid-screening/bid-screening.controller.ts
  apps/provider-inventory/src/routes/bid-screening/bid-screening.router.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
Due: api

fix(billing): enforce USD-only Stripe payments
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.tsx
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

chore(net): update mainnet version
  packages/net/src/generated/netConfigData.ts
Due: none

fix(billing): hide Stripe routes from OpenAPI docs
  apps/api/src/billing/routes/stripe-coupons/stripe-coupons.router.ts
  apps/api/src/billing/routes/stripe-customers/stripe-customers.router.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/routes/stripe-prices/stripe-prices.router.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(billing): enforce USD-only Stripe payments (#3302)
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/routes/stripe-coupons/stripe-coupons.router.ts
  apps/api/src/billing/routes/stripe-customers/stripe-customers.router.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/routes/stripe-prices/stripe-prices.router.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentPopup/PaymentPopup.tsx
  apps/deploy-web/src/queries/usePaymentQueries.spec.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(deployment): keyset-paginate gpu-prices query to drop deployment seq scan (#3299)
  apps/api/src/deployment/repositories/deployment/deployment.repository.integration.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/indexer/drizzle/0008_add_deployment_group_deployment_id_index.sql
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  packages/database/dbSchemas/akash/deploymentGroup.ts
Due: api, indexer

feat(analytics): track passwordless auth events
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.spec.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  packages/net/src/generated/netConfigData.ts
Due: deploy-web

feat(analytics): track passwordless auth events (#3305)
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.spec.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  packages/net/src/generated/netConfigData.ts
Due: deploy-web

refactor: allows to pass empty resource units in bid screening
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-inventory/package.json
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/providers/drizzle.provider.ts
  apps/provider-inventory/src/providers/postgres.provider.ts
  apps/provider-inventory/tsup.config.ts
  packages/instrumentation/src/index.ts
  packages/logging/src/services/postgres-logger/postgres-logger.service.ts
Due: api

refactor: allows to pass empty resource units in bid screening (#3303)
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-inventory/package.json
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/providers/drizzle.provider.ts
  apps/provider-inventory/src/providers/postgres.provider.ts
  apps/provider-inventory/tsup.config.ts
  packages/instrumentation/src/index.ts
  packages/logging/src/services/postgres-logger/postgres-logger.service.ts
Due: api

refactor: returns back logs for bid screening request
  apps/provider-inventory/src/providers/logger-factory.provider.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
Due: none

refactor: returns back logs for bid screening request (#3306)
  apps/provider-inventory/src/providers/logger-factory.provider.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
Due: none

fix: marks provider inventory as online if its is_online_since is null
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
Due: none

fix: marks provider inventory as online if its is_online_since is null (#3307)
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
Due: none

fix(managed-wallet): stop trial-GPU warning snackbar from crashing the page
  apps/deploy-web/src/context/WalletProvider/useSignAndBroadcast.spec.tsx
  apps/deploy-web/src/context/WalletProvider/useSignAndBroadcast.tsx
Due: deploy-web

feat(billing): allow removing payment methods during trial
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.spec.tsx
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.tsx
  apps/deploy-web/src/components/shared/PaymentMethodsList/PaymentMethodsList.tsx
Due: api, deploy-web

fix(managed-wallet): stop trial-GPU warning snackbar from crashing the page (#3309)
  apps/deploy-web/src/context/WalletProvider/useSignAndBroadcast.spec.tsx
  apps/deploy-web/src/context/WalletProvider/useSignAndBroadcast.tsx
Due: deploy-web

test(billing): assert Remove button presence in selectable mode
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.spec.tsx
Due: deploy-web

fix(indexer): remove legacy monitored value monitors
  apps/indexer/README.md
  apps/indexer/drizzle/0009_drop_monitored_value.sql
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  apps/indexer/src/db/buildDatabase.ts
  apps/indexer/src/index.ts
  apps/indexer/src/monitors/addressBalanceMonitor.ts
  apps/indexer/src/monitors/deploymentBalanceMonitor.ts
  apps/indexer/src/monitors/index.ts
  packages/database/dbSchemas/base/index.ts
  packages/database/dbSchemas/base/monitoredValue.ts
  packages/database/dbSchemas/index.ts
Due: indexer

refactor(billing): remove oracle V1 fallback from denom exchange
  apps/api/src/chain/services/denom-exchange/denom-exchange.service.spec.ts
  apps/api/src/chain/services/denom-exchange/denom-exchange.service.ts
  apps/api/test/functional/market-data.spec.ts
Due: api

docs(billing): clarify oracle V2 failure-propagation comment
  apps/api/src/chain/services/denom-exchange/denom-exchange.service.ts
Due: api

refactor(wallet): remove cosmos-kit integration and deps from deploy-web
  apps/deploy-web/env/.env
  apps/deploy-web/package.json
  apps/deploy-web/src/chains/akash-sandbox.ts
  apps/deploy-web/src/chains/akash-testnet.ts
  apps/deploy-web/src/chains/akash.ts
  apps/deploy-web/src/chains/index.ts
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.spec.tsx
  apps/deploy-web/src/context/CustomChainProvider/CustomChainProvider.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/ChainStoreInitializer/ChainStoreInitializer.spec.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/ChainStoreInitializer/ChainStoreInitializer.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/ModalWrapper/ModalWrapper.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/WalletModal/WalletListView.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/WalletModal/WalletModal.spec.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/components/WalletModal/WalletModal.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/context/ChainStoreProvider.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/hooks/useChain/useChain.spec.tsx
  apps/deploy-web/src/lib/cosmos-kit-jotai/hooks/useChain/useChain.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/hooks/useManager/useManager.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/index.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/store/ChainStore.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/store/constants.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/store/utils.ts
  apps/deploy-web/src/lib/cosmos-kit-jotai/store/walletManagerFactory.ts
  apps/deploy-web/src/pages/_app.tsx
  package-lock.json
Due: deploy-web

fix(styling): apply Geist font at document root for portaled popups
  apps/deploy-web/src/pages/_document.tsx
  apps/deploy-web/src/styles/index.css
Due: deploy-web

fix(bid): derive bid countdown from dseq timestamp
  apps/deploy-web/src/components/new-deployment/BidCountdownTimer.spec.tsx
  apps/deploy-web/src/components/new-deployment/BidCountdownTimer.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
Due: deploy-web

refactor(wallet): drop unused @cosmjs/amino from deploy-web
  apps/deploy-web/package.json
  package-lock.json
Due: deploy-web

refactor(bid): inline proxy as transparent route handler
  apps/api/src/bid-screening/controllers/bid-screening/bid-screening.controller.spec.ts
  apps/api/src/bid-screening/controllers/bid-screening/bid-screening.controller.ts
  apps/api/src/bid-screening/routes/bid-screening.router.ts
Due: api

refactor(bid): return 499 for client abort errors
  apps/api/src/bid-screening/routes/bid-screening.router.ts
Due: api

refactor: inline proxy as transparent route handler (#3315)
  apps/api/src/bid-screening/controllers/bid-screening/bid-screening.controller.spec.ts
  apps/api/src/bid-screening/controllers/bid-screening/bid-screening.controller.ts
  apps/api/src/bid-screening/routes/bid-screening.router.ts
Due: api

feat(deployment): add screened provider marketplace to configure screen
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/src/bid-screening/routes/bid-screening.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ServiceRow/ServiceRow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementManager/usePlacementManager.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementManager/usePlacementManager.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplaceProvidersTable/MarketplaceProvidersTable.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplaceProvidersTable/MarketplaceProvidersTable.tsx
  apps/deploy-web/src/queries/useScreenedProviders.spec.tsx
  apps/deploy-web/src/queries/useScreenedProviders.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
  packages/dev-config/.eslintrc.base.js
Due: api, deploy-web

refactor: removes old attribute matching method in provider repository
  apps/api/src/provider/repositories/provider/provider.repository.integration.ts
  apps/api/src/provider/repositories/provider/provider.repository.ts
  apps/api/src/provider/utils/glob-to-regexp.ts
Due: api

feat(deployment): add screened provider marketplace to configure screen (#3308)
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/src/bid-screening/routes/bid-screening.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ServiceRow/ServiceRow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementManager/usePlacementManager.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementManager/usePlacementManager.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplaceProvidersTable/MarketplaceProvidersTable.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplaceProvidersTable/MarketplaceProvidersTable.tsx
  apps/deploy-web/src/queries/useScreenedProviders.spec.tsx
  apps/deploy-web/src/queries/useScreenedProviders.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
  packages/dev-config/.eslintrc.base.js
Due: api, deploy-web

chore: fixes claude commit detection
  .claude/instructions/commit-and-pr-conventions.md
Due: none

chore: fixes claude commit detection (#3317)
  .claude/instructions/commit-and-pr-conventions.md
Due: none

feat(billing): allow removing payment methods during trial (#3310)
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsContainer/PaymentMethodsContainer.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsView.tsx
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.spec.tsx
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.tsx
  apps/deploy-web/src/components/shared/PaymentMethodsList/PaymentMethodsList.tsx
Due: api, deploy-web

refactor: removes old attribute matching method in provider repository (#3316)
  apps/api/src/provider/repositories/provider/provider.repository.integration.ts
  apps/api/src/provider/repositories/provider/provider.repository.ts
  apps/api/src/provider/utils/glob-to-regexp.ts
Due: api

fix(indexer): remove legacy monitored value monitors (#3311)
  apps/indexer/README.md
  apps/indexer/drizzle/0009_drop_monitored_value.sql
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  apps/indexer/src/db/buildDatabase.ts
  apps/indexer/src/index.ts
  apps/indexer/src/monitors/addressBalanceMonitor.ts
  apps/indexer/src/monitors/deploymentBalanceMonitor.ts
  apps/indexer/src/monitors/index.ts
  packages/database/dbSchemas/base/index.ts
  packages/database/dbSchemas/base/monitoredValue.ts
  packages/database/dbSchemas/index.ts
Due: indexer

fix: cleanup provider sdk on retry give up event
  apps/provider-inventory/package.json
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

fix: cleanup provider sdk on retry give up event (#3318)
  apps/provider-inventory/package.json
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

feat(auth): add CLI command to link Auth0 accounts
  apps/api/src/app/console.ts
  apps/api/src/auth/services/auth0-account-linker/auth0-account-linker.service.spec.ts
  apps/api/src/auth/services/auth0-account-linker/auth0-account-linker.service.ts
  apps/api/src/auth/services/auth0/auth0.service.spec.ts
  apps/api/src/auth/services/auth0/auth0.service.ts
  apps/api/src/core/services/cli-prompt/cli-prompt.service.spec.ts
  apps/api/src/core/services/cli-prompt/cli-prompt.service.ts
  apps/api/test/seeders/auth0-user.seeder.ts
Due: api

refactor(billing): remove oracle V1 fallback from denom exchange (#3312)
  apps/api/src/chain/services/denom-exchange/denom-exchange.service.spec.ts
  apps/api/src/chain/services/denom-exchange/denom-exchange.service.ts
  apps/api/test/functional/market-data.spec.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
