Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(deployment): add RAM and persistent storage configure cards
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/PersistentStorageCard/PersistentStorageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/PersistentStorageCard/PersistentStorageCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RamStorageCard/RamStorageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RamStorageCard/RamStorageCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useRevalidateUniqueness/useRevalidateUniqueness.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useRevalidateUniqueness/useRevalidateUniqueness.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
Due: deploy-web

fix: add sample
  apps/deploy-web/env/.env.sample
Due: deploy-web

feat(sdl): preserve TEE param through builder round-trip
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.ts
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
Due: deploy-web

fix: unref retry policies to unblock process shutdown without waiting for them (#3352)
  apps/provider-inventory/package.json
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

fix(deployment): block nvidia rtx5090m for trial deployments (#3346)
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
Due: deploy-web

Improve/skill review optimization (#3156)
  .claude/skills/console-tests/SKILL.md
Due: none

feat(deployment): add RAM and persistent storage configure cards (#3351)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/PersistentStorageCard/PersistentStorageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/PersistentStorageCard/PersistentStorageCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RamStorageCard/RamStorageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RamStorageCard/RamStorageCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useRevalidateUniqueness/useRevalidateUniqueness.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useRevalidateUniqueness/useRevalidateUniqueness.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
Due: deploy-web

feat(sdl): preserve TEE param through builder round-trip (#3345)
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.ts
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
Due: deploy-web

feat(deployment): surface declared confidential compute config on the deployment view
  apps/deploy-web/src/components/deployments/ConfidentialComputeResources.spec.tsx
  apps/deploy-web/src/components/deployments/ConfidentialComputeResources.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/shared/ConfidentialComputeBadge.spec.tsx
  apps/deploy-web/src/components/shared/ConfidentialComputeBadge.tsx
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/queries/useLeaseQuery.ts
  apps/deploy-web/src/utils/confidentialCompute.spec.ts
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

feat(deployment): request attestation scope in managed-wallet provider JWT
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.spec.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.ts
Due: deploy-web

refactor: reduces retry attempts for providers with open incident
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

refactor: reduces retry attempts for providers with open incident (#3354)
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

refactor: replaces drizzle insert with INSERT SELECT and 1 bind param
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
Due: none

fix: upgrades chain-sdk
  apps/api/package.json
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-inventory/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

fix(deployment): source confidential compute TEE type from the on-chain group attribute
  apps/deploy-web/src/components/deployments/ConfidentialComputeResources.spec.tsx
  apps/deploy-web/src/components/deployments/ConfidentialComputeResources.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/utils/confidentialCompute.spec.ts
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

refactor(deployment): consume confidential-compute derivations via hooks
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/hooks/useDeclaredTeeTypes.spec.ts
  apps/deploy-web/src/hooks/useDeclaredTeeTypes.ts
  apps/deploy-web/src/hooks/useTeeResourceCarveouts.spec.ts
  apps/deploy-web/src/hooks/useTeeResourceCarveouts.ts
Due: deploy-web

feat(bid): explain resource reclamation in bid-list tooltip
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.tsx
Due: deploy-web

refactor(deployment): dedupe sidecar key-presence check in omitAttestationSidecar
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

refactor: replaces drizzle insert with INSERT SELECT and 1 bind param (#3355)
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
Due: none

feat(bid): explain resource reclamation in bid-list tooltip (#3358)
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.tsx
Due: deploy-web

fix(deployment): reject non-integer on-chain resource values in parseIntegerVal
  apps/deploy-web/src/utils/confidentialCompute.spec.ts
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

fix: recovered offline provider should have up to 5 retry attempts
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

fix: recovered offline provider should have up to 5 retry attempts (#3357)
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

fix: upgrades chain-sdk (#3356)
  apps/api/package.json
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-inventory/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

feat(deployment): surface declared confidential compute config on the deployment view (#3353)
  apps/deploy-web/src/components/deployments/ConfidentialComputeResources.spec.tsx
  apps/deploy-web/src/components/deployments/ConfidentialComputeResources.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/shared/ConfidentialComputeBadge.spec.tsx
  apps/deploy-web/src/components/shared/ConfidentialComputeBadge.tsx
  apps/deploy-web/src/hooks/useDeclaredTeeTypes.spec.ts
  apps/deploy-web/src/hooks/useDeclaredTeeTypes.ts
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.spec.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.ts
  apps/deploy-web/src/hooks/useTeeResourceCarveouts.spec.ts
  apps/deploy-web/src/hooks/useTeeResourceCarveouts.ts
  apps/deploy-web/src/queries/useLeaseQuery.spec.tsx
  apps/deploy-web/src/queries/useLeaseQuery.ts
  apps/deploy-web/src/utils/confidentialCompute.spec.ts
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

fix(jwt): remove attestation from global managed-wallet token scope
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.spec.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.ts
Due: deploy-web

refactor(deployment): guard attestation download on resolved provider and extract report label
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.tsx
  apps/deploy-web/src/components/deployments/DownloadAttestationEvidence.tsx
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

feat(deployment): download attestation evidence for confidential compute leases
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.spec.tsx
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.tsx
  apps/deploy-web/src/components/deployments/DownloadAttestationEvidence.spec.tsx
  apps/deploy-web/src/components/deployments/DownloadAttestationEvidence.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/queries/useAttestationQuoteMutation.spec.ts
  apps/deploy-web/src/queries/useAttestationQuoteMutation.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/confidentialCompute.spec.ts
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

feat(deployment): mint per-provider token for attestation evidence download
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.spec.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.ts
  apps/deploy-web/src/queries/useAttestationQuoteMutation.spec.ts
  apps/deploy-web/src/queries/useAttestationQuoteMutation.ts
Due: deploy-web

fix(jwt): remove attestation from global managed-wallet token scope (#3360)
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.spec.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.ts
Due: deploy-web

fix(deployment): bind attestation evidence to its nonce and time-bound the fetch
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.spec.tsx
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.tsx
  apps/deploy-web/src/queries/useAttestationQuoteMutation.spec.ts
  apps/deploy-web/src/queries/useAttestationQuoteMutation.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

refactor(deployment): drop ui_confidential_compute flag from attestation download
  apps/deploy-web/src/components/deployments/DownloadAttestationEvidence.spec.tsx
  apps/deploy-web/src/components/deployments/DownloadAttestationEvidence.tsx
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

refactor: fixes cleanup and simplifies detection of offline provider failure
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/services/provider-stream-factory/provider-stream-factory.sevice.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

feat(deployment): download attestation evidence for confidential compute leases (#3359)
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.spec.tsx
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.tsx
  apps/deploy-web/src/components/deployments/DownloadAttestationEvidence.spec.tsx
  apps/deploy-web/src/components/deployments/DownloadAttestationEvidence.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.spec.tsx
  apps/deploy-web/src/hooks/useProviderJwt/useProviderJwt.ts
  apps/deploy-web/src/queries/useAttestationQuoteMutation.spec.ts
  apps/deploy-web/src/queries/useAttestationQuoteMutation.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/deploy-web/src/utils/confidentialCompute.spec.ts
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

feat(deployment): persist the configure draft across reloads
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigureDraft/useConfigureDraft.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigureDraft/useConfigureDraft.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/deploymentIntent.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/deploymentIntent.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/utils/urlUtils.spec.ts
  apps/deploy-web/src/utils/urlUtils.ts
  apps/deploy-web/tests/ui/configure-deployment-flow.spec.ts
  apps/deploy-web/tests/ui/pages/ConfigureDeploymentPage.ts
Due: deploy-web

fix(deployment): disable service name and region while the configure pane is locked
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ServiceRow/ServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ServiceRow/ServiceRow.tsx
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.tsx
Due: deploy-web

refactor: fixes cleanup and simplifies detection of offline provider failure (#3361)
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/services/provider-stream-factory/provider-stream-factory.sevice.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

fix(deployment): correct attestation GPU device_index field and carry cert material
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.spec.tsx
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.tsx
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

fix(deployment): read device_index for GPU attestation report label
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.spec.tsx
  apps/deploy-web/src/components/deployments/AttestationEvidenceModal.tsx
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/utils/confidentialCompute.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
