Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(deployment): forget the browser's copy of a deployment the console has recorded
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/DeploymentCopyCleanup.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/DeploymentCopyCleanup.tsx
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/deploymentCopyFate.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/deploymentCopyFate.ts
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/services/deployment-storage/deployment-storage.service.spec.ts
  apps/deploy-web/src/services/deployment-storage/deployment-storage.service.ts
Due: deploy-web

fix(deployment): keep a landed background close from being recorded as failed
  apps/api/src/deployment/services/close-deployment/close-deployment.handler.spec.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.handler.ts
Due: api

feat(user): keep a user's favorite providers on their account
  apps/api/drizzle/0071_favorite_providers.sql
  apps/api/drizzle/meta/0071_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/src/user/controllers/favorite-providers/favorite-providers.controller.ts
  apps/api/src/user/http-schemas/favorite-providers.schema.ts
  apps/api/src/user/model-schemas/favorite-provider/favorite-provider.schema.ts
  apps/api/src/user/model-schemas/index.ts
  apps/api/src/user/repositories/favorite-provider/favorite-provider.repository.ts
  apps/api/src/user/routes/favorite-providers/favorite-providers.router.ts
  apps/api/src/user/routes/index.ts
  apps/api/src/user/services/favorite-providers/favorite-providers.service.spec.ts
  apps/api/src/user/services/favorite-providers/favorite-providers.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/favorite-providers.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(deployment): fund a new lease to a short initial runway instead of 48h (#4225)
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.ts
Due: api

feat(deployment): let a deployment close finish in the background (#4223)
  apps/api/src/activity/controllers/activity/activity.controller.ts
  apps/api/src/activity/http-schemas/activity.schema.ts
  apps/api/src/activity/routes/activity.router.ts
  apps/api/src/activity/services/activity/activity.service.spec.ts
  apps/api/src/activity/services/activity/activity.service.ts
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/core/services/job-queue/job-queue.service.integration.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.handler.integration.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.handler.spec.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.handler.ts
  apps/api/src/deployment/services/close-deployment/close-deployment.job.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/activities.spec.ts
  apps/api/test/functional/deployments.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(styling): align page headers with the page content width (#4226)
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/layout/SettingsLayout/SettingsLayout.tsx
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.tsx
Due: deploy-web

feat(deployment): tell the user when a background close finishes
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.tsx
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.spec.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/tests/seeders/activity.ts
  apps/deploy-web/tests/seeders/index.ts
Due: deploy-web

feat(deployment): open the deployments list as the console home page
  apps/deploy-web/next.config.js
  apps/deploy-web/src/components/home/AccountHeader.tsx
  apps/deploy-web/src/components/home/AccountStatsCards/AccountStatsCards.spec.tsx
  apps/deploy-web/src/components/home/AccountStatsCards/AccountStatsCards.tsx
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/home/ResourceCard.tsx
  apps/deploy-web/src/components/home/ResourceStatsGrid.tsx
  apps/deploy-web/src/components/home/WelcomePanel.tsx
  apps/deploy-web/src/components/home/YourAccount/YourAccount.spec.tsx
  apps/deploy-web/src/components/home/YourAccount/YourAccount.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNav.spec.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNav.tsx
  apps/deploy-web/src/pages/index.tsx
  apps/deploy-web/src/utils/urlUtils.spec.ts
  apps/deploy-web/src/utils/urlUtils.ts
  apps/deploy-web/tests/ui/managed-wallet-credits.spec.ts
  apps/deploy-web/tests/ui/onboarding-gate.spec.ts
  apps/deploy-web/tests/ui/pages/AppNav.ts
  apps/deploy-web/tests/ui/pages/BillingPage.ts
  apps/deploy-web/tests/ui/pages/HomePage.ts
Due: deploy-web

fix(user): save settings when bio or social links are empty
  apps/deploy-web/src/components/user/UserProfileLayout.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.spec.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/types/user.ts
Due: deploy-web

feat(user): set the product update email preference from user settings
  apps/api/src/user/controllers/user/user.controller.ts
  apps/api/src/user/routes/user-settings/user-settings.router.ts
  apps/api/src/user/schemas/user.schema.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/user-product-updates-preference.spec.ts
Due: api

fix(deployment): expect the account deletion home links to open the deployments list
  apps/deploy-web/src/components/user/ConfirmAccountDeletion/ConfirmAccountDeletion.spec.tsx
Due: deploy-web

fix(deployment): keep checking deployment copies past one that can't be read
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/DeploymentCopyCleanup.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/DeploymentCopyCleanup.tsx
Due: deploy-web

feat(deployment): tell the user when a background close finishes (#4233)
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.tsx
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.spec.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/tests/seeders/activity.ts
  apps/deploy-web/tests/seeders/index.ts
Due: deploy-web

feat(user): set the product update email preference from user settings (#4234)
  apps/api/src/user/controllers/user/user.controller.ts
  apps/api/src/user/routes/user-settings/user-settings.router.ts
  apps/api/src/user/schemas/user.schema.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/user-product-updates-preference.spec.ts
Due: api

feat(deployment): open the deployments list as the console home page (#4232)
  apps/deploy-web/next.config.js
  apps/deploy-web/src/components/home/AccountHeader.tsx
  apps/deploy-web/src/components/home/AccountStatsCards/AccountStatsCards.spec.tsx
  apps/deploy-web/src/components/home/AccountStatsCards/AccountStatsCards.tsx
  apps/deploy-web/src/components/home/HomeContainer.spec.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/home/ResourceCard.tsx
  apps/deploy-web/src/components/home/ResourceStatsGrid.tsx
  apps/deploy-web/src/components/home/WelcomePanel.tsx
  apps/deploy-web/src/components/home/YourAccount/YourAccount.spec.tsx
  apps/deploy-web/src/components/home/YourAccount/YourAccount.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNav.spec.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNav.tsx
  apps/deploy-web/src/components/user/ConfirmAccountDeletion/ConfirmAccountDeletion.spec.tsx
  apps/deploy-web/src/pages/index.tsx
  apps/deploy-web/src/utils/urlUtils.spec.ts
  apps/deploy-web/src/utils/urlUtils.ts
  apps/deploy-web/tests/ui/managed-wallet-credits.spec.ts
  apps/deploy-web/tests/ui/onboarding-gate.spec.ts
  apps/deploy-web/tests/ui/pages/AppNav.ts
  apps/deploy-web/tests/ui/pages/BillingPage.ts
  apps/deploy-web/tests/ui/pages/HomePage.ts
Due: deploy-web

fix(user): save settings when bio or social links are empty (#4235)
  apps/deploy-web/src/components/user/UserProfileLayout.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.spec.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/types/user.ts
Due: deploy-web

feat(user): manage product update emails from the settings page
  apps/deploy-web/src/components/user/UserSettingsForm.spec.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/types/user.ts
Due: deploy-web

refactor(provider): drop the unused full provider list url and query key
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/utils/apiUtils.ts
Due: deploy-web

fix(user): send the product update emails choice only when it changes
  apps/deploy-web/src/components/user/UserSettingsForm.spec.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
Due: deploy-web

feat(user): manage product update emails from the settings page (#4236)
  apps/deploy-web/src/components/user/UserSettingsForm.spec.tsx
  apps/deploy-web/src/components/user/UserSettingsForm.tsx
  apps/deploy-web/src/types/user.ts
Due: deploy-web

feat(deployment): show the Any GPU provider total and providers by GPU quantity
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuVariants/gpuVariants.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuVariants/gpuVariants.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/useGpuQuantityAvailability/useGpuQuantityAvailability.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/useGpuQuantityAvailability/useGpuQuantityAvailability.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.spec.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.tsx
Due: deploy-web

feat(deployment): mute closed status badges and open the archive by default
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
Due: deploy-web

chore(ci): run post-deploy e2e tests from the deployed release tag
  .github/workflows/reusable-deploy-test.yml
Due: none

fix(deployment): forget the browser's copy of a deployment the console has recorded (#4227)
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/DeploymentCopyCleanup.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/DeploymentCopyCleanup.tsx
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/deploymentCopyFate.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/deploymentCopyFate.ts
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/services/deployment-storage/deployment-storage.service.spec.ts
  apps/deploy-web/src/services/deployment-storage/deployment-storage.service.ts
Due: deploy-web

feat(deployment): mute closed status badges and open the archive by default (#4239)
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
Due: deploy-web

chore(ci): test untagged images with the dispatch ref
  .github/workflows/reusable-deploy-test.yml
Due: none

refactor(provider): drop the unused full provider list url and query key (#4237)
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/utils/apiUtils.ts
Due: deploy-web

feat(deployment): show the Any GPU provider total and providers by GPU quantity (#4238)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuVariants/gpuVariants.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/gpuVariants/gpuVariants.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/useGpuQuantityAvailability/useGpuQuantityAvailability.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/useGpuQuantityAvailability/useGpuQuantityAvailability.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.spec.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.tsx
Due: deploy-web

fix(styling): give every page the same content width
  apps/deploy-web/src/components/layout/SettingsLayout/SettingsLayout.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentPage/NewDeploymentPage.tsx
  apps/deploy-web/src/components/providers/ProviderProfile/ProviderProfile.tsx
  apps/deploy-web/src/components/providers/ProvidersExplorer/ProvidersExplorer.tsx
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.tsx
  apps/deploy-web/src/components/templates/TemplateDetail.tsx
Due: deploy-web

chore(ci): fail the release tag lookup on errors instead of falling back
  .github/workflows/reusable-deploy-test.yml
Due: none

chore(ci): run post-deploy e2e tests from the deployed release tag (#4240)
  .github/workflows/reusable-deploy-test.yml
Due: none

fix(styling): give every page the same content width (#4241)
  apps/deploy-web/src/components/layout/SettingsLayout/SettingsLayout.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentPage/NewDeploymentPage.tsx
  apps/deploy-web/src/components/providers/ProviderProfile/ProviderProfile.tsx
  apps/deploy-web/src/components/providers/ProvidersExplorer/ProvidersExplorer.tsx
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.tsx
  apps/deploy-web/src/components/templates/TemplateDetail.tsx
Due: deploy-web

feat(user): keep a user's favorite providers on their account (#4228)
  apps/api/drizzle/0071_favorite_providers.sql
  apps/api/drizzle/meta/0071_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/src/user/controllers/favorite-providers/favorite-providers.controller.ts
  apps/api/src/user/http-schemas/favorite-providers.schema.ts
  apps/api/src/user/model-schemas/favorite-provider/favorite-provider.schema.ts
  apps/api/src/user/model-schemas/index.ts
  apps/api/src/user/repositories/favorite-provider/favorite-provider.repository.ts
  apps/api/src/user/routes/favorite-providers/favorite-providers.router.ts
  apps/api/src/user/routes/index.ts
  apps/api/src/user/services/favorite-providers/favorite-providers.service.spec.ts
  apps/api/src/user/services/favorite-providers/favorite-providers.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/favorite-providers.spec.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
Due: api

fix(provider): check a provider's host in the inventory while chain is down
  apps/provider-proxy/src/config/env.config.spec.ts
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/container.spec.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/services/ProviderHostVerifier/ProviderHostVerifier.spec.ts
  apps/provider-proxy/src/services/ProviderHostVerifier/ProviderHostVerifier.ts
  apps/provider-proxy/src/services/ProviderInventoryService/ProviderInventoryService.spec.ts
  apps/provider-proxy/src/services/ProviderInventoryService/ProviderInventoryService.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/providerInventoryApiServer.ts
Due: provider-proxy

fix(deployment): report the bid wait and a background close in toasts only
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ConfigureEditor.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ConfigureEditor.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/BackgroundCloseToast/BackgroundCloseToast.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/BackgroundCloseToast/BackgroundCloseToast.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/BidWindowToast/BidWindowToast.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/WorkspaceToast/WorkspaceToast.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/MarketplacePane/MarketplacePane.tsx
Due: deploy-web

feat(deployment): close a deployment from its detail page in the background
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentDangerZone.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentDangerZone.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/hooks/useClosingDeployments/useClosingDeployments.spec.ts
  apps/deploy-web/src/hooks/useClosingDeployments/useClosingDeployments.ts
Due: deploy-web

feat(provider): keep favorite providers on the account
  apps/deploy-web/src/components/LocalNoteManager/LocalNoteManager.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/LocalNoteManager.tsx
  apps/deploy-web/src/components/LocalNoteManager/localNoteStore.ts
  apps/deploy-web/src/components/LocalNoteManager/useLocalNotes.ts
  apps/deploy-web/src/components/providers/ProviderProfile/useProviderProfileModel.spec.tsx
  apps/deploy-web/src/components/providers/ProviderProfile/useProviderProfileModel.ts
  apps/deploy-web/src/components/providers/ProvidersExplorer/useProvidersExplorerModel.spec.tsx
  apps/deploy-web/src/components/providers/ProvidersExplorer/useProvidersExplorerModel.ts
  apps/deploy-web/src/hooks/useFavoriteProviders/useFavoriteProviders.spec.tsx
  apps/deploy-web/src/hooks/useFavoriteProviders/useFavoriteProviders.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/browser-favorite-providers/browser-favorite-providers.service.spec.ts
  apps/deploy-web/src/services/browser-favorite-providers/browser-favorite-providers.service.ts
  apps/deploy-web/src/utils/providerUtils.ts
Due: deploy-web

fix(provider): keep moved favorites when the first list read answers late
  apps/deploy-web/src/hooks/useFavoriteProviders/useFavoriteProviders.spec.tsx
  apps/deploy-web/src/hooks/useFavoriteProviders/useFavoriteProviders.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
