Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

refactor: removes intermediate layers to speed up bid matching (#3172)
  apps/provider-inventory/.eslintrc.js
  apps/provider-inventory/src/lib/compute-rollups/compute-rollups.spec.ts
  apps/provider-inventory/src/lib/compute-rollups/compute-rollups.ts
  apps/provider-inventory/src/lib/inventory-mapper/inventory-mapper.spec.ts
  apps/provider-inventory/src/lib/inventory-mapper/inventory-mapper.ts
  apps/provider-inventory/src/lib/jsonb-bigint/jsonb-bigint.column.ts
  apps/provider-inventory/src/lib/project-row/project-row.spec.ts
  apps/provider-inventory/src/lib/project-row/project-row.ts
  apps/provider-inventory/src/lib/projected-row-equals/projected-row-equals.spec.ts
  apps/provider-inventory/src/lib/projected-row-equals/projected-row-equals.ts
  apps/provider-inventory/src/lib/resource-pair/resource-pair.ts
  apps/provider-inventory/src/lib/stream-status-mapper/stream-status-mapper.spec.ts
  apps/provider-inventory/src/lib/stream-status-mapper/stream-status-mapper.ts
  apps/provider-inventory/src/model-schemas/provider-inventory/provider-inventory.schema.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/providers/provider-stream.provider.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.spec.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.spec.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/provider-stream-factory/provider-stream-factory.sevice.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/types/inventory.ts
  apps/provider-inventory/src/types/inventory.types.ts
  apps/provider-inventory/src/types/provider.ts
  apps/provider-inventory/src/types/stream-status.ts
  apps/provider-inventory/test/functional/discovery-pipeline.spec.ts
Due: none

feat: adds chain provider poller
  apps/provider-inventory/drizzle/0000_initial_provider_inventory.sql
  apps/provider-inventory/drizzle/meta/0000_snapshot.json
  apps/provider-inventory/env/.env.functional.test
  apps/provider-inventory/env/.env.mainnet
  apps/provider-inventory/env/.env.sandbox
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/lib/discovery-reconciler/discovery-reconciler.spec.ts
  apps/provider-inventory/src/lib/discovery-reconciler/discovery-reconciler.ts
  apps/provider-inventory/src/model-schemas/provider-inventory/provider-inventory.schema.ts
  apps/provider-inventory/src/providers/chain-query.provider.ts
  apps/provider-inventory/src/providers/chain-sdk.provider.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.spec.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/chain-provider-poller/chain-provider-poller.service.spec.ts
  apps/provider-inventory/src/services/chain-provider-poller/chain-provider-poller.service.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/types/chain-provider.ts
  apps/provider-inventory/test/functional/discovery-pipeline.spec.ts
Due: none

chore: update apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
Due: none

feat: adds chain provider poller (#3174)
  apps/provider-inventory/drizzle/0000_initial_provider_inventory.sql
  apps/provider-inventory/drizzle/meta/0000_snapshot.json
  apps/provider-inventory/env/.env.functional.test
  apps/provider-inventory/env/.env.mainnet
  apps/provider-inventory/env/.env.sandbox
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/lib/discovery-reconciler/discovery-reconciler.spec.ts
  apps/provider-inventory/src/lib/discovery-reconciler/discovery-reconciler.ts
  apps/provider-inventory/src/model-schemas/provider-inventory/provider-inventory.schema.ts
  apps/provider-inventory/src/providers/chain-query.provider.ts
  apps/provider-inventory/src/providers/chain-sdk.provider.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.spec.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/chain-provider-poller/chain-provider-poller.service.spec.ts
  apps/provider-inventory/src/services/chain-provider-poller/chain-provider-poller.service.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
  apps/provider-inventory/src/types/chain-provider.ts
  apps/provider-inventory/test/functional/discovery-pipeline.spec.ts
Due: none

chore(wallet): remove self-custody Playwright e2e suite
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
  apps/deploy-web/script/closeDeployments.ts
  apps/deploy-web/tests/ui/actions/selectChainNetwork.ts
  apps/deploy-web/tests/ui/authorize-spending.spec.ts
  apps/deploy-web/tests/ui/build-template.spec.ts
  apps/deploy-web/tests/ui/change-wallets.spec.ts
  apps/deploy-web/tests/ui/custom-container-form.spec.ts
  apps/deploy-web/tests/ui/deploy-from-a-template.spec.ts
  apps/deploy-web/tests/ui/deploy-linux.spec.ts
  apps/deploy-web/tests/ui/deploy-self-custody-hello-world.spec.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/fixture/testing-helpers.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/fixture/web-wallet/CosmjsWebWallet.ts
  apps/deploy-web/tests/ui/fixture/web-wallet/initLeapWebWalletMock.ts
  apps/deploy-web/tests/ui/fixture/web-wallet/injectWebWallet.ts
  apps/deploy-web/tests/ui/managed-wallet-alerts.spec.ts
  apps/deploy-web/tests/ui/managed-wallet-deployment.spec.ts
  apps/deploy-web/tests/ui/pages/AuthorizationsPage.tsx
  apps/deploy-web/tests/ui/pages/BuildTemplatePage.tsx
  apps/deploy-web/tests/ui/pages/DeployPage.tsx
  apps/deploy-web/tests/ui/pages/PlainLinuxPage.tsx
  apps/deploy-web/tests/ui/pages/WebWallet.ts
  apps/deploy-web/tests/ui/sdl-builder-deployment.spec.ts
  apps/deploy-web/tests/ui/uiState/isWalletConnected.ts
Due: deploy-web

chore(wallet): drop unused @cosmjs/crypto from deploy-web
  apps/deploy-web/package.json
  package-lock.json
Due: deploy-web

feat(dx): expose deploy flow in typed console API SDK
  apps/api/src/bid/routes/bids/bids.router.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/routes/leases/leases.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
  packages/dev-config/.eslintrc.base.js
  packages/dev-config/eslint-plugin-akash/rules/operation-id-format.js
Due: api

feat(dx): expose deploy flow in typed console API SDK (#3176)
  apps/api/src/bid/routes/bids/bids.router.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/routes/leases/leases.router.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
  packages/dev-config/.eslintrc.base.js
  packages/dev-config/eslint-plugin-akash/rules/operation-id-format.js
Due: api

fix: adds additional validation on url and forbid proxy of internal urls
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/services/ProviderProxy.ts
  apps/provider-proxy/src/utils/createForbidPrivateNetworkLookup/createForbidPrivateNetworkLookup.spec.ts
  apps/provider-proxy/src/utils/createForbidPrivateNetworkLookup/createForbidPrivateNetworkLookup.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/proxyServer.ts
  apps/provider-proxy/vitest.config.ts
Due: provider-proxy

fix: adds additional validation on url and forbid proxy of internal urls (#3177)
  apps/provider-proxy/src/config/env.config.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/services/ProviderProxy.ts
  apps/provider-proxy/src/utils/createForbidPrivateNetworkLookup/createForbidPrivateNetworkLookup.spec.ts
  apps/provider-proxy/src/utils/createForbidPrivateNetworkLookup/createForbidPrivateNetworkLookup.ts
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/proxyServer.ts
  apps/provider-proxy/vitest.config.ts
Due: provider-proxy

fix: respond with proper status on blocked dns lookup
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/providerServer.ts
Due: provider-proxy

fix: respond with proper status on blocked dns lookup (#3179)
  apps/provider-proxy/src/routes/proxyProviderRequest.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/setup/providerServer.ts
Due: provider-proxy

chore(wallet): restore wallet-agnostic deploy-web e2e specs
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
  apps/deploy-web/script/closeDeployments.ts
  apps/deploy-web/tests/ui/build-template.spec.ts
  apps/deploy-web/tests/ui/custom-container-form.spec.ts
  apps/deploy-web/tests/ui/deploy-from-a-template.spec.ts
  apps/deploy-web/tests/ui/deploy-linux.spec.ts
  apps/deploy-web/tests/ui/pages/BuildTemplatePage.tsx
  apps/deploy-web/tests/ui/pages/DeployPage.tsx
  apps/deploy-web/tests/ui/pages/PlainLinuxPage.tsx
Due: deploy-web

chore(wallet): restore SDL builder e2e spec
  apps/deploy-web/tests/ui/sdl-builder-deployment.spec.ts
Due: deploy-web

fix(deployment): cache cosmos REST fallback routes (#3158)
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/fallback-deployment-reader/fallback-deployment-reader.service.ts
Due: api

feat(auth): passwordless email OTP behind console_auth_redesign
  .husky/commit-msg
  apps/deploy-web/src/components/auth/AuthLayoutV2/AuthLayoutV2.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/auth/AuthPageLegacy/AuthPageLegacy.spec.tsx
  apps/deploy-web/src/components/auth/AuthPageLegacy/AuthPageLegacy.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/AuthPagePasswordless.spec.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/AuthPagePasswordless.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/withPersistedPasswordlessFlow.spec.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/withPersistedPasswordlessFlow.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.spec.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.tsx
  apps/deploy-web/src/pages/api/auth/email-code-start.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-start.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.ts
  apps/deploy-web/src/pages/api/auth/password-signup.ts
  apps/deploy-web/src/pages/login-v2/index.tsx
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/deploy-web/src/services/auth/auth/auth.service.spec.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
  apps/deploy-web/tests/ui/pages/AuthPagePasswordless.ts
  apps/deploy-web/tests/ui/passwordless-login.spec.ts
  apps/deploy-web/tests/ui/services/email-verification/mailsac-code.strategy.ts
Due: deploy-web

fix(notifications): don't auto-enable deployment balance alert
  apps/api/src/app/services/enable-deployment-alert/enable-deployment-alert.handler.spec.ts
  apps/api/src/app/services/enable-deployment-alert/enable-deployment-alert.handler.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/deploy-web/tests/ui/managed-wallet-alerts.spec.ts
Due: api, deploy-web

fix(repo): bump next to 15.5.18
  .codecov.yml
  apps/api/package.json
  apps/deploy-web/.eslintrc.js
  apps/deploy-web/next-env.d.ts
  apps/deploy-web/next.config.js
  apps/deploy-web/package.json
  apps/deploy-web/src/components/shared/Editor/monaco-editor.ts
  apps/deploy-web/src/lib/nextjs/api-routes-specs/proxy-path.spec.ts
  apps/deploy-web/src/pages/_document.tsx
  apps/indexer/package.json
  apps/provider-console/next.config.js
  apps/provider-console/package.json
  apps/stats-web/next.config.js
  apps/stats-web/package.json
  apps/stats-web/src/app/addresses/[address]/deployments/[dseq]/page.tsx
  apps/stats-web/src/app/addresses/[address]/deployments/page.tsx
  apps/stats-web/src/app/addresses/[address]/page.tsx
  apps/stats-web/src/app/addresses/[address]/transactions/page.tsx
  apps/stats-web/src/app/blocks/[height]/page.tsx
  apps/stats-web/src/app/bme-graph/[snapshot]/page.tsx
  apps/stats-web/src/app/graph/[snapshot]/page.tsx
  apps/stats-web/src/app/layout.tsx
  apps/stats-web/src/app/provider-graph/[snapshot]/page.tsx
  apps/stats-web/src/app/transactions/[hash]/page.tsx
  apps/stats-web/src/app/validators/[address]/page.tsx
  apps/stats-web/src/lib/serverFetch.spec.ts
  apps/stats-web/src/lib/serverFetch.ts
  apps/tx-signer/package.json
  package-lock.json
  package.json
  packages/dev-config/.eslintrc.base.js
  packages/dev-config/package.json
  packages/react-query-proxy/package.json
  packages/ui/package.json
Due: api, deploy-web, indexer, provider-console, stats-web

test(provider): add integration vitest project for postgres-backed tests
  apps/provider-inventory/package.json
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/test/services/test-database.service.ts
  apps/provider-inventory/test/setup-db.ts
  apps/provider-inventory/test/setup-functional-tests.ts
  apps/provider-inventory/test/setup-integration-env.ts
  apps/provider-inventory/test/setup-integration-tests.ts
  apps/provider-inventory/vitest.config.ts
Due: none

feat(auth): passwordless email OTP behind console_auth_redesign (#3178)
  .husky/commit-msg
  apps/deploy-web/src/components/auth/AuthLayoutV2/AuthLayoutV2.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/auth/AuthPageLegacy/AuthPageLegacy.spec.tsx
  apps/deploy-web/src/components/auth/AuthPageLegacy/AuthPageLegacy.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/AuthPagePasswordless.spec.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/AuthPagePasswordless.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/withPersistedPasswordlessFlow.spec.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/withPersistedPasswordlessFlow.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.spec.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.tsx
  apps/deploy-web/src/pages/api/auth/email-code-start.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-start.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.ts
  apps/deploy-web/src/pages/api/auth/password-signup.ts
  apps/deploy-web/src/pages/login-v2/index.tsx
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/deploy-web/src/services/auth/auth/auth.service.spec.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
  apps/deploy-web/tests/ui/pages/AuthPagePasswordless.ts
  apps/deploy-web/tests/ui/passwordless-login.spec.ts
  apps/deploy-web/tests/ui/services/email-verification/mailsac-code.strategy.ts
Due: deploy-web

test(provider): add integration vitest project for postgres-backed tests (#3183)
  apps/provider-inventory/package.json
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/test/services/test-database.service.ts
  apps/provider-inventory/test/setup-db.ts
  apps/provider-inventory/test/setup-functional-tests.ts
  apps/provider-inventory/test/setup-integration-env.ts
  apps/provider-inventory/test/setup-integration-tests.ts
  apps/provider-inventory/vitest.config.ts
Due: none

fix(notifications): don't auto-enable deployment balance alert (#3181)
  apps/api/src/app/services/enable-deployment-alert/enable-deployment-alert.handler.spec.ts
  apps/api/src/app/services/enable-deployment-alert/enable-deployment-alert.handler.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/deploy-web/tests/ui/managed-wallet-alerts.spec.ts
Due: api, deploy-web

Revert "feat(auth): passwordless email OTP behind console_auth_redesign (#3178)"
  .husky/commit-msg
  apps/deploy-web/src/components/auth/AuthLayoutV2/AuthLayoutV2.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/auth/AuthPageLegacy/AuthPageLegacy.spec.tsx
  apps/deploy-web/src/components/auth/AuthPageLegacy/AuthPageLegacy.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/AuthPagePasswordless.spec.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/AuthPagePasswordless.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/withPersistedPasswordlessFlow.spec.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/withPersistedPasswordlessFlow.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.spec.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.tsx
  apps/deploy-web/src/pages/api/auth/email-code-start.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-start.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.ts
  apps/deploy-web/src/pages/api/auth/password-login.ts
  apps/deploy-web/src/pages/api/auth/password-signup.ts
  apps/deploy-web/src/pages/login-v2/index.tsx
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/deploy-web/src/services/auth/auth/auth.service.spec.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
  apps/deploy-web/tests/ui/pages/AuthPagePasswordless.ts
  apps/deploy-web/tests/ui/passwordless-login.spec.ts
  apps/deploy-web/tests/ui/services/email-verification/mailsac-code.strategy.ts
Due: deploy-web

Revert "feat(auth): passwordless email OTP behind console_auth_redesign" (#3185)
  .husky/commit-msg
  apps/deploy-web/src/components/auth/AuthLayoutV2/AuthLayoutV2.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/auth/AuthPageLegacy/AuthPageLegacy.spec.tsx
  apps/deploy-web/src/components/auth/AuthPageLegacy/AuthPageLegacy.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/AuthPagePasswordless.spec.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/AuthPagePasswordless.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/withPersistedPasswordlessFlow.spec.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/withPersistedPasswordlessFlow.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.spec.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.tsx
  apps/deploy-web/src/pages/api/auth/email-code-start.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-start.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.ts
  apps/deploy-web/src/pages/api/auth/password-login.ts
  apps/deploy-web/src/pages/api/auth/password-signup.ts
  apps/deploy-web/src/pages/login-v2/index.tsx
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/deploy-web/src/services/auth/auth/auth.service.spec.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
  apps/deploy-web/tests/ui/pages/AuthPagePasswordless.ts
  apps/deploy-web/tests/ui/passwordless-login.spec.ts
  apps/deploy-web/tests/ui/services/email-verification/mailsac-code.strategy.ts
Due: deploy-web

feat(auth): passwordless email OTP behind console_auth_redesign (#3178)
  .husky/commit-msg
  apps/deploy-web/src/components/auth/AuthLayoutV2/AuthLayoutV2.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/auth/AuthPageLegacy/AuthPageLegacy.spec.tsx
  apps/deploy-web/src/components/auth/AuthPageLegacy/AuthPageLegacy.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/AuthPagePasswordless.spec.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/AuthPagePasswordless.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/withPersistedPasswordlessFlow.spec.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/withPersistedPasswordlessFlow.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.spec.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.tsx
  apps/deploy-web/src/pages/api/auth/email-code-start.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-start.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.ts
  apps/deploy-web/src/pages/api/auth/password-signup.ts
  apps/deploy-web/src/pages/login-v2/index.tsx
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/deploy-web/src/services/auth/auth/auth.service.spec.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
  apps/deploy-web/tests/ui/fixture/onboarding-test.ts
  apps/deploy-web/tests/ui/pages/AuthPagePasswordless.ts
  apps/deploy-web/tests/ui/passwordless-login.spec.ts
  apps/deploy-web/tests/ui/services/email-verification/mailsac-code.strategy.ts
Due: deploy-web

feat: adds basic SQL prefilter for bid screening requests
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/lib/hydrate-cluster-state/hydrate-cluster-state.spec.ts
  apps/provider-inventory/src/lib/hydrate-cluster-state/hydrate-cluster-state.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.spec.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
Due: api

chore: fixes regexp escaping
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
Due: none

feat: adds basic SQL prefilter for bid screening requests (#3184)
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/lib/hydrate-cluster-state/hydrate-cluster-state.spec.ts
  apps/provider-inventory/src/lib/hydrate-cluster-state/hydrate-cluster-state.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.spec.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
Due: api

feat: adds db prefilter for gpu
  apps/provider-inventory/src/lib/project-row/project-row.spec.ts
  apps/provider-inventory/src/lib/project-row/project-row.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.ts
Due: none

feat: adds db prefilter for gpu (#3188)
  apps/provider-inventory/src/lib/project-row/project-row.spec.ts
  apps/provider-inventory/src/lib/project-row/project-row.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/services/cluster-inventory-matcher/cluster-inventory-matcher.service.ts
Due: none

feat: adds db filter by persisted storage
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
Due: none

fix(auth): disable OTP resend while verify is in flight
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.tsx
  apps/deploy-web/src/pages/api/auth/email-code-verify.spec.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
  apps/deploy-web/tests/ui/passwordless-login.spec.ts
  apps/deploy-web/tests/ui/services/email-verification/mailsac-code.strategy.ts
Due: deploy-web

feat(auth): passwordless email OTP behind console_auth_redesign (#3178) (#3186)
  .husky/commit-msg
  apps/deploy-web/src/components/auth/AuthLayoutV2/AuthLayoutV2.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/auth/AuthPageLegacy/AuthPageLegacy.spec.tsx
  apps/deploy-web/src/components/auth/AuthPageLegacy/AuthPageLegacy.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/AuthPagePasswordless.spec.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/AuthPagePasswordless.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/withPersistedPasswordlessFlow.spec.tsx
  apps/deploy-web/src/components/auth/AuthPagePasswordless/withPersistedPasswordlessFlow.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.spec.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.tsx
  apps/deploy-web/src/pages/api/auth/email-code-start.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-start.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.spec.ts
  apps/deploy-web/src/pages/api/auth/email-code-verify.ts
  apps/deploy-web/src/pages/api/auth/password-signup.ts
  apps/deploy-web/src/pages/login-v2/index.tsx
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/deploy-web/src/services/auth/auth/auth.service.spec.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
  apps/deploy-web/tests/ui/fixture/onboarding-test.ts
  apps/deploy-web/tests/ui/pages/AuthPagePasswordless.ts
  apps/deploy-web/tests/ui/passwordless-login.spec.ts
  apps/deploy-web/tests/ui/services/email-verification/mailsac-code.strategy.ts
Due: deploy-web

feat: adds db filter by persisted storage (#3189)
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
Due: none

fix(billing): return 400 instead of 500 on malformed sign-tx payloads
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
Due: api

feat: align http request schema with group spec proto JSON representation
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/lib/groupspec-mapper/groupspec-mapper.ts
  apps/provider-inventory/src/lib/stream-status-mapper/stream-status-mapper.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/types/inventory.types.ts
Due: api

fix(billing): return 400 instead of 500 on malformed sign-tx payloads (#3191)
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
Due: api

chore: fixes edge cases
  apps/provider-inventory/package.json
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/lib/groupspec-mapper/groupspec-mapper.spec.ts
  apps/provider-inventory/src/lib/groupspec-mapper/groupspec-mapper.ts
  apps/provider-inventory/src/lib/stream-status-mapper/stream-status-mapper.spec.ts
  apps/provider-inventory/src/lib/stream-status-mapper/stream-status-mapper.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/types/inventory.types.ts
Due: none

feat: align http request schema with group spec proto JSON representation (#3190)
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-inventory/package.json
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/lib/groupspec-mapper/groupspec-mapper.spec.ts
  apps/provider-inventory/src/lib/groupspec-mapper/groupspec-mapper.ts
  apps/provider-inventory/src/lib/stream-status-mapper/stream-status-mapper.spec.ts
  apps/provider-inventory/src/lib/stream-status-mapper/stream-status-mapper.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/types/inventory.types.ts
Due: api

fix: collect ram requirements from SDL storage
  apps/provider-inventory/src/providers/drizzle.provider.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
Due: none
