Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(onboarding): render first-deploy funnel while the trial provisions
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/home/YourAccount/YourAccount.spec.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/onboarding/RequireOnboarding/RequireOnboarding.spec.tsx
  apps/deploy-web/src/components/onboarding/RequireOnboarding/RequireOnboarding.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/hooks/useOnboardingChrome.spec.ts
  apps/deploy-web/src/hooks/useOnboardingChrome.ts
  apps/deploy-web/tests/seeders/wallet.ts
Due: deploy-web

fix(onboarding): render first-deploy funnel while the trial provisions (#3425)
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/home/YourAccount/YourAccount.spec.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/onboarding/RequireOnboarding/RequireOnboarding.spec.tsx
  apps/deploy-web/src/components/onboarding/RequireOnboarding/RequireOnboarding.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/hooks/useOnboardingChrome.spec.ts
  apps/deploy-web/src/hooks/useOnboardingChrome.ts
  apps/deploy-web/tests/seeders/wallet.ts
Due: deploy-web

feat(deployment): show a disabled state for locked configuration cards
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/CommandsCard/CommandsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/CommandsCard/CommandsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/EnvironmentVariablesCard/EnvironmentVariablesCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/EnvironmentVariablesCard/EnvironmentVariablesCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageSection/ImageSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageSection/ImageSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/configurationLock.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
  apps/deploy-web/tests/ui/pages/OnboardingPickerPage.ts
  packages/ui/components/collapsible-card.spec.tsx
  packages/ui/components/collapsible-card.tsx
  packages/ui/components/tooltip.tsx
Due: deploy-web

feat(billing): grant first-purchase 10% credit bonus capped at $100 (#3423)
  apps/api/drizzle/0030_worried_exodus.sql
  apps/api/drizzle/meta/0030_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/model-schemas/stripe-transaction/stripe-transaction.schema.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/services/first-purchase-bonus/first-purchase-bonus.service.spec.ts
  apps/api/src/billing/services/first-purchase-bonus/first-purchase-bonus.service.ts
  apps/api/src/billing/services/refill/refill.service.spec.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.integration.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/core/services/analytics/analytics.service.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/test/functional/stripe-webhook.spec.ts
  apps/api/test/seeders/database-stripe-transaction.seeder.ts
Due: api

feat(billing): promote first-purchase bonus with dynamic preview in add-credits form
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.tsx
  apps/deploy-web/src/components/billing-usage/FirstPurchaseBonusAlert/FirstPurchaseBonusAlert.spec.tsx
  apps/deploy-web/src/components/billing-usage/FirstPurchaseBonusAlert/FirstPurchaseBonusAlert.tsx
  apps/deploy-web/src/queries/usePaymentQueries.ts
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

feat(billing): clarify first-purchase bonus with breakdown and progress
  apps/deploy-web/src/components/billing-usage/FirstPurchaseBonusAlert/FirstPurchaseBonusAlert.spec.tsx
  apps/deploy-web/src/components/billing-usage/FirstPurchaseBonusAlert/FirstPurchaseBonusAlert.tsx
Due: deploy-web

feat(onboarding): promote first-purchase bonus in onboarding copy
  apps/deploy-web/src/components/billing-usage/FirstPurchaseBonusAlert/FirstPurchaseBonusAlert.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
Due: deploy-web

feat(deployment): show a disabled state for locked configuration cards (#3427)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/AdditionalSection/AdditionalSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/CommandsCard/CommandsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/CommandsCard/CommandsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/EnvironmentVariablesCard/EnvironmentVariablesCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/EnvironmentVariablesCard/EnvironmentVariablesCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageCard/ImageCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageSection/ImageSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ImageSection/ImageSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/configurationLock.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
  apps/deploy-web/tests/ui/pages/OnboardingPickerPage.ts
  packages/ui/components/collapsible-card.spec.tsx
  packages/ui/components/collapsible-card.tsx
  packages/ui/components/tooltip.tsx
Due: deploy-web

fix(billing): show granted first-purchase bonus in confetti, history and CSV export
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/types/transactions.ts
  apps/api/test/seeders/stripe-transaction.seeder.ts
  apps/deploy-web/src/components/auth/AddCreditsSheet/AddCreditsSheet.tsx
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsTabs/AddCreditsTabs.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
  apps/deploy-web/src/components/billing-usage/PaymentSuccessAnimation/PaymentSuccessAnimation.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentSuccessAnimation/PaymentSuccessAnimation.tsx
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

feat(billing): raise credit presets to 100/500/1000 and outline bonus progress bar
  apps/deploy-web/src/components/billing-usage/AddCreditsAmountFields/AddCreditsAmountFields.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsAmountFields/AddCreditsAmountFields.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.spec.tsx
  apps/deploy-web/src/components/billing-usage/FirstPurchaseBonusAlert/FirstPurchaseBonusAlert.tsx
  apps/deploy-web/tests/ui/pages/AddCreditsSheetPage.ts
Due: deploy-web

fix(onboarding): default trial credits amount to 1 and remove em dash from bonus copy
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
  apps/deploy-web/src/config/env-config.schema.ts
Due: deploy-web

test(billing): cover findByChargeIds in stripe transaction repository
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.integration.ts
Due: api

feat(deployment): serve prettified GPU model display names from the API
  apps/api/src/gpu/http-schemas/gpu.schema.ts
  apps/api/src/gpu/providers/gpu-models-client.provider.ts
  apps/api/src/gpu/services/gpu-formatting/gpu-formatting.service.spec.ts
  apps/api/src/gpu/services/gpu-formatting/gpu-formatting.service.ts
  apps/api/src/gpu/services/gpu.service.spec.ts
  apps/api/src/gpu/services/gpu.service.ts
  apps/api/src/types/gpu.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/gpu.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/sdl/GpuFormControl.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.spec.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.tsx
  apps/deploy-web/src/types/gpu.ts
  apps/deploy-web/src/utils/akash/gpu.ts
  apps/deploy-web/tests/ui/onboarding-picker-unlock-trial.spec.ts
Due: api, deploy-web

feat(deployment): serve prettified GPU model display names from the API (#3428)
  apps/api/src/gpu/http-schemas/gpu.schema.ts
  apps/api/src/gpu/providers/gpu-models-client.provider.ts
  apps/api/src/gpu/services/gpu-formatting/gpu-formatting.service.spec.ts
  apps/api/src/gpu/services/gpu-formatting/gpu-formatting.service.ts
  apps/api/src/gpu/services/gpu.service.spec.ts
  apps/api/src/gpu/services/gpu.service.ts
  apps/api/src/types/gpu.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/gpu.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/sdl/GpuFormControl.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.spec.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.tsx
  apps/deploy-web/src/types/gpu.ts
  apps/deploy-web/src/utils/akash/gpu.ts
  apps/deploy-web/tests/ui/onboarding-picker-unlock-trial.spec.ts
Due: api, deploy-web

feat(billing): promote first-purchase bonus with dynamic preview in add-credits form (#3424)
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.integration.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/types/transactions.ts
  apps/api/test/seeders/stripe-transaction.seeder.ts
  apps/deploy-web/src/components/auth/AddCreditsSheet/AddCreditsSheet.tsx
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsAmountFields/AddCreditsAmountFields.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsAmountFields/AddCreditsAmountFields.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsTabs/AddCreditsTabs.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
  apps/deploy-web/src/components/billing-usage/FirstPurchaseBonusAlert/FirstPurchaseBonusAlert.spec.tsx
  apps/deploy-web/src/components/billing-usage/FirstPurchaseBonusAlert/FirstPurchaseBonusAlert.tsx
  apps/deploy-web/src/components/billing-usage/PaymentSuccessAnimation/PaymentSuccessAnimation.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentSuccessAnimation/PaymentSuccessAnimation.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.spec.tsx
  apps/deploy-web/src/components/onboarding-picker/OnboardingPickerPage.tsx
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/tests/ui/pages/AddCreditsSheetPage.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix(onboarding): keep the picker mounted while the trial wallet provisions
  apps/deploy-web/src/components/onboarding/RequireOnboarding/RequireOnboarding.spec.tsx
  apps/deploy-web/src/components/onboarding/RequireOnboarding/RequireOnboarding.tsx
Due: deploy-web

test(onboarding): assert the picker survives trial-wallet arrival without remount
  apps/deploy-web/src/components/onboarding/RequireOnboarding/RequireOnboarding.spec.tsx
Due: deploy-web

fix(onboarding): keep the picker mounted while the trial wallet provisions (#3429)
  apps/deploy-web/src/components/onboarding/RequireOnboarding/RequireOnboarding.spec.tsx
  apps/deploy-web/src/components/onboarding/RequireOnboarding/RequireOnboarding.tsx
Due: deploy-web

feat(billing): credit managed wallet from manual-credit Stripe invoices
  apps/api/drizzle/0031_lively_gwen_stacy.sql
  apps/api/drizzle/meta/0031_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/model-schemas/stripe-transaction/stripe-transaction.schema.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.integration.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.integration.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/test/functional/stripe-webhook.spec.ts
Due: api

feat(billing): promote first-purchase bonus in trial conversion emails
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.spec.ts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.ts
  apps/api/src/app/services/trial-started/trial-started.handler.spec.ts
  apps/api/src/app/services/trial-started/trial-started.handler.ts
  apps/api/src/billing/services/first-purchase-bonus-offer/first-purchase-bonus-offer.service.spec.ts
  apps/api/src/billing/services/first-purchase-bonus-offer/first-purchase-bonus-offer.service.ts
  apps/api/src/billing/services/first-purchase-bonus/first-purchase-bonus.service.ts
  apps/api/src/billing/services/index.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.spec.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.spec.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.ts
  apps/api/src/notifications/services/notification-templates/before-trial-ends-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/before-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/first-purchase-bonus-offer.spec.ts
  apps/api/src/notifications/services/notification-templates/first-purchase-bonus-offer.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.spec.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.ts
  apps/api/src/notifications/services/notification-templates/trial-ended-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/trial-ended-notification.ts
Due: api

refactor(billing): use type-only import for UserOutput in bonus offer resolver
  apps/api/src/billing/services/first-purchase-bonus-offer/first-purchase-bonus-offer.service.ts
Due: api

feat(billing): credit managed wallet from manual-credit Stripe invoices (#3398)
  apps/api/drizzle/0031_lively_gwen_stacy.sql
  apps/api/drizzle/meta/0031_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/model-schemas/stripe-transaction/stripe-transaction.schema.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.integration.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.integration.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/test/functional/stripe-webhook.spec.ts
Due: api

fix(billing): humble the trial-welcome email and drop the credit amount
  apps/api/src/app/services/trial-started/trial-started.handler.spec.ts
  apps/api/src/app/services/trial-started/trial-started.handler.ts
  apps/api/src/notifications/services/notification-templates/start-trial-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/start-trial-notification.ts
Due: api

fix: estimates unordered tx and adds out of gas retry
  apps/tx-signer/package.json
  apps/tx-signer/src/config/env.config.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.spec.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.spec.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.ts
  apps/tx-signer/src/lib/wallet/wallet.ts
  apps/tx-signer/src/services/tx-manager/tx-manager.service.spec.ts
  apps/tx-signer/src/services/tx-manager/tx-manager.service.ts
  package-lock.json
Due: none

test(billing): tighten the no-credit-amount assertion in the welcome email spec
  apps/api/src/notifications/services/notification-templates/start-trial-notification.spec.ts
Due: api

fix: estimates unordered tx and adds out of gas retry (#3432)
  apps/tx-signer/package.json
  apps/tx-signer/src/config/env.config.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.spec.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.spec.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.ts
  apps/tx-signer/src/lib/wallet/wallet.ts
  apps/tx-signer/src/services/tx-manager/tx-manager.service.spec.ts
  apps/tx-signer/src/services/tx-manager/tx-manager.service.ts
  package-lock.json
Due: none

feat(billing): promote first-purchase bonus in trial conversion emails (#3430)
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.spec.ts
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.ts
  apps/api/src/app/services/trial-started/trial-started.handler.spec.ts
  apps/api/src/app/services/trial-started/trial-started.handler.ts
  apps/api/src/billing/services/first-purchase-bonus-offer/first-purchase-bonus-offer.service.spec.ts
  apps/api/src/billing/services/first-purchase-bonus-offer/first-purchase-bonus-offer.service.ts
  apps/api/src/billing/services/first-purchase-bonus/first-purchase-bonus.service.ts
  apps/api/src/billing/services/index.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.spec.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.spec.ts
  apps/api/src/notifications/services/notification-templates/before-close-trial-deployment.ts
  apps/api/src/notifications/services/notification-templates/before-trial-ends-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/before-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/first-purchase-bonus-offer.spec.ts
  apps/api/src/notifications/services/notification-templates/first-purchase-bonus-offer.ts
  apps/api/src/notifications/services/notification-templates/start-trial-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/start-trial-notification.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.spec.ts
  apps/api/src/notifications/services/notification-templates/trial-deployment-closed.ts
  apps/api/src/notifications/services/notification-templates/trial-ended-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/trial-ended-notification.ts
Due: api

feat(billing): email confirmation when first-purchase bonus is granted
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/first-purchase-bonus-granted/first-purchase-bonus-granted.handler.spec.ts
  apps/api/src/app/services/first-purchase-bonus-granted/first-purchase-bonus-granted.handler.ts
  apps/api/src/billing/events/first-purchase-bonus-granted.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.integration.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.ts
  apps/api/src/notifications/services/notification-templates/first-purchase-bonus-granted-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/first-purchase-bonus-granted-notification.ts
Due: api

feat: handle oog errors during broadcast
  apps/tx-signer/src/config/env.config.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.spec.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.ts
Due: none

feat: handle oog errors during broadcast (#3434)
  apps/tx-signer/src/config/env.config.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.spec.ts
  apps/tx-signer/src/lib/signing-client/signing-client.service.ts
Due: none

feat(billing): email confirmation when first-purchase bonus is granted (#3431)
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/first-purchase-bonus-granted/first-purchase-bonus-granted.handler.spec.ts
  apps/api/src/app/services/first-purchase-bonus-granted/first-purchase-bonus-granted.handler.ts
  apps/api/src/billing/events/first-purchase-bonus-granted.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.integration.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.ts
  apps/api/src/notifications/services/notification-templates/first-purchase-bonus-granted-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/first-purchase-bonus-granted-notification.ts
Due: api

fix(deployment): route redeploy and in-progress deployments to the configure flow
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigureDraft/useConfigureDraft.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigureDraft/useConfigureDraft.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/ReclamationBanner/ReclamationBanner.spec.tsx
  apps/deploy-web/src/components/deployments/ReclamationBanner/ReclamationBanner.tsx
  apps/deploy-web/src/components/deployments/ReclamationCard/ReclamationCard.spec.tsx
  apps/deploy-web/src/components/deployments/ReclamationCard/ReclamationCard.tsx
  apps/deploy-web/src/hooks/useRedeploy/useRedeploy.spec.ts
  apps/deploy-web/src/hooks/useRedeploy/useRedeploy.ts
Due: deploy-web

test(deployment): use typed vi.fn instead of unsafe cast in useRedeploy spec
  apps/deploy-web/src/hooks/useRedeploy/useRedeploy.spec.ts
Due: deploy-web

fix(billing): ensure Stripe customer exists before coupon redemption
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

feat(billing): eagerly provision Stripe customer on user registration
  apps/api/src/billing/providers/customer-provisioner.provider.ts
  apps/api/src/billing/providers/index.ts
  apps/api/src/billing/services/customer-provisioner/stripe-customer-provisioner.service.spec.ts
  apps/api/src/billing/services/customer-provisioner/stripe-customer-provisioner.service.ts
  apps/api/src/user/services/customer-provisioner/customer-provisioner.ts
  apps/api/src/user/services/user/user.service.integration.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
Due: api

fix(billing): provision Stripe customer only after coupon validation
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(billing): make customer provisioning non-blocking and idempotent
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
Due: api

fix(deployment): show CPU-only cost per month in configure summary and modal
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/ReviewAndDeployModal.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/ReviewAndDeployModal.tsx
Due: deploy-web

fix(deployment): show CPU-only cost per month in configure summary and modal (#3433)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/ReviewAndDeployModal.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ReviewAndDeployModal/ReviewAndDeployModal.tsx
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
