Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(styling): improve sidebar (#1344)
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/ModeToggle.tsx
  apps/deploy-web/src/components/layout/NodeStatusBar.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/components/layout/SidebarGroupMenuPopover.tsx
  apps/deploy-web/src/components/layout/SidebarHoveredGroupMenu.tsx
  apps/deploy-web/src/components/layout/SidebarRouteButton.tsx
  apps/deploy-web/src/components/sdl/GpuFormControl.tsx
  apps/deploy-web/src/types/index.ts
  apps/deploy-web/src/utils/sdl/data.ts
  packages/ui/components/pagninator.tsx
Due: deploy-web

feat(provider): optional cert
  apps/api/examples/lease-flow.ts
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/provider-proxy/src/services/ProviderProxy.ts
Due: api, deploy-web, provider-proxy

feat(analytics): add gtm + remove linked in
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
  apps/deploy-web/env/.env.staging
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/TrackingScripts.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/utils/domUtils.ts
Due: deploy-web

fix: duplicate key
  apps/deploy-web/src/components/layout/SidebarGroupMenuPopover.tsx
  apps/deploy-web/src/components/layout/SidebarHoveredGroupMenu.tsx
Due: deploy-web

fix: pr nitpicks
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/SidebarGroupMenuPopover.tsx
  apps/deploy-web/src/components/layout/SidebarHoveredGroupMenu.tsx
Due: deploy-web

feat(analytics): add gtm (#1351)
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
  apps/deploy-web/env/.env.staging
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/SidebarGroupMenuPopover.tsx
  apps/deploy-web/src/components/layout/SidebarHoveredGroupMenu.tsx
  apps/deploy-web/src/components/layout/TrackingScripts.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/utils/domUtils.ts
Due: deploy-web

feat(contact-point): implements list endpoint
  apps/deploy-web/src/components/providers/ProviderRawData/ProviderRawData.spec.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/context/ServicesProvider/index.tsx
  apps/notifications/src/interfaces/rest/controllers/contact-point/contact-point.controller.ts
  apps/notifications/src/interfaces/rest/decorators/http-validate/http-validate.decorator.ts
  apps/notifications/src/interfaces/rest/interceptors/auth/auth.interceptor.ts
  apps/notifications/src/interfaces/rest/interceptors/http-logger/http-logger.middleware.ts
  apps/notifications/src/interfaces/rest/rest.module.ts
  apps/notifications/src/lib/bootstrap/bootstrapper/bootstrapper.ts
  apps/notifications/src/lib/bootstrap/swagger-setup/swagger-setup.ts
  apps/notifications/src/lib/http-schema/http-schema.ts
  apps/notifications/src/modules/notifications/repositories/contact-point/contact-point.repository.ts
  apps/notifications/swagger/swagger.json
  apps/notifications/test/functional/alert-crud.spec.ts
  apps/notifications/test/functional/contact-point-crud.spec.ts
  packages/react-query-sdk/src/notifications/schema.ts
  packages/react-query-sdk/src/notifications/services/V1Service.ts
Due: deploy-web, notifications

feat(notifications): implements auth proxy
  apps/api/env/.env
  apps/api/env/.env.functional.test
  apps/api/env/.env.local.sample
  apps/api/env/.env.sample
  apps/api/env/.env.unit.test
  apps/api/src/app.ts
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/notifications/config/env.config.ts
  apps/api/src/notifications/config/index.ts
  apps/api/src/notifications/routes/proxy.ts
  apps/deploy-web/env/.env
  apps/deploy-web/src/components/providers/ProviderRawData/ProviderRawData.spec.tsx
  apps/deploy-web/src/components/sdl/ImageRegistryLogo.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/deploy.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/hooks/useUser.ts
  package-lock.json
Due: api, deploy-web

feat(notifications): implements permissions on http endpoints
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/src/interfaces/rest/controllers/contact-point/contact-point.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/contact-point/contact-point.controller.ts
  apps/notifications/src/interfaces/rest/filters/http-exception/http-exception.filter.ts
  apps/notifications/src/interfaces/rest/interceptors/auth/auth.interceptor.ts
  apps/notifications/src/interfaces/rest/rest.module.ts
  apps/notifications/src/interfaces/rest/services/auth/auth.service.spec.ts
  apps/notifications/src/interfaces/rest/services/auth/auth.service.ts
  apps/notifications/src/lib/drizzle-ability/drizzle-ability.ts
  apps/notifications/src/modules/notifications/repositories/contact-point/contact-point.repository.ts
  apps/notifications/test/functional/contact-point-crud.spec.ts
Due: notifications

feat(notifications): infers userId from auth
  apps/api/src/app.ts
  apps/api/src/notifications/config/index.ts
  apps/api/src/notifications/routes/proxy/proxy.route.spec.ts
  apps/api/src/notifications/routes/proxy/proxy.route.ts
  apps/deploy-web/src/components/alerts/ContactPointCreateContainer/ContactPointCreateContainer.tsx
  apps/deploy-web/src/components/alerts/ContactPointCreateContainer/ContactPointFormContainer.spec.tsx
  apps/deploy-web/src/components/alerts/ContactPointForm/ContactPointForm.tsx
  apps/deploy-web/src/components/alerts/CreateContactPointPage.tsx
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/src/interfaces/rest/controllers/contact-point/contact-point.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/contact-point/contact-point.controller.ts
  apps/notifications/src/interfaces/rest/http-schemas/alert.http-schema.ts
  apps/notifications/src/interfaces/rest/services/auth/auth.service.ts
  apps/notifications/src/modules/notifications/repositories/contact-point/contact-point.repository.ts
  apps/notifications/swagger/swagger.json
  apps/notifications/test/functional/alert-crud.spec.ts
  apps/notifications/test/functional/contact-point-crud.spec.ts
  packages/react-query-sdk/src/notifications/schema.ts
Due: api, deploy-web, notifications

refactor(contact-point): uses url service for nav
  apps/deploy-web/src/components/alerts/CreateContactPointPage.tsx
Due: deploy-web

fix(notifications): coerces query numeric strings to numbers
  apps/notifications/src/lib/http-schema/http-schema.ts
Due: notifications

feat(contact-point): implements list ui
  apps/deploy-web/src/components/alerts/ContactPointsListContainer/ContactPointsListContainer.tsx
  apps/deploy-web/src/components/alerts/ContactPointsListView/ContactPointsListView.tsx
  apps/deploy-web/src/components/alerts/ContactPointsPage.tsx
  apps/deploy-web/src/components/alerts/EditContactPointPage.tsx
  apps/deploy-web/src/pages/alerts/contact-points/[id]/index.tsx
Due: deploy-web

refactor: replaces server side turnstile config provision with injected config
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
  apps/deploy-web/env/.env.staging
  apps/deploy-web/package.json
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/src/components/turnstile/Turnstile.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/pages/api/config.ts
  apps/deploy-web/src/queries/useAppConfig.ts
  apps/deploy-web/src/services/config/config.service.ts
  apps/deploy-web/src/services/decodeInjectedConfig/decodeInjectedConfig.spec.ts
  apps/deploy-web/src/services/decodeInjectedConfig/decodeInjectedConfig.ts
  apps/deploy-web/src/services/http-factory/http-factory.service.ts
  apps/deploy-web/tests/fixture/base-test.ts
  apps/deploy-web/tests/fixture/context-with-extension.ts
  apps/deploy-web/tests/fixture/test-env.config.ts
  apps/deploy-web/tests/pages/DeployBasePage.tsx
  package-lock.json
Due: deploy-web

refactor: replaces server side turnstile config provision with injected config (#1353)
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
  apps/deploy-web/env/.env.production
  apps/deploy-web/env/.env.sample
  apps/deploy-web/env/.env.staging
  apps/deploy-web/package.json
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/src/components/turnstile/Turnstile.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/pages/api/config.ts
  apps/deploy-web/src/queries/useAppConfig.ts
  apps/deploy-web/src/services/config/config.service.ts
  apps/deploy-web/src/services/decodeInjectedConfig/decodeInjectedConfig.spec.ts
  apps/deploy-web/src/services/decodeInjectedConfig/decodeInjectedConfig.ts
  apps/deploy-web/src/services/http-factory/http-factory.service.ts
  apps/deploy-web/tests/fixture/base-test.ts
  apps/deploy-web/tests/fixture/context-with-extension.ts
  apps/deploy-web/tests/fixture/test-env.config.ts
  apps/deploy-web/tests/pages/DeployBasePage.tsx
  package-lock.json
Due: deploy-web

feat: integrates child di container
  apps/deploy-web/src/components/alerts/ContactPointCreateContainer/ContactPointFormContainer.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/providers/ProviderRawData/ProviderRawData.spec.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.tsx
  apps/deploy-web/src/context/SettingsProvider/index.ts
  apps/deploy-web/src/context/SettingsProvider/settingsStore.ts
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/context/WalletProvider/index.ts
  apps/deploy-web/src/hooks/useAllowance.tsx
  apps/deploy-web/src/hooks/useAuthZService.tsx
  apps/deploy-web/src/hooks/useDeploymentMetrics.tsx
  apps/deploy-web/src/hooks/useLocalStorage.ts
  apps/deploy-web/src/hooks/useRealTimeLeft.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/queries/index.ts
  apps/deploy-web/src/queries/useApiKeysQuery.ts
  apps/deploy-web/src/queries/useBalancesQuery.ts
  apps/deploy-web/src/queries/useBlocksQuery.ts
  apps/deploy-web/src/queries/useGrantsQuery.ts
  apps/deploy-web/src/services/container/createContainer.ts
  apps/deploy-web/src/services/decodeInjectedConfig/decodeInjectedConfig.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.spec.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.ts
  apps/deploy-web/src/utils/apiUtils.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.ts
  apps/deploy-web/src/utils/priceUtils.ts
  apps/deploy-web/tests/seeders/deployment.ts
Due: deploy-web

feat: integrates child di container (#1358)
  apps/deploy-web/src/components/alerts/ContactPointCreateContainer/ContactPointFormContainer.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/providers/ProviderRawData/ProviderRawData.spec.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.tsx
  apps/deploy-web/src/context/SettingsProvider/index.ts
  apps/deploy-web/src/context/SettingsProvider/settingsStore.ts
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/context/WalletProvider/index.ts
  apps/deploy-web/src/hooks/useAllowance.tsx
  apps/deploy-web/src/hooks/useAuthZService.tsx
  apps/deploy-web/src/hooks/useDeploymentMetrics.tsx
  apps/deploy-web/src/hooks/useLocalStorage.ts
  apps/deploy-web/src/hooks/useRealTimeLeft.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/queries/index.ts
  apps/deploy-web/src/queries/useApiKeysQuery.ts
  apps/deploy-web/src/queries/useBalancesQuery.ts
  apps/deploy-web/src/queries/useBlocksQuery.ts
  apps/deploy-web/src/queries/useGrantsQuery.ts
  apps/deploy-web/src/services/container/createContainer.ts
  apps/deploy-web/src/services/decodeInjectedConfig/decodeInjectedConfig.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.spec.ts
  apps/deploy-web/src/services/wallet-balances/wallet-balances.service.ts
  apps/deploy-web/src/utils/apiUtils.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.ts
  apps/deploy-web/src/utils/priceUtils.ts
  apps/deploy-web/tests/seeders/deployment.ts
Due: deploy-web

chore(notifications): adds db init script
  apps/notifications/package.json
  apps/notifications/script/init-db.js
  package-lock.json
Due: notifications

chore: fixes name of the variable which contains private token
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
Due: none

chore: fixes name of the variable which contains private token (#1360)
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
Due: none

feat(notifications): implements healthz
  apps/api/src/healthz/services/healthz/healthz.service.ts
  apps/notifications/package.json
  apps/notifications/src/common/common.module.ts
  apps/notifications/src/common/controllers/worker-healthz/worker-healthz.controller.ts
  apps/notifications/src/common/services/healthz-helper/healthz-helper.service.spec.ts
  apps/notifications/src/common/services/healthz-helper/healthz-helper.service.ts
  apps/notifications/src/common/types/healthz.type.ts
  apps/notifications/src/infrastructure/broker/broker.module.ts
  apps/notifications/src/infrastructure/broker/services/broker-healthz/broker-healthz.service.spec.ts
  apps/notifications/src/infrastructure/broker/services/broker-healthz/broker-healthz.service.ts
  apps/notifications/src/infrastructure/broker/services/state/state.service.spec.ts
  apps/notifications/src/infrastructure/broker/services/state/state.service.ts
  apps/notifications/src/infrastructure/db/db.module.ts
  apps/notifications/src/infrastructure/db/services/db-healthz/db-healthz.service.spec.ts
  apps/notifications/src/infrastructure/db/services/db-healthz/db-healthz.service.ts
  apps/notifications/src/interfaces/alert-events/alert-events.module.ts
  apps/notifications/src/interfaces/chain-events/chain-events.module.ts
  apps/notifications/src/interfaces/notifications-events/notifications-events.module.ts
  apps/notifications/src/interfaces/rest/controllers/healthz/healthz.controller.ts
  apps/notifications/src/interfaces/rest/interceptors/auth/auth.interceptor.ts
  apps/notifications/src/interfaces/rest/rest.module.ts
  apps/notifications/src/lib/bootstrap/factory/bootstrap-factory.ts
  apps/notifications/src/modules/alert/alert.module.ts
  apps/notifications/src/modules/chain/chain.module.ts
  apps/notifications/src/modules/notifications/notifications.module.ts
  apps/notifications/test/mocks/provider.mock.ts
  package-lock.json
Due: api, notifications

feat: add controlled pagination to contact points react table
  apps/deploy-web/src/components/alerts/ContactPointsListContainer/ContactPointsListContainer.tsx
  apps/deploy-web/src/components/alerts/ContactPointsListView/ContactPointsListView.tsx
  apps/deploy-web/src/components/alerts/ContactPointsPage.tsx
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

refactor: migrates another part of console-api to strict types
  apps/api/src/auth/services/auth-config/auth-config.service.ts
  apps/api/src/billing/repositories/checkout-session/checkout-session.repository.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/chain/services/chain-config/chain-config.service.ts
  apps/api/src/core/repositories/base.repository.ts
  apps/api/src/core/services/config/config.service.ts
  apps/api/src/core/services/core-config/core-config.service.ts
  apps/api/src/core/services/error/error.service.ts
  apps/api/src/core/services/open-api-hono-handler/open-api-hono-handler.ts
  apps/api/src/core/services/tracing/tracing.service.ts
  apps/api/src/healthz/services/healthz/healthz.service.ts
  apps/api/src/lib/drizzle-ability/drizzle-ability.ts
  apps/api/src/services/db/blocksService.ts
  apps/api/src/services/db/deploymentService.ts
  apps/api/src/services/db/networkRevenueService.ts
  apps/api/src/services/db/providerStatusService.ts
  apps/api/src/services/db/statsService.ts
  apps/api/src/services/db/transactionsService.ts
  apps/api/src/services/db/userDataService.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/services/external/templateReposService.ts
  apps/api/src/services/external/templatesCollector.ts
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/tsconfig.strict.json
Due: api

chore: sets es2021 compilation target for console-api
  apps/api/tsconfig.json
  apps/api/webpack.prod.js
Due: api

refactor: move /v1/provider-graph-data to modules
  apps/api/src/app.ts
  apps/api/src/provider/controllers/provider-graph-data/provider-graph-data.controller.ts
  apps/api/src/provider/http-schemas/provider-graph-data.schema.ts
  apps/api/src/provider/routes/index.ts
  apps/api/src/provider/routes/provider-graph-data/provider-graph-data.router.ts
  apps/api/src/provider/services/provider-graph-data/provider-graph-data.service.ts
  apps/api/src/provider/services/provider-stats/provider-stats.service.ts
  apps/api/src/routes/v1/dashboardData.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/providerGraphData.ts
  apps/api/src/services/db/statsService.ts
  apps/api/test/functional/dashboard-data.spec.ts
  apps/api/test/functional/provider-graph-data.spec.ts
  apps/api/test/functional/provider-versions.spec.ts
  apps/api/test/functional/providers.spec.ts
  apps/api/test/seeders/block.seeder.ts
  apps/api/test/seeders/day.seeder.ts
  apps/api/test/seeders/provider-snapshot.seeder.ts
  apps/api/test/seeders/provider.seeder.ts
Due: api

fix: ensure balances are not fetched before chain node API is selected
  apps/deploy-web/src/components/new-deployment/BidGroup.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.spec.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.tsx
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/queries/useBalancesQuery.ts
  apps/deploy-web/tests/deploy-hello-world.spec.ts
  apps/deploy-web/tests/fixture/context-with-extension.ts
  apps/deploy-web/tests/fixture/wallet-setup.ts
  apps/deploy-web/tests/pages/DeployBasePage.tsx
  apps/deploy-web/tests/seeders/deployment.ts
  apps/deploy-web/tests/seeders/deploymentBid.ts
  apps/deploy-web/tests/seeders/provider.ts
  apps/deploy-web/tests/seeders/wallet.ts
  apps/deploy-web/tests/uiState/isWalletConnected.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
