Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat: enhance deployment reader service (#2731)
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix(stats): prevent SSR crash loop caused by Sentry consoleIntegration
  apps/stats-web/package.json
  apps/stats-web/src/app/addresses/[address]/deployments/[dseq]/page.tsx
  apps/stats-web/src/app/addresses/[address]/page.tsx
  apps/stats-web/src/instrumentation.ts
  apps/stats-web/src/lib/serverFetch.spec.ts
  apps/stats-web/src/lib/serverFetch.ts
  apps/stats-web/vitest.config.ts
  package-lock.json
Due: stats-web

refactor(indexer): migrate from webpack to tsup
  apps/indexer/package.json
  apps/indexer/tsconfig.build.json
  apps/indexer/tsconfig.json
  apps/indexer/tsup.config.ts
  apps/indexer/webpack.dev.js
  apps/indexer/webpack.prod.js
  package-lock.json
Due: indexer

refactor(indexer): address PR review comments
  apps/indexer/package.json
  apps/indexer/tsconfig.json
  apps/indexer/tsup.config.ts
  package-lock.json
Due: indexer

feat(billing): add server-side transaction resolution to simplify client polling
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/seeders/database-stripe-transaction.seeder.ts
Due: api

feat(billing): add support for Link payment methods and enhance payment method handling
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.spec.tsx
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.tsx
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.tsx
  apps/deploy-web/tests/seeders/payment.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api, deploy-web

fix: tests
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.spec.tsx
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.tsx
Due: deploy-web

fix: tests
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api

fix(billing): improve payment method schema validation and optimize service methods
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/billing-usage/PaymentMethodsView/PaymentMethodsRow.tsx
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.tsx
Due: api, deploy-web

fix(billing): rename nested describe blocks to follow 'when' convention
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.spec.tsx
Due: deploy-web

fix(billing): add test coverage for link payment method branches
  apps/api/src/billing/http-schemas/stripe.schema.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
Due: api

fix(billing): migrate PaymentMethodCard spec from jest to vitest
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.spec.tsx
Due: deploy-web

fix(config): address PR review comments on LRUCache implementation
  apps/api/src/auth/services/user-auth-token/user-auth-token.service.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/caching/memoryCacheEngine.ts
Due: api

feat(config): add unit tests for MemoryCacheEngine
  apps/api/src/caching/memoryCacheEngine.spec.ts
Due: api

fix(config): only tolerate first liveness failure after a prior success
  apps/api/src/healthz/services/healthz/healthz.service.ts
Due: api

fix(billing): support link payment methods in webhooks and fix auto-reload scheduling
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.integration.ts
  apps/api/src/billing/services/stripe-webhook/stripe-webhook.service.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.integration.ts
  apps/api/src/billing/services/wallet-settings/wallet-settings.service.ts
Due: api

fix(deployment): implement countByOwner method and corresponding tests
  apps/api/src/deployment/repositories/deployment/deployment.repository.spec.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
Due: api

test: makes more resillient provider-proxy e2e test
  apps/provider-proxy/test/e2e/public-endpoints.spec.ts
Due: provider-proxy

test: makes more resillient provider-proxy e2e test (#2793)
  apps/provider-proxy/test/e2e/public-endpoints.spec.ts
Due: provider-proxy

feat(billing): add server-side transaction resolution to simplify client polling (#2791)
  apps/api/src/billing/controllers/stripe/stripe.controller.spec.ts
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/seeders/database-stripe-transaction.seeder.ts
Due: api

chore(release): fix command composition in slack message
  .github/actions/slack-pending-deployment-approval/action.yml
Due: none

chore(release): fix command composition in slack message (#2794)
  .github/actions/slack-pending-deployment-approval/action.yml
Due: none

chore: skips auto approval if PR is approved or closed
  .github/actions/associated-pr/action.yml
  .github/workflows/auto-approval.yml
Due: none

fix(config): tune database connection pool settings to reduce pg.connect latency spikes
  apps/api/src/chain/providers/sequelize.provider.ts
  apps/api/src/core/config/env.config.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/vitest.config.ts
Due: api

fix(config): tune database connection pool settings to reduce pg.connect latency spikes (#2795)
  apps/api/src/chain/providers/sequelize.provider.ts
  apps/api/src/core/config/env.config.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/vitest.config.ts
Due: api

chore: skips auto approval if PR is approved or closed (#2796)
  .github/actions/associated-pr/action.yml
  .github/workflows/auto-approval.yml
Due: none

chore: ignore drizzle snapshot changes when calc label size
  .github/workflows/labeler.yml
Due: none

chore: ignore drizzle snapshot changes when calc label size (#2799)
  .github/workflows/labeler.yml
Due: none

refactor: uses local instrumentation package for provider-proxy
  .helm/provider-proxy-prod-mainnet-values.yaml
  .helm/provider-proxy-prod-sandbox-values.yaml
  .helm/provider-proxy-staging-mainnet-values.yaml
  .helm/provider-proxy-staging-sandbox-values.yaml
  .helm/provider-proxy-staging-testnet-values.yaml
  apps/provider-proxy/package.json
  apps/provider-proxy/src/routes/getAppStatus.ts
  apps/provider-proxy/src/services/WebsocketServer.ts
  apps/provider-proxy/src/utils/telemetry.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/tsup.config.ts
  package-lock.json
  packages/dev-config/tsup-plugins.ts
  packages/instrumentation/package.json
  packages/instrumentation/src/index.ts
  packages/instrumentation/src/instrumentation.ts
  packages/instrumentation/src/register.ts
  packages/instrumentation/tsconfig.build.json
  packages/instrumentation/tsconfig.json
  packages/instrumentation/vitest.config.ts
Due: provider-proxy

refactor: migrate user related models to drizzle
  apps/api/drizzle/0028_right_red_ghost.sql
  apps/api/drizzle/meta/0028_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/chain/providers/sequelize.provider.ts
  apps/api/src/core/repositories/base.repository.ts
  apps/api/src/routers/dashboardRouter.ts
  apps/api/src/user/model-schemas/index.ts
  apps/api/src/user/model-schemas/template-favorite/template-favorite.schema.ts
  apps/api/src/user/model-schemas/template/template.schema.ts
  apps/api/src/user/model-schemas/user/user.schema.ts
  apps/api/src/user/repositories/user-template/user-template.repository.integration.ts
  apps/api/src/user/repositories/user-template/user-template.repository.ts
  apps/api/src/user/services/user-templates/user-templates.service.spec.ts
  apps/api/src/user/services/user-templates/user-templates.service.ts
  packages/database/dbSchemas/index.ts
  packages/database/dbSchemas/user/index.ts
  packages/database/dbSchemas/user/template.ts
  packages/database/dbSchemas/user/templateFavorite.ts
  packages/database/dbSchemas/user/userSetting.ts
Due: api

chore: removes metricts exporter to fallback to default logic
  apps/api/env/.env.functional.test
  package-lock.json
  package.json
  packages/instrumentation/package.json
  packages/instrumentation/src/index.ts
  packages/instrumentation/src/instrumentation.ts
Due: api

fix(stats): add test infrastructure and fix dockerignore
  apps/stats-web/.dockerignore
  apps/stats-web/package.json
  apps/stats-web/tests/unit/setup.ts
  apps/stats-web/vitest.config.ts
  package-lock.json
Due: stats-web

fix(observability): redact sensitive data from log output
  apps/api/src/auth/services/auth.interceptor.ts
  apps/deploy-web/src/pages/api/auth/password-login.ts
  apps/deploy-web/src/pages/api/auth/password-signup.ts
  apps/deploy-web/src/pages/api/auth/send-password-reset-email.ts
  apps/deploy-web/src/services/error-handler/error-handler.service.spec.ts
  apps/deploy-web/src/services/error-handler/error-handler.service.ts
  apps/deploy-web/src/services/session/session.service.ts
  packages/logging/src/hono/http-logger/http-logger.service.ts
  packages/logging/src/services/logger/logger.service.spec.ts
  packages/logging/src/services/logger/logger.service.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.ts
Due: api, deploy-web

fix(billing): parse date as local time in TrendIndicator
  apps/deploy-web/src/components/billing-usage/TrendIndicator/TrendIndicator.tsx
Due: deploy-web

fix(stats): remove remaining NEXT_PUBLIC_ references and dead server code
  apps/stats-web/.env.local.sample
  apps/stats-web/deploy.yml
  apps/stats-web/src/lib/serverIntl.ts
Due: stats-web

fix(stats): address PR review comments
  apps/stats-web/.eslintrc.cjs
  apps/stats-web/src/components/blockchain/TransactionRow.tsx
  apps/stats-web/src/components/layout/CustomGoogleAnalytics.tsx
  apps/stats-web/src/components/layout/Nav.tsx
  apps/stats-web/src/components/transactions/generic/MsgDelegate.tsx
  apps/stats-web/src/context/FlagProvider/FlagProvider.tsx
  apps/stats-web/src/pages/addresses/[address]/deployments/[dseq]/EventRow.tsx
  apps/stats-web/src/pages/addresses/[address]/transactions/columns.tsx
  apps/stats-web/src/pages/blocks/[height]/BlockInfo.tsx
  apps/stats-web/src/pages/home/StatsCard.tsx
  apps/stats-web/src/pages/transactions/[hash]/TransactionInfo.tsx
  apps/stats-web/src/services/error-handler/error-handler.service.ts
  apps/stats-web/vite.config.ts
Due: stats-web

fix(stats): address remaining PR review comments
  apps/stats-web/.eslintrc.json
  apps/stats-web/.prettierrc.cjs
  apps/stats-web/src/hooks/useTopBanner.tsx
Due: stats-web

fix(stats): use named PageContainer imports and fix env file formatting
  apps/stats-web/.env.local.sample
  apps/stats-web/env/.env.production
  apps/stats-web/env/.env.sample
  apps/stats-web/env/.env.staging
  apps/stats-web/src/components/PageContainer.tsx
  apps/stats-web/src/pages/addresses/[address]/AddressLayout.tsx
  apps/stats-web/src/pages/addresses/[address]/deployments/[dseq]/page.tsx
  apps/stats-web/src/pages/blocks/[height]/page.tsx
  apps/stats-web/src/pages/blocks/page.tsx
  apps/stats-web/src/pages/graph/[snapshot]/page.tsx
  apps/stats-web/src/pages/home/page.tsx
  apps/stats-web/src/pages/maintenance/page.tsx
  apps/stats-web/src/pages/not-found.tsx
  apps/stats-web/src/pages/provider-graph/[snapshot]/page.tsx
  apps/stats-web/src/pages/transactions/[hash]/page.tsx
  apps/stats-web/src/pages/transactions/page.tsx
  apps/stats-web/src/pages/validators/[address]/page.tsx
  apps/stats-web/src/pages/validators/page.tsx
Due: stats-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
