Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(deployment): warn users before a runtime-limited deployment stops
  .helm/console-api-prod-mainnet-values.yaml
  .helm/console-api-staging-sandbox-values.yaml
  apps/api/drizzle/0042_warn_before_runtime_limit.sql
  apps/api/drizzle/meta/0042_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/env/.env.functional.test
  apps/api/env/.env.local.sample
  apps/api/env/.env.sample
  apps/api/env/.env.unit.test
  apps/api/src/app/console.ts
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.spec.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/expiring-deployments-notifier/expiring-deployments-notifier.service.integration.ts
  apps/api/src/deployment/services/expiring-deployments-notifier/expiring-deployments-notifier.service.spec.ts
  apps/api/src/deployment/services/expiring-deployments-notifier/expiring-deployments-notifier.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/notifications/services/notification-templates/runtime-limit-ending-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/runtime-limit-ending-notification.ts
Due: api

fix(deployment): require the funding-mode flag to hide the escrow controls
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentSettings.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentSettings.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/DeploymentList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/hooks/useIsEscrowAbstracted.spec.ts
  apps/deploy-web/src/hooks/useIsEscrowAbstracted.ts
Due: deploy-web

feat(deployment): hide per-deployment escrow controls behind the escrow-abstraction flags (#3651)
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentSettings.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentSettings.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/DeploymentList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/hooks/useIsEscrowAbstracted.spec.ts
  apps/deploy-web/src/hooks/useIsEscrowAbstracted.ts
Due: deploy-web

feat(deployment): switch existing deployments to always-on automatic funding
  apps/api/drizzle/0042_backfill_auto_top_up_always_on.sql
  apps/api/drizzle/meta/0042_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/deployment/repositories/deployment-setting/backfill-auto-top-up-always-on.integration.ts
Due: api

feat(deployment): reject disabling automatic funding behind the threshold flag
  apps/api/src/deployment/http-schemas/deployment-setting.schema.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-setting.spec.ts
Due: api

fix(deployment): fund deployments created outside the web app beyond their initial deposit
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(deployment): warn users before a runtime-limited deployment stops (#3652)
  .helm/console-api-prod-mainnet-values.yaml
  .helm/console-api-staging-sandbox-values.yaml
  apps/api/drizzle/0042_warn_before_runtime_limit.sql
  apps/api/drizzle/meta/0042_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/env/.env.functional.test
  apps/api/env/.env.local.sample
  apps/api/env/.env.sample
  apps/api/env/.env.unit.test
  apps/api/src/app/console.ts
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.spec.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/expiring-deployments-notifier/expiring-deployments-notifier.service.integration.ts
  apps/api/src/deployment/services/expiring-deployments-notifier/expiring-deployments-notifier.service.spec.ts
  apps/api/src/deployment/services/expiring-deployments-notifier/expiring-deployments-notifier.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/notifications/services/notification-templates/runtime-limit-ending-notification.spec.ts
  apps/api/src/notifications/services/notification-templates/runtime-limit-ending-notification.ts
Due: api

fix(deployment): backfill missing settings rows so existing deployments keep being funded
  apps/api/src/app/console.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.spec.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.ts
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/services/deployment-settings-backfill/deployment-settings-backfill.service.spec.ts
  apps/api/src/deployment/services/deployment-settings-backfill/deployment-settings-backfill.service.ts
Due: api

feat(billing): recommend the fixed threshold mode when enabling auto top-up
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.tsx
Due: deploy-web

feat(billing): anchor the top-up hatch to the available balance and key it in the legend
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/AccountBalanceOverview.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/AccountBalanceOverview.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/BalanceBreakdownBar.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/BalanceBreakdownBar.tsx
Due: deploy-web

feat(deployment): show loading skeletons on the redesigned deployment detail page
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/DeploymentVisitControl.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/DeploymentVisitControl.tsx
Due: deploy-web

feat(deployment): reject disabling automatic funding behind the threshold flag (#3655)
  apps/api/src/deployment/http-schemas/deployment-setting.schema.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-setting.spec.ts
Due: api

fix(deployment): settle service-row skeletons when the lease-status query never enables
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
Due: deploy-web

refactor(billing): restyle the top-up hatch green and move its legend
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/AccountBalanceOverview.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/BalanceBreakdownBar.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/BalanceBreakdownBar.tsx
Due: deploy-web

fix(deployment): tolerate a concurrent settings-row insert on the detail page read
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
Due: api

fix(deployment): apply an explicit settings create to the eagerly written default row
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
Due: api

refactor(billing): mark the top-up threshold with a dashed line alone
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/AccountBalanceOverview.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/AccountBalanceOverview.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/BalanceBreakdownBar.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/BalanceBreakdownBar.tsx
Due: deploy-web

feat(billing): recommend fixed threshold and key the top-up hatch in the balance legend (#3658)
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/AccountBalanceOverview.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/AccountBalanceOverview.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/BalanceBreakdownBar.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/BalanceBreakdownBar.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.tsx
Due: deploy-web

feat(deployment): show loading skeletons on the redesigned deployment detail page (#3659)
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/DeploymentVisitControl.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/DeploymentVisitControl.tsx
Due: deploy-web

test(deployment): stop asserting flag-gated summary tiles in the redesign e2e
  apps/deploy-web/tests/ui/deployment-detail-preview.spec.ts
Due: deploy-web

test(deployment): stop asserting flag-gated summary tiles in the redesign e2e (#3663)
  apps/deploy-web/tests/ui/deployment-detail-preview.spec.ts
Due: deploy-web

feat(deployment): remember a deployment's sdl and committed manifest version
  apps/api/drizzle/0043_store_deployment_sdl.sql
  apps/api/drizzle/meta/0043_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/deployment/config/sdl.config.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.spec.ts
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.ts
  apps/api/test/functional/deployment-setting.spec.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/mocks/hello-world-sdl-with-secrets.yml
Due: api

refactor(sdl): estimate serialized size only when the SDL can alias
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.spec.ts
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.ts
Due: api

fix(deployment): reject an SDL too large to store instead of deploying it unrecorded
  apps/api/src/deployment/config/sdl.config.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(notifications): point the deployment-closed alert link at the settings tab
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.ts
Due: notifications

refactor(deployment): remove the deployment detail redesign feature flags
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailPreview.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailPreview.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailRouter.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailRouter.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailLegacy.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/deployments/ReclaimingBadge/ReclaimingBadge.spec.tsx
  apps/deploy-web/src/components/deployments/ReclaimingBadge/ReclaimingBadge.tsx
  apps/deploy-web/src/pages/deployments/[dseq]/index.tsx
  apps/deploy-web/src/pages/deployments/[dseq]/preview.tsx
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/tests/ui/deployment-detail.spec.ts
  apps/deploy-web/tests/ui/pages/DeploymentDetailPage.ts
Due: deploy-web

feat(deployment): remember a deployment's sdl and committed manifest version (#3662)
  apps/api/drizzle/0043_store_deployment_sdl.sql
  apps/api/drizzle/meta/0043_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/deployment/config/sdl.config.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.spec.ts
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.ts
  apps/api/test/functional/deployment-setting.spec.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/mocks/hello-world-sdl-with-secrets.yml
Due: api

fix(deployment): reject an SDL too large to store instead of deploying it unrecorded (#3664)
  apps/api/src/deployment/config/sdl.config.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.spec.ts
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

refactor(alert): type the useFlag test double instead of casting through unknown
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
Due: deploy-web

feat(billing): cap automatic card charges to one per hour by default
  apps/api/drizzle/0044_wallet_settings_last_auto_charge_at.sql
  apps/api/drizzle/meta/0044_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/config/env.config.spec.ts
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.integration.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/test/seeders/wallet-setting.seeder.ts
Due: api

feat(billing): raise auto recharge minimums to a $10 threshold and $25 amount
  apps/api/src/billing/config/index.ts
  apps/api/src/billing/config/top-up.config.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/test/functional/wallet-settings.spec.ts
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSettingsPopup/AutoTopUpSettingsPopup.tsx
Due: api, deploy-web

fix(deployment): reject an oversized SDL before reclaiming trial orphans
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.spec.ts
  apps/api/src/deployment/utils/sdl-secret-stripping/sdl-secret-stripping.ts
Due: api

refactor(deployment): remove the deployment detail redesign feature flags (#3661)
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailPreview.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailPreview.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailRouter.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailRouter.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailLegacy.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/deployments/ReclaimingBadge/ReclaimingBadge.spec.tsx
  apps/deploy-web/src/components/deployments/ReclaimingBadge/ReclaimingBadge.tsx
  apps/deploy-web/src/pages/deployments/[dseq]/index.tsx
  apps/deploy-web/src/pages/deployments/[dseq]/preview.tsx
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/tests/ui/deployment-detail.spec.ts
  apps/deploy-web/tests/ui/pages/DeploymentDetailPage.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.ts
Due: deploy-web, notifications

fix(billing): defer a rate-limited reload by the cooldown left, not a fresh one
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.integration.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
Due: api

test(billing): refresh the OpenAPI docs snapshot for the new auto recharge minimums
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  packages/console-api-types/src/schema.d.ts
Due: api

test(deployment): open the details tab before asserting placements
  apps/deploy-web/tests/ui/deployment-detail.spec.ts
Due: deploy-web

test(auth): give the sign-in round trip room past the 15s action timeout
  apps/deploy-web/tests/ui/actions/auth.ts
  apps/deploy-web/tests/ui/pages/AuthPagePasswordless.ts
  apps/deploy-web/tests/ui/passwordless-login.spec.ts
Due: deploy-web

test(deployment): fix the red beta e2e run and its login flakiness (#3668)
  apps/deploy-web/tests/ui/actions/auth.ts
  apps/deploy-web/tests/ui/deployment-detail.spec.ts
  apps/deploy-web/tests/ui/pages/AuthPagePasswordless.ts
  apps/deploy-web/tests/ui/passwordless-login.spec.ts
Due: deploy-web

feat(deployment): return a deployment's console settings from its read endpoint
  apps/api/src/deployment/controllers/lease/lease.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/leases/leases.router.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.spec.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(deployment): record the sdl and manifest version on deployment update
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
