Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

refactor: run npm audit fix to fix security issues (#1529)
  .github/workflows/diff-package-lock.yml
  .github/workflows/reusable-should-validate.yml
  apps/api/package.json
  apps/api/src/auth/routes/send-verification-email/send-verification-email.router.ts
  apps/indexer/package.json
  package-lock.json
Due: api, indexer

fix: enable sourcemaps for deploy-web (#1538)
  apps/deploy-web/next.config.js
Due: deploy-web

feat(alert): uses back nav blocker having unsaved changes
  apps/deploy-web/jest.config.ts
  apps/deploy-web/package.json
  apps/deploy-web/src/components/alerts/CreateNotificationChannelPage.tsx
  apps/deploy-web/src/components/alerts/EditNotificationChannelPage.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelForm/NotificationChannelForm.tsx
  apps/deploy-web/src/components/deployments/DeploymentAlerts/DeploymentAlerts.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/hooks/useNavigationGuard/useNavigationGuard.spec.ts
  apps/deploy-web/src/hooks/useNavigationGuard/useNavigationGuard.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/types/changeable-component-props.type.ts
  package-lock.json
Due: deploy-web

fix(alert): clear up unsaved changes for a closed deployment
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
Due: deploy-web

chore: fix setup-app-deps gha and api test types
  .github/actions/setup-app-deps/action.yml
  apps/api/test/functional/anonymous-user.spec.ts
  apps/api/test/functional/api-key.spec.ts
  apps/api/test/functional/auditors.spec.ts
  apps/api/test/functional/balances.spec.ts
  apps/api/test/functional/bids.spec.ts
  apps/api/test/functional/blocks.spec.ts
  apps/api/test/functional/dashboard-data.spec.ts
  apps/api/test/functional/deployment-setting.spec.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/functional/graph-data.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
  apps/api/test/functional/leases-duration.spec.ts
  apps/api/test/functional/market-data.spec.ts
  apps/api/test/functional/provider-attributes-schema.spec.ts
  apps/api/test/functional/provider-dashboard.spec.ts
  apps/api/test/functional/provider-deployments.spec.ts
  apps/api/test/functional/provider-graph-data.spec.ts
  apps/api/test/functional/provider-regions.spec.ts
  apps/api/test/functional/providers.spec.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
  apps/api/test/functional/start-trial.spec.ts
  apps/api/test/functional/transactions.spec.ts
  apps/api/test/functional/usage.spec.ts
  apps/api/test/services/wallet-testing.service.ts
Due: api

chore: fix setup-app-deps gha and api test types (#1536)
  .github/actions/setup-app-deps/action.yml
  apps/api/test/functional/anonymous-user.spec.ts
  apps/api/test/functional/api-key.spec.ts
  apps/api/test/functional/auditors.spec.ts
  apps/api/test/functional/balances.spec.ts
  apps/api/test/functional/bids.spec.ts
  apps/api/test/functional/blocks.spec.ts
  apps/api/test/functional/dashboard-data.spec.ts
  apps/api/test/functional/deployment-setting.spec.ts
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/functional/graph-data.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
  apps/api/test/functional/leases-duration.spec.ts
  apps/api/test/functional/market-data.spec.ts
  apps/api/test/functional/provider-attributes-schema.spec.ts
  apps/api/test/functional/provider-dashboard.spec.ts
  apps/api/test/functional/provider-deployments.spec.ts
  apps/api/test/functional/provider-graph-data.spec.ts
  apps/api/test/functional/provider-regions.spec.ts
  apps/api/test/functional/providers.spec.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
  apps/api/test/functional/start-trial.spec.ts
  apps/api/test/functional/transactions.spec.ts
  apps/api/test/functional/usage.spec.ts
  apps/api/test/services/wallet-testing.service.ts
Due: api

chore: adds tsx and jsx files to snyk ignore file
  .dcignore
Due: none

chore: adds tsx and jsx files to snyk ignore file (#1543)
  .dcignore
Due: none

fix(alert): properly calculates deployment escrow balance
  apps/notifications/src/modules/alert/providers/http-sdk.provider.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
  apps/notifications/test/functional/balance-alert.spec.ts
  apps/notifications/test/seeders/deployment-balance-response.seeder.ts
  packages/http-sdk/src/lease/lease-http.service.ts
Due: notifications

chore: adds snyk code test via gha
  .dcignore
  .github/actions/app-sec/action.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/local-packages-validate.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/reusable-should-validate.yml
  .github/workflows/stats-web-docker-build.yml
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/pages/api/auth/signup.ts
  apps/deploy-web/src/pages/api/bitbucket/authenticate.ts
  apps/deploy-web/src/pages/api/bitbucket/refresh.ts
  apps/deploy-web/src/pages/api/github/authenticate.ts
  apps/deploy-web/src/pages/api/gitlab/authenticate.ts
  apps/deploy-web/src/pages/api/gitlab/refresh.ts
  packages/jwt/scripts/generate.ts
  packages/jwt/src/jwt-token.spec.ts
  packages/jwt/src/test/generated/jwt-claims-test-cases.ts
  packages/jwt/src/test/generated/jwt-mnemonic.ts
  packages/jwt/src/test/generated/jwt-signing-test-cases.ts
  packages/jwt/src/test/test-utils.ts
Due: deploy-web

chore: adds snyk code test via gha (#1544)
  .dcignore
  .github/actions/app-sec/action.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/local-packages-validate.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/reusable-should-validate.yml
  .github/workflows/stats-web-docker-build.yml
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/pages/api/auth/signup.ts
  apps/deploy-web/src/pages/api/bitbucket/authenticate.ts
  apps/deploy-web/src/pages/api/bitbucket/refresh.ts
  apps/deploy-web/src/pages/api/github/authenticate.ts
  apps/deploy-web/src/pages/api/gitlab/authenticate.ts
  apps/deploy-web/src/pages/api/gitlab/refresh.ts
  packages/jwt/scripts/generate.ts
  packages/jwt/src/jwt-token.spec.ts
  packages/jwt/src/test/generated/jwt-claims-test-cases.ts
  packages/jwt/src/test/generated/jwt-mnemonic.ts
  packages/jwt/src/test/generated/jwt-signing-test-cases.ts
  packages/jwt/src/test/test-utils.ts
Due: deploy-web

fix: adds blockchain node API proxy to the list of mainnet nework urls
  packages/net/scripts/generate.ts
  packages/net/src/NetConfig/NetConfig.ts
  packages/net/src/generated/netConfigData.ts
Due: none

fix: adds blockchain node API proxy to the list of mainnet nework urls (#1553)
  packages/net/scripts/generate.ts
  packages/net/src/NetConfig/NetConfig.ts
  packages/net/src/generated/netConfigData.ts
Due: none

fix: makes axios not to throw on 400 error for getting deployment
  packages/http-sdk/src/deployment/deployment-http.service.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.spec.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.ts
Due: none

refactor: move /v1/addresses/* to modules
  apps/api/src/address/controllers/address/address.controller.ts
  apps/api/src/address/http-schemas/address.schema.ts
  apps/api/src/address/index.ts
  apps/api/src/address/routes/address/address.router.ts
  apps/api/src/address/services/address/address.service.ts
  apps/api/src/app.ts
  apps/api/src/billing/services/financial-stats/financial-stats.service.ts
  apps/api/src/routes/v1/addresses/address.ts
  apps/api/src/routes/v1/addresses/transactions.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/services/db/transactionsService.ts
  apps/api/src/services/external/apiNodeService.ts
  apps/api/src/transaction/repositories/transaction/transaction.repository.ts
  apps/api/src/transaction/services/transaction/transaction.service.ts
  apps/api/src/types/rest/cosmosBankBalancesResponse.ts
  apps/api/src/types/rest/cosmosDistributionDelegatorsRewardsResponse.ts
  apps/api/src/types/rest/cosmosDistributionValidatorsCommissionResponse.ts
  apps/api/src/types/rest/cosmosStakingDelegationsResponse.ts
  apps/api/src/types/rest/cosmosStakingDelegatorsRedelegationsResponse.ts
  apps/api/src/types/rest/index.ts
  apps/api/src/utils/coin.ts
  apps/api/test/functional/addresses.spec.ts
  apps/api/test/seeders/address-refererence.seeder.ts
  apps/api/test/seeders/akash-message.seeder.ts
  apps/api/test/seeders/lease.seeder.ts
  apps/api/test/seeders/transaction.seeder.ts
  apps/api/tsconfig.strict.json
  packages/http-sdk/src/cosmos/cosmos-http.service.ts
  packages/http-sdk/src/cosmos/types.ts
Due: api

refactor: followup on PR suggestions
  apps/api/src/address/services/address/address.service.ts
  apps/api/src/validator/repositories/validator/validator.repository.ts
  apps/api/src/validator/services/validator/validator.service.ts
  apps/api/test/functional/addresses.spec.ts
  apps/api/test/seeders/address-reference.seeder.ts
  apps/api/test/seeders/address-refererence.seeder.ts
  apps/api/test/seeders/akash-message.seeder.ts
  apps/api/test/seeders/lease.seeder.ts
  apps/api/test/seeders/transaction.seeder.ts
Due: api

chore: runs security checks only on PR
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/stats-web-docker-build.yml
Due: none

fix(billing): get user from auth service
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
Due: api

chore: runs security checks only on PR (#1560)
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/stats-web-docker-build.yml
Due: none

fix: makes axios not to throw on 400 error for getting deployment (#1552)
  packages/http-sdk/src/deployment/deployment-http.service.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.spec.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.ts
Due: none

refactor: ensure alerts are not rendered when they are disabled
  apps/deploy-web/src/components/deployments/CreateCertificateButton/CreateCertificateButton.spec.tsx
  apps/deploy-web/src/components/deployments/CreateCertificateButton/CreateCertificateButton.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate.tsx
  apps/deploy-web/src/context/CertificateProvider/CertificateProviderContext.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/services/http-factory/http-factory.service.ts
  apps/deploy-web/src/services/http/http-browser.service.ts
  apps/deploy-web/src/types/certificate.ts
  packages/http-sdk/src/certificates/certificates.service.ts
  packages/http-sdk/src/index.ts
  packages/http-sdk/src/utils/pagination.utils.ts
Due: deploy-web

refactor: ensure alerts are not rendered when they are disabled (#1557)
  apps/deploy-web/src/components/deployments/CreateCertificateButton/CreateCertificateButton.spec.tsx
  apps/deploy-web/src/components/deployments/CreateCertificateButton/CreateCertificateButton.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate.tsx
  apps/deploy-web/src/context/CertificateProvider/CertificateProviderContext.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/services/http-factory/http-factory.service.ts
  apps/deploy-web/src/services/http/http-browser.service.ts
  apps/deploy-web/src/types/certificate.ts
  packages/http-sdk/src/certificates/certificates.service.ts
  packages/http-sdk/src/index.ts
  packages/http-sdk/src/utils/pagination.utils.ts
Due: deploy-web

fix: upgrades nodejs to higher versino
  packages/docker/Dockerfile.nextjs
  packages/docker/Dockerfile.node
Due: none

fix: packages/docker/Dockerfile.db to reduce vulnerabilities
  packages/docker/Dockerfile.db
Due: none

fix: apps/api/package.json to reduce vulnerabilities
  apps/api/package.json
Due: api

chore: upgrades jest
  apps/api/package.json
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-console/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  package-lock.json
  packages/http-sdk/package.json
  packages/jwt/package.json
  packages/logging/package.json
  packages/net/package.json
Due: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

refactor: move block prediction endpoints to modules
  apps/api/src/app.ts
  apps/api/src/block/controllers/block-prediction/block-prediction.controller.ts
  apps/api/src/block/controllers/block/block.controller.ts
  apps/api/src/block/http-schemas/block-prediction.schema.ts
  apps/api/src/block/repositories/akash-block/akash-block.repository.ts
  apps/api/src/block/routes/block-prediction/block-prediction.router.ts
  apps/api/src/block/routes/blocks/blocks.router.ts
  apps/api/src/block/routes/index.ts
  apps/api/src/block/services/akash-block/akash-block.service.ts
  apps/api/src/block/services/block-prediction/block-prediction.service.ts
  apps/api/src/routes/v1/index.ts
  apps/api/src/routes/v1/predictedBlockDate.ts
  apps/api/src/routes/v1/predictedDateHeight.ts
  apps/api/src/services/db/blocksService.ts
  apps/api/test/functional/blocks.spec.ts
  apps/api/tsconfig.strict.json
Due: api
