Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(deployment): resolve review feedback on placements details tab
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
Due: deploy-web

fix(deployment): resolve placement service resources per placement
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
Due: deploy-web

fix(deployment): build manifest service map with a null prototype
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
Due: deploy-web

fix(alert): permit editable fields when updating an alert
  apps/notifications/src/interfaces/rest/interceptors/auth/auth.interceptor.ts
  apps/notifications/test/functional/alert-crud.spec.ts
Due: notifications

fix(notification-channel): point edit back arrow at the alerts page
  apps/deploy-web/src/components/alerts/EditNotificationChannelPage.spec.tsx
  apps/deploy-web/src/components/alerts/EditNotificationChannelPage.tsx
Due: deploy-web

fix(alert): reject alerts referencing a notification channel the user doesn't own
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/test/functional/alert-crud.spec.ts
Due: notifications

test(alert): assert rejected channel update leaves prior channel intact
  apps/notifications/test/functional/alert-crud.spec.ts
Due: notifications

fix(alert): return 400 for conditions that mismatch the alert type
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
Due: notifications

test(alert): seed non-default channels to avoid unique-index flake
  apps/notifications/test/functional/alert-crud.spec.ts
Due: notifications

test(ci): replace mailsac with self-owned e2e inbox worker (#3574)
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/reusable-deploy-test.yml
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/tests/ui/actions/auth.ts
  apps/deploy-web/tests/ui/fixture/inbox-api-url.schema.ts
  apps/deploy-web/tests/ui/fixture/inbox-api-url.schema.unit.spec.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/onboarding-journey.spec.ts
  apps/deploy-web/tests/ui/passwordless-login.spec.ts
  apps/deploy-web/tests/ui/services/email-verification/email-verification.strategy.ts
  apps/deploy-web/tests/ui/services/email-verification/inbox-client.ts
  apps/deploy-web/tests/ui/services/email-verification/inbox-code.strategy.ts
  apps/deploy-web/tests/ui/services/email-verification/inbox-code.strategy.unit.spec.ts
  apps/deploy-web/tests/ui/services/email-verification/index.ts
  apps/deploy-web/tests/ui/services/email-verification/worker-inbox.client.ts
  apps/deploy-web/tests/ui/services/email-verification/worker-inbox.client.unit.spec.ts
  apps/deploy-web/vitest.config.ts
Due: deploy-web

fix(alert): make wallet-balance alert edits savable and fix channel edit back-nav (#3609)
  apps/deploy-web/src/components/alerts/EditNotificationChannelPage.spec.tsx
  apps/deploy-web/src/components/alerts/EditNotificationChannelPage.tsx
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/src/interfaces/rest/interceptors/auth/auth.interceptor.ts
  apps/notifications/test/functional/alert-crud.spec.ts
Due: deploy-web, notifications

fix(deployment): harden placement service status, endpoints, and counts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/ServiceEndpoints.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
Due: deploy-web

feat(deployment): add Settings and Update tabs to the redesigned detail page
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentDangerZone.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentDangerZone.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentNotificationsSection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentNotificationsSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentSettings.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentSettings.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/hooks/useAutoTopUp/useAutoTopUp.spec.ts
  apps/deploy-web/src/hooks/useAutoTopUp/useAutoTopUp.ts
Due: deploy-web

fix(deployment): route alerts list link to a tab valid for the user's cohort
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
Due: deploy-web

fix(deployment): prevent duplicate auto-funding of draining deployments under concurrency
  apps/api/drizzle/0036_mushy_malcolm_colcord.sql
  apps/api/drizzle/meta/0036_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/controllers/deployment-setting/deployment-setting.controller.spec.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

fix(deployment): correct settings-tab balance and consolidate escrow denom
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/hooks/useAutoTopUp/useAutoTopUp.spec.ts
  apps/deploy-web/src/hooks/useAutoTopUp/useAutoTopUp.ts
  apps/deploy-web/src/utils/deploymentUtils.spec.ts
  apps/deploy-web/src/utils/deploymentUtils.ts
Due: deploy-web

test(deployment): align redesign e2e tabs with Update/Settings reorg
  apps/deploy-web/tests/ui/deployment-detail-preview.spec.ts
Due: deploy-web

test(deployment): close redesign preview deployment via Settings danger zone
  apps/deploy-web/tests/ui/actions/deploy.ts
  apps/deploy-web/tests/ui/deployment-detail-preview.spec.ts
Due: deploy-web

fix(deployment): claim funding before reserving balance
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

feat(deployment): add Settings and Update tabs to the redesigned detail page (#3610)
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.spec.tsx
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentBillingSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentDangerZone.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentDangerZone.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentNotificationsSection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentNotificationsSection.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentSettings.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentSettings/DeploymentSettings.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/hooks/useAutoTopUp/useAutoTopUp.spec.ts
  apps/deploy-web/src/hooks/useAutoTopUp/useAutoTopUp.ts
  apps/deploy-web/src/utils/deploymentUtils.spec.ts
  apps/deploy-web/src/utils/deploymentUtils.ts
  apps/deploy-web/tests/ui/actions/deploy.ts
  apps/deploy-web/tests/ui/deployment-detail-preview.spec.ts
Due: deploy-web

fix(deployment): keep the funding claim marker out of the API payload
  apps/api/src/deployment/controllers/deployment-setting/deployment-setting.controller.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
Due: api

test(deployment): drive the detail page through both redesign and legacy layouts
  apps/deploy-web/tests/ui/actions/deploy.ts
  apps/deploy-web/tests/ui/deployment-detail-preview.spec.ts
  apps/deploy-web/tests/ui/managed-wallet-alerts.spec.ts
  apps/deploy-web/tests/ui/onboarding-journey.spec.ts
  apps/deploy-web/tests/ui/pages/DeployPage.tsx
  apps/deploy-web/tests/ui/pages/DeploymentDetailPage.ts
Due: deploy-web

fix(deployment): scope a claim release to the claim it took
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

feat(deployment): restore trial, capability and redeploy chrome on the redesigned header
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
Due: deploy-web

fix(deployment): drop the time left cell from the redesigned header
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
Due: deploy-web

fix(deployment): stop the header calling a dead lease running
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/utils/reclamationUtils.spec.ts
  apps/deploy-web/src/utils/reclamationUtils.ts
Due: deploy-web

fix(deployment): count services across every placement in the header
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/DeploymentPlacements.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
Due: deploy-web

fix(deployment): tone a dead lease under an open deployment as a warning
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
Due: deploy-web

fix(deployment): keep the tab query in sync when the manifest editor closes
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
Due: deploy-web

refactor(deployment): fold the closed-lease rationale into its JSDoc
  apps/deploy-web/src/utils/reclamationUtils.ts
Due: deploy-web

fix(deployment): report the provider close when several placements are closed
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
Due: deploy-web

fix(deployment): close deployments the e2e run leaves behind
  apps/deploy-web/playwright.config.ts
  apps/deploy-web/tests/ui/actions/deploy.ts
  apps/deploy-web/tests/ui/actions/deployment-janitor.ts
  apps/deploy-web/tests/ui/actions/deployment-janitor.unit.spec.ts
  apps/deploy-web/tests/ui/configure-deployment-flow.spec.ts
  apps/deploy-web/tests/ui/deployment-detail-preview.spec.ts
  apps/deploy-web/tests/ui/fixture/base-test.ts
  apps/deploy-web/tests/ui/fixture/global-teardown.ts
  apps/deploy-web/tests/ui/managed-wallet-alerts.spec.ts
  apps/deploy-web/tests/ui/onboarding-journey.spec.ts
Due: deploy-web

fix(deployment): hold the e2e janitor to its never-throws contract
  apps/deploy-web/tests/ui/actions/deployment-janitor.ts
  apps/deploy-web/tests/ui/actions/deployment-janitor.unit.spec.ts
  apps/deploy-web/tests/ui/fixture/global-teardown.ts
Due: deploy-web

refactor(deployment): drop the e2e deploy actions module left with no callers
  apps/deploy-web/tests/ui/actions/deploy.ts
Due: deploy-web

chore(ci): bound the deploy test job and its apt install
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/reusable-deploy-test.yml
Due: none

fix(deployment): tolerate a deployments listing that is not shaped as expected
  apps/deploy-web/tests/ui/actions/deployment-janitor.ts
  apps/deploy-web/tests/ui/actions/deployment-janitor.unit.spec.ts
Due: deploy-web

fix(styling): use the regular spinner outside boot loading
  apps/deploy-web/src/components/layout/Layout.spec.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
Due: deploy-web

fix(deployment): let the global sweep launch the browser CI actually installs
  apps/deploy-web/tests/ui/actions/deployment-janitor.ts
  apps/deploy-web/tests/ui/actions/deployment-janitor.unit.spec.ts
  apps/deploy-web/tests/ui/fixture/global-teardown.ts
Due: deploy-web

fix(styling): use the regular spinner outside boot loading (#3614)
  apps/deploy-web/src/components/layout/Layout.spec.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
