Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix: ensure readonly mode is enabled only on blockchain unavailable response
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/services/createFallbackableHttpClient/createFallbackableHttpClient.spec.ts
  apps/deploy-web/src/services/createFallbackableHttpClient/createFallbackableHttpClient.ts
  apps/deploy-web/src/services/createFetchAdapter/createFetchAdapter.ts
Due: deploy-web

feat: can multi-select deployments when pressing shift
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
Due: deploy-web

test: use setup function and escape service name
  apps/deploy-web/tests/ui/pages/BuildTemplatePage.tsx
  apps/deploy-web/tests/ui/sdl-builder-deployment.spec.ts
Due: deploy-web

fix: net config data
  packages/net/src/generated/netConfigData.ts
Due: none

feat: adds fallbackChainApiClient (#2009)
  apps/deploy-web/src/components/deployments/ManifestUpdate.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
  apps/deploy-web/src/components/layout/TopBanner.tsx
  apps/deploy-web/src/components/layout/WalletStatus.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/sdl/RentGpusForm.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletPopup.tsx
  apps/deploy-web/src/components/wallet/ManagedWalletPopup.tsx
  apps/deploy-web/src/context/CertificateProvider/CertificateProviderContext.tsx
  apps/deploy-web/src/context/ChainParamProvider/ChainParamProvider.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/context/TopBannerProvider/TopBannerProvider.tsx
  apps/deploy-web/src/hooks/useWalletBalance.ts
  apps/deploy-web/src/pages/payment.tsx
  apps/deploy-web/src/queries/useBalancesQuery.ts
  apps/deploy-web/src/queries/useBidQuery.ts
  apps/deploy-web/src/queries/useBlocksQuery.ts
  apps/deploy-web/src/queries/useGrantsQuery.spec.tsx
  apps/deploy-web/src/queries/useGrantsQuery.ts
  apps/deploy-web/src/queries/useSaveSettings.spec.tsx
  apps/deploy-web/src/queries/useSaveSettings.ts
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  apps/deploy-web/src/services/createFallbackableHttpClient/createFallbackableHttpClient.spec.ts
  apps/deploy-web/src/services/createFallbackableHttpClient/createFallbackableHttpClient.ts
  apps/deploy-web/src/services/createFetchAdapter/createFetchAdapter.ts
  apps/deploy-web/src/store/walletStore.ts
  apps/deploy-web/src/utils/deploymentData/helpers.ts
  apps/deploy-web/src/utils/deploymentData/v1beta2.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
Due: deploy-web

fix: use a hook instead of a context and provider
  apps/deploy-web/src/components/deployments/CreateCertificateButton/CreateCertificateButton.spec.tsx
  apps/deploy-web/src/components/deployments/CreateCertificateButton/CreateCertificateButton.tsx
  apps/deploy-web/src/context/JwtProvider/JwtProviderContext.tsx
  apps/deploy-web/src/context/JwtProvider/index.ts
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.tsx
  apps/deploy-web/src/hooks/useJwt.spec.tsx
  apps/deploy-web/src/hooks/useJwt.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/walletUtils.ts
Due: deploy-web

feat: can manually create a token
  apps/deploy-web/src/components/deployments/CreateCertificateButton/CreateCertificateButton.tsx
  apps/deploy-web/src/context/JwtProvider/JwtProviderContext.tsx
  apps/deploy-web/src/context/JwtProvider/index.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
Due: deploy-web

fix: net package testnet (#2016)
  packages/net/src/generated/netConfigData.ts
Due: none

feat: expose jwt generation for managed wallets
  .husky/pre-commit
  apps/api/package.json
  apps/api/src/provider/controllers/jwt-token/jwt-token.controller.ts
  apps/api/src/provider/http-schemas/jwt-token.schema.ts
  apps/api/src/provider/providers/jwt.provider.ts
  apps/api/src/provider/routes/index.ts
  apps/api/src/provider/routes/jwt-token/jwt-token.router.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.spec.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/rest-app.ts
  apps/provider-proxy/package.json
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/tsconfig.build.json
  package-lock.json
  packages/jwt/.prettierrc.js
  packages/jwt/jest.config.ts
  packages/jwt/package.json
  packages/jwt/scripts/generate.ts
  packages/jwt/src/base64.ts
  packages/jwt/src/generated/jwt-schema-data.ts
  packages/jwt/src/index.ts
  packages/jwt/src/jwt-token.spec.ts
  packages/jwt/src/jwt-token.ts
  packages/jwt/src/jwt-validator.spec.ts
  packages/jwt/src/jwt-validator.ts
  packages/jwt/src/test/generated/jwt-claims-test-cases.ts
  packages/jwt/src/test/generated/jwt-mnemonic.ts
  packages/jwt/src/test/generated/jwt-signing-test-cases.ts
  packages/jwt/src/test/seeders/akash-address.seeder.ts
  packages/jwt/src/test/test-utils.ts
  packages/jwt/src/types.ts
  packages/jwt/src/wallet-utils.ts
  packages/jwt/tsconfig.build.json
  packages/jwt/tsconfig.json
Due: api, provider-proxy

feat: adds sandbox-2 nodes config
  config/sandbox-2-nodes.json
Due: none

feat(network): maps sandbox to sandbox-2
  apps/api/README.md
  apps/api/env/.env.functional.test
  apps/api/env/.env.sandbox
  apps/api/env/.env.unit.test
  apps/api/package.json
  apps/api/src/app/index.ts
  apps/api/src/network/http-schemas/network.schema.ts
  apps/api/src/network/index.ts
  apps/api/src/network/providers/net-config.provider.ts
  apps/api/src/network/services/network/network.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/test/functional/create-deployment.spec.ts
  apps/api/test/functional/managed-api-deployment-flow.spec.ts
  apps/api/test/functional/nodes-v1.spec.ts
  apps/api/test/setup-functional-tests.ts
  apps/deploy-web/src/chains/akash-sandbox.ts
  apps/notifications/package.json
  package-lock.json
  packages/database/chainDefinitions.ts
  packages/http-sdk/package.json
  packages/http-sdk/src/node/node-http.service.ts
  packages/net/scripts/generate.ts
  packages/net/src/NetConfig/NetConfig.spec.ts
  packages/net/src/NetConfig/NetConfig.ts
  packages/net/src/generated/netConfigData.ts
  packages/net/src/index.ts
  packages/network-store/src/network.config.ts
Due: api, deploy-web, notifications

chore: update config testnet
  config/testnet-nodes.json
Due: none

chore: update testnet config
  config/testnet-nodes.json
Due: none

chore: update testnet config (#2025)
  config/testnet-nodes.json
Due: none

chore(release): implements basic indexer deploy CI for the testnet
  .github/workflows/all-trigger-coverage.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/diff-package-lock.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/indexer-release-testnet.yml
  .github/workflows/local-packages-validate.yml
  .github/workflows/log-collector-validate-n-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/reusable-build-image.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/stats-web-docker-build.yml
  .github/workflows/workspace-ci-unsafe.yml
  .helm/indexer-staging-testnet-values.yaml
  apps/indexer/README.md
  packages/docker/script/build.sh
Due: indexer

refactor: migrate provider-proxy to next chain sdk (#1980)
  apps/deploy-web/src/queries/queryKeys.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
  apps/provider-proxy/test/setup/chainApiServer.ts
  apps/provider-proxy/tsconfig.build.json
Due: deploy-web, provider-proxy

feat(analytics): chain sdk next indexer (#1983)
  apps/indexer/package.json
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/indexer/src/indexers/validatorIndexer.ts
  apps/indexer/src/shared/utils/protobuf.ts
  apps/indexer/tsconfig.json
  package-lock.json
  packages/database/chainDefinitions.ts
  packages/database/package.json
Due: indexer

fix: removes duplicate query key def
  apps/deploy-web/src/queries/queryKeys.ts
Due: deploy-web

feat(release): adds api testnet release
  .github/workflows/console-api-deploy-testnet.yml
  .github/workflows/indexer-deploy-testnet.yml
Due: none

fix(release): adds api testnet values
  .helm/console-api-staging-testnet-values.yaml
Due: none

fix(release): adds api testnet env
  apps/api/env/.env.testnet
Due: api

fix: add missing message type
  apps/deploy-web/src/utils/TransactionMessageData.ts
Due: deploy-web

fix: send address as iss
  apps/deploy-web/src/hooks/useJwt.ts
Due: deploy-web

fix: use finally instead of a simple throwing catch
  apps/deploy-web/src/hooks/useJwt.ts
Due: deploy-web

fix: token is offchain, no need to sign and broadcast
  apps/deploy-web/src/hooks/useJwt.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
Due: deploy-web

test: can start a trial and see a welcome modal
  apps/deploy-web/src/components/layout/WelcomeToTrialModal.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  apps/deploy-web/tests/ui/pages/FrontPage.tsx
  apps/deploy-web/tests/ui/start-trial.spec.ts
  packages/ui/components/custom/popup.tsx
Due: deploy-web

fix: ensure provider-proxy does not crash when socket is closed during cert verification
  apps/provider-proxy/src/services/WebsocketServer.ts
Due: provider-proxy

feat: expose jwt generation for managed wallets
  .husky/pre-commit
  apps/api/package.json
  apps/api/src/provider/controllers/jwt-token/jwt-token.controller.spec.ts
  apps/api/src/provider/controllers/jwt-token/jwt-token.controller.ts
  apps/api/src/provider/http-schemas/jwt-token.schema.ts
  apps/api/src/provider/providers/jwt.provider.ts
  apps/api/src/provider/routes/index.ts
  apps/api/src/provider/routes/jwt-token/jwt-token.router.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.spec.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/rest-app.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-proxy/package.json
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  apps/provider-proxy/tsconfig.build.json
  package-lock.json
  packages/jwt/.prettierrc.js
  packages/jwt/jest.config.ts
  packages/jwt/package.json
  packages/jwt/scripts/generate.ts
  packages/jwt/src/base64.ts
  packages/jwt/src/generated/jwt-schema-data.ts
  packages/jwt/src/index.ts
  packages/jwt/src/jwt-token.spec.ts
  packages/jwt/src/jwt-token.ts
  packages/jwt/src/jwt-validator.spec.ts
  packages/jwt/src/jwt-validator.ts
  packages/jwt/src/test/generated/jwt-claims-test-cases.ts
  packages/jwt/src/test/generated/jwt-mnemonic.ts
  packages/jwt/src/test/generated/jwt-signing-test-cases.ts
  packages/jwt/src/test/seeders/akash-address.seeder.ts
  packages/jwt/src/test/test-utils.ts
  packages/jwt/src/types.ts
  packages/jwt/src/wallet-utils.ts
  packages/jwt/tsconfig.build.json
  packages/jwt/tsconfig.json
Due: api, provider-proxy

feat: expose jwt generation for managed wallets (#2019)
  .husky/pre-commit
  apps/api/package.json
  apps/api/src/provider/controllers/jwt-token/jwt-token.controller.spec.ts
  apps/api/src/provider/controllers/jwt-token/jwt-token.controller.ts
  apps/api/src/provider/http-schemas/jwt-token.schema.ts
  apps/api/src/provider/providers/jwt.provider.ts
  apps/api/src/provider/routes/index.ts
  apps/api/src/provider/routes/jwt-token/jwt-token.router.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.spec.ts
  apps/api/src/provider/services/provider-jwt-token/provider-jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/rest-app.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-proxy/package.json
  apps/provider-proxy/src/utils/schema.ts
  apps/provider-proxy/test/functional/provider-proxy-http.spec.ts
  apps/provider-proxy/test/functional/provider-proxy-ws.spec.ts
  apps/provider-proxy/tsconfig.build.json
  package-lock.json
  packages/jwt/.prettierrc.js
  packages/jwt/jest.config.ts
  packages/jwt/package.json
  packages/jwt/scripts/generate.ts
  packages/jwt/src/base64.ts
  packages/jwt/src/generated/jwt-schema-data.ts
  packages/jwt/src/index.ts
  packages/jwt/src/jwt-token.spec.ts
  packages/jwt/src/jwt-token.ts
  packages/jwt/src/jwt-validator.spec.ts
  packages/jwt/src/jwt-validator.ts
  packages/jwt/src/test/generated/jwt-claims-test-cases.ts
  packages/jwt/src/test/generated/jwt-mnemonic.ts
  packages/jwt/src/test/generated/jwt-signing-test-cases.ts
  packages/jwt/src/test/seeders/akash-address.seeder.ts
  packages/jwt/src/test/test-utils.ts
  packages/jwt/src/types.ts
  packages/jwt/src/wallet-utils.ts
  packages/jwt/tsconfig.build.json
  packages/jwt/tsconfig.json
Due: api, provider-proxy

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
