Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

refactor(deployment): make the guards on a derived manifest able to fail
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.spec.ts
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.ts
Due: api

test(deployment): construct the sdl service a derivation uses in its current shape
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.spec.ts
Due: api

feat(deployment): send each lease's provider the manifest derived from the stored definition
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.spec.ts
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.ts
  apps/api/src/deployment/services/lease/lease.service.spec.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(deployment): derive a deployment's manifest from the definition it stored
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.spec.ts
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.spec.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.ts
Due: api

chore: stop a stack's duplicate runs from cancelling each other
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/all-ci.yml
Due: none

refactor(deployment): rest the second manifest build on its isolation, not on a measured equality
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

refactor: extracts auth current user refs back to higher level
  apps/api/src/deployment/controllers/lease/lease.controller.ts
  apps/api/src/deployment/http-schemas/lease.schema.ts
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.spec.ts
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.ts
  apps/api/src/deployment/services/lease/lease.service.spec.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

fix: fixes types
  apps/api/src/deployment/services/lease/lease.service.ts
Due: api

fix(deployment): hand a create back the manifest of the document it submitted
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
Due: api

fix(deployment): await the unresolved manifest a create hands back
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

test(deployment): retire the e2e assertion that pinned the response leak
  apps/api/test/e2e/managed-api-deployment-flow.spec.ts
Due: api

feat: tracks whether fallback lease parameter has been used
  apps/api/src/deployment/services/lease/lease.service.spec.ts
  apps/api/src/deployment/services/lease/lease.service.ts
Due: api

fix(deployment): decide a lease's manifest before any provider is sent one
  apps/api/src/deployment/services/lease/lease.service.spec.ts
  apps/api/src/deployment/services/lease/lease.service.ts
Due: api

chore(ci): report a security scan on the commit its pull request points at
  .github/workflows/all-ci-unsafe.yml
Due: none

feat(deployment): open the token a deployment's definition was stored with (#3796)
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.spec.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.ts
  apps/api/src/deployment/services/sdl-secrets-derivation/sdl-secrets-derivation.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets/sdl-secrets.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
Due: api

feat(deployment): derive a deployment's manifest from the definition it stored (#3797)
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.spec.ts
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.spec.ts
  apps/api/src/deployment/services/sdl-reference/sdl-reference.service.ts
Due: api

feat(deployment): send each lease's provider the manifest derived from the stored definition (#3799)
  apps/api/src/deployment/controllers/lease/lease.controller.ts
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.spec.ts
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.ts
  apps/api/src/deployment/services/lease/lease.service.spec.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(deployment): hand a create back the manifest of the document it submitted (#3802)
  apps/api/src/deployment/controllers/lease/lease.controller.ts
  apps/api/src/deployment/http-schemas/lease.schema.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.spec.ts
  apps/api/src/deployment/services/lease-manifest/lease-manifest.service.ts
  apps/api/src/deployment/services/lease/lease.service.spec.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/test/e2e/managed-api-deployment-flow.spec.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-sealed-secrets.spec.ts
Due: api

chore(ci): resolve the commit to report on with gh on a hosted runner
  .github/workflows/all-ci-unsafe.yml
Due: none

chore(ci): keep the pull request lookup a GET once it carries query fields
  .github/workflows/all-ci-unsafe.yml
Due: none

chore(ci): exclude the generated api artifacts from the pr size label
  .github/workflows/labeler.yml
Due: none

fix(billing): bound the refusal loop from zero-balance clients retrying deployment creates (#3812)
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/deployment-deposit-refusal-cache/deployment-deposit-refusal-cache.service.spec.ts
  apps/api/src/billing/services/deployment-deposit-refusal-cache/deployment-deposit-refusal-cache.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.spec.ts
  apps/api/src/core/services/hono-error-handler/hono-error-handler.service.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
Due: api

refactor(deployment): log the owner's account state on unfunded deployment events (#3813)
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

feat(billing): attribute automatic charges to their trigger (#3814)
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
Due: api

chore(ci): report a security scan on the commit its pull request points at (#3821)
  .github/workflows/all-ci-unsafe.yml
Due: none

chore(ci): exclude the generated api artifacts from the pr size label (#3822)
  .github/workflows/labeler.yml
Due: none

refactor(billing): make Console the only source of truth for the default payment method (#3816)
  apps/api/src/billing/services/payment-method/payment-method.service.integration.ts
  apps/api/src/billing/services/payment-method/payment-method.service.spec.ts
  apps/api/src/billing/services/payment-method/payment-method.service.ts
Due: api

chore: updates coderabbit
  .coderabbit.yaml
Due: none

chore: updates coderabbit (#3834)
  .coderabbit.yaml
Due: none

test(dx): add stryker mutation testing for changed lines
  .github/workflows/reusable-validate-app.yml
  .gitignore
  apps/api/vitest.mutation.config.ts
  apps/deploy-web/vitest.mutation.config.ts
  apps/notifications/vitest.mutation.config.ts
  apps/provider-inventory/vitest.mutation.config.ts
  apps/provider-proxy/vitest.mutation.config.ts
  apps/tx-signer/vitest.mutation.config.ts
  package-lock.json
  package.json
  packages/dev-config/vitest/mutation.d.mts
  packages/dev-config/vitest/mutation.mjs
  stryker.config.mjs
Due: api, deploy-web, notifications, provider-proxy

chore(ci): declare the mutation configs as knip entries
  knip.json
Due: none

chore(ci): diff mutation targets from the merge base when history allows
  script/mutation-targets.mjs
Due: none

chore(ci): ignore the mutation report the documented local run writes
  .gitignore
Due: none

chore(ci): run mutants against the changed files' own specs
  .github/workflows/reusable-validate-app.yml
  script/mutation-targets.mjs
Due: none

chore(ci): target the pull request's own lines and let the dry run finish
  .github/workflows/reusable-validate-app.yml
  stryker.config.mjs
Due: none

chore(ci): derive mutation targets from each app's coverage config
  .github/workflows/reusable-validate-app.yml
  knip.json
  package-lock.json
  package.json
  script/mutation-report.mjs
  script/mutation-targets.mjs
Due: none

chore(ci): mutate the source tree when a workspace declares no coverage include
  script/mutation-targets.mjs
Due: none

chore(ci): render survivor replacements as html code cells
  .github/workflows/reusable-validate-app.yml
  script/mutation-report.mjs
  script/mutation-targets.mjs
Due: none

test(dx): add stryker mutation testing for changed lines (#3833)
  .github/workflows/reusable-validate-app.yml
  .gitignore
  apps/api/vitest.mutation.config.ts
  apps/deploy-web/vitest.mutation.config.ts
  apps/notifications/vitest.mutation.config.ts
  apps/provider-inventory/vitest.mutation.config.ts
  apps/provider-proxy/vitest.mutation.config.ts
  apps/tx-signer/vitest.mutation.config.ts
  knip.json
  package-lock.json
  package.json
  packages/dev-config/vitest/mutation.d.mts
  packages/dev-config/vitest/mutation.mjs
  script/mutation-report.mjs
  script/mutation-targets.mjs
  stryker.config.mjs
Due: api, deploy-web, notifications, provider-proxy
