Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

chore: enable testing
  .github/actions/associated-pr/action.yml
  .github/actions/poll-check-status/action.yml
  .github/workflows/all-ci-unsafe.yml
Due: none

chore: refactors gha related security (#3085)
  .github/actions/associated-pr/action.yml
  .github/actions/poll-check-status/action.yml
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/auto-approval.yml
  .github/workflows/reusable-validate-app-unsafe.yml
Due: none

feat(onboarding): add email verification code UI (#3052)
  apps/api/src/auth/repositories/email-verification-code/email-verification-code.repository.ts
  apps/api/src/auth/services/email-verification-code/email-verification-code.service.spec.ts
  apps/api/src/auth/services/email-verification-code/email-verification-code.service.ts
  apps/deploy-web/src/components/onboarding/OnboardingView/OnboardingView.tsx
  apps/deploy-web/src/components/onboarding/VerifyEmailPage/VerifyEmailPage.spec.tsx
  apps/deploy-web/src/components/onboarding/VerifyEmailPage/VerifyEmailPage.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/VerificationCodeInput.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/VerificationCodeInput.tsx
  apps/deploy-web/src/hooks/useEmailVerificationRequiredEventHandler.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
  packages/ui/components/custom/snackbar.tsx
Due: api, deploy-web

refactor(onboarding): infer step from user state instead of localStorage
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/OnboardingView/OnboardingView.tsx
  apps/deploy-web/src/components/onboarding/VerifyEmailPage/VerifyEmailPage.tsx
  apps/deploy-web/src/services/auth/auth/auth.service.spec.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/storage/keys.ts
Due: deploy-web

chore: provides ref and sha for codeql action
  .github/workflows/all-ci-unsafe.yml
Due: none

chore: provides ref and sha for codeql action (#3093)
  .github/workflows/all-ci-unsafe.yml
Due: none

chore: sets actions/checkout ref for codeql
  .github/workflows/all-ci-unsafe.yml
Due: none

chore: sets actions/checkout ref for codeql (#3094)
  .github/workflows/all-ci-unsafe.yml
Due: none

test(onboarding): align E2E with email verification code UI
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
  apps/deploy-web/tests/ui/managed-wallet-onboarding.spec.ts
  apps/deploy-web/tests/ui/pages/OnboardingPage.ts
Due: deploy-web

test(onboarding): default EMAIL_VERIFICATION_STRATEGY to mailsac-code
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
Due: deploy-web

test(onboarding): align E2E with email verification code UI (#3092)
  .github/actions/console-web-ui-testing/action.yml
  .github/workflows/console-web-release.yml
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/managed-wallet-onboarding.spec.ts
  apps/deploy-web/tests/ui/pages/OnboardingPage.ts
Due: deploy-web

refactor(onboarding): drop dead link-based email verification strategy
  .github/actions/console-web-ui-testing/action.yml
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/services/email-verification/index.ts
  apps/deploy-web/tests/ui/services/email-verification/mailsac.strategy.ts
Due: deploy-web

fix(network): read faucet URL from meta.json with txt fallback
  packages/net/scripts/generate.ts
Due: none

fix(network): prefer txt faucet URL when file is present
  packages/net/scripts/generate.ts
Due: none

fix(network): read faucet URL from meta.json with txt fallback (#3091)
  packages/net/scripts/generate.ts
Due: none

refactor(onboarding): drop dead link-based email verification strategy (#3095)
  .github/actions/console-web-ui-testing/action.yml
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/services/email-verification/index.ts
  apps/deploy-web/tests/ui/services/email-verification/mailsac.strategy.ts
Due: deploy-web

feat: add nodejs permissions model to tx-signer
  apps/tx-signer/package.json
  apps/tx-signer/tsup.config.ts
Due: none

feat: add nodejs permissions model to tx-signer (#3086)
  apps/tx-signer/package.json
  apps/tx-signer/tsup.config.ts
Due: none

chore: updates github action versions and pin them
  .github/actions/associated-pr/action.yml
  .github/actions/console-web-ui-testing/action.yml
  .github/actions/poll-check-status/action.yml
  .github/actions/setup-app-deps/action.yml
  .github/actions/slack-pending-deployment-approval/action.yml
  .github/actions/slack-tests-failed-notification/action.yml
  .github/workflows/akash-templates-publisher.yml
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/all-ci.yml
  .github/workflows/all-deploy-testnet.yml
  .github/workflows/all-release.yml
  .github/workflows/auto-approval.yml
  .github/workflows/console-api-release.yml
  .github/workflows/console-web-release.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/diff-package-lock.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/local-packages-ci.yml
  .github/workflows/log-collector-release.yml
  .github/workflows/provider-proxy-release.yml
  .github/workflows/reusable-build-image.yml
  .github/workflows/reusable-create-github-release.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/reusable-deploy-setup.yml
  .github/workflows/reusable-release-app.yml
  .github/workflows/reusable-release-nextjs-app.yml
  .github/workflows/reusable-should-validate.yml
  .github/workflows/reusable-validate-app-unsafe.yml
  .github/workflows/reusable-validate-app.yml
Due: none

refactor: another batch of changes in indexer towards strict types
  apps/indexer/src/chain/dataStore.ts
  apps/indexer/src/chain/nodeAccessor.ts
  apps/indexer/src/chain/nodeInfo.ts
  apps/indexer/src/indexers/indexer.ts
  apps/indexer/tsconfig.strict.json
Due: indexer

chore: updates github action versions and pin them (#3096)
  .github/actions/associated-pr/action.yml
  .github/actions/console-web-ui-testing/action.yml
  .github/actions/poll-check-status/action.yml
  .github/actions/setup-app-deps/action.yml
  .github/actions/slack-pending-deployment-approval/action.yml
  .github/actions/slack-tests-failed-notification/action.yml
  .github/workflows/akash-templates-publisher.yml
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/all-ci.yml
  .github/workflows/all-deploy-testnet.yml
  .github/workflows/all-release.yml
  .github/workflows/auto-approval.yml
  .github/workflows/console-api-release.yml
  .github/workflows/console-web-release.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/diff-package-lock.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/local-packages-ci.yml
  .github/workflows/log-collector-release.yml
  .github/workflows/provider-proxy-release.yml
  .github/workflows/reusable-build-image.yml
  .github/workflows/reusable-create-github-release.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/reusable-deploy-setup.yml
  .github/workflows/reusable-release-app.yml
  .github/workflows/reusable-release-nextjs-app.yml
  .github/workflows/reusable-should-validate.yml
  .github/workflows/reusable-validate-app-unsafe.yml
  .github/workflows/reusable-validate-app.yml
Due: none

chore(ci): add nodejs permissions model to indexer
  apps/indexer/package.json
  apps/indexer/tsup.config.ts
Due: indexer

fix: allow addons and set LIBC in dockerfile
  apps/indexer/package.json
  packages/docker/Dockerfile.node
Due: indexer

feat(deployment): add shell-exec endpoint for synchronous command execution
  apps/api/package.json
  apps/api/src/deployment/controllers/shell-exec/shell-exec.controller.spec.ts
  apps/api/src/deployment/controllers/shell-exec/shell-exec.controller.ts
  apps/api/src/deployment/http-schemas/shell-exec.schema.ts
  apps/api/src/deployment/routes/shell-exec/shell-exec.router.ts
  apps/api/src/deployment/services/shell-exec/shell-exec.service.spec.ts
  apps/api/src/deployment/services/shell-exec/shell-exec.service.ts
  apps/api/src/rest-app.ts
  apps/api/src/routes/deployment/index.ts
  package-lock.json
Due: api

feat: adds DB fallback to oracle pricing in market-data endpoint (#3082)
  apps/api/src/chain/services/denom-exchange/denom-exchange.service.spec.ts
  apps/api/src/chain/services/denom-exchange/denom-exchange.service.ts
  apps/api/src/gpu/repositories/day.repository.ts
  apps/api/test/functional/market-data.spec.ts
Due: api

feat: add nodejs permissions model to indexer (#3087)
  apps/indexer/package.json
  apps/indexer/tsup.config.ts
  packages/docker/Dockerfile.node
Due: indexer

chore(ci): add nodejs permissions model to notifications
  apps/notifications/package.json
  apps/notifications/tsup.config.ts
Due: notifications

fix: ignores root .env file loading in notifications service
  apps/notifications/src/interfaces/alert-events/alert-events.module.ts
  apps/notifications/src/interfaces/chain-events/chain-events.module.ts
  apps/notifications/src/interfaces/notifications-events/notifications-events.module.ts
  apps/notifications/src/interfaces/rest/rest.module.ts
Due: notifications

fix: allow indexer to read/write nested folders in data/ folder
  apps/indexer/package.json
Due: indexer

fix: allow indexer to read/write nested folders in data/ folder (#3100)
  apps/indexer/package.json
Due: indexer

feat: add nodejs permissions model to notifications (#3089)
  apps/notifications/package.json
  apps/notifications/src/interfaces/alert-events/alert-events.module.ts
  apps/notifications/src/interfaces/chain-events/chain-events.module.ts
  apps/notifications/src/interfaces/notifications-events/notifications-events.module.ts
  apps/notifications/src/interfaces/rest/rest.module.ts
  apps/notifications/tsup.config.ts
Due: notifications

test(onboarding): add managed wallet deployment E2E and refactor test infrastructure
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.tsx
  apps/deploy-web/src/components/new-deployment/DeployOptionBox.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.tsx
  apps/deploy-web/src/components/sdl/SimpleServiceFormControl.tsx
  apps/deploy-web/src/components/shared/Editor/Editor.spec.tsx
  apps/deploy-web/src/components/shared/Editor/Editor.tsx
  apps/deploy-web/tests/ui/build-template.spec.ts
  apps/deploy-web/tests/ui/custom-container-form.spec.ts
  apps/deploy-web/tests/ui/deploy-custom-template.spec.ts
  apps/deploy-web/tests/ui/deploy-from-a-template.spec.ts
  apps/deploy-web/tests/ui/deploy-hello-world.spec.ts
  apps/deploy-web/tests/ui/deploy-linux.spec.ts
  apps/deploy-web/tests/ui/deploy-self-custody-hello-world.spec.ts
  apps/deploy-web/tests/ui/fixture/authenticated-test.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/managed-wallet-credits.spec.ts
  apps/deploy-web/tests/ui/managed-wallet-deployment.spec.ts
  apps/deploy-web/tests/ui/pages/BillingPage.ts
  apps/deploy-web/tests/ui/pages/BuildTemplatePage.tsx
  apps/deploy-web/tests/ui/pages/DeployBasePage.tsx
  apps/deploy-web/tests/ui/pages/DeployCustomTemplatePage.tsx
  apps/deploy-web/tests/ui/pages/DeployHelloWorldPage.tsx
  apps/deploy-web/tests/ui/pages/DeployPage.tsx
  apps/deploy-web/tests/ui/pages/PlainLinuxPage.tsx
  apps/deploy-web/tests/ui/pages/Sidebar.ts
  apps/deploy-web/tests/ui/sdl-builder-deployment.spec.ts
  apps/deploy-web/tests/ui/services/email-verification/mailsac-code.strategy.ts
  apps/deploy-web/tests/ui/uiState/isWalletConnected.ts
Due: deploy-web

test(onboarding): add E2E API key management test for managed wallet
  apps/deploy-web/tests/ui/managed-wallet-api-keys.spec.ts
  apps/deploy-web/tests/ui/pages/ApiKeysPage.ts
Due: deploy-web

test(onboarding): add E2E API key management test for managed wallet (#3101)
  apps/deploy-web/tests/ui/managed-wallet-api-keys.spec.ts
  apps/deploy-web/tests/ui/pages/ApiKeysPage.ts
Due: deploy-web

feat(managed-wallet): add managed wallet deployment E2E and refactor test infrastructure (#3099)
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.tsx
  apps/deploy-web/src/components/new-deployment/DeployOptionBox.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.tsx
  apps/deploy-web/src/components/sdl/SimpleServiceFormControl.tsx
  apps/deploy-web/src/components/shared/Editor/Editor.spec.tsx
  apps/deploy-web/src/components/shared/Editor/Editor.tsx
  apps/deploy-web/tests/ui/build-template.spec.ts
  apps/deploy-web/tests/ui/custom-container-form.spec.ts
  apps/deploy-web/tests/ui/deploy-custom-template.spec.ts
  apps/deploy-web/tests/ui/deploy-from-a-template.spec.ts
  apps/deploy-web/tests/ui/deploy-hello-world.spec.ts
  apps/deploy-web/tests/ui/deploy-linux.spec.ts
  apps/deploy-web/tests/ui/deploy-self-custody-hello-world.spec.ts
  apps/deploy-web/tests/ui/fixture/authenticated-test.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/managed-wallet-api-keys.spec.ts
  apps/deploy-web/tests/ui/managed-wallet-credits.spec.ts
  apps/deploy-web/tests/ui/managed-wallet-deployment.spec.ts
  apps/deploy-web/tests/ui/pages/ApiKeysPage.ts
  apps/deploy-web/tests/ui/pages/BillingPage.ts
  apps/deploy-web/tests/ui/pages/BuildTemplatePage.tsx
  apps/deploy-web/tests/ui/pages/DeployBasePage.tsx
  apps/deploy-web/tests/ui/pages/DeployCustomTemplatePage.tsx
  apps/deploy-web/tests/ui/pages/DeployHelloWorldPage.tsx
  apps/deploy-web/tests/ui/pages/DeployPage.tsx
  apps/deploy-web/tests/ui/pages/PlainLinuxPage.tsx
  apps/deploy-web/tests/ui/pages/Sidebar.ts
  apps/deploy-web/tests/ui/sdl-builder-deployment.spec.ts
  apps/deploy-web/tests/ui/services/email-verification/mailsac-code.strategy.ts
  apps/deploy-web/tests/ui/uiState/isWalletConnected.ts
Due: deploy-web

feat(alert): add E2E deployment alerts test and fix threshold rounding
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/deployments/DeploymentBalanceAlert/DeploymentBalanceAlert.tsx
  apps/deploy-web/src/components/deployments/DeploymentCloseAlert/DeploymentCloseAlert.tsx
  apps/deploy-web/src/components/shared/Fieldset.tsx
  apps/deploy-web/tests/ui/actions/deploy.ts
  apps/deploy-web/tests/ui/managed-wallet-alerts.spec.ts
  apps/deploy-web/tests/ui/managed-wallet-deployment.spec.ts
  apps/deploy-web/tests/ui/pages/AlertsPage.ts
  apps/deploy-web/tests/ui/pages/DeployPage.tsx
  apps/deploy-web/tests/ui/pages/DeploymentAlertsForm.ts
  apps/deploy-web/tests/ui/pages/Sidebar.ts
  packages/net/src/generated/netConfigData.ts
Due: deploy-web

fix(onboarding): use getByLabel for template selection in DeployPage
  apps/deploy-web/tests/ui/pages/DeployPage.tsx
  apps/deploy-web/tests/ui/pages/DeploymentAlertsForm.ts
Due: deploy-web

refactor(alert): use aria-labelledby instead of aria-label for alert sections
  apps/deploy-web/src/components/deployments/DeploymentBalanceAlert/DeploymentBalanceAlert.tsx
  apps/deploy-web/src/components/deployments/DeploymentCloseAlert/DeploymentCloseAlert.tsx
  apps/deploy-web/src/components/shared/Fieldset.tsx
Due: deploy-web

feat(alert): add E2E deployment alerts test and fix threshold rounding (#3102)
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.tsx
  apps/deploy-web/src/components/deployments/DeploymentBalanceAlert/DeploymentBalanceAlert.tsx
  apps/deploy-web/src/components/deployments/DeploymentCloseAlert/DeploymentCloseAlert.tsx
  apps/deploy-web/src/components/shared/Fieldset.tsx
  apps/deploy-web/tests/ui/actions/deploy.ts
  apps/deploy-web/tests/ui/managed-wallet-alerts.spec.ts
  apps/deploy-web/tests/ui/managed-wallet-deployment.spec.ts
  apps/deploy-web/tests/ui/pages/AlertsPage.ts
  apps/deploy-web/tests/ui/pages/DeployPage.tsx
  apps/deploy-web/tests/ui/pages/DeploymentAlertsForm.ts
  apps/deploy-web/tests/ui/pages/Sidebar.ts
  packages/net/src/generated/netConfigData.ts
Due: deploy-web
