Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

test(deployment): generate the sealed password in the definition sealing spec
  apps/deploy-web/src/utils/sdl/sendSealedDefinition.spec.ts
Due: deploy-web

feat(deployment): record running deployments kept only in this browser (#4288)
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/DeploymentCopyCleanup.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/DeploymentCopyCleanup.tsx
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/deploymentCopyFate.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentCopyCleanup/deploymentCopyFate.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/DeploymentUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/ProtectedVariablesNotice.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentUpdate/useDefinitionImport.tsx
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.ts
  apps/deploy-web/src/hooks/useDeploymentNameBackfill/useDeploymentNameBackfill.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentNameBackfill/useDeploymentNameBackfill.ts
  apps/deploy-web/src/services/deployment-name-backfill/deployment-name-backfill.service.spec.ts
  apps/deploy-web/src/services/deployment-name-backfill/deployment-name-backfill.service.ts
  apps/deploy-web/src/utils/sdl/browserRestoreDeadline.spec.ts
  apps/deploy-web/src/utils/sdl/browserRestoreDeadline.ts
  apps/deploy-web/src/utils/sdl/sendSealedDefinition.spec.ts
  apps/deploy-web/src/utils/sdl/sendSealedDefinition.ts
Due: deploy-web

fix(billing): say a reversed commission was taken back, not refunded
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
Due: deploy-web

feat(notifications): show recent activity behind a bell in the top navigation
  apps/deploy-web/src/components/activity/ActivityBell/ActivityBell.spec.tsx
  apps/deploy-web/src/components/activity/ActivityBell/ActivityBell.tsx
  apps/deploy-web/src/components/activity/ActivityBell/activityEntries.spec.ts
  apps/deploy-web/src/components/activity/ActivityBell/activityEntries.ts
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.tsx
  apps/deploy-web/src/components/activity/activityLabels/activityLabels.spec.ts
  apps/deploy-web/src/components/activity/activityLabels/activityLabels.ts
  apps/deploy-web/src/components/layout/TopNav/TopNav.spec.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNav.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.spec.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.ts
Due: deploy-web

fix(billing): show the whole referral link
  apps/deploy-web/src/components/referrals/ReferralsPage/ReferralsPage.tsx
Due: deploy-web

fix(notifications): read the bell from the feed the activity host polls
  apps/deploy-web/src/components/activity/ActivityBell/ActivityBell.spec.tsx
  apps/deploy-web/src/components/activity/ActivityBell/ActivityBell.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.spec.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.ts
Due: deploy-web

feat(notifications): show recent activity behind a bell in the top navigation (#4289)
  apps/deploy-web/src/components/activity/ActivityBell/ActivityBell.spec.tsx
  apps/deploy-web/src/components/activity/ActivityBell/ActivityBell.tsx
  apps/deploy-web/src/components/activity/ActivityBell/activityEntries.spec.ts
  apps/deploy-web/src/components/activity/ActivityBell/activityEntries.ts
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.tsx
  apps/deploy-web/src/components/activity/activityLabels/activityLabels.spec.ts
  apps/deploy-web/src/components/activity/activityLabels/activityLabels.ts
  apps/deploy-web/src/components/layout/TopNav/TopNav.spec.tsx
  apps/deploy-web/src/components/layout/TopNav/TopNav.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.spec.tsx
  apps/deploy-web/src/queries/useLatestActivitiesQuery.ts
Due: deploy-web

feat(deployment): send the configure back link to where the deployment started
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LeaveConfigureButton/LeaveConfigureButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LeaveConfigureButton/LeaveConfigureButton.tsx
Due: deploy-web

feat(styling): add the dotted page background to the redesigned pages
  apps/deploy-web/src/components/alerts/AlertsPage.tsx
  apps/deploy-web/src/components/api-keys/ApiKeysPage/ApiKeysPage.tsx
  apps/deploy-web/src/components/billing-usage/BillingPage.tsx
  apps/deploy-web/src/components/billing-usage/UsagePage.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsEmptyState.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/SettingsLayout/SettingsLayout.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentPage/NewDeploymentPage.tsx
  apps/deploy-web/src/components/providers/ProviderProfile/ProviderProfile.tsx
  apps/deploy-web/src/components/providers/ProvidersExplorer/ProvidersExplorer.tsx
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.tsx
  apps/deploy-web/src/components/templates/TemplateDetail.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.tsx
  apps/deploy-web/src/components/user/ProfilePage/ProfilePage.tsx
  apps/deploy-web/tailwind.config.ts
Due: deploy-web

feat(styling): add the dotted page background to the redesigned pages (#4290)
  apps/deploy-web/src/components/alerts/AlertsPage.tsx
  apps/deploy-web/src/components/api-keys/ApiKeysPage/ApiKeysPage.tsx
  apps/deploy-web/src/components/billing-usage/BillingPage.tsx
  apps/deploy-web/src/components/billing-usage/UsagePage.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsEmptyState.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/SettingsLayout/SettingsLayout.tsx
  apps/deploy-web/src/components/new-deployment/NewDeploymentPage/NewDeploymentPage.tsx
  apps/deploy-web/src/components/providers/ProviderProfile/ProviderProfile.tsx
  apps/deploy-web/src/components/providers/ProvidersExplorer/ProvidersExplorer.tsx
  apps/deploy-web/src/components/providers/ProvidersPage/ProvidersPage.tsx
  apps/deploy-web/src/components/templates/TemplateDetail.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.tsx
  apps/deploy-web/src/components/user/ProfilePage/ProfilePage.tsx
  apps/deploy-web/tailwind.config.ts
Due: deploy-web

feat(deployment): send the configure back link to where the deployment started (#4291)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LeaveConfigureButton/LeaveConfigureButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/LeaveConfigureButton/LeaveConfigureButton.tsx
Due: deploy-web

fix(deployment): give the visit button and the log viewers the full phone width
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/DeploymentVisitControl.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/pageBand.ts
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/components/templates/TemplateDetail.tsx
Due: deploy-web

feat(notifications): let users page and filter their whole activity history
  apps/deploy-web/src/components/activity/ActivityBell/ActivityBell.spec.tsx
  apps/deploy-web/src/components/activity/ActivityBell/ActivityBell.tsx
  apps/deploy-web/src/components/activity/ActivityEntryContent/ActivityEntryContent.tsx
  apps/deploy-web/src/components/activity/ActivityHistoryPage/ActivityHistoryPage.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHistoryPage/ActivityHistoryPage.tsx
  apps/deploy-web/src/components/activity/activityEntries/activityEntries.spec.ts
  apps/deploy-web/src/components/activity/activityEntries/activityEntries.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.ts
  apps/deploy-web/src/pages/activity/index.tsx
  apps/deploy-web/src/queries/useActivityHistoryQuery.spec.tsx
  apps/deploy-web/src/queries/useActivityHistoryQuery.ts
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

fix(deployment): give the visit button and the log viewers the full phone width (#4292)
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentVisitControl/DeploymentVisitControl.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/pageBand.ts
  apps/deploy-web/src/components/deployments/DeploymentLeaseShell.tsx
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.spec.tsx
  apps/deploy-web/src/components/deployments/ManifestUpdate/ManifestUpdate.tsx
  apps/deploy-web/src/components/templates/TemplateDetail.tsx
Due: deploy-web

fix(notifications): hold the history paging while a page is still loading
  apps/deploy-web/src/components/activity/ActivityHistoryPage/ActivityHistoryPage.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHistoryPage/ActivityHistoryPage.tsx
Due: deploy-web

feat(notifications): let users page and filter their whole activity history (#4293)
  apps/deploy-web/src/components/activity/ActivityBell/ActivityBell.spec.tsx
  apps/deploy-web/src/components/activity/ActivityBell/ActivityBell.tsx
  apps/deploy-web/src/components/activity/ActivityEntryContent/ActivityEntryContent.tsx
  apps/deploy-web/src/components/activity/ActivityHistoryPage/ActivityHistoryPage.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHistoryPage/ActivityHistoryPage.tsx
  apps/deploy-web/src/components/activity/activityEntries/activityEntries.spec.ts
  apps/deploy-web/src/components/activity/activityEntries/activityEntries.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.ts
  apps/deploy-web/src/pages/activity/index.tsx
  apps/deploy-web/src/queries/useActivityHistoryQuery.spec.tsx
  apps/deploy-web/src/queries/useActivityHistoryQuery.ts
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

fix(notifications): strip client-supplied identity headers in the proxy
  apps/api/src/notifications/lib/identity-headers/identity-headers.spec.ts
  apps/api/src/notifications/lib/identity-headers/identity-headers.ts
  apps/api/src/notifications/routes/proxy/proxy.route.spec.ts
  apps/api/src/notifications/routes/proxy/proxy.route.ts
  apps/api/test/functional/notifications-proxy.spec.ts
Due: api

fix(auth): apply user-targeted feature flags right after an in-app sign-in
  apps/deploy-web/src/context/FlagProvider/FlagProvider.spec.tsx
  apps/deploy-web/src/context/FlagProvider/FlagProvider.tsx
Due: deploy-web

feat(auth): hide routes behind a feature flag with createRoute
  apps/api/src/core/lib/create-route/create-route.spec.ts
  apps/api/src/core/lib/create-route/create-route.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/middlewares/feature-flag-gate/feature-flag-gate.middleware.spec.ts
  apps/api/src/middlewares/feature-flag-gate/feature-flag-gate.middleware.ts
  apps/api/test/functional/feature-flag-gated-route.spec.ts
  apps/api/test/isolated-unit-tests.json
Due: api

feat(analytics): fill the remaining gaps in add credits payment events
  apps/deploy-web/src/components/auth/AddCreditsSheet/AddCreditsSheet.spec.tsx
  apps/deploy-web/src/components/auth/AddCreditsSheet/AddCreditsSheet.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsTabs/AddCreditsTabs.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsTabs/AddCreditsTabs.tsx
Due: deploy-web

refactor(notifications): describe the identity header list as reserved rather than minted
  apps/api/src/notifications/lib/identity-headers/identity-headers.ts
Due: api

test(auth): drive the flag context sync against a real Unleash client
  apps/deploy-web/src/context/FlagProvider/FlagProvider.spec.tsx
Due: deploy-web

feat(deployment): show the configure providers pane in a bottom sheet on phones
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspaceHeader/ConfigureWorkspaceHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspaceHeader/ConfigureWorkspaceHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/DeploymentCostBar/DeploymentCostBar.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/DeploymentCostBar/DeploymentCostBar.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ProvidersSheetBar/ProvidersSheetBar.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ProvidersSheetBar/ProvidersSheetBar.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/WorkspaceCtaButton/WorkspaceCtaButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/WorkspaceCtaButton/WorkspaceCtaButton.tsx
Due: deploy-web

feat(auth): keep feature-flagged routes out of the served OpenAPI docs
  apps/api/src/core/lib/create-route/create-route.spec.ts
  apps/api/src/core/lib/create-route/create-route.ts
  apps/api/src/middlewares/feature-flag-gate/feature-flag-gate.middleware.spec.ts
Due: api

feat(organization): carry the active organization from the cookie to the API
  .commitlintrc.json
  apps/deploy-web/src/lib/active-organization/active-organization-cookie.spec.ts
  apps/deploy-web/src/lib/active-organization/active-organization-cookie.ts
  apps/deploy-web/src/lib/active-organization/active-organization-deep-link.spec.ts
  apps/deploy-web/src/lib/active-organization/active-organization-deep-link.ts
  apps/deploy-web/src/lib/nextjs/api-routes-specs/proxy-path.spec.ts
  apps/deploy-web/src/lib/nextjs/proxyRequest/proxyRequest.spec.ts
  apps/deploy-web/src/lib/nextjs/proxyRequest/proxyRequest.ts
  apps/deploy-web/src/pages/api/proxy/[...path].ts
  apps/deploy-web/src/services/active-organization-forwarding/active-organization-forwarding.interceptor.spec.ts
  apps/deploy-web/src/services/active-organization-forwarding/active-organization-forwarding.interceptor.ts
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

feat(notifications): open what each activity is about from its toast
  apps/deploy-web/src/components/activity/ActivityBell/ActivityBell.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHistoryPage/ActivityHistoryPage.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.tsx
  apps/deploy-web/src/components/activity/activityDestinations/activityDestinations.spec.ts
  apps/deploy-web/src/components/activity/activityDestinations/activityDestinations.ts
  apps/deploy-web/src/components/activity/activityEntries/activityEntries.ts
Due: deploy-web

feat(deployment): show the configure providers pane in a bottom sheet on phones (#4298)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/AvailabilityPane/AvailabilityPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspaceHeader/ConfigureWorkspaceHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspaceHeader/ConfigureWorkspaceHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/DeploymentCostBar/DeploymentCostBar.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/DeploymentCostBar/DeploymentCostBar.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ProvidersSheetBar/ProvidersSheetBar.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ProvidersSheetBar/ProvidersSheetBar.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/WorkspaceCtaButton/WorkspaceCtaButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/WorkspaceCtaButton/WorkspaceCtaButton.tsx
Due: deploy-web

feat(analytics): fill the remaining gaps in add credits payment events (#4297)
  apps/deploy-web/src/components/auth/AddCreditsSheet/AddCreditsSheet.spec.tsx
  apps/deploy-web/src/components/auth/AddCreditsSheet/AddCreditsSheet.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsForm/AddCreditsForm.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsTabs/AddCreditsTabs.spec.tsx
  apps/deploy-web/src/components/billing-usage/AddCreditsTabs/AddCreditsTabs.tsx
Due: deploy-web

refactor(deployment): save a deployment update before applying it on chain
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.integration.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

refactor(deployment): split a create into accepting it and creating it on chain
  apps/api/src/billing/services/chain-error/chain-error.service.spec.ts
  apps/api/src/billing/services/chain-error/chain-error.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.integration.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/utils/create-deployment-message/create-deployment-message.spec.ts
  apps/api/src/deployment/utils/create-deployment-message/create-deployment-message.ts
Due: api

refactor(auth): share the drizzle ability layer as a package
  AGENTS.md
  CLAUDE.md
  README.md
  apps/api/package.json
  apps/api/src/core/repositories/base.repository.ts
  apps/api/src/lib/drizzle-ability/drizzle-ability.ts
  apps/notifications/package.json
  apps/notifications/src/lib/drizzle-ability/drizzle-ability.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.ts
  knip.json
  lint-staged.config.mjs
  package-lock.json
  packages/docker/docker-compose.dev.yml
  packages/drizzle-ability/eslint.config.mjs
  packages/drizzle-ability/package.json
  packages/drizzle-ability/src/drizzle-ability.spec.ts
  packages/drizzle-ability/src/drizzle-ability.ts
  packages/drizzle-ability/src/index.ts
  packages/drizzle-ability/tsconfig.build.json
  packages/drizzle-ability/tsconfig.json
  packages/drizzle-ability/vitest.config.ts
Due: api, notifications

feat(organization): keep the active organization off the sign-in client
  apps/deploy-web/src/lib/active-organization/active-organization-cookie.spec.ts
  apps/deploy-web/src/lib/active-organization/active-organization-cookie.ts
  apps/deploy-web/src/lib/nextjs/api-routes-specs/proxy-path.spec.ts
  apps/deploy-web/src/lib/nextjs/api-routes-specs/server-api-clients.spec.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/services/active-organization-forwarding/active-organization-forwarding.interceptor.spec.ts
  apps/deploy-web/src/services/active-organization-forwarding/active-organization-forwarding.interceptor.ts
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
Due: deploy-web

feat(organization): add organization and project tables
  .commitlintrc.json
  apps/api/drizzle.config.ts
  apps/api/drizzle/0074_organizations.sql
  apps/api/drizzle/meta/0074_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/app/console.ts
  apps/api/src/auth/model-schemas/api-key/api-key.schema.ts
  apps/api/src/billing/model-schemas/payment-method/payment-method.schema.ts
  apps/api/src/billing/model-schemas/stripe-transaction/stripe-transaction.schema.ts
  apps/api/src/billing/model-schemas/user-wallet/user-wallet.schema.ts
  apps/api/src/billing/model-schemas/wallet-setting/wallet-setting.schema.ts
  apps/api/src/billing/services/stripe-transaction/stripe-transaction.service.spec.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/controllers/deployment-setting/deployment-setting.controller.spec.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/organization/model-schemas/index.ts
  apps/api/src/organization/model-schemas/organization-invitation/organization-invitation.schema.ts
  apps/api/src/organization/model-schemas/organization-member/organization-member.schema.ts
  apps/api/src/organization/model-schemas/organization/organization.schema.ts
  apps/api/src/organization/model-schemas/project-member/project-member.schema.ts
  apps/api/src/organization/model-schemas/project/project.schema.ts
  apps/api/src/user/model-schemas/template/template.schema.ts
  apps/api/src/user/model-schemas/user/user.schema.ts
  apps/api/test/functional/balances.spec.ts
  apps/api/test/seeders/api-key.seeder.ts
  apps/api/test/seeders/database-payment-method.seeder.ts
  apps/api/test/seeders/database-stripe-transaction.seeder.ts
  apps/api/test/seeders/user-wallet.seeder.ts
  apps/api/test/seeders/user.seeder.ts
  apps/api/test/seeders/wallet-setting.seeder.ts
Due: api

feat(organization): give every registered user a personal organization
  apps/api/src/organization/lib/personal-organization/personal-organization.spec.ts
  apps/api/src/organization/lib/personal-organization/personal-organization.ts
  apps/api/src/organization/repositories/organization-adoption/organization-adoption.repository.ts
  apps/api/src/organization/repositories/organization-member/organization-member.repository.integration.ts
  apps/api/src/organization/repositories/organization-member/organization-member.repository.ts
  apps/api/src/organization/repositories/organization/organization.repository.integration.ts
  apps/api/src/organization/repositories/organization/organization.repository.ts
  apps/api/src/organization/repositories/project/project.repository.integration.ts
  apps/api/src/organization/repositories/project/project.repository.ts
  apps/api/src/organization/services/organization-member/organization-member.service.integration.ts
  apps/api/src/organization/services/organization-member/organization-member.service.spec.ts
  apps/api/src/organization/services/organization-member/organization-member.service.ts
  apps/api/src/organization/services/personal-organization/personal-organization.service.integration.ts
  apps/api/src/organization/services/personal-organization/personal-organization.service.spec.ts
  apps/api/src/organization/services/personal-organization/personal-organization.service.ts
  apps/api/src/user/services/user/user.service.integration.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/functional/register-user.spec.ts
  apps/api/test/seeders/db/organization.seeder.ts
  apps/api/test/seeders/index.ts
  apps/api/test/seeders/organization.seeder.ts
Due: api

fix(organization): leave the new columns out of flag-off responses
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/user/controllers/user/user.controller.spec.ts
  apps/api/src/user/controllers/user/user.controller.ts
  apps/api/test/isolated-unit-tests.json
Due: api

fix(organization): keep the organizations migration from holding long locks
  apps/api/drizzle/0074_organizations.sql
  apps/api/drizzle/meta/0074_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/auth/model-schemas/api-key/api-key.schema.ts
  apps/api/src/deployment/model-schemas/deployment-setting/deployment-setting.schema.ts
Due: api

fix(organization): file each table of a user's rows on its own
  apps/api/src/organization/repositories/organization-adoption/organization-adoption.repository.ts
  apps/api/src/organization/services/personal-organization/personal-organization.service.spec.ts
  apps/api/src/organization/services/personal-organization/personal-organization.service.ts
Due: api

fix(organization): delete the personal organization with the account
  apps/api/src/user/services/account-deletion/account-deletion.service.integration.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.spec.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.ts
Due: api

fix(organization): file api keys into the organization without a project
  apps/api/src/organization/repositories/organization-adoption/organization-adoption.repository.ts
  apps/api/src/organization/services/personal-organization/personal-organization.service.integration.ts
Due: api

fix(auth): keep today's rules when the organization shadow cannot be built
  apps/api/src/auth/services/ability/ability.service.spec.ts
  apps/api/src/auth/services/ability/ability.service.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
