Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(stats): render MsgLeaseStartReclaim in transaction explorer (#3285)
  apps/stats-web/src/components/transactions/akash/MsgLeaseStartReclaim.tsx
  apps/stats-web/src/components/transactions/akash/index.ts
  apps/stats-web/src/lib/leaseCloseReason.spec.ts
  apps/stats-web/src/lib/leaseCloseReason.ts
Due: stats-web

refactor(deployment): rename ReclamationCard handlers per review
  apps/deploy-web/src/components/deployments/ReclamationCard/ReclamationCard.tsx
Due: deploy-web

fix(sdl): preserve service command/args on import instead of forcing sh -c
  apps/deploy-web/src/components/sdl/CommandFormModal.tsx
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.ts
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
Due: deploy-web

fix(sdl): preserve service command/args on import instead of forcing sh -c (#3290)
  apps/deploy-web/src/components/sdl/CommandFormModal.tsx
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.ts
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
Due: deploy-web

fix(deployment): gate list lease-status query on live leases
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
Due: deploy-web

refactor(notifications): drop unused event dedupe and rename block events var
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
Due: notifications

fix(deployment): count reclaiming leases as live in home & provider views
  apps/deploy-web/src/components/home/YourAccount/YourAccount.tsx
  apps/deploy-web/src/components/providers/LeaseList.tsx
  apps/deploy-web/src/components/providers/LeaseListContainer.tsx
  apps/deploy-web/src/components/providers/ProviderDetail.tsx
  apps/deploy-web/src/components/providers/ProviderList.tsx
  apps/deploy-web/src/components/providers/ProviderRawData/ProviderRawData.tsx
Due: deploy-web

feat(notifications): email tenant when lease enters reclaiming state (#3278)
  apps/notifications/src/common/config/event-key-registry.config.ts
  apps/notifications/src/infrastructure/broker/services/broker/event-map.ts
  apps/notifications/src/interfaces/alert-events/handlers/chain-events/chain-events.handler.spec.ts
  apps/notifications/src/interfaces/alert-events/handlers/chain-events/chain-events.handler.ts
  apps/notifications/src/modules/alert/alert.module.ts
  apps/notifications/src/modules/alert/dto/event-lease-reclaim-started.dto.ts
  apps/notifications/src/modules/alert/repositories/alert/alert-json-fields.schema.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/alert/services/reclaim-alert/lease-closed-reason.spec.ts
  apps/notifications/src/modules/alert/services/reclaim-alert/lease-closed-reason.ts
  apps/notifications/src/modules/alert/services/reclaim-alert/reclaim-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/reclaim-alert/reclaim-alert.service.ts
  apps/notifications/src/modules/alert/services/reclaim-alert/reclaim-deadline.spec.ts
  apps/notifications/src/modules/alert/services/reclaim-alert/reclaim-deadline.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
  apps/notifications/test/functional/lease-reclaim-alert.spec.ts
Due: notifications

feat(deployment): display lease reclamation state & deadline (#3277)
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/deployments/LeaseChip.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/deployments/ReclamationBanner/ReclamationBanner.spec.tsx
  apps/deploy-web/src/components/deployments/ReclamationBanner/ReclamationBanner.tsx
  apps/deploy-web/src/components/deployments/ReclamationBanner/useCountdown.spec.ts
  apps/deploy-web/src/components/deployments/ReclamationBanner/useCountdown.ts
  apps/deploy-web/src/components/deployments/ReclamationCard/ReclamationCard.spec.tsx
  apps/deploy-web/src/components/deployments/ReclamationCard/ReclamationCard.tsx
  apps/deploy-web/src/components/home/YourAccount/YourAccount.tsx
  apps/deploy-web/src/components/providers/LeaseList.tsx
  apps/deploy-web/src/components/providers/LeaseListContainer.tsx
  apps/deploy-web/src/components/providers/ProviderDetail.tsx
  apps/deploy-web/src/components/providers/ProviderList.tsx
  apps/deploy-web/src/components/providers/ProviderRawData/ProviderRawData.tsx
  apps/deploy-web/src/components/shared/StatusPill.spec.tsx
  apps/deploy-web/src/components/shared/StatusPill.tsx
  apps/deploy-web/src/queries/useLeaseQuery.ts
  apps/deploy-web/src/types/deployment.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.spec.ts
  apps/deploy-web/src/utils/deploymentDetailUtils.ts
  apps/deploy-web/src/utils/reclamationUtils.spec.ts
  apps/deploy-web/src/utils/reclamationUtils.ts
  packages/http-sdk/src/lease/lease-http.service.ts
Due: deploy-web

refactor(deployment): simplify lease cost guard and align useLeaseStatus with isLeaseLive
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
Due: deploy-web

feat(bid): forward reclamation window through bid read path
  apps/api/src/bid/http-schemas/bid.schema.spec.ts
  apps/api/src/bid/http-schemas/bid.schema.ts
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.spec.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.tsx
  apps/deploy-web/src/queries/useBidQuery.spec.ts
  apps/deploy-web/src/queries/useBidQuery.ts
  apps/deploy-web/src/types/deployment.ts
  apps/deploy-web/src/utils/reclamationUtils.spec.ts
  apps/deploy-web/src/utils/reclamationUtils.ts
  packages/http-sdk/src/bid/bid-http.service.ts
Due: api, deploy-web

test(bid): update OpenAPI docs snapshot for reclamation_window field
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

chore: review
  apps/api/src/provider/services/provider-regions/provider-regions.service.integration.ts
  apps/api/src/utils/map/provider.spec.ts
  apps/api/src/utils/map/provider.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/providers.spec.ts
  apps/api/test/setup-functional-tests.ts
  apps/api/test/setup-integration-tests.ts
  apps/api/test/setup-provider-attributes-schema.ts
  config/community.code-workspace
  config/provider-attributes.json
  config/provider-attributes.md
Due: api

fix(deployment): polish reclamation card spacing, copy, and secondary button
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/deployments/ReclamationCard/ReclamationCard.spec.tsx
  apps/deploy-web/src/components/deployments/ReclamationCard/ReclamationCard.tsx
Due: deploy-web

fix(sdl): keep legacy builder placements independent per service
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
  apps/deploy-web/src/components/remote-deploy/update/RemoteDeployUpdate.tsx
  apps/deploy-web/src/components/sdl/ImportSdlModal.tsx
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.spec.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.ts
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
Due: deploy-web

fix(sdl): keep legacy builder placements independent per service (#3292)
  apps/deploy-web/src/components/new-deployment/SdlBuilder.tsx
  apps/deploy-web/src/components/remote-deploy/update/RemoteDeployUpdate.tsx
  apps/deploy-web/src/components/sdl/ImportSdlModal.tsx
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.spec.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.ts
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
Due: deploy-web

feat(deployment): add placements and services pane to configure screen
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentContainer/ConfigureDeploymentContainer.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentContainer/ConfigureDeploymentContainer.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ServiceRow/ServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ServiceRow/ServiceRow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementManager/usePlacementManager.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementManager/usePlacementManager.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useServiceStatus/useServiceStatus.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useServiceStatus/useServiceStatus.ts
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.spec.tsx
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.ts
  apps/deploy-web/src/pages/new-deployment/configure.tsx
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/formArrayHelpers.spec.ts
  apps/deploy-web/src/utils/sdl/formArrayHelpers.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.ts
  package-lock.json
  packages/ui/components/index.tsx
  packages/ui/components/inline-edit-input.spec.tsx
  packages/ui/components/inline-edit-input.tsx
  packages/ui/components/tooltip.tsx
  packages/ui/package.json
  packages/ui/vitest-setup.ts
Due: deploy-web

feat(deployment): add placements and services pane to configure screen (#3280)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfigurationPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentContainer/ConfigureDeploymentContainer.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentContainer/ConfigureDeploymentContainer.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentPanes/ConfigureDeploymentPanes.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ServiceRow/ServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ServiceRow/ServiceRow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementManager/usePlacementManager.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementManager/usePlacementManager.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useServiceStatus/useServiceStatus.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useServiceStatus/useServiceStatus.ts
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.spec.tsx
  apps/deploy-web/src/components/sdl/RegionSelect/RegionSelect.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.ts
  apps/deploy-web/src/pages/new-deployment/configure.tsx
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/formArrayHelpers.spec.ts
  apps/deploy-web/src/utils/sdl/formArrayHelpers.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.ts
  package-lock.json
  packages/ui/components/index.tsx
  packages/ui/components/inline-edit-input.spec.tsx
  packages/ui/components/inline-edit-input.tsx
  packages/ui/components/tooltip.tsx
  packages/ui/package.json
  packages/ui/vitest-setup.ts
Due: deploy-web

feat: adds provider incidents to bid screening response
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/types/inventory.ts
Due: none

feat: adds provider incidents to bid screening response (#3293)
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-incident/provider-incident.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/types/inventory.ts
Due: none

fix: fixes online->offline race condition
  apps/provider-inventory/env/.env.functional.test
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

fix: fixes online->offline race condition (#3295)
  apps/provider-inventory/env/.env.functional.test
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.spec.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

fix(deployment): polish reclamation card spacing, copy, and secondary button (#3291)
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/deployments/ReclamationCard/ReclamationCard.spec.tsx
  apps/deploy-web/src/components/deployments/ReclamationCard/ReclamationCard.tsx
Due: deploy-web

fix(deployment): hide Build and Deploy option behind feature flag
  apps/deploy-web/src/components/new-deployment/TemplateList.spec.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.tsx
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

fix(deployment): keyset-paginate gpu-prices query to drop deployment seq scan
  apps/api/src/deployment/repositories/deployment/deployment.repository.integration.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/indexer/drizzle/0008_add_deployment_group_deployment_id_index.sql
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  packages/database/dbSchemas/akash/deploymentGroup.ts
Due: api, indexer

fix(deployment): guard gpu-prices chunkSize against non-positive values
  apps/api/src/deployment/repositories/deployment/deployment.repository.integration.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
Due: api

feat: adds location field to bid screening response
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/types/inventory.ts
Due: api

fix(deployment): hide Build and Deploy option behind feature flag (#3298)
  apps/deploy-web/src/components/new-deployment/TemplateList.spec.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.tsx
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

feat: adds location field to bid screening response (#3297)
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/types/inventory.ts
Due: api

refactor(bid): rename reclamation window param to avoid shadowing global window
  apps/deploy-web/src/utils/reclamationUtils.ts
Due: deploy-web

feat(bid): forward reclamation window through bid read path (#3286)
  apps/api/src/bid/http-schemas/bid.schema.spec.ts
  apps/api/src/bid/http-schemas/bid.schema.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.spec.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.tsx
  apps/deploy-web/src/queries/useBidQuery.spec.ts
  apps/deploy-web/src/queries/useBidQuery.ts
  apps/deploy-web/src/types/deployment.ts
  apps/deploy-web/src/utils/reclamationUtils.spec.ts
  apps/deploy-web/src/utils/reclamationUtils.ts
  packages/http-sdk/src/bid/bid-http.service.ts
Due: api, deploy-web

feat(deployment): add IP endpoints management to deployment pane
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/EndpointRow/EndpointRow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/EndpointRow/EndpointRow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/IpEndpointsSection/IpEndpointsSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/IpEndpointsSection/IpEndpointsSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useEndpointManager/useEndpointManager.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useEndpointManager/useEndpointManager.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementManager/usePlacementManager.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementManager/usePlacementManager.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useRevalidateUniqueness/useRevalidateUniqueness.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useRevalidateUniqueness/useRevalidateUniqueness.ts
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.spec.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.spec.tsx
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/data.ts
  apps/deploy-web/src/utils/sdl/formArrayHelpers.spec.ts
  apps/deploy-web/src/utils/sdl/formArrayHelpers.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.ts
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
Due: deploy-web

feat(deployment): add IP endpoints management to deployment pane (#3289)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/EndpointRow/EndpointRow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/EndpointRow/EndpointRow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/IpEndpointsSection/IpEndpointsSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/IpEndpointsSection/IpEndpointsSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useEndpointManager/useEndpointManager.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useEndpointManager/useEndpointManager.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementManager/usePlacementManager.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementManager/usePlacementManager.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useRevalidateUniqueness/useRevalidateUniqueness.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/useRevalidateUniqueness/useRevalidateUniqueness.ts
  apps/deploy-web/src/components/sdl/SimpleSdlBuilderForm.tsx
  apps/deploy-web/src/hooks/useSdlEnv/useSdlEnv.spec.tsx
  apps/deploy-web/src/hooks/useSdlServiceManager/useSdlServiceManager.spec.tsx
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.spec.ts
  apps/deploy-web/src/types/sdlBuilder/sdlBuilder.ts
  apps/deploy-web/src/utils/sdl/data.ts
  apps/deploy-web/src/utils/sdl/formArrayHelpers.spec.ts
  apps/deploy-web/src/utils/sdl/formArrayHelpers.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.spec.ts
  apps/deploy-web/src/utils/sdl/sdlGenerator.ts
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
Due: deploy-web

feat(deployment): add partial config status for placements and inline field errors
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ConfigStatusIcon/ConfigStatusIcon.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ConfigStatusIcon/ConfigStatusIcon.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/EndpointRow/EndpointRow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/EndpointRow/EndpointRow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ServiceRow/ServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ServiceRow/ServiceRow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementStatus/usePlacementStatus.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementStatus/usePlacementStatus.ts
  packages/ui/components/field-error-message.tsx
  packages/ui/components/index.tsx
  packages/ui/components/inline-edit-input.spec.tsx
  packages/ui/components/inline-edit-input.tsx
  packages/ui/components/use-field-error.spec.tsx
  packages/ui/components/use-field-error.ts
Due: deploy-web

feat(deployment): add partial config status for placements and inline field errors (#3294)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ConfigStatusIcon/ConfigStatusIcon.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ConfigStatusIcon/ConfigStatusIcon.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/EndpointRow/EndpointRow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/EndpointRow/EndpointRow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ServiceRow/ServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/ServiceRow/ServiceRow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementStatus/usePlacementStatus.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/usePlacementStatus/usePlacementStatus.ts
  packages/ui/components/field-error-message.tsx
  packages/ui/components/index.tsx
  packages/ui/components/inline-edit-input.spec.tsx
  packages/ui/components/inline-edit-input.tsx
  packages/ui/components/use-field-error.spec.tsx
  packages/ui/components/use-field-error.ts
Due: deploy-web

feat(deployment): populate configure screen from template query param
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useTemplateQuery.spec.tsx
  apps/deploy-web/src/queries/useTemplateQuery.tsx
Due: deploy-web

feat(deployment): populate configure screen from template query param (#3296)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeployment/ConfigureDeployment.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useTemplateQuery.spec.tsx
  apps/deploy-web/src/queries/useTemplateQuery.tsx
Due: deploy-web

feat: adds metrics for provider inventory
  apps/provider-inventory/src/metrics/metrics.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

feat: adds metrics for provider inventory (#3300)
  apps/provider-inventory/src/metrics/metrics.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/services/stream-lifecycle-manager/stream-lifecycle-manager.service.ts
Due: none

feat: adds support for client abort signal
  apps/api/src/bid-screening/controllers/bid-screening/bid-screening.controller.ts
  apps/api/src/bid-screening/routes/bid-screening.router.ts
  apps/provider-inventory/src/controllers/bid-screening/bid-screening.controller.ts
  apps/provider-inventory/src/routes/bid-screening/bid-screening.router.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
Due: api

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
