Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix(template): removes client side middleware from server side props
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
Due: deploy-web

fix(billing): improve onboarding
  apps/deploy-web/src/components/icons/AkashConsoleLogo.tsx
  apps/deploy-web/src/components/layout/AkashLogo.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/OnboardingStepper/OnboardingStepper.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.tsx
  apps/deploy-web/src/components/onboarding/steps/FreeTrialLandingStep/FreeTrialLandingStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
Due: deploy-web

fix(billing): return empty array for discounts when no stripe id
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
Due: api

fix(billing): return empty array for discounts when no stripe id (#1694)
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
Due: api

fix: exports jwt wallet utils
  packages/jwt/src/index.ts
Due: none

feat(billing): refactor payment form to add billing address
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/OnboardingStepper/OnboardingStepper.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodsDisplay.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentVerificationCard.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/PaymentMethodForm.tsx
Due: deploy-web

chore: upload test results to codecov
  .dockerignore
  .github/workflows/reusable-validate-app.yml
  apps/api/package.json
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  package-lock.json
Due: api, deploy-web, indexer, notifications, provider-proxy

fix: exports jwt wallet utils (#1696)
  packages/jwt/src/index.ts
Due: none

chore: upload test results to codecov (#1697)
  .dockerignore
  .github/workflows/reusable-validate-app.yml
  apps/api/package.json
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-proxy/package.json
  package-lock.json
Due: api, deploy-web, indexer, notifications, provider-proxy

feat(provider): unit tests added for API key feature
  apps/provider-console/jest.config.ts
  apps/provider-console/package.json
  apps/provider-console/src/components/api-keys/ApiKeyList.spec.tsx
  apps/provider-console/src/components/api-keys/ApiKeyList.tsx
  apps/provider-console/tests/unit/mocks.tsx
  apps/provider-console/tests/unit/query-client.tsx
  apps/provider-console/tests/unit/setup.ts
  package-lock.json
Due: provider-console

feat(provider): fixed beforeEach with setup functions
  apps/provider-console/src/components/api-keys/ApiKeyList.spec.tsx
Due: provider-console

feat(billing): free trial verfication
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/deploy-web/src/components/onboarding/steps/FreeTrialLandingStep/FreeTrialLandingStep.tsx
Due: api, deploy-web

feat(provider): wp: api key page (#1497)
  apps/provider-console/jest.config.ts
  apps/provider-console/package.json
  apps/provider-console/src/components/api-keys/ApiKeyList.spec.tsx
  apps/provider-console/src/components/api-keys/ApiKeyList.tsx
  apps/provider-console/src/components/layout/Sidebar.tsx
  apps/provider-console/src/pages/api-keys/index.tsx
  apps/provider-console/src/queries/useApiKeysQuery.ts
  apps/provider-console/src/types/apiKey.ts
  apps/provider-console/src/utils/urlUtils.ts
  apps/provider-console/tests/unit/mocks.tsx
  apps/provider-console/tests/unit/query-client.tsx
  apps/provider-console/tests/unit/setup.ts
  package-lock.json
Due: provider-console

fix(billing): trial validation behind feature flag
  apps/api/env/.env
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
Due: api, deploy-web

feat(log-collector): creates the app with basic datadog log forwarding
  .commitlintrc.json
  apps/log-collector/.eslintrc.js
  apps/log-collector/.prettierrc.js
  apps/log-collector/Dockerfile
  apps/log-collector/package.json
  apps/log-collector/src/index.ts
  apps/log-collector/src/providers/datadog-client.provider.ts
  apps/log-collector/src/providers/k8s-client.provider.ts
  apps/log-collector/src/providers/log-destination.provider.ts
  apps/log-collector/src/services/config/config.service.ts
  apps/log-collector/src/services/datadog-destination/datadog.service.ts
  apps/log-collector/src/services/k8s-log-collector/k8s-log-collector.service.ts
  apps/log-collector/src/services/logger/logger.service.ts
  apps/log-collector/src/types/log-destination.interface.ts
  apps/log-collector/tsconfig.build.json
  apps/log-collector/tsconfig.json
  apps/log-collector/webpack.config.js
  package-lock.json
  package.json
Due: none

feat(billing): add analytics for the onboarding
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.tsx
  apps/deploy-web/src/components/onboarding/steps/WelcomeStep/WelcomeStep.tsx
  apps/deploy-web/src/hooks/useUser.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

chore: small fixes on api
  apps/api/env/.env.local.sample
  apps/api/src/app.ts
Due: api

test(log-collector): covers initial functionality with unit tests
  .github/workflows/log-collector-validate-n-build.yml
  apps/log-collector/jest.config.js
  apps/log-collector/package.json
  apps/log-collector/src/index.ts
  apps/log-collector/src/main/main.spec.ts
  apps/log-collector/src/main/main.ts
  apps/log-collector/src/providers/process-env.provider.ts
  apps/log-collector/src/services/config/config.service.spec.ts
  apps/log-collector/src/services/config/config.service.ts
  apps/log-collector/src/services/datadog-destination/datadog.service.spec.ts
  apps/log-collector/src/services/datadog-destination/datadog.service.ts
  apps/log-collector/src/services/k8s-log-collector/k8s-log-collector.service.spec.ts
  apps/log-collector/src/services/k8s-log-collector/k8s-log-collector.service.ts
  apps/log-collector/test/seeders/config.seeder.ts
  apps/log-collector/test/seeders/datadog.seeder.ts
  apps/log-collector/test/seeders/k8s-log-collector.seeder.ts
  apps/log-collector/test/setup.ts
  apps/log-collector/test/utils/mock-provider.util.ts
  apps/log-collector/tsconfig.build.json
  apps/log-collector/tsconfig.json
  package-lock.json
  package.json
Due: none

feat(billing): refactor onboarding for testing
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/OnboardingPage.tsx
  apps/deploy-web/src/components/onboarding/OnboardingView/OnboardingView.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationStep/EmailVerificationStep.tsx
Due: deploy-web

feat(billing): add confetti animation on trial activate
  apps/deploy-web/src/components/onboarding/steps/WelcomeStep/WelcomeStep.tsx
  apps/deploy-web/src/components/shared/ConfettiAnimation.tsx
  apps/deploy-web/src/components/shared/SuccessAnimation.tsx
  apps/deploy-web/src/components/shared/index.ts
Due: deploy-web

fix(billing): unit testing
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.spec.tsx
Due: deploy-web

feat(provider): change provider-earnings routes from internal to v1
  apps/api/src/app.ts
  apps/api/src/provider/routes/index.ts
  apps/api/src/provider/routes/provider-earnings/provider-earnings.router.ts
  apps/api/src/routes/internal/index.ts
  apps/api/test/functional/provider-earnings.spec.ts
Due: api

feat(billing): improve free trial landing page
  apps/deploy-web/src/components/onboarding/steps/FreeTrialLandingStep/FreeTrialLandingStep.tsx
Due: deploy-web

feat(billing): add stripe charges table list to usage ui
  apps/deploy-web/src/components/billing-usage/BillingContainer/BillingContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingContainer/BillingContainer.tsx
  apps/deploy-web/src/components/billing-usage/BillingPage.tsx
  apps/deploy-web/src/components/billing-usage/BillingUsageLayout.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/pages/billing/index.tsx
  apps/deploy-web/src/utils/dateUtils.ts
  apps/deploy-web/src/utils/urlUtils.ts
  packages/http-sdk/src/stripe/stripe.service.ts
Due: deploy-web

feat(billing): add date filtering to usage ui
  apps/deploy-web/src/components/billing-usage/UsageContainer/UsageContainer.spec.tsx
  apps/deploy-web/src/components/billing-usage/UsageContainer/UsageContainer.tsx
  apps/deploy-web/src/components/billing-usage/UsageView/UsageView.spec.tsx
  apps/deploy-web/src/components/billing-usage/UsageView/UsageView.tsx
  apps/deploy-web/src/utils/dateUtils.ts
Due: deploy-web

feat(billing): add usage trend indicator ui
  apps/deploy-web/src/components/billing-usage/CumulativeSpendingLineChart/CumulativeSpendingLineChart.tsx
  apps/deploy-web/src/components/billing-usage/TrendIndicator/TrendIndicator.spec.tsx
  apps/deploy-web/src/components/billing-usage/TrendIndicator/TrendIndicator.tsx
Due: deploy-web

feat(billing): add composable guard for usage page
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/hoc/guard/guard.hoc.tsx
  apps/deploy-web/src/pages/usage/index.tsx
Due: deploy-web

feat(log-collector): creates the app with basic datadog log forwarding
  .commitlintrc.json
  .github/workflows/log-collector-validate-n-build.yml
  apps/log-collector/.eslintrc.js
  apps/log-collector/.prettierrc.js
  apps/log-collector/Dockerfile
  apps/log-collector/jest.config.js
  apps/log-collector/package.json
  apps/log-collector/src/index.ts
  apps/log-collector/src/main/main.spec.ts
  apps/log-collector/src/main/main.ts
  apps/log-collector/src/providers/datadog-client.provider.ts
  apps/log-collector/src/providers/k8s-client.provider.ts
  apps/log-collector/src/providers/log-destination.provider.ts
  apps/log-collector/src/providers/process-env.provider.ts
  apps/log-collector/src/services/config/config.service.spec.ts
  apps/log-collector/src/services/config/config.service.ts
  apps/log-collector/src/services/datadog-destination/datadog.service.spec.ts
  apps/log-collector/src/services/datadog-destination/datadog.service.ts
  apps/log-collector/src/services/k8s-log-collector/k8s-log-collector.service.spec.ts
  apps/log-collector/src/services/k8s-log-collector/k8s-log-collector.service.ts
  apps/log-collector/src/services/logger/logger.service.ts
  apps/log-collector/src/types/log-destination.interface.ts
  apps/log-collector/test/seeders/config.seeder.ts
  apps/log-collector/test/seeders/datadog.seeder.ts
  apps/log-collector/test/seeders/k8s-log-collector.seeder.ts
  apps/log-collector/test/setup.ts
  apps/log-collector/test/utils/mock-provider.util.ts
  apps/log-collector/tsconfig.json
  apps/log-collector/webpack.config.js
  package-lock.json
Due: none

feat(provider): update snapshot for added provider-earnings endpoint
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

chore: small fixes on api (#1704)
  apps/api/env/.env.local.sample
  apps/api/src/app.ts
Due: api
