Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix(release): adds api testnet values
  .helm/console-api-staging-testnet-values.yaml
Due: none

chore: syncs package-lock.json
  package-lock.json
Due: none

feat(release): adds notifications testnet temporal ci
  .github/workflows/console-api-deploy-testnet.yml
  .github/workflows/notifications-deploy-testnet.yml
  apps/notifications/env/.env.staging-testnet
Due: notifications

feat(notifications): integrates sdk53 into the service
  apps/notifications/package.json
  apps/notifications/src/modules/alert/services/deployment/deployment.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
  apps/notifications/src/modules/chain/chain.module.ts
  apps/notifications/src/modules/chain/providers/comet-client/comet-client.provider.ts
  apps/notifications/src/modules/chain/providers/registry.provider.ts
  apps/notifications/src/modules/chain/providers/tendermint-client/tendermint-client.provider.ts
  apps/notifications/src/modules/chain/services/block-message-parser/block-message-parser.service.spec.ts
  apps/notifications/src/modules/chain/services/block-message-parser/block-message-parser.service.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/modules/chain/services/message-decoder/message-decoder.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
  apps/notifications/test/functional/balance-alert.spec.ts
  apps/notifications/test/functional/deployment-alert-crud.spec.ts
  apps/notifications/test/seeders/deployment-balance-response.seeder.ts
  apps/notifications/test/seeders/message.seeder.ts
  apps/notifications/tsconfig.json
  package-lock.json
Due: notifications

feat: indexer bseq (#2055)
  apps/indexer/drizzle.config.ts
  apps/indexer/drizzle/0001_add_bseq_to_bid_and_lease.sql
  apps/indexer/drizzle/meta/0001_snapshot.json
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  packages/database/dbSchemas/akash/bid.ts
  packages/database/dbSchemas/akash/lease.ts
Due: indexer

fix: syncs package-lock
  apps/stats-web/package.json
  package-lock.json
Due: stats-web

fix: network store mapping (#2057)
  apps/deploy-web/src/components/new-deployment/BidGroup.tsx
  apps/deploy-web/src/components/settings/SelectNetworkModal.tsx
  apps/deploy-web/src/config/denom.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/context/SettingsProvider/SettingsProviderContext.tsx
  apps/deploy-web/src/pages/providers/[owner]/index.tsx
  apps/deploy-web/src/services/api-url/api-url.service.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/utils/deploymentData/index.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
  apps/deploy-web/src/utils/walletUtils.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/stats-web/src/config/denom.config.ts
  apps/stats-web/src/services/api-url/api-url.service.ts
  package-lock.json
  packages/net/src/NetConfig/NetConfig.ts
  packages/network-store/package.json
  packages/network-store/src/network.config.ts
  packages/network-store/src/network.type.ts
  packages/network-store/tsconfig.json
Due: deploy-web, stats-web

feat(release): adds utility workflow to swap sdk on beta sandbox
  .github/workflows/console-web-deploy-testnet.yml
Due: none

fix: add bseq checks for v5
  apps/indexer/src/indexers/akashStatsIndexer.ts
Due: indexer

fix: implement close lease by event
  apps/indexer/src/indexers/akashStatsIndexer.ts
Due: indexer

fix: update bseq condition
  apps/indexer/src/indexers/akashStatsIndexer.ts
Due: indexer

fix: update check refresh predicted closed height
  apps/indexer/src/indexers/akashStatsIndexer.ts
Due: indexer

fix: update tx parsing for deployment closed
  apps/indexer/src/indexers/akashStatsIndexer.ts
Due: indexer

fix: improve base64 check
  apps/indexer/src/shared/utils/base64.ts
Due: indexer

fix: throw if no deployment/lease found
  apps/indexer/src/indexers/akashStatsIndexer.ts
Due: indexer

fix: added index + fix schema
  apps/indexer/drizzle/0002_rich_kronos.sql
  apps/indexer/drizzle/meta/0002_snapshot.json
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  packages/database/dbSchemas/akash/bid.ts
  packages/database/dbSchemas/akash/lease.ts
Due: indexer

fix: indexes
  apps/indexer/drizzle/0002_gigantic_ender_wiggin.sql
  apps/indexer/drizzle/0002_rich_kronos.sql
  apps/indexer/drizzle/meta/0002_snapshot.json
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
Due: indexer

fix: migration
  apps/indexer/drizzle/0002_gigantic_ender_wiggin.sql
Due: indexer

test: can change or disconnect custodial wallet (#2039)
  apps/deploy-web/tests/ui/actions/selectChainNetwork.ts
  apps/deploy-web/tests/ui/change-wallets.spec.ts
  apps/deploy-web/tests/ui/disconnect-wallet.spec.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/testing-helpers.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/pages/LeapExt.tsx
  apps/provider-console/src/components/layout/WalletStatus.tsx
  packages/ui/components/custom/popup.tsx
Due: deploy-web, provider-console

fix: update 'Help from Expert' link to new hsforms URL
  apps/deploy-web/src/components/layout/Sidebar.tsx
Due: deploy-web

feat(onboarding): update "talk to an expert" URL to new HubSpot form
  apps/deploy-web/src/components/layout/Sidebar.tsx
Due: deploy-web

feat(network): adjusts indexer for sdk53 network upgrade
  .github/actions/setup-app-deps/action.yml
  .github/workflows/reusable-validate-app.yml
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/indexer/drizzle.config.ts
  apps/indexer/drizzle/0001_add_bseq_to_bid_and_lease.sql
  apps/indexer/drizzle/0002_gigantic_ender_wiggin.sql
  apps/indexer/drizzle/meta/0001_snapshot.json
  apps/indexer/drizzle/meta/0002_snapshot.json
  apps/indexer/drizzle/meta/_journal.json
  apps/indexer/drizzle/schema.ts
  apps/indexer/package.json
  apps/indexer/src/chain/chainSync.ts
  apps/indexer/src/chain/genesisImporter.ts
  apps/indexer/src/indexers/akashStatsIndexer.ts
  apps/indexer/src/indexers/validatorIndexer.ts
  apps/indexer/src/shared/utils/base64.ts
  apps/indexer/src/shared/utils/protobuf.ts
  apps/indexer/tsconfig.json
  apps/stats-web/package.json
  package-lock.json
  package.json
  packages/database/chainDefinitions.ts
  packages/database/dbSchemas/akash/bid.ts
  packages/database/dbSchemas/akash/lease.ts
  packages/database/package.json
  packages/dev-config/package.json
Due: api, indexer, stats-web

feat: can multi-select deployments when pressing shift
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
Due: deploy-web

feat: keep account of selected deployments in a hook
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/hooks/useListSelection/useListSelection.spec.ts
  apps/deploy-web/src/hooks/useListSelection/useListSelection.ts
Due: deploy-web

fix: make test cases individual but still use a helper function
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/hooks/useListSelection/useListSelection.spec.ts
  apps/deploy-web/src/hooks/useListSelection/useListSelection.ts
Due: deploy-web

chore: creates initial qa checklist
  doc/e2e-manual-qa-checklist.md
Due: none

fix: checkbox can optionally have a larger clickable wrapper
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  packages/ui/components/checkbox.tsx
Due: deploy-web

feat: can multi-select deployments when pressing shift
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/deployments/DeploymentListRow.tsx
  apps/deploy-web/src/hooks/useListSelection/useListSelection.spec.ts
  apps/deploy-web/src/hooks/useListSelection/useListSelection.ts
Due: deploy-web

chore(release): adds proper configurations for testnet
  .github/workflows/all-deploy-testnet.yml
  .helm/console-web-testnet-values.yaml
  .helm/indexer-prod-testnet-values.yaml
Due: none

fix: fixes proto types of deployment authorization
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
  apps/deploy-web/src/services/auto-top-up-message/auto-top-up-message.service.ts
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/customRegistry.ts
Due: deploy-web

chore: fix type
  apps/deploy-web/src/components/authorizations/Authorizations.tsx
Due: deploy-web
