Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

refactor: replace pendingRequests object with Map for improved performance and clarity
  apps/api/src/caching/helpers.ts
Due: api

refactor: enhance type safety in caching functions and improve cache expiration logic
  apps/api/src/caching/helpers.ts
  apps/api/src/caching/memoryCacheEngine.ts
  apps/api/test/setup-functional-tests.ts
Due: api

fix: ensure JSON parsing only occurs for string results in cache retrieval
  apps/api/src/middlewares/userMiddleware.ts
Due: api

feat: use JWT instead of certificates
  apps/api/examples/lease-flow.ts
  apps/api/package.json
  apps/api/src/billing/lib/wallet/wallet.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/http-schemas/lease.schema.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  package-lock.json
Due: api

fix: communicate straight with provider
  apps/api/src/provider/services/provider/provider.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api

feat: memoize generating data for JWT Token
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
Due: api

fix: wrap args in an object
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: limit permissions in JWT token
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: rename variable passed around to manifest
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api

test: add a missing test for better coverage of ProviderService
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

fix: set scoped permissions when generating jwt tokens
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

feat: can generate a jwt token with custom TTL
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
Due: api

refactor: drop unused variables
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

test: make sure endpoints work with or without cert
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
Due: api

fix: use changed types of jwt tokens
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

feat: websocket server proxying to provider websocket
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/core/lib/telemetry.ts
  apps/api/src/lib/shutdown-server/shutdown-server.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/websocket/controllers/websocket/websocket.controller.ts
  apps/api/src/websocket/http-schemas/websocket.schema.ts
  apps/api/src/websocket/routes/websocket/websocket.router.ts
  apps/api/src/websocket/services/provider-websocket/provider-websocket.service.ts
  apps/api/src/websocket/services/websocket-stats/websocket-stats.service.ts
  apps/api/test/functional/balances.spec.ts
  apps/api/test/functional/websocket.spec.ts
  apps/api/test/seeders/x509-cert-pair.ts
  apps/api/test/setup/provider-server.ts
  apps/api/test/setup/server.ts
  apps/api/test/setup/setup-user.ts
  package-lock.json
Due: api

refactor: moves user registraction logic under user controller (#1796)
  apps/api/src/app.ts
  apps/api/src/auth/services/auth.interceptor.spec.ts
  apps/api/src/auth/services/auth.interceptor.ts
  apps/api/src/core/repositories/base.repository.ts
  apps/api/src/routers/userRouter.ts
  apps/api/src/user/controllers/user/user.controller.ts
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/src/user/routes/get-current-user/get-current-user.router.ts
  apps/api/src/user/routes/index.ts
  apps/api/src/user/routes/register-user/register-user.router.ts
  apps/api/src/user/schemas/user.schema.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/services/wallet-testing.service.ts
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/auth/auth.service.ts
  apps/deploy-web/src/services/storage/keys.ts
Due: api, deploy-web

test: enhance lease flow tests with cache clearing and update deployment allowance
  apps/api/test/functional/lease-flow.spec.ts
  apps/api/test/functional/market-data.spec.ts
  apps/api/test/functional/provider-graph-data.spec.ts
Due: api

feat: add cache management functions and enhance test cache clearing logic
  apps/api/src/caching/memoryCacheEngine.ts
  apps/api/test/functional/deployment-setting.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
  apps/api/test/functional/provider-graph-data.spec.ts
  apps/api/test/setup-functional-tests.ts
Due: api

fix: improve caching function (#1805)
  apps/api/src/caching/helpers.spec.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/caching/memoryCacheEngine.ts
  apps/api/src/middlewares/userMiddleware.ts
  apps/api/src/provider/controllers/provider/provider.controller.ts
  apps/api/test/functional/deployment-setting.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
  apps/api/test/functional/market-data.spec.ts
  apps/api/test/functional/provider-graph-data.spec.ts
  apps/api/test/setup-functional-tests.ts
Due: api

fix(billing): handle missing Stripe customer ID gracefully in transaction retrieval
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
Due: api

fix(billing): handle missing Stripe customer ID gracefully in transac… (#1812)
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
Due: api

fix: do not retry loading API keys on a 403
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/queries/useApiKeysQuery.ts
Due: deploy-web

feat(auth): enhance API key management with new hooks and tests
  apps/deploy-web/src/components/api-keys/ApiKeyList.tsx
  apps/deploy-web/src/hooks/usePayingCustomerRequiredEventHandler.tsx
  apps/deploy-web/src/queries/useApiKeysQuery.spec.tsx
  apps/deploy-web/src/queries/useApiKeysQuery.ts
  apps/deploy-web/tests/seeders/apiKey.ts
  apps/deploy-web/tests/seeders/index.ts
  apps/deploy-web/tests/seeders/wallet.ts
  packages/ui/context/PopupProvider/PopupProvider.tsx
Due: deploy-web

fix(auth): enhance query caching and improve type safety in useUserApiKeys
  apps/deploy-web/src/queries/useApiKeysQuery.spec.tsx
  apps/deploy-web/src/queries/useApiKeysQuery.ts
Due: deploy-web

fix(auth): update useUserApiKeys tests to verify disabled state when user is not provided
  apps/deploy-web/src/queries/useApiKeysQuery.spec.tsx
Due: deploy-web

fix: close "Action Required" alert when action button is clicked
  apps/deploy-web/src/hooks/usePayingCustomerRequiredEventHandler.tsx
Due: deploy-web

fix(auth): update useApiKeysQuery tests
  apps/deploy-web/src/queries/useApiKeysQuery.spec.tsx
Due: deploy-web

feat(auth): enhance API key management with new hooks and tests (#1813)
  apps/deploy-web/src/components/api-keys/ApiKeyList.tsx
  apps/deploy-web/src/hooks/usePayingCustomerRequiredEventHandler.tsx
  apps/deploy-web/src/queries/useApiKeysQuery.spec.tsx
  apps/deploy-web/src/queries/useApiKeysQuery.ts
  apps/deploy-web/tests/seeders/apiKey.ts
  apps/deploy-web/tests/seeders/index.ts
  apps/deploy-web/tests/seeders/wallet.ts
  packages/ui/context/PopupProvider/PopupProvider.tsx
Due: deploy-web

feat: re-implement transactions csv endpoint to use streaming
  apps/api/package.json
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  package-lock.json
Due: api

refactor: avoid any; mitigate csv formula injection
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/types/transactions.ts
Due: api

chore: increase coverage requirements
  .codecov.yml
Due: none

feat: adds creation of default notification channel on user login/registration
  apps/api/package.json
  apps/api/src/notifications/config/env.config.ts
  apps/api/src/notifications/config/index.ts
  apps/api/src/notifications/providers/notifications-api.provider.ts
  apps/api/src/notifications/providers/notifications-config.provider.ts
  apps/api/src/notifications/routes/proxy/proxy.route.spec.ts
  apps/api/src/notifications/routes/proxy/proxy.route.ts
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/tsconfig.json
  apps/deploy-web/tests/seeders/notificationChannel.ts
  apps/notifications/drizzle/0004_add_is_default_column_and_unique_index.sql
  apps/notifications/drizzle/meta/0004_snapshot.json
  apps/notifications/drizzle/meta/_journal.json
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.ts
  apps/notifications/src/modules/notifications/model-schemas/notification-channel.schema.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.spec.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.ts
  apps/notifications/swagger/swagger.json
  apps/notifications/test/seeders/notification-channel.seeder.ts
  package-lock.json
  packages/react-query-sdk/src/notifications/schema.ts
  packages/react-query-sdk/src/notifications/services/V1Service.ts
Due: api, deploy-web, notifications

feat: adds creation of default notification channel on user login/registration (#1808)
  apps/api/package.json
  apps/api/src/notifications/config/env.config.ts
  apps/api/src/notifications/config/index.ts
  apps/api/src/notifications/providers/notifications-api.provider.ts
  apps/api/src/notifications/providers/notifications-config.provider.ts
  apps/api/src/notifications/routes/proxy/proxy.route.spec.ts
  apps/api/src/notifications/routes/proxy/proxy.route.ts
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/tsconfig.json
  apps/deploy-web/tests/seeders/notificationChannel.ts
  apps/notifications/drizzle/0004_add_is_default_column_and_unique_index.sql
  apps/notifications/drizzle/meta/0004_snapshot.json
  apps/notifications/drizzle/meta/_journal.json
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.ts
  apps/notifications/src/modules/notifications/model-schemas/notification-channel.schema.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.spec.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.ts
  apps/notifications/swagger/swagger.json
  apps/notifications/test/seeders/notification-channel.seeder.ts
  package-lock.json
  packages/react-query-sdk/src/notifications/schema.ts
  packages/react-query-sdk/src/notifications/services/V1Service.ts
Due: api, deploy-web, notifications

chore: increase coverage requirements (#1816)
  .codecov.yml
Due: none

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
