Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix: wallet b migration fixed if exists
  apps/provider-console/src/utils/migrateProviderStorage.ts
  apps/provider-console/src/utils/walletScopedStorage.ts
Due: provider-console

fix: change atom to writableatom, fixed process
  apps/provider-console/src/store/providerProcessStore.ts
  apps/provider-console/src/utils/walletScopedStorage.ts
Due: provider-console

fix: wallet aware local storage and fixed error message on wallet screen (#2350)
  apps/provider-console/src/components/become-provider/WalletImport.tsx
  apps/provider-console/src/pages/become-provider/index.tsx
  apps/provider-console/src/store/providerProcessStore.ts
  apps/provider-console/src/utils/migrateProviderStorage.ts
  apps/provider-console/src/utils/walletScopedStorage.ts
Due: provider-console

feat(deployment): add RPC support with database fallback for draining deployments
  apps/api/src/console.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.spec.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
  apps/api/src/deployment/types/deployments-refiller.ts
  apps/api/src/deployment/types/draining-deployment.ts
  apps/deploy-web/src/types/feature-flags.ts
Due: api, deploy-web

fix(billing): properly filters active leases and triggers the job
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
Due: api

fix(billing): properly filters active leases and triggers the job
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.spec.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
Due: api

feat: moves managed wallet jobs from mainnet to sandbox
  .helm/console-api-staging-mainnet-values.yaml
  .helm/console-api-staging-sandbox-values.yaml
Due: none

chore: triggers release
  apps/api/README.md
Due: api

fix(deployment): uses proper currency formatting in DeploymentDetailTopBar
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/hooks/useCurrencyFormatter/useCurrencyFormatter.spec.ts
  apps/deploy-web/src/hooks/useCurrencyFormatter/useCurrencyFormatter.ts
Due: deploy-web

feat(deployment): adds weekly deployment cost display for auto-topped-up deployments
  apps/api/src/billing/services/wallet-balance-reload-check/README.md
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/queries/index.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useDeploymentQueries.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  packages/http-sdk/src/deployment/managed-deployment-http.service.ts
  packages/http-sdk/src/index.ts
Due: api, deploy-web

refactor(deployment): addresses pr comments
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/queries/index.ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  packages/http-sdk/src/deployment/managed-deployment-http.service.ts
Due: api, deploy-web

fix: fixes background on login page for dark theme
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.tsx
Due: deploy-web

fix: fixes background on login page for dark theme (#2362)
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.tsx
Due: deploy-web

test: fixes unit tests snapshot
  apps/deploy-web/src/components/auth/AuthLayout/__snapshots__/AuthLayout.spec.tsx.snap
Due: deploy-web

test: fixes unit tests snapshot (#2364)
  apps/deploy-web/src/components/auth/AuthLayout/__snapshots__/AuthLayout.spec.tsx.snap
Due: deploy-web

fix: typo fix and shallow navigation between login/signup
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
Due: deploy-web

fix: typo fix and shallow navigation between login/signup (#2365)
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
Due: deploy-web

fix: changes the order of buttons in mobile view
  apps/deploy-web/src/components/auth/SignInForm/SignInForm.tsx
  apps/deploy-web/src/components/auth/SignUpForm/SignUpForm.tsx
Due: deploy-web

feat(billing): adds loading state for the auto reload toggle
  apps/deploy-web/src/components/billing-usage/AccountOverview/AccountOverview.tsx
  apps/deploy-web/src/queries/useWalletSettingsQueries.tsx
Due: deploy-web

fix: changes the order of buttons in mobile view (#2367)
  apps/deploy-web/src/components/auth/SignInForm/SignInForm.tsx
  apps/deploy-web/src/components/auth/SignUpForm/SignUpForm.tsx
Due: deploy-web

feat: adds forget password form to embedded login page
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/auth/ForgotPasswordForm/ForgotPasswordForm.spec.tsx
  apps/deploy-web/src/components/auth/ForgotPasswordForm/ForgotPasswordForm.tsx
  apps/deploy-web/src/components/auth/SignInForm/SignInForm.spec.tsx
  apps/deploy-web/src/components/auth/SignInForm/SignInForm.tsx
  apps/deploy-web/src/components/icons/AkashConsoleLogo.tsx
  apps/deploy-web/src/components/shared/RemoteApiError/RemoteApiError.spec.tsx
  apps/deploy-web/src/components/shared/RemoteApiError/RemoteApiError.tsx
  apps/deploy-web/src/pages/api/auth/send-password-reset-email.ts
  apps/deploy-web/src/pages/login/index.tsx
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/session/session.service.ts
  packages/ui/components/input.tsx
Due: deploy-web

WIP refactor(billing): removes credit fields from a user wallet
  apps/api/drizzle/0024_absurd_tarot.sql
  apps/api/drizzle/meta/0024_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/model-schemas/user-wallet/user-wallet.schema.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/index.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.ts
  apps/api/src/billing/services/provider-cleanup/provider-cleanup.service.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/console.ts
  apps/api/src/deployment/services/stale-managed-deployments-cleaner/stale-managed-deployments-cleaner.service.ts
  apps/api/test/functional/sign-and-broadcast-tx.spec.ts
  apps/api/test/functional/start-trial.spec.ts
  apps/api/test/functional/stripe-webhook.spec.ts
  apps/api/test/functional/wallets-refill.spec.ts
  apps/api/test/seeders/user-wallet.seeder.ts
Due: api

feat: adds observability to managed wallet tx
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
Due: api

feat: adds forget password form to embedded login page (#2372)
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/auth/ForgotPasswordForm/ForgotPasswordForm.spec.tsx
  apps/deploy-web/src/components/auth/ForgotPasswordForm/ForgotPasswordForm.tsx
  apps/deploy-web/src/components/auth/SignInForm/SignInForm.spec.tsx
  apps/deploy-web/src/components/auth/SignInForm/SignInForm.tsx
  apps/deploy-web/src/components/icons/AkashConsoleLogo.tsx
  apps/deploy-web/src/components/shared/RemoteApiError/RemoteApiError.spec.tsx
  apps/deploy-web/src/components/shared/RemoteApiError/RemoteApiError.tsx
  apps/deploy-web/src/pages/api/auth/send-password-reset-email.ts
  apps/deploy-web/src/pages/login/index.tsx
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/session/session.service.ts
  packages/ui/components/input.tsx
Due: deploy-web

feat: update deploy button sidebar styling
  apps/deploy-web/src/components/layout/Sidebar.tsx
Due: deploy-web

feat: improve home page layout and styling
  apps/deploy-web/src/components/home/AccountHeader.tsx
  apps/deploy-web/src/components/home/AccountStatsCards.tsx
  apps/deploy-web/src/components/home/CurrentProviders.tsx
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/home/ResourceCard.tsx
  apps/deploy-web/src/components/home/ResourceStatsGrid.tsx
  apps/deploy-web/src/components/home/WelcomePanel.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
  apps/deploy-web/src/components/home/index.ts
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/pages/_app.tsx
Due: deploy-web

feat: update color theme layout
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/components/layout/WalletStatus.tsx
  package-lock.json
  packages/ui/styles/global.css
Due: deploy-web

fix: provider detail bug
  apps/deploy-web/src/components/providers/LeaseListContainer.tsx
  apps/deploy-web/src/components/providers/ProviderSummary.tsx
  apps/deploy-web/src/queries/useProvidersQuery.ts
  packages/ui/components/custom/address.tsx
Due: deploy-web

feat: improve home styling
  apps/deploy-web/src/components/home/AccountHeader.tsx
  apps/deploy-web/src/components/home/CurrentProviders.tsx
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/home/WelcomePanel.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
Due: deploy-web

fix: remove comment
  packages/ui/styles/global.css
Due: none

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
