Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix: merge bid condition
  apps/api/src/bid/services/bid/bid.service.ts
Due: api

fix(deployment): filter audited bids for managed wallets (#2330)
  apps/api/src/bid/services/bid/bid.service.spec.ts
  apps/api/src/bid/services/bid/bid.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/test/seeders/provider.seeder.ts
Due: api

feat: adds api for password authentication via auth0
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/deploy-web/jest.config.ts
  apps/deploy-web/next.config.js
  apps/deploy-web/package.json
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.spec.tsx
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.tsx
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/hooks/useLoginRequiredEventHandler.tsx
  apps/deploy-web/src/lib/auth0/setSession/setSession.spec.ts
  apps/deploy-web/src/lib/auth0/setSession/setSession.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/pages/api/auth/password-login.ts
  apps/deploy-web/src/pages/api/auth/password-signup.ts
  apps/deploy-web/src/pages/api/auth/signup.ts
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/deploy-web/src/services/auth/auth/auth.service.spec.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
  apps/deploy-web/src/utils/encoding.ts
  package-lock.json
  packages/ui/styles/global.css
Due: api, deploy-web

feat: adds api for password authentication via auth0 (#2333)
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/deploy-web/jest.config.ts
  apps/deploy-web/next.config.js
  apps/deploy-web/package.json
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.spec.tsx
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.tsx
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/hooks/useLoginRequiredEventHandler.tsx
  apps/deploy-web/src/lib/auth0/setSession/setSession.spec.ts
  apps/deploy-web/src/lib/auth0/setSession/setSession.ts
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/pages/api/auth/password-login.ts
  apps/deploy-web/src/pages/api/auth/password-signup.ts
  apps/deploy-web/src/pages/api/auth/signup.ts
  apps/deploy-web/src/services/app-di-container/server-di-container.service.ts
  apps/deploy-web/src/services/auth/auth/auth.service.spec.ts
  apps/deploy-web/src/services/auth/auth/auth.service.ts
  apps/deploy-web/src/services/session/session.service.spec.ts
  apps/deploy-web/src/services/session/session.service.ts
  apps/deploy-web/src/utils/encoding.ts
  package-lock.json
  packages/ui/styles/global.css
Due: api, deploy-web

feat: adds embedded login feature flag
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.spec.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelCreateContainer/NotificationChannelFormContainer.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelEditContainer/NotificationChannelEditContainer.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelsListContainer/NotificationChannelsListContainer.spec.tsx
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.spec.tsx
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.tsx
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/icons/AkashConsoleLogo.tsx
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/components/layout/AkashLogo.tsx
  apps/deploy-web/src/components/layout/MobileSidebarUser.tsx
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/OnboardingPage.tsx
  apps/deploy-web/src/components/shared/ConnectWallet.tsx
  apps/deploy-web/src/components/shared/MustConnect.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentTooltip.spec.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletPopup.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/hooks/useLoginRequiredEventHandler.tsx
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.ts
  apps/deploy-web/src/pages/login/index.tsx
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/urlUtils.ts
  apps/deploy-web/src/utils/withCustomPageAuthRequired.ts
  apps/deploy-web/tests/unit/TestContainerProvider.tsx
Due: deploy-web

feat: adds embedded login feature flag (#2334)
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.spec.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelCreateContainer/NotificationChannelFormContainer.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelEditContainer/NotificationChannelEditContainer.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelsListContainer/NotificationChannelsListContainer.spec.tsx
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.spec.tsx
  apps/deploy-web/src/components/auth/SignUpButton/SignUpButton.tsx
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/icons/AkashConsoleLogo.tsx
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/components/layout/AkashLogo.tsx
  apps/deploy-web/src/components/layout/MobileSidebarUser.tsx
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/new-deployment/BidRow/BidRow.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/components/onboarding/OnboardingPage.tsx
  apps/deploy-web/src/components/shared/ConnectWallet.tsx
  apps/deploy-web/src/components/shared/MustConnect.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentTooltip.spec.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletPopup.tsx
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/hooks/useLoginRequiredEventHandler.tsx
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.ts
  apps/deploy-web/src/pages/login/index.tsx
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/urlUtils.ts
  apps/deploy-web/src/utils/withCustomPageAuthRequired.ts
  apps/deploy-web/tests/unit/TestContainerProvider.tsx
Due: deploy-web

chore(observability): adds OpenTelemetry metrics for wallet balance reload check job
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check-instrumentation.service.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.spec.ts
  apps/api/src/billing/services/wallet-balance-reload-check/wallet-balance-reload-check.handler.ts
  apps/api/src/core/services/index.ts
  apps/api/src/core/services/metrics/metrics.service.ts
Due: api

fix(billing): properly cancels a wallet balance check job
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/wallet-reload-job/wallet-reload-job.service.ts
Due: api

fix: fixes application navigation
  apps/deploy-web/src/hooks/usePricing/usePricing.ts
Due: deploy-web

fix: fixes application navigation (#2341)
  apps/deploy-web/src/hooks/usePricing/usePricing.ts
Due: deploy-web

test: improve e2e tests resilience
  apps/deploy-web/tests/ui/actions/selectChainNetwork.ts
  apps/deploy-web/tests/ui/authorize-spending.spec.ts
  apps/deploy-web/tests/ui/change-wallets.spec.ts
  apps/deploy-web/tests/ui/fixture/leapExtensionLocalStorage.json
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/fixture/testing-helpers.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/globalSetup/setup-wallet.ts
  apps/deploy-web/tests/ui/pages/AuthorizationsPage.tsx
  apps/deploy-web/tests/ui/pages/DeployBasePage.tsx
  apps/deploy-web/tests/ui/pages/LeapExt.tsx
Due: deploy-web

test: improve e2e tests resilience (#2343)
  apps/deploy-web/tests/ui/actions/selectChainNetwork.ts
  apps/deploy-web/tests/ui/authorize-spending.spec.ts
  apps/deploy-web/tests/ui/change-wallets.spec.ts
  apps/deploy-web/tests/ui/fixture/leapExtensionLocalStorage.json
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/fixture/testing-helpers.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/globalSetup/setup-wallet.ts
  apps/deploy-web/tests/ui/pages/AuthorizationsPage.tsx
  apps/deploy-web/tests/ui/pages/DeployBasePage.tsx
  apps/deploy-web/tests/ui/pages/LeapExt.tsx
Due: deploy-web

feat: update color theme layout
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/components/layout/WalletStatus.tsx
  package-lock.json
  packages/ui/styles/global.css
Due: deploy-web

feat: improve home styling
  apps/deploy-web/src/components/home/AccountHeader.tsx
  apps/deploy-web/src/components/home/CurrentProviders.tsx
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/home/WelcomePanel.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
Due: deploy-web

feat: update deploy button sidebar styling
  apps/deploy-web/src/components/layout/Sidebar.tsx
Due: deploy-web

feat: styling improvements
  apps/deploy-web/src/components/deployments/DeploymentDepositModal.tsx
  apps/deploy-web/src/components/deployments/DeploymentList.tsx
  apps/deploy-web/src/components/get-started/GetStartedStepper.tsx
  apps/deploy-web/src/components/home/AccountHeader.tsx
  apps/deploy-web/src/components/home/AccountStatsCards.tsx
  apps/deploy-web/src/components/home/CurrentProviders.tsx
  apps/deploy-web/src/components/home/HomeContainer.tsx
  apps/deploy-web/src/components/home/ResourceStatsGrid.tsx
  apps/deploy-web/src/components/home/WelcomePanel.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
  apps/deploy-web/src/components/home/index.ts
  apps/deploy-web/src/components/layout/Layout.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/new-deployment/ManifestEdit.tsx
  apps/deploy-web/src/components/new-deployment/TemplateList.tsx
  apps/deploy-web/src/components/sdl/RentGpusForm.tsx
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.tsx
  apps/deploy-web/src/components/shared/Title.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentBadge.tsx
  apps/deploy-web/src/components/shared/TrialDeploymentTooltip.tsx
  apps/deploy-web/src/components/templates/TemplateBox.tsx
  apps/deploy-web/src/components/templates/TemplateGallery.tsx
  apps/deploy-web/src/components/wallet/ManagedWalletPopup.tsx
  packages/ui/components/alert/alert.tsx
  packages/ui/components/button.tsx
  packages/ui/components/card.tsx
  packages/ui/components/custom/popup.tsx
  packages/ui/components/dialog.tsx
  packages/ui/components/switch.tsx
Due: deploy-web

fix: provider detail bug
  apps/deploy-web/src/components/providers/LeaseListContainer.tsx
  apps/deploy-web/src/components/providers/ProviderSummary.tsx
  apps/deploy-web/src/queries/useProvidersQuery.ts
  packages/ui/components/custom/address.tsx
Due: deploy-web

feat: improve styling banner and trial
  apps/deploy-web/src/components/layout/TopBanner.tsx
  apps/deploy-web/src/components/onboarding/steps/FreeTrialLandingStep/FreeTrialLandingStep.tsx
  apps/deploy-web/src/components/onboarding/steps/WelcomeStep/TrialStatusBar.tsx
  apps/deploy-web/src/components/shared/SuccessAnimation.tsx
Due: deploy-web

feat: improve home page layout and styling
  apps/deploy-web/src/components/home/AccountHeader.tsx
  apps/deploy-web/src/components/home/AccountStatsCards.tsx
  apps/deploy-web/src/components/home/CurrentProviders.tsx
  apps/deploy-web/src/components/home/NoDeploymentsState.tsx
  apps/deploy-web/src/components/home/ResourceCard.tsx
  apps/deploy-web/src/components/home/ResourceStatsGrid.tsx
  apps/deploy-web/src/components/home/WelcomePanel.tsx
  apps/deploy-web/src/components/home/YourAccount.tsx
  apps/deploy-web/src/components/home/index.ts
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/pages/_app.tsx
Due: deploy-web

feat: update and improve styling
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.tsx
  apps/deploy-web/src/components/billing-usage/UsageView/UsageView.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetailTopBar.tsx
  apps/deploy-web/src/components/providers/NetworkCapacity.tsx
  apps/deploy-web/src/components/providers/ProviderList.tsx
  apps/deploy-web/src/components/providers/ProviderMap.tsx
  apps/deploy-web/src/components/shared/Stepper.tsx
  apps/deploy-web/src/components/wallet/ConnectManagedWalletButton.tsx
  apps/deploy-web/src/components/wallet/CustodialWalletPopup.tsx
  apps/deploy-web/src/components/wallet/ManagedWalletPopup.tsx
  packages/ui/components/button.tsx
  packages/ui/components/input.tsx
  packages/ui/components/spinner.tsx
  packages/ui/components/switch.tsx
  packages/ui/components/tabs.tsx
  packages/ui/styles/global.css
  packages/ui/tailwind.config.ts
Due: deploy-web

feat: update styling/spacing + stripe
  apps/deploy-web/src/components/deployments/DeploymentDetail.tsx
  apps/deploy-web/src/components/deployments/DeploymentSubHeader.tsx
  apps/deploy-web/src/components/deployments/LeaseRow.tsx
  apps/deploy-web/src/components/layout/Nav.tsx
  apps/deploy-web/src/components/new-deployment/BidGroup.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecureModal.tsx
  apps/deploy-web/src/components/shared/PaymentMethodsList/PaymentMethodsList.tsx
  apps/deploy-web/src/components/shared/SpecDetail.tsx
  apps/deploy-web/src/components/shared/StripeInput/StripeInput.tsx
  apps/deploy-web/src/components/user/payment/AddPaymentMethodPopup.tsx
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
  apps/deploy-web/src/pages/payment.tsx
  packages/ui/components/checkbox.tsx
  packages/ui/components/tabs.tsx
  packages/ui/components/tooltip.tsx
Due: deploy-web

feat: adds embedded-login page views
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.spec.tsx
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.tsx
  apps/deploy-web/src/components/auth/AuthLayout/__snapshots__/AuthLayout.spec.tsx.snap
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/auth/SignInForm/SignInForm.spec.tsx
  apps/deploy-web/src/components/auth/SignInForm/SignInForm.tsx
  apps/deploy-web/src/components/auth/SignUpForm/SignUpForm.spec.tsx
  apps/deploy-web/src/components/auth/SignUpForm/SignUpForm.tsx
  apps/deploy-web/src/components/auth/SocialAuth/SocialAuth.spec.tsx
  apps/deploy-web/src/components/auth/SocialAuth/SocialAuth.tsx
  apps/deploy-web/src/components/auth/SocialAuth/__snapshots__/SocialAuth.spec.tsx.snap
  apps/deploy-web/src/components/icons/ColoredGoogleIcon.tsx
  apps/deploy-web/src/components/icons/GithubIcon.tsx
  apps/deploy-web/src/hooks/useBackNav.ts
  apps/deploy-web/src/hooks/useTheme.ts
  apps/deploy-web/src/pages/login/index.tsx
  apps/deploy-web/tests/unit/setup.ts
Due: deploy-web

chore: reuse icon vendor
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/auth/SignInForm/SignInForm.tsx
  apps/deploy-web/src/components/auth/SignUpForm/SignUpForm.tsx
  apps/deploy-web/src/components/auth/SocialAuth/SocialAuth.spec.tsx
  apps/deploy-web/src/hooks/useTheme.ts
Due: deploy-web

chore: updates snapshot
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.tsx
  apps/deploy-web/src/components/auth/AuthLayout/__snapshots__/AuthLayout.spec.tsx.snap
  apps/deploy-web/src/components/auth/SocialAuth/__snapshots__/SocialAuth.spec.tsx.snap
Due: deploy-web

feat: adds embedded-login page views (#2335)
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.spec.tsx
  apps/deploy-web/src/components/auth/AuthLayout/AuthLayout.tsx
  apps/deploy-web/src/components/auth/AuthLayout/__snapshots__/AuthLayout.spec.tsx.snap
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.spec.tsx
  apps/deploy-web/src/components/auth/AuthPage/AuthPage.tsx
  apps/deploy-web/src/components/auth/SignInForm/SignInForm.spec.tsx
  apps/deploy-web/src/components/auth/SignInForm/SignInForm.tsx
  apps/deploy-web/src/components/auth/SignUpForm/SignUpForm.spec.tsx
  apps/deploy-web/src/components/auth/SignUpForm/SignUpForm.tsx
  apps/deploy-web/src/components/auth/SocialAuth/SocialAuth.spec.tsx
  apps/deploy-web/src/components/auth/SocialAuth/SocialAuth.tsx
  apps/deploy-web/src/components/auth/SocialAuth/__snapshots__/SocialAuth.spec.tsx.snap
  apps/deploy-web/src/components/icons/ColoredGoogleIcon.tsx
  apps/deploy-web/src/components/icons/GithubIcon.tsx
  apps/deploy-web/src/hooks/useBackNav.ts
  apps/deploy-web/src/hooks/useTheme.ts
  apps/deploy-web/src/pages/login/index.tsx
  apps/deploy-web/tests/unit/setup.ts
Due: deploy-web

fix: upgrades nextjs to latest 14.x
  apps/deploy-web/package.json
  apps/provider-console/package.json
  apps/stats-web/package.json
  package-lock.json
Due: deploy-web, provider-console, stats-web

fix: upgrades nextjs to latest 14.x (#2345)
  apps/deploy-web/package.json
  apps/provider-console/package.json
  apps/stats-web/package.json
  package-lock.json
Due: deploy-web, provider-console, stats-web

fix: set unleash-session-id into cookie
  apps/deploy-web/src/context/FlagProvider/FlagProvider.tsx
  apps/deploy-web/src/middleware.ts
  apps/deploy-web/src/utils/localStorage.ts
Due: deploy-web

fix: set unleash-session-id into cookie (#2347)
  apps/deploy-web/src/context/FlagProvider/FlagProvider.tsx
  apps/deploy-web/src/middleware.ts
  apps/deploy-web/src/utils/localStorage.ts
Due: deploy-web

feat(deployment): add RPC support with database fallback for draining deployments
  apps/api/src/console.ts
  apps/api/src/deployment/controllers/deployment/top-up-deployments.controller.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
  apps/api/src/deployment/types/deployments-refiller.ts
  apps/deploy-web/src/types/feature-flags.ts
Due: api, deploy-web

fix(deployment): properly calculates predicted close height
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
Due: api

refactor: extract RPC logic and simplify draining deployment tests
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.spec.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/types/draining-deployment.ts
Due: api

test: generates reliable testing dseqs
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.spec.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
Due: api

fix: addresses code review issues
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.spec.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
  apps/api/src/deployment/types/draining-deployment.ts
Due: api

feat: addresses code review comment
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

chore: adds jsdoc
  apps/api/src/deployment/repositories/lease/lease.repository.ts
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
Due: api

refactor: calculates balances using numbers instead of bigints
  apps/api/src/deployment/services/draining-deployment-rpc/draining-deployment-rpc.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
  apps/api/src/deployment/types/draining-deployment.ts
Due: api

fix: wallet aware local storage and fixed error message on wallet screen
  apps/provider-console/src/components/become-provider/WalletImport.tsx
  apps/provider-console/src/pages/become-provider/index.tsx
  apps/provider-console/src/store/providerProcessStore.ts
  apps/provider-console/src/utils/migrateProviderStorage.ts
  apps/provider-console/src/utils/walletScopedStorage.ts
Due: provider-console
