Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix(deployment): refuse a non-positive batch size before an inventory scan runs
  apps/api/src/core/lib/batch-size/batch-size.spec.ts
  apps/api/src/core/lib/batch-size/batch-size.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/secret/repositories/data-key/data-key.repository.integration.ts
  apps/api/src/secret/repositories/data-key/data-key.repository.ts
Due: api

feat(deployment): address any key version and count stored secrets that moved
  apps/api/src/deployment/providers/kms.provider.spec.ts
  apps/api/src/deployment/providers/kms.provider.ts
  apps/api/src/secret/lib/stored-secrets-fingerprint/stored-secrets-fingerprint.spec.ts
  apps/api/src/secret/lib/stored-secrets-fingerprint/stored-secrets-fingerprint.ts
Due: api

feat(deployment): re-wrap data keys onto a new kms key version from the cli
  apps/api/src/app/console.ts
  apps/api/src/secret/controllers/data-key-rewrap/data-key-rewrap.controller.spec.ts
  apps/api/src/secret/controllers/data-key-rewrap/data-key-rewrap.controller.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.spec.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.ts
Due: api

fix(deployment): clear rewrap runs no longer fail on concurrent secret writes
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/secret/lib/stored-secrets-fingerprint/stored-secrets-fingerprint.spec.ts
  apps/api/src/secret/lib/stored-secrets-fingerprint/stored-secrets-fingerprint.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.spec.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.ts
Due: api

test(deployment): pin the re-wrap's target check, batch size and elapsed time
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.spec.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.ts
Due: api

test(deployment): re-provision the kms rotation pair after a failed memoized attempt
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.integration.ts
Due: api

test(deployment): cover data key re-wrapping against the database and cloud kms
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.integration.ts
Due: api

refactor(deployment): validate the rewrap batch size through the shared guard
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.ts
Due: api

test(deployment): register kms spec cleanup per test instead of via shared state
  apps/api/src/deployment/services/kms-wrapped-jwe/kms-wrapped-jwe.service.integration.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.integration.ts
Due: api

refactor(observability): sort the instrumentation imports and mark them type-only
  apps/api/src/deployment/services/kms-wrapped-jwe/kms-wrapped-jwe.service.spec.ts
  apps/api/src/deployment/services/sdl-secrets-unsealer/sdl-secrets-unsealer.service.spec.ts
  apps/api/src/secret/services/data-key-unwrapper/data-key-unwrapper.service.spec.ts
  apps/api/src/secret/services/secret-cipher/secret-cipher.service.integration.ts
Due: api

feat(deployment): prefer the api's deployment name over this browser's
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentName/useDeploymentName.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentName/useDeploymentName.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.spec.tsx
  apps/deploy-web/src/hooks/useDeploymentDefinition/useDeploymentDefinition.ts
  apps/deploy-web/src/hooks/useResolvedDeploymentName/useResolvedDeploymentName.spec.tsx
  apps/deploy-web/src/hooks/useResolvedDeploymentName/useResolvedDeploymentName.ts
Due: deploy-web

test(dx): cut the api test suite from ~8.5 to ~5 minutes (#3899)
  apps/api/README.md
  apps/api/env/.env.functional.test
  apps/api/eslint.config.mjs
  apps/api/package.json
  apps/api/test/global-setup-db.ts
  apps/api/test/isolated-unit-tests.json
  apps/api/test/services/global-setup-db.integration.ts
  apps/api/test/services/test-database-templates.ts
  apps/api/test/services/test-database.service.ts
  apps/api/test/setup-shared-unit-tests.ts
  apps/api/vitest.config.ts
Due: api

fix(config): prevent open redirect via same-origin protocol-relative return path
  apps/deploy-web/src/middleware.spec.ts
  apps/deploy-web/src/middleware.ts
Due: deploy-web

test(deployment): give each mocked deployment a distinct dseq
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(deployment): name the deployment the configure flow creates
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentFlow/useDeploymentFlow.ts
Due: deploy-web

feat(deployment): rename a deployment through the api
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.tsx
Due: deploy-web

test(deployment): give each mocked deployment a distinct dseq (#3916)
  apps/api/test/functional/deployments.spec.ts
Due: api

feat(deployment): fingerprint stored secrets and page data keys by wrapping version (#3911)
  apps/api/src/core/lib/batch-size/batch-size.spec.ts
  apps/api/src/core/lib/batch-size/batch-size.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/secret/lib/stored-secrets-fingerprint/stored-secrets-fingerprint.spec.ts
  apps/api/src/secret/lib/stored-secrets-fingerprint/stored-secrets-fingerprint.ts
  apps/api/src/secret/repositories/data-key/data-key.repository.integration.ts
  apps/api/src/secret/repositories/data-key/data-key.repository.ts
Due: api

feat(deployment): re-wrap data keys onto a new kms key version from the console cli (#3912)
  apps/api/src/app/console.ts
  apps/api/src/deployment/providers/kms.provider.spec.ts
  apps/api/src/deployment/providers/kms.provider.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/secret/controllers/data-key-rewrap/data-key-rewrap.controller.spec.ts
  apps/api/src/secret/controllers/data-key-rewrap/data-key-rewrap.controller.ts
  apps/api/src/secret/lib/stored-secrets-fingerprint/stored-secrets-fingerprint.spec.ts
  apps/api/src/secret/lib/stored-secrets-fingerprint/stored-secrets-fingerprint.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.spec.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.ts
Due: api

test(deployment): cover data key re-wrapping against the database and the key emulator (#3913)
  apps/api/src/deployment/services/kms-wrapped-jwe/kms-wrapped-jwe.service.integration.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.integration.ts
Due: api

test(dx): widen seeded dseqs beyond a single digit
  apps/api/test/seeders/auto-top-up-deployment.seeder.ts
  apps/api/test/seeders/deployment-info.seeder.ts
  apps/deploy-web/tests/seeders/deploymentAlert.ts
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.spec.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.spec.ts
  apps/notifications/test/seeders/deployment-alert.seeder.ts
Due: api, deploy-web, notifications

fix(deployment): dry-run rewrap counts only rows a real run can open
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.integration.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.spec.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.ts
Due: api

refactor(deployment): read the resolved name where a bad read is visible
  apps/deploy-web/src/hooks/useResolvedDeploymentName/useResolvedDeploymentName.spec.tsx
  apps/deploy-web/src/hooks/useResolvedDeploymentName/useResolvedDeploymentName.ts
Due: deploy-web

test(observability): pin the meter name and the measured call duration
  apps/api/src/deployment/services/kms-wrapped-jwe/kms-wrapped-jwe-instrumentation.service.spec.ts
  apps/api/src/deployment/services/kms-wrapped-jwe/kms-wrapped-jwe.service.spec.ts
Due: api

refactor(deployment): state the dry-run count is an upper bound in the audit doc
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.ts
Due: api

test(deployment): cover container-vm ssh deployments on the configure page
  apps/deploy-web/tests/ui/configure-deployment-container-vm.spec.ts
  apps/deploy-web/tests/ui/pages/ConfigureDeploymentPage.ts
  doc/e2e-manual-qa-checklist.md
Due: deploy-web

fix(dx): stamp updatedAt with the schema key in BaseRepository updates
  apps/api/src/core/repositories/base.repository.spec.ts
  apps/api/src/core/repositories/base.repository.ts
Due: api

refactor(deployment): drop the updatedAt injection BaseRepository now does
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
Due: api

refactor(observability): import the instrumentation sibling relatively
  apps/api/src/deployment/services/kms-wrapped-jwe/kms-wrapped-jwe.service.ts
Due: api

test(dx): stub the driver in the base repository spec
  apps/api/src/core/repositories/base.repository.spec.ts
Due: api

test(dx): widen seeded dseqs beyond a single digit (#3917)
  apps/api/test/seeders/auto-top-up-deployment.seeder.ts
  apps/api/test/seeders/deployment-info.seeder.ts
  apps/deploy-web/tests/seeders/deploymentAlert.ts
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.spec.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.spec.ts
  apps/notifications/test/seeders/deployment-alert.seeder.ts
Due: api, deploy-web, notifications

fix(deployment): log batch progress on dry-run rewrap scans too
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.spec.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.ts
Due: api

feat(deployment): serve a redesigned deployments list behind a flag
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentActionsMenu.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentActionsMenu.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentEndpoints.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentEndpoints.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/ReclamationCountdown.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/ReclamationCountdown.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.ts
  apps/deploy-web/src/components/deployments/DeploymentsListPage.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsListPage.tsx
  apps/deploy-web/src/components/deployments/ReclamationBanner/ReclamationBanner.tsx
  apps/deploy-web/src/pages/deployments/index.tsx
  apps/deploy-web/src/store/deploymentsViewStore.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/reclamationUtils.ts
Due: deploy-web

fix(deployment): hold a deployment name to what the api accepts
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.tsx
  apps/deploy-web/src/components/LocalNoteManager/LocalNoteManager.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/LocalNoteManager.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentNameField/DeploymentNameField.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentNameField/DeploymentNameField.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentName/useDeploymentName.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useDeploymentName/useDeploymentName.ts
  apps/deploy-web/src/config/deploy.config.ts
Due: deploy-web

test(deployment): cover container-vm ssh deployments on the configure page (#3921)
  apps/deploy-web/tests/ui/configure-deployment-container-vm.spec.ts
  apps/deploy-web/tests/ui/pages/ConfigureDeploymentPage.ts
  doc/e2e-manual-qa-checklist.md
Due: deploy-web

fix(deployment): dry-run rewrap counts only rows a real run can open (#3919)
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.integration.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.spec.ts
  apps/api/src/secret/services/data-key-rewrap/data-key-rewrap.service.ts
Due: api

refactor(deployment): fingerprint stored secrets before and after a rotation
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/stored-secret-fingerprint/stored-secret-fingerprint.service.integration.ts
  apps/api/src/deployment/services/stored-secret-fingerprint/stored-secret-fingerprint.service.spec.ts
  apps/api/src/deployment/services/stored-secret-fingerprint/stored-secret-fingerprint.service.ts
Due: api

fix(deployment): open the rename dialog on the name of the deployment it was opened for
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.spec.tsx
  apps/deploy-web/src/components/LocalNoteManager/DeploymentNameModal.tsx
Due: deploy-web

test(deployment): give each listed deployment a distinct dseq
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(observability): carry the wrapping key version on the data key unwrap event
  apps/api/src/secret/services/data-key-unwrapper/data-key-unwrapper.service.spec.ts
  apps/api/src/secret/services/data-key-unwrapper/data-key-unwrapper.service.ts
Due: api
