Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(organization): describe the organization context a request runs in
  apps/api/src/core/services/execution-context/execution-context.service.ts
  apps/api/src/organization/types/organization-context.ts
Due: api

fix(auth): keep organization admins from writing owner memberships
  apps/api/src/auth/services/ability/ability-rules.spec.ts
  apps/api/src/auth/services/ability/ability-rules.ts
  apps/api/src/auth/services/ability/ability.service.integration.ts
Due: api

feat(auth): scope access rules to the active organization and its projects
  apps/api/src/auth/services/ability/ability-rules.spec.ts
  apps/api/src/auth/services/ability/ability-rules.ts
  apps/api/src/auth/services/ability/ability.service.integration.ts
  apps/api/src/auth/services/ability/ability.service.spec.ts
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/auth/services/ability/shadowed-ability.spec.ts
  apps/api/src/auth/services/ability/shadowed-ability.ts
  apps/api/src/core/services/feature-flags/feature-flags.service.spec.ts
  apps/api/src/core/services/feature-flags/feature-flags.service.ts
  apps/api/test/seeders/organization-context.seeder.ts
Due: api

feat(organization): resolve the active organization of every request
  apps/api/src/auth/services/auth.interceptor.spec.ts
  apps/api/src/auth/services/auth.interceptor.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/organization/controllers/organization/organization.controller.ts
  apps/api/src/organization/http-schemas/organization.schema.ts
  apps/api/src/organization/index.ts
  apps/api/src/organization/repositories/organization-member/organization-member.repository.integration.ts
  apps/api/src/organization/repositories/organization-member/organization-member.repository.ts
  apps/api/src/organization/repositories/project/project.repository.integration.ts
  apps/api/src/organization/repositories/project/project.repository.ts
  apps/api/src/organization/routes/organizations/organizations.router.ts
  apps/api/src/organization/services/organization-context/organization-context.resolver.spec.ts
  apps/api/src/organization/services/organization-context/organization-context.resolver.ts
  apps/api/src/organization/services/organization/organization.service.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/test/functional/feature-flag-gated-route.spec.ts
  apps/api/test/functional/organizations.spec.ts
  apps/api/test/seeders/db/organization.seeder.ts
  apps/api/test/setup-functional-tests.ts
Due: api

feat(organization): match organization headers loosely and read personal ones once
  apps/api/src/organization/repositories/organization-member/organization-member.repository.integration.ts
  apps/api/src/organization/repositories/organization-member/organization-member.repository.ts
  apps/api/src/organization/services/organization-context/organization-context.resolver.spec.ts
  apps/api/src/organization/services/organization-context/organization-context.resolver.ts
  apps/api/test/functional/organizations.spec.ts
Due: api

fix(user): drop the deposit from the akt deploy command on the API keys page
  apps/deploy-web/src/components/api-keys/ApiKeyUsageGuide/ApiKeyUsageGuide.spec.tsx
  apps/deploy-web/src/components/api-keys/ApiKeyUsageGuide/ApiKeyUsageGuide.tsx
Due: deploy-web

feat(organization): scope organization-owned rows to the active organization by default
  apps/api/src/auth/repositories/api-key/api-key.repository.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/src/core/repositories/base.repository.ts
  apps/api/src/core/repositories/org-scoped.repository.integration.ts
  apps/api/src/core/repositories/org-scoped.repository.spec.ts
  apps/api/src/core/repositories/org-scoped.repository.ts
  apps/api/src/core/repositories/unscoped-reasons.spec.ts
  apps/api/src/core/repositories/unscoped-reasons.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/organization/repositories/organization-invitation/organization-invitation.repository.ts
  apps/api/src/organization/repositories/organization-member/organization-member.repository.ts
  apps/api/src/organization/repositories/project-member/project-member.repository.ts
  apps/api/src/organization/repositories/project/project.repository.ts
  apps/api/src/organization/services/organization-context/organization-context.resolver.spec.ts
  apps/api/src/organization/services/organization-context/organization-context.resolver.ts
  apps/api/src/organization/services/personal-organization/personal-organization.service.spec.ts
  apps/api/src/organization/services/personal-organization/personal-organization.service.ts
  apps/api/src/routers/dashboardRouter.ts
  apps/api/src/user/repositories/user-template/user-template.repository.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.spec.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.ts
Due: api

fix(auth): check bulk updates and updated rows against the access rules
  apps/api/src/core/repositories/base.repository.spec.ts
  apps/api/src/core/repositories/base.repository.ts
  apps/api/test/services/stubbed-pg-driver.ts
Due: api

fix(user): keep private templates of other users out of reads by id
  apps/api/src/user/repositories/user-template/user-template.repository.integration.ts
  apps/api/src/user/repositories/user-template/user-template.repository.ts
  apps/api/src/user/services/user-templates/user-templates.service.spec.ts
  apps/api/src/user/services/user-templates/user-templates.service.ts
Due: api

feat(auth): compare rows read under legacy rules with the organization rules
  apps/api/src/core/repositories/base.repository.spec.ts
  apps/api/src/core/repositories/base.repository.ts
Due: api

fix(user): check user creates and upserts against an attached ability
  apps/api/src/user/repositories/user/user.repository.integration.ts
  apps/api/src/user/repositories/user/user.repository.ts
Due: api

fix(notifications): strip client-supplied identity headers in the proxy
  apps/api/src/notifications/lib/identity-headers/identity-headers.spec.ts
  apps/api/src/notifications/lib/identity-headers/identity-headers.ts
  apps/api/src/notifications/routes/proxy/proxy.route.spec.ts
  apps/api/src/notifications/routes/proxy/proxy.route.ts
  apps/api/test/functional/notifications-proxy.spec.ts
Due: api

refactor(notifications): describe the identity header list as reserved rather than minted
  apps/api/src/notifications/lib/identity-headers/identity-headers.ts
Due: api

chore(ci): run Pullfrog on AkashML and pin its workflow actions
  .github/workflows/pullfrog.yml
Due: none

feat(notifications): scope alerts and notification channels to organizations
  apps/notifications/drizzle/0006_scope_alerts_and_channels_to_organizations.sql
  apps/notifications/drizzle/meta/0006_snapshot.json
  apps/notifications/drizzle/meta/_journal.json
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.ts
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/notification-channel/notification-channel.controller.ts
  apps/notifications/src/interfaces/rest/interceptors/auth/auth.interceptor.spec.ts
  apps/notifications/src/interfaces/rest/interceptors/auth/auth.interceptor.ts
  apps/notifications/src/interfaces/rest/services/auth/auth.service.spec.ts
  apps/notifications/src/interfaces/rest/services/auth/auth.service.ts
  apps/notifications/src/interfaces/rest/services/auth/request-ability.spec.ts
  apps/notifications/src/interfaces/rest/services/auth/request-ability.ts
  apps/notifications/src/interfaces/rest/services/auth/request-identity.spec.ts
  apps/notifications/src/interfaces/rest/services/auth/request-identity.ts
  apps/notifications/src/modules/alert/model-schemas/alert.schema.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment-alert/deployment-alert.service.ts
  apps/notifications/src/modules/notifications/model-schemas/notification-channel.schema.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.spec.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.ts
  apps/notifications/test/functional/organization-scoped-alerts.spec.ts
  apps/notifications/test/seeders/deployment-balance-alert.seeder.ts
  apps/notifications/test/seeders/general-alert.seeder.ts
  apps/notifications/test/seeders/notification-channel.seeder.ts
  apps/notifications/test/seeders/wallet-balance-alert.seeder.ts
Due: notifications

feat(organization): mint the organization context for the notifications service
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/notifications/lib/identity-headers/identity-headers.spec.ts
  apps/api/src/notifications/lib/identity-headers/identity-headers.ts
  apps/api/src/notifications/routes/proxy/proxy.route.spec.ts
  apps/api/src/notifications/routes/proxy/proxy.route.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/api/test/functional/notifications-proxy.spec.ts
Due: api

fix(user): drop the deposit from the akt deploy command on the API keys page (#4308)
  apps/deploy-web/src/components/api-keys/ApiKeyUsageGuide/ApiKeyUsageGuide.spec.tsx
  apps/deploy-web/src/components/api-keys/ApiKeyUsageGuide/ApiKeyUsageGuide.tsx
Due: deploy-web

chore(ci): run Pullfrog on the AkashML endpoint instead of auto-selecting a model
  .github/workflows/pullfrog.yml
Due: none

chore(ci): run Pullfrog on the AkashML endpoint instead of auto-selecting a model (#4310)
  .github/workflows/pullfrog.yml
Due: none

feat(notifications): open what each activity is about from its toast (#4300)
  apps/deploy-web/src/components/activity/ActivityBell/ActivityBell.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHistoryPage/ActivityHistoryPage.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.spec.tsx
  apps/deploy-web/src/components/activity/ActivityHost/ActivityHost.tsx
  apps/deploy-web/src/components/activity/activityDestinations/activityDestinations.spec.ts
  apps/deploy-web/src/components/activity/activityDestinations/activityDestinations.ts
  apps/deploy-web/src/components/activity/activityEntries/activityEntries.ts
Due: deploy-web

fix(notifications): let members change only the channels they created
  apps/notifications/src/interfaces/rest/interceptors/auth/auth.interceptor.spec.ts
  apps/notifications/src/interfaces/rest/services/auth/request-ability.spec.ts
  apps/notifications/src/interfaces/rest/services/auth/request-ability.ts
  apps/notifications/test/functional/organization-scoped-alerts.spec.ts
Due: notifications

fix(organization): file job-written and new rows into their organization and project
  apps/api/src/app/services/close-unreachable-provider-deployment/close-unreachable-provider-deployment.handler.spec.ts
  apps/api/src/app/services/close-unreachable-provider-deployment/close-unreachable-provider-deployment.handler.ts
  apps/api/src/billing/repositories/payment-method/payment-method.repository.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/billing/repositories/wallet-settings/wallet-settings.repository.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.spec.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/core/repositories/base.repository.ts
  apps/api/src/core/repositories/org-scoped.repository.spec.ts
  apps/api/src/core/repositories/org-scoped.repository.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/record-deployment-setting/record-deployment-setting.handler.ts
  apps/api/src/organization/repositories/organization-adoption/organization-adoption.repository.ts
  apps/api/src/organization/repositories/organization-member/organization-member.repository.ts
  apps/api/src/organization/repositories/project/project.repository.ts
  apps/api/src/organization/services/personal-organization/personal-organization.service.integration.ts
  apps/api/src/user/repositories/user-template/user-template.repository.integration.ts
  apps/api/src/user/repositories/user-template/user-template.repository.ts
  apps/api/src/user/services/user-templates/user-templates.service.spec.ts
  apps/api/src/user/services/user-templates/user-templates.service.ts
Due: api

fix(auth): look up api keys across organizations while authenticating
  apps/api/src/auth/repositories/api-key/api-key.repository.ts
  apps/api/src/auth/services/api-key/api-key-auth.service.spec.ts
  apps/api/src/auth/services/api-key/api-key-auth.service.ts
Due: api

fix(user): assess account deletion against the wallet it erases
  apps/api/src/user/services/account-deletion-eligibility/account-deletion-eligibility.service.spec.ts
  apps/api/src/user/services/account-deletion-eligibility/account-deletion-eligibility.service.ts
Due: api

test(user): read a saved private template as its author
  apps/api/test/functional/user-templates.spec.ts
Due: api

feat(organization): bind api keys to an organization and optionally a project
  apps/api/src/auth/http-schemas/api-key.schema.ts
  apps/api/src/auth/services/api-key/api-key.service.spec.ts
  apps/api/src/auth/services/api-key/api-key.service.ts
  apps/api/src/auth/services/auth.interceptor.spec.ts
  apps/api/src/auth/services/auth.interceptor.ts
  apps/api/src/auth/services/auth.service.ts
  apps/api/src/core/services/execution-context/execution-context.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/organization-api-keys.spec.ts
Due: api

fix(organization): honour an api key's binding while organizations are off
  apps/api/src/auth/services/api-key/api-key.service.ts
  apps/api/src/organization/services/organization-context/organization-context.resolver.spec.ts
  apps/api/src/organization/services/organization-context/organization-context.resolver.ts
  apps/api/test/functional/organization-api-keys.spec.ts
Due: api

feat(organization): manage organization members and their roles
  apps/api/src/organization/controllers/organization-member/organization-member.controller.ts
  apps/api/src/organization/http-schemas/organization-member.schema.ts
  apps/api/src/organization/index.ts
  apps/api/src/organization/repositories/organization-member/organization-member.repository.ts
  apps/api/src/organization/routes/organization-members/organization-members.router.ts
  apps/api/src/organization/services/organization-member/organization-member.service.integration.ts
  apps/api/src/organization/services/organization-member/organization-member.service.spec.ts
  apps/api/src/organization/services/organization-member/organization-member.service.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/test/functional/organization-members.spec.ts
  apps/api/test/seeders/organization.seeder.ts
  packages/dev-config/eslint/base.mjs
Due: api

fix(organization): require a JSON body when changing a member's role
  apps/api/src/organization/routes/organization-members/organization-members.router.ts
  apps/api/test/functional/organization-members.spec.ts
Due: api

feat(organization): manage projects and list organization activity
  apps/api/drizzle/0075_organization_activities.sql
  apps/api/drizzle/meta/0075_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/auth/services/ability/ability-rules.spec.ts
  apps/api/src/auth/services/ability/ability-rules.ts
  apps/api/src/core/repositories/unscoped-reasons.ts
  apps/api/src/organization/controllers/organization-activity/organization-activity.controller.ts
  apps/api/src/organization/controllers/project/project.controller.ts
  apps/api/src/organization/http-schemas/organization-activity.schema.ts
  apps/api/src/organization/http-schemas/project.schema.ts
  apps/api/src/organization/index.ts
  apps/api/src/organization/lib/slug/slug.spec.ts
  apps/api/src/organization/lib/slug/slug.ts
  apps/api/src/organization/model-schemas/index.ts
  apps/api/src/organization/model-schemas/organization-activity/organization-activity.schema.ts
  apps/api/src/organization/repositories/organization-activity/organization-activity.repository.integration.ts
  apps/api/src/organization/repositories/organization-activity/organization-activity.repository.ts
  apps/api/src/organization/repositories/project/project.repository.integration.ts
  apps/api/src/organization/repositories/project/project.repository.ts
  apps/api/src/organization/routes/organization-activities/organization-activities.router.ts
  apps/api/src/organization/routes/projects/projects.router.ts
  apps/api/src/organization/services/organization-activity/organization-activity.service.spec.ts
  apps/api/src/organization/services/organization-activity/organization-activity.service.ts
  apps/api/src/organization/services/project/project.service.spec.ts
  apps/api/src/organization/services/project/project.service.ts
  apps/api/src/routers/open-api-handlers.ts
  apps/api/test/functional/organization-activities.spec.ts
  apps/api/test/functional/projects.spec.ts
  apps/api/test/seeders/db/organization.seeder.ts
  apps/api/test/seeders/organization.seeder.ts
Due: api

fix(organization): judge project names, slugs and emptiness on what they really are
  apps/api/drizzle/0075_organization_activities.sql
  apps/api/drizzle/meta/0075_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/auth/services/ability/ability-rules.spec.ts
  apps/api/src/auth/services/ability/ability-rules.ts
  apps/api/src/core/repositories/unscoped-reasons.ts
  apps/api/src/deployment/lib/deployment-closure-key/deployment-closure-key.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.ts
  apps/api/src/organization/http-schemas/project.schema.ts
  apps/api/src/organization/lib/slug/slug.spec.ts
  apps/api/src/organization/lib/slug/slug.ts
  apps/api/src/organization/model-schemas/organization-activity/organization-activity.schema.ts
  apps/api/src/organization/model-schemas/project/project.schema.ts
  apps/api/src/organization/repositories/project/project.repository.integration.ts
  apps/api/src/organization/repositories/project/project.repository.ts
  apps/api/src/organization/services/organization-activity/organization-activity.service.spec.ts
  apps/api/src/organization/services/organization-activity/organization-activity.service.ts
  apps/api/src/organization/services/project/project.service.spec.ts
  apps/api/src/organization/services/project/project.service.ts
  apps/api/test/functional/organization-activities.spec.ts
  apps/api/test/functional/projects.spec.ts
Due: api

feat(user): let users pick a custom expiration date for an API key
  apps/deploy-web/src/components/api-keys/ApiKeyList/ApiKeyList.tsx
  apps/deploy-web/src/components/api-keys/CreateApiKeyDialog/CreateApiKeyDialog.spec.tsx
  apps/deploy-web/src/components/api-keys/CreateApiKeyDialog/CreateApiKeyDialog.tsx
  apps/deploy-web/src/components/api-keys/apiKeyExpiry/apiKeyExpiry.spec.ts
  apps/deploy-web/src/components/api-keys/apiKeyExpiry/apiKeyExpiry.ts
  packages/ui/components/index.tsx
Due: deploy-web

fix(organization): refuse project-bound api keys outside organization mode
  apps/api/src/auth/services/api-key/api-key.service.ts
  apps/api/src/organization/services/organization-context/organization-context.resolver.spec.ts
  apps/api/src/organization/services/organization-context/organization-context.resolver.ts
  apps/api/test/functional/organization-api-keys.spec.ts
Due: api

fix(notifications): keep alerts and channels within the organization they are filed in
  apps/notifications/drizzle/0006_scope_alerts_and_channels_to_organizations.sql
  apps/notifications/drizzle/meta/0006_snapshot.json
  apps/notifications/drizzle/meta/_journal.json
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.ts
  apps/notifications/src/interfaces/rest/controllers/internal-account/internal-account.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/internal-account/internal-account.controller.ts
  apps/notifications/src/interfaces/rest/services/account-purge/account-purge.service.ts
  apps/notifications/src/interfaces/rest/services/auth/request-ability.spec.ts
  apps/notifications/src/interfaces/rest/services/auth/request-ability.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/notifications/model-schemas/notification-channel.schema.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.spec.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.ts
  apps/notifications/test/functional/account-purge.spec.ts
  apps/notifications/test/functional/organization-scoped-alerts.spec.ts
Due: notifications

fix(organization): keep notifications calls within the deployment's organization
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/notifications/routes/proxy/proxy.route.spec.ts
  apps/api/src/notifications/routes/proxy/proxy.route.ts
  apps/api/src/notifications/services/notification/notification.service.spec.ts
  apps/api/src/notifications/services/notification/notification.service.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.integration.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.spec.ts
  apps/api/src/user/services/account-deletion/account-deletion.service.ts
  apps/api/src/user/services/purge-deleted-account/purge-deleted-account.handler.spec.ts
  apps/api/src/user/services/purge-deleted-account/purge-deleted-account.handler.ts
Due: api

fix(user): keep a custom API key expiry valid when the dialog stays open past midnight
  apps/deploy-web/src/components/api-keys/CreateApiKeyDialog/CreateApiKeyDialog.spec.tsx
  apps/deploy-web/src/components/api-keys/apiKeyExpiry/apiKeyExpiry.spec.ts
  apps/deploy-web/src/components/api-keys/apiKeyExpiry/apiKeyExpiry.ts
Due: deploy-web

fix(organization): keep the project emptiness check to the project's own organization
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/organization/services/project/project.service.spec.ts
  apps/api/src/organization/services/project/project.service.ts
  apps/api/test/functional/projects.spec.ts
Due: api

fix(organization): ask the chain about a project's deployments before locking it
  apps/api/drizzle/0075_organization_activities.sql
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/organization/lib/slug/slug.ts
  apps/api/src/organization/services/project/project.service.spec.ts
  apps/api/src/organization/services/project/project.service.ts
Due: api

fix(auth): limit project-bound api keys to their project's work
  apps/api/src/auth/services/ability/ability-rules.spec.ts
  apps/api/src/auth/services/ability/ability-rules.ts
  apps/api/src/auth/services/ability/ability.service.spec.ts
  apps/api/src/auth/services/ability/ability.service.ts
  apps/api/src/auth/services/api-key/api-key.service.spec.ts
  apps/api/src/auth/services/api-key/api-key.service.ts
  apps/api/src/auth/services/auth.interceptor.spec.ts
  apps/api/src/auth/services/auth.interceptor.ts
  apps/api/src/auth/services/auth.service.ts
  apps/api/test/functional/organization-api-keys.spec.ts
Due: api

fix(notifications): keep unattributed rows to personal organizations
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/alert/alert.controller.ts
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/deployment-alert/deployment-alert.controller.ts
  apps/notifications/src/interfaces/rest/services/auth/auth.service.spec.ts
  apps/notifications/src/interfaces/rest/services/auth/auth.service.ts
  apps/notifications/src/interfaces/rest/services/auth/request-ability.spec.ts
  apps/notifications/src/interfaces/rest/services/auth/request-ability.ts
  apps/notifications/src/interfaces/rest/services/auth/request-identity.spec.ts
  apps/notifications/src/interfaces/rest/services/auth/request-identity.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.spec.ts
  apps/notifications/src/modules/notifications/repositories/notification-channel/notification-channel.repository.ts
  apps/notifications/test/functional/organization-scoped-alerts.spec.ts
Due: notifications

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
