Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(billing): stripe service tests
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
Due: api

fix(billing): fix tests
  apps/api/src/billing/routes/start-trial/start-trial.router.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/routes/stripe-prices/stripe-prices.router.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/services/wallet-testing.service.ts
Due: api

feat(billing): implement test charge functionality
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/routes/start-trial/start-trial.router.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api

fix(billing): improve 3d secure and testing
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/seeders/index.ts
  apps/api/test/seeders/stripe-test-data.seeder.ts
  apps/api/test/seeders/stripe-transaction-test.seeder.ts
  apps/api/test/seeders/user-test.seeder.ts
  apps/api/test/services/wallet-testing.service.ts
Due: api

fix(billing): update wallet response schemas and controller logic
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/routes/start-trial/start-trial.router.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api

fix: set allowUrls for sentry on deploy-web (#1895)
  apps/deploy-web/sentry.client.config.ts
Due: deploy-web

chore(release): implements basic indexer deploy CI for the testnet
  .github/workflows/all-trigger-coverage.yml
  .github/workflows/console-api-validate-n-build.yml
  .github/workflows/console-web-docker-build.yml
  .github/workflows/diff-package-lock.yml
  .github/workflows/github-actions-lint.yml
  .github/workflows/indexer-docker-build.yml
  .github/workflows/indexer-release-testnet.yml
  .github/workflows/local-packages-validate.yml
  .github/workflows/log-collector-validate-n-build.yml
  .github/workflows/notifications-validate-n-build.yml
  .github/workflows/provider-console-docker-build.yml
  .github/workflows/provider-proxy-docker-build.yml
  .github/workflows/reusable-build-image.yml
  .github/workflows/reusable-deploy-k8s.yml
  .github/workflows/stats-web-docker-build.yml
  .github/workflows/workspace-ci-unsafe.yml
  .helm/indexer-staging-testnet-values.yaml
  apps/indexer/README.md
  packages/docker/script/build.sh
Due: indexer

fix(billing): update API docs response schemas to include nullable properties
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

feat(billing): test charge for free trial (#1898)
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.spec.ts
  apps/api/src/billing/controllers/wallet/wallet.controller.ts
  apps/api/src/billing/http-schemas/stripe.schema.ts
  apps/api/src/billing/http-schemas/wallet.schema.ts
  apps/api/src/billing/routes/start-trial/start-trial.router.ts
  apps/api/src/billing/routes/stripe-payment-methods/stripe-payment-methods.router.ts
  apps/api/src/billing/routes/stripe-prices/stripe-prices.router.ts
  apps/api/src/billing/routes/stripe-transactions/stripe-transactions.router.ts
  apps/api/src/billing/services/stripe-error/stripe-error.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/seeders/index.ts
  apps/api/test/seeders/stripe-test-data.seeder.ts
  apps/api/test/seeders/stripe-transaction-test.seeder.ts
  apps/api/test/seeders/user-test.seeder.ts
  apps/api/test/services/wallet-testing.service.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: api

fix: ensure managed wallet deployment close doesnot depend on authService
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

chore: fix tests
  apps/api/test/functional/deployments.spec.ts
Due: api

fix: ensure managed wallet deployment close doesnot depend on authService (#1932)
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

Update after-trial-ends-notification.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.ts
Due: api

feat(billing): implements payment link in post trial notification
  apps/api/env/.env.functional.test
  apps/api/env/.env.local.sample
  apps/api/env/.env.production
  apps/api/env/.env.sample
  apps/api/env/.env.staging
  apps/api/env/.env.unit.test
  apps/api/src/app/services/trial-started/trial-started.handler.spec.ts
  apps/api/src/app/services/trial-started/trial-started.handler.ts
  apps/api/src/billing/config/env.config.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.spec.ts
  apps/api/src/notifications/services/notification-templates/after-trial-ends-notification.ts
  apps/api/test/services/mock-config.service.ts
Due: api

fix(analytics): uses gtag getter to make sure it's present after onload
  apps/deploy-web/src/services/analytics/analytics.service.spec.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

fix(analytics): uses gtag getter to make sure it's present after onload (#1936)
  apps/deploy-web/src/services/analytics/analytics.service.spec.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

fix(billing): update the metadata user id for stripe customers
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

Update trial-ended-notification.ts
  apps/api/src/notifications/services/notification-templates/trial-ended-notification.ts
Due: api

feat(billing): implements payment link in post trial notification
  apps/api/src/app/services/trial-started/trial-started.handler.spec.ts
  apps/api/src/app/services/trial-started/trial-started.handler.ts
  apps/api/src/notifications/services/notification-handler/notification.handler.spec.ts
  apps/api/src/notifications/services/notification-templates/trial-ended-notification.ts
Due: api

fix(billing): tests
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
Due: api

fix(billing): update the metadata user id for stripe customers (#1938)
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(billing): pr fixes
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentVerificationCard/PaymentVerificationCard.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecureModal.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecurePopup.tsx
  apps/deploy-web/src/components/user/payment/AddPaymentMethodPopup.tsx
  apps/deploy-web/src/pages/payment.tsx
  packages/http-sdk/src/managed-wallet-http/managed-wallet-http.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
Due: deploy-web

fix(billing): fix type
  packages/http-sdk/src/stripe/stripe.types.ts
Due: none

fix(billing): refactor payment list components
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodCard.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsList.tsx
  apps/deploy-web/src/components/shared/PaymentMethodCard/PaymentMethodCard.tsx
  apps/deploy-web/src/components/shared/PaymentMethodCard/index.ts
  apps/deploy-web/src/components/shared/PaymentMethodsList/PaymentMethodsList.tsx
  apps/deploy-web/src/components/shared/PaymentMethodsList/index.ts
  apps/deploy-web/src/components/user/payment/PaymentMethodsList.tsx
  apps/deploy-web/src/components/user/payment/index.ts
  apps/deploy-web/src/hooks/use3DSecure.ts
  apps/deploy-web/src/pages/payment.tsx
Due: deploy-web

fix(billing): 3d secure fixes
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecureModal.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecurePopup.tsx
  apps/deploy-web/src/pages/payment.tsx
Due: api, deploy-web

feat(billing): refactor payment UI components and improve UX
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodStep/PaymentMethodStep.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/EmptyPaymentMethods.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/ErrorAlert.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodCard.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.test.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsDisplay.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/PaymentMethodsList.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/TermsAndConditions.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/TrialStartButton.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodsDisplay/ValidationWarning.tsx
  apps/deploy-web/src/components/onboarding/steps/PaymentVerificationCard/PaymentVerificationCard.tsx
  apps/deploy-web/src/components/user/payment/PaymentForm.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
  apps/deploy-web/src/queries/useManagedWalletQuery.ts
  apps/deploy-web/src/queries/usePaymentQueries.ts
  packages/http-sdk/src/managed-wallet-http/managed-wallet-http.service.ts
Due: deploy-web

feat(billing): implement 3D Secure payment handling
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecureModal.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecurePopup.tsx
  apps/deploy-web/src/hooks/use3DSecure.ts
  apps/deploy-web/src/pages/payment.tsx
Due: deploy-web

fix(billing): fix tests
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/deploy-web/src/components/onboarding/steps/PaymentMethodContainer/PaymentMethodContainer.spec.tsx
  apps/deploy-web/src/components/shared/PaymentMethodForm/ThreeDSecureModal.tsx
Due: api, deploy-web

fix(billing): update validatePaymentMethodAfter3DS to return success status
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

fix(billing): enhance payment intent validation to check payment method reference
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
Due: api

feat: make Unleash session id visible for backend
  apps/api/src/core/services/feature-flags/feature-flags.service.spec.ts
  apps/api/src/core/services/feature-flags/feature-flags.service.ts
  apps/deploy-web/src/pages/api/proxy/[...path].ts
Due: api, deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
