Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

chore(ci): build next.js apps on the runner when their image inputs are unchanged (#4089)
  .github/workflows/all-ci.yml
  .github/workflows/reusable-should-validate.yml
  .github/workflows/reusable-validate-app.yml
  apps/deploy-web/package.json
  apps/deploy-web/tsconfig.build.json
  apps/provider-console/package.json
  apps/stats-web/package.json
Due: deploy-web, provider-console, stats-web

feat(observability): record how each api request authenticated (#4075)
  apps/api/src/auth/services/auth.interceptor.spec.ts
  apps/api/src/auth/services/auth.interceptor.ts
  packages/logging/src/services/http-logger/http-logger.service.spec.ts
  packages/logging/src/services/http-logger/http-logger.service.ts
Due: api

feat(provider): keep the cuda version table current from nvidia's repository
  apps/api/src/gpu/lib/cuda-version/cuda-version.spec.ts
  apps/api/src/gpu/lib/cuda-version/cuda-version.ts
  apps/api/src/gpu/providers/cuda-repo-client.provider.ts
  apps/api/src/gpu/services/cuda-driver-table/cuda-driver-table.service.spec.ts
  apps/api/src/gpu/services/cuda-driver-table/cuda-driver-table.service.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/services/provider-gpu-driver/provider-gpu-driver.service.spec.ts
  apps/api/src/provider/services/provider-gpu-driver/provider-gpu-driver.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/providers.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

chore(ci): detect app changes once per run instead of once per app
  .github/workflows/all-ci.yml
  .github/workflows/reusable-should-validate.yml
  .github/workflows/reusable-validate-app.yml
  script/app-change-filters.mjs
Due: none

chore(ci): build the image when an app's package.json changes
  .github/workflows/reusable-validate-app.yml
  script/app-change-filters.mjs
Due: none

chore(ci): detect app changes once per run instead of once per app (#4095)
  .github/workflows/all-ci.yml
  .github/workflows/reusable-should-validate.yml
  .github/workflows/reusable-validate-app.yml
  script/app-change-filters.mjs
Due: none

fix(provider): cap the explorer search at the length the provider search accepts
  apps/deploy-web/src/components/providers/useProviderListModel.spec.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.ts
Due: deploy-web

fix(provider): refresh the cuda table off the request path
  apps/api/src/gpu/lib/cuda-version/cuda-version.spec.ts
  apps/api/src/gpu/lib/cuda-version/cuda-version.ts
  apps/api/src/gpu/providers/cuda-repo-client.provider.ts
  apps/api/src/gpu/services/cuda-driver-table/cuda-driver-table.service.spec.ts
  apps/api/src/gpu/services/cuda-driver-table/cuda-driver-table.service.ts
Due: api

fix(provider): keep the capped explorer search from splitting an emoji
  apps/deploy-web/src/components/providers/useProviderListModel.spec.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.ts
Due: deploy-web

chore(ci): stop result checks waiting on codecov after a failure
  .codecov.yml
  .github/workflows/reusable-validate-app.yml
Due: none

test(ci): add passing canary specs to time a pull request
  apps/api/src/ci-canary.spec.ts
  apps/deploy-web/src/ci-canary.spec.ts
Due: api, deploy-web

test(ci): fail a tx-signer spec on purpose
  apps/tx-signer/src/ci-canary.spec.ts
Due: none

fix(observability): record requests whose caller did not sample its trace
  packages/instrumentation/src/instrumentation.ts
  packages/instrumentation/src/sampler/request-sampler.spec.ts
  packages/instrumentation/src/sampler/request-sampler.ts
Due: none

feat(provider): keep the cuda version table current from nvidia's repository (#4097)
  apps/api/src/gpu/lib/cuda-version/cuda-version.spec.ts
  apps/api/src/gpu/lib/cuda-version/cuda-version.ts
  apps/api/src/gpu/providers/cuda-repo-client.provider.ts
  apps/api/src/gpu/services/cuda-driver-table/cuda-driver-table.service.spec.ts
  apps/api/src/gpu/services/cuda-driver-table/cuda-driver-table.service.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/services/provider-gpu-driver/provider-gpu-driver.service.spec.ts
  apps/api/src/provider/services/provider-gpu-driver/provider-gpu-driver.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/providers.spec.ts
  packages/console-api-types/src/schema.d.ts
Due: api

refactor(provider): page the provider explorer on the server (#4080)
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeployProgressOverlay/ProvidersGlobe.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeployProgressOverlay/ProvidersGlobe.tsx
  apps/deploy-web/src/components/providers/ProviderList.tsx
  apps/deploy-web/src/components/providers/ProviderMap.tsx
  apps/deploy-web/src/components/providers/ProviderSummary.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.spec.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.ts
  apps/deploy-web/src/queries/queryKeys.ts
  apps/deploy-web/src/queries/useProvidersQuery.spec.tsx
  apps/deploy-web/src/queries/useProvidersQuery.ts
  apps/deploy-web/src/types/provider.ts
  apps/deploy-web/src/utils/apiUtils.ts
Due: deploy-web

test(ci): fail an api spec and a deploy-web type check on purpose
  apps/api/src/ci-canary.spec.ts
  apps/deploy-web/src/utils/mathHelpers.ts
Due: api, deploy-web

chore(ci): drop the codecov setting that made no difference
  .codecov.yml
Due: none

chore(ci): stop result checks waiting on codecov after a failure (#4099)
  .github/workflows/reusable-validate-app.yml
Due: none

fix(observability): record requests whose caller did not sample its trace (#4100)
  packages/instrumentation/src/instrumentation.ts
  packages/instrumentation/src/sampler/request-sampler.spec.ts
  packages/instrumentation/src/sampler/request-sampler.ts
Due: none

fix(deployment): expose a port that declares no as on its container port
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
Due: deploy-web

feat(deployment): move gpu interconnect into the gpu card and count gpus from zero
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.gated.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/GpuCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/gpuSummary.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuCard/gpuSummary.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectCard/GpuInterconnectCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectFields/GpuInterconnectFields.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/GpuInterconnectFields/GpuInterconnectFields.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ToggleRow/ToggleRow.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ToggleRow/ToggleRow.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/cardTooltips.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/useServiceGpu/useServiceGpu.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/useServiceGpu/useServiceGpu.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/importDeploymentState/importDeploymentState.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/importDeploymentState/importDeploymentState.ts
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.spec.tsx
  apps/deploy-web/src/components/shared/SearchableSelect/SearchableSelect.tsx
  packages/ui/components/collapsible-card.spec.tsx
  packages/ui/components/collapsible-card.tsx
Due: deploy-web

fix(provider): keep the explorer's search and filters on screen when its search fails
  apps/deploy-web/src/components/providers/ProviderList.spec.tsx
  apps/deploy-web/src/components/providers/ProviderList.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.spec.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.ts
Due: deploy-web

fix(provider): name the explorer's clear-search button and cover its controls
  apps/deploy-web/src/components/providers/ProviderList.spec.tsx
  apps/deploy-web/src/components/providers/ProviderList.tsx
Due: deploy-web

chore(ci): upload failed test results after the coverage checks
  .github/workflows/all-ci.yml
  .github/workflows/reusable-validate-app.yml
Due: none

chore(ci): re-run the security scan when its analysis does not pass
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/security-scan-result.yml
Due: none

fix(provider): announce a failed provider search and wait out an offline one
  apps/deploy-web/src/components/providers/ProviderList.spec.tsx
  apps/deploy-web/src/components/providers/ProviderList.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.spec.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.ts
Due: deploy-web

test(ci): fail an api spec on purpose
  apps/api/src/ci-canary.spec.ts
Due: api

chore(ci): find the security scan run from its check's external id
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/security-scan-result.yml
Due: none

test(ci): run this branch's security workflows and force one re-run
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/security-scan-result.yml
Due: none

fix(deployment): stop a log collector toggle from leaving a ghost service
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/LogsCard/LogsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/LogsCard/LogsCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/DeploymentPane.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentPane/PlacementCard/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/PlacementManagerProvider/PlacementManagerProvider.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/PlacementManagerProvider/PlacementManagerProvider.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/serviceSelection/serviceSelection.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/serviceSelection/serviceSelection.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useForceSshForVmServices/useForceSshForVmServices.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useForceSshForVmServices/useForceSshForVmServices.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/usePlacementManager/usePlacementManager.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/usePlacementManager/usePlacementManager.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useSyncLogCollectors/useSyncLogCollectors.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useSyncLogCollectors/useSyncLogCollectors.ts
Due: deploy-web

fix(provider): show no failure while a retry of the provider search waits for the network
  apps/deploy-web/src/components/providers/useProviderListModel.spec.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.ts
Due: deploy-web

feat(deployment): add a security card and put compute on one row
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ComputeResourcesCard/ComputeResourcesCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ComputeResourcesCard/ComputeResourcesCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeFields/ConfidentialComputeFields.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/ConfidentialComputeFields/ConfidentialComputeFields.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/HardwareSection/HardwareSection.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/LogsCard/LogsCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/RuntimeCard/RuntimeCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/SecurityCard/SecurityCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigurationPane/SecurityCard/SecurityCard.tsx
  apps/deploy-web/tests/ui/pages/ConfigureDeploymentPage.ts
Due: deploy-web

refactor(deployment): share the request quotes and cta logic and add resource icons
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentHeader/ConfigureDeploymentHeader.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentResourceSummary/DeploymentResourceSummary.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentResourceSummary/DeploymentResourceSummary.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentResourceSummary/deploymentResources.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentResourceSummary/deploymentResources.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentResourceSummary/useDeploymentResourceSummary.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/DeploymentResourceSummary/useDeploymentResourceSummary.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/deployCtaState/deployCtaState.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/deployCtaState/deployCtaState.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useQuoteExpiry/formatCountdown.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useQuoteExpiry/formatCountdown.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useRequestQuotes/useRequestQuotes.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useRequestQuotes/useRequestQuotes.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useRetryDeploy/useRetryDeploy.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useRetryDeploy/useRetryDeploy.ts
Due: deploy-web

chore(ci): upload failed test results after the coverage checks (#4105)
  .github/workflows/all-ci.yml
  .github/workflows/reusable-validate-app.yml
Due: none

chore(ci): re-run the security scan when its analysis does not pass (#4107)
  .github/workflows/all-ci-unsafe.yml
  .github/workflows/security-scan-result.yml
Due: none

fix(provider): name the explorer's refresh button after what it does
  apps/deploy-web/src/components/providers/ProviderList.spec.tsx
  apps/deploy-web/src/components/providers/ProviderList.tsx
Due: deploy-web

feat(deployment): add the two panel configure editor behind a flag
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureDeploymentForm/ConfigureDeploymentForm.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ConfigureEditor.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ConfigureEditor.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/PlacementFields/PlacementFields.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/PlacementFields/PlacementFields.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/PlacementTabs/PlacementTabs.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/PlacementTabs/PlacementTabs.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ResetConfigurationButton/ResetConfigurationButton.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ResetConfigurationButton/ResetConfigurationButton.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ServiceCard/ServiceCard.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ServiceCard/ServiceCard.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ServiceStack/ServiceStack.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureEditor/ServiceStack/ServiceStack.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/ConfigureWorkspace/ConfigureWorkspace.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/SdlImportExport/SdlImportExport.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/SdlImportExport/SdlImportExport.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/SdlPreviewPane/useSdlPreviewPanel.spec.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/SdlPreviewPane/useSdlPreviewPanel.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigurationStatus/useConfigurationStatus.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/useConfigurationStatus/useConfigurationStatus.ts
  apps/deploy-web/src/components/deployments/ConfigureDeployment/usePlacementManager/usePlacementManager.spec.tsx
  apps/deploy-web/src/components/deployments/ConfigureDeployment/usePlacementManager/usePlacementManager.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
  apps/deploy-web/src/types/feature-flags.ts
Due: deploy-web

fix(provider): keep the explorer's search and filters on screen when its search fails (#4103)
  apps/deploy-web/src/components/providers/ProviderList.spec.tsx
  apps/deploy-web/src/components/providers/ProviderList.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.spec.tsx
  apps/deploy-web/src/components/providers/useProviderListModel.ts
Due: deploy-web

fix(deployment): expose a port that declares no as on its container port (#4101)
  apps/deploy-web/src/utils/sdl/sdlImport.spec.ts
  apps/deploy-web/src/utils/sdl/sdlImport.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
