Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

docs(dx): cap JSDoc at one line and ban derivation prose
  .claude/instructions/clean-code-over-comments.md
Due: none

feat(deployment): delete a deployment setting no chain deployment backs (#3685)
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/chain/providers/chain-sdk.provider.ts
  apps/api/src/deployment/services/delete-unbacked-deployment-setting/delete-unbacked-deployment-setting.handler.integration.ts
  apps/api/src/deployment/services/delete-unbacked-deployment-setting/delete-unbacked-deployment-setting.handler.spec.ts
  apps/api/src/deployment/services/delete-unbacked-deployment-setting/delete-unbacked-deployment-setting.handler.ts
  apps/api/src/deployment/services/deployment-presence/deployment-presence.service.spec.ts
  apps/api/src/deployment/services/deployment-presence/deployment-presence.service.ts
Due: api

fix(deployment): skip a deposit too small to outlast the funding cooldown (#3682)
  apps/api/src/deployment/lib/top-up-summarizer/top-up-summarizer.spec.ts
  apps/api/src/deployment/lib/top-up-summarizer/top-up-summarizer.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.spec.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

fix(deployment): unify byte units, runtime countdown and the cost tooltip on the detail page (#3677)
  apps/deploy-web/src/components/deployments/ConfidentialComputeResources.spec.tsx
  apps/deploy-web/src/components/deployments/ConfidentialComputeResources.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetailHeader.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/PlacementServiceRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentPlacements/placementModel.ts
  apps/deploy-web/src/components/shared/CostBreakdownTooltip.spec.tsx
  apps/deploy-web/src/components/shared/CostBreakdownTooltip.tsx
  apps/deploy-web/src/components/shared/CostRate.spec.tsx
  apps/deploy-web/src/components/shared/CostRate.tsx
  apps/deploy-web/src/hooks/useTickingNow.ts
  apps/deploy-web/src/utils/deploymentData/helpers.ts
  apps/deploy-web/src/utils/runtimeLimitUtils.spec.ts
  apps/deploy-web/src/utils/runtimeLimitUtils.ts
  apps/deploy-web/src/utils/unitUtils.spec.ts
  apps/deploy-web/src/utils/unitUtils.ts
Due: deploy-web

docs(dx): cap JSDoc at one line and ban derivation prose (#3694)
  .claude/instructions/clean-code-over-comments.md
Due: none

fix(deployment): reject a retry ceiling that is not a whole number of seconds
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
Due: api

fix(deployment): give the compensation's retries a gap between them
  apps/api/src/app/providers/jobs.provider.spec.ts
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.integration.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

test(deployment): stop the compensation worker the retry test starts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.integration.ts
Due: api

feat(deployment): enqueue a setting's compensation in the write that records it
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.integration.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(analytics): stop sending Amplitude events from localhost and test runs
  apps/deploy-web/src/services/analytics/analytics.service.spec.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

refactor(deployment): cut the compensation config JSDoc to one line each
  apps/api/src/deployment/config/env.config.ts
Due: api

refactor(analytics): stop sending email_sent to Amplitude
  apps/notifications/env/.env.test
  apps/notifications/package.json
  apps/notifications/src/modules/notifications/config/env.config.ts
  apps/notifications/src/modules/notifications/notifications.module.ts
  apps/notifications/src/modules/notifications/providers/amplitude.provider.ts
  apps/notifications/src/modules/notifications/providers/hash.provider.ts
  apps/notifications/src/modules/notifications/services/analytics/analytics.service.spec.ts
  apps/notifications/src/modules/notifications/services/analytics/analytics.service.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.ts
  package-lock.json
Due: notifications

refactor(deployment): cut the outbox JSDoc to one line and drop it from tests
  apps/api/src/app/providers/jobs.provider.spec.ts
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.integration.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

fix(deployment): count the compensation's first attempt in its retry horizon
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
Due: api

feat(deployment): enqueue a setting's compensation in the write that records it (#3686)
  apps/api/src/app/providers/jobs.provider.spec.ts
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/deployment/config/env.config.spec.ts
  apps/api/src/deployment/config/env.config.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.integration.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployments.spec.ts
Due: api

fix(analytics): treat the whole 127.0.0.0/8 range as untrackable
  apps/deploy-web/src/services/analytics/analytics.service.spec.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

refactor(analytics): stop reporting from the beta and testnet environments
  apps/deploy-web/env/.env.staging
  apps/deploy-web/env/.env.staging-testnet
Due: deploy-web

fix(analytics): stop sending Amplitude events from localhost and test runs (#3700)
  apps/deploy-web/src/services/analytics/analytics.service.spec.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

refactor(analytics): stop reporting from the beta and testnet environments (#3702)
  apps/deploy-web/env/.env.staging
  apps/deploy-web/env/.env.staging-testnet
Due: deploy-web

refactor(observability): log alert notifications and email sends
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.ts
  apps/notifications/src/modules/alert/services/alert-notified-log.ts
  apps/notifications/src/modules/alert/services/chain-alert/chain-alert.service.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.ts
  apps/notifications/src/modules/alert/services/reclaim-alert/reclaim-alert.service.ts
  apps/notifications/src/modules/alert/services/wallet-balance-alerts/wallet-balance-alerts.service.ts
  apps/notifications/src/modules/alert/types/message-callback.type.ts
  apps/notifications/src/modules/notifications/dto/NotificationCommand.dto.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.ts
  apps/notifications/src/modules/notifications/services/notification-router/notification-router.service.spec.ts
  apps/notifications/src/modules/notifications/services/notification-router/notification-router.service.ts
Due: notifications

refactor(analytics): replace the Amplitude email_sent event with structured logs (#3701)
  apps/notifications/env/.env.test
  apps/notifications/package.json
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.spec.ts
  apps/notifications/src/interfaces/rest/controllers/jobs/jobs.controller.ts
  apps/notifications/src/modules/alert/services/alert-notified-log.ts
  apps/notifications/src/modules/alert/services/chain-alert/chain-alert.service.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.ts
  apps/notifications/src/modules/alert/services/reclaim-alert/reclaim-alert.service.ts
  apps/notifications/src/modules/alert/services/wallet-balance-alerts/wallet-balance-alerts.service.ts
  apps/notifications/src/modules/alert/types/message-callback.type.ts
  apps/notifications/src/modules/notifications/config/env.config.ts
  apps/notifications/src/modules/notifications/dto/NotificationCommand.dto.ts
  apps/notifications/src/modules/notifications/notifications.module.ts
  apps/notifications/src/modules/notifications/providers/amplitude.provider.ts
  apps/notifications/src/modules/notifications/providers/hash.provider.ts
  apps/notifications/src/modules/notifications/services/analytics/analytics.service.spec.ts
  apps/notifications/src/modules/notifications/services/analytics/analytics.service.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.spec.ts
  apps/notifications/src/modules/notifications/services/email-sender/email-sender.service.ts
  apps/notifications/src/modules/notifications/services/notification-router/notification-router.service.spec.ts
  apps/notifications/src/modules/notifications/services/notification-router/notification-router.service.ts
  package-lock.json
Due: notifications

fix(deployment): stop the balance floor stranding the tail of a balance
  apps/api/src/deployment/lib/top-up-summarizer/top-up-summarizer.spec.ts
  apps/api/src/deployment/lib/top-up-summarizer/top-up-summarizer.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.spec.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.ts
  apps/api/src/deployment/services/initial-deployment-funding/initial-deployment-funding.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/deployment-top-up-instrumentation.ts
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

test(deployment): cover the headroom concession telemetry on both funding paths
  apps/api/src/deployment/services/top-up-managed-deployments/fund-draining-deployments-instrumentation.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments-instrumentation.service.spec.ts
Due: api

test(deployment): give the summarizer spec a setup function
  apps/api/src/deployment/lib/top-up-summarizer/top-up-summarizer.spec.ts
Due: api

refactor(dx): delete unused http-sdk services, methods and registrations
  apps/api/src/core/providers/http-sdk.provider.ts
  apps/deploy-web/src/context/ServicesProvider/ServicesProvider.tsx
  apps/deploy-web/src/utils/apiUtils.ts
  package-lock.json
  packages/http-sdk/package.json
  packages/http-sdk/src/auth/auth-http.service.ts
  packages/http-sdk/src/certificates/certificates.service.ts
  packages/http-sdk/src/index.ts
  packages/http-sdk/src/managed-wallet-http/managed-wallet-http.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
  packages/http-sdk/src/provider/types.ts
  packages/http-sdk/src/stripe/stripe.service.ts
  packages/http-sdk/src/stripe/stripe.types.ts
  packages/http-sdk/src/utils/logger.ts
  packages/http-sdk/src/utils/pagination.utils.spec.ts
  packages/http-sdk/src/utils/pagination.utils.ts
Due: api, deploy-web

refactor(network): retry failed chain-sdk queries
  apps/api/src/chain/providers/chain-sdk.provider.ts
Due: api

feat(provider): add shared verification policy evaluator
  packages/provider-verification/package.json
  packages/provider-verification/src/index.ts
  packages/provider-verification/src/providerTierState.spec.ts
  packages/provider-verification/src/providerTierState.ts
  packages/provider-verification/src/providerVerification.spec.ts
  packages/provider-verification/src/providerVerification.ts
  packages/provider-verification/src/providerVerificationQueryClient.spec.ts
  packages/provider-verification/src/providerVerificationQueryClient.ts
  packages/provider-verification/tsconfig.build.json
  packages/provider-verification/tsconfig.json
  packages/provider-verification/vitest.config.ts
Due: none

feat(provider): expose verification views in API
  apps/api/package.json
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.spec.ts
  apps/api/src/bid-screening/http-schemas/bid-screening.schema.ts
  apps/api/src/bid-screening/routes/bid-screening.router.spec.ts
  apps/api/src/bid-screening/routes/bid-screening.router.ts
  apps/api/src/core/config/env.config.ts
  apps/api/src/provider/controllers/provider/provider.controller.spec.ts
  apps/api/src/provider/controllers/provider/provider.controller.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/provider-verification/provider-verification-readiness.service.spec.ts
  apps/api/src/provider/provider-verification/provider-verification-readiness.service.ts
  apps/api/src/provider/provider-verification/provider-verification-tier-demotion.repository.spec.ts
  apps/api/src/provider/provider-verification/provider-verification-tier-demotion.repository.ts
  apps/api/src/provider/provider-verification/provider-verification-tier-demotion.schema.ts
  apps/api/src/provider/provider-verification/provider-verification-tier-demotion.service.spec.ts
  apps/api/src/provider/provider-verification/provider-verification-tier-demotion.service.ts
  apps/api/src/provider/provider-verification/provider-verification.mapper.spec.ts
  apps/api/src/provider/provider-verification/provider-verification.mapper.ts
  apps/api/src/provider/provider-verification/provider-verification.repository.spec.ts
  apps/api/src/provider/provider-verification/provider-verification.repository.ts
  apps/api/src/provider/provider-verification/provider-verification.schema.ts
  apps/api/src/provider/provider-verification/provider-verification.service.spec.ts
  apps/api/src/provider/provider-verification/provider-verification.service.ts
  apps/api/src/provider/routes/providers/providers.router.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/src/routers/internalRouter.ts
  apps/api/src/routes/internal/index.ts
  apps/api/src/routes/internal/providerVerificationTierDemotions.ts
  apps/api/src/types/provider.ts
  apps/api/src/utils/map/provider.ts
  apps/api/swagger/openapi.json
  packages/console-api-types/src/schema.d.ts
Due: api

feat(bid): screen providers by verification policy
  apps/provider-inventory/drizzle/0005_add_provider_verification.sql
  apps/provider-inventory/drizzle/meta/0005_snapshot.json
  apps/provider-inventory/drizzle/meta/_journal.json
  apps/provider-inventory/package.json
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/controllers/bid-screening/bid-screening.controller.ts
  apps/provider-inventory/src/http-schemas/bid-screening.schema.spec.ts
  apps/provider-inventory/src/http-schemas/bid-screening.schema.ts
  apps/provider-inventory/src/mappers/groupspec-mapper/groupspec-mapper.ts
  apps/provider-inventory/src/mappers/provider-verification-mapper/provider-verification-mapper.spec.ts
  apps/provider-inventory/src/mappers/provider-verification-mapper/provider-verification-mapper.ts
  apps/provider-inventory/src/model-schemas/provider-inventory/provider-inventory.schema.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/providers/provider-verification-query-client.provider.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.integration.ts
  apps/provider-inventory/src/repositories/provider-inventory/provider-inventory.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  apps/provider-inventory/src/services/chain-provider-poller/chain-provider-poller.service.spec.ts
  apps/provider-inventory/src/services/chain-provider-poller/chain-provider-poller.service.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.ts
  apps/provider-inventory/src/types/chain-provider.ts
  apps/provider-inventory/src/types/inventory.ts
  apps/provider-inventory/src/types/provider-verification.ts
  apps/provider-inventory/test/functional/discovery-pipeline.spec.ts
Due: none

feat(stats): render provider verification transactions
  apps/stats-web/src/components/transactions/TxMessageRow.tsx
  apps/stats-web/src/components/transactions/akash/aep86/Aep86RecordView.tsx
  apps/stats-web/src/components/transactions/akash/aep86/aep86Formatting.ts
  apps/stats-web/src/components/transactions/akash/aep86/aep86Types.spec.ts
  apps/stats-web/src/components/transactions/akash/aep86/aep86Types.ts
  apps/stats-web/src/hooks/useFriendlyMessageType.spec.ts
  apps/stats-web/src/hooks/useFriendlyMessageType.ts
Due: stats-web

feat(notifications): alert on provider verification changes
  apps/notifications/drizzle/0006_romantic_sasquatch.sql
  apps/notifications/drizzle/meta/0006_snapshot.json
  apps/notifications/drizzle/meta/_journal.json
  apps/notifications/src/common/config/event-key-registry.config.ts
  apps/notifications/src/infrastructure/broker/services/broker/event-map.ts
  apps/notifications/src/interfaces/alert-events/handlers/chain-events/chain-events.handler.spec.ts
  apps/notifications/src/interfaces/alert-events/handlers/chain-events/chain-events.handler.ts
  apps/notifications/src/modules/alert/alert.module.ts
  apps/notifications/src/modules/alert/config/env.config.spec.ts
  apps/notifications/src/modules/alert/config/env.config.ts
  apps/notifications/src/modules/alert/dto/event-provider-maintenance-opened.dto.ts
  apps/notifications/src/modules/alert/model-schemas/index.ts
  apps/notifications/src/modules/alert/model-schemas/provider-tier-demotion.schema.ts
  apps/notifications/src/modules/alert/repositories/alert/alert-json-fields.schema.ts
  apps/notifications/src/modules/alert/repositories/alert/alert.repository.ts
  apps/notifications/src/modules/alert/repositories/provider-tier-demotion/provider-tier-demotion.repository.ts
  apps/notifications/src/modules/alert/services/provider-active-leases/provider-active-leases.service.spec.ts
  apps/notifications/src/modules/alert/services/provider-active-leases/provider-active-leases.service.ts
  apps/notifications/src/modules/alert/services/provider-maintenance-alert/provider-maintenance-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/provider-maintenance-alert/provider-maintenance-alert.service.ts
  apps/notifications/src/modules/alert/services/provider-tier-demotion-alert/provider-tier-demotion-alert.service.spec.ts
  apps/notifications/src/modules/alert/services/provider-tier-demotion-alert/provider-tier-demotion-alert.service.ts
  apps/notifications/src/modules/alert/services/provider-tier-demotion-feed/provider-tier-demotion-feed.service.spec.ts
  apps/notifications/src/modules/alert/services/provider-tier-demotion-feed/provider-tier-demotion-feed.service.ts
  apps/notifications/src/modules/alert/types/provider-lease.type.ts
  apps/notifications/src/modules/alert/types/provider-tier-demotion.type.ts
  apps/notifications/src/modules/chain/providers/registry.provider.spec.ts
  apps/notifications/src/modules/chain/providers/registry.provider.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.spec.ts
  apps/notifications/src/modules/chain/services/tx-events-service/tx-events.service.ts
  apps/notifications/test/functional/provider-maintenance-alert.spec.ts
  apps/notifications/test/functional/provider-tier-demotion-alert.spec.ts
Due: notifications

build(repo): sync provider verification workspace
  package-lock.json
Due: none

fix(stats): keep formatter export canonical
  apps/stats-web/src/hooks/useFriendlyMessageType.spec.ts
  apps/stats-web/src/hooks/useFriendlyMessageType.ts
Due: stats-web

test(sdl): await verification selections
  apps/deploy-web/src/components/sdl/PlacementVerificationFormControl.spec.tsx
Due: deploy-web

build(repo): use AEP-86 SDK alpha
  apps/api/package.json
  apps/deploy-web/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/provider-inventory/package.json
  apps/provider-proxy/package.json
  apps/stats-web/package.json
  apps/tx-signer/package.json
  package-lock.json
  packages/network-store/package.json
  packages/provider-verification/package.json
Due: api, deploy-web, indexer, notifications, provider-proxy, stats-web

test(provider): update verification API snapshot
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

chore(ci): report security-scan once per scanned commit
  .github/workflows/all-ci-unsafe.yml
Due: none

chore(ci): report security-scan once per scanned commit (#3710)
  .github/workflows/all-ci-unsafe.yml
Due: none

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
