Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

test: updates e2e tests for patching deployments
  apps/api/test/e2e/managed-api-deployment-flow.spec.ts
Due: api

test: adds e2e test for patching env varibles in deployment
  apps/api/test/e2e/managed-api-deployment-flow.spec.ts
Due: api

test: fix test
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.integration.ts
Due: api

chore: fix cr
  apps/api/src/deployment/http-schemas/deployment.schema.ts
Due: api

chore: fix cr
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

chore: updates snapshot
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

feat(deployment): patch a deployment over http (#3830)
  apps/api/src/app/services/close-trial-deployment/close-trial-deployment.handler.integration.ts
  apps/api/src/deployment/controllers/deployment-setting/deployment-setting.controller.spec.ts
  apps/api/src/deployment/controllers/deployment/deployment.controller.ts
  apps/api/src/deployment/http-schemas/deployment-setting.schema.ts
  apps/api/src/deployment/http-schemas/deployment.schema.spec.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/routes/deployment-setting/deployment-setting.router.ts
  apps/api/src/deployment/routes/deployments/deployments.router.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl-patch/sdl-patch.service.ts
  apps/api/src/utils/schema.ts
  apps/api/swagger/openapi.json
  apps/api/test/e2e/managed-api-deployment-flow.spec.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployment-patch-route.spec.ts
  apps/api/test/functional/deployment-setting.spec.ts
  packages/console-api-types/src/notifications/schema.d.ts
  packages/console-api-types/src/operations.gen.ts
  packages/console-api-types/src/schema.d.ts
  packages/dev-config/eslint/base.mjs
Due: api

test(deployment): follow the base's refusal of a zero timeout
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test(deployment): cover the retry that a failed broadcast leaves a client holding
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test(deployment): make the fixtures able to fail
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test(deployment): count the opens the kms tally cannot see
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test(deployment): put setup last in the describe block, as the convention asks
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test(deployment): assert what the neighbours of a moved variable keep
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test(deployment): assert every column when a patch is meant to persist nothing
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test(deployment): build the wallet double with mock rather than an as-unknown cast
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test(deployment): cover patching a deployment end to end
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test(deployment): bound the wait on the concurrency barrier
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test: refactor to remove shared state
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test(deployment): cover the lost update two concurrent patches used to cause
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

test(deployment): cover the churning path AC1 does not exercise
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

fix(deployment): converge the unbacked-setting compensation queue onto an exclusive policy
  apps/api/src/core/services/job-queue/job-queue.service.integration.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/services/delete-unbacked-deployment-setting/delete-unbacked-deployment-setting.handler.ts
Due: api

fix(deployment): let a retry on the same dseq reuse the compensation already waiting for its row
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.spec.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

fix(deployment): stop persisting a deployment setting on read
  apps/api/src/deployment/controllers/deployment-setting/deployment-setting.controller.spec.ts
  apps/api/src/deployment/controllers/deployment-setting/deployment-setting.controller.ts
  apps/api/src/deployment/routes/deployment-setting/deployment-setting.router.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/test/functional/deployment-setting.spec.ts
Due: api

fix(deployment): inherit only a compensation still waiting past the retry's broadcast
  apps/api/src/core/services/job-queue/job-queue.service.integration.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

refactor(deployment): keep the compensation JSDoc to one sentence on one line
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

fix(deployment): hand records the indexer never saw to the unbacked-setting compensation
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.integration.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.spec.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
Due: api

test(deployment): cover patching a deployment in functional tests (#3831)
  apps/api/test/functional/deployment-patch.spec.ts
Due: api

fix(deployment): stop deployment settings rows from outliving deployments that never existed (#3838)
  apps/api/src/core/services/job-queue/job-queue.service.integration.ts
  apps/api/src/core/services/job-queue/job-queue.service.spec.ts
  apps/api/src/core/services/job-queue/job-queue.service.ts
  apps/api/src/deployment/controllers/deployment-setting/deployment-setting.controller.spec.ts
  apps/api/src/deployment/controllers/deployment-setting/deployment-setting.controller.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/routes/deployment-setting/deployment-setting.router.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.integration.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.spec.ts
  apps/api/src/deployment/services/closed-deployments-reconciler/closed-deployments-reconciler.service.ts
  apps/api/src/deployment/services/delete-unbacked-deployment-setting/delete-unbacked-deployment-setting.handler.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.spec.ts
  apps/api/src/deployment/services/deployment-setting/deployment-setting.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.spec.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/test/functional/deployment-setting.spec.ts
Due: api

fix(deployment): fix the trial workload probe defects found in review
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/workload-abuse/config/env.config.spec.ts
  apps/api/src/workload-abuse/config/env.config.ts
  apps/api/src/workload-abuse/services/provider-stream/provider-stream.service.spec.ts
  apps/api/src/workload-abuse/services/provider-stream/provider-stream.service.ts
  apps/api/src/workload-abuse/services/trial-workload-probe-job/trial-workload-probe-job.service.spec.ts
  apps/api/src/workload-abuse/services/trial-workload-probe-job/trial-workload-probe-job.service.ts
Due: api

test(deployment): cover the provider stream output cap across frames
  apps/api/src/workload-abuse/services/provider-stream/provider-stream.service.spec.ts
Due: api

fix(deployment): fix the trial workload probe defects found in review (#3865)
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.spec.ts
  apps/api/src/app/services/trial-deployment-lease-created/trial-deployment-lease-created.handler.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.integration.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/workload-abuse/config/env.config.spec.ts
  apps/api/src/workload-abuse/config/env.config.ts
  apps/api/src/workload-abuse/services/provider-stream/provider-stream.service.spec.ts
  apps/api/src/workload-abuse/services/provider-stream/provider-stream.service.ts
  apps/api/src/workload-abuse/services/trial-workload-probe-job/trial-workload-probe-job.service.spec.ts
  apps/api/src/workload-abuse/services/trial-workload-probe-job/trial-workload-probe-job.service.ts
Due: api

fix(billing): let the funding wallet revoke a deposit grant through the tx-signer
  apps/tx-signer/src/config/message-urls.config.ts
  apps/tx-signer/src/services/tx-policy/tx-policy.service.spec.ts
  apps/tx-signer/src/services/tx-policy/tx-policy.service.ts
  apps/tx-signer/test/functional/sign-and-broadcast-tx.spec.ts
Due: none

fix(billing): let the funding wallet revoke a deposit grant through the tx-signer (#3877)
  apps/tx-signer/src/config/message-urls.config.ts
  apps/tx-signer/src/services/tx-policy/tx-policy.service.spec.ts
  apps/tx-signer/src/services/tx-policy/tx-policy.service.ts
  apps/tx-signer/test/functional/sign-and-broadcast-tx.spec.ts
Due: none

fix(deployment): run the trial deployment probe sweep on staging sandbox
  .helm/console-api-staging-sandbox-values.yaml
Due: none

fix(user): ask for fair use policy acceptance before the trial wallet exists
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.spec.tsx
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.tsx
Due: deploy-web

fix(deployment): run the trial deployment probe sweep on staging sandbox (#3878)
  .helm/console-api-staging-sandbox-values.yaml
Due: none

fix(user): keep the page when the wallet lookup failed instead of demanding acceptance
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.spec.tsx
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.spec.tsx
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
  apps/deploy-web/src/hooks/useManagedWallet.spec.tsx
  apps/deploy-web/src/hooks/useManagedWallet.ts
Due: deploy-web

test(user): accept the fair use policy in the e2e fixture right after registration
  apps/deploy-web/tests/ui/actions/fair-use-policy.ts
  apps/deploy-web/tests/ui/fixture/base-test.ts
Due: deploy-web

test(user): return from the fair use prompt check as soon as onboarding renders
  apps/deploy-web/tests/ui/actions/fair-use-policy.ts
Due: deploy-web

test(user): delete the registered e2e user even when the policy prompt fails
  apps/deploy-web/src/components/fair-use-policy/RequireFairUsePolicy/RequireFairUsePolicy.tsx
  apps/deploy-web/tests/ui/actions/fair-use-policy.ts
  apps/deploy-web/tests/ui/fixture/base-test.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
