Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  status:
    project:
      default: off
      api:
        target: 57%
        flags:
          - api
      deploy-web:
        target: 9%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

fix(provider): added loading for api-key get call
  apps/provider-console/src/components/api-keys/ApiKeyList.tsx
  apps/provider-console/src/pages/api-keys/index.tsx
Due: provider-console

fix(provider): added unit tests for api keys
  apps/provider-console/src/components/api-keys/ApiKeyList.spec.tsx
  apps/provider-console/src/components/api-keys/ApiKeyList.tsx
Due: provider-console

fix(provider): added loading for api-key get call (#1792)
  apps/provider-console/src/components/api-keys/ApiKeyList.spec.tsx
  apps/provider-console/src/components/api-keys/ApiKeyList.tsx
  apps/provider-console/src/pages/api-keys/index.tsx
Due: provider-console

refactor: archive completed jobs in 24h
  apps/notifications/src/common/config/event-key-registry.config.ts
  apps/notifications/src/infrastructure/broker/config/env.config.ts
  apps/notifications/src/infrastructure/broker/providers/pg-boss/pg-boss.provider.spec.ts
  apps/notifications/src/infrastructure/broker/providers/pg-boss/pg-boss.provider.ts
  apps/notifications/src/infrastructure/broker/services/broker/broker.service.spec.ts
  apps/notifications/src/infrastructure/broker/services/broker/broker.service.ts
  apps/notifications/src/infrastructure/broker/services/broker/event-map.ts
  apps/notifications/src/lib/rich-error/rich-error.ts
  apps/notifications/src/modules/alert/services/alert-message/alert-message.service.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/test/seeders/broker-config.seeder.ts
Due: notifications

refactor: reduces usage of services variable
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.tsx
  apps/deploy-web/src/hooks/useEmailVerificationRequiredEventHandler.tsx
Due: deploy-web

refactor: archive completed jobs in 24h (#1783)
  apps/notifications/src/common/config/event-key-registry.config.ts
  apps/notifications/src/infrastructure/broker/config/env.config.ts
  apps/notifications/src/infrastructure/broker/providers/pg-boss/pg-boss.provider.spec.ts
  apps/notifications/src/infrastructure/broker/providers/pg-boss/pg-boss.provider.ts
  apps/notifications/src/infrastructure/broker/services/broker/broker.service.spec.ts
  apps/notifications/src/infrastructure/broker/services/broker/broker.service.ts
  apps/notifications/src/infrastructure/broker/services/broker/event-map.ts
  apps/notifications/src/lib/rich-error/rich-error.ts
  apps/notifications/src/modules/alert/services/alert-message/alert-message.service.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
  apps/notifications/test/seeders/broker-config.seeder.ts
Due: notifications

refactor: reduces usage of services variable (#1772)
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/steps/EmailVerificationContainer/EmailVerificationContainer.tsx
  apps/deploy-web/src/hooks/useEmailVerificationRequiredEventHandler.tsx
Due: deploy-web

refactor: improves types in jwt
  packages/jwt/src/index.ts
  packages/jwt/src/jwt-token.spec.ts
  packages/jwt/src/jwt-token.ts
  packages/jwt/src/jwt-validator.ts
  packages/jwt/src/test/test-utils.ts
  packages/jwt/src/types.ts
Due: none

feat: use JWT instead of certificates
  apps/api/examples/lease-flow.ts
  apps/api/package.json
  apps/api/src/billing/lib/wallet/wallet.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/deployment/http-schemas/deployment.schema.ts
  apps/api/src/deployment/http-schemas/lease.schema.ts
  apps/api/src/deployment/services/deployment-reader/deployment-reader.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/deployments.spec.ts
  package-lock.json
Due: api

fix: wrap args in an object
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/lease/lease.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

feat: memoize generating data for JWT Token
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
Due: api

test: add a missing test for better coverage of ProviderService
  apps/api/src/provider/services/provider/provider.service.spec.ts
Due: api

fix: communicate straight with provider
  apps/api/src/provider/services/provider/provider.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api

fix: limit permissions in JWT token
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

fix: rename variable passed around to manifest
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  packages/http-sdk/src/provider/provider-http.service.ts
Due: api

fix: set scoped permissions when generating jwt tokens
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

refactor: drop unused variables
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
Due: api

feat: can generate a jwt token with custom TTL
  apps/api/src/provider/services/jwt-token/jwt-token.service.spec.ts
  apps/api/src/provider/services/jwt-token/jwt-token.service.ts
Due: api

test: make sure endpoints work with or without cert
  apps/api/test/functional/deployments.spec.ts
  apps/api/test/functional/lease-flow.spec.ts
Due: api

fix: returns 400 if provider API returns "validation failed" in response
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
Due: provider-proxy

fix: returns 400 if provider API returns "validation failed" in response (#1795)
  apps/provider-proxy/src/services/ProviderService/ProviderService.spec.ts
  apps/provider-proxy/src/services/ProviderService/ProviderService.ts
Due: provider-proxy

refactor: improves types in jwt (#1794)
  packages/jwt/src/index.ts
  packages/jwt/src/jwt-token.spec.ts
  packages/jwt/src/jwt-token.ts
  packages/jwt/src/jwt-validator.ts
  packages/jwt/src/test/test-utils.ts
  packages/jwt/src/types.ts
Due: none

feat: enables sentry sourcemaps in deploy-web
  .github/workflows/reusable-build-image.yml
  apps/deploy-web/env/.env
  apps/deploy-web/next.config.js
  apps/deploy-web/package.json
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  packages/docker/Dockerfile.nextjs
  packages/docker/docker-compose.build.yml
Due: deploy-web

fix(billing): only check for deployment allowance tx when create
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
Due: api

fix(billing): only check for deployment allowance tx when create (#1804)
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
Due: api

fix: improve caching function
  apps/api/src/caching/helpers.spec.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/provider/controllers/provider/provider.controller.ts
Due: api

fix: return cache data if error
  apps/api/src/caching/helpers.spec.ts
  apps/api/src/caching/helpers.ts
Due: api

fix: improve concurrency check
  apps/api/src/caching/helpers.spec.ts
  apps/api/src/caching/helpers.ts
Due: api

feat: enables sentry sourcemaps in deploy-web (#1800)
  .github/workflows/reusable-build-image.yml
  apps/deploy-web/env/.env
  apps/deploy-web/next.config.js
  apps/deploy-web/package.json
  apps/deploy-web/src/components/billing-usage/BillingView/BillingView.spec.tsx
  packages/docker/Dockerfile.nextjs
  packages/docker/docker-compose.build.yml
Due: deploy-web

fix: ensure that traceparent/tracestate/baggage are tracked in logs
  .gitignore
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/test/services/test-wallet.service.ts
  apps/deploy-web/src/components/user/UserProviders.tsx
  apps/deploy-web/src/components/user/UserProviders/UserProviders.spec.tsx
  apps/deploy-web/src/components/user/UserProviders/UserProviders.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/server-env.config.ts
  apps/deploy-web/src/hooks/useCustomUser.ts
  apps/deploy-web/src/hooks/useStoredAnonymousUser.ts
  apps/deploy-web/src/hooks/useUser.ts
  apps/deploy-web/src/lib/nextjs/defineApiHandler/defineApiHandler.spec.ts
  apps/deploy-web/src/lib/nextjs/defineApiHandler/defineApiHandler.ts
  apps/deploy-web/src/lib/nextjs/defineServerSideProps/defineServerSideProps.spec.ts
  apps/deploy-web/src/lib/nextjs/defineServerSideProps/defineServerSideProps.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/pages/api/proxy/[...path].ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/user-tracker/user-tracker.service.ts
  apps/deploy-web/src/types/user.ts
  apps/provider-proxy/package.json
  package-lock.json
Due: api, deploy-web, provider-proxy

fix: ensure that traceparent/tracestate are tracked in logs (#1799)
  .gitignore
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/test/services/test-wallet.service.ts
  apps/deploy-web/src/components/user/UserProviders.tsx
  apps/deploy-web/src/components/user/UserProviders/UserProviders.spec.tsx
  apps/deploy-web/src/components/user/UserProviders/UserProviders.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/server-env.config.ts
  apps/deploy-web/src/hooks/useCustomUser.ts
  apps/deploy-web/src/hooks/useStoredAnonymousUser.ts
  apps/deploy-web/src/hooks/useUser.ts
  apps/deploy-web/src/lib/nextjs/defineApiHandler/defineApiHandler.spec.ts
  apps/deploy-web/src/lib/nextjs/defineApiHandler/defineApiHandler.ts
  apps/deploy-web/src/lib/nextjs/defineServerSideProps/defineServerSideProps.spec.ts
  apps/deploy-web/src/lib/nextjs/defineServerSideProps/defineServerSideProps.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.spec.ts
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.ts
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/pages/api/proxy/[...path].ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/user-tracker/user-tracker.service.ts
  apps/deploy-web/src/types/user.ts
  apps/provider-proxy/package.json
  package-lock.json
Due: api, deploy-web, provider-proxy

refactor: moves user registraction logic under user controller
  apps/api/src/app.ts
  apps/api/src/auth/services/auth.interceptor.spec.ts
  apps/api/src/auth/services/auth.interceptor.ts
  apps/api/src/core/repositories/base.repository.ts
  apps/api/src/routers/userRouter.ts
  apps/api/src/user/controllers/user/user.controller.ts
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/src/user/routes/get-current-user/get-current-user.router.ts
  apps/api/src/user/routes/index.ts
  apps/api/src/user/routes/register-user/register-user.router.ts
  apps/api/src/user/schemas/user.schema.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/services/wallet-testing.service.ts
  apps/deploy-web/src/components/layout/AccountMenu.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/pages/api/auth/[...auth0].ts
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/auth/auth.service.ts
  apps/deploy-web/src/services/storage/keys.ts
Due: api, deploy-web
