Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(deployment): map denom (#2120)
  apps/api/src/deployment/services/fallback-deployment-reader/fallback-deployment-reader.service.ts
  packages/net/src/generated/netConfigData.ts
Due: api

fix: prevent console-api crash
  apps/api/src/server.ts
Due: api

fix: prevent console-api crash (#2122)
  apps/api/src/server.ts
Due: api

feat(billing): uses ws transport for signer implementation
  apps/api/env/.env.functional.test
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/lib/sync-signing-stargate-client/sync-signing-stargate-client.ts
  apps/api/src/billing/services/dedupe-signing-client/dedupe-signing-client.service.ts
Due: api

refactor(billing): connects a signing client within an app-controlled call stack
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/lib/sync-signing-stargate-client/sync-signing-stargate-client.ts
  apps/api/src/billing/providers/signing-client.provider.ts
  apps/api/src/billing/services/dedupe-signing-client/dedupe-signing-client.service.ts
  packages/net/src/generated/netConfigData.ts
Due: api

fix: akashnet twitter handle
  README.md
  apps/deploy-web/src/components/layout/PageHead.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/pages/contact.tsx
  apps/provider-console/src/components/layout/Footer.tsx
  apps/provider-console/src/components/layout/Sidebar.tsx
  apps/stats-web/src/app/layout.tsx
  apps/stats-web/src/components/layout/MobileNav.tsx
  apps/stats-web/src/components/layout/Nav.tsx
Due: deploy-web, provider-console, stats-web

fix: akashnet twitter handle (#2125)
  README.md
  apps/deploy-web/src/components/layout/PageHead.tsx
  apps/deploy-web/src/components/layout/Sidebar.tsx
  apps/deploy-web/src/pages/contact.tsx
  apps/provider-console/src/components/layout/Footer.tsx
  apps/provider-console/src/components/layout/Sidebar.tsx
  apps/stats-web/src/app/layout.tsx
  apps/stats-web/src/components/layout/MobileNav.tsx
  apps/stats-web/src/components/layout/Nav.tsx
Due: deploy-web, provider-console, stats-web

fix(provider): added auto-scroll fix
  apps/provider-console/src/components/shared/ActivityLogDetails.tsx
  packages/net/src/generated/netConfigData.ts
Due: provider-console

fix: add logging batching client
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  packages/net/src/generated/netConfigData.ts
Due: api

fix: add logging batching client (#2128)
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  packages/net/src/generated/netConfigData.ts
Due: api

fix: update top up signer to owner
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

fix: update top up signer to owner (#2129)
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

fix: adds ibc types to default registry
  apps/api/src/billing/providers/type-registry.provider.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/utils/protobuf.ts
  apps/deploy-web/src/types/balances.ts
  apps/deploy-web/src/utils/customRegistry.ts
  apps/deploy-web/src/utils/priceUtils.ts
  apps/indexer/src/shared/utils/protobuf.ts
Due: api, deploy-web, indexer

fix: adds ibc types to default registry (#2132)
  apps/api/src/billing/providers/type-registry.provider.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/utils/protobuf.ts
  apps/deploy-web/src/types/balances.ts
  apps/deploy-web/src/utils/customRegistry.ts
  apps/deploy-web/src/utils/priceUtils.ts
  apps/indexer/src/shared/utils/protobuf.ts
Due: api, deploy-web, indexer

fix: remove mapping from deposit detail sources because it shows numbers
  apps/stats-web/deploy.yml
  apps/stats-web/src/components/transactions/akash/helpers/DepositDetail.tsx
Due: stats-web

chore: use tsx instead of ts-node to run close deployments script after ui tests
  .github/actions/console-web-ui-testing/action.yml
  apps/deploy-web/script/closeDeployments.ts
Due: deploy-web

chore: use tsx instead of ts-node to run close deployments script after ui tests (#2135)
  .github/actions/console-web-ui-testing/action.yml
  apps/deploy-web/script/closeDeployments.ts
Due: deploy-web

fix: remove mapping from deposit detail sources because it shows numbers (#2134)
  apps/stats-web/deploy.yml
  apps/stats-web/src/components/transactions/akash/helpers/DepositDetail.tsx
Due: stats-web

refactor: splits BackgroundTaskProvider into hook and service
  apps/deploy-web/env/.env
  apps/deploy-web/env/.env.sample
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/deployments/ShellDownloadModal.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/config/ws.config.ts
  apps/deploy-web/src/context/BackgroundTaskProvider/BackgroundTaskProvider.tsx
  apps/deploy-web/src/context/BackgroundTaskProvider/index.ts
  apps/deploy-web/src/hooks/useProviderApiActions.tsx
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/deploy-web/tests/unit/setup.ts
Due: deploy-web

refactor(billing): improves batch signing client
  apps/api/env/.env.functional.test
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/lib/sync-signing-stargate-client/sync-signing-stargate-client.ts
  apps/api/src/billing/providers/signing-client.provider.ts
  apps/api/src/billing/services/balances/balances.service.ts
  apps/api/src/billing/services/dedupe-signing-client/dedupe-signing-client.service.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
Due: api

chore: fix cr
  apps/deploy-web/src/hooks/useProviderApiActions.tsx
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
Due: deploy-web

chore: fix test
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
Due: deploy-web

refactor(billing): addresses multiple issues after the code review
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/lib/sync-signing-stargate-client/sync-signing-stargate-client.ts
  apps/api/src/billing/providers/signing-client.provider.ts
  apps/api/src/billing/services/dedupe-signing-client/dedupe-signing-client.service.ts
  apps/api/src/caching/helpers.spec.ts
  apps/api/src/caching/helpers.ts
Due: api

refactor(billing): uses ws client transport for tx signer
  apps/api/env/.env.functional.test
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/lib/sync-signing-stargate-client/sync-signing-stargate-client.ts
Due: api

refactor(billing): manually disposes signing clients
  apps/api/src/billing/providers/signing-client.provider.ts
  apps/api/src/console.ts
  apps/api/src/core/services/start-server/start-server.ts
Due: api

refactor: splits BackgroundTaskProvider into hook and service (#2137)
  apps/deploy-web/env/.env
  apps/deploy-web/env/.env.sample
  apps/deploy-web/src/components/deployments/DeploymentLogs.tsx
  apps/deploy-web/src/components/deployments/ShellDownloadModal.tsx
  apps/deploy-web/src/config/browser-env.config.ts
  apps/deploy-web/src/config/env-config.schema.ts
  apps/deploy-web/src/config/ws.config.ts
  apps/deploy-web/src/context/BackgroundTaskProvider/BackgroundTaskProvider.tsx
  apps/deploy-web/src/context/BackgroundTaskProvider/index.ts
  apps/deploy-web/src/hooks/useProviderApiActions.tsx
  apps/deploy-web/src/pages/_app.tsx
  apps/deploy-web/src/services/app-di-container/app-di-container.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.spec.ts
  apps/deploy-web/src/services/provider-proxy/provider-proxy.service.ts
  apps/deploy-web/tests/unit/setup.ts
Due: deploy-web

refactor: sanitizes invalid UTF characters to prevent Loki crashes
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  packages/logging/src/services/logger/logger.service.spec.ts
  packages/logging/src/services/logger/logger.service.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.spec.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.ts
Due: api

refactor: sanitizes invalid UTF characters to prevent Loki crashes (#2143)
  apps/api/src/billing/controllers/stripe/stripe.controller.ts
  apps/api/src/billing/lib/batch-signing-client/batch-signing-client.service.ts
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  packages/logging/src/services/logger/logger.service.spec.ts
  packages/logging/src/services/logger/logger.service.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.spec.ts
  packages/logging/src/utils/collect-full-error-stack/collect-full-error-stack.ts
Due: api

feat: add otel namespace to logging package
  apps/api/src/console.ts
  apps/api/src/core/providers/logging.provider.ts
  apps/api/src/open-telemetry.ts
  apps/api/src/server.ts
  apps/provider-proxy/src/container.ts
  apps/provider-proxy/src/server.ts
  apps/provider-proxy/src/setupOpenTelemetry.ts
  packages/logging/package.json
  packages/logging/src/otel.ts
Due: api, provider-proxy

fix: remove unused LoggerService import in container.ts
  apps/provider-proxy/src/container.ts
Due: provider-proxy

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
