Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

feat(analytics): track GPU lease creation and resource amounts
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
Due: deploy-web

fix(repo): dedupe react and @types/react via root overrides
  package.json
Due: none

fix(repo): regenerate package-lock incrementally against react overrides
  package-lock.json
Due: none

fix(auth): move email-code auth specs out of pages/api
  apps/deploy-web/src/lib/nextjs/api-routes-specs/auth-email-code-start.spec.ts
  apps/deploy-web/src/lib/nextjs/api-routes-specs/auth-email-code-verify.spec.ts
Due: deploy-web

refactor: extracts postgresql logger into logging package
  apps/api/package.json
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/chain/providers/sequelize.provider.ts
  apps/api/src/core/providers/logging.provider.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/src/core/services/postgres-logger/postgres-logger.service.ts
  apps/provider-inventory/src/providers/postgres.provider.ts
  knip.json
  package-lock.json
  packages/logging/package.json
  packages/logging/src/hono.ts
  packages/logging/src/hono/index.ts
  packages/logging/src/index.ts
  packages/logging/src/services/http-logger/http-logger.service.spec.ts
  packages/logging/src/services/http-logger/http-logger.service.ts
  packages/logging/src/services/postgres-logger/postgres-logger.service.spec.ts
  packages/logging/src/services/postgres-logger/postgres-logger.service.ts
  packages/logging/src/sql.ts
  packages/logging/src/types.ts
  packages/logging/src/utils/create-otel-logger/create-otel-logger.ts
  packages/logging/tsconfig.build.json
  packages/logging/tsconfig.json
Due: api

feat: adds pg pool configs to provider-inventory
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/providers/postgres.provider.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
Due: none

chore(wallet): remove self-custody Playwright e2e suite (#3175)
  apps/deploy-web/package.json
  apps/deploy-web/tests/ui/actions/selectChainNetwork.ts
  apps/deploy-web/tests/ui/authorize-spending.spec.ts
  apps/deploy-web/tests/ui/change-wallets.spec.ts
  apps/deploy-web/tests/ui/custom-container-form.spec.ts
  apps/deploy-web/tests/ui/deploy-self-custody-hello-world.spec.ts
  apps/deploy-web/tests/ui/fixture/context-with-extension.ts
  apps/deploy-web/tests/ui/fixture/test-env.config.ts
  apps/deploy-web/tests/ui/fixture/testing-helpers.ts
  apps/deploy-web/tests/ui/fixture/wallet-setup.ts
  apps/deploy-web/tests/ui/fixture/web-wallet/CosmjsWebWallet.ts
  apps/deploy-web/tests/ui/fixture/web-wallet/initLeapWebWalletMock.ts
  apps/deploy-web/tests/ui/fixture/web-wallet/injectWebWallet.ts
  apps/deploy-web/tests/ui/managed-wallet-alerts.spec.ts
  apps/deploy-web/tests/ui/managed-wallet-deployment.spec.ts
  apps/deploy-web/tests/ui/pages/AuthorizationsPage.tsx
  apps/deploy-web/tests/ui/pages/DeployPage.tsx
  apps/deploy-web/tests/ui/pages/WebWallet.ts
  apps/deploy-web/tests/ui/uiState/isWalletConnected.ts
  package-lock.json
Due: deploy-web

feat(analytics): track GPU lease creation and resource amounts (#3193)
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.spec.tsx
  apps/deploy-web/src/components/new-deployment/CreateLease/CreateLease.tsx
Due: deploy-web

feat(managed-wallet): block high-end GPUs for trial accounts
  apps/api/src/bid/services/bid/bid.service.spec.ts
  apps/api/src/bid/services/bid/bid.service.ts
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/deployment/utils/blocked-gpu/blocked-gpu.spec.ts
  apps/api/src/deployment/utils/blocked-gpu/blocked-gpu.ts
Due: api

feat(managed-wallet): extend default trial-blocked GPU list
  apps/api/src/billing/config/env.config.ts
Due: api

feat(template): bump Hello Akash World image to official ghcr image
  apps/api/test/mocks/hello-world-sdl-update.yml
  apps/api/test/mocks/hello-world-sdl.yml
  apps/api/test/mocks/invalid-sdl.yml
  apps/deploy-web/src/utils/templates.ts
  apps/deploy-web/tests/mocks/two-services-sdl.yml
  apps/deploy-web/tests/seeders/manifest.ts
Due: api, deploy-web

fix(repo): bump next to 15.5.18 (#3182)
  .codecov.yml
  apps/api/package.json
  apps/deploy-web/.eslintrc.js
  apps/deploy-web/next-env.d.ts
  apps/deploy-web/next.config.js
  apps/deploy-web/package.json
  apps/deploy-web/src/components/shared/Editor/monaco-editor.ts
  apps/deploy-web/src/lib/nextjs/api-routes-specs/auth-email-code-start.spec.ts
  apps/deploy-web/src/lib/nextjs/api-routes-specs/auth-email-code-verify.spec.ts
  apps/deploy-web/src/lib/nextjs/api-routes-specs/proxy-path.spec.ts
  apps/deploy-web/src/pages/_document.tsx
  apps/indexer/package.json
  apps/provider-console/next.config.js
  apps/provider-console/package.json
  apps/stats-web/next.config.js
  apps/stats-web/package.json
  apps/stats-web/src/app/addresses/[address]/deployments/[dseq]/page.tsx
  apps/stats-web/src/app/addresses/[address]/deployments/page.tsx
  apps/stats-web/src/app/addresses/[address]/page.tsx
  apps/stats-web/src/app/addresses/[address]/transactions/page.tsx
  apps/stats-web/src/app/blocks/[height]/page.tsx
  apps/stats-web/src/app/bme-graph/[snapshot]/page.tsx
  apps/stats-web/src/app/graph/[snapshot]/page.tsx
  apps/stats-web/src/app/layout.tsx
  apps/stats-web/src/app/provider-graph/[snapshot]/page.tsx
  apps/stats-web/src/app/transactions/[hash]/page.tsx
  apps/stats-web/src/app/validators/[address]/page.tsx
  apps/stats-web/src/lib/serverFetch.spec.ts
  apps/stats-web/src/lib/serverFetch.ts
  apps/tx-signer/package.json
  package-lock.json
  package.json
  packages/dev-config/.eslintrc.base.js
  packages/dev-config/package.json
  packages/react-query-proxy/package.json
  packages/ui/package.json
Due: api, deploy-web, indexer, provider-console, stats-web

fix(managed-wallet): address PR review on trial GPU blocking
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/deployment-writer/deployment-writer.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
Due: api

fix(managed-wallet): block trial GPUs on MsgCreateDeployment too
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/utils/blocked-gpu/blocked-gpu.spec.ts
  apps/api/src/deployment/utils/blocked-gpu/blocked-gpu.ts
Due: api

fix(managed-wallet): suggest credits upgrade in trial GPU error
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
Due: api

fix(managed-wallet): render trial GPU restriction as warning, not error
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
Due: api, deploy-web

feat(managed-wallet): add 'Add Funds' CTA + format GPU labels
  apps/api/src/billing/services/trial-validation/trial-validation.service.spec.ts
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.spec.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/api/src/deployment/utils/blocked-gpu/blocked-gpu.spec.ts
  apps/api/src/deployment/utils/blocked-gpu/blocked-gpu.ts
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
Due: api, deploy-web

fix(managed-wallet): use plain Link in add-credits snackbar
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
Due: deploy-web

feat(managed-wallet): adapt onboarding template SDLs to trial GPU policy
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.spec.tsx
  apps/deploy-web/src/components/onboarding/OnboardingContainer/OnboardingContainer.tsx
  apps/deploy-web/src/utils/deploymentData/v1beta3.spec.ts
  apps/deploy-web/src/utils/deploymentData/v1beta3.ts
Due: deploy-web

fix(managed-wallet): shorten trial GPU body text
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
Due: api

fix(managed-wallet): close trial-GPU snackbar on Add Funds click
  apps/api/src/billing/services/trial-validation/trial-validation.service.ts
  apps/api/src/deployment/services/sdl/sdl.service.ts
  apps/deploy-web/src/context/WalletProvider/WalletProvider.tsx
Due: api, deploy-web

feat(template): bump Hello Akash World image to official ghcr image (#3199)
  apps/api/test/mocks/hello-world-sdl-update.yml
  apps/api/test/mocks/hello-world-sdl.yml
  apps/api/test/mocks/invalid-sdl.yml
  apps/deploy-web/src/utils/templates.ts
  apps/deploy-web/tests/mocks/two-services-sdl.yml
  apps/deploy-web/tests/seeders/manifest.ts
Due: api, deploy-web

chore(wallet): remove leftover self-custody e2e assertions
  apps/deploy-web/tests/ui/custom-container-form.spec.ts
  apps/deploy-web/tests/ui/deploy-linux.spec.ts
  apps/deploy-web/tests/ui/sdl-builder-deployment.spec.ts
Due: deploy-web

chore(wallet): remove leftover self-custody e2e assertions (#3200)
  apps/deploy-web/tests/ui/custom-container-form.spec.ts
  apps/deploy-web/tests/ui/deploy-linux.spec.ts
  apps/deploy-web/tests/ui/sdl-builder-deployment.spec.ts
Due: deploy-web

feat: adds pg pool configs to provider-inventory (#3196)
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/providers/postgres.provider.ts
  apps/provider-inventory/src/services/discovery-scheduler/discovery-scheduler.service.spec.ts
Due: none

refactor: extracts postgresql logger into logging package (#3195)
  apps/api/package.json
  apps/api/src/billing/services/stripe/stripe.service.spec.ts
  apps/api/src/billing/services/stripe/stripe.service.ts
  apps/api/src/chain/providers/sequelize.provider.ts
  apps/api/src/core/providers/logging.provider.ts
  apps/api/src/core/providers/postgres.provider.ts
  apps/api/src/core/services/postgres-logger/postgres-logger.service.ts
  apps/provider-inventory/src/providers/postgres.provider.ts
  knip.json
  package-lock.json
  packages/logging/package.json
  packages/logging/src/hono.ts
  packages/logging/src/hono/index.ts
  packages/logging/src/index.ts
  packages/logging/src/services/http-logger/http-logger.service.spec.ts
  packages/logging/src/services/http-logger/http-logger.service.ts
  packages/logging/src/services/postgres-logger/postgres-logger.service.spec.ts
  packages/logging/src/services/postgres-logger/postgres-logger.service.ts
  packages/logging/src/sql.ts
  packages/logging/src/types.ts
  packages/logging/src/utils/create-otel-logger/create-otel-logger.ts
  packages/logging/tsconfig.build.json
  packages/logging/tsconfig.json
Due: api

chore: removes cursor rules and tighten restrictions for agents
  .cursor/rules/general.mdc
  CLAUDE.md
Due: none

chore: removes cursor rules and tighten restrictions for agents (#3201)
  .cursor/rules/general.mdc
  CLAUDE.md
Due: none

refactor: split provider-inventory into 2 interfaces
  apps/provider-inventory/src/bootstrap-entry.ts
  apps/provider-inventory/src/providers-sync-app.ts
  apps/provider-inventory/src/providers/drizzle.provider.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/providers/stream-boostrap.provider.ts
  apps/provider-inventory/src/rest-app.ts
  apps/provider-inventory/src/server.ts
  apps/provider-inventory/src/services/start-server/start-server.spec.ts
  apps/provider-inventory/src/services/start-server/start-server.ts
  apps/provider-inventory/tsup.config.ts
Due: none

refactor: split provider-inventory into 2 interfaces (#3197)
  apps/provider-inventory/src/bootstrap-entry.ts
  apps/provider-inventory/src/providers-sync-app.ts
  apps/provider-inventory/src/providers/drizzle.provider.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/providers/stream-boostrap.provider.ts
  apps/provider-inventory/src/rest-app.ts
  apps/provider-inventory/src/server.ts
  apps/provider-inventory/src/services/start-server/start-server.spec.ts
  apps/provider-inventory/src/services/start-server/start-server.ts
  apps/provider-inventory/tsup.config.ts
Due: none

fix: collect ram requirements from SDL storage
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
Due: none

fix: collect ram requirements from SDL storage (#3192)
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.spec.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.aggregator.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.integration.ts
Due: none

feat: adds logging of postgres queries in provider-inventory
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/providers/drizzle.provider.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/providers/logger-factory.provider.ts
  apps/provider-inventory/src/providers/logging.provider.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
Due: none

refactor: excludes stripe-webhook from openapi docs
  .github/workflows/labeler.yml
  apps/api/src/billing/routes/stripe-webhook/stripe-webhook.router.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/core/lib/create-route/create-route.ts
  apps/api/src/core/services/openapi-docs/openapi-docs.service.spec.ts
  apps/api/src/core/services/openapi-docs/openapi-docs.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

chore: adds sql-formatter to provider-inventory
  apps/provider-inventory/package.json
  package-lock.json
Due: none

refactor: simplifies open api docs generation
  apps/api/src/core/services/openapi-docs/openapi-docs.service.ts
Due: api

refactor: excludes stripe-webhook from openapi docs (#3202)
  .github/workflows/labeler.yml
  apps/api/src/billing/routes/stripe-webhook/stripe-webhook.router.ts
  apps/api/src/caching/helpers.ts
  apps/api/src/core/lib/create-route/create-route.ts
  apps/api/src/core/services/openapi-docs/openapi-docs.service.spec.ts
  apps/api/src/core/services/openapi-docs/openapi-docs.service.ts
  apps/api/swagger/openapi.json
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
Due: api

refactor: removes redundant ip region and uptime7d
  apps/provider-inventory/drizzle/0000_initial_provider_inventory.sql
  apps/provider-inventory/drizzle/meta/0000_snapshot.json
  apps/provider-inventory/env/.env.functional.test
  apps/provider-inventory/src/model-schemas/provider-inventory/provider-inventory.schema.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/types/provider.ts
  apps/provider-inventory/test/services/test-database.service.ts
Due: none

feat: adds logging of postgres queries in provider-inventory (#3203)
  apps/provider-inventory/package.json
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/providers/drizzle.provider.ts
  apps/provider-inventory/src/providers/index.ts
  apps/provider-inventory/src/providers/logger-factory.provider.ts
  apps/provider-inventory/src/providers/logging.provider.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.ts
  package-lock.json
Due: none

refactor: removes redundant ip region and uptime7d (#3205)
  apps/provider-inventory/drizzle/0000_initial_provider_inventory.sql
  apps/provider-inventory/drizzle/meta/0000_snapshot.json
  apps/provider-inventory/env/.env.functional.test
  apps/provider-inventory/src/model-schemas/provider-inventory/provider-inventory.schema.ts
  apps/provider-inventory/src/repositories/bid-screening/bid-screening.repository.ts
  apps/provider-inventory/src/services/bid-screening/bid-screening.service.spec.ts
  apps/provider-inventory/src/types/provider.ts
  apps/provider-inventory/test/services/test-database.service.ts
Due: none

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
