Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

.codecov.yml:

coverage:
  ignore:
    - "apps/api/src/*/routes/**/*.ts"
    - "apps/api/src/server.ts"
    - "apps/api/src/console.ts"
    - "apps/api/src/background-jobs-app.ts"
    - "apps/api/src/rest-app.ts"
    - "apps/api/src/app/console.ts"
  status:
    project:
      default: false
      api:
        target: 78%
        flags:
          - api
      deploy-web:
        target: 30%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy
    patch:
      default: off
      api:
        target: 80%
        flags:
          - api
      deploy-web:
        target: 50%
        flags:
          - deploy-web
      notifications:
        target: 80%
        flags:
          - notifications
      provider-proxy:
        target: 80%
        flags:
          - provider-proxy

flags:
  api:
    carryforward: true
    paths:
      - apps/api/
  deploy-web:
    carryforward: true
    paths:
      - apps/deploy-web/
  indexer:
    carryforward: true
    paths:
      - apps/indexer/
  notifications:
    carryforward: true
    paths:
      - apps/notifications/
  provider-console:
    carryforward: true
    paths:
      - apps/provider-console/
  provider-proxy:
    carryforward: true
    paths:
      - apps/provider-proxy/
  stats-web:
    carryforward: true
    paths:
      - apps/stats-web/

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: true
  require_base: yes
  require_head: yes
  branches:
    - main
  show_carryforward_flags: true

refactor: requires otel inside npm run prod (#2880)
  .helm/console-api-prod-mainnet-values.yaml
  .helm/console-api-prod-sandbox-values.yaml
  .helm/console-api-staging-mainnet-values.yaml
  .helm/console-api-staging-sandbox-values.yaml
  .helm/console-api-staging-testnet-values.yaml
  .helm/indexer-prod-mainnet-values.yaml
  .helm/indexer-prod-sandbox-values.yaml
  .helm/provider-proxy-prod-mainnet-values.yaml
  .helm/provider-proxy-prod-sandbox-values.yaml
  .helm/provider-proxy-staging-mainnet-values.yaml
  .helm/provider-proxy-staging-sandbox-values.yaml
  .helm/provider-proxy-staging-testnet-values.yaml
  .helm/tx-signer-prod-mainnet-values.yaml
  .helm/tx-signer-prod-sandbox-values.yaml
  .helm/tx-signer-staging-mainnet-values.yaml
  .helm/tx-signer-staging-sandbox-values.yaml
  apps/api/package.json
  apps/indexer/package.json
  apps/notifications/package.json
  apps/tx-signer/package.json
Due: api, indexer, notifications

chore: migrate react-query-proxy from jest to vitest
  package-lock.json
  packages/react-query-proxy/jest.config.ts
  packages/react-query-proxy/package.json
  packages/react-query-proxy/src/createProxy/createProxy.spec.ts
  packages/react-query-proxy/vitest.config.ts
Due: none

chore: migrate react-query-proxy from jest to vitest (#2884)
  package-lock.json
  packages/react-query-proxy/jest.config.ts
  packages/react-query-proxy/package.json
  packages/react-query-proxy/src/createProxy/createProxy.spec.ts
  packages/react-query-proxy/vitest.config.ts
Due: none

chore: migrate tx-signer from jest to vitest
  apps/tx-signer/jest.config.ts
  apps/tx-signer/package.json
  apps/tx-signer/src/caching/helpers/helpers.spec.ts
  apps/tx-signer/src/controllers/tx/tx.controller.spec.ts
  apps/tx-signer/src/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/tx-signer/src/lib/create-route/create-route.spec.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.spec.ts
  apps/tx-signer/src/lib/wallet/wallet.spec.ts
  apps/tx-signer/src/routes/tx/tx.router.spec.ts
  apps/tx-signer/src/services/chain-error/chain-error.service.spec.ts
  apps/tx-signer/src/services/config/config.service.spec.ts
  apps/tx-signer/src/services/hono-error-handler/hono-error-handler.service.spec.ts
  apps/tx-signer/src/services/shutdown-server/shutdown-server.spec.ts
  apps/tx-signer/src/services/start-server/start-server.spec.ts
  apps/tx-signer/src/services/tracing/tracing.service.spec.ts
  apps/tx-signer/src/services/tx-manager/tx-manager.service.spec.ts
  apps/tx-signer/test/functional/sign-and-broadcast-tx.spec.ts
  apps/tx-signer/test/setup-unit-tests.ts
  apps/tx-signer/vitest.config.ts
  package-lock.json
Due: none

feat(log-collector): polling-based pod discovery with AbortSignal support (#2863)
  apps/log-collector/src/bootstrap/bootstrap.spec.ts
  apps/log-collector/src/bootstrap/bootstrap.ts
  apps/log-collector/src/factories/pod-logs-collector/pod-logs-collector.factory.ts
  apps/log-collector/src/services/config/config.service.ts
  apps/log-collector/src/services/k8s-collector/k8s-collector.service.spec.ts
  apps/log-collector/src/services/k8s-collector/k8s-collector.service.ts
  apps/log-collector/src/services/k8s-log-collector/k8s-log-collector.service.spec.ts
  apps/log-collector/src/services/k8s-log-collector/k8s-log-collector.service.ts
  apps/log-collector/src/services/pod-discovery/pod-discovery.service.spec.ts
  apps/log-collector/src/services/pod-discovery/pod-discovery.service.ts
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.spec.ts
  apps/log-collector/src/services/pod-logs-collector/pod-logs-collector.service.ts
Due: none

fix(notifications): fix hung shutdown on crashed poller (#2879)
  apps/notifications/src/interfaces/chain-events/chain-events.module.ts
  apps/notifications/src/interfaces/chain-events/controllers/healthz/healthz.controller.spec.ts
  apps/notifications/src/interfaces/chain-events/controllers/healthz/healthz.controller.ts
  apps/notifications/src/modules/chain/chain.module.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.spec.ts
  apps/notifications/src/modules/chain/services/chain-events-poller/chain-events-poller.service.ts
Due: notifications

fix(deployment): validate fee grants before auto top-up transactions
  .helm/console-api-prod-mainnet-values.yaml
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
  apps/api/test/seeders/auto-top-up-deployment.seeder.ts
Due: api

fix(log-collector): triggers release on simple push to main
  .github/workflows/log-collector-release.yml
  apps/log-collector/package.json
Due: none

chore: switches start:prod and prod scripts in notifications to speed up start
  apps/notifications/package.json
Due: notifications

chore: switches start:prod and prod scripts in notifications to speed up start (#2891)
  apps/notifications/package.json
Due: notifications

fix(deployment): validate fee grants before auto top-up transactions
  .helm/console-api-prod-mainnet-values.yaml
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.spec.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
  apps/api/test/seeders/auto-top-up-deployment.seeder.ts
Due: api

fix(deployment): validate fee grants before auto top-up transactions (#2889)
  .helm/console-api-prod-mainnet-values.yaml
  apps/api/src/billing/services/managed-signer/managed-signer.service.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.spec.ts
  apps/api/src/billing/services/managed-user-wallet/managed-user-wallet.service.ts
  apps/api/src/deployment/repositories/deployment-setting/deployment-setting.repository.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.integration.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
  apps/api/test/seeders/auto-top-up-deployment.seeder.ts
Due: api

chore: adds helm config for notifications
  .helm/notifications-prod-values.yaml
  .helm/notifications-staging-values.yaml
Due: none

chore: adds helm config for notifications (#2893)
  .helm/notifications-prod-values.yaml
  .helm/notifications-staging-values.yaml
Due: none

chore: migrate tx-signer from jest to vitest (#2885)
  apps/tx-signer/jest.config.ts
  apps/tx-signer/package.json
  apps/tx-signer/src/caching/helpers/helpers.spec.ts
  apps/tx-signer/src/controllers/tx/tx.controller.spec.ts
  apps/tx-signer/src/lib/batch-signing-client/batch-signing-client.service.spec.ts
  apps/tx-signer/src/lib/create-route/create-route.spec.ts
  apps/tx-signer/src/lib/signing-stargate-client-factory/signing-stargate-client.factory.spec.ts
  apps/tx-signer/src/lib/wallet/wallet.spec.ts
  apps/tx-signer/src/routes/tx/tx.router.spec.ts
  apps/tx-signer/src/services/chain-error/chain-error.service.spec.ts
  apps/tx-signer/src/services/config/config.service.spec.ts
  apps/tx-signer/src/services/hono-error-handler/hono-error-handler.service.spec.ts
  apps/tx-signer/src/services/shutdown-server/shutdown-server.spec.ts
  apps/tx-signer/src/services/start-server/start-server.spec.ts
  apps/tx-signer/src/services/tracing/tracing.service.spec.ts
  apps/tx-signer/src/services/tx-manager/tx-manager.service.spec.ts
  apps/tx-signer/test/functional/sign-and-broadcast-tx.spec.ts
  apps/tx-signer/test/setup-unit-tests.ts
  apps/tx-signer/vitest.config.ts
  package-lock.json
Due: none

refactor: splits react-sdk into api and react-query sdk (#2881)
  apps/deploy-web/src/components/alerts/AlertsListContainer/AlertsListContainer.spec.tsx
  apps/deploy-web/src/components/alerts/DeploymentAlertsContainer/DeploymentAlertsContainer.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelCreateContainer/NotificationChannelFormContainer.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelEditContainer/NotificationChannelEditContainer.spec.tsx
  apps/deploy-web/src/components/alerts/NotificationChannelsListContainer/NotificationChannelsListContainer.spec.tsx
  apps/deploy-web/src/services/app-di-container/browser-di-container.ts
  packages/react-query-sdk/package.json
  packages/react-query-sdk/src/notifications/create-api-client.ts
  packages/react-query-sdk/src/notifications/create-react-query-client.ts
Due: deploy-web

refactor: use local instrumentation package in api
  apps/api/package.json
  apps/api/tsup.config.ts
  package-lock.json
Due: api

chore: properly disconnect child process for localdev
  apps/api/src/server.ts
Due: api

test: fixes flaky alert CRUD test in notifications
  apps/notifications/test/functional/alert-crud.spec.ts
  apps/notifications/test/functional/http-tools.spec.ts
Due: notifications

test: fixes flaky alert CRUD test in notifications (#2895)
  apps/notifications/test/functional/alert-crud.spec.ts
  apps/notifications/test/functional/http-tools.spec.ts
Due: notifications

refactor(notifications): switch build tooling from webpack to tsup
  apps/notifications/nest-cli.json
  apps/notifications/package.json
  apps/notifications/src/modules/notifications/services/analytics/analytics.service.ts
  apps/notifications/tsconfig.build.json
  apps/notifications/tsconfig.json
  apps/notifications/tsup.config.ts
  apps/notifications/webpack.config.js
  package-lock.json
Due: notifications

refactor: allows to define root .env.local file with configs for different services
  packages/docker/.env.sandbox.docker-compose-dev
  packages/docker/docker-compose.runtime.yml
  packages/docker/script/dc.sh
  packages/env-loader/src/index.js
Due: none

chore: adds missing ts-node dev dep
  apps/provider-console/package.json
  package-lock.json
Due: provider-console

refactor(notifications): switch build tooling from webpack to tsup (#2894)
  apps/notifications/nest-cli.json
  apps/notifications/package.json
  apps/notifications/src/modules/notifications/services/analytics/analytics.service.ts
  apps/notifications/tsconfig.build.json
  apps/notifications/tsconfig.json
  apps/notifications/tsup.config.ts
  apps/notifications/webpack.config.js
  apps/provider-console/package.json
  package-lock.json
Due: notifications, provider-console

refactor: use local instrumentation package in api (#2886)
  apps/api/package.json
  apps/api/src/server.ts
  apps/api/tsup.config.ts
  package-lock.json
Due: api

feat(provider): add address filtering to provider list endpoint (#2882)
  apps/api/src/provider/controllers/provider/provider.controller.ts
  apps/api/src/provider/http-schemas/provider.schema.ts
  apps/api/src/provider/repositories/provider/provider.repository.ts
  apps/api/src/provider/routes/providers/providers.router.ts
  apps/api/src/provider/services/provider/provider.service.spec.ts
  apps/api/src/provider/services/provider/provider.service.ts
  apps/api/test/functional/__snapshots__/docs.spec.ts.snap
  apps/api/test/functional/providers.spec.ts
Due: api

feat(notifications): skips alerting on balances in case of multiple denom in escrow
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment-balance-alerts/deployment-balance-alerts.service.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.spec.ts
  apps/notifications/src/modules/alert/services/deployment/deployment.service.ts
Due: notifications

fix(managed-wallet): propagate 503 when upstream RPC returns 5xx
  apps/tx-signer/src/services/chain-error/chain-error.service.spec.ts
  apps/tx-signer/src/services/chain-error/chain-error.service.ts
Due: none

docs: add env setup step to quick start guide
  README.md
Due: none

docs: api env.local step to quick start
  README.md
Due: none

fix(repo): remove legacy API route redirects
  apps/api/src/routers/legacyRouter.ts
Due: api

refactor: allows to define root .env.local file with configs for different services (#2896)
  packages/docker/.env.sandbox.docker-compose-dev
  packages/docker/docker-compose.runtime.yml
  packages/docker/script/dc.sh
  packages/env-loader/src/index.js
Due: none

feat: adds mint-burn page for custodial wallets
  apps/deploy-web/src/components/MintBurnPage/MintBurnPage.spec.tsx
  apps/deploy-web/src/components/MintBurnPage/MintBurnPage.tsx
  apps/deploy-web/src/pages/mint-burn/index.tsx
  apps/deploy-web/src/utils/TransactionMessageData.ts
  apps/deploy-web/src/utils/urlUtils.ts
Due: deploy-web

refactor: simplifies implementation and changes UX
  apps/deploy-web/src/components/MintBurnPage/MintBurnPage.spec.tsx
  apps/deploy-web/src/components/MintBurnPage/MintBurnPage.tsx
Due: deploy-web

chore: fixes cron job instrumentation
  .helm/console-api-prod-mainnet-values.yaml
  .helm/console-api-staging-sandbox-values.yaml
Due: none

chore: fixes cron job instrumentation in console-api (#2901)
  .helm/console-api-prod-mainnet-values.yaml
  .helm/console-api-staging-sandbox-values.yaml
Due: none

chore: fixes otel require for cronjobs
  .helm/console-api-prod-mainnet-values.yaml
  .helm/console-api-staging-sandbox-values.yaml
  apps/api/package.json
Due: api

chore: fixes otel require for cronjobs (#2902)
  .helm/console-api-prod-mainnet-values.yaml
  .helm/console-api-staging-sandbox-values.yaml
  apps/api/package.json
Due: api
