Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

refactor(billing): restore isFeatureEnabled page guard for future flag-gated pages
  apps/deploy-web/src/lib/nextjs/pageGuards/pageGuards.ts
Due: deploy-web

fix(deployment): restore the page URL after detail tab navigation specs
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentDetail.spec.tsx
Due: deploy-web

refactor(billing): share one UsdValue component between balance overview and auto top-up
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/AccountBalanceOverview.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/AccountBalanceOverview.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.spec.tsx
  apps/deploy-web/src/components/billing-usage/AutoTopUpSection/AutoTopUpSection.tsx
  apps/deploy-web/src/components/billing-usage/UsdValue/UsdValue.tsx
Due: deploy-web

fix(billing): ignore drained deployments when computing balance bar shades
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/BalanceBreakdownBar.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/BalanceBreakdownBar.tsx
Due: deploy-web

fix(billing): keep showing cached balances when a background refetch fails
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.spec.ts
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/useAccountBalanceOverview.ts
Due: deploy-web

docs(indexer): scope chain-indexer to chain data only
  apps/chain-indexer/README.md
  apps/provider-inventory/CONTEXT.md
Due: none

fix(billing): format balance bar amounts with the app locale like the rest of the card
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/BalanceBreakdownBar.spec.tsx
  apps/deploy-web/src/components/billing-usage/AccountBalanceOverview/BalanceBreakdownBar.tsx
Due: deploy-web

fix(indexer): stop a corrupt chunk from poisoning the fetch cache
  apps/chain-indexer/src/archive/archive-block-source.spec.ts
  apps/chain-indexer/src/archive/archive-block-source.ts
  apps/chain-indexer/src/archive/archive-codec.spec.ts
  apps/chain-indexer/src/archive/block-archive.service.spec.ts
  apps/chain-indexer/test/fakes/build-raw-block-record.ts
Due: none

feat(indexer): raw block archive in object storage (#3585)
  apps/chain-indexer/.claude/skills/verify/SKILL.md
  apps/chain-indexer/README.md
  apps/chain-indexer/env/.env.sample
  apps/chain-indexer/package.json
  apps/chain-indexer/src/archive/archive-block-source.spec.ts
  apps/chain-indexer/src/archive/archive-block-source.ts
  apps/chain-indexer/src/archive/archive-codec.spec.ts
  apps/chain-indexer/src/archive/archive-codec.ts
  apps/chain-indexer/src/archive/archive-layout.spec.ts
  apps/chain-indexer/src/archive/archive-layout.ts
  apps/chain-indexer/src/archive/block-archive.service.spec.ts
  apps/chain-indexer/src/archive/block-archive.service.ts
  apps/chain-indexer/src/config/env.config.spec.ts
  apps/chain-indexer/src/config/env.config.ts
  apps/chain-indexer/src/pipeline/backfill-runner.service.spec.ts
  apps/chain-indexer/src/pipeline/backfill-runner.service.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.spec.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.ts
  apps/chain-indexer/src/providers/archive.provider.spec.ts
  apps/chain-indexer/src/providers/archive.provider.ts
  apps/chain-indexer/src/providers/index.ts
  apps/chain-indexer/src/rpc/rpc-types.ts
  apps/chain-indexer/test/fakes/build-raw-block-record.ts
  apps/chain-indexer/test/fakes/in-memory-object-store.ts
  apps/provider-inventory/CONTEXT.md
  package-lock.json
Due: none

feat(indexer): add genesis import framework with account and balance seed
  apps/chain-indexer/README.md
  apps/chain-indexer/drizzle/0001_long_mach_iv.sql
  apps/chain-indexer/drizzle/meta/0001_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/env/.env.sample
  apps/chain-indexer/src/config/env.config.ts
  apps/chain-indexer/src/db/insert-chunk-size.ts
  apps/chain-indexer/src/db/schema.spec.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/genesis/account-seeder.service.spec.ts
  apps/chain-indexer/src/genesis/account-seeder.service.ts
  apps/chain-indexer/src/genesis/bank-seeder.service.spec.ts
  apps/chain-indexer/src/genesis/bank-seeder.service.ts
  apps/chain-indexer/src/genesis/genesis-address.spec.ts
  apps/chain-indexer/src/genesis/genesis-address.ts
  apps/chain-indexer/src/genesis/genesis-import.service.spec.ts
  apps/chain-indexer/src/genesis/genesis-import.service.ts
  apps/chain-indexer/src/genesis/genesis-mid-chain-error.ts
  apps/chain-indexer/src/genesis/genesis-schema.spec.ts
  apps/chain-indexer/src/genesis/genesis-schema.ts
  apps/chain-indexer/src/genesis/genesis-seed-context.ts
  apps/chain-indexer/src/genesis/genesis-source.spec.ts
  apps/chain-indexer/src/genesis/genesis-source.ts
  apps/chain-indexer/src/genesis/staking-seeder.service.spec.ts
  apps/chain-indexer/src/genesis/staking-seeder.service.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.spec.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.ts
  apps/chain-indexer/src/providers/db.provider.ts
  apps/chain-indexer/src/rpc/rpc-client-pool.service.spec.ts
  apps/chain-indexer/src/rpc/rpc-client-pool.service.ts
  apps/chain-indexer/src/rpc/rpc-types.ts
  apps/chain-indexer/test/fakes/build-tx-fake.ts
  apps/chain-indexer/test/fakes/genesis-fixtures.ts
Due: none

refactor(indexer): share genesis validator and chunked-insert helpers
  apps/chain-indexer/src/db/insert-chunked.spec.ts
  apps/chain-indexer/src/db/insert-chunked.ts
  apps/chain-indexer/src/genesis/bank-seeder.service.ts
  apps/chain-indexer/src/genesis/genesis-schema.ts
  apps/chain-indexer/src/genesis/staking-seeder.service.ts
Due: none

fix(indexer): warn when genesis import is enabled too late to seed
  apps/chain-indexer/src/genesis/genesis-import.service.spec.ts
  apps/chain-indexer/src/genesis/genesis-import.service.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.spec.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.ts
Due: none

feat(indexer): genesis import framework with account and balance seed (#3587)
  apps/chain-indexer/README.md
  apps/chain-indexer/drizzle/0001_long_mach_iv.sql
  apps/chain-indexer/drizzle/meta/0001_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/env/.env.sample
  apps/chain-indexer/src/config/env.config.ts
  apps/chain-indexer/src/db/insert-chunk-size.ts
  apps/chain-indexer/src/db/insert-chunked.spec.ts
  apps/chain-indexer/src/db/insert-chunked.ts
  apps/chain-indexer/src/db/schema.spec.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/genesis/account-seeder.service.spec.ts
  apps/chain-indexer/src/genesis/account-seeder.service.ts
  apps/chain-indexer/src/genesis/bank-seeder.service.spec.ts
  apps/chain-indexer/src/genesis/bank-seeder.service.ts
  apps/chain-indexer/src/genesis/genesis-address.spec.ts
  apps/chain-indexer/src/genesis/genesis-address.ts
  apps/chain-indexer/src/genesis/genesis-import.service.spec.ts
  apps/chain-indexer/src/genesis/genesis-import.service.ts
  apps/chain-indexer/src/genesis/genesis-mid-chain-error.ts
  apps/chain-indexer/src/genesis/genesis-schema.spec.ts
  apps/chain-indexer/src/genesis/genesis-schema.ts
  apps/chain-indexer/src/genesis/genesis-seed-context.ts
  apps/chain-indexer/src/genesis/genesis-source.spec.ts
  apps/chain-indexer/src/genesis/genesis-source.ts
  apps/chain-indexer/src/genesis/staking-seeder.service.spec.ts
  apps/chain-indexer/src/genesis/staking-seeder.service.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.spec.ts
  apps/chain-indexer/src/pipeline/sync-runner.service.ts
  apps/chain-indexer/src/providers/db.provider.ts
  apps/chain-indexer/src/rpc/rpc-client-pool.service.spec.ts
  apps/chain-indexer/src/rpc/rpc-client-pool.service.ts
  apps/chain-indexer/src/rpc/rpc-types.ts
  apps/chain-indexer/test/fakes/build-tx-fake.ts
  apps/chain-indexer/test/fakes/genesis-fixtures.ts
Due: none

feat(indexer): derive balance changes from coin events
  apps/chain-indexer/src/pipeline/balance/balance-deriver.spec.ts
  apps/chain-indexer/src/pipeline/balance/balance-deriver.ts
  apps/chain-indexer/src/pipeline/balance/coin-amount.spec.ts
  apps/chain-indexer/src/pipeline/balance/coin-amount.ts
  apps/chain-indexer/src/pipeline/balance/module-address-registry.spec.ts
  apps/chain-indexer/src/pipeline/balance/module-address-registry.ts
  apps/chain-indexer/src/pipeline/balance/reason-classifier.spec.ts
  apps/chain-indexer/src/pipeline/balance/reason-classifier.ts
Due: none

feat(indexer): add reconciliation script proving ledger matches chain
  apps/chain-indexer/package.json
  apps/chain-indexer/src/reconcile/bank-query.spec.ts
  apps/chain-indexer/src/reconcile/bank-query.ts
  apps/chain-indexer/src/reconcile/coin-diff.spec.ts
  apps/chain-indexer/src/reconcile/coin-diff.ts
  apps/chain-indexer/src/reconcile/reconcile.service.spec.ts
  apps/chain-indexer/src/reconcile/reconcile.service.ts
  apps/chain-indexer/src/reconcile/reconcile.ts
  apps/chain-indexer/src/rpc/rpc-client-pool.service.spec.ts
  apps/chain-indexer/src/rpc/rpc-client-pool.service.ts
  apps/chain-indexer/tsup.config.ts
Due: none

feat(indexer): write balance ledger and activity log per block
  apps/chain-indexer/src/pipeline/balance/account-tx-deriver.spec.ts
  apps/chain-indexer/src/pipeline/balance/account-tx-deriver.ts
  apps/chain-indexer/src/pipeline/block-committer.service.spec.ts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
Due: none

feat(indexer): intern accounts and write the balance ledger idempotently
  apps/chain-indexer/src/pipeline/balance/account-interner.service.spec.ts
  apps/chain-indexer/src/pipeline/balance/account-interner.service.ts
  apps/chain-indexer/src/pipeline/balance/balance-writer.service.spec.ts
  apps/chain-indexer/src/pipeline/balance/balance-writer.service.ts
Due: none

feat(indexer): capture block/tx events and ledger idempotency schema
  apps/chain-indexer/drizzle/0002_clever_bulldozer.sql
  apps/chain-indexer/drizzle/meta/0002_snapshot.json
  apps/chain-indexer/drizzle/meta/_journal.json
  apps/chain-indexer/package.json
  apps/chain-indexer/src/db/schema.spec.ts
  apps/chain-indexer/src/db/schema.ts
  apps/chain-indexer/src/genesis/bank-seeder.service.spec.ts
  apps/chain-indexer/src/genesis/bank-seeder.service.ts
  apps/chain-indexer/src/genesis/genesis-address.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.spec.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.ts
  apps/chain-indexer/src/pipeline/decode-if-base64.spec.ts
  apps/chain-indexer/src/pipeline/decode-if-base64.ts
  apps/chain-indexer/src/pipeline/decoded-block.ts
  apps/chain-indexer/src/pipeline/signer-addresses.spec.ts
  apps/chain-indexer/src/pipeline/signer-addresses.ts
  apps/chain-indexer/src/rpc/rpc-types.ts
  package-lock.json
Due: none

fix(indexer): correct balance reason classification and reconcile guard
  apps/chain-indexer/src/pipeline/balance/balance-deriver.spec.ts
  apps/chain-indexer/src/pipeline/balance/balance-deriver.ts
  apps/chain-indexer/src/pipeline/balance/reason-classifier.spec.ts
  apps/chain-indexer/src/pipeline/balance/reason-classifier.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.spec.ts
  apps/chain-indexer/src/pipeline/block-decoder.service.ts
  apps/chain-indexer/src/pipeline/decode-if-base64.ts
  apps/chain-indexer/src/reconcile/reconcile.service.spec.ts
  apps/chain-indexer/src/reconcile/reconcile.service.ts
  apps/chain-indexer/src/reconcile/reconcile.ts
Due: none

feat(billing): fund draining deployments as soon as credits are added
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/app/services/fund-draining-deployments/fund-draining-deployments.handler.spec.ts
  apps/api/src/app/services/fund-draining-deployments/fund-draining-deployments.handler.ts
  apps/api/src/billing/commands/fund-draining-deployments.command.ts
  apps/api/src/billing/services/refill/refill.service.spec.ts
  apps/api/src/billing/services/refill/refill.service.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.spec.ts
  apps/api/src/deployment/services/cached-balance/cached-balance.service.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.spec.ts
  apps/api/src/deployment/services/draining-deployment/draining-deployment.service.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.spec.ts
  apps/api/src/deployment/services/top-up-managed-deployments/top-up-managed-deployments.service.ts
Due: api

test: resets location state in deploy-web
  apps/deploy-web/tests/unit/setup.ts
Due: deploy-web

test: resets location state in deploy-web (#3592)
  apps/deploy-web/tests/unit/setup.ts
Due: deploy-web

feat: adds api key auth to tx-signer
  apps/api/env/.env.functional.test
  apps/api/src/billing/config/env.config.spec.ts
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/external-signer-http-sdk/external-signer-http-sdk.service.ts
  apps/tx-signer/env/.env.functional.test
  apps/tx-signer/env/.env.sample
  apps/tx-signer/env/.env.unit.test
  apps/tx-signer/eslint.config.mjs
  apps/tx-signer/package.json
  apps/tx-signer/src/config/env.config.ts
  apps/tx-signer/src/config/message-urls.config.ts
  apps/tx-signer/src/controllers/tx/tx.controller.spec.ts
  apps/tx-signer/src/controllers/tx/tx.controller.ts
  apps/tx-signer/src/http-schemas/tx.schema.ts
  apps/tx-signer/src/index.ts
  apps/tx-signer/src/services/api-key-auth/api-key-auth.interceptor.ts
  apps/tx-signer/src/services/app-config/app-config.service.ts
  apps/tx-signer/src/services/config/config.service.ts
  apps/tx-signer/src/services/tx-policy/tx-policy.service.spec.ts
  apps/tx-signer/src/services/tx-policy/tx-policy.service.ts
  apps/tx-signer/test/functional/sign-and-broadcast-tx.spec.ts
  apps/tx-signer/test/setup-functional-env.ts
  package-lock.json
  packages/docker/.env.sandbox.docker-compose-dev
Due: api

fix: restricts what message types tx-signer can process
  apps/tx-signer/src/controllers/tx/tx.controller.ts
  apps/tx-signer/src/http-schemas/tx.schema.ts
  apps/tx-signer/src/routes/tx/tx.router.spec.ts
  apps/tx-signer/test/functional/sign-and-broadcast-tx.spec.ts
Due: none

fix: harden tx-signer: authenticate callers and validate what it will sign (#3589)
  apps/api/env/.env.functional.test
  apps/api/src/billing/config/env.config.spec.ts
  apps/api/src/billing/config/env.config.ts
  apps/api/src/billing/services/external-signer-http-sdk/external-signer-http-sdk.service.ts
  apps/tx-signer/env/.env.functional.test
  apps/tx-signer/env/.env.sample
  apps/tx-signer/env/.env.unit.test
  apps/tx-signer/eslint.config.mjs
  apps/tx-signer/package.json
  apps/tx-signer/src/config/env.config.ts
  apps/tx-signer/src/config/message-urls.config.ts
  apps/tx-signer/src/controllers/tx/tx.controller.spec.ts
  apps/tx-signer/src/controllers/tx/tx.controller.ts
  apps/tx-signer/src/http-schemas/tx.schema.ts
  apps/tx-signer/src/index.ts
  apps/tx-signer/src/routes/tx/tx.router.spec.ts
  apps/tx-signer/src/services/api-key-auth/api-key-auth.interceptor.ts
  apps/tx-signer/src/services/app-config/app-config.service.ts
  apps/tx-signer/src/services/config/config.service.ts
  apps/tx-signer/src/services/tx-policy/tx-policy.service.spec.ts
  apps/tx-signer/src/services/tx-policy/tx-policy.service.ts
  apps/tx-signer/test/functional/sign-and-broadcast-tx.spec.ts
  apps/tx-signer/test/setup-functional-env.ts
  package-lock.json
  packages/docker/.env.sandbox.docker-compose-dev
Due: api

fix(indexer): classify escrow module movements as escrow
  apps/chain-indexer/src/pipeline/balance/module-address-registry.spec.ts
  apps/chain-indexer/src/pipeline/balance/module-address-registry.ts
  apps/chain-indexer/src/pipeline/balance/reason-classifier.spec.ts
  apps/chain-indexer/src/pipeline/balance/reason-classifier.ts
Due: none

refactor(indexer): use insertChunked for block, transaction and message inserts
  apps/chain-indexer/src/pipeline/block-committer.service.ts
Due: none

fix(indexer): scope slash reason, correlate counterparty by amount, fail over abci non-zero code
  apps/chain-indexer/src/pipeline/balance/balance-deriver.spec.ts
  apps/chain-indexer/src/pipeline/balance/balance-deriver.ts
  apps/chain-indexer/src/rpc/rpc-client-pool.service.spec.ts
  apps/chain-indexer/src/rpc/rpc-client-pool.service.ts
Due: none

fix(indexer): reconcile from a consistent snapshot with bounded concurrency
  apps/chain-indexer/src/reconcile/reconcile.service.spec.ts
  apps/chain-indexer/src/reconcile/reconcile.service.ts
Due: none

fix(indexer): classify balance reason by the holder's own module role first
  apps/chain-indexer/src/pipeline/balance/reason-classifier.spec.ts
  apps/chain-indexer/src/pipeline/balance/reason-classifier.ts
Due: none

fix(indexer): chunk account existence lookup and document ledger
  apps/chain-indexer/README.md
  apps/chain-indexer/src/pipeline/balance/account-interner.service.spec.ts
  apps/chain-indexer/src/pipeline/balance/account-interner.service.ts
Due: none

refactor(indexer): compute each account's total once when sampling
  apps/chain-indexer/src/reconcile/reconcile.service.ts
Due: none

test(notification-channel): align channels e2e with alerts settings tabs
  apps/deploy-web/tests/ui/managed-wallet-notification-channels.spec.ts
  apps/deploy-web/tests/ui/pages/AlertsPage.ts
Due: deploy-web

test(notification-channel): reuse channels tab locator in page object
  apps/deploy-web/tests/ui/pages/AlertsPage.ts
Due: deploy-web

test(notification-channel): align channels e2e with alerts settings tabs (#3593)
  apps/deploy-web/tests/ui/managed-wallet-notification-channels.spec.ts
  apps/deploy-web/tests/ui/pages/AlertsPage.ts
Due: deploy-web

fix(alert): add vertical padding to alerts list status states
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
Due: deploy-web

fix(alert): add vertical padding to alerts list status states (#3594)
  apps/deploy-web/src/components/alerts/AlertsListView/AlertsListView.tsx
Due: deploy-web

fix(indexer): chunk balance baseline lookup under the bind-parameter limit
  apps/chain-indexer/src/pipeline/balance/balance-writer.service.spec.ts
  apps/chain-indexer/src/pipeline/balance/balance-writer.service.ts
Due: none

refactor(indexer): validate RECONCILE_SAMPLE_SIZE through the env schema
  apps/chain-indexer/src/config/env.config.spec.ts
  apps/chain-indexer/src/config/env.config.ts
  apps/chain-indexer/src/reconcile/reconcile.ts
Due: none

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
