Repository akash-network/console: changes, and which Codecov flags are due for each by the changed paths.
All: api, deploy-web, indexer, notifications, provider-console, provider-proxy, stats-web

fix(provider-inventory): bound postgres queries with server-side timeouts (#3936)
  apps/provider-inventory/src/config/env.config.ts
  apps/provider-inventory/src/providers/postgres.provider.spec.ts
  apps/provider-inventory/src/providers/postgres.provider.ts
Due: none

fix(auth): stop reporting an unsolved captcha as a wedged challenge
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.tsx
  apps/deploy-web/src/components/auth/PasswordAuth/PasswordAuth.tsx
  apps/deploy-web/src/components/shared/RemoteApiError/RemoteApiError.spec.tsx
  apps/deploy-web/src/components/shared/RemoteApiError/RemoteApiError.tsx
  apps/deploy-web/src/components/turnstile/CaptchaChallengeError.spec.ts
  apps/deploy-web/src/components/turnstile/CaptchaChallengeError.ts
  apps/deploy-web/src/components/turnstile/Turnstile.spec.tsx
  apps/deploy-web/src/components/turnstile/Turnstile.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

fix(deployment): keep the unreachable-provider sweeps running past one stale outage record (#3938)
  apps/api/src/deployment/services/provider-outages-http/provider-outages-http.service.spec.ts
  apps/api/src/deployment/services/provider-outages-http/provider-outages-http.service.ts
Due: api

fix(auth): take the captcha overlay down when the challenge deadline passes
  apps/deploy-web/src/components/turnstile/CaptchaChallengeError.ts
  apps/deploy-web/src/components/turnstile/Turnstile.spec.tsx
  apps/deploy-web/src/components/turnstile/Turnstile.tsx
Due: deploy-web

fix(auth): keep a settled challenge from reporting itself later
  apps/deploy-web/src/components/turnstile/Turnstile.spec.tsx
  apps/deploy-web/src/components/turnstile/Turnstile.tsx
Due: deploy-web

fix(auth): stop reporting an unsolved captcha as a wedged challenge (#3940)
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.tsx
  apps/deploy-web/src/components/auth/EmailCodeVerify/EmailCodeVerify.tsx
  apps/deploy-web/src/components/auth/PasswordAuth/PasswordAuth.tsx
  apps/deploy-web/src/components/shared/RemoteApiError/RemoteApiError.spec.tsx
  apps/deploy-web/src/components/shared/RemoteApiError/RemoteApiError.tsx
  apps/deploy-web/src/components/turnstile/CaptchaChallengeError.spec.ts
  apps/deploy-web/src/components/turnstile/CaptchaChallengeError.ts
  apps/deploy-web/src/components/turnstile/Turnstile.spec.tsx
  apps/deploy-web/src/components/turnstile/Turnstile.tsx
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

fix(indexer): give the planner real distinct counts for provider snapshot join keys (#3836)
  apps/indexer/drizzle/0011_fix_provider_snapshot_join_key_statistics.sql
  apps/indexer/drizzle/meta/_journal.json
Due: indexer

fix(auth): reject every domain shape a blocked-domain lookup could not match
  apps/api/drizzle/0054_blocked_email_domains.sql
  apps/api/drizzle/meta/0054_snapshot.json
  apps/api/src/workload-abuse/lib/email-domain/email-domain.ts
  apps/api/src/workload-abuse/model-schemas/blocked-email-domain/blocked-email-domain.schema.ts
  apps/api/src/workload-abuse/repositories/blocked-email-domain/blocked-email-domain.repository.integration.ts
Due: api

fix(auth): apply the ability filter to the blocked-domain lookup
  apps/api/src/workload-abuse/repositories/blocked-email-domain/blocked-email-domain.repository.ts
Due: api

refactor(auth): name the POSIX literal the domain check matches against
  apps/api/drizzle/meta/0054_snapshot.json
  apps/api/src/workload-abuse/model-schemas/blocked-email-domain/blocked-email-domain.schema.ts
Due: api

fix(auth): count blocked-domain lookup failures, not just log them
  apps/api/src/workload-abuse/services/blocked-email-domain/blocked-email-domain.service.spec.ts
  apps/api/src/workload-abuse/services/blocked-email-domain/blocked-email-domain.service.ts
  apps/api/src/workload-abuse/services/workload-abuse-instrumentation/workload-abuse-instrumentation.service.ts
Due: api

feat(auth): refuse accounts and trials from blocked email domains (#3932)
  apps/api/drizzle/0054_blocked_email_domains.sql
  apps/api/drizzle/meta/0054_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/auth/controllers/auth/auth.controller.spec.ts
  apps/api/src/auth/controllers/auth/auth.controller.ts
  apps/api/src/auth/lib/account-unavailable/account-unavailable.ts
  apps/api/src/billing/services/activate-trial/trial-activation-instrumentation.service.spec.ts
  apps/api/src/billing/services/activate-trial/trial-activation-instrumentation.service.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.spec.ts
  apps/api/src/billing/services/wallet-initializer/wallet-initializer.service.ts
  apps/api/src/core/services/feature-flags/feature-flags.ts
  apps/api/src/user/services/user/user.service.integration.ts
  apps/api/src/user/services/user/user.service.spec.ts
  apps/api/src/user/services/user/user.service.ts
  apps/api/src/workload-abuse/config/env.config.ts
  apps/api/src/workload-abuse/lib/email-domain/email-domain.spec.ts
  apps/api/src/workload-abuse/lib/email-domain/email-domain.ts
  apps/api/src/workload-abuse/lib/email-domain/public-email-providers.spec.ts
  apps/api/src/workload-abuse/lib/email-domain/public-email-providers.ts
  apps/api/src/workload-abuse/model-schemas/blocked-email-domain/blocked-email-domain.schema.ts
  apps/api/src/workload-abuse/model-schemas/index.ts
  apps/api/src/workload-abuse/repositories/blocked-email-domain/blocked-email-domain.repository.integration.ts
  apps/api/src/workload-abuse/repositories/blocked-email-domain/blocked-email-domain.repository.ts
  apps/api/src/workload-abuse/services/blocked-email-domain/blocked-email-domain.service.spec.ts
  apps/api/src/workload-abuse/services/blocked-email-domain/blocked-email-domain.service.ts
  apps/api/src/workload-abuse/services/workload-abuse-instrumentation/workload-abuse-instrumentation.service.ts
  apps/api/test/seeders/blocked-email-domain.seeder.ts
Due: api

fix(auth): make the domain block of a wiped wallet durable
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/workload-abuse/services/block-email-domain-of-wallet/block-email-domain-of-wallet.handler.spec.ts
  apps/api/src/workload-abuse/services/block-email-domain-of-wallet/block-email-domain-of-wallet.handler.ts
  apps/api/src/workload-abuse/services/email-domain-block/email-domain-block.service.spec.ts
  apps/api/src/workload-abuse/services/email-domain-block/email-domain-block.service.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.integration.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.spec.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.ts
  apps/api/src/workload-abuse/services/lock-blocked-domain-wallet/lock-blocked-domain-wallet.handler.spec.ts
  apps/api/src/workload-abuse/services/lock-blocked-domain-wallet/lock-blocked-domain-wallet.handler.ts
  apps/api/src/workload-abuse/services/workload-abuse-instrumentation/workload-abuse-instrumentation.service.ts
Due: api

feat(auth): block the email domain of a wallet caught mining
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.integration.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.integration.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/user/repositories/user/user.repository.integration.ts
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/src/workload-abuse/services/email-domain-block/email-domain-block.service.spec.ts
  apps/api/src/workload-abuse/services/email-domain-block/email-domain-block.service.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.spec.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.ts
  apps/api/src/workload-abuse/services/lock-blocked-domain-wallet/lock-blocked-domain-wallet.handler.spec.ts
  apps/api/src/workload-abuse/services/lock-blocked-domain-wallet/lock-blocked-domain-wallet.handler.ts
  apps/api/src/workload-abuse/services/trial-abuse-enforcement/trial-abuse-enforcement.service.spec.ts
  apps/api/src/workload-abuse/services/trial-abuse-enforcement/trial-abuse-enforcement.service.ts
  apps/api/src/workload-abuse/services/workload-abuse-instrumentation/workload-abuse-instrumentation.service.spec.ts
  apps/api/src/workload-abuse/services/workload-abuse-instrumentation/workload-abuse-instrumentation.service.ts
Due: api

fix(auth): close the gaps a domain block could slip through
  apps/api/src/user/repositories/user/user.repository.integration.ts
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/src/workload-abuse/services/email-domain-block/email-domain-block.service.spec.ts
  apps/api/src/workload-abuse/services/email-domain-block/email-domain-block.service.ts
  apps/api/src/workload-abuse/services/lock-blocked-domain-wallet/lock-blocked-domain-wallet.handler.spec.ts
  apps/api/src/workload-abuse/services/lock-blocked-domain-wallet/lock-blocked-domain-wallet.handler.ts
Due: api

refactor(auth): collapse the two docblocks this branch grew past one line
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/src/workload-abuse/services/email-domain-block/email-domain-block.service.ts
Due: api

fix(auth): alarm on a truncated sibling sweep, not on a full one
  apps/api/src/workload-abuse/services/email-domain-block/email-domain-block.service.spec.ts
  apps/api/src/workload-abuse/services/email-domain-block/email-domain-block.service.ts
Due: api

feat(auth): block the email domain of a wallet caught mining (#3933)
  apps/api/src/app/providers/jobs.provider.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.integration.ts
  apps/api/src/billing/repositories/stripe-transaction/stripe-transaction.repository.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.integration.ts
  apps/api/src/billing/repositories/user-wallet/user-wallet.repository.ts
  apps/api/src/user/repositories/user/user.repository.integration.ts
  apps/api/src/user/repositories/user/user.repository.ts
  apps/api/src/workload-abuse/services/block-email-domain-of-wallet/block-email-domain-of-wallet.handler.spec.ts
  apps/api/src/workload-abuse/services/block-email-domain-of-wallet/block-email-domain-of-wallet.handler.ts
  apps/api/src/workload-abuse/services/email-domain-block/email-domain-block.service.spec.ts
  apps/api/src/workload-abuse/services/email-domain-block/email-domain-block.service.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.integration.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.spec.ts
  apps/api/src/workload-abuse/services/enforce-trial-abuse/enforce-trial-abuse.handler.ts
  apps/api/src/workload-abuse/services/lock-blocked-domain-wallet/lock-blocked-domain-wallet.handler.spec.ts
  apps/api/src/workload-abuse/services/lock-blocked-domain-wallet/lock-blocked-domain-wallet.handler.ts
  apps/api/src/workload-abuse/services/trial-abuse-enforcement/trial-abuse-enforcement.service.spec.ts
  apps/api/src/workload-abuse/services/trial-abuse-enforcement/trial-abuse-enforcement.service.ts
  apps/api/src/workload-abuse/services/workload-abuse-instrumentation/workload-abuse-instrumentation.service.spec.ts
  apps/api/src/workload-abuse/services/workload-abuse-instrumentation/workload-abuse-instrumentation.service.ts
Due: api

fix(analytics): stop unverified login sessions from initializing amplitude
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.spec.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.tsx
  apps/deploy-web/src/components/auth/PasswordAuth/PasswordAuth.spec.tsx
  apps/deploy-web/src/components/auth/PasswordAuth/PasswordAuth.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.spec.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.tsx
  apps/deploy-web/src/components/turnstile/Turnstile.spec.tsx
  apps/deploy-web/src/components/turnstile/Turnstile.tsx
  apps/deploy-web/src/services/analytics/analytics.service.spec.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

refactor(analytics): keep the init comment to the constraint
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

fix(deployment): close managed deployments once every lease on them has closed (#3939)
  apps/api/src/deployment/repositories/deployment/deployment.repository.integration.ts
  apps/api/src/deployment/repositories/deployment/deployment.repository.ts
  apps/api/src/deployment/services/stale-managed-deployments-cleaner/stale-managed-deployments-cleaner.service.spec.ts
  apps/api/src/deployment/services/stale-managed-deployments-cleaner/stale-managed-deployments-cleaner.service.ts
Due: api

fix(analytics): keep the first-touch referrer from being overwritten on a later device
  apps/deploy-web/src/services/analytics/analytics.service.spec.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

fix(auth): keep the hidden internal route out of the internal openapi doc
  apps/api/src/core/lib/create-route/create-route.ts
  apps/api/src/core/services/openapi-docs/openapi-docs.service.ts
  apps/api/src/routers/internalRouter.ts
  apps/api/test/functional/email-domain-check.spec.ts
Due: api

fix(auth): give the email-domain check the API's own error path
  apps/api/src/middlewares/internal-token/internal-token.middleware.spec.ts
  apps/api/src/routers/internalRouter.ts
  apps/api/src/routes/internal/email-domain-check.ts
  apps/api/src/routes/internal/index.ts
  apps/api/test/functional/email-domain-check.spec.ts
Due: api

feat(auth): add an internal email domain check endpoint
  apps/api/env/.env.functional.test
  apps/api/env/.env.sample
  apps/api/src/core/config/env.config.ts
  apps/api/src/middlewares/internal-token/internal-token.middleware.spec.ts
  apps/api/src/middlewares/internal-token/internal-token.middleware.ts
  apps/api/src/routes/internal/email-domain-check.ts
  apps/api/src/routes/internal/index.ts
  apps/api/test/functional/email-domain-check.spec.ts
  apps/api/test/isolated-unit-tests.json
Due: api

refactor(auth): keep endpoint comments to the constraint, not the rationale
  apps/api/src/core/config/env.config.ts
  apps/api/src/middlewares/internal-token/internal-token.middleware.spec.ts
  apps/api/src/middlewares/internal-token/internal-token.middleware.ts
  apps/api/src/routes/internal/email-domain-check.ts
Due: api

test(analytics): pin the login submit event and the referrer guards
  apps/deploy-web/src/components/auth/PasswordAuth/PasswordAuth.spec.tsx
  apps/deploy-web/src/services/analytics/analytics.service.spec.ts
Due: deploy-web

fix(analytics): record a direct visit so an identity provider cannot claim the first touch
  apps/deploy-web/src/services/analytics/analytics.service.spec.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

feat(auth): add an internal email domain check endpoint (#3934)
  apps/api/env/.env.functional.test
  apps/api/env/.env.sample
  apps/api/src/core/config/env.config.ts
  apps/api/src/core/lib/create-route/create-route.ts
  apps/api/src/core/services/openapi-docs/openapi-docs.service.ts
  apps/api/src/middlewares/internal-token/internal-token.middleware.spec.ts
  apps/api/src/middlewares/internal-token/internal-token.middleware.ts
  apps/api/src/routers/internalRouter.ts
  apps/api/src/routes/internal/email-domain-check.ts
  apps/api/src/routes/internal/index.ts
  apps/api/test/functional/email-domain-check.spec.ts
  apps/api/test/isolated-unit-tests.json
Due: api

fix(analytics): keep a refused storage write from breaking analytics construction
  apps/deploy-web/src/services/analytics/analytics.service.spec.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

fix(analytics): stop unverified login sessions from initializing amplitude (#3941)
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.spec.tsx
  apps/deploy-web/src/components/auth/EmailCodeStart/EmailCodeStart.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.spec.tsx
  apps/deploy-web/src/components/auth/OAuthRow/OAuthRow.tsx
  apps/deploy-web/src/components/auth/PasswordAuth/PasswordAuth.spec.tsx
  apps/deploy-web/src/components/auth/PasswordAuth/PasswordAuth.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.spec.tsx
  apps/deploy-web/src/components/auth/PasswordlessAuth/PasswordlessAuth.tsx
  apps/deploy-web/src/components/turnstile/Turnstile.spec.tsx
  apps/deploy-web/src/components/turnstile/Turnstile.tsx
  apps/deploy-web/src/services/analytics/analytics.service.spec.ts
  apps/deploy-web/src/services/analytics/analytics.service.ts
Due: deploy-web

refactor(deployment): move the deployments list logic into a model hook and cover it
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentActionsMenu.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentEndpoints.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/ReclamationCountdown.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
  apps/deploy-web/src/utils/reclamationUtils.spec.ts
Due: deploy-web

feat(deployment): serve a redesigned deployments list behind a flag
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentDetail/DeploymentStatusBadge.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentActionsMenu.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentActionsMenu.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentEndpoints.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentEndpoints.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentSpecSummary.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsCollection.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/ReclamationCountdown.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/ReclamationCountdown.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.ts
  apps/deploy-web/src/components/deployments/DeploymentsListPage.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsListPage.tsx
  apps/deploy-web/src/components/deployments/ReclamationBanner/ReclamationBanner.tsx
  apps/deploy-web/src/pages/deployments/index.tsx
  apps/deploy-web/src/store/deploymentsViewStore.ts
  apps/deploy-web/src/types/feature-flags.ts
  apps/deploy-web/src/utils/reclamationUtils.ts
Due: deploy-web

refactor(deployment): let CSS drive the list's disclosure and hover states
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentCard.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentEndpoints.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentRow.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
Due: deploy-web

fix(deployment): pad the deployments search icon off the input border
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
Due: deploy-web

fix(deployment): keep New deployment reachable when a search matches nothing
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
Due: deploy-web

fix(deployment): let the archive report its own failed query
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
Due: deploy-web

fix(deployment): keep the archive failure on screen through its retry
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentArchive.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
Due: deploy-web

fix(deployment): close the gaps review found in the redesigned list
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/DeploymentsList.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/ReclamationCountdown.spec.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/ReclamationCountdown.tsx
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentReachability.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.spec.ts
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
Due: deploy-web

fix(deployment): default the deployments page size to one the selector offers
  apps/deploy-web/src/components/deployments/DeploymentsList/useDeploymentsListModel.ts
Due: deploy-web

Path conditions:
  api: any of: apps/api/
  deploy-web: any of: apps/deploy-web/
  indexer: any of: apps/indexer/
  notifications: any of: apps/notifications/
  provider-console: any of: apps/provider-console/
  provider-proxy: any of: apps/provider-proxy/
  stats-web: any of: apps/stats-web/
